workflows/Alba _ Leer Mail P1--L4t1UjpMrOodQ9nB.json
{"updatedAt":"2026-01-05T21:36:22.753Z","createdAt":"2026-01-05T04:44:26.759Z","id":"L4t1UjpMrOodQ9nB","name":"Alba | Leer Mail P1","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1600,352],"id":"d27a5e24-d45c-4db8-b569-019591675023","name":"Loop Over Items"},{"parameters":{"promptType":"define","text":"=Correo:\nid: {{ $json.id }}\nAsunto: {{ $json.Subject }}\nRemitente: {{ $json.From }}\nCuerpo: {{ $json.snippet }}\n","options":{"systemMessage":"=Eres un clasificador de correos. Solo puedes responder con un JSON válido.\n\nTu tarea es analizar el contenido del correo y devolver una de las siguientes categorías en el campo \"estatus\":\n- Mail no válido\n- Desuscribir\n- Lead Calificado\n- Mail interno\n- Vacaciones\n- Otro\n\n### Definiciones de cada categoría:\n- **Mail no válido (mail):** Correos automáticos que indican errores como rebote, dirección inexistente o buzón lleno.\n- **Desuscribir:** Correos escritos por humanos solicitando dejar de recibir comunicaciones.\n- **Lead Calificado:** Correos escritos por humanos interesados en recibir más información sobre nuestros servicios.\n- **Mail interno:** Correos generados desde nuestra propia organización o entre colegas.\n- **Vacaciones:** Respuestas automáticas que indican que la persona está fuera por vacaciones.\n- **Otro:** Cualquier mensaje que no encaje en las categorías anteriores.\n\n### Extracción del campo \"mail\":\n- Utiliza siempre regex para buscar correos electrónicos (formato *@*).\n- Si la categoría es **\"Mail no válido\"**, identifica en el cuerpo el correo destinatario que causó el error. Si no hay ninguno, usa el remitente.\n- Para **\"Desuscribir\"**, **\"Lead Calificado\"**, **\"Mail interno\"** y **\"Otro\"**, utiliza el remitente original del mensaje.\n\n### Formato de salida requerido:\n```json\n{\n  \"estatus\": \"Categoría\",\n  \"mail\": \"Correo detectado\",\n  \"resumen\": \"Resumen breve del contenido del correo\",\n  \"id\": {{ $json.id }}\n}\n\nPiensa cuidadosamente antes de responder. Verifica que:\n1. La categoría es correcta según el contenido.\n2. El campo \"mail\" corresponde a la regla de su categoría.\n3. El resumen es breve pero informativo."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-1136,368],"id":"518927e5-1eaf-487c-b341-6cb46fc0df60","name":"AI Agent","onError":"continueRegularOutput"},{"parameters":{"model":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"gpt-3.5-turbo"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1136,576],"id":"4530f309-cc9f-4a16-8494-d355c45658fd","name":"OpenAI Chat Model"},{"parameters":{"jsCode":"try {\n  const raw = $json.output.trim();\n  const cleaned = raw.replace(/^```json\\s*|\\s*```$/g, '');\n  const data = JSON.parse(cleaned);\n\n  return [\n    {\n      estatus: data.estatus,\n      mail: data.mail,\n      resumen: data.resumen,\n      id: data.id\n    }\n  ];\n} catch (error) {\n  return [\n    {\n      error: 'Error al procesar el JSON de la IA',\n      details: error.message,\n      rawOutput: $json.output\n    }\n  ];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-784,368],"id":"be6a6625-887c-45b8-a208-f719a40ad9c3","name":"codeVariables","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"eaca5b91-63d7-4f09-b6bb-3a21ba977e7c","name":"estatus","value":"={{ $json.estatus }}","type":"string"},{"id":"b6f4ebdd-9594-4b29-8107-0b6a98ce1f4c","name":"mail","value":"={{ $json.mail && $json.mail.toLowerCase() }}","type":"string"},{"id":"03b041dc-60ef-4690-b8b9-cf45c2de493f","name":"resumen","value":"={{ $json.resumen }}","type":"string"},{"id":"58d58bbd-7ce2-42d9-ace8-32232f3d18a3","name":"id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-560,368],"id":"2e31cd67-7c8e-4a7f-8357-8714386f66b5","name":"variables"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.estatus }}","rightValue":"Mail no válido","operator":{"type":"string","operation":"equals"},"id":"7cfe0b36-e2cf-4019-aa99-b0622da0e5c1"}],"combinator":"and"},"renameOutput":true,"outputKey":"Mail no válido"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e64f2748-2c75-49d4-a54c-60aafa878260","leftValue":"={{ $json.estatus }}","rightValue":"Desuscribir","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Desuscribir"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1b2a9a6a-1502-443d-9607-919e72f7c064","leftValue":"={{ $json.estatus }}","rightValue":"Vacaciones","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Vacaciones"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3f8ef9f8-f020-456d-83ca-814293598145","leftValue":"={{ $json.estatus }}","rightValue":"Otro","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Otro"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8f41a560-3d36-480c-9200-2e5762c73ad9","leftValue":"={{ $json.estatus }}","rightValue":"Lead Calificado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Lead Calificado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aacb85b3-87ab-4289-834f-4e5dad3ea0ba","leftValue":"={{ $json.estatus }}","rightValue":"Mail interno","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mail interno"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-336,304],"id":"a1ff07b1-8697-4c8f-908f-9f1bfb731893","name":"Estatus"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"masterVariables\"].json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"masterVariables\"].json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.mail }}","ESTATUS":"={{ $json.estatus }}","ACTUALIZACIÓN":"={{ $now.toISO() }}"},"matchingColumns":["EMAIL"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"},{"name":"Mail no válido","value":"Mail no válido"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Lead Calificado","value":"Lead Calificado"}],"readOnly":false,"removed":false},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[0,0],"id":"60f95c18-581f-43a2-85bc-6b58c70823a6","name":"mailNoValido","onError":"continueRegularOutput"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"masterVariables\"].json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"masterVariables\"].json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.mail }}","ESTATUS":"={{ $json.estatus }}","ACTUALIZACIÓN":"={{ $now.toISO() }}"},"matchingColumns":["EMAIL"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"},{"name":"Mail no válido","value":"Mail no válido"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Lead Calificado","value":"Lead Calificado"}],"readOnly":false,"removed":false},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[0,176],"id":"def3dd7c-c48e-4b88-97f3-e410d979f42d","name":"Desuscribir","onError":"continueRegularOutput"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"masterVariables\"].json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"masterVariables\"].json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.mail }}","ESTATUS":"={{ $json.estatus }}","ACTUALIZACIÓN":"={{ $now.toISO() }}"},"matchingColumns":["EMAIL"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"},{"name":"Mail no válido","value":"Mail no válido"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Lead Calificado","value":"Lead Calificado"}],"readOnly":false,"removed":false},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[0,704],"id":"8da23355-3668-4fa9-a676-6117f7d34452","name":"Lead Calificado","onError":"continueRegularOutput"},{"parameters":{"chatId":"1019249029","text":"={{ $node[\"masterVariables\"].json.cliente }} Recibimos un mail que no sabemos cómo clasificar:\nSender: {{ $('variables').item.json.mail }}\nMensaje: {{ $('variables').item.json.resumen }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[448,544],"id":"186a58ce-c372-4be2-ae86-0a9366262025","name":"Otro","webhookId":"10e0e451-46e3-4c5c-9d70-d105ad4fc675"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2064,176],"id":"4525361e-80f9-45a7-98e8-51c18b98853f","name":"When clicking ‘Execute workflow’"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[736,880],"id":"98554518-c712-4df9-ace3-8da62a5fdecf","name":"Wait","webhookId":"f8ae7911-3d77-4a57-a915-300b711874e8"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"masterVariables\"].json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"masterVariables\"].json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.mail }}","ESTATUS":"={{ $json.estatus }}","ACTUALIZACIÓN":"={{ $now.toISO() }}"},"matchingColumns":["EMAIL"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"},{"name":"Mail no válido","value":"Mail no válido"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Lead Calificado","value":"Lead Calificado"}],"readOnly":false,"removed":false},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[0,352],"id":"7856ad3d-fec8-4708-957b-ca4764907058","name":"Vacaciones","onError":"continueRegularOutput"},{"parameters":{"chatId":"1019249029","text":"=✅​ {{ $node[\"masterVariables\"].json.cliente }} Tenemos un Lead Calificado\nSender: {{ $('codeVariables').item.json.mail }}\nMensaje: {{ $('codeVariables').item.json.resumen }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[448,704],"id":"1e4b1097-92cf-4612-af4d-8a07de49514e","name":"✅​ Lead Calificado","webhookId":"9bf33b3e-fe6d-4eb0-888b-f58dade73bf5"},{"parameters":{"assignments":{"assignments":[{"id":"6ffedc78-981e-426d-9bff-5f3eadc3c091","name":"cliente","value":"Alba Industial","type":"string"},{"id":"65e10390-e78f-46a8-84a3-1879daed9aec","name":"airtableBase","value":"appLN5teUrplheucQ","type":"string"},{"id":"f533255f-7d42-4516-b5a5-7c20198075ae","name":"leadsReach","value":"tblIysyWPDEFAN8Oq","type":"string"},{"id":"960d38ab-1c82-4734-9739-a298b6baa631","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"faaaba19-4eaa-445d-b5a5-1f51c3be529c","name":"From","value":"={{ $json.From }}","type":"string"},{"id":"83008982-2c8e-4442-b5aa-c6f9a58e48ef","name":"Subject","value":"={{ $json.Subject }}","type":"string"},{"id":"411f76fc-ceca-4625-9be7-40416b7d3e2e","name":"snippet","value":"={{ $json.snippet }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1344,368],"id":"18a805ff-2cc6-44dc-a755-b70b84506b16","name":"masterVariables"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{"q":"=label:inbox is:unread -label:\"Lead Calificado\" -label:\"Otro\" -label:\"Mail interno\""}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.3,"position":[-1824,352],"id":"14c5af34-9c20-464d-9bfc-8e8b6d590b46","name":"Gmail Trigger"},{"parameters":{"operation":"getAll","returnAll":true,"filters":{"q":"=label:inbox is:unread -label:\"Lead Calificado\" -label:\"Otro\" -label:\"Mail interno\""}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1824,176],"id":"746c0504-fb58-426a-b66b-7f7d45206ec3","name":"getMail","webhookId":"6560c9a0-49f8-4fbe-9844-5d0f38db9d9b"},{"parameters":{"operation":"delete","messageId":"={{ $node[\"variables\"].json.id }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[336,176],"id":"d747bd5b-421f-4082-a009-a24f65cfc235","name":"Delete a message","webhookId":"7415b6fd-a631-4a99-a59c-ae18fae299d4"},{"parameters":{"content":"## VARIABLES","height":240,"width":192,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-1392,304],"typeVersion":1,"id":"3404e2f8-386a-42c6-b6cf-9b8d3f37a8f4","name":"Sticky Note12"},{"parameters":{"content":"## Clasificación del correo","height":512,"width":1008},"type":"n8n-nodes-base.stickyNote","position":[-1424,224],"typeVersion":1,"id":"4651de61-5504-47c9-9f00-b8889021a4b5","name":"Sticky Note"},{"parameters":{"operation":"addLabels","messageId":"={{ $node[\"variables\"].json.id }}","labelIds":["Label_5361768001532070802"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[0,544],"id":"a386923f-80da-4b71-a08f-2c2cda8bff95","name":"Label: Otro","webhookId":"b6f3e353-80b6-4f9f-833a-22f922a636e5"},{"parameters":{"operation":"addLabels","messageId":"={{ $node[\"variables\"].json.id }}","labelIds":["Label_6689148916561815332","IMPORTANT"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[208,704],"id":"5033f8db-f650-4494-9003-2abcf81d8112","name":"Label: Lead Calificado","webhookId":"bcd5ff9a-db1d-457f-8f63-ac52e7b910c6"},{"parameters":{"operation":"addLabels","messageId":"={{ $node[\"Loop Over Items\"].json.id }}","labelIds":["Label_7377916036299170637"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[0,880],"id":"b633c067-3d9c-4127-9655-c440d6ae8da8","name":"Label: Interno","webhookId":"6a2271ce-4486-458f-b1f0-2e6bf0be23e3"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"masterVariables","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"codeVariables","type":"main","index":0}]]},"codeVariables":{"main":[[{"node":"variables","type":"main","index":0}]]},"variables":{"main":[[{"node":"Estatus","type":"main","index":0}]]},"Estatus":{"main":[[{"node":"mailNoValido","type":"main","index":0}],[{"node":"Desuscribir","type":"main","index":0}],[{"node":"Vacaciones","type":"main","index":0}],[{"node":"Label: Otro","type":"main","index":0}],[{"node":"Lead Calificado","type":"main","index":0}],[{"node":"Label: Interno","type":"main","index":0}]]},"mailNoValido":{"main":[[{"node":"Delete a message","type":"main","index":0}]]},"Desuscribir":{"main":[[{"node":"Delete a message","type":"main","index":0}]]},"Lead Calificado":{"main":[[{"node":"Label: Lead Calificado","type":"main","index":0}]]},"Otro":{"main":[[{"node":"Wait","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"getMail","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Vacaciones":{"main":[[{"node":"Delete a message","type":"main","index":0}]]},"✅​ Lead Calificado":{"main":[[{"node":"Wait","type":"main","index":0}]]},"masterVariables":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Gmail Trigger":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"getMail":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Delete a message":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Label: Otro":{"main":[[{"node":"Otro","type":"main","index":0}]]},"Label: Lead Calificado":{"main":[[{"node":"✅​ Lead Calificado","type":"main","index":0}]]},"Label: Interno":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"558fc2a3-93c2-4e62-bbcb-2e37f7262d39","activeVersionId":null,"versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2026-01-05T04:44:26.765Z","createdAt":"2026-01-05T04:44:26.765Z","role":"workflow:owner","workflowId":"L4t1UjpMrOodQ9nB","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[{"updatedAt":"2026-01-05T04:44:20.809Z","createdAt":"2026-01-05T04:44:20.809Z","id":"j1mm1WBrRQcYk9z1","name":"Mailing"}],"activeVersion":null}