workflows/Alba _ Schedule Redes Sociales--AR5RWEavc22GLcXj.json
{"updatedAt":"2026-01-10T01:19:24.543Z","createdAt":"2026-01-05T04:43:23.172Z","id":"AR5RWEavc22GLcXj","name":"Alba | Schedule Redes Sociales","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"45b8046a-146d-40cb-9574-90618f0e753e","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"248955f8-ef60-47f8-8c95-7a9aa116d097","name":"blotato_api","value":"blt_jdy+Xd5l1b0WiWMXbHX/xGNLtNAzCYEqsI+Wb7Zg2Zw=","type":"string"},{"id":"f6ba1bea-ce51-457c-a94d-4c2cb88fc11c","name":"instagram_id","value":"9775","type":"string"},{"id":"1642a4bf-dfdb-42e6-a006-b4fb2ca0df8f","name":"facebook_id","value":"8833","type":"string"},{"id":"054f2e38-a15d-4caf-ac0a-a6d5d63d7bb0","name":"facebook_page_id","value":"717943531407788","type":"string"},{"id":"da27a7b1-f704-4dd3-a5d2-6ffea786dad0","name":"linkedin_id","value":"4109","type":"string"},{"id":"ade08c6c-fd0d-4f95-b9e5-2b4ecf40b6c2","name":"linkedin_page_id","value":"106039808","type":"string"},{"id":"e9282159-d2a2-408c-9c8b-d8042eb30503","name":"Copy Instagram","value":"={{ $json['Copy Instagram'] }}","type":"string"},{"id":"7b73a058-c551-49fa-bad6-6fd8a89430a1","name":"Copy LinkedIn","value":"={{ $json['Copy LinkedIn'] }}","type":"string"},{"id":"1e720d78-441c-4f15-9bf1-e6bccaa33ff7","name":"Imagen","value":"={{ $json.Imagen }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-288,144],"id":"cd8ab77a-8990-4ce7-a3b7-43bc8c6310c7","name":"Variables"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json[\"Imagen\"].match(/(?:id=|\\/d\\/)([^\\/&?#]+)/)[1] }}","mode":"id"},"options":{"fileName":"imagen.png"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-64,144],"id":"1e9b3134-0fdf-485a-8bae-e34b00de7249","name":"descargarImagen","credentials":{"googleDriveOAuth2Api":{"id":"Sht78E6Qgvqib2u5","name":"KiroxON | Drive"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appLN5teUrplheucQ","mode":"list","cachedResultName":"Alba","cachedResultUrl":"https://airtable.com/appLN5teUrplheucQ"},"table":{"__rl":true,"value":"tblU6l8ToNLtUZZ1U","mode":"list","cachedResultName":"Redes Sociales","cachedResultUrl":"https://airtable.com/appLN5teUrplheucQ/tblU6l8ToNLtUZZ1U"},"filterByFormula":"={estatus} = \"Listo\"","returnAll":false,"limit":1,"options":{},"sort":{"property":[{"field":"ID"}]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-496,144],"id":"06e17acb-c060-4db6-a1f7-06a80d4d8050","name":"seleccionarPost","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[2,4],"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-928,144],"id":"5c2a9296-c848-4f6c-a90b-1c06883a6412","name":"Schedule Trigger"},{"parameters":{"jsCode":"const delayInMinutes = Math.floor(Math.random() * 20); // de 0 a 19 minutos\nreturn [\n  {\n    json: {\n      delay: delayInMinutes * 60 * 1000, // convertir a milisegundos\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-720,144],"id":"d512de9d-3e06-4cea-b52a-e44e15b54b41","name":"Code"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[896,112],"id":"3b9fd810-da0c-48fb-bb39-8e38c05f4591","name":"Merge"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appLN5teUrplheucQ","mode":"list","cachedResultName":"Alba","cachedResultUrl":"https://airtable.com/appLN5teUrplheucQ"},"table":{"__rl":true,"value":"tblU6l8ToNLtUZZ1U","mode":"list","cachedResultName":"Redes Sociales","cachedResultUrl":"https://airtable.com/appLN5teUrplheucQ/tblU6l8ToNLtUZZ1U"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('seleccionarPost').item.json.id }}","Estatus":"Publicado"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Tema","displayName":"Tema","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Formato","displayName":"Formato","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Imagen","value":"Imagen"},{"name":"Carrusel","value":"Carrusel"}],"readOnly":false,"removed":true},{"id":"Copy Instagram","displayName":"Copy Instagram","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Copy LinkedIn","displayName":"Copy LinkedIn","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Frase Imagen","displayName":"Frase Imagen","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Ideas gráfico","displayName":"Ideas gráfico","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Imagen","displayName":"Imagen","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"To do","value":"To do"},{"name":"Draft","value":"Draft"},{"name":"imagen","value":"imagen"},{"name":"Revision int","value":"Revision int"},{"name":"Rechazado","value":"Rechazado"},{"name":"Comentarios","value":"Comentarios"},{"name":"Listo","value":"Listo"},{"name":"Programado","value":"Programado"},{"name":"Publicado","value":"Publicado"}],"readOnly":false,"removed":false},{"id":"Comentarios","displayName":"Comentarios","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Adjunto","displayName":"Adjunto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1296,128],"id":"f9fae8f3-8418-4da0-90d1-acef4799b1d5","name":"Update record","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1712,368],"id":"ecea0529-253a-48bf-bffc-af40e3d22d60","name":"No Operation, do nothing1"},{"parameters":{"chatId":"1019249029","text":"=⚠️​ ALBA ⚠️​\nHubo un error al querer hacer la publicación de hoy publicar","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[896,368],"id":"d4d36325-febd-4e35-9034-cb7308b08e3f","name":"⚠️​","webhookId":"605c1197-da78-4e17-bb4a-9f9b5d43df1f","executeOnce":true,"credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[144,144],"id":"567d1664-155c-475a-916c-2c1668d63320","name":"Wait","webhookId":"7928fbe8-1343-4273-949a-47c0a7f60071"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1088,128],"id":"4b710b30-b4f9-4072-9592-c5ee3314afc9","name":"Wait1","webhookId":"ac48cad5-4f57-4e3b-b1a7-ca4d34ee9571"},{"parameters":{"chatId":"1019249029","text":"=✅​ ALBA ✅​\nSe realizó el poste correctamente","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1504,128],"id":"4ec45d70-f977-4dc9-81b2-875824042968","name":"✅​","webhookId":"605c1197-da78-4e17-bb4a-9f9b5d43df1f","executeOnce":true,"credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"resource":"media","useBinaryData":true},"type":"@blotato/n8n-nodes-blotato.blotato","typeVersion":2,"position":[304,144],"id":"0358d7c1-fb56-49a8-b6ce-00726ed38956","name":"Upload media","alwaysOutputData":true,"retryOnFail":true,"credentials":{"blotatoApi":{"id":"3lGaFzvzonqQzExb","name":"Blotato KiroxON"}},"onError":"continueErrorOutput"},{"parameters":{"platform":"facebook","accountId":{"__rl":true,"value":"8833","mode":"list","cachedResultName":"Paola Villela Larraza","cachedResultUrl":"https://backend.blotato.com/v2/accounts/8833"},"postContentText":"={{ $('Variables').item.json['Copy LinkedIn'] }}","postContentMediaUrls":"={{ $json.url }}","facebookPageId":{"__rl":true,"value":"717943531407788","mode":"list","cachedResultName":"Alba Industrial","cachedResultUrl":"https://backend.blotato.com/v2/accounts/8833/subaccounts/717943531407788"},"options":{}},"type":"@blotato/n8n-nodes-blotato.blotato","typeVersion":2,"position":[512,-16],"id":"5ee57914-e5c4-408d-8b92-9bc09f20deef","name":"Facebook","alwaysOutputData":true,"retryOnFail":true,"credentials":{"blotatoApi":{"id":"3lGaFzvzonqQzExb","name":"Blotato KiroxON"}},"onError":"continueErrorOutput"},{"parameters":{"accountId":{"__rl":true,"value":"9775","mode":"list","cachedResultName":"albaindustrial","cachedResultUrl":"https://backend.blotato.com/v2/accounts/9775"},"postContentText":"={{ $('Variables').item.json['Copy Instagram'] }}","postContentMediaUrls":"={{ $json.url }}","options":{}},"type":"@blotato/n8n-nodes-blotato.blotato","typeVersion":2,"position":[512,144],"id":"43db781a-0178-471b-8d78-070ba717d1de","name":"Instagram","alwaysOutputData":true,"retryOnFail":true,"credentials":{"blotatoApi":{"id":"3lGaFzvzonqQzExb","name":"Blotato KiroxON"}},"onError":"continueErrorOutput"},{"parameters":{"platform":"linkedin","accountId":{"__rl":true,"value":"4109","mode":"list","cachedResultName":"Paola Villela, MBA","cachedResultUrl":"https://backend.blotato.com/v2/accounts/4109"},"postContentText":"={{ $('Variables').item.json['Copy LinkedIn'] }}","postContentMediaUrls":"={{ $json.url }}","options":{"linkedinPageId":{"__rl":true,"value":"106039808","mode":"list","cachedResultName":"Alba Industrial","cachedResultUrl":"https://backend.blotato.com/v2/accounts/4109/subaccounts/106039808"}}},"type":"@blotato/n8n-nodes-blotato.blotato","typeVersion":2,"position":[512,304],"id":"f29b3f98-e15f-4fee-9f33-e73a1a5cc0b6","name":"LinkedIn","alwaysOutputData":true,"retryOnFail":true,"credentials":{"blotatoApi":{"id":"3lGaFzvzonqQzExb","name":"Blotato KiroxON"}},"onError":"continueErrorOutput"}],"connections":{"Variables":{"main":[[{"node":"descargarImagen","type":"main","index":0}]]},"descargarImagen":{"main":[[{"node":"Wait","type":"main","index":0}]]},"seleccionarPost":{"main":[[{"node":"Variables","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"seleccionarPost","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"⚠️​":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Upload media","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Update record","type":"main","index":0}]]},"Update record":{"main":[[{"node":"✅​","type":"main","index":0}]]},"✅​":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Upload media":{"main":[[{"node":"Facebook","type":"main","index":0},{"node":"Instagram","type":"main","index":0},{"node":"LinkedIn","type":"main","index":0}],[{"node":"⚠️​","type":"main","index":0}]]},"Facebook":{"main":[[{"node":"Merge","type":"main","index":0}],[{"node":"⚠️​","type":"main","index":0}]]},"LinkedIn":{"main":[[{"node":"Merge","type":"main","index":2}],[{"node":"⚠️​","type":"main","index":0}]]},"Instagram":{"main":[[{"node":"Merge","type":"main","index":1}],[{"node":"⚠️​","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"011c1bee-1879-442d-8e49-8769a0137327","activeVersionId":"36112125-d31d-4664-bc99-61f052fa3b68","versionCounter":10,"triggerCount":1,"shared":[{"updatedAt":"2026-01-05T04:43:23.181Z","createdAt":"2026-01-05T04:43:23.181Z","role":"workflow:owner","workflowId":"AR5RWEavc22GLcXj","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[{"updatedAt":"2026-01-05T04:42:50.078Z","createdAt":"2026-01-05T04:42:50.078Z","id":"4nBqsBTokTKjObU6","name":"LinkedIn"},{"updatedAt":"2026-01-05T04:42:50.081Z","createdAt":"2026-01-05T04:42:50.081Z","id":"9aodsnIvCjNqstok","name":"Instagram"},{"updatedAt":"2026-01-05T04:42:50.080Z","createdAt":"2026-01-05T04:42:50.080Z","id":"WoZWCKdRNB9sNHTT","name":"Redes Sociales"}],"activeVersion":{"updatedAt":"2026-01-10T01:18:38.000Z","createdAt":"2026-01-10T01:18:28.031Z","versionId":"36112125-d31d-4664-bc99-61f052fa3b68","workflowId":"AR5RWEavc22GLcXj","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"45b8046a-146d-40cb-9574-90618f0e753e","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"248955f8-ef60-47f8-8c95-7a9aa116d097","name":"blotato_api","value":"blt_jdy+Xd5l1b0WiWMXbHX/xGNLtNAzCYEqsI+Wb7Zg2Zw=","type":"string"},{"id":"f6ba1bea-ce51-457c-a94d-4c2cb88fc11c","name":"instagram_id","value":"9775","type":"string"},{"id":"1642a4bf-dfdb-42e6-a006-b4fb2ca0df8f","name":"facebook_id","value":"8833","type":"string"},{"id":"054f2e38-a15d-4caf-ac0a-a6d5d63d7bb0","name":"facebook_page_id","value":"717943531407788","type":"string"},{"id":"da27a7b1-f704-4dd3-a5d2-6ffea786dad0","name":"linkedin_id","value":"4109","type":"string"},{"id":"ade08c6c-fd0d-4f95-b9e5-2b4ecf40b6c2","name":"linkedin_page_id","value":"106039808","type":"string"},{"id":"e9282159-d2a2-408c-9c8b-d8042eb30503","name":"Copy Instagram","value":"={{ $json['Copy Instagram'] }}","type":"string"},{"id":"7b73a058-c551-49fa-bad6-6fd8a89430a1","name":"Copy LinkedIn","value":"={{ $json['Copy LinkedIn'] }}","type":"string"},{"id":"1e720d78-441c-4f15-9bf1-e6bccaa33ff7","name":"Imagen","value":"={{ $json.Imagen }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-288,144],"id":"cd8ab77a-8990-4ce7-a3b7-43bc8c6310c7","name":"Variables"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json[\"Imagen\"].match(/(?:id=|\\/d\\/)([^\\/&?#]+)/)[1] }}","mode":"id"},"options":{"fileName":"imagen.png"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-64,144],"id":"1e9b3134-0fdf-485a-8bae-e34b00de7249","name":"descargarImagen","credentials":{"googleDriveOAuth2Api":{"id":"Sht78E6Qgvqib2u5","name":"KiroxON | Drive"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appLN5teUrplheucQ","mode":"list","cachedResultName":"Alba","cachedResultUrl":"https://airtable.com/appLN5teUrplheucQ"},"table":{"__rl":true,"value":"tblU6l8ToNLtUZZ1U","mode":"list","cachedResultName":"Redes Sociales","cachedResultUrl":"https://airtable.com/appLN5teUrplheucQ/tblU6l8ToNLtUZZ1U"},"filterByFormula":"={estatus} = \"Listo\"","returnAll":false,"limit":1,"options":{},"sort":{"property":[{"field":"ID"}]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-496,144],"id":"06e17acb-c060-4db6-a1f7-06a80d4d8050","name":"seleccionarPost","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[3],"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-928,144],"id":"5c2a9296-c848-4f6c-a90b-1c06883a6412","name":"Schedule Trigger"},{"parameters":{"jsCode":"const delayInMinutes = Math.floor(Math.random() * 20); // de 0 a 19 minutos\nreturn [\n  {\n    json: {\n      delay: delayInMinutes * 60 * 1000, // convertir a milisegundos\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-720,144],"id":"d512de9d-3e06-4cea-b52a-e44e15b54b41","name":"Code"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[880,48],"id":"3b9fd810-da0c-48fb-bb39-8e38c05f4591","name":"Merge"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appLN5teUrplheucQ","mode":"list","cachedResultName":"Alba","cachedResultUrl":"https://airtable.com/appLN5teUrplheucQ"},"table":{"__rl":true,"value":"tblU6l8ToNLtUZZ1U","mode":"list","cachedResultName":"Redes Sociales","cachedResultUrl":"https://airtable.com/appLN5teUrplheucQ/tblU6l8ToNLtUZZ1U"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('seleccionarPost').item.json.id }}","Estatus":"Publicado"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Tema","displayName":"Tema","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Formato","displayName":"Formato","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Imagen","value":"Imagen"},{"name":"Carrusel","value":"Carrusel"}],"readOnly":false,"removed":true},{"id":"Copy Instagram","displayName":"Copy Instagram","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Copy LinkedIn","displayName":"Copy LinkedIn","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Frase Imagen","displayName":"Frase Imagen","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Ideas gráfico","displayName":"Ideas gráfico","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Imagen","displayName":"Imagen","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"To do","value":"To do"},{"name":"Draft","value":"Draft"},{"name":"imagen","value":"imagen"},{"name":"Revision int","value":"Revision int"},{"name":"Rechazado","value":"Rechazado"},{"name":"Comentarios","value":"Comentarios"},{"name":"Listo","value":"Listo"},{"name":"Programado","value":"Programado"},{"name":"Publicado","value":"Publicado"}],"readOnly":false,"removed":false},{"id":"Comentarios","displayName":"Comentarios","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Adjunto","displayName":"Adjunto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1296,64],"id":"f9fae8f3-8418-4da0-90d1-acef4799b1d5","name":"Update record","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1712,368],"id":"ecea0529-253a-48bf-bffc-af40e3d22d60","name":"No Operation, do nothing1"},{"parameters":{"chatId":"1019249029","text":"=⚠️​ ALBA ⚠️​\nHubo un error al querer hacer la publicación de hoy publicar","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[896,368],"id":"d4d36325-febd-4e35-9034-cb7308b08e3f","name":"⚠️​","webhookId":"605c1197-da78-4e17-bb4a-9f9b5d43df1f","executeOnce":true,"credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[144,144],"id":"567d1664-155c-475a-916c-2c1668d63320","name":"Wait","webhookId":"7928fbe8-1343-4273-949a-47c0a7f60071"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1088,64],"id":"4b710b30-b4f9-4072-9592-c5ee3314afc9","name":"Wait1","webhookId":"ac48cad5-4f57-4e3b-b1a7-ca4d34ee9571"},{"parameters":{"chatId":"1019249029","text":"=✅​ ALBA ✅​\nSe realizó el poste correctamente","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1504,64],"id":"4ec45d70-f977-4dc9-81b2-875824042968","name":"✅​","webhookId":"605c1197-da78-4e17-bb4a-9f9b5d43df1f","executeOnce":true,"credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"resource":"media","useBinaryData":true},"type":"@blotato/n8n-nodes-blotato.blotato","typeVersion":2,"position":[304,144],"id":"0358d7c1-fb56-49a8-b6ce-00726ed38956","name":"Upload media","alwaysOutputData":true,"retryOnFail":true,"credentials":{"blotatoApi":{"id":"3lGaFzvzonqQzExb","name":"Blotato KiroxON"}},"onError":"continueErrorOutput"},{"parameters":{"platform":"facebook","accountId":{"__rl":true,"value":"8833","mode":"list","cachedResultName":"Paola Villela Larraza","cachedResultUrl":"https://backend.blotato.com/v2/accounts/8833"},"postContentText":"={{ $('Variables').item.json['Copy LinkedIn'] }}","postContentMediaUrls":"={{ $json.url }}","facebookPageId":{"__rl":true,"value":"717943531407788","mode":"list","cachedResultName":"Alba Industrial","cachedResultUrl":"https://backend.blotato.com/v2/accounts/8833/subaccounts/717943531407788"},"options":{}},"type":"@blotato/n8n-nodes-blotato.blotato","typeVersion":2,"position":[512,-16],"id":"5ee57914-e5c4-408d-8b92-9bc09f20deef","name":"Facebook","alwaysOutputData":true,"retryOnFail":true,"credentials":{"blotatoApi":{"id":"3lGaFzvzonqQzExb","name":"Blotato KiroxON"}},"onError":"continueErrorOutput"},{"parameters":{"accountId":{"__rl":true,"value":"9775","mode":"list","cachedResultName":"albaindustrial","cachedResultUrl":"https://backend.blotato.com/v2/accounts/9775"},"postContentText":"={{ $('Variables').item.json['Copy Instagram'] }}","postContentMediaUrls":"={{ $json.url }}","options":{}},"type":"@blotato/n8n-nodes-blotato.blotato","typeVersion":2,"position":[512,144],"id":"43db781a-0178-471b-8d78-070ba717d1de","name":"Instagram","alwaysOutputData":true,"retryOnFail":true,"credentials":{"blotatoApi":{"id":"3lGaFzvzonqQzExb","name":"Blotato KiroxON"}},"onError":"continueErrorOutput"},{"parameters":{"platform":"linkedin","accountId":{"__rl":true,"value":"4109","mode":"list","cachedResultName":"Paola Villela, MBA","cachedResultUrl":"https://backend.blotato.com/v2/accounts/4109"},"postContentText":"={{ $('Variables').item.json['Copy LinkedIn'] }}","postContentMediaUrls":"={{ $json.url }}","options":{"linkedinPageId":{"__rl":true,"value":"106039808","mode":"list","cachedResultName":"Alba Industrial","cachedResultUrl":"https://backend.blotato.com/v2/accounts/4109/subaccounts/106039808"}}},"type":"@blotato/n8n-nodes-blotato.blotato","typeVersion":2,"position":[512,304],"id":"f29b3f98-e15f-4fee-9f33-e73a1a5cc0b6","name":"LinkedIn","alwaysOutputData":true,"retryOnFail":true,"credentials":{"blotatoApi":{"id":"3lGaFzvzonqQzExb","name":"Blotato KiroxON"}},"onError":"continueErrorOutput"}],"connections":{"Variables":{"main":[[{"node":"descargarImagen","type":"main","index":0}]]},"descargarImagen":{"main":[[{"node":"Wait","type":"main","index":0}]]},"seleccionarPost":{"main":[[{"node":"Variables","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"seleccionarPost","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"⚠️​":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Upload media","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Update record","type":"main","index":0}]]},"Update record":{"main":[[{"node":"✅​","type":"main","index":0}]]},"✅​":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Upload media":{"main":[[{"node":"Facebook","type":"main","index":0},{"node":"Instagram","type":"main","index":0},{"node":"LinkedIn","type":"main","index":0}],[{"node":"⚠️​","type":"main","index":0}]]},"Facebook":{"main":[[{"node":"Merge","type":"main","index":0}],[{"node":"⚠️​","type":"main","index":0}]]},"LinkedIn":{"main":[[{"node":"Merge","type":"main","index":2}],[{"node":"⚠️​","type":"main","index":0}]]},"Instagram":{"main":[[{"node":"Merge","type":"main","index":1}],[{"node":"⚠️​","type":"main","index":0}]]}},"authors":"Admin KiroxOn","name":"Version 36112125","description":"","workflowPublishHistory":[{"createdAt":"2026-01-10T01:18:38.969Z","id":21,"workflowId":"AR5RWEavc22GLcXj","versionId":"36112125-d31d-4664-bc99-61f052fa3b68","event":"activated","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629"}]}}