workflows/Banco Imagenes Telegram P2--uSELqAFGNFJ4iNUl.json
{"updatedAt":"2026-01-05T21:51:42.711Z","createdAt":"2026-01-05T21:51:14.916Z","id":"uSELqAFGNFJ4iNUl","name":"Banco Imagenes Telegram P2","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1872,272],"id":"7977773c-12d1-4215-b99f-c4688d910c3e","name":"Telegram Trigger","webhookId":"e71987fa-63fa-46ec-b18d-7b2d71264290"},{"parameters":{"assignments":{"assignments":[{"id":"df477495-b2fb-4d08-b9a1-37aa32440f17","name":"user.chat.id","value":"={{ $json.message.chat.id }}","type":"number"},{"id":"1156f2e9-4af1-4366-a97a-ac9bfba2192a","name":"user.first_name","value":"={{ $json.message.from.first_name }}","type":"string"},{"id":"eac52961-028c-4836-a2fd-c491c34b053c","name":"user.last_name","value":"={{ $json.message.from.last_name }}","type":"string"},{"id":"3a6fb87d-2524-4c91-8ab9-ff220e4044ba","name":"message.timeStamp","value":"={{ $now .toDateTime().toISO()}}","type":"string"},{"id":"a50465c8-ce69-44cb-9972-38f23c0a2369","name":"message.id","value":"={{ $json.message.message_id }}","type":"number"},{"id":"ae277d68-56e7-42f9-899e-31441b489350","name":"message.content_type","value":"={{ $json.message.text ? 'texto':''}}{{ $json.message.photo ? 'imagen': ''}}{{ $json.message.voice ? 'audio': ''}}","type":"string"},{"id":"cb0fe99d-c121-4ccd-89cb-19d683dc084b","name":"=message.contet","value":"={{ $json.message.text || ''}}","type":"string"},{"id":"f97e052d-601d-40c2-845e-744b85eea7b6","name":"message.caption","value":"={{ $json.message.caption || '' }}","type":"string"},{"id":"16a2ac0a-0627-441e-b9c9-1b9f07d33051","name":"message.photo","value":"={{ $json.message.photo[3].file_id || '' }}","type":"string"},{"id":"79e5f22e-151c-479e-ba35-b204c74b30cd","name":"message.audio","value":"={{ $json.message.voice.file_id || '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1648,272],"id":"85917e37-434c-49ab-b6a3-4fb2446033da","name":"setFields"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[240,528],"id":"2ac78ae4-14a5-4b53-a5a8-85430b02531a","name":"Transcribe a recording"},{"parameters":{"content":"## Master Variables\n\nActualizar: \n- botAPI (Telegram)","height":304},"type":"n8n-nodes-base.stickyNote","position":[-1712,128],"typeVersion":1,"id":"80025129-334b-468a-99f1-aa332741569c","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"5e55f7d9-a0bc-4c6e-b685-fd81197680c6","name":"contenido.id","value":"={{ $('JSONparse').item.json.id }}","type":"number"},{"id":"71afecf6-108c-4bd1-acb1-a8d85a6f70b3","name":"contenido.tipo","value":"audio","type":"string"},{"id":"7d0eba27-b611-467b-9a02-6aa9a6a6e2ff","name":"contenido.mensaje","value":"=<audio>{{ $json.text }}</audio>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[432,528],"id":"00278d93-ec63-4d98-8195-82a9f22a133e","name":"audioContent"},{"parameters":{"assignments":{"assignments":[{"id":"931ae5b1-aad3-4a1e-b0c1-483c0aaf37cc","name":"contenido.id","value":"={{ $('JSONparse').item.json.id }}","type":"string"},{"id":"be846d7a-92b0-489c-8316-dd27b82c169d","name":"contenido.tipo","value":"texto","type":"string"},{"id":"30a49d66-3ad3-4c27-b758-7544169dc5f9","name":"contenido.mensaje","value":"={{ $json.contet }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"31e889ea-d1e2-4090-b49b-6403920c4b58","name":"mensajeContent"},{"parameters":{"operation":"push","list":"={{ $('setFields').item.json.user.chat.id }}_BDbuffer","messageData":"={{ JSON.stringify($('setFields').item.json.message) }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1440,272],"id":"83365930-3748-4ecc-b393-f285c0cdc6bf","name":"Buffer"},{"parameters":{"operation":"get","propertyName":"mensaje","key":"={{ $('setFields').item.json.user.chat.id }}_BDbuffer","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1232,272],"id":"1e92140e-9216-42f5-af30-aa3e91a9f109","name":"getBuffer"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3590894f-019c-43f4-9540-956bc91c9332","leftValue":"={{ JSON.parse($json.mensaje.last()).timeStamp }}","rightValue":"={{ $now.minus(300, 'seconds') }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"seguir"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Esperar"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1024,272],"id":"d07c3e1e-6fea-4639-8f60-91cad1ededd9","name":"Switch"},{"parameters":{"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-816,448],"id":"c9ce3fa7-afdd-4391-8953-01b5ad929693","name":"Wait","webhookId":"55a2c30a-d212-42cd-a4ad-81cfdb01ab28"},{"parameters":{"operation":"delete","key":"={{ $('setFields').item.json.user.chat.id }}_BDbuffer"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-816,256],"id":"135f1945-a297-4227-8cbb-198749030576","name":"eliminarBuffer"},{"parameters":{"fieldToSplitOut":"mensaje","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-640,256],"id":"bafa1b2f-9aab-4124-9924-2cf96a435e8d","name":"Split Out"},{"parameters":{"mode":"raw","jsonOutput":"={{ JSON.parse($json.mensaje) }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-448,256],"id":"db4087f3-a70a-4b30-8a30-44053e681332","name":"JSONparse"},{"parameters":{"resource":"file","fileId":"={{ $json.photo }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-16,240],"id":"b6ecc1bf-be62-4d36-ae9b-1db90e460aef","name":"imagen","webhookId":"c6b8caee-6c7a-4174-8310-4333bc8328a5"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.content_type }}","rightValue":"texto","operator":{"type":"string","operation":"equals"},"id":"ee13b917-ba53-463e-b137-cbd5a63714ec"}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3d247774-54bb-4516-b223-2b98394c1f1a","leftValue":"={{ $json.content_type }}","rightValue":"imagen","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagen"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f559351b-4d93-4909-b54b-7e89be8b647d","leftValue":"={{ $json.content_type }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Otro"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-240,224],"id":"28e00fe6-ccd1-47fd-9d7d-6d454d84de70","name":"Type"},{"parameters":{"resource":"file","fileId":"={{ $json.audio }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-16,528],"id":"062fe872-36fa-43dd-829e-9c3619a7e75e","name":"audio","webhookId":"6000608f-077d-4ae1-82f9-b4490f20ddaa"},{"parameters":{"authentication":"serviceAccount","name":"={{ $json.result.file_id }}","driveId":{"__rl":true,"value":"0AJeMhKcOCod7Uk9PVA","mode":"list","cachedResultName":"BD Fotos Alba","cachedResultUrl":"https://drive.google.com/drive/folders/0AJeMhKcOCod7Uk9PVA"},"folderId":{"__rl":true,"value":"1j0xKD3sa8qf8K2UBDmoFwGcJfAMt4_8D","mode":"list","cachedResultName":"BD_Fotos","cachedResultUrl":"https://drive.google.com/drive/folders/1j0xKD3sa8qf8K2UBDmoFwGcJfAMt4_8D"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[240,352],"id":"2648ecf9-b3fd-45ef-af01-f22a1631e597","name":"Upload file"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"=Actúa como un experto en soluciones industriales para compresores, bombas de agua, tratamiento de aire y sistemas neumáticos y eléctricos.\n\nA continuación, recibirás una o varias imágenes relacionadas con procesos de instalación, mantenimiento o uso de equipos industriales.\n\nPor cada imagen, devuelve un objeto JSON con la siguiente estructura:\n\n{\n  \"id\": \"{{ $node[\"Type\"].json.id}}\",\n  \"name\": \"{{ $json.result.file_id }}\",\n  \"descripcion\": \"<descripción técnica de la imagen>\"\n}\n\n- Describe cada imagen con precisión técnica, destacando lo que se observa y su posible contexto industrial.\n- Utiliza un lenguaje claro, objetivo y profesional.\n- No inventes detalles. Si no puedes identificar claramente algún elemento, exclúyelo.\n- No incluyas introducciones, conclusiones ni texto adicional fuera del JSON.","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[240,176],"id":"bf7eacc9-5eb8-4c3e-9c0c-63d0c4298235","name":"analyzeImage","alwaysOutputData":true},{"parameters":{"jsCode":"const resultados = [];\n\nfor (const item of items) {\n  const content = item.json.content;\n\n  if (!content.includes('\"name\"')) continue;\n\n  const limpio = content\n    .replace(/```json|```/g, '')\n    .trim();\n\n  try {\n    const original = JSON.parse(limpio);\n\n    const modificado = {\n      id: original.id,\n      name: original.name,\n      descripcion: original.descripcion\n    };\n\n    resultados.push({ json: modificado });\n\n  } catch (e) {\n    continue;\n  }\n}\n\nreturn resultados;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,176],"id":"2a1db8e8-75c9-4141-95fc-2821ee947fdd","name":"parseIMG"},{"parameters":{"assignments":{"assignments":[{"id":"608e7c59-0506-48d7-b5e3-3d1b0beec559","name":"contenido.id","value":"={{ $json.id }}","type":"string"},{"id":"aa4c8ef3-df59-4a38-9255-8a04cb7f867a","name":"contenido.tipo","value":"imagen","type":"string"},{"id":"55e6953d-4302-4fe4-ac55-505d533c2701","name":"contenido.descripcion","value":"={{ $json.descripcion }}","type":"string"},{"id":"0bff66bb-7083-4d60-85f9-8bcd150bf60a","name":"contenido.name","value":"={{ $json.name }}","type":"string"},{"id":"82d2364f-2249-4639-9a50-4448815f54a7","name":"contenido.caption","value":"={{ $('Type').item.json.caption }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[576,176],"id":"25e38794-4917-4ec7-90f7-bb4a171339ec","name":"imagenContent"},{"parameters":{"operation":"get","propertyName":"mensaje","key":"=BDbuffer_procesando","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1328,288],"id":"811db168-dc5c-4d15-8eee-f0ba542733a2","name":"getBuffer1","executeOnce":false},{"parameters":{"operation":"delete","key":"=BDbuffer_procesando"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1888,288],"id":"07aff27a-4155-44df-ba7a-05f15b9d2afb","name":"eliminarBuffer1","executeOnce":false},{"parameters":{"operation":"push","list":"=BDbuffer_procesando","messageData":"={{ JSON.stringify($('imagenContent').item.json.contenido) }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[768,176],"id":"05aa71fc-49ee-45ca-82a0-9138507bb796","name":"BufferIMG","executeOnce":false},{"parameters":{"operation":"push","list":"=BDbuffer_procesando","messageData":"={{ JSON.stringify($('mensajeContent').item.json.contenido) }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[768,0],"id":"a869786f-a853-4215-9f55-38c3e2a3b757","name":"BufferTXT","executeOnce":false},{"parameters":{"operation":"push","list":"=BDbuffer_procesando","messageData":"={{ JSON.stringify($('audioContent').item.json.contenido) }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[768,528],"id":"a1ff18b7-6741-4091-b7ea-44869af0c770","name":"BufferAudio","executeOnce":false},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1520,288],"id":"0c15398c-a6bf-4be0-935c-eb9bc71e6563","name":"Wait1","webhookId":"ded8aad9-fa42-412f-88e4-f2dde7589c20"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[992,176],"id":"a6362c23-f0c6-4976-bc31-f4ec06aaad3e","name":"Loop Over Items1","executeOnce":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[992,528],"id":"7a16a3c1-8638-498e-b2e8-cd01cb420a82","name":"Loop Over Items2","executeOnce":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[992,0],"id":"b5bf253f-ea6c-4f8a-ad86-b915e75766f5","name":"Loop Over Items3","executeOnce":true},{"parameters":{"promptType":"define","text":"={{ $json.mensajeMaestro }}","options":{"systemMessage":"=Eres un analista industrial experto en:\n\n- Equipo de bombeo\n- Tratamiento de aire\n- Compresores\n- Pintura electrostática\n\nRecibirás un objeto JSON llamado `mensajeMaestro` que contiene mensajes del usuario en tres posibles formatos:\n\n- `texto` → con contenido en `mensaje`\n- `audio` → transcripción en `mensaje`\n- `imagen` → con campos `descripcion` y `name`\n\nTu tarea es:\n\n1. Leer los mensajes de texto y audio (campo `mensaje`) para comprender el contexto.\n2. Utilizar también la `descripcion` de cada imagen como evidencia adicional, **sin inventar ni asumir datos que no existan**.\n3. Para cada mensaje de tipo `imagen`, debes generar un objeto con:\n\n   - `nombre`: valor del campo `name`\n   - `descripcion`: valor del campo `descripcion`\n   - `categoria`: una de:\n     - `\"Equipo de bombeo\"`\n     - `\"Tratamiento Aire\"`\n     - `\"Compresores\"`\n     - `\"Pintura electrostatica\"`\n     - `\"General\"` (si no se identifica)\n   - `marca`: si se menciona en cualquier mensaje; si no, `\"General\"`\n   - `cliente`: si se identifica; si no, `\"Sin identificar\"`\n\n4. Reglas para `estatus`:\n   - `\"Clasificada\"` si se pudo identificar **la categoría o el cliente**\n   - `\"Sin clasificar\"` solo cuando **NO se identificó categoría ni cliente**\n\n5. Devuelve **únicamente** un objeto JSON llamado `imagenesClasificadas`, con un objeto por cada imagen, con la siguiente estructura exacta:\n\n```json\n{\n  \"imagenesClasificadas\": {\n    \"imagen1\": {\n      \"nombre\": \"\",\n      \"descripcion\": \"\",\n      \"categoria\": \"\",\n      \"marca\": \"\",\n      \"cliente\": \"\",\n      \"estatus\": \"\",\n      \"webContentLink\": \"\",\n      \"webViewLink\": \"\"\n    }\n  }\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[2128,288],"id":"bbc6f308-86f6-4a21-8a70-69ea327f9a5d","name":"AI Agent1"},{"parameters":{"jsCode":"// Paso 1: Parsear todos los mensajes\nconst mensajesRaw = $json.mensaje.map(m => JSON.parse(m));\n\n// Paso 2: Separar los tipos de mensajes\nconst mensajesPorName = new Map();\nconst metadataPorName = new Map();\n\nmensajesRaw.forEach(m => {\n  if (m.tipo === 'imagen' || m.tipo === 'texto' || m.tipo === 'audio') {\n    mensajesPorName.set(m.name, m);\n  } else {\n    metadataPorName.set(m.name, m);\n  }\n});\n\n// Paso 3: Combinar por 'name'\nconst mensajesCombinados = [];\n\nfor (const [name, mensaje] of mensajesPorName.entries()) {\n  const combinado = {\n    id: mensaje.id,\n    tipo: mensaje.tipo,\n    name: mensaje.name,\n    descripcion: mensaje.descripcion || '',\n  };\n\n  const meta = metadataPorName.get(name);\n  if (meta) {\n    combinado.webContentLink = meta.webContentLink || '';\n    combinado.webViewLink = meta.webViewLink || '';\n  }\n\n  if (mensaje.tipo === 'texto' || mensaje.tipo === 'audio') {\n    combinado.mensaje = mensaje.mensaje || '';\n  }\n\n  mensajesCombinados.push(combinado);\n}\n\n// Paso 4: Eliminar duplicados por ID\nconst vistos = new Set();\nconst mensajesUnicos = mensajesCombinados.filter(m => {\n  if (vistos.has(m.id)) return false;\n  vistos.add(m.id);\n  return true;\n});\n\n// Paso 5: Ordenar por ID ascendente (conversión segura)\nmensajesUnicos.sort((a, b) => {\n  const aNum = parseInt(a.id, 10);\n  const bNum = parseInt(b.id, 10);\n  return isNaN(aNum) || isNaN(bNum) ? 0 : aNum - bNum;\n});\n\n// Paso 6: Construir el objeto final\nconst mensajeMaestro = {};\n\nmensajesUnicos.forEach((m, index) => {\n  const key = `mensaje${index + 1}`;\n  mensajeMaestro[key] = m;\n});\n\nreturn [\n  {\n    json: {\n      mensajeMaestro\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1696,288],"id":"a5dd0107-d868-4808-b00e-e5da1a0e574d","name":"mensaje","executeOnce":true},{"parameters":{"model":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"gpt-3.5-turbo"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2128,512],"id":"d6fc9be6-f21c-4777-9407-58e81773c122","name":"OpenAI Chat Model1"},{"parameters":{"jsCode":"// Paso 1: Parsear la cadena JSON del campo \"output\"\nconst salidaIA = JSON.parse($json.output);\n\n// Paso 2: Obtener el objeto de imágenes clasificadas\nconst imagenes = salidaIA.imagenesClasificadas;\n\n// Paso 3: Crear un item por imagen\nconst resultados = [];\n\nfor (const clave in imagenes) {\n  if (imagenes.hasOwnProperty(clave)) {\n    resultados.push({\n      json: imagenes[clave]\n    });\n  }\n}\n\nreturn resultados;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2480,288],"id":"04c5b6be-87ee-4eb0-928e-a6dcb8b67619","name":"Code in JavaScript"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2688,288],"id":"87a3d702-8318-4894-b748-fa8b888b0faf","name":"Loop Over Items4"},{"parameters":{"chatId":"={{ $items(\"setFields\")[0].json.user.chat.id }}","text":"Gracias, tus imágenes han sido clasificadas.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2944,112],"id":"34343e98-6044-4b0d-840d-3497f0f07bda","name":"Send a text message","webhookId":"3ada0a1c-abd2-455e-8490-0fc3cacb0dbc"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appLN5teUrplheucQ","mode":"list","cachedResultName":"Alba","cachedResultUrl":"https://airtable.com/appLN5teUrplheucQ"},"table":{"__rl":true,"value":"tbl5lXD3sDjpl4Pi1","mode":"list","cachedResultName":"BD Imágenes","cachedResultUrl":"https://airtable.com/appLN5teUrplheucQ/tbl5lXD3sDjpl4Pi1"},"columns":{"mappingMode":"defineBelow","value":{"Categoría":"={{ $json.categoria }}","Marca":"={{ $json.marca }}","Cliente":"={{ $json.cliente }}","Name":"={{ $json.nombre }}","Descripción":"={{ $json.descripcion }}","Download":"={{ $json.webContentLink }}","WebLink":"={{ $json.webViewLink }}"},"matchingColumns":["Name"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Descripción","displayName":"Descripción","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Categoría","displayName":"Categoría","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"General","value":"General"},{"name":"Equipo de bombeo","value":"Equipo de bombeo"},{"name":"Tratamiento de aire","value":"Tratamiento de aire"},{"name":"Compresores de aire","value":"Compresores de aire"},{"name":"Pintura electrostatica","value":"Pintura electrostatica"},{"name":"Servicios","value":"Servicios"}],"readOnly":false,"removed":false},{"id":"Marca","displayName":"Marca","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Cliente","displayName":"Cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Download","displayName":"Download","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"WebLink","displayName":"WebLink","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Creada","displayName":"Creada","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2944,304],"id":"b6fea7ac-0437-4a37-b168-72a7fcf07df8","name":"Create a record1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[992,352],"id":"ade12a62-9663-447f-87e8-87b77e29995b","name":"Loop Over Items"},{"parameters":{"operation":"push","list":"=BDbuffer_procesando","messageData":"={{ JSON.stringify($('imgLink').item.json.imgLink) }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[768,352],"id":"81b29e77-2529-4e8f-a265-f6e2d3a50336","name":"BufferIMGLink","executeOnce":false},{"parameters":{"assignments":{"assignments":[{"id":"2cdca3a9-7d02-46ca-8230-a1330d4b1b22","name":"imgLink.id","value":"={{ $json.id }}","type":"string"},{"id":"bb02dada-024c-453b-b425-e6ca9a96cf93","name":"imgLink.name","value":"={{ $json.name }}","type":"string"},{"id":"2982c7ac-998e-4da5-a592-e52175ac9e60","name":"imgLink.webContentLink","value":"={{ $json.webContentLink }}","type":"string"},{"id":"f92104eb-3f1a-4c91-b807-970a1b262924","name":"imgLink.webViewLink","value":"={{ $json.webViewLink }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,352],"id":"e5cd73bf-e59e-4ab4-9d73-e44ee0045e22","name":"imgLink"}],"connections":{"Telegram Trigger":{"main":[[{"node":"setFields","type":"main","index":0}]]},"setFields":{"main":[[{"node":"Buffer","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"audioContent","type":"main","index":0}]]},"mensajeContent":{"main":[[{"node":"BufferTXT","type":"main","index":0}]]},"audioContent":{"main":[[{"node":"BufferAudio","type":"main","index":0}]]},"Buffer":{"main":[[{"node":"getBuffer","type":"main","index":0}]]},"getBuffer":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"eliminarBuffer","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"getBuffer","type":"main","index":0}]]},"eliminarBuffer":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"JSONparse","type":"main","index":0}]]},"JSONparse":{"main":[[{"node":"Type","type":"main","index":0}]]},"imagen":{"main":[[{"node":"analyzeImage","type":"main","index":0},{"node":"Upload file","type":"main","index":0}]]},"Type":{"main":[[{"node":"mensajeContent","type":"main","index":0}],[{"node":"imagen","type":"main","index":0}],[{"node":"audio","type":"main","index":0}]]},"audio":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"imgLink","type":"main","index":0}]]},"analyzeImage":{"main":[[{"node":"parseIMG","type":"main","index":0}]]},"parseIMG":{"main":[[{"node":"imagenContent","type":"main","index":0}]]},"getBuffer1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"imagenContent":{"main":[[{"node":"BufferIMG","type":"main","index":0}]]},"BufferIMG":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"BufferTXT":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"BufferAudio":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"mensaje","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"getBuffer1","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"getBuffer1","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"getBuffer1","type":"main","index":0}]]},"eliminarBuffer1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"mensaje":{"main":[[{"node":"eliminarBuffer1","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Loop Over Items4":{"main":[[{"node":"Send a text message","type":"main","index":0}],[{"node":"Create a record1","type":"main","index":0}]]},"Create a record1":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"getBuffer1","type":"main","index":0}]]},"BufferIMGLink":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"imgLink":{"main":[[{"node":"BufferIMGLink","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"18876097-15d8-434c-b3ca-72a7dd4b69b2","activeVersionId":null,"versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2026-01-05T21:51:14.919Z","createdAt":"2026-01-05T21:51:14.919Z","role":"workflow:owner","workflowId":"uSELqAFGNFJ4iNUl","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[],"activeVersion":null}