workflows/Bernardoo _ 1) NuevoReferido--QKyLRFFL0L9UCYVp.json
{"updatedAt":"2026-01-05T05:01:13.000Z","createdAt":"2026-01-05T04:57:22.252Z","id":"QKyLRFFL0L9UCYVp","name":"Bernardoo | 1) NuevoReferido","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"operation":"search","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"filterByFormula":"=OR({Whatsapp (Cel)} =  {{ $('Registro Nuevo Referido').item.json['¿Cuál es tu celular a 10 dígitos? Asegúrate de ponerlo correctamente, porque así vincularemos a tu referido'] }},\n  {Mail}= '{{ $('Registro Nuevo Referido').item.json.Mail }}'\n)","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1040,992],"id":"a3a32c39-3f8d-4f40-8cd6-d457225b2445","name":"Data: Dueño del Referido","alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"filterByFormula":"=AND({Estatus} = 'Nuevo', \n    {Aviso} = 'No', \n    OR(  \n      {Whatsapp (Cel)}= {{ $('Nuevo referido').item.json.fields['Whatsapp (Cel)'] }},\n        {Mail} = '{{ $('Nuevo referido').item.json.fields.Mail }}'\n    )\n)","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1792,992],"id":"6dd70456-0837-4ff3-a1e3-dcb6aea64cf0","name":"Data: Referido","alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"assignments":{"assignments":[{"id":"61388f65-f383-4b98-9d4b-6f7a5fe9ae68","name":"Nombre Referido","value":"={{ $('Data: Referido').item.json['Nombre Completo'] }}","type":"string"},{"id":"1d992d6e-adb4-4469-8cda-7945bede4200","name":"Whatsapp del Referido","value":"={{ $('Data: Referido').item.json['Whatsapp (Cel)'] }}","type":"number"},{"id":"520b9c71-49de-4895-ad31-c5b8a93703f2","name":"email del Referido","value":"={{ $('Data: Referido').item.json.Mail }}","type":"string"},{"id":"69c79eeb-e574-4051-a4ef-017aca35b265","name":"Nombre Dueño del Referido","value":"={{ $('Data: Dueño del Referido').item.json.Nombre }}","type":"string"},{"id":"ebf0ab0c-aeea-47c9-980c-69952753e371","name":"IdDueño","value":"={{ $('Data: Dueño del Referido').item.json.id }}","type":"string"},{"id":"d0525a31-dba8-45ba-a309-326bae141380","name":"Whatsapp del Dueño","value":"={{ $json['Whatsapp (Cel)'] }}","type":"number"},{"id":"4a18d57e-f7b0-43a8-a2a8-2e287262fc6e","name":"mail del dueño del referido","value":"={{ $json.Mail }}","type":"string"},{"id":"e7e6542f-6fa0-4972-8019-6de127a5afdf","name":"TotalReferidosD","value":"={{ $json.TotalReferidos }}","type":"number"},{"id":"a2af551c-2f3c-4ac8-bb61-025f8b275445","name":"Whatsapp Bernardo","value":"={{ $('Datos de Bernardo').item.json.Whatsapp }}","type":"string"},{"id":"fbd8e6ee-9dc2-4393-8f89-279835ba2559","name":"linkReferidos","value":" https://bernardollamas.com/referidos/","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-560,976],"id":"0aabab48-5ea9-4720-b485-f9f8abd124dd","name":"Variables"},{"parameters":{"content":"## Búsqueda de datos del dueño del referido.\n\nSe filtra por número y correo","width":256,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1120,800],"typeVersion":1,"id":"09a0ebbe-6520-4bc8-8be8-acf4285673b3","name":"Sticky Note1"},{"parameters":{"content":"## Bienvenida al prospecto\n\n","height":112,"width":192,"color":3},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"c57a4267-59d6-4400-a5fb-81211720ab06","name":"Sticky Note2"},{"parameters":{"content":"## Aviso a Bernardo\n\nSe le avisa a Bernardo que hay un nuevo registro de referido. \n","color":3},"type":"n8n-nodes-base.stickyNote","position":[-304,448],"typeVersion":1,"id":"7cd4ca7c-8794-41b9-8fe7-e03bbd560b04","name":"Sticky Note3"},{"parameters":{"content":"## Actualización de registro\nSe actualiza el nuevo registro después de haber hecho el aviso y dado la bienvenida. ","color":3},"type":"n8n-nodes-base.stickyNote","position":[752,464],"typeVersion":1,"id":"273011dc-96a9-44f7-964f-4d0357d66f8f","name":"Sticky Note4"},{"parameters":{"content":"## Búsqueda de datos de Bernardo","height":128,"width":192,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1840,768],"typeVersion":1,"id":"6ca15841-b533-40ba-bf41-4e1f298b3ee9","name":"Sticky Note5"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Data: Dueño del Referido').item.json.id }}","TotalReferidos":"={{ $json.newTotalReferidos }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Apellido","displayName":"Apellido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Whatsapp (Cel)","displayName":"Whatsapp (Cel)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Whatsapp (Validación)","displayName":"Whatsapp (Validación)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Highligts","displayName":"Highligts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Fecha de Nacimiento","displayName":"Fecha de Nacimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Fuma","displayName":"Fuma","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Instrumentos de Ahorro","displayName":"Instrumentos de Ahorro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Rendimientos","displayName":"Rendimientos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Incapacidad","displayName":"Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Seguro de Incapacidad","displayName":"Seguro de Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Hijos","displayName":"Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"0","value":"0"},{"name":"1","value":"1"},{"name":"2","value":"2"},{"name":"3","value":"3"},{"name":"4","value":"4"},{"name":"+5","value":"+5"}],"readOnly":false,"removed":true},{"id":"Educación Hijos","displayName":"Educación Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Plan de retiro","displayName":"Plan de retiro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Qué harían en caso de muerte","displayName":"Qué harían en caso de muerte","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Anotaciones","displayName":"Anotaciones","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Archivos adjuntos","displayName":"Archivos adjuntos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Tares / Eventos","displayName":"Tares / Eventos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Pólizas","displayName":"Pólizas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referidos","displayName":"Referidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referido de","displayName":"Referido de","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Aviso","displayName":"Aviso","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Estatus Actualizado","displayName":"Estatus Actualizado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Registro de nuevo cliente","displayName":"Registro de nuevo cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"TotalReferidos","displayName":"TotalReferidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-336,1456],"id":"42ba7849-3d24-4eff-bba8-bc8089f337b7","name":"Actualizar cantidad de referidos","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n\n  const currentTotal = $input.first().json.TotalReferidosD\n  const newTotal = parseInt(currentTotal) + 1;\n  item.json.newTotalReferidos = newTotal;\n  \n\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-368,1232],"id":"be3d61d0-af87-4ed2-9110-fb755130cf5c","name":"CálculoReferidos"},{"parameters":{"content":"## Cálculo Referidos\n\nSe toma la cantidad de referidos que tiene el dueño del referido y se le suma uno. \n","color":3},"type":"n8n-nodes-base.stickyNote","position":[-432,1632],"typeVersion":1,"id":"4a208469-abfe-4b7f-b0dc-f0c010ac43dd","name":"Sticky Note6"},{"parameters":{"formTitle":"Referidos","formDescription":"Nuevo Referido","formFields":{"values":[{"fieldLabel":"¿Cuál es tu nombre?","placeholder":"Nombre","requiredField":true},{"fieldLabel":"Mail","fieldType":"email","placeholder":"Mail","requiredField":true},{"fieldLabel":"¿Cuál es tu celular a 10 dígitos? Asegúrate de ponerlo correctamente, porque así vincularemos a tu referido","fieldType":"number","placeholder":"5511223344","requiredField":true},{"fieldLabel":"Nombre de tu referido","placeholder":"Referido","requiredField":true},{"fieldLabel":"Mail de tu referido","fieldType":"email","placeholder":"Mail","requiredField":true},{"fieldLabel":"Celular de tu referido a 10 dígitos","fieldType":"number","placeholder":"5511223344","requiredField":true}]},"options":{"appendAttribution":false,"buttonLabel":"Enviar","respondWithOptions":{"values":{"respondWith":"redirect","redirectUrl":"https://bernardollamas.com/referidos-gracias"}},"ignoreBots":true}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-2336,960],"id":"1877fba7-374c-4ff7-bc58-7dea6b187d04","name":"Registro Nuevo Referido","webhookId":"8ebcbe7f-fb90-43c8-b741-580427e11701"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appoIrpJlprLtsUFF","mode":"list","cachedResultName":"KiroxON Clientes","cachedResultUrl":"https://airtable.com/appoIrpJlprLtsUFF"},"table":{"__rl":true,"value":"tblzPRsNmPuFKgaqp","mode":"list","cachedResultName":"Clientes","cachedResultUrl":"https://airtable.com/appoIrpJlprLtsUFF/tblzPRsNmPuFKgaqp"},"filterByFormula":"{Cliente} = 'Prueba'","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1520,1008],"id":"cf59cd56-c76c-44cf-85f3-bbe8f4a022aa","name":"Datos de Bernardo","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"operation":"fetch-instances","instanceName":"Prueba"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[192,96],"id":"6829d8c5-0ea5-4f91-8b9d-00830bfb8d77","name":"Buscar instancia1","credentials":{"evolutionApi":{"id":"qt6DiGDj5sy5Xuto","name":"Prueba|Temporal"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-384,992],"id":"68868173-c8e9-407c-b70e-d3fdbf140024","name":"Loop Over Items"},{"parameters":{"operation":"fetch-instances","instanceName":"Prueba"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-144,640],"id":"f3185c0d-fafa-4e57-a893-216b5317a646","name":"Buscar instancia","credentials":{"evolutionApi":{"id":"qt6DiGDj5sy5Xuto","name":"Prueba|Temporal"}}},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"Prueba","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Bernardo'] }}","delay":5000},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[256,624],"id":"f1ef5ba6-360a-423d-97fa-f5b8638a8ef5","name":"Enviar presencia a Bernardo","credentials":{"evolutionApi":{"id":"qt6DiGDj5sy5Xuto","name":"Prueba|Temporal"}}},{"parameters":{"resource":"messages-api","instanceName":"Prueba","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Bernardo'] }}","messageText":"=¡Se detectó un nuevo registro!\n\nInformación: \n\nNombre: {{ $('Data: Referido').item.json['Nombre Completo'] }}\nWhatsapp: {{ $('Variables').item.json['Whatsapp del Referido'] }}\nE-mail: {{ $('Variables').item.json['email del Referido'] }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[464,624],"id":"1f2848ec-a74f-4312-b305-164df3220e39","name":"Enviar mensaje a Bernardo","credentials":{"evolutionApi":{"id":"qt6DiGDj5sy5Xuto","name":"Prueba|Temporal"}}},{"parameters":{"resource":"messages-api","instanceName":"Prueba","remoteJid":"=521{{ $('Variables').item.json['Whatsapp del Referido'] }}","messageText":"=Hola {{ $('Variables').item.json['Nombre Referido'] }},\n\n¡Queremos darte una calurosa bienvenida!\n\nHemos recibido tu registro a través de nuestro programa de referidos de parte de: {{ $('Variables').item.json['Dueño del Referido'] }}. Estamos listos para ayudarte a optimizar tus seguros y proteger tu patrimonio.\n\n🎁Recuerda: ¡Tú También Ganas!\nEl programa de referidos no sólo es para {{ $('Variables').item.json['Dueño del Referido'] }}. Tú también puedes:\n\n* Recomendar a tus amigos y colegas.\n\n* Ganar recompensas exclusivas cada vez que uno de tus referidos avance en nuestro proceso de Prospecto a Cliente.\n\n¡Esperamos verte pronto!","options_message":{"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[672,80],"id":"8c6b55fd-3e5a-4c5f-94ae-7bc7f3d49f1b","name":"Enviar mensaje a referido","credentials":{"evolutionApi":{"id":"qt6DiGDj5sy5Xuto","name":"Prueba|Temporal"}}},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"Prueba","remoteJid":"=521{{ $('Variables').item.json['Whatsapp del Referido'] }}","delay":10000},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[528,80],"id":"c8e0aa65-639a-492d-a35d-abd0ad62f0b7","name":"Enviar presencia a referido","credentials":{"evolutionApi":{"id":"qt6DiGDj5sy5Xuto","name":"Prueba|Temporal"}}},{"parameters":{"operation":"fetch-instances","instanceName":"Prueba"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-64,1232],"id":"73306ca0-ce1c-44db-a410-20b46a2c55e9","name":"Buscar instancia2","credentials":{"evolutionApi":{"id":"qt6DiGDj5sy5Xuto","name":"Prueba|Temporal"}}},{"parameters":{"content":"## CAMBIO\nEste mensaje se debe enviar desde el número de Kiroxon"},"type":"n8n-nodes-base.stickyNote","position":[80,432],"typeVersion":1,"id":"071a891b-e6fb-46ec-b0e6-2eb7f4a097fd","name":"Sticky Note8"},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"Prueba","remoteJid":"=521{{ $('Variables').item.json['Whatsapp del Dueño'] }}","delay":5000},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[304,1216],"id":"65c3a594-1feb-4800-bbfd-061ed8451334","name":"Enviar presencia a Dueño de Referido","credentials":{"evolutionApi":{"id":"qt6DiGDj5sy5Xuto","name":"Prueba|Temporal"}}},{"parameters":{"resource":"messages-api","instanceName":"Prueba","remoteJid":"=521{{ $('Variables').item.json['Whatsapp del Dueño'] }}","messageText":"=¡Hola, {{ $('Variables').item.json['Nombre Dueño del Referido'] }}!\n\nTe informamos que {{ $('Variables').item.json['Nombre Referido'] }} se ha registrado en nuestro Programa de Referidos. ¡Muchas gracias por ponernos en contacto!\n\nRecuerda que aún puedes seguir registrando a tus referidos para ganar grandes recompenzas en el siguiente link: \n\n","options_message":{"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[480,1216],"id":"b118f0af-2e1b-44d6-ae39-767273c96640","name":"Enviar mensaje a dueño de referido","credentials":{"evolutionApi":{"id":"qt6DiGDj5sy5Xuto","name":"Prueba|Temporal"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"columns":{"mappingMode":"defineBelow","value":{"Fuma":false,"Seguro de Incapacidad":false,"Plan de retiro":false,"Whatsapp (Cel)":"={{ $json['Celular de tu referido a 10 dígitos'] }}","TotalReferidos":0,"Nombre":"={{ $json['Nombre de tu referido'] }}","Estatus":"Nuevo","Aviso":"No","Mail":"={{ $json['Mail de tu referido'] }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Apellido","displayName":"Apellido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":false},{"id":"Whatsapp (Cel)","displayName":"Whatsapp (Cel)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Whatsapp (Validación)","displayName":"Whatsapp (Validación)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Highligts","displayName":"Highligts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Fecha de Nacimiento","displayName":"Fecha de Nacimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Fuma","displayName":"Fuma","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"Instrumentos de Ahorro","displayName":"Instrumentos de Ahorro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Rendimientos","displayName":"Rendimientos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Incapacidad","displayName":"Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Seguro de Incapacidad","displayName":"Seguro de Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"Hijos","displayName":"Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"0","value":"0"},{"name":"1","value":"1"},{"name":"2","value":"2"},{"name":"3","value":"3"},{"name":"4","value":"4"},{"name":"+5","value":"+5"}],"readOnly":false,"removed":false},{"id":"Educación Hijos","displayName":"Educación Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Plan de retiro","displayName":"Plan de retiro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"Qué harían en caso de muerte","displayName":"Qué harían en caso de muerte","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Anotaciones","displayName":"Anotaciones","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Archivos adjuntos","displayName":"Archivos adjuntos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Tares / Eventos","displayName":"Tares / Eventos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Pólizas","displayName":"Pólizas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Referidos","displayName":"Referidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Referido de","displayName":"Referido de","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Aviso","displayName":"Aviso","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":false},{"id":"Estatus Actualizado","displayName":"Estatus Actualizado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":false},{"id":"Registro de nuevo cliente","displayName":"Registro de nuevo cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"UltimoAvisoRef","displayName":"UltimoAvisoRef","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"AvisoSemana","displayName":"AvisoSemana","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":false},{"id":"AvisoMes","displayName":"AvisoMes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":false},{"id":"TotalReferidos","displayName":"TotalReferidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-2064,960],"id":"038e724a-7fa4-4c38-9ed9-3594726c67cc","name":"Nuevo referido","credentials":{"airtableTokenApi":{"id":"hPuH3Tw4L43FjcII","name":"Bernardo | Referidos"}}},{"parameters":{"content":"## Registro de referido\nDespués del llenado de formulario, se registra el referido en la base de datos\n","color":3},"type":"n8n-nodes-base.stickyNote","position":[-2144,720],"typeVersion":1,"id":"e3372e02-bf2e-4700-ad16-67e42645f572","name":"Sticky Note9"},{"parameters":{"content":"## Búsqueda de referido\nSe verifica que el referido exista. ","color":3},"type":"n8n-nodes-base.stickyNote","position":[-1584,768],"typeVersion":1,"id":"539ee2e8-845d-42c6-9425-3e515fbf4f95","name":"Sticky Note10"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"13f76048-382c-40af-a919-ab75a7f0c0d5","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1280,1008],"id":"8e9cdbe5-f5f9-491d-95d4-8163e31ca9b0","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"13f76048-382c-40af-a919-ab75a7f0c0d5","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-800,992],"id":"b921e000-d657-4191-a6db-4216b22f7365","name":"If1"},{"parameters":{"content":"## CAMBIAR\nEl correo que está por el de Bernardo","height":112},"type":"n8n-nodes-base.stickyNote","position":[-880,1440],"typeVersion":1,"id":"ce7b2cd4-5914-45f6-9c6a-54853e112de0","name":"Sticky Note11"},{"parameters":{"sendTo":"={{ $('Registro Nuevo Referido').item.json.Mail }}","subject":"Error en registro de referido","message":"=¡Hola, {{ $('Registro Nuevo Referido').item.json['¿Cuál es tu nombre?'] }}!\n\nTuvimos un problema al vincular tu referido contigo. Lamentamos mucho los inconvenientes. Por favor, ponte en contacto mediante mail o mensaje de Whatsapp para que nos puedas compartir tus datos.\n\nSaludos cordiales. ","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-816,1264],"id":"589b502c-cb10-4f48-837a-87db45029309","name":"Error: no se encontró el dueño del referido","webhookId":"6fe54007-bfce-4558-bdcb-17d319f43099"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e4b2770d-6ee9-435a-a8ca-37c5a7c1c76b","leftValue":"={{ $json.success }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[320,96],"id":"fa92969d-a0cd-4642-a79f-f97b59ee8e11","name":"If2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e4b2770d-6ee9-435a-a8ca-37c5a7c1c76b","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[32,640],"id":"942537c2-aa57-4632-90ec-6cb61ce0ce78","name":"If3"},{"parameters":{"chatId":"5424918901","text":"BERNARDO | Problema con el aviso de nuevo registro de referido a Bernardo.\nNo se encontró la instancia en línea. ","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[32,880],"id":"617a43f1-3863-4a9c-ae43-f3ea7cd3412c","name":"Mensaje de error: Aviso a Bernardo","webhookId":"5d9c1eb8-1bd9-4325-9a1c-6255b95aa52e"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e4b2770d-6ee9-435a-a8ca-37c5a7c1c76b","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[128,1232],"id":"ea8e46c0-4228-4014-8626-0316216890b3","name":"If4"},{"parameters":{"chatId":"5424918901","text":"BERNARDO | Problema con el aviso de registro al Dueño del Referido\nNo se encontró la instancia en línea. ","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[288,1456],"id":"05cb9215-fe4b-48fb-b2ff-5e7d3582a7f5","name":"Mensaje de error: Aviso a Dueño de Referido","webhookId":"5d9c1eb8-1bd9-4325-9a1c-6255b95aa52e"},{"parameters":{"resource":"messages-api","instanceName":"Prueba","remoteJid":"=521{{ $('Variables').item.json['Whatsapp del Referido'] }}","messageText":"={{ $('Variables').item.json.linkReferidos }}\n","options_message":{"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[800,80],"id":"b6aeee60-0396-41b2-ac8a-b8d2b2498782","name":"Enviar mensaje a referido1","credentials":{"evolutionApi":{"id":"qt6DiGDj5sy5Xuto","name":"Prueba|Temporal"}}},{"parameters":{"resource":"messages-api","instanceName":"Prueba","remoteJid":"=521{{ $('Variables').item.json['Whatsapp del Dueño'] }}","messageText":"={{ $('Variables').item.json.linkReferidos }}\n\n","options_message":{"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[640,1216],"id":"0455fa00-c748-484a-9368-02ac50457ad1","name":"Enviar mensaje a dueño de referido1","credentials":{"evolutionApi":{"id":"qt6DiGDj5sy5Xuto","name":"Prueba|Temporal"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Data: Referido').item.json.id }}","Aviso":"Sí","DueñoReferido":"={{ $('Variables').item.json['IdDueño'] }}","Referido de":"={{ [ $('Variables').item.json['IdDueño'] ] }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Apellido","displayName":"Apellido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Whatsapp (Cel)","displayName":"Whatsapp (Cel)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Whatsapp (Validación)","displayName":"Whatsapp (Validación)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Highligts","displayName":"Highligts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Fecha de Nacimiento","displayName":"Fecha de Nacimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Fuma","displayName":"Fuma","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Instrumentos de Ahorro","displayName":"Instrumentos de Ahorro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Rendimientos","displayName":"Rendimientos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Incapacidad","displayName":"Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Seguro de Incapacidad","displayName":"Seguro de Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Hijos","displayName":"Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"0","value":"0"},{"name":"1","value":"1"},{"name":"2","value":"2"},{"name":"3","value":"3"},{"name":"4","value":"4"},{"name":"+5","value":"+5"}],"readOnly":false,"removed":true},{"id":"Educación Hijos","displayName":"Educación Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Plan de retiro","displayName":"Plan de retiro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Qué harían en caso de muerte","displayName":"Qué harían en caso de muerte","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Anotaciones","displayName":"Anotaciones","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Archivos adjuntos","displayName":"Archivos adjuntos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Tares / Eventos","displayName":"Tares / Eventos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Pólizas","displayName":"Pólizas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referidos","displayName":"Referidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referido de","displayName":"Referido de","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Aviso","displayName":"Aviso","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":false},{"id":"Estatus Actualizado","displayName":"Estatus Actualizado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Registro de nuevo cliente","displayName":"Registro de nuevo cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"UltimoAvisoRef","displayName":"UltimoAvisoRef","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"AvisoSemana","displayName":"AvisoSemana","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"AvisoMes","displayName":"AvisoMes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"TotalReferidos","displayName":"TotalReferidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"DueñoReferido","displayName":"DueñoReferido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[640,624],"id":"c0036a51-8959-41df-8005-fd7c06649ab7","name":"Update record1","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"content":"## Aviso al dueño del Referido\n","height":128,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-80,1104],"typeVersion":1,"id":"f7f8e502-bfe8-42e3-8175-8d3788666808","name":"Sticky Note"},{"parameters":{"content":"## CAMBIO\nEste mensaje se debe enviar desde el número del cliente"},"type":"n8n-nodes-base.stickyNote","position":[-48,1424],"typeVersion":1,"id":"a9f47f59-bb7c-41b5-80d7-c2564e31afbb","name":"Sticky Note13"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1856,2352],"id":"94eded4c-8d94-4847-b928-765018038c6e","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appoIrpJlprLtsUFF","mode":"list","cachedResultName":"KiroxON Clientes","cachedResultUrl":"https://airtable.com/appoIrpJlprLtsUFF"},"table":{"__rl":true,"value":"tblzPRsNmPuFKgaqp","mode":"list","cachedResultName":"Clientes","cachedResultUrl":"https://airtable.com/appoIrpJlprLtsUFF/tblzPRsNmPuFKgaqp"},"filterByFormula":"{Cliente} = 'Prueba'","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1440,2416],"id":"af54279f-7256-4c55-9107-8c933da60fc7","name":"Datos de Bernardo1","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"filterByFormula":"AND({Estatus} = 'Nuevo',      {Aviso} = 'No')","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1632,2416],"id":"18769f2a-3c67-4b09-a86e-0f8e63b29597","name":"Datos del referido","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"content":"## Formulario de interno","height":80,"width":384},"type":"n8n-nodes-base.stickyNote","position":[-2160,2304],"typeVersion":1,"id":"b4885875-82c4-45d5-963b-38a3fe7f7ba8","name":"Sticky Note7"},{"parameters":{"base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"id":"={{ $('Datos del referido').item.json['Referido de'][0] }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1280,2416],"id":"bee126f0-766e-4f2e-8f25-384c01bf6d4a","name":"Data: Dueño del Referido1","alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"assignments":{"assignments":[{"id":"61388f65-f383-4b98-9d4b-6f7a5fe9ae68","name":"Nombre Referido","value":"={{ $('Datos del referido').item.json.Nombre }}","type":"string"},{"id":"1d992d6e-adb4-4469-8cda-7945bede4200","name":"Whatsapp del Referido","value":"={{ $('Datos del referido').item.json['Whatsapp (Cel)'] }}","type":"number"},{"id":"520b9c71-49de-4895-ad31-c5b8a93703f2","name":"email del Referido","value":"={{ $('Datos del referido').item.json.Mail }}","type":"string"},{"id":"69c79eeb-e574-4051-a4ef-017aca35b265","name":"Nombre Dueño del Referido","value":"={{ $('Data: Dueño del Referido1').item.json.Nombre }}","type":"string"},{"id":"ebf0ab0c-aeea-47c9-980c-69952753e371","name":"IdDueño","value":"={{ $json.id }}","type":"string"},{"id":"d0525a31-dba8-45ba-a309-326bae141380","name":"Whatsapp del Dueño","value":"={{ $json['Whatsapp (Cel)'] }}","type":"number"},{"id":"4a18d57e-f7b0-43a8-a2a8-2e287262fc6e","name":"mail del dueño del referido","value":"={{ $json.Mail }}","type":"string"},{"id":"e7e6542f-6fa0-4972-8019-6de127a5afdf","name":"TotalReferidosD","value":"={{ $json.TotalReferidos }}","type":"number"},{"id":"a2af551c-2f3c-4ac8-bb61-025f8b275445","name":"Whatsapp Bernardo","value":"={{ $('Datos de Bernardo1').item.json.Whatsapp }}","type":"string"},{"id":"fbd8e6ee-9dc2-4393-8f89-279835ba2559","name":"linkReferidos","value":" https://bernardollamas.com/referidos/","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-912,2400],"id":"2e4e9cee-ba36-49db-8c54-021f5e0f18d8","name":"Variables1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-688,2400],"id":"7cc8024b-99f7-4507-902c-4f083643b7b7","name":"Loop Over Items1"},{"parameters":{"operation":"fetch-instances","instanceName":"Prueba"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-272,2864],"id":"f8fdeac0-02d8-432f-a21a-7839ebb0fcce","name":"Buscar instancia3","credentials":{"evolutionApi":{"id":"qt6DiGDj5sy5Xuto","name":"Prueba|Temporal"}}},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"Prueba","remoteJid":"=521{{ $('Variables1').item.json['Whatsapp Bernardo'] }}","delay":5000},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[144,2864],"id":"c977c233-fc1f-4161-a3c3-41de9b6dbf5c","name":"Enviar presencia a Bernardo1","credentials":{"evolutionApi":{"id":"qt6DiGDj5sy5Xuto","name":"Prueba|Temporal"}}},{"parameters":{"resource":"messages-api","instanceName":"Prueba","remoteJid":"=521{{ $('Variables1').item.json['Whatsapp Bernardo'] }}","messageText":"=¡Se detectó un nuevo registro!\n\nInformación: \n\nNombre: {{ $('Datos del referido').item.json['Nombre Completo'] }}\nWhatsapp: {{ $('Variables1').item.json['Whatsapp del Referido'] }}\nE-mail: {{ $('Variables1').item.json['email del Referido'] }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[320,2864],"id":"8b968654-39f7-4309-b2e8-6e991a599065","name":"Enviar mensaje a Bernardo1","credentials":{"evolutionApi":{"id":"qt6DiGDj5sy5Xuto","name":"Prueba|Temporal"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e4b2770d-6ee9-435a-a8ca-37c5a7c1c76b","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-64,2864],"id":"50bacbc5-6cab-4abd-849f-3371640a7381","name":"If5"},{"parameters":{"chatId":"5424918901","text":"BERNARDO | Problema con el aviso de nuevo registro de referido a Bernardo.\nNo se encontró la instancia en línea. ","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[224,3104],"id":"ccd8be4c-a195-4fce-a93b-e3108dad183f","name":"Mensaje de error: Aviso a Bernardo1","webhookId":"5d9c1eb8-1bd9-4325-9a1c-6255b95aa52e"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Datos del referido').item.json.id }}","Aviso":"Sí","DueñoReferido":"={{ $('Variables1').item.json['IdDueño'] }}","Referido de":"={{ [ $('Variables1').item.json['IdDueño'] ] }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Apellido","displayName":"Apellido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Whatsapp (Cel)","displayName":"Whatsapp (Cel)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Whatsapp (Validación)","displayName":"Whatsapp (Validación)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Highligts","displayName":"Highligts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Fecha de Nacimiento","displayName":"Fecha de Nacimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Fuma","displayName":"Fuma","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Instrumentos de Ahorro","displayName":"Instrumentos de Ahorro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Rendimientos","displayName":"Rendimientos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Incapacidad","displayName":"Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Seguro de Incapacidad","displayName":"Seguro de Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Hijos","displayName":"Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"0","value":"0"},{"name":"1","value":"1"},{"name":"2","value":"2"},{"name":"3","value":"3"},{"name":"4","value":"4"},{"name":"+5","value":"+5"}],"readOnly":false,"removed":true},{"id":"Educación Hijos","displayName":"Educación Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Plan de retiro","displayName":"Plan de retiro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Qué harían en caso de muerte","displayName":"Qué harían en caso de muerte","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Anotaciones","displayName":"Anotaciones","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Archivos adjuntos","displayName":"Archivos adjuntos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Tares / Eventos","displayName":"Tares / Eventos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Pólizas","displayName":"Pólizas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referidos","displayName":"Referidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referido de","displayName":"Referido de","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Aviso","displayName":"Aviso","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":false},{"id":"Estatus Actualizado","displayName":"Estatus Actualizado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Registro de nuevo cliente","displayName":"Registro de nuevo cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"UltimoAvisoRef","displayName":"UltimoAvisoRef","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"AvisoSemana","displayName":"AvisoSemana","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"AvisoMes","displayName":"AvisoMes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"TotalReferidos","displayName":"TotalReferidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"DueñoReferido","displayName":"DueñoReferido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[640,2656],"id":"e194cf1f-c211-4431-9f2b-fef342438f2f","name":"Update record","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"operation":"fetch-instances","instanceName":"Prueba"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-304,2416],"id":"9927ed95-761a-4ca4-90b7-b29f7d1eabe4","name":"Buscar instancia4","credentials":{"evolutionApi":{"id":"qt6DiGDj5sy5Xuto","name":"Prueba|Temporal"}}},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"Prueba","remoteJid":"=521{{ $('Variables1').item.json['Whatsapp del Dueño'] }}","delay":5000},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[80,2400],"id":"dfe254eb-fe0f-48fa-85c5-2f29f5dec0d3","name":"Enviar presencia a Dueño de Referido1","credentials":{"evolutionApi":{"id":"qt6DiGDj5sy5Xuto","name":"Prueba|Temporal"}}},{"parameters":{"resource":"messages-api","instanceName":"Prueba","remoteJid":"=521{{ $('Variables1').item.json['Whatsapp del Dueño'] }}","messageText":"=¡Hola {{ $('Variables1').item.json['Nombre Dueño del Referido'] }}!\n\nTe informamos que {{ $('Variables1').item.json['Nombre Referido'] }} se ha registrado en nuestro Programa de Referidos. ¡Muchas gracias por ponernos en contacto!\n\nRecuerda que aún puedes seguir registrando a tus referidos para ganar grandes recompenzas en el siguiente link: \n\n","options_message":{"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[272,2400],"id":"9c7ebe13-393c-48e2-92fb-768f2e1d3bbf","name":"Enviar mensaje a dueño de referido2","credentials":{"evolutionApi":{"id":"qt6DiGDj5sy5Xuto","name":"Prueba|Temporal"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e4b2770d-6ee9-435a-a8ca-37c5a7c1c76b","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-112,2416],"id":"6170329d-35fa-4327-91c4-1518f1a508bc","name":"If6"},{"parameters":{"chatId":"5424918901","text":"BERNARDO | Problema con el aviso de registro al Dueño del Referido\nNo se encontró la instancia en línea. ","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-80,2640],"id":"4e7b3967-f62e-4392-915c-7b0f44d4e35c","name":"Mensaje de error: Aviso a Dueño de Referido1","webhookId":"5d9c1eb8-1bd9-4325-9a1c-6255b95aa52e"},{"parameters":{"resource":"messages-api","instanceName":"Prueba","remoteJid":"=521{{ $('Variables1').item.json['Whatsapp del Dueño'] }}","messageText":"={{ $('Variables1').item.json.linkReferidos }}\n\n","options_message":{"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[464,2400],"id":"6b22eb47-c9e6-4bc6-b696-a7fd24318c1c","name":"Enviar mensaje a dueño de referido3","credentials":{"evolutionApi":{"id":"qt6DiGDj5sy5Xuto","name":"Prueba|Temporal"}}},{"parameters":{"content":"## Aviso al dueño del Referido\n","height":128,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-240,3056],"typeVersion":1,"id":"09d1a7f1-3dd5-437d-ae1a-8fed5efb077f","name":"Sticky Note14"},{"parameters":{"content":"## CAMBIO\nEste mensaje se debe enviar desde el número del cliente"},"type":"n8n-nodes-base.stickyNote","position":[-544,3024],"typeVersion":1,"id":"83b286b6-5ba2-4e59-bfc6-d789d078b628","name":"Sticky Note15"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Data: Dueño del Referido1').item.json.id }}","TotalReferidos":"={{ $json.newTotalReferidos }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Apellido","displayName":"Apellido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Whatsapp (Cel)","displayName":"Whatsapp (Cel)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Whatsapp (Validación)","displayName":"Whatsapp (Validación)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Highligts","displayName":"Highligts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Fecha de Nacimiento","displayName":"Fecha de Nacimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Fuma","displayName":"Fuma","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Instrumentos de Ahorro","displayName":"Instrumentos de Ahorro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Rendimientos","displayName":"Rendimientos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Incapacidad","displayName":"Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Seguro de Incapacidad","displayName":"Seguro de Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Hijos","displayName":"Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"0","value":"0"},{"name":"1","value":"1"},{"name":"2","value":"2"},{"name":"3","value":"3"},{"name":"4","value":"4"},{"name":"+5","value":"+5"}],"readOnly":false,"removed":true},{"id":"Educación Hijos","displayName":"Educación Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Plan de retiro","displayName":"Plan de retiro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Qué harían en caso de muerte","displayName":"Qué harían en caso de muerte","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Anotaciones","displayName":"Anotaciones","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Archivos adjuntos","displayName":"Archivos adjuntos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Tares / Eventos","displayName":"Tares / Eventos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Pólizas","displayName":"Pólizas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referidos","displayName":"Referidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referido de","displayName":"Referido de","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Aviso","displayName":"Aviso","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Estatus Actualizado","displayName":"Estatus Actualizado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Registro de nuevo cliente","displayName":"Registro de nuevo cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"TotalReferidos","displayName":"TotalReferidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-688,2896],"id":"b1bd8b18-15bd-41f5-9257-c01769bb119b","name":"Actualizar cantidad de referidos1","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n\n  const currentTotal = $input.first().json.TotalReferidosD\n  const newTotal = parseInt(currentTotal) + 1;\n  item.json.newTotalReferidos = newTotal;\n  \n\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-688,2656],"id":"77a7be4a-c575-4f7f-85a4-9ba1f33bbe3f","name":"CálculoReferidos1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"13f76048-382c-40af-a919-ab75a7f0c0d5","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1104,2416],"id":"35d6051b-46c8-4b85-b617-384038063612","name":"If7"},{"parameters":{"sendTo":"={{ $('Data: Dueño del Referido1').item.json.Mail }}","subject":"Error en registro de referido","message":"=¡Hola, {{ $('Data: Dueño del Referido1').item.json.Nombre }}!\n\nTuvimos un problema al vincular tu referido contigo. Lamentamos mucho los inconvenientes. Por favor, ponte en contacto mediante mail o mensaje de Whatsapp para que nos puedas compartir tus datos.\n\nSaludos cordiales. ","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1136,2736],"id":"51bdef73-3ceb-4624-941f-976b681b0af9","name":"Error: no se encontró el dueño del referido1","webhookId":"6fe54007-bfce-4558-bdcb-17d319f43099"},{"parameters":{"content":"## Aviso a Bernardo\n\nSe le avisa a Bernardo que hay un nuevo registro de referido. \n","color":3},"type":"n8n-nodes-base.stickyNote","position":[-352,2176],"typeVersion":1,"id":"0d3b8887-c7ff-4107-9320-1ab17692968a","name":"Sticky Note16"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1856,2544],"id":"4bb87d2e-809e-4e06-9e07-9595756e664e","name":"Schedule Trigger"},{"parameters":{"content":"## Formulario de página","height":80,"width":384},"type":"n8n-nodes-base.stickyNote","position":[-2592,896],"typeVersion":1,"id":"df487da9-1ea5-4435-affa-133e0bd765da","name":"Sticky Note12"}],"connections":{"Data: Referido":{"main":[[{"node":"Datos de Bernardo","type":"main","index":0}]]},"Data: Dueño del Referido":{"main":[[{"node":"If1","type":"main","index":0}]]},"Variables":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"CálculoReferidos":{"main":[[{"node":"Actualizar cantidad de referidos","type":"main","index":0}]]},"Registro Nuevo Referido":{"main":[[{"node":"Nuevo referido","type":"main","index":0}]]},"Datos de Bernardo":{"main":[[{"node":"If","type":"main","index":0}]]},"Buscar instancia1":{"main":[[{"node":"If2","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"CálculoReferidos","type":"main","index":0},{"node":"Buscar instancia","type":"main","index":0},{"node":"Buscar instancia2","type":"main","index":0}]]},"Buscar instancia":{"main":[[{"node":"If3","type":"main","index":0}]]},"Enviar presencia a Bernardo":{"main":[[{"node":"Enviar mensaje a Bernardo","type":"main","index":0}]]},"Enviar mensaje a referido":{"main":[[{"node":"Enviar mensaje a referido1","type":"main","index":0}]]},"Enviar presencia a referido":{"main":[[{"node":"Enviar mensaje a referido","type":"main","index":0}]]},"Buscar instancia2":{"main":[[{"node":"If4","type":"main","index":0}]]},"Enviar presencia a Dueño de Referido":{"main":[[{"node":"Enviar mensaje a dueño de referido","type":"main","index":0}]]},"Nuevo referido":{"main":[[{"node":"Data: Referido","type":"main","index":0}]]},"If":{"main":[[{"node":"Data: Dueño del Referido","type":"main","index":0}]]},"If1":{"main":[[{"node":"Variables","type":"main","index":0}],[{"node":"Error: no se encontró el dueño del referido","type":"main","index":0}]]},"If2":{"main":[[{"node":"Enviar presencia a referido","type":"main","index":0}]]},"If3":{"main":[[{"node":"Enviar presencia a Bernardo","type":"main","index":0}],[{"node":"Mensaje de error: Aviso a Bernardo","type":"main","index":0}]]},"If4":{"main":[[{"node":"Enviar presencia a Dueño de Referido","type":"main","index":0}],[{"node":"Mensaje de error: Aviso a Dueño de Referido","type":"main","index":0}]]},"Enviar mensaje a dueño de referido":{"main":[[{"node":"Enviar mensaje a dueño de referido1","type":"main","index":0}]]},"Enviar mensaje a Bernardo":{"main":[[{"node":"Update record1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Datos del referido","type":"main","index":0}]]},"Datos del referido":{"main":[[{"node":"Datos de Bernardo1","type":"main","index":0}]]},"Datos de Bernardo1":{"main":[[{"node":"Data: Dueño del Referido1","type":"main","index":0}]]},"Data: Dueño del Referido1":{"main":[[{"node":"If7","type":"main","index":0}]]},"Variables1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Buscar instancia3":{"main":[[{"node":"If5","type":"main","index":0}]]},"Enviar presencia a Bernardo1":{"main":[[{"node":"Enviar mensaje a Bernardo1","type":"main","index":0}]]},"Enviar mensaje a Bernardo1":{"main":[[{"node":"Update record","type":"main","index":0}]]},"If5":{"main":[[{"node":"Enviar presencia a Bernardo1","type":"main","index":0}],[{"node":"Mensaje de error: Aviso a Bernardo1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Buscar instancia3","type":"main","index":0},{"node":"Buscar instancia4","type":"main","index":0},{"node":"CálculoReferidos1","type":"main","index":0}]]},"Buscar instancia4":{"main":[[{"node":"If6","type":"main","index":0}]]},"Enviar presencia a Dueño de Referido1":{"main":[[{"node":"Enviar mensaje a dueño de referido2","type":"main","index":0}]]},"Enviar mensaje a dueño de referido2":{"main":[[{"node":"Enviar mensaje a dueño de referido3","type":"main","index":0}]]},"If6":{"main":[[{"node":"Enviar presencia a Dueño de Referido1","type":"main","index":0}],[{"node":"Mensaje de error: Aviso a Dueño de Referido1","type":"main","index":0}]]},"CálculoReferidos1":{"main":[[{"node":"Actualizar cantidad de referidos1","type":"main","index":0}]]},"If7":{"main":[[{"node":"Variables1","type":"main","index":0}],[{"node":"Error: no se encontró el dueño del referido1","type":"main","index":0}]]},"Update record":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"0db7c7c1-740d-46b1-bb55-f18b4d77cd1f","activeVersionId":null,"versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2026-01-05T04:57:22.257Z","createdAt":"2026-01-05T04:57:22.257Z","role":"workflow:owner","workflowId":"QKyLRFFL0L9UCYVp","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[],"activeVersion":null}