workflows/KiroxOn _ n8nBackup P2--weKXuiHdXECWjuhK.json
{"updatedAt":"2026-01-06T23:35:43.259Z","createdAt":"2026-01-05T23:15:42.283Z","id":"weKXuiHdXECWjuhK","name":"KiroxOn | n8nBackup P2","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-480,368],"id":"eea08f5b-b8b4-429d-9456-ad46719259dc","name":"Nodo de prueba"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[640,240],"id":"a5969c59-13df-459c-aed7-9d961ba72763","name":"Listar flujos de trabajo","credentials":{"n8nApi":{"id":"aUUwhycPIsZSZSoQ","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[944,240],"id":"fdfece2b-0f0d-4bd7-a684-d2ac105cb0af","name":"Uno por uno"},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1232,256],"id":"06f5efef-ddb8-4b2a-80be-51188ecf09fd","name":"Get a workflow","credentials":{"n8nApi":{"id":"aUUwhycPIsZSZSoQ","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-272,240],"id":"07765d94-18e3-426d-9c7a-8ef040f1c78d","name":"Get date"},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"yyyy/MM/dd","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-64,240],"id":"c0657812-8c42-4306-a8d6-bbb7777b41bd","name":"Date format"},{"parameters":{"resource":"fileFolder","queryString":"BACKUPN8N","filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[144,240],"id":"65655ecf-8e52-41e1-a974-e8416e187f1e","name":"Search BACKUPN8N","credentials":{"googleDriveOAuth2Api":{"id":"Sht78E6Qgvqib2u5","name":"KiroxON | Drive"}}},{"parameters":{"resource":"folder","name":"={{ $('Date format').item.json.formattedDate }}N8N","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1xA9SgKwxubUgERIIDhZHcRcsKFP2fgxR","mode":"list","cachedResultName":"BACKUPN8N","cachedResultUrl":"https://drive.google.com/drive/folders/1xA9SgKwxubUgERIIDhZHcRcsKFP2fgxR"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[400,240],"id":"6fd03996-8adf-4bc5-ab71-fcb87bc401b8","name":"Backup Folder","credentials":{"googleDriveOAuth2Api":{"id":"Sht78E6Qgvqib2u5","name":"KiroxON | Drive"}}},{"parameters":{"name":"=","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Backup Folder').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1680,256],"id":"edcc5d3b-24bd-4588-b4a6-7589afb8c693","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"Sht78E6Qgvqib2u5","name":"KiroxON | Drive"}}},{"parameters":{"operation":"toJson","mode":"each","binaryPropertyName":"=data","options":{"encoding":"utf8","fileName":"={{ $json.name }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1472,256],"id":"f4aec5bd-a1c4-43f1-a157-d7edb4c3f077","name":"Convert to File"},{"parameters":{"content":"## Optimizaciones\n**No tendría que pasar, pero verificar que la carpeta nueva de backups no exista previamente"},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"28528741-e4fa-4a88-bdcf-0068e2aa2ac6","name":"Sticky Note"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[5]}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-496,176],"id":"1c0c7efc-abbe-4ad7-9334-3868b3b663a6","name":"Schedule Trigger"}],"connections":{"Nodo de prueba":{"main":[[{"node":"Get date","type":"main","index":0}]]},"Listar flujos de trabajo":{"main":[[{"node":"Uno por uno","type":"main","index":0}]]},"Uno por uno":{"main":[[],[{"node":"Get a workflow","type":"main","index":0}]]},"Get a workflow":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Get date":{"main":[[{"node":"Date format","type":"main","index":0}]]},"Date format":{"main":[[{"node":"Search BACKUPN8N","type":"main","index":0}]]},"Search BACKUPN8N":{"main":[[{"node":"Backup Folder","type":"main","index":0}]]},"Backup Folder":{"main":[[{"node":"Listar flujos de trabajo","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Uno por uno","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get date","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"23916a0a-6979-4ac0-a755-404537af6308","activeVersionId":"23916a0a-6979-4ac0-a755-404537af6308","versionCounter":8,"triggerCount":1,"shared":[{"updatedAt":"2026-01-05T23:15:42.289Z","createdAt":"2026-01-05T23:15:42.289Z","role":"workflow:owner","workflowId":"weKXuiHdXECWjuhK","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-06T23:35:46.000Z","createdAt":"2026-01-06T23:35:43.260Z","versionId":"23916a0a-6979-4ac0-a755-404537af6308","workflowId":"weKXuiHdXECWjuhK","nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-480,368],"id":"eea08f5b-b8b4-429d-9456-ad46719259dc","name":"Nodo de prueba"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[640,240],"id":"a5969c59-13df-459c-aed7-9d961ba72763","name":"Listar flujos de trabajo","credentials":{"n8nApi":{"id":"aUUwhycPIsZSZSoQ","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[944,240],"id":"fdfece2b-0f0d-4bd7-a684-d2ac105cb0af","name":"Uno por uno"},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1232,256],"id":"06f5efef-ddb8-4b2a-80be-51188ecf09fd","name":"Get a workflow","credentials":{"n8nApi":{"id":"aUUwhycPIsZSZSoQ","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-272,240],"id":"07765d94-18e3-426d-9c7a-8ef040f1c78d","name":"Get date"},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"yyyy/MM/dd","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-64,240],"id":"c0657812-8c42-4306-a8d6-bbb7777b41bd","name":"Date format"},{"parameters":{"resource":"fileFolder","queryString":"BACKUPN8N","filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[144,240],"id":"65655ecf-8e52-41e1-a974-e8416e187f1e","name":"Search BACKUPN8N","credentials":{"googleDriveOAuth2Api":{"id":"Sht78E6Qgvqib2u5","name":"KiroxON | Drive"}}},{"parameters":{"resource":"folder","name":"={{ $('Date format').item.json.formattedDate }}N8N","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1xA9SgKwxubUgERIIDhZHcRcsKFP2fgxR","mode":"list","cachedResultName":"BACKUPN8N","cachedResultUrl":"https://drive.google.com/drive/folders/1xA9SgKwxubUgERIIDhZHcRcsKFP2fgxR"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[400,240],"id":"6fd03996-8adf-4bc5-ab71-fcb87bc401b8","name":"Backup Folder","credentials":{"googleDriveOAuth2Api":{"id":"Sht78E6Qgvqib2u5","name":"KiroxON | Drive"}}},{"parameters":{"name":"=","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Backup Folder').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1680,256],"id":"edcc5d3b-24bd-4588-b4a6-7589afb8c693","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"Sht78E6Qgvqib2u5","name":"KiroxON | Drive"}}},{"parameters":{"operation":"toJson","mode":"each","binaryPropertyName":"=data","options":{"encoding":"utf8","fileName":"={{ $json.name }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1472,256],"id":"f4aec5bd-a1c4-43f1-a157-d7edb4c3f077","name":"Convert to File"},{"parameters":{"content":"## Optimizaciones\n**No tendría que pasar, pero verificar que la carpeta nueva de backups no exista previamente"},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"28528741-e4fa-4a88-bdcf-0068e2aa2ac6","name":"Sticky Note"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[5]}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-496,176],"id":"1c0c7efc-abbe-4ad7-9334-3868b3b663a6","name":"Schedule Trigger"}],"connections":{"Nodo de prueba":{"main":[[{"node":"Get date","type":"main","index":0}]]},"Listar flujos de trabajo":{"main":[[{"node":"Uno por uno","type":"main","index":0}]]},"Uno por uno":{"main":[[],[{"node":"Get a workflow","type":"main","index":0}]]},"Get a workflow":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Get date":{"main":[[{"node":"Date format","type":"main","index":0}]]},"Date format":{"main":[[{"node":"Search BACKUPN8N","type":"main","index":0}]]},"Search BACKUPN8N":{"main":[[{"node":"Backup Folder","type":"main","index":0}]]},"Backup Folder":{"main":[[{"node":"Listar flujos de trabajo","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Uno por uno","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get date","type":"main","index":0}]]}},"authors":"Admin KiroxOn","name":"Version 23916a0a","description":"","workflowPublishHistory":[{"createdAt":"2026-01-06T23:35:46.733Z","id":5,"workflowId":"weKXuiHdXECWjuhK","versionId":"23916a0a-6979-4ac0-a755-404537af6308","event":"activated","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629"}]}}