workflows/KiroxON _ Clientes Leads Opt P2--Jk5qA9pkRhhR2cnt.json
{"updatedAt":"2026-01-05T23:18:41.000Z","createdAt":"2026-01-05T23:18:41.531Z","id":"Jk5qA9pkRhhR2cnt","name":"KiroxON | Clientes Leads Opt P2","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"modelId":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"GPT-4"},"messages":{"values":[{"content":"=Información del Sitio web: {{ $json.cleaned_text }}"},{"content":"Eres un asistente experto en análisis empresarial. \nTu tarea es leer la información obtenida del sitio web proporcionado y devolver EXCLUSIVAMENTE un JSON válido con tres variables:\n\n{\n  \"Producto o Servicio\": \"\",\n  \"Beneficios\": \"\",\n  \"Propuesta de Valor\": \"\"\n}\n\n⚠️ Reglas. Debes optimiza y enriquece cada campo, pero:\n- NO inventes información.\n- Usa únicamente lo que aparezca en el sitio web.\n- Cada variable debe ser texto plano, no arrays ni listas.\n- Resume la información de forma clara y concisa en una sola línea de texto.\n- Si no hay información disponible para alguna variable, escribe: \"No especificado en el sitio\".\n- Devuelve SOLO el JSON, sin explicaciones adicionales, texto previo o posterior.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[832,0],"id":"5f2ed4b1-9675-418c-a44a-c0ad54645ba4","name":"Message a model"},{"parameters":{"jsCode":"const raw = $json[\"textContent\"];\n\n// 1. Reemplazar múltiples espacios y saltos de línea con uno solo\nlet clean = raw.replace(/\\n+/g, '\\n');        // Compactar saltos de línea\nclean = clean.replace(/\\s{2,}/g, ' ');        // Espacios dobles en uno solo\nclean = clean.replace(/^\\s+|\\s+$/gm, '');     // Quitar espacios al inicio y fin de línea\n\n// 2. Opcional: eliminar líneas vacías\nclean = clean.split('\\n').filter(line => line.trim() !== '').join('\\n');\n\n// 3. Limitar el texto a X caracteres si es necesario\nconst maxLength = 4000;\nif (clean.length > maxLength) {\n  clean = clean.substring(0, maxLength) + '... [contenido truncado]';\n}\n\nreturn [{ cleaned_text: clean }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,0],"id":"bdffcb27-e5e2-40ac-ab8b-2f5e36c6a0f3","name":"limpiarSitio"},{"parameters":{"html":"={{ $json.data }}"},"type":"n8n-nodes-webpage-content-extractor.webpageContentExtractor","typeVersion":1,"position":[416,0],"id":"ffd31d1f-2f27-44cc-8633-24417c3bba08","name":"extractSitio"},{"parameters":{"url":"=https://{{ $json['Sitio Web'].replace(/^https?:\\/\\//, '') }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,0],"id":"9e82c78c-af07-4d24-9ee1-2097fb2310ec","name":"leerSitio"},{"parameters":{"jsCode":"// n8n Code node\n\nfunction safeParse(str) {\n  try {\n    return JSON.parse(str);\n  } catch (e) {\n    return {};\n  }\n}\n\nconst results = [];\n\nfor (const item of items) {\n  let content = item.json;\n\n  // Si viene con la estructura del Agente IA\n  if (content.message && content.message.content) {\n    content = content.message.content;\n  }\n\n  // Si viene como string, intenta parsear\n  if (typeof content === \"string\") {\n    const match = content.match(/\\{[\\s\\S]*\\}/);\n    if (match) {\n      content = safeParse(match[0]);\n    }\n  }\n\n  // Validación final: aseguramos las 3 variables como string\n  const cleaned = {\n    \"Producto o Servicio\": content?.[\"Producto o Servicio\"] || \"No especificado\",\n    \"Beneficios\": content?.[\"Beneficios\"] || \"No especificado\",\n    \"Propuesta de Valor\": content?.[\"Propuesta de Valor\"] || \"No especificado\"\n  };\n\n  results.push({ json: cleaned });\n}\n\nreturn results;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1184,0],"id":"73ad4bad-8d25-4a59-9076-3c182a2c072a","name":"Code in JavaScript"},{"parameters":{"formTitle":"Fábrica de Leads","formDescription":"Define el Servicio, Beneficios y Propuesta de valr","formFields":{"values":[{"fieldLabel":"Cliente","requiredField":true},{"fieldLabel":"Nombre","requiredField":true},{"fieldLabel":"Cargo","requiredField":true},{"fieldLabel":"Whatsapp (En formato internacional)","fieldType":"number","placeholder":"525512345678","requiredField":true},{"fieldLabel":"Sitio Web","placeholder":"www.tusitio.com","requiredField":true},{"fieldLabel":"Brochure","placeholder":"Link al documento"},{"fieldLabel":"Base"},{"fieldLabel":"Leads Reach"},{"fieldLabel":"Backlog"}]},"options":{"appendAttribution":false,"ignoreBots":true}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[0,0],"id":"d7260ee0-6bd4-4f3c-8d30-1eb8129fb086","name":"form","webhookId":"3e90041a-114c-4e15-9c3c-43fe39945abe"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appoIrpJlprLtsUFF","mode":"list","cachedResultName":"KiroxON Leads","cachedResultUrl":"https://airtable.com/appoIrpJlprLtsUFF"},"table":{"__rl":true,"value":"tblzPRsNmPuFKgaqp","mode":"list","cachedResultName":"Clientes","cachedResultUrl":"https://airtable.com/appoIrpJlprLtsUFF/tblzPRsNmPuFKgaqp"},"columns":{"mappingMode":"defineBelow","value":{"Cliente":"={{ $node[\"form\"].json.Cliente }}","Nombre":"={{ $node[\"form\"].json.Nombre }}","Cargo":"={{ $node[\"form\"].json.Cargo }}","Whatsapp":"=https://wa.me/{{ $node[\"form\"].json['Whatsapp (En formato internacional)'] }}","sitioWeb":"={{ $node[\"form\"].json['Sitio Web'] }}","Brochure":"={{ $node[\"form\"].json.Brochure }}","Base":"={{ $node[\"form\"].json.Base }}","leadsReach":"={{ $node[\"form\"].json['Leads Reach'] }}","Backlog":"={{ $node[\"form\"].json.Backlog }}","Servicio":"={{ $json['Producto o Servicio'] }}","Beneficios":"={{ $json.Beneficios }}","propuestaValor":"={{ $json['Propuesta de Valor'] }}"},"matchingColumns":[],"schema":[{"id":"Cliente","displayName":"Cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Cargo","displayName":"Cargo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Whatsapp","displayName":"Whatsapp","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"sitioWeb","displayName":"sitioWeb","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Brochure","displayName":"Brochure","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Base","displayName":"Base","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"leadsReach","displayName":"leadsReach","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Backlog","displayName":"Backlog","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Servicio","displayName":"Servicio","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Beneficios","displayName":"Beneficios","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"propuestaValor","displayName":"propuestaValor","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1392,0],"id":"eef0ce0a-1499-496c-ae41-af2eeec3ebb4","name":"registro"}],"connections":{"limpiarSitio":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"extractSitio":{"main":[[{"node":"limpiarSitio","type":"main","index":0}]]},"leerSitio":{"main":[[{"node":"extractSitio","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"registro","type":"main","index":0}]]},"form":{"main":[[{"node":"leerSitio","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ca174241-8216-4ba8-84c5-09fa115c6e1d","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-01-05T23:18:41.537Z","createdAt":"2026-01-05T23:18:41.537Z","role":"workflow:owner","workflowId":"Jk5qA9pkRhhR2cnt","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[{"updatedAt":"2026-01-05T04:45:25.095Z","createdAt":"2026-01-05T04:45:25.095Z","id":"PdQTwVw5NnLaxkX0","name":"Leads"}],"activeVersion":null}