workflows/Linkedin_Leeds P1--b0S7TPd8QquYzxO2.json
{"updatedAt":"2026-02-09T15:18:07.076Z","createdAt":"2026-01-05T04:52:16.436Z","id":"b0S7TPd8QquYzxO2","name":"Linkedin_Leeds P1","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-160,960],"id":"f26399d5-df8f-4466-89f3-368ac0ec50bd","name":"Inicio para pruebas"},{"parameters":{"content":"## Envío de mensaje a leeds\n\n* El primer mensaje \"Icebreaker\" será creado con un agente de IA para su personalización, los demás seguirán un template de Dux-soup para el primer MVP\n*Los mensajes 2 y 3 serán entregados y manejados por Dux-soup\n","height":480,"width":960},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"0bc61462-e15d-42f7-bd3f-87dd39f4df4a","name":"Sticky Note"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appHYYUhdVsnIj5as","mode":"list","cachedResultName":"Madema","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as"},"table":{"__rl":true,"value":"tblBMiSnMsa4rVuh5","mode":"list","cachedResultName":"LinkedinLeedsDux","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as/tblBMiSnMsa4rVuh5"},"filterByFormula":"=AND(\n  {Mensaje Linkedin} = \"No enviado\",\n  {NoMensaje} = \"Sin mensaje\",\n  OR(\n    {Error de envío} = \"Ninguno\",\n    {Error de envío} = \"Snooze\"\n  ),\n  OR(\n    {ESTATUS} = \"Mail 3\",\n    {ESTATUS} = \"Mail no válido (mail)\",\n    {ESTATUS} = \"Mail no válido (mailboxlayer)\"\n  )\n)\n\n\n","returnAll":false,"limit":4,"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[848,800],"id":"83ddfc3a-9f8d-4a2f-ba55-db1eab5f4add","name":"Búsqueda de leeds","executeOnce":true,"credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"GPT-4.1-NANO"},"messages":{"values":[{"content":"=Eres el mejor vendedor del mundo, experto en comunicación persuasiva, ventas consultivas y conexión humana.\n\nTu tarea es redactar un mensaje breve y profesional para enviar por LinkedIn.\n\nReglas:\n1. Saluda por nombre de pila con inicial mayúscula.\n2. Asigna género de acuerdo a conexto, sino utiliza un género neutro.\n3. Muestra interés real por la trayectoria o puesto.\n4. Conecta la propuesta de valor con su rol.\n5. Incluye una invitación breve a conversar.\n6. No incluyas nada si la información no existe.\n7. Usa tono humano, profesional y cálido.\n8. **El mensaje total debe tener máximo 250 caracteres, incluidos espacios. NO lo excedas.**\n9. Cuenta dos veces para verificar el tamaño del mensaje que no debe tener más de 250 caracteres\n\nResponde SOLO con el mensaje final, sin explicaciones, sin análisis, sin proceso interno.\n\n"},{"content":"=Datos para generar el mensaje:\n\n- Nombre: {{ $json.NOMBRE }}\n- Puesto: {{ $json.CARGO }}\n- Empresa: {{ $json.EMPRESA }}\n- Industria: {{ $json.INDUSTRIA }}\n- Propuesta de valor:{{ $('clienteVar').item.json.propuestaValor }}\n- Usuario que envía: {{ $('Cliente').item.json.Nombre }}\n- LINK: {{ $json['LINKEDIN URL'] }}","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1120,816],"id":"6b6d4573-bc71-4ad7-b70e-604ebbc94f8c","name":"Icebreaker","credentials":{"openAiApi":{"id":"bJgGA8hIumaSAysH","name":"KiroxON|OpenAi account"}}},{"parameters":{"method":"POST","url":"https://eoz0vvu5jmfvua2.m.pipedream.net","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"=","body":"={{ JSON.stringify({\n    \"icebreakerText\": $json.message.content,\n    \"link\": $node[\"Búsqueda de leeds\"].json[\"LINKEDIN URL\"]\n}) }}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1712,704],"id":"113b0f92-c3d0-4268-aced-6adc04fe459a","name":"Puente de conexión con Dux-Soup"},{"parameters":{"method":"POST","url":"https://app.dux-soup.com/xapi/remote/control/108459734050401310629/queue","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Dux-Signature","value":"={{ $json.duxSoupSignature }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{$json.duxSoupBody}}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1888,704],"id":"1b7bd284-f121-4133-97ef-d9519526db4f","name":"Conexión con DUX","alwaysOutputData":false,"notesInFlow":false,"executeOnce":false,"retryOnFail":false},{"parameters":{"content":"## Optimizaciones futuras\n\n1)Revisar el alcance de pipedream\n","height":144,"width":368,"color":3},"type":"n8n-nodes-base.stickyNote","position":[32,224],"typeVersion":1,"id":"4119e8f7-97ab-4ac0-bee5-4069cc7f1439","name":"Sticky Note1"},{"parameters":{"assignments":{"assignments":[{"id":"59b03f17-220e-4474-8b91-db49f9b859d5","name":"Cliente","value":"Madema","type":"string"},{"id":"f769229f-796d-47bf-8fee-77b63f21d09f","name":"airtableBD","value":"appoIrpJlprLtsUFF","type":"string"},{"id":"06f2cbd4-0cbc-42cc-8da4-b6a12967fcf2","name":"Clientes_Variables","value":"tblzPRsNmPuFKgaqp","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,768],"id":"2e42b818-f39d-4a81-bc3a-ad87328d070a","name":"masterVar"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appHYYUhdVsnIj5as","mode":"list","cachedResultName":"Madema","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as"},"table":{"__rl":true,"value":"tblXSr8JzKfLPXv6b","mode":"list","cachedResultName":"leadsReach","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as/tblXSr8JzKfLPXv6b"},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[320,752],"id":"3072b07b-dbce-4041-afee-e61338b4415c","name":"Cliente","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"assignments":{"assignments":[{"id":"45406798-3793-4e2a-bf02-64749bb8d758","name":"Base","value":"={{ $json.Base }}","type":"string"},{"id":"15b6cfbe-7968-4bd2-83b0-5a95f7539644","name":"LinkedinLeeds","value":"={{ $json.LinkedinLeeds }}","type":"string"},{"id":"ef937799-b34d-4e63-b23f-c9f95e9e105a","name":"Cliente","value":"={{ $json.Cliente }}","type":"string"},{"id":"be818248-53a5-432e-b08b-537768e04501","name":"Nombre","value":"={{ $json.Nombre }}","type":"string"},{"id":"25688b6c-7bb8-40ed-8112-38f3eb631efb","name":"Cargo","value":"={{ $json.Cargo }}","type":"string"},{"id":"117595c4-770f-48b8-9a5e-0f64b29aed1e","name":"sitioWeb","value":"={{ $json.sitioWeb }}","type":"string"},{"id":"84512513-1084-41fe-898a-2651fce1d223","name":"Whatsapp","value":"={{ $json.Whatsapp }}","type":"string"},{"id":"9706e279-bdf0-458e-8e04-7fe916f12c3e","name":"Brochure","value":"={{ $json.Brochure }}","type":"string"},{"id":"254e7d34-eb70-4df5-be23-482455393221","name":"Servicio","value":"={{ $json.Servicio }}","type":"string"},{"id":"9f40f5fd-3ddf-4215-bf4a-8e09f15bb946","name":"Beneficios","value":"={{ $json.Beneficios }}","type":"string"},{"id":"1a68c967-74fc-4d14-8fe7-df11aeca9e73","name":"propuestaValor","value":"={{ $json.propuestaValor }}","type":"string"},{"id":"cd550533-801a-4a75-95da-bea19fc1c0f8","name":"Backlog","value":"={{ $json.Backlog }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[528,784],"id":"8150a061-1ff6-40c6-835f-6ec87af60b68","name":"clienteVar"},{"parameters":{"jsCode":"// Definimos el límite de caracteres para Dux-Soup\nconst LIMITE_CARACTERES = 200;\n\n// Iteramos sobre todos los items que entran al nodo\nfor (const item of $input.all()) {\n  // Asumimos que el mensaje del AI Agent está en item.json.message.content\n\n\n  // 1. Obtenemos el texto generado.\n  let mensajeGenerado = item.json.content; \n\n  // 2. Verificamos si el mensaje existe y su longitud\n  if (mensajeGenerado && mensajeGenerado.length > LIMITE_CARACTERES) {\n    \n    // Si excede el límite (ej. 229 > 200), truncamos\n    // Cortamos a 197 caracteres para dejar espacio para los 3 puntos (...)\n    let mensajeTruncado = mensajeGenerado.substring(0, LIMITE_CARACTERES - 3) + '...';\n    \n    // 3. Almacenamos el mensaje cortado en un NUEVO campo de salida\n    // (Asegúrate de usar este nuevo campo en tu nodo de Airtable/Dux-Soup)\n    item.json.mensaje_dux_final = mensajeTruncado;\n    \n  } else {\n    // Si es igual o más corto, lo pasamos sin cambios\n    item.json.mensaje_dux_final = mensajeGenerado;\n  }\n}\n\n// Devolvemos los items procesados\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,704],"id":"551353fd-66b1-410c-a0c9-ceaf0eef1b75","name":"Truncamiento"},{"parameters":{"content":"## Cliente\nSe extrae información del cliente","height":208,"width":384},"type":"n8n-nodes-base.stickyNote","position":[112,672],"typeVersion":1,"id":"107886a1-2f44-43b0-b740-fb42f3f3b230","name":"Sticky Note2"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1,2,3,4,5],"triggerAtHour":11,"triggerAtMinute":2},{"field":"weeks","triggerAtDay":[1,2,3,4,5],"triggerAtHour":10,"triggerAtMinute":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-128,688],"id":"5be55141-e1a2-4cc8-9c51-3b8c7c98c684","name":"Schedule Trigger"},{"parameters":{"content":"## Extracción de Leeds\n**Se extraen leeds para la creación del mensaje de solicitud de conexión. ","height":256,"width":272,"color":4},"type":"n8n-nodes-base.stickyNote","position":[768,688],"typeVersion":1,"id":"6258d053-f29c-4a9a-aeda-497127decf31","name":"Sticky Note3"},{"parameters":{"content":"## Envío\n**Envío a la campaña de Dux-Soup","height":304,"width":400,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1632,608],"typeVersion":1,"id":"2090c6d4-2db0-46af-b581-35c78c52cb10","name":"Sticky Note4"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appHYYUhdVsnIj5as","mode":"list","cachedResultName":"Madema","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as"},"table":{"__rl":true,"value":"tblBMiSnMsa4rVuh5","mode":"list","cachedResultName":"LinkedinLeedsDux","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as/tblBMiSnMsa4rVuh5"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Búsqueda de leeds').item.json.id }}","Mensaje Linkedin":"En campaña","NoMensaje":"Mensaje 1"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"DESCRIPCIÓN EMPRESA","displayName":"DESCRIPCIÓN EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA LINKEDIN URL","displayName":"EMPRESA LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Por Validar","value":"Por Validar"},{"name":"Mail Valido","value":"Mail Valido"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"},{"name":"Mail no válido (mail)","value":"Mail no válido (mail)"},{"name":"Mail no válido (mailboxlayer)","value":"Mail no válido (mailboxlayer)"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Lead Calificado","value":"Lead Calificado"},{"name":"Vacaciones","value":"Vacaciones"}],"readOnly":false,"removed":true},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Mensaje Linkedin","displayName":"Mensaje Linkedin","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"No enviado","value":"No enviado"},{"name":"Finalizado","value":"Finalizado"},{"name":"En campaña","value":"En campaña"}],"readOnly":false,"removed":false},{"id":"NoMensaje","displayName":"NoMensaje","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sin mensaje","value":"Sin mensaje"},{"name":"Mensaje 1","value":"Mensaje 1"},{"name":"Mensaje 2","value":"Mensaje 2"},{"name":"Mensaje 3","value":"Mensaje 3"}],"readOnly":false,"removed":false},{"id":"Respuesta","displayName":"Respuesta","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Conexión","displayName":"Conexión","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"none","value":"none"},{"name":"Aceptada","value":"Aceptada"}],"readOnly":false,"removed":true},{"id":"Error de envío","displayName":"Error de envío","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Ninguno","value":"Ninguno"},{"name":"Error","value":"Error"},{"name":"Blacklisted","value":"Blacklisted"},{"name":"Snooze","value":"Snooze"}],"readOnly":false,"removed":true},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Mail 1","displayName":"Mail 1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail 2","displayName":"Mail 2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail 3","displayName":"Mail 3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2256,704],"id":"b7b6cfa6-ac82-4107-94aa-2ff37a95cfa6","name":"Update record","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}}],"connections":{"Inicio para pruebas":{"main":[[{"node":"masterVar","type":"main","index":0}]]},"Búsqueda de leeds":{"main":[[{"node":"Icebreaker","type":"main","index":0}]]},"Icebreaker":{"main":[[{"node":"Truncamiento","type":"main","index":0}]]},"Puente de conexión con Dux-Soup":{"main":[[{"node":"Conexión con DUX","type":"main","index":0}]]},"masterVar":{"main":[[{"node":"Cliente","type":"main","index":0}]]},"Cliente":{"main":[[{"node":"clienteVar","type":"main","index":0}]]},"clienteVar":{"main":[[{"node":"Búsqueda de leeds","type":"main","index":0}]]},"Truncamiento":{"main":[[{"node":"Puente de conexión con Dux-Soup","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"masterVar","type":"main","index":0}]]},"Conexión con DUX":{"main":[[{"node":"Update record","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","timezone":"America/Mexico_City","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b3b05116-54b1-4bf1-b238-ac1e642c0c52","activeVersionId":"53ff0f01-76b3-4686-afa9-78b7de80f5bd","versionCounter":39,"triggerCount":1,"shared":[{"updatedAt":"2026-01-05T04:52:16.439Z","createdAt":"2026-01-05T04:52:16.439Z","role":"workflow:owner","workflowId":"b0S7TPd8QquYzxO2","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-06T01:59:55.000Z","createdAt":"2026-02-06T01:59:51.810Z","versionId":"53ff0f01-76b3-4686-afa9-78b7de80f5bd","workflowId":"b0S7TPd8QquYzxO2","nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-160,960],"id":"f26399d5-df8f-4466-89f3-368ac0ec50bd","name":"Inicio para pruebas"},{"parameters":{"content":"## Envío de mensaje a leeds\n\n* El primer mensaje \"Icebreaker\" será creado con un agente de IA para su personalización, los demás seguirán un template de Dux-soup para el primer MVP\n*Los mensajes 2 y 3 serán entregados y manejados por Dux-soup\n","height":480,"width":960},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"0bc61462-e15d-42f7-bd3f-87dd39f4df4a","name":"Sticky Note"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appHYYUhdVsnIj5as","mode":"list","cachedResultName":"Madema","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as"},"table":{"__rl":true,"value":"tblBMiSnMsa4rVuh5","mode":"list","cachedResultName":"LinkedinLeedsDux","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as/tblBMiSnMsa4rVuh5"},"filterByFormula":"=AND({Mensaje Linkedin} = 'No enviado',\n    {NoMensaje} = 'Sin mensaje',\n        OR({Error de envío} = 'Ninguno',\n            {Error de envío} = 'Snooze'\n            ),\n        \n          OR({ESTATUS} = 'Mail 3',\n              {ESTATUS} = 'Mail no válido (mail)',\n              {ESTATUS} = 'Mail no válido (mailboxlayer)'\n\n        )\n\n)\n\n\n\n","returnAll":false,"limit":4,"options":{},"sort":{"property":[{"field":"=ID"}]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[816,816],"id":"83ddfc3a-9f8d-4a2f-ba55-db1eab5f4add","name":"Búsqueda de leeds","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"GPT-4.1-NANO"},"messages":{"values":[{"content":"=Eres el mejor vendedor del mundo, experto en comunicación persuasiva, ventas consultivas y conexión humana.\n\nTu tarea es redactar un mensaje breve y profesional para enviar por LinkedIn.\n\nReglas:\n1. Saluda por nombre de pila con inicial mayúscula.\n2. Asigna género de acuerdo a conexto, sino utiliza un género neutro.\n3. Muestra interés real por la trayectoria o puesto.\n4. Conecta la propuesta de valor con su rol.\n5. Incluye una invitación breve a conversar.\n6. No incluyas nada si la información no existe.\n7. Usa tono humano, profesional y cálido.\n8. **El mensaje total debe tener máximo 250 caracteres, incluidos espacios. NO lo excedas.**\n9. Cuenta dos veces para verificar el tamaño del mensaje que no debe tener más de 250 caracteres\n\nResponde SOLO con el mensaje final, sin explicaciones, sin análisis, sin proceso interno.\n\n"},{"content":"=Datos para generar el mensaje:\n\n- Nombre: {{ $json.NOMBRE }}\n- Puesto: {{ $json.CARGO }}\n- Empresa: {{ $json.EMPRESA }}\n- Industria: {{ $json.INDUSTRIA }}\n- Propuesta de valor:{{ $('clienteVar').item.json.propuestaValor }}\n- Usuario que envía: {{ $('Cliente').item.json.Nombre }}\n- LINK: {{ $json['LINKEDIN URL'] }}","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1120,816],"id":"6b6d4573-bc71-4ad7-b70e-604ebbc94f8c","name":"Icebreaker","credentials":{"openAiApi":{"id":"bJgGA8hIumaSAysH","name":"KiroxON|OpenAi account"}}},{"parameters":{"method":"POST","url":"https://eoz0vvu5jmfvua2.m.pipedream.net","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"=","body":"={{ JSON.stringify({\n    \"icebreakerText\": $json.message.content,\n    \"link\": $node[\"Búsqueda de leeds\"].json[\"LINKEDIN URL\"]\n}) }}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1744,704],"id":"113b0f92-c3d0-4268-aced-6adc04fe459a","name":"Puente de conexión con Dux-Soup"},{"parameters":{"method":"POST","url":"https://app.dux-soup.com/xapi/remote/control/108459734050401310629/queue","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Dux-Signature","value":"={{ $json.duxSoupSignature }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{$json.duxSoupBody}}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1936,704],"id":"1b7bd284-f121-4133-97ef-d9519526db4f","name":"Conexión con DUX","alwaysOutputData":false,"notesInFlow":false,"executeOnce":false,"retryOnFail":false},{"parameters":{"content":"## Optimizaciones futuras\n\n1)Revisar el alcance de pipedream\n","height":144,"width":368,"color":3},"type":"n8n-nodes-base.stickyNote","position":[32,224],"typeVersion":1,"id":"4119e8f7-97ab-4ac0-bee5-4069cc7f1439","name":"Sticky Note1"},{"parameters":{"assignments":{"assignments":[{"id":"59b03f17-220e-4474-8b91-db49f9b859d5","name":"Cliente","value":"Madema","type":"string"},{"id":"f769229f-796d-47bf-8fee-77b63f21d09f","name":"airtableBD","value":"appoIrpJlprLtsUFF","type":"string"},{"id":"06f2cbd4-0cbc-42cc-8da4-b6a12967fcf2","name":"Clientes_Variables","value":"tblzPRsNmPuFKgaqp","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[144,784],"id":"2e42b818-f39d-4a81-bc3a-ad87328d070a","name":"masterVar"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $json.airtableBD }}","mode":"id"},"table":{"__rl":true,"value":"={{ $json.Clientes_Variables }}","mode":"id"},"filterByFormula":"={{ '{Cliente} = \"' + $json.Cliente + '\"' }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[320,784],"id":"3072b07b-dbce-4041-afee-e61338b4415c","name":"Cliente","credentials":{"airtableTokenApi":{"id":"KpL7Or5Cqh8KsuFU","name":"KiroxON"}}},{"parameters":{"assignments":{"assignments":[{"id":"45406798-3793-4e2a-bf02-64749bb8d758","name":"Base","value":"={{ $json.Base }}","type":"string"},{"id":"15b6cfbe-7968-4bd2-83b0-5a95f7539644","name":"LinkedinLeeds","value":"={{ $json.LinkedinLeeds }}","type":"string"},{"id":"ef937799-b34d-4e63-b23f-c9f95e9e105a","name":"Cliente","value":"={{ $json.Cliente }}","type":"string"},{"id":"be818248-53a5-432e-b08b-537768e04501","name":"Nombre","value":"={{ $json.Nombre }}","type":"string"},{"id":"25688b6c-7bb8-40ed-8112-38f3eb631efb","name":"Cargo","value":"={{ $json.Cargo }}","type":"string"},{"id":"117595c4-770f-48b8-9a5e-0f64b29aed1e","name":"sitioWeb","value":"={{ $json.sitioWeb }}","type":"string"},{"id":"84512513-1084-41fe-898a-2651fce1d223","name":"Whatsapp","value":"={{ $json.Whatsapp }}","type":"string"},{"id":"9706e279-bdf0-458e-8e04-7fe916f12c3e","name":"Brochure","value":"={{ $json.Brochure }}","type":"string"},{"id":"254e7d34-eb70-4df5-be23-482455393221","name":"Servicio","value":"={{ $json.Servicio }}","type":"string"},{"id":"9f40f5fd-3ddf-4215-bf4a-8e09f15bb946","name":"Beneficios","value":"={{ $json.Beneficios }}","type":"string"},{"id":"1a68c967-74fc-4d14-8fe7-df11aeca9e73","name":"propuestaValor","value":"={{ $json.propuestaValor }}","type":"string"},{"id":"cd550533-801a-4a75-95da-bea19fc1c0f8","name":"Backlog","value":"={{ $json.Backlog }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[528,784],"id":"8150a061-1ff6-40c6-835f-6ec87af60b68","name":"clienteVar"},{"parameters":{"jsCode":"// Definimos el límite de caracteres para Dux-Soup\nconst LIMITE_CARACTERES = 200;\n\n// Iteramos sobre todos los items que entran al nodo\nfor (const item of $input.all()) {\n  // Asumimos que el mensaje del AI Agent está en item.json.message.content\n\n\n  // 1. Obtenemos el texto generado.\n  let mensajeGenerado = item.json.content; \n\n  // 2. Verificamos si el mensaje existe y su longitud\n  if (mensajeGenerado && mensajeGenerado.length > LIMITE_CARACTERES) {\n    \n    // Si excede el límite (ej. 229 > 200), truncamos\n    // Cortamos a 197 caracteres para dejar espacio para los 3 puntos (...)\n    let mensajeTruncado = mensajeGenerado.substring(0, LIMITE_CARACTERES - 3) + '...';\n    \n    // 3. Almacenamos el mensaje cortado en un NUEVO campo de salida\n    // (Asegúrate de usar este nuevo campo en tu nodo de Airtable/Dux-Soup)\n    item.json.mensaje_dux_final = mensajeTruncado;\n    \n  } else {\n    // Si es igual o más corto, lo pasamos sin cambios\n    item.json.mensaje_dux_final = mensajeGenerado;\n  }\n}\n\n// Devolvemos los items procesados\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,704],"id":"551353fd-66b1-410c-a0c9-ceaf0eef1b75","name":"Truncamiento"},{"parameters":{"content":"## Cliente\nSe extrae información del cliente","height":208,"width":384},"type":"n8n-nodes-base.stickyNote","position":[160,672],"typeVersion":1,"id":"107886a1-2f44-43b0-b740-fb42f3f3b230","name":"Sticky Note2"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1,2,3,4,5],"triggerAtHour":11,"triggerAtMinute":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-176,768],"id":"5be55141-e1a2-4cc8-9c51-3b8c7c98c684","name":"Schedule Trigger"},{"parameters":{"content":"## Extracción de Leeds\n**Se extraen leeds para la creación del mensaje de solicitud de conexión. ","height":256,"width":272,"color":4},"type":"n8n-nodes-base.stickyNote","position":[768,688],"typeVersion":1,"id":"6258d053-f29c-4a9a-aeda-497127decf31","name":"Sticky Note3"},{"parameters":{"content":"## Envío\n**Envío a la campaña de Dux-Soup","height":304,"width":400,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1632,608],"typeVersion":1,"id":"2090c6d4-2db0-46af-b581-35c78c52cb10","name":"Sticky Note4"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appHYYUhdVsnIj5as","mode":"list","cachedResultName":"Madema","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as"},"table":{"__rl":true,"value":"tblBMiSnMsa4rVuh5","mode":"list","cachedResultName":"LinkedinLeedsDux","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as/tblBMiSnMsa4rVuh5"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Búsqueda de leeds').item.json.id }}","Mensaje Linkedin":"En campaña","NoMensaje":"Mensaje 1"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"DESCRIPCIÓN EMPRESA","displayName":"DESCRIPCIÓN EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA LINKEDIN URL","displayName":"EMPRESA LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Por Validar","value":"Por Validar"},{"name":"Mail Valido","value":"Mail Valido"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"},{"name":"Mail no válido (mail)","value":"Mail no válido (mail)"},{"name":"Mail no válido (mailboxlayer)","value":"Mail no válido (mailboxlayer)"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Lead Calificado","value":"Lead Calificado"},{"name":"Vacaciones","value":"Vacaciones"}],"readOnly":false,"removed":true},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Mensaje Linkedin","displayName":"Mensaje Linkedin","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"No enviado","value":"No enviado"},{"name":"Finalizado","value":"Finalizado"},{"name":"En campaña","value":"En campaña"}],"readOnly":false,"removed":false},{"id":"NoMensaje","displayName":"NoMensaje","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sin mensaje","value":"Sin mensaje"},{"name":"Mensaje 1","value":"Mensaje 1"},{"name":"Mensaje 2","value":"Mensaje 2"},{"name":"Mensaje 3","value":"Mensaje 3"}],"readOnly":false,"removed":false},{"id":"Respuesta","displayName":"Respuesta","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Conexión","displayName":"Conexión","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"none","value":"none"},{"name":"Aceptada","value":"Aceptada"}],"readOnly":false,"removed":true},{"id":"Error de envío","displayName":"Error de envío","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Ninguno","value":"Ninguno"},{"name":"Error","value":"Error"},{"name":"Blacklisted","value":"Blacklisted"},{"name":"Snooze","value":"Snooze"}],"readOnly":false,"removed":true},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Mail 1","displayName":"Mail 1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail 2","displayName":"Mail 2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail 3","displayName":"Mail 3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2256,704],"id":"b7b6cfa6-ac82-4107-94aa-2ff37a95cfa6","name":"Update record","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}}],"connections":{"Inicio para pruebas":{"main":[[{"node":"masterVar","type":"main","index":0}]]},"Búsqueda de leeds":{"main":[[{"node":"Icebreaker","type":"main","index":0}]]},"Icebreaker":{"main":[[{"node":"Truncamiento","type":"main","index":0}]]},"Puente de conexión con Dux-Soup":{"main":[[{"node":"Conexión con DUX","type":"main","index":0}]]},"masterVar":{"main":[[{"node":"Cliente","type":"main","index":0}]]},"Cliente":{"main":[[{"node":"clienteVar","type":"main","index":0}]]},"clienteVar":{"main":[[{"node":"Búsqueda de leeds","type":"main","index":0}]]},"Truncamiento":{"main":[[{"node":"Puente de conexión con Dux-Soup","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"masterVar","type":"main","index":0}]]},"Conexión con DUX":{"main":[[{"node":"Update record","type":"main","index":0}]]}},"authors":"Admin KiroxOn","name":"Version 53ff0f01","description":"","workflowPublishHistory":[{"createdAt":"2026-02-06T01:59:55.986Z","id":76,"workflowId":"b0S7TPd8QquYzxO2","versionId":"53ff0f01-76b3-4686-afa9-78b7de80f5bd","event":"activated","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629"},{"createdAt":"2026-02-06T23:51:02.437Z","id":82,"workflowId":"b0S7TPd8QquYzxO2","versionId":"53ff0f01-76b3-4686-afa9-78b7de80f5bd","event":"activated","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629"},{"createdAt":"2026-02-06T23:56:06.907Z","id":83,"workflowId":"b0S7TPd8QquYzxO2","versionId":"53ff0f01-76b3-4686-afa9-78b7de80f5bd","event":"activated","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629"},{"createdAt":"2026-02-06T23:57:13.757Z","id":84,"workflowId":"b0S7TPd8QquYzxO2","versionId":"53ff0f01-76b3-4686-afa9-78b7de80f5bd","event":"activated","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629"}]}}