workflows/Madema _ Post LinkedIn--asQa6HC1JZmaKvQN.json
{"updatedAt":"2026-02-09T15:15:47.588Z","createdAt":"2026-01-14T17:28:22.871Z","id":"asQa6HC1JZmaKvQN","name":"Madema | Post LinkedIn","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=Genera una pieza para LinkedIn siguiendo estrictamente el System Prompt.\n\n⚠️ Reglas obligatorias:\n\nUsa tu memoria y recent_posts para evitar repeticiones de tema, ángulo y CTA en los últimos 30 días.\n\nSelecciona automáticamente: tema, pilar, CTA.\n\nDevuelve únicamente un objeto JSON con estos campos exactos (sin texto adicional, sin backticks):\n- tema\n- caption (ES, entre 120–300 palabras. Puede tener CTA si es pertinente. al final incluye siempre 3 Hashtags relevantes)\n- copy_imagen (frase atractiva para la imagen)\n- text_image_prompt (solo prompt para generar imagen, sin - texto incrustado)\n\n❌ Prohibido:\nTexto fuera del objeto JSON\nMúltiples objetos\nBackticks o formato Markdown","hasOutputParser":true,"options":{"systemMessage":"=Rol: Redactor B2B senior para LinkedIn de Natalia Márquez (SDR en MADEMA).\n\nOferta: limpieza corporativa/industrial, jardinería, fumigación, mantenimiento.\n\nAudiencia: Gerencias de Servicios Generales, Facilities, Compras y Mantenimiento (oficinas y plantas) en MX y LATAM.\n\nObjetivo: Generar una pieza alineada a objetivos comerciales y contenidos recientes.\n\nInstrucciones de operación:\nRotación temática (basado en recent_posts):\n70% educativo\n20% prueba de autoridad\n10% CTA suave\n\nAlterna entre oficinas y plantas.\n\nContenido útil – “por qué ahora”:\n\nIncluye señales relevantes: normativas, EHS, ISO/NOM, ESG, costos, SLAs, compras, tecnología en limpieza, nearshoring, productividad, seguridad.\n\nFormato de salida obligatorio:\n\nDevuelve SOLO un objeto JSON con:\n\ntema: tema central del post\ncaption: texto para LinkedIn (ES, 120–300 palabras). Persuasivo, claro y profesional.\ncopy_imagen: frase breve y atractiva para imagen\ntext_image_prompt: prompt para generar imagen (⚠️ sin texto)\n\nEstilo visual para imagen:\n- Photo‑realistic\n- Entorno corporativo o industrial limpio\n- Paleta neutra (gris/acero/blanco) + acento verde sutil\n- Luz suave, HDR, sin sombras duras\n- Composición centrada o en tercios, espacio negativo\n- Sin texto, sin marcas de agua, sin logos\n- Sin rostros en primer plano (salvo instrucción explícita)"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[768,1072],"id":"f35e9f94-77cb-4544-9c8a-192de2a53b84","name":"AI Agent","executeOnce":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4-turbo","mode":"list","cachedResultName":"gpt-4-turbo"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[688,1296],"id":"c668cfec-8c3f-4800-a235-67f48541f386","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"bJgGA8hIumaSAysH","name":"KiroxON|OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"tema\": \"<Define la temática>\",\n  \"caption\": \"<Texto en español de 120–300 palabras>\",\n  \"copy_imagen\": \"<Frase de impacto para imagen>\",\n  \"text_image_prompt\": \"<Prompt para crear imagen. Sin texto>\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[992,1296],"id":"4f01d034-30d7-41bb-83b6-da080b86bfad","name":"Structured Output Parser"},{"parameters":{"url":"https://news.google.com/rss/search?q=facility%20management%20when%3A7d&hl=es-419&gl=MX&ceid=MX:es-419","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[80,192],"id":"e11e90f8-5199-4f22-9384-2bbe9fd1bdb2","name":"RSS Read1"},{"parameters":{"jsCode":"function stripHtml(s) {\n  return String(s || '').replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n}\nfunction firstNonEmpty(...v) {\n  return v.find(x => x && String(x).trim() !== '') || '';\n}\nfunction toISOfromAny(s) {\n  const d = new Date(s || '');\n  return isNaN(d) ? new Date(0).toISOString() : d.toISOString();\n}\nfunction canonicalize(url) {\n  try {\n    const u = new URL(String(url));\n    ['utm_source', 'utm_medium', 'utm_campaign', 'utm_term', 'utm_content', 'gclid', 'fbclid', 'mc_cid', 'mc_eid']\n      .forEach(p => u.searchParams.delete(p));\n    u.hash = '';\n    return u.toString();\n  } catch {\n    return String(url || '').trim();\n  }\n}\nfunction fnv1a(str) {\n  let h = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) {\n    h ^= str.charCodeAt(i);\n    h += (h << 1) + (h << 4) + (h << 7) + (h << 8) + (h << 24);\n  }\n  return ('00000000' + (h >>> 0).toString(16)).slice(-8);\n}\n\nfunction cleanUrl(url) {\n  const prefix = 'https://news.google.com/rss/articles/';\n  if (url && url.startsWith(prefix)) {\n    const parts = url.split(prefix).filter(Boolean);\n    if (parts.length > 1) {\n      return prefix + parts[0];\n    }\n  }\n  return url;\n}\n\nreturn items.map(item => {\n  const j = item.json || {};\n\n  const rawUrl = firstNonEmpty(j.url, j.link, j.guid, j?.links?.[0]?.url);\n  const cleanedUrl = cleanUrl(rawUrl);\n  const title = firstNonEmpty(j.title, j.Title);\n  const date = toISOfromAny(firstNonEmpty(j.date, j.isoDate, j.pubDate, j.updated));\n  const snippet = stripHtml(firstNonEmpty(j.snippet, j.contentSnippet, j.summary, j.description, j.content)).slice(0, 300);\n\n  const canonicalUrl = cleanedUrl ? canonicalize(cleanedUrl) : '';\n  const hash = fnv1a(canonicalUrl || cleanedUrl || title);\n\n  return {\n    json: { title, url: cleanedUrl, date, snippet, canonicalUrl, hash }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,208],"id":"14c634a0-c92d-430f-b47a-3cec50fe0b38","name":"Normalize RSS"},{"parameters":{"promptType":"define","text":"=Nota nueva:\nTítulo: {{ $json.title }}\nFecha: {{ $json.date }}\nResumen: {{ $json.snippet }}\n\nPosts previos: Usa tu memoria\n\n¿La nota nueva no ha sido cubierta en los posts previos?\n¿Consideras, a partir del resumen, que la nota es interesante para la audiencia?\n\nSi la respuesta es afirmativa para ambas preguntas, responde \"True\", si es negativa para cualquiera de las dos preguntas, responde \"False\"","options":{"systemMessage":"=Eres un verificador editorial que compara una noticia nueva con publicaciones previas y valida que puesa ser interesante para postear en LinkedIn.\n\n## RECIBES\nNota nueva:\nTítulo: {{ $json.title }}\nFecha: {{ $json.date }}\nResumen: {{ $json.snippet }}\n\n## MEMORIA\nPublicaciones previas\n\n## TAREA\nDebes decidir si la nueva nota ya fue cubierta en publicaciones previas aunque el título o redacción cambien.\n\nConsidera coincidencias semánticas: mismo hecho, tema central y contexto temporal similar (±7 días).\n\nAdemás, evalua si con la información que tienes de la nota, puede ser interesante para generar un post para LinkedIn de Madem. La audiencia son empresas mexicanas. \nMadema ofrece soluciones integrales en limpieza, mantenimiento y jardinería, respaldadas por más de 40 años de experiencia, certificaciones, cobertura nacional y un enfoque en calidad y cumplimiento normativo.\n\nMadema se posiciona como:\n- Socio comercial estratégico, con estructura administrativa, técnica y financiera robusta\n- Aliado integral, que garantiza espacios limpios, funcionales y confortables para usuarios y visitantes\n- Empresa confiable, con procesos certificados y cumplimiento normativo al 100%\n- Organización con cobertura nacional, capaz de atender proyectos de gran escala en todo el país\n\nResponde únicamente con:\n\"True\" → es un tema distinto y no se ha cubierto.\nNo expliques, no añadas texto extra.\n\"False\" → ya está cubierta o es prácticamente la misma noticia."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[736,208],"id":"1fd1ec01-19f4-40da-aeaf-c379cadf273c","name":"AI Agent1"},{"parameters":{"operation":"search","base":{"__rl":true,"mode":"id","value":"appHYYUhdVsnIj5as"},"table":{"__rl":true,"value":"tblXSr8JzKfLPXv6b","mode":"list","cachedResultName":"leadsReach","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as/tblXSr8JzKfLPXv6b"},"filterByFormula":"AND(   {EMAIL} != '',   NOT(FIND('Mail no válido', {ESTATUS})),   {ESTATUS} != 'Mail 1',   {ESTATUS} != 'Mail 2',   {ESTATUS} != 'Mail 3' )","returnAll":false,"limit":4,"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-608,608],"id":"6d0f749c-7796-4a47-92dc-637792ed8a0c","name":"airtable_posts","alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"gpt-3.5-turbo"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[704,416],"id":"4cc3d409-4c0a-4cc2-85c2-b45ec5f928da","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"bJgGA8hIumaSAysH","name":"KiroxON|OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8028239d-1243-4c4b-81ff-8a30f3810e55","leftValue":"={{ $json.output }}","rightValue":"=True","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1056,208],"id":"a932cf9f-04a7-4340-a84d-19aa0ab47e91","name":"If"},{"parameters":{"promptType":"define","text":"=Genera un post de LinkedIn según el System Prompt usando esta nota:\n\nTítulo: {{ $('Normalize RSS').item.json.title }}\nResumen: {{ $('Normalize RSS').item.json.snippet }}\nLink: {{ $('Normalize RSS').item.json.url }}\n\n## Salida obligatoria:\nDevuelve un único objeto JSON con exactamente estas 4 claves, y en este orden:\n\n{\n  \"caption\": \"<Texto en español, 120–300 palabras, tono humano, profesional y cercano. Sin hashtags ni links. Sin mencionar el título ni la fuente.>\",\n  \"titulo\": \"{{ $('Normalize RSS').item.json.title }}\",\n  \"fuente\": \"<Fuente exacta de la nota original>\",\n  \"link\": \"{{ $('Normalize RSS').item.json.url }}\",\n  \"plantilla\": \"<Elige aleatoriamente entre: cmzzw2oaqbuml, m8fcuvtg9cavk o psgwbdiwjmuwc>\"\n}\n\n## Reglas:\n- Prohibido texto fuera del JSON.\n- No usar backticks ni formato Markdown.\n- No omitir ninguna clave del objeto JSON.\n- Validar JSON antes de responder.\n- `titulo` y `link` deben copiarse exactamente como aparecen arriba, sin modificación.\n- Si falta algún campo, el output es inválido.","hasOutputParser":true,"options":{"systemMessage":"=Genera un post de LinkedIn según el System Prompt usando esta nota:\n\nTítulo: {{ $('Normalize RSS').item.json.title }}\nResumen: {{ $('Normalize RSS').item.json.snippet }}\nLink: {{ $('Normalize RSS').item.json.url }}\n\n## Salida obligatoria:\nDevuelve un único objeto JSON con exactamente estas 4 claves:\n\n{\n  \"caption\": \"<Texto en español, 120–300 palabras, tono humano, profesional y cercano. Sin hashtags ni links. Sin mencionar el título ni la fuente.>\",\n  \"titulo\": \"{{ $('Normalize RSS').item.json.title }}\",\n  \"fuente\": \"<Fuente exacta de la nota original>\",\n  \"link\": \"{{ $('Normalize RSS').item.json.url }}\",\n  \"plantilla\": \"<Elige aleatoriamente entre: cmzzw2oaqbuml, m8fcuvtg9cavk o psgwbdiwjmuwc>\"\n}\n\n## Reglas:\n- Prohibido texto fuera del JSON.\n- No usar backticks ni formato Markdown.\n- Validar JSON antes de responder.\n- `titulo` y `link` deben copiarse exactamente como aparecen arriba, sin modificación.\n- Revisa en los posts previos (últimos 30 días):\n{{ $('airtable_posts') }} qué plantillas se han usado para no ser muy repetitivo"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1296,192],"id":"f6e0cfe1-b832-4c8a-bd77-d76ab7aeea4c","name":"AI Agent2","executeOnce":true},{"parameters":{"model":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"gpt-3.5-turbo"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1296,352],"id":"a2ed6cae-4f33-49fa-af55-ce80dea35d46","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"bJgGA8hIumaSAysH","name":"KiroxON|OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"caption\": \"<Texto en español, 120–300 palabras, tono humano, profesional y cercano. Sin hashtags ni links. Sin mencionar el título ni la fuente.>\",\n  \"titulo\": \"{{ $('Normalize RSS').item.json.title }}\",\n  \"fuente\": \"<Fuente exacta de la nota original>\",\n  \"link\": \"{{ $('Normalize RSS').item.json.url }}\",\n  \"plantilla\": \"<Elige aleatoriamente entre: cmzzw2oaqbuml, m8fcuvtg9cavk o psgwbdiwjmuwc>\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1440,352],"id":"b4928312-e50f-4991-9104-3cbaf3c5d325","name":"Structured Output Parser1"},{"parameters":{"url":"https://tinyurl.com/api-create.php","sendQuery":true,"queryParameters":{"parameters":[{"name":"url","value":"={{ $('Normalize RSS').item.json.url }}"}]},"options":{"response":{"response":{"responseFormat":"text","outputPropertyName":"shortLink"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1648,192],"id":"b0d784d8-65e9-4a94-95b2-b891d3e4b9c8","name":"HTTP Request"},{"parameters":{"promptType":"define","text":"=Mejora y optimiza el siguiente texto para LinkedIn, aplicando estrictamente el System Prompt.\n\nTexto original:\n{{ $json.Caption }}\n\nColoca este link exactamente en la última línea, sin modificarlo:\n{{ $json.shortLink }}","options":{"systemMessage":"=Rol: Editor B2B para LinkedIn (ES). Mejora el texto proporcionado para que sea claro, humano y profesional, sin venta agresiva.\n\nObjetivo: Entregar un post listo para publicar en LinkedIn, optimizado para engagement con una audiencia B2B.\n\nRequisitos:\n- Longitud: entre 120 y 300 palabras.\n- Estructura: párrafos cortos de 2 a 4 líneas.\n- Estilo: tono natural y profesional, sin usar comillas ni Markdown.\n- Formato: puedes usar emojis y caracteres Unicode de forma moderada para resaltar ideas clave.\n- Mantén el sentido original del texto, haciéndolo más claro, accionable y relevante.\n- Añade exactamente 3 hashtags relevantes en español (evita genéricos como #empresa, #trabajo, #negocios).\n- Los hashtags deben ir al final del texto, en una línea separada, justo antes del link.\n- El link proporcionado debe ir en una nueva línea como última línea del post. No modificarlo.\n- Devuelve solo el texto final. No incluyas instrucciones, explicaciones ni formato JSON."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[2096,192],"id":"d896ba74-686f-4964-af30-305f68844bbe","name":"AI Agent3"},{"parameters":{"model":{"__rl":true,"value":"gpt-4-turbo","mode":"list","cachedResultName":"gpt-4-turbo"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2096,480],"id":"5c5b8ba7-6741-4237-ac0a-3cc2e139a113","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"bJgGA8hIumaSAysH","name":"KiroxON|OpenAi account"}}},{"parameters":{"template_id":{"__rl":true,"value":"={{ $('setVariables2').item.json.output.plantilla }}","mode":"id"},"layers":{"layerItems":[{"layerId":"Titulo|text","property":"text","textValue":"={{ $('setVariables2').item.json.Titulo }}"},{"layerId":"Fuente|text","property":"text","textValue":"={{ $('setVariables2').item.json.output.fuente }}"}]},"additionalFields":{}},"type":"n8n-nodes-placid.placid","typeVersion":1,"position":[2416,192],"id":"e4d628c5-d927-478b-b089-9b28c3a02710","name":"Create an image from a template","credentials":{"placidApi":{"id":"V5Q90EhyexmiqFFQ","name":"Placid KiroxON"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2576,192],"id":"ceea3f6c-8c20-4d5e-bcba-b6b48a5e6e86","name":"Wait1","webhookId":"833a461c-2f3e-4764-949b-0db5703d6ff6"},{"parameters":{"content":"## ACTUALIZAR\nID de Red Social","height":464,"width":224},"type":"n8n-nodes-base.stickyNote","position":[2896,32],"typeVersion":1,"id":"cdab2038-7325-4383-b137-46cfc42e67dc","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"70ea0090-b952-4a8d-86b4-89821346a753","name":"Caption","value":"={{ $('AI Agent2').item.json.output.caption }}","type":"string"},{"id":"fc6de00d-6582-4da2-b1e0-79c86d87e1d1","name":"shortLink","value":"={{ $json.shortLink }}","type":"string"},{"id":"d80ea128-3c1c-4515-a6cf-069f1e337c3a","name":"Titulo","value":"={{ $('AI Agent2').item.json.output.titulo }}","type":"string"},{"id":"bd9f2746-2d16-4770-93be-bb0b6a78a0d7","name":"output.fuente","value":"={{ $('AI Agent2').item.json.output.fuente }}","type":"string"},{"id":"414f41e8-efc4-48c4-b5a9-0721d7e7e9ab","name":"output.plantilla","value":"={{ $('AI Agent2').item.json.output.plantilla }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1872,192],"id":"59f025de-9ec7-4f82-9c67-85cb60eed04b","name":"setVariables2"},{"parameters":{"content":"## ACTUALIZAR\nBD & Tabla","height":288,"width":224},"type":"n8n-nodes-base.stickyNote","position":[-688,496],"typeVersion":1,"id":"c3aa0d89-b59d-43e8-b34f-be86f0a62631","name":"Sticky Note1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3168,112],"id":"9eebfd76-c133-48db-a44d-d0c7d7e4fd7a","name":"Wait2","webhookId":"6ad67a57-3d99-4e27-87f8-87437fcb817c"},{"parameters":{"chatId":"1019249029","text":"=⚠️​ MADEMA Natalia Linkedin ⚠️​\nHubo un error al querer hacer la publicación de hoy publicar","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3168,272],"id":"bd01c3e4-e223-4494-8a47-fd399038886e","name":"⚠️​","webhookId":"605c1197-da78-4e17-bb4a-9f9b5d43df1f","executeOnce":true,"credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"chatId":"1019249029","text":"=✅​ MADEMA Natalia Linkedin ✅​\nSe realizó el posteo correctamente","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3584,112],"id":"56f2f5c1-0762-4a7f-ad85-d3ca043ef75b","name":"✅​","webhookId":"605c1197-da78-4e17-bb4a-9f9b5d43df1f","executeOnce":true,"credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3808,256],"id":"5243c4e4-aac4-46f7-a3be-2140eb54740d","name":"No Operation, do nothing2"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appHYYUhdVsnIj5as","mode":"list","cachedResultName":"Madema","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as"},"table":{"__rl":true,"value":"tblC7PiobMBFMv8Y6","mode":"list","cachedResultName":"Redes Sociales","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as/tblC7PiobMBFMv8Y6"},"columns":{"mappingMode":"defineBelow","value":{"Link":"={{ $('setVariables2').item.json.shortLink }}","Plantilla":"={{ $('setVariables2').item.json.output.plantilla }}","Status":"Done","Fecha":"={{ $now.toISO() }}","Caption":"={{ $('AI Agent3').item.json.output }}"},"matchingColumns":[],"schema":[{"id":"Caption","displayName":"Caption","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Plantilla","displayName":"Plantilla","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"cmzzw2oaqbuml","value":"cmzzw2oaqbuml"},{"name":"m8fcuvtg9cavk","value":"m8fcuvtg9cavk"},{"name":"psgwbdiwjmuwc","value":"psgwbdiwjmuwc"}],"readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"To do","value":"To do"},{"name":"Done","value":"Done"}],"readOnly":false,"removed":false},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[3376,112],"id":"bb4bb467-cecb-4420-aa36-3a7ae89831fe","name":"Create a record","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1,3,5],"triggerAtHour":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-848,608],"id":"2c9cdae1-a8e9-475d-aa19-e790785bf8f9","name":"Schedule Trigger"},{"parameters":{"jsCode":"const plantillasDisponibles = [\n  'cmzzw2oaqbuml',\n  'm8fcuvtg9cavk',\n  'psgwbdiwjmuwc',\n  'wbkfgiivyaz62'\n];\n\nlet plantillasEncontradas = [];\n\nconst texto = items.map(item => {\n  const data = item.json || {};\n  if (data.plantilla) {\n    plantillasEncontradas.push(data.plantilla);\n  }\n  return `Titulo: ${data.Titulo || ''}\\nCaption: ${data.Caption || ''}\\nPlantilla: ${data.plantilla || ''}\\n---`;\n}).join('\\n');\n\n// Elimina duplicados de plantillas encontradas\nplantillasEncontradas = [...new Set(plantillasEncontradas)];\n\n// Si no hay plantillas encontradas en los datos, usa todas las disponibles\nconst rotarDesde = plantillasEncontradas.length > 0 ? plantillasEncontradas : plantillasDisponibles;\n\n// Elegir aleatoriamente una plantilla del conjunto\nconst plantillaElegida = rotarDesde[Math.floor(Math.random() * rotarDesde.length)];\n\nreturn [{\n  json: {\n    text: texto,\n    plantilla: plantillaElegida\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-400,608],"id":"8070b6bc-53a5-488f-8ae1-1ead5c60473f","name":"crearMemoria"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $items('crearMemoria').map(i => i.json.text) }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[848,416],"id":"aec1cf51-b691-4521-9bb8-8c36fbabf496","name":"Simple Memory"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7c0b59af-235a-4531-a239-e864811b48dd","leftValue":"={{ $json.plantilla }}","rightValue":"wbkfgiivyaz62","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-192,608],"id":"08315f8d-5d1f-4ab7-8ae8-38355228a053","name":"If1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $items('crearMemoria').map(i => i.json.text) }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[848,1296],"id":"b157b2cd-7b6c-4866-a151-1373631af75f","name":"Simple Memory1"},{"parameters":{"assignments":{"assignments":[{"id":"4e23243b-22ab-4120-be98-605281494cdb","name":"tema","value":"={{ $json.output.tema }}","type":"string"},{"id":"b949acf1-e051-489b-a4e3-111703d26406","name":"caption","value":"={{ $json.output.caption }}","type":"string"},{"id":"0775af32-6195-472d-9e85-4cce071b71bb","name":"copy_imagen","value":"={{ $json.output.copy_imagen }}","type":"string"},{"id":"ada7abb9-ccbb-4767-8f35-e99480deecff","name":"text_image_prompt","value":"={{ $json.output.text_image_prompt }}","type":"string"},{"id":"87532c8d-a0a5-44ce-8790-08eb3876a850","name":"plantilla","value":"=wbkfgiivyaz62","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1088,1072],"id":"f0bbd7fe-7d69-4e0f-bf2c-735ed33d9906","name":"varPost"},{"parameters":{"resource":"image","prompt":"={{ $json.text_image_prompt }}\n\nEstilo visual para imagen:\n- Photo‑realistic\n- Entorno corporativo o industrial limpio\n- Paleta neutra (gris/acero/blanco) + acento verde sutil\n- Luz suave, HDR, sin sombras duras\n- Composición centrada o en tercios, espacio negativo\n- Sin texto, sin marcas de agua, sin logos\n- Sin rostros en primer plano (salvo instrucción explícita)","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1296,1072],"id":"82900e02-2a2a-41ad-aeac-2e9c7eeb8a20","name":"imagen","credentials":{"openAiApi":{"id":"bJgGA8hIumaSAysH","name":"KiroxON|OpenAi account"}}},{"parameters":{"template_id":{"__rl":true,"value":"={{ $('varPost').item.json.plantilla }}","mode":"id"},"layers":{"layerItems":[{"layerId":"titulo|text","property":"text","textValue":"={{ $('varPost').item.json.copy_imagen }}"},{"layerId":"image|picture","property":"imageBinary","imageBinaryValue":"data"}]},"additionalFields":{}},"type":"n8n-nodes-placid.placid","typeVersion":1,"position":[1712,1072],"id":"8f3cc6ec-5477-420a-8ed8-32006904e821","name":"Create an image from a template1","credentials":{"placidApi":{"id":"V5Q90EhyexmiqFFQ","name":"Placid KiroxON"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1952,1072],"id":"6cb96fb2-9043-4091-873c-abb5e0a65591","name":"Wait","webhookId":"833a461c-2f3e-4764-949b-0db5703d6ff6"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2624,944],"id":"4f859105-35f1-4dd8-ada3-571c91cbaafc","name":"Wait3","webhookId":"6ad67a57-3d99-4e27-87f8-87437fcb817c"},{"parameters":{"chatId":"1019249029","text":"=⚠️​ MADEMA Natalia Linkedin ⚠️​\nHubo un error al querer hacer la publicación de hoy publicar","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2752,1184],"id":"738a82d8-1096-42c6-99aa-4b7c35c98ec9","name":"⚠️​1","webhookId":"605c1197-da78-4e17-bb4a-9f9b5d43df1f","executeOnce":true,"credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"chatId":"1019249029","text":"=✅​ MADEMA Natalia Linkedin ✅​\nSe realizó el posteo correctamente","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3072,944],"id":"d6d12051-ba53-4728-963a-ee46fbab5d1f","name":"✅​1","webhookId":"605c1197-da78-4e17-bb4a-9f9b5d43df1f","executeOnce":true,"credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3296,1184],"id":"3e8cd1bc-a2d2-4ef0-9229-40ae309c73b0","name":"No Operation, do nothing"},{"parameters":{"content":"## ACTUALIZAR\nID de Red Social","height":528,"width":224},"type":"n8n-nodes-base.stickyNote","position":[2368,864],"typeVersion":1,"id":"026c97b4-ad03-473f-9b17-e485a7e83925","name":"Sticky Note3"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appHYYUhdVsnIj5as","mode":"list","cachedResultName":"Madema","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as"},"table":{"__rl":true,"value":"tblC7PiobMBFMv8Y6","mode":"list","cachedResultName":"Redes Sociales","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as/tblC7PiobMBFMv8Y6"},"columns":{"mappingMode":"defineBelow","value":{"Plantilla":"={{ $('varPost').item.json.plantilla }}","Status":"Done","Fecha":"={{ $now.toISO() }}","Caption":"={{ $('varPost').item.json.caption }}","Titulo":"={{ $('varPost').item.json.tema }}"},"matchingColumns":[],"schema":[{"id":"Titulo","displayName":"Titulo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Caption","displayName":"Caption","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Plantilla","displayName":"Plantilla","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"cmzzw2oaqbuml","value":"cmzzw2oaqbuml"},{"name":"m8fcuvtg9cavk","value":"m8fcuvtg9cavk"},{"name":"psgwbdiwjmuwc","value":"psgwbdiwjmuwc"},{"name":"wbkfgiivyaz62","value":"wbkfgiivyaz62"}],"readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"To do","value":"To do"},{"name":"Done","value":"Done"}],"readOnly":false,"removed":false},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2848,944],"id":"9df4a82b-bd37-4779-b7cd-7e1f240f0968","name":"Create a record1","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"content":"## Post a partir de RSS","height":624,"width":4048,"color":3},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"32cfc75c-fe07-49a7-be8d-99e449ff973a","name":"Sticky Note4"},{"parameters":{"content":"## Post a partir de reflexión","height":688,"width":2832,"color":4},"type":"n8n-nodes-base.stickyNote","position":[640,816],"typeVersion":1,"id":"3703c458-4f33-447c-9cfc-f06a93197831","name":"Sticky Note5"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1504,1072],"id":"3a6c7ee3-9150-4916-8618-143eb8d7c838","name":"Wait4","webhookId":"e36550f4-cf76-44c0-a264-60447c8ad294"},{"parameters":{"resource":"media","mediaUrl":"={{ $json.image_url }}"},"type":"@blotato/n8n-nodes-blotato.blotato","typeVersion":2,"position":[2160,1072],"id":"77d82a13-fe17-4915-91af-14665aaf446c","name":"Upload media","credentials":{"blotatoApi":{"id":"3lGaFzvzonqQzExb","name":"Blotato KiroxON"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"media","mediaUrl":"={{ $json.image_url }}"},"type":"@blotato/n8n-nodes-blotato.blotato","typeVersion":2,"position":[2752,192],"id":"1f1fc366-8214-4feb-b031-5029fcbc44ec","name":"Upload media1","credentials":{"blotatoApi":{"id":"3lGaFzvzonqQzExb","name":"Blotato KiroxON"}},"onError":"continueErrorOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[288,192],"id":"eb51be1e-c177-4a54-ac8d-1215ff0d4a08","name":"Loop Over Items"},{"parameters":{"platform":"linkedin","accountId":{"__rl":true,"value":"4365","mode":"list","cachedResultName":"Natalia Márquez","cachedResultUrl":"https://backend.blotato.com/v2/accounts/4365"},"postContentText":"={{ $('varPost').item.json.caption }}","postContentMediaUrls":"={{ $json.url }}","options":{}},"type":"@blotato/n8n-nodes-blotato.blotato","typeVersion":2,"position":[2416,960],"id":"55b35e1f-f5cb-4c3f-97d9-be0bdc75c173","name":"Create post: Perfil","credentials":{"blotatoApi":{"id":"3lGaFzvzonqQzExb","name":"Blotato KiroxON"}},"onError":"continueErrorOutput"},{"parameters":{"platform":"linkedin","accountId":{"__rl":true,"value":"4365","mode":"list","cachedResultName":"Natalia Márquez","cachedResultUrl":"https://backend.blotato.com/v2/accounts/4365"},"postContentText":"={{ $('varPost').item.json.caption }}","postContentMediaUrls":"={{ $json.url }}","options":{"linkedinPageId":{"__rl":true,"value":"103817800","mode":"list","cachedResultName":"Madema Corporativo de Servicios","cachedResultUrl":"https://backend.blotato.com/v2/accounts/4365/subaccounts/103817800"}}},"type":"@blotato/n8n-nodes-blotato.blotato","typeVersion":2,"position":[2432,1200],"id":"907af140-593f-47ae-9a27-db3b6d974d4d","name":"Create post: Page","credentials":{"blotatoApi":{"id":"3lGaFzvzonqQzExb","name":"Blotato KiroxON"}},"onError":"continueErrorOutput"},{"parameters":{"platform":"linkedin","accountId":{"__rl":true,"value":"4365","mode":"list","cachedResultName":"Natalia Márquez","cachedResultUrl":"https://backend.blotato.com/v2/accounts/4365"},"postContentText":"={{ $('varPost').item.json.caption }}","postContentMediaUrls":"={{ $json.url }}","options":{"linkedinPageId":{"__rl":true,"value":"103817800","mode":"list","cachedResultName":"Madema Corporativo de Servicios","cachedResultUrl":"https://backend.blotato.com/v2/accounts/4365/subaccounts/103817800"}}},"type":"@blotato/n8n-nodes-blotato.blotato","typeVersion":2,"position":[2960,320],"id":"08986cf0-b93b-47a6-a85c-3f3d236833c1","name":"Create post: Page1","credentials":{"blotatoApi":{"id":"3lGaFzvzonqQzExb","name":"Blotato KiroxON"}},"onError":"continueErrorOutput"},{"parameters":{"platform":"linkedin","accountId":{"__rl":true,"value":"4365","mode":"list","cachedResultName":"Natalia Márquez","cachedResultUrl":"https://backend.blotato.com/v2/accounts/4365"},"postContentText":"={{ $('setVariables2').item.json.Caption }}","postContentMediaUrls":"={{ $json.url }}","options":{}},"type":"@blotato/n8n-nodes-blotato.blotato","typeVersion":2,"position":[2960,112],"id":"55b0bf6f-731c-4115-aa45-4d9ae7dee045","name":"Create post:Perfil1","credentials":{"blotatoApi":{"id":"3lGaFzvzonqQzExb","name":"Blotato KiroxON"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"varPost","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"RSS Read1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Normalize RSS":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"airtable_posts":{"main":[[{"node":"crearMemoria","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"AI Agent2","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent2","type":"ai_outputParser","index":0}]]},"AI Agent2":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"setVariables2","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"AI Agent3":{"main":[[{"node":"Create an image from a template","type":"main","index":0}]]},"Create an image from a template":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Upload media1","type":"main","index":0}]]},"setVariables2":{"main":[[{"node":"AI Agent3","type":"main","index":0}]]},"⚠️​":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"✅​":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Create a record","type":"main","index":0}]]},"Create a record":{"main":[[{"node":"✅​","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"airtable_posts","type":"main","index":0}]]},"crearMemoria":{"main":[[{"node":"If1","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"If1":{"main":[[{"node":"RSS Read1","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"varPost":{"main":[[{"node":"imagen","type":"main","index":0}]]},"imagen":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Upload media","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Create a record1","type":"main","index":0}]]},"⚠️​1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"✅​1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Create a record1":{"main":[[{"node":"✅​1","type":"main","index":0}]]},"Create an image from a template1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Create an image from a template1","type":"main","index":0}]]},"Upload media":{"main":[[{"node":"Create post: Page","type":"main","index":0},{"node":"Create post: Perfil","type":"main","index":0}],[{"node":"⚠️​1","type":"main","index":0}]]},"Upload media1":{"main":[[{"node":"Create post: Page1","type":"main","index":0},{"node":"Create post:Perfil1","type":"main","index":0}],[{"node":"⚠️​","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Normalize RSS","type":"main","index":0}]]},"Create post: Perfil":{"main":[[{"node":"Wait3","type":"main","index":0}],[{"node":"⚠️​1","type":"main","index":0}]]},"Create post: Page":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"⚠️​1","type":"main","index":0}]]},"Create post: Page1":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}],[{"node":"⚠️​","type":"main","index":0}]]},"Create post:Perfil1":{"main":[[{"node":"Wait2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fbff1250-3e6c-4b75-8454-5f4b1966fa81","activeVersionId":"6c17ce6b-72e2-4a2a-972d-9b0e3860182e","versionCounter":16,"triggerCount":1,"shared":[{"updatedAt":"2026-01-14T17:28:22.876Z","createdAt":"2026-01-14T17:28:22.876Z","role":"workflow:owner","workflowId":"asQa6HC1JZmaKvQN","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[{"updatedAt":"2026-01-05T04:42:50.078Z","createdAt":"2026-01-05T04:42:50.078Z","id":"4nBqsBTokTKjObU6","name":"LinkedIn"},{"updatedAt":"2026-01-05T04:42:50.080Z","createdAt":"2026-01-05T04:42:50.080Z","id":"WoZWCKdRNB9sNHTT","name":"Redes Sociales"}],"activeVersion":{"updatedAt":"2026-02-06T03:54:50.000Z","createdAt":"2026-02-06T03:54:46.578Z","versionId":"6c17ce6b-72e2-4a2a-972d-9b0e3860182e","workflowId":"asQa6HC1JZmaKvQN","nodes":[{"parameters":{"promptType":"define","text":"=Genera una pieza para LinkedIn siguiendo estrictamente el System Prompt.\n\n⚠️ Reglas obligatorias:\n\nUsa tu memoria y recent_posts para evitar repeticiones de tema, ángulo y CTA en los últimos 30 días.\n\nSelecciona automáticamente: tema, pilar, CTA.\n\nDevuelve únicamente un objeto JSON con estos campos exactos (sin texto adicional, sin backticks):\n- tema\n- caption (ES, entre 120–300 palabras. Puede tener CTA si es pertinente. al final incluye siempre 3 Hashtags relevantes)\n- copy_imagen (frase atractiva para la imagen)\n- text_image_prompt (solo prompt para generar imagen, sin - texto incrustado)\n\n❌ Prohibido:\nTexto fuera del objeto JSON\nMúltiples objetos\nBackticks o formato Markdown","hasOutputParser":true,"options":{"systemMessage":"=Rol: Redactor B2B senior para LinkedIn de Natalia Márquez (SDR en MADEMA).\n\nOferta: limpieza corporativa/industrial, jardinería, fumigación, mantenimiento.\n\nAudiencia: Gerencias de Servicios Generales, Facilities, Compras y Mantenimiento (oficinas y plantas) en MX y LATAM.\n\nObjetivo: Generar una pieza alineada a objetivos comerciales y contenidos recientes.\n\nInstrucciones de operación:\nRotación temática (basado en recent_posts):\n70% educativo\n20% prueba de autoridad\n10% CTA suave\n\nAlterna entre oficinas y plantas.\n\nContenido útil – “por qué ahora”:\n\nIncluye señales relevantes: normativas, EHS, ISO/NOM, ESG, costos, SLAs, compras, tecnología en limpieza, nearshoring, productividad, seguridad.\n\nFormato de salida obligatorio:\n\nDevuelve SOLO un objeto JSON con:\n\ntema: tema central del post\ncaption: texto para LinkedIn (ES, 120–300 palabras). Persuasivo, claro y profesional.\ncopy_imagen: frase breve y atractiva para imagen\ntext_image_prompt: prompt para generar imagen (⚠️ sin texto)\n\nEstilo visual para imagen:\n- Photo‑realistic\n- Entorno corporativo o industrial limpio\n- Paleta neutra (gris/acero/blanco) + acento verde sutil\n- Luz suave, HDR, sin sombras duras\n- Composición centrada o en tercios, espacio negativo\n- Sin texto, sin marcas de agua, sin logos\n- Sin rostros en primer plano (salvo instrucción explícita)"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[768,1072],"id":"f35e9f94-77cb-4544-9c8a-192de2a53b84","name":"AI Agent","executeOnce":true},{"parameters":{"model":{"__rl":true,"value":"gpt-4-turbo","mode":"list","cachedResultName":"gpt-4-turbo"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[688,1296],"id":"c668cfec-8c3f-4800-a235-67f48541f386","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"bJgGA8hIumaSAysH","name":"KiroxON|OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"tema\": \"<Define la temática>\",\n  \"caption\": \"<Texto en español de 120–300 palabras>\",\n  \"copy_imagen\": \"<Frase de impacto para imagen>\",\n  \"text_image_prompt\": \"<Prompt para crear imagen. Sin texto>\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[992,1296],"id":"4f01d034-30d7-41bb-83b6-da080b86bfad","name":"Structured Output Parser"},{"parameters":{"url":"https://news.google.com/rss/search?q=facility%20management%20when%3A7d&hl=es-419&gl=MX&ceid=MX:es-419","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[80,192],"id":"e11e90f8-5199-4f22-9384-2bbe9fd1bdb2","name":"RSS Read1"},{"parameters":{"jsCode":"function stripHtml(s) {\n  return String(s || '').replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n}\nfunction firstNonEmpty(...v) {\n  return v.find(x => x && String(x).trim() !== '') || '';\n}\nfunction toISOfromAny(s) {\n  const d = new Date(s || '');\n  return isNaN(d) ? new Date(0).toISOString() : d.toISOString();\n}\nfunction canonicalize(url) {\n  try {\n    const u = new URL(String(url));\n    ['utm_source', 'utm_medium', 'utm_campaign', 'utm_term', 'utm_content', 'gclid', 'fbclid', 'mc_cid', 'mc_eid']\n      .forEach(p => u.searchParams.delete(p));\n    u.hash = '';\n    return u.toString();\n  } catch {\n    return String(url || '').trim();\n  }\n}\nfunction fnv1a(str) {\n  let h = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) {\n    h ^= str.charCodeAt(i);\n    h += (h << 1) + (h << 4) + (h << 7) + (h << 8) + (h << 24);\n  }\n  return ('00000000' + (h >>> 0).toString(16)).slice(-8);\n}\n\nfunction cleanUrl(url) {\n  const prefix = 'https://news.google.com/rss/articles/';\n  if (url && url.startsWith(prefix)) {\n    const parts = url.split(prefix).filter(Boolean);\n    if (parts.length > 1) {\n      return prefix + parts[0];\n    }\n  }\n  return url;\n}\n\nreturn items.map(item => {\n  const j = item.json || {};\n\n  const rawUrl = firstNonEmpty(j.url, j.link, j.guid, j?.links?.[0]?.url);\n  const cleanedUrl = cleanUrl(rawUrl);\n  const title = firstNonEmpty(j.title, j.Title);\n  const date = toISOfromAny(firstNonEmpty(j.date, j.isoDate, j.pubDate, j.updated));\n  const snippet = stripHtml(firstNonEmpty(j.snippet, j.contentSnippet, j.summary, j.description, j.content)).slice(0, 300);\n\n  const canonicalUrl = cleanedUrl ? canonicalize(cleanedUrl) : '';\n  const hash = fnv1a(canonicalUrl || cleanedUrl || title);\n\n  return {\n    json: { title, url: cleanedUrl, date, snippet, canonicalUrl, hash }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,208],"id":"14c634a0-c92d-430f-b47a-3cec50fe0b38","name":"Normalize RSS"},{"parameters":{"promptType":"define","text":"=Nota nueva:\nTítulo: {{ $json.title }}\nFecha: {{ $json.date }}\nResumen: {{ $json.snippet }}\n\nPosts previos: Usa tu memoria\n\n¿La nota nueva no ha sido cubierta en los posts previos?\n¿Consideras, a partir del resumen, que la nota es interesante para la audiencia?\n\nSi la respuesta es afirmativa para ambas preguntas, responde \"True\", si es negativa para cualquiera de las dos preguntas, responde \"False\"","options":{"systemMessage":"=Eres un verificador editorial que compara una noticia nueva con publicaciones previas y valida que puesa ser interesante para postear en LinkedIn.\n\n## RECIBES\nNota nueva:\nTítulo: {{ $json.title }}\nFecha: {{ $json.date }}\nResumen: {{ $json.snippet }}\n\n## MEMORIA\nPublicaciones previas\n\n## TAREA\nDebes decidir si la nueva nota ya fue cubierta en publicaciones previas aunque el título o redacción cambien.\n\nConsidera coincidencias semánticas: mismo hecho, tema central y contexto temporal similar (±7 días).\n\nAdemás, evalua si con la información que tienes de la nota, puede ser interesante para generar un post para LinkedIn de Madem. La audiencia son empresas mexicanas. \nMadema ofrece soluciones integrales en limpieza, mantenimiento y jardinería, respaldadas por más de 40 años de experiencia, certificaciones, cobertura nacional y un enfoque en calidad y cumplimiento normativo.\n\nMadema se posiciona como:\n- Socio comercial estratégico, con estructura administrativa, técnica y financiera robusta\n- Aliado integral, que garantiza espacios limpios, funcionales y confortables para usuarios y visitantes\n- Empresa confiable, con procesos certificados y cumplimiento normativo al 100%\n- Organización con cobertura nacional, capaz de atender proyectos de gran escala en todo el país\n\nResponde únicamente con:\n\"True\" → es un tema distinto y no se ha cubierto.\nNo expliques, no añadas texto extra.\n\"False\" → ya está cubierta o es prácticamente la misma noticia."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[736,208],"id":"1fd1ec01-19f4-40da-aeaf-c379cadf273c","name":"AI Agent1"},{"parameters":{"operation":"search","base":{"__rl":true,"mode":"id","value":"appHYYUhdVsnIj5as"},"table":{"__rl":true,"value":"tblXSr8JzKfLPXv6b","mode":"list","cachedResultName":"leadsReach","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as/tblXSr8JzKfLPXv6b"},"filterByFormula":"AND(   {EMAIL} != '',   NOT(FIND('Mail no válido', {ESTATUS})),   {ESTATUS} != 'Mail 1',   {ESTATUS} != 'Mail 2',   {ESTATUS} != 'Mail 3' )","returnAll":false,"limit":4,"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-608,608],"id":"6d0f749c-7796-4a47-92dc-637792ed8a0c","name":"airtable_posts","alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"gpt-3.5-turbo"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[704,416],"id":"4cc3d409-4c0a-4cc2-85c2-b45ec5f928da","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"bJgGA8hIumaSAysH","name":"KiroxON|OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8028239d-1243-4c4b-81ff-8a30f3810e55","leftValue":"={{ $json.output }}","rightValue":"=True","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1056,208],"id":"a932cf9f-04a7-4340-a84d-19aa0ab47e91","name":"If"},{"parameters":{"promptType":"define","text":"=Genera un post de LinkedIn según el System Prompt usando esta nota:\n\nTítulo: {{ $('Normalize RSS').item.json.title }}\nResumen: {{ $('Normalize RSS').item.json.snippet }}\nLink: {{ $('Normalize RSS').item.json.url }}\n\n## Salida obligatoria:\nDevuelve un único objeto JSON con exactamente estas 4 claves, y en este orden:\n\n{\n  \"caption\": \"<Texto en español, 120–300 palabras, tono humano, profesional y cercano. Sin hashtags ni links. Sin mencionar el título ni la fuente.>\",\n  \"titulo\": \"{{ $('Normalize RSS').item.json.title }}\",\n  \"fuente\": \"<Fuente exacta de la nota original>\",\n  \"link\": \"{{ $('Normalize RSS').item.json.url }}\",\n  \"plantilla\": \"<Elige aleatoriamente entre: cmzzw2oaqbuml, m8fcuvtg9cavk o psgwbdiwjmuwc>\"\n}\n\n## Reglas:\n- Prohibido texto fuera del JSON.\n- No usar backticks ni formato Markdown.\n- No omitir ninguna clave del objeto JSON.\n- Validar JSON antes de responder.\n- `titulo` y `link` deben copiarse exactamente como aparecen arriba, sin modificación.\n- Si falta algún campo, el output es inválido.","hasOutputParser":true,"options":{"systemMessage":"=Genera un post de LinkedIn según el System Prompt usando esta nota:\n\nTítulo: {{ $('Normalize RSS').item.json.title }}\nResumen: {{ $('Normalize RSS').item.json.snippet }}\nLink: {{ $('Normalize RSS').item.json.url }}\n\n## Salida obligatoria:\nDevuelve un único objeto JSON con exactamente estas 4 claves:\n\n{\n  \"caption\": \"<Texto en español, 120–300 palabras, tono humano, profesional y cercano. Sin hashtags ni links. Sin mencionar el título ni la fuente.>\",\n  \"titulo\": \"{{ $('Normalize RSS').item.json.title }}\",\n  \"fuente\": \"<Fuente exacta de la nota original>\",\n  \"link\": \"{{ $('Normalize RSS').item.json.url }}\",\n  \"plantilla\": \"<Elige aleatoriamente entre: cmzzw2oaqbuml, m8fcuvtg9cavk o psgwbdiwjmuwc>\"\n}\n\n## Reglas:\n- Prohibido texto fuera del JSON.\n- No usar backticks ni formato Markdown.\n- Validar JSON antes de responder.\n- `titulo` y `link` deben copiarse exactamente como aparecen arriba, sin modificación.\n- Revisa en los posts previos (últimos 30 días):\n{{ $('airtable_posts') }} qué plantillas se han usado para no ser muy repetitivo"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1296,192],"id":"f6e0cfe1-b832-4c8a-bd77-d76ab7aeea4c","name":"AI Agent2","executeOnce":true},{"parameters":{"model":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"gpt-3.5-turbo"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1296,352],"id":"a2ed6cae-4f33-49fa-af55-ce80dea35d46","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"bJgGA8hIumaSAysH","name":"KiroxON|OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"caption\": \"<Texto en español, 120–300 palabras, tono humano, profesional y cercano. Sin hashtags ni links. Sin mencionar el título ni la fuente.>\",\n  \"titulo\": \"{{ $('Normalize RSS').item.json.title }}\",\n  \"fuente\": \"<Fuente exacta de la nota original>\",\n  \"link\": \"{{ $('Normalize RSS').item.json.url }}\",\n  \"plantilla\": \"<Elige aleatoriamente entre: cmzzw2oaqbuml, m8fcuvtg9cavk o psgwbdiwjmuwc>\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1440,352],"id":"b4928312-e50f-4991-9104-3cbaf3c5d325","name":"Structured Output Parser1"},{"parameters":{"url":"https://tinyurl.com/api-create.php","sendQuery":true,"queryParameters":{"parameters":[{"name":"url","value":"={{ $('Normalize RSS').item.json.url }}"}]},"options":{"response":{"response":{"responseFormat":"text","outputPropertyName":"shortLink"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1648,192],"id":"b0d784d8-65e9-4a94-95b2-b891d3e4b9c8","name":"HTTP Request"},{"parameters":{"promptType":"define","text":"=Mejora y optimiza el siguiente texto para LinkedIn, aplicando estrictamente el System Prompt.\n\nTexto original:\n{{ $json.Caption }}\n\nColoca este link exactamente en la última línea, sin modificarlo:\n{{ $json.shortLink }}","options":{"systemMessage":"=Rol: Editor B2B para LinkedIn (ES). Mejora el texto proporcionado para que sea claro, humano y profesional, sin venta agresiva.\n\nObjetivo: Entregar un post listo para publicar en LinkedIn, optimizado para engagement con una audiencia B2B.\n\nRequisitos:\n- Longitud: entre 120 y 300 palabras.\n- Estructura: párrafos cortos de 2 a 4 líneas.\n- Estilo: tono natural y profesional, sin usar comillas ni Markdown.\n- Formato: puedes usar emojis y caracteres Unicode de forma moderada para resaltar ideas clave.\n- Mantén el sentido original del texto, haciéndolo más claro, accionable y relevante.\n- Añade exactamente 3 hashtags relevantes en español (evita genéricos como #empresa, #trabajo, #negocios).\n- Los hashtags deben ir al final del texto, en una línea separada, justo antes del link.\n- El link proporcionado debe ir en una nueva línea como última línea del post. No modificarlo.\n- Devuelve solo el texto final. No incluyas instrucciones, explicaciones ni formato JSON."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[2096,192],"id":"d896ba74-686f-4964-af30-305f68844bbe","name":"AI Agent3"},{"parameters":{"model":{"__rl":true,"value":"gpt-4-turbo","mode":"list","cachedResultName":"gpt-4-turbo"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2096,480],"id":"5c5b8ba7-6741-4237-ac0a-3cc2e139a113","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"bJgGA8hIumaSAysH","name":"KiroxON|OpenAi account"}}},{"parameters":{"template_id":{"__rl":true,"value":"={{ $('setVariables2').item.json.output.plantilla }}","mode":"id"},"layers":{"layerItems":[{"layerId":"Titulo|text","property":"text","textValue":"={{ $('setVariables2').item.json.Titulo }}"},{"layerId":"Fuente|text","property":"text","textValue":"={{ $('setVariables2').item.json.output.fuente }}"}]},"additionalFields":{}},"type":"n8n-nodes-placid.placid","typeVersion":1,"position":[2416,192],"id":"e4d628c5-d927-478b-b089-9b28c3a02710","name":"Create an image from a template","credentials":{"placidApi":{"id":"V5Q90EhyexmiqFFQ","name":"Placid KiroxON"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2576,192],"id":"ceea3f6c-8c20-4d5e-bcba-b6b48a5e6e86","name":"Wait1","webhookId":"833a461c-2f3e-4764-949b-0db5703d6ff6"},{"parameters":{"content":"## ACTUALIZAR\nID de Red Social","height":464,"width":224},"type":"n8n-nodes-base.stickyNote","position":[2896,32],"typeVersion":1,"id":"cdab2038-7325-4383-b137-46cfc42e67dc","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"70ea0090-b952-4a8d-86b4-89821346a753","name":"Caption","value":"={{ $('AI Agent2').item.json.output.caption }}","type":"string"},{"id":"fc6de00d-6582-4da2-b1e0-79c86d87e1d1","name":"shortLink","value":"={{ $json.shortLink }}","type":"string"},{"id":"d80ea128-3c1c-4515-a6cf-069f1e337c3a","name":"Titulo","value":"={{ $('AI Agent2').item.json.output.titulo }}","type":"string"},{"id":"bd9f2746-2d16-4770-93be-bb0b6a78a0d7","name":"output.fuente","value":"={{ $('AI Agent2').item.json.output.fuente }}","type":"string"},{"id":"414f41e8-efc4-48c4-b5a9-0721d7e7e9ab","name":"output.plantilla","value":"={{ $('AI Agent2').item.json.output.plantilla }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1872,192],"id":"59f025de-9ec7-4f82-9c67-85cb60eed04b","name":"setVariables2"},{"parameters":{"content":"## ACTUALIZAR\nBD & Tabla","height":288,"width":224},"type":"n8n-nodes-base.stickyNote","position":[-688,496],"typeVersion":1,"id":"c3aa0d89-b59d-43e8-b34f-be86f0a62631","name":"Sticky Note1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3168,112],"id":"9eebfd76-c133-48db-a44d-d0c7d7e4fd7a","name":"Wait2","webhookId":"6ad67a57-3d99-4e27-87f8-87437fcb817c"},{"parameters":{"chatId":"1019249029","text":"=⚠️​ MADEMA Natalia Linkedin ⚠️​\nHubo un error al querer hacer la publicación de hoy publicar","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3168,272],"id":"bd01c3e4-e223-4494-8a47-fd399038886e","name":"⚠️​","webhookId":"605c1197-da78-4e17-bb4a-9f9b5d43df1f","executeOnce":true,"credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"chatId":"1019249029","text":"=✅​ MADEMA Natalia Linkedin ✅​\nSe realizó el posteo correctamente","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3584,112],"id":"56f2f5c1-0762-4a7f-ad85-d3ca043ef75b","name":"✅​","webhookId":"605c1197-da78-4e17-bb4a-9f9b5d43df1f","executeOnce":true,"credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3808,256],"id":"5243c4e4-aac4-46f7-a3be-2140eb54740d","name":"No Operation, do nothing2"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appHYYUhdVsnIj5as","mode":"list","cachedResultName":"Madema","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as"},"table":{"__rl":true,"value":"tblC7PiobMBFMv8Y6","mode":"list","cachedResultName":"Redes Sociales","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as/tblC7PiobMBFMv8Y6"},"columns":{"mappingMode":"defineBelow","value":{"Link":"={{ $('setVariables2').item.json.shortLink }}","Plantilla":"={{ $('setVariables2').item.json.output.plantilla }}","Status":"Done","Fecha":"={{ $now.toISO() }}","Caption":"={{ $('AI Agent3').item.json.output }}"},"matchingColumns":[],"schema":[{"id":"Caption","displayName":"Caption","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Plantilla","displayName":"Plantilla","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"cmzzw2oaqbuml","value":"cmzzw2oaqbuml"},{"name":"m8fcuvtg9cavk","value":"m8fcuvtg9cavk"},{"name":"psgwbdiwjmuwc","value":"psgwbdiwjmuwc"}],"readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"To do","value":"To do"},{"name":"Done","value":"Done"}],"readOnly":false,"removed":false},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[3376,112],"id":"bb4bb467-cecb-4420-aa36-3a7ae89831fe","name":"Create a record","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1,3,5],"triggerAtHour":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-848,608],"id":"2c9cdae1-a8e9-475d-aa19-e790785bf8f9","name":"Schedule Trigger"},{"parameters":{"jsCode":"const plantillasDisponibles = [\n  'cmzzw2oaqbuml',\n  'm8fcuvtg9cavk',\n  'psgwbdiwjmuwc',\n  'wbkfgiivyaz62'\n];\n\nlet plantillasEncontradas = [];\n\nconst texto = items.map(item => {\n  const data = item.json || {};\n  if (data.plantilla) {\n    plantillasEncontradas.push(data.plantilla);\n  }\n  return `Titulo: ${data.Titulo || ''}\\nCaption: ${data.Caption || ''}\\nPlantilla: ${data.plantilla || ''}\\n---`;\n}).join('\\n');\n\n// Elimina duplicados de plantillas encontradas\nplantillasEncontradas = [...new Set(plantillasEncontradas)];\n\n// Si no hay plantillas encontradas en los datos, usa todas las disponibles\nconst rotarDesde = plantillasEncontradas.length > 0 ? plantillasEncontradas : plantillasDisponibles;\n\n// Elegir aleatoriamente una plantilla del conjunto\nconst plantillaElegida = rotarDesde[Math.floor(Math.random() * rotarDesde.length)];\n\nreturn [{\n  json: {\n    text: texto,\n    plantilla: plantillaElegida\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-400,608],"id":"8070b6bc-53a5-488f-8ae1-1ead5c60473f","name":"crearMemoria"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $items('crearMemoria').map(i => i.json.text) }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[848,416],"id":"aec1cf51-b691-4521-9bb8-8c36fbabf496","name":"Simple Memory"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7c0b59af-235a-4531-a239-e864811b48dd","leftValue":"={{ $json.plantilla }}","rightValue":"wbkfgiivyaz62","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-192,608],"id":"08315f8d-5d1f-4ab7-8ae8-38355228a053","name":"If1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $items('crearMemoria').map(i => i.json.text) }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[848,1296],"id":"b157b2cd-7b6c-4866-a151-1373631af75f","name":"Simple Memory1"},{"parameters":{"assignments":{"assignments":[{"id":"4e23243b-22ab-4120-be98-605281494cdb","name":"tema","value":"={{ $json.output.tema }}","type":"string"},{"id":"b949acf1-e051-489b-a4e3-111703d26406","name":"caption","value":"={{ $json.output.caption }}","type":"string"},{"id":"0775af32-6195-472d-9e85-4cce071b71bb","name":"copy_imagen","value":"={{ $json.output.copy_imagen }}","type":"string"},{"id":"ada7abb9-ccbb-4767-8f35-e99480deecff","name":"text_image_prompt","value":"={{ $json.output.text_image_prompt }}","type":"string"},{"id":"87532c8d-a0a5-44ce-8790-08eb3876a850","name":"plantilla","value":"=wbkfgiivyaz62","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1088,1072],"id":"f0bbd7fe-7d69-4e0f-bf2c-735ed33d9906","name":"varPost"},{"parameters":{"resource":"image","prompt":"={{ $json.text_image_prompt }}\n\nEstilo visual para imagen:\n- Photo‑realistic\n- Entorno corporativo o industrial limpio\n- Paleta neutra (gris/acero/blanco) + acento verde sutil\n- Luz suave, HDR, sin sombras duras\n- Composición centrada o en tercios, espacio negativo\n- Sin texto, sin marcas de agua, sin logos\n- Sin rostros en primer plano (salvo instrucción explícita)","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1296,1072],"id":"82900e02-2a2a-41ad-aeac-2e9c7eeb8a20","name":"imagen","credentials":{"openAiApi":{"id":"bJgGA8hIumaSAysH","name":"KiroxON|OpenAi account"}}},{"parameters":{"template_id":{"__rl":true,"value":"={{ $('varPost').item.json.plantilla }}","mode":"id"},"layers":{"layerItems":[{"layerId":"titulo|text","property":"text","textValue":"={{ $('varPost').item.json.copy_imagen }}"},{"layerId":"image|picture","property":"imageBinary","imageBinaryValue":"data"}]},"additionalFields":{}},"type":"n8n-nodes-placid.placid","typeVersion":1,"position":[1712,1072],"id":"8f3cc6ec-5477-420a-8ed8-32006904e821","name":"Create an image from a template1","credentials":{"placidApi":{"id":"V5Q90EhyexmiqFFQ","name":"Placid KiroxON"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1952,1072],"id":"6cb96fb2-9043-4091-873c-abb5e0a65591","name":"Wait","webhookId":"833a461c-2f3e-4764-949b-0db5703d6ff6"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2624,944],"id":"4f859105-35f1-4dd8-ada3-571c91cbaafc","name":"Wait3","webhookId":"6ad67a57-3d99-4e27-87f8-87437fcb817c"},{"parameters":{"chatId":"1019249029","text":"=⚠️​ MADEMA Natalia Linkedin ⚠️​\nHubo un error al querer hacer la publicación de hoy publicar","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2752,1184],"id":"738a82d8-1096-42c6-99aa-4b7c35c98ec9","name":"⚠️​1","webhookId":"605c1197-da78-4e17-bb4a-9f9b5d43df1f","executeOnce":true,"credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"chatId":"1019249029","text":"=✅​ MADEMA Natalia Linkedin ✅​\nSe realizó el posteo correctamente","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3072,944],"id":"d6d12051-ba53-4728-963a-ee46fbab5d1f","name":"✅​1","webhookId":"605c1197-da78-4e17-bb4a-9f9b5d43df1f","executeOnce":true,"credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3296,1184],"id":"3e8cd1bc-a2d2-4ef0-9229-40ae309c73b0","name":"No Operation, do nothing"},{"parameters":{"content":"## ACTUALIZAR\nID de Red Social","height":528,"width":224},"type":"n8n-nodes-base.stickyNote","position":[2368,864],"typeVersion":1,"id":"026c97b4-ad03-473f-9b17-e485a7e83925","name":"Sticky Note3"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appHYYUhdVsnIj5as","mode":"list","cachedResultName":"Madema","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as"},"table":{"__rl":true,"value":"tblC7PiobMBFMv8Y6","mode":"list","cachedResultName":"Redes Sociales","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as/tblC7PiobMBFMv8Y6"},"columns":{"mappingMode":"defineBelow","value":{"Plantilla":"={{ $('varPost').item.json.plantilla }}","Status":"Done","Fecha":"={{ $now.toISO() }}","Caption":"={{ $('varPost').item.json.caption }}","Titulo":"={{ $('varPost').item.json.tema }}"},"matchingColumns":[],"schema":[{"id":"Titulo","displayName":"Titulo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Caption","displayName":"Caption","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Plantilla","displayName":"Plantilla","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"cmzzw2oaqbuml","value":"cmzzw2oaqbuml"},{"name":"m8fcuvtg9cavk","value":"m8fcuvtg9cavk"},{"name":"psgwbdiwjmuwc","value":"psgwbdiwjmuwc"},{"name":"wbkfgiivyaz62","value":"wbkfgiivyaz62"}],"readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"To do","value":"To do"},{"name":"Done","value":"Done"}],"readOnly":false,"removed":false},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2848,944],"id":"9df4a82b-bd37-4779-b7cd-7e1f240f0968","name":"Create a record1","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"content":"## Post a partir de RSS","height":624,"width":4048,"color":3},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"32cfc75c-fe07-49a7-be8d-99e449ff973a","name":"Sticky Note4"},{"parameters":{"content":"## Post a partir de reflexión","height":688,"width":2832,"color":4},"type":"n8n-nodes-base.stickyNote","position":[640,816],"typeVersion":1,"id":"3703c458-4f33-447c-9cfc-f06a93197831","name":"Sticky Note5"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1504,1072],"id":"3a6c7ee3-9150-4916-8618-143eb8d7c838","name":"Wait4","webhookId":"e36550f4-cf76-44c0-a264-60447c8ad294"},{"parameters":{"resource":"media","mediaUrl":"={{ $json.image_url }}"},"type":"@blotato/n8n-nodes-blotato.blotato","typeVersion":2,"position":[2160,1072],"id":"77d82a13-fe17-4915-91af-14665aaf446c","name":"Upload media","credentials":{"blotatoApi":{"id":"3lGaFzvzonqQzExb","name":"Blotato KiroxON"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"media","mediaUrl":"={{ $json.image_url }}"},"type":"@blotato/n8n-nodes-blotato.blotato","typeVersion":2,"position":[2752,192],"id":"1f1fc366-8214-4feb-b031-5029fcbc44ec","name":"Upload media1","credentials":{"blotatoApi":{"id":"3lGaFzvzonqQzExb","name":"Blotato KiroxON"}},"onError":"continueErrorOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[288,192],"id":"eb51be1e-c177-4a54-ac8d-1215ff0d4a08","name":"Loop Over Items"},{"parameters":{"platform":"linkedin","accountId":{"__rl":true,"value":"4365","mode":"list","cachedResultName":"Natalia Márquez","cachedResultUrl":"https://backend.blotato.com/v2/accounts/4365"},"postContentText":"={{ $('varPost').item.json.caption }}","postContentMediaUrls":"={{ $json.url }}","options":{}},"type":"@blotato/n8n-nodes-blotato.blotato","typeVersion":2,"position":[2416,960],"id":"55b35e1f-f5cb-4c3f-97d9-be0bdc75c173","name":"Create post: Perfil","credentials":{"blotatoApi":{"id":"3lGaFzvzonqQzExb","name":"Blotato KiroxON"}},"onError":"continueErrorOutput"},{"parameters":{"platform":"linkedin","accountId":{"__rl":true,"value":"4365","mode":"list","cachedResultName":"Natalia Márquez","cachedResultUrl":"https://backend.blotato.com/v2/accounts/4365"},"postContentText":"={{ $('varPost').item.json.caption }}","postContentMediaUrls":"={{ $json.url }}","options":{"linkedinPageId":{"__rl":true,"value":"103817800","mode":"list","cachedResultName":"Madema Corporativo de Servicios","cachedResultUrl":"https://backend.blotato.com/v2/accounts/4365/subaccounts/103817800"}}},"type":"@blotato/n8n-nodes-blotato.blotato","typeVersion":2,"position":[2432,1200],"id":"907af140-593f-47ae-9a27-db3b6d974d4d","name":"Create post: Page","credentials":{"blotatoApi":{"id":"3lGaFzvzonqQzExb","name":"Blotato KiroxON"}},"onError":"continueErrorOutput"},{"parameters":{"platform":"linkedin","accountId":{"__rl":true,"value":"4365","mode":"list","cachedResultName":"Natalia Márquez","cachedResultUrl":"https://backend.blotato.com/v2/accounts/4365"},"postContentText":"={{ $('varPost').item.json.caption }}","postContentMediaUrls":"={{ $json.url }}","options":{"linkedinPageId":{"__rl":true,"value":"103817800","mode":"list","cachedResultName":"Madema Corporativo de Servicios","cachedResultUrl":"https://backend.blotato.com/v2/accounts/4365/subaccounts/103817800"}}},"type":"@blotato/n8n-nodes-blotato.blotato","typeVersion":2,"position":[2960,320],"id":"08986cf0-b93b-47a6-a85c-3f3d236833c1","name":"Create post: Page1","credentials":{"blotatoApi":{"id":"3lGaFzvzonqQzExb","name":"Blotato KiroxON"}},"onError":"continueErrorOutput"},{"parameters":{"platform":"linkedin","accountId":{"__rl":true,"value":"4365","mode":"list","cachedResultName":"Natalia Márquez","cachedResultUrl":"https://backend.blotato.com/v2/accounts/4365"},"postContentText":"={{ $('setVariables2').item.json.Caption }}","postContentMediaUrls":"={{ $json.url }}","options":{}},"type":"@blotato/n8n-nodes-blotato.blotato","typeVersion":2,"position":[2960,112],"id":"55b0bf6f-731c-4115-aa45-4d9ae7dee045","name":"Create post:Perfil1","credentials":{"blotatoApi":{"id":"3lGaFzvzonqQzExb","name":"Blotato KiroxON"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"varPost","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"RSS Read1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Normalize RSS":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"airtable_posts":{"main":[[{"node":"crearMemoria","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"AI Agent2","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent2","type":"ai_outputParser","index":0}]]},"AI Agent2":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"setVariables2","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"AI Agent3":{"main":[[{"node":"Create an image from a template","type":"main","index":0}]]},"Create an image from a template":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Upload media1","type":"main","index":0}]]},"setVariables2":{"main":[[{"node":"AI Agent3","type":"main","index":0}]]},"⚠️​":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"✅​":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Create a record","type":"main","index":0}]]},"Create a record":{"main":[[{"node":"✅​","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"airtable_posts","type":"main","index":0}]]},"crearMemoria":{"main":[[{"node":"If1","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"If1":{"main":[[{"node":"RSS Read1","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"varPost":{"main":[[{"node":"imagen","type":"main","index":0}]]},"imagen":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Upload media","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Create a record1","type":"main","index":0}]]},"⚠️​1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"✅​1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Create a record1":{"main":[[{"node":"✅​1","type":"main","index":0}]]},"Create an image from a template1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Create an image from a template1","type":"main","index":0}]]},"Upload media":{"main":[[{"node":"Create post: Page","type":"main","index":0},{"node":"Create post: Perfil","type":"main","index":0}],[{"node":"⚠️​1","type":"main","index":0}]]},"Upload media1":{"main":[[{"node":"Create post: Page1","type":"main","index":0},{"node":"Create post:Perfil1","type":"main","index":0}],[{"node":"⚠️​","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Normalize RSS","type":"main","index":0}]]},"Create post: Perfil":{"main":[[{"node":"Wait3","type":"main","index":0}],[{"node":"⚠️​1","type":"main","index":0}]]},"Create post: Page":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"⚠️​1","type":"main","index":0}]]},"Create post: Page1":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}],[{"node":"⚠️​","type":"main","index":0}]]},"Create post:Perfil1":{"main":[[{"node":"Wait2","type":"main","index":0}]]}},"authors":"Admin KiroxOn","name":"Version 6c17ce6b","description":"","workflowPublishHistory":[{"createdAt":"2026-02-06T03:54:50.989Z","id":77,"workflowId":"asQa6HC1JZmaKvQN","versionId":"6c17ce6b-72e2-4a2a-972d-9b0e3860182e","event":"activated","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629"}]}}