workflows/Matus_ Creacion de Blog P3--HgW2Vndeasz3E1YT.json
{"updatedAt":"2026-01-05T23:21:54.000Z","createdAt":"2026-01-05T23:21:54.923Z","id":"HgW2Vndeasz3E1YT","name":"Matus: Creacion de Blog P3","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk","mode":"list","cachedResultName":"Blog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":760679505,"mode":"list","cachedResultName":"Temas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk/edit#gid=760679505"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-880,672],"id":"ab821af5-584e-496e-826d-4e036762b4e9","name":"Leer Temas"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7868913b-3d97-4247-8309-933198663f21","leftValue":"={{ $json.Estatus }}","rightValue":"Por crear","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[144,736],"id":"ee69d00e-3144-4387-b7f9-465baa8c772a","name":"If"},{"parameters":{"amount":1.5},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[592,736],"id":"a38a12d2-48b4-4f97-86c2-b7320adb6fc8","name":"Wait","webhookId":"3c20403d-fddf-4943-98bb-c3b320f34d4e"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"GPT-4"},"messages":{"values":[{"content":"=Eres un experto en SEO especializado en generación de contenidos de alto rendimiento y posicionamiento web.\n\nTu tarea es generar entre 3 y 5 frases clave **long tail** (de 2 a 5 palabras) para contenido de blog, relacionadas con el siguiente tema: “{{ $json.Tema }}”.\n\nEstas frases deben estar diseñadas para obtener un **alto potencial de posicionamiento** (idealmente un SEO Score estimado entre 70 y 100), basándote en los siguientes **criterios semánticos y heurísticos**, ya que no estás accediendo a bases de datos reales de tráfico:\n\n### 🎯 Criterios para estimación SEO:\n\n1. **Volumen estimado (30%)**: Frases que, por su redacción, podrían tener al menos 100 búsquedas mensuales en México (lenguaje natural, dudas comunes, lenguaje de usuario final).\n2. **CTR probable (25%)**: Frases que inviten a hacer clic o responder una intención clara (por ejemplo: comienza con \"cómo\", \"guía\", \"mejorar\", \"estrategia\", etc.).\n3. **Posicionabilidad (25%)**: Frases que parezcan menos competidas o más específicas, por ejemplo, combinaciones con sector, etapa o situación (\"institucionalización en pymes familiares\").\n4. **Intención de búsqueda (10%)**: Frases claramente informacionales, educativas o resolutivas.\n5. **Relevancia semántica (10%)**: Frases que contengan al menos un concepto importante del tema dado.\n\n### ⚙️ Formato de respuesta:\nDevuelve solo las frases clave, sin numerar ni usar comillas. Una frase por línea, sin explicaciones adicionales."},{"content":"Eres un experto en SEO especializado en generación de contenidos de alto rendimiento y posicionamiento web.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[816,736],"id":"5edb8568-758c-4a19-8e9b-75b7f2d7fd6f","name":"Investigación Keywords"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const frase = $json.keyword || '';\n\nlet score = 0;\n\n// 1. Intención de búsqueda\nconst verbos = ['cómo', 'guía', 'mejorar', 'estrategia', 'evitar', 'pasos', 'comenzar', 'iniciar'];\nif (verbos.some(v => frase.toLowerCase().includes(v))) score += 30;\n\n// 2. Longitud óptima: entre 3 y 5 palabras\nconst palabraCount = frase.trim().split(/\\s+/).length;\nif (palabraCount >= 3 && palabraCount <= 5) score += 20;\n\n// 3. Especificidad semántica\nconst conceptos = ['empresa familiar', 'institucionalización', 'negocio', 'organización', 'pymes', 'startups'];\nif (conceptos.some(c => frase.toLowerCase().includes(c))) score += 20;\n\n// 4. Claridad\nif (!frase.match(/[^\\w\\sáéíóúñüÁÉÍÓÚÑÜ]/)) score += 20;\n\n// 5. Originalidad\nif (!['empresa familiar', 'institucionalización'].includes(frase.toLowerCase().trim())) {\n  score += 10;\n}\n\nreturn {\n  json: {\n    ...$json,\n    seoScore: Math.min(score, 100)\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,736],"id":"f09a268f-f0c0-444f-8d45-b450ae6a5bae","name":"SEO Score KW"},{"parameters":{"jsCode":"// Agrupar por tema\nconst grupos = {};\n\nitems.forEach(item => {\n  const { tema, seoScore } = item.json;\n\n  if (!grupos[tema]) {\n    grupos[tema] = {\n      total: 0,\n      count: 0\n    };\n  }\n\n  grupos[tema].total += seoScore;\n  grupos[tema].count += 1;\n});\n\n// Calcular promedio por tema\nconst resultado = [];\n\nfor (const tema in grupos) {\n  const promedio = grupos[tema].total / grupos[tema].count;\n\n  resultado.push({\n    json: {\n      tema,\n      promedioSEO: Math.round(promedio)\n    }\n  });\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1632,736],"id":"815cb1a7-62c7-4be3-8ef4-7cb80f4db1d3","name":"SEO Score Tema"},{"parameters":{"jsCode":"// Obtenemos el texto plano con todas las frases generadas por OpenAI\nconst rawText = $input.first().json.message.content || '';\n\n// Recuperamos el tema (debe haber llegado desde el nodo anterior)\nconst tema = $json.tema || $('Wait').first().json.Tema || 'Tema desconocido';\n\n// Dividimos las frases, limpiamos comillas y espacios\nconst frases = rawText\n  .split('\\n') // separamos por salto de línea\n  .map(k => k.trim().replace(/^[\"']|[\"']$/g, '')) // quitamos comillas y espacios\n  .filter(k => k.length > 0); // descartamos vacíos\n\n// Generamos un ítem por frase clave con el tema incluido\nreturn frases.map(frase => ({\n  json: {\n    keyword: frase,\n    tema: tema\n  }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1184,736],"id":"69fc4ece-1db0-4edc-8575-9fd64be9c9be","name":"Dividir KW"},{"parameters":{"jsCode":"const tema = $input.first().json.tema;\nconst keywords = $('Investigación Keywords').first().json.message.content || '';\nconst promedioSEO = $input.first().json.promedioSEO;\n\nreturn {\n  json: {\n    tema,\n    keywords,\n    promedioSEO,\n    estatus: 'Evaluado'\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1856,736],"id":"ecdc833f-ff7f-484d-b096-7d4b3635fede","name":"Merge INPUTS"},{"parameters":{"content":"## Evaluación de Temas","height":440,"width":2460,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-176,608],"id":"d118a18d-1931-4c21-a374-dc8d5b4789fd","name":"Sticky Note"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a4bb9467-c8d8-4004-b00b-825be2af1b09","leftValue":"={{ $items().length }}","rightValue":4,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1584,208],"id":"12b4ed39-7056-4f54-9dc6-eaa5b79c7166","name":"If1"},{"parameters":{"content":"## Selección de temas y notificación","height":360,"width":1300},"type":"n8n-nodes-base.stickyNote","position":[976,80],"typeVersion":1,"id":"3c2100fd-e85c-409c-b836-7f1b986720d9","name":"Sticky Note1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2888bece-c40c-4750-b2dc-3c8dd9d9f8f9","leftValue":"={{ $json.hayPorCrear }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-432,672],"id":"30605f65-6c48-48b3-869d-c38f9452c8fd","name":"hayPorCrear"},{"parameters":{"jsCode":"// Normalizamos campos y filtramos los que tienen datos completos\nconst evaluables = items\n  .map(i => i.json)\n  .filter(i => i.Score !== undefined && i.Prioridad !== undefined)\n  .sort((a, b) => {\n    // Ordenar por prioridad ASC y score DESC\n    if (a.Prioridad !== b.Prioridad) {\n      return a.Prioridad - b.Prioridad;\n    }\n    return b.Score - a.Score;\n  })\n  .slice(0, 4); // Solo los mejores 4\n\nreturn evaluables.map(t => ({ json: t }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1808,96],"id":"457fd37d-5733-42cc-9e3c-4d09fcf11f4b","name":"Evaluación de Temas"},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk","mode":"list","cachedResultName":"Blog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":760679505,"mode":"list","cachedResultName":"Temas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk/edit#gid=760679505"},"columns":{"mappingMode":"defineBelow","value":{"Estatus":"Seleccionado","Tema":"={{ $('Evaluación de Temas').item.json.Tema }}"},"matchingColumns":["Tema"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tema","displayName":"Tema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Descripción","displayName":"Descripción","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Keywords","displayName":"Keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Score","displayName":"Score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Prioridad","displayName":"Prioridad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2032,96],"id":"615ef8b4-c1b0-4c2a-acb9-441dfab209aa","name":"Actualización: Seleccionado"},{"parameters":{"chatId":"1019249029","text":"<b>Blog Matus</b> ❌ El flujo de evaluación SEO y selección de temas se completó. ⚠️⚠️⚠️ No hay suficientes temas disponibles para seleccionar ⚠️⚠️⚠️","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1808,304],"id":"471a663b-588c-407c-9652-a3f8f869d7a2","name":"Mensaje Fallo: Selección","webhookId":"951b2d9b-38b7-4ecf-ab4f-dc8b4ef094ff","executeOnce":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[368,736],"id":"964da6a7-8a4d-45a4-87a1-7e02d6ffc05c","name":"Loop Evaluación de Temas"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4-turbo","mode":"list","cachedResultName":"GPT-4-TURBO"},"messages":{"values":[{"content":"Eres un experto en redacción de blogs profesionales, especializado en posicionamiento SEO, escritura empática y narrativa de alta calidad. Todo lo que escribas debe ser original, estratégico y enfocado en ayudar a empresas mediana y pequeñas a profesionalizarse. ","role":"system"},{"content":"=## OBJETIVO\nEscribe un post sobre el tema: {{ $node[\"loop_creacion_blog\"].json.Tema }} y que hable sobre {{$node[\"loop_creacion_blog\"].json.Descripción}} de al menos 1200 palabras. El post debe ser atractivo, optimizado para posicionarse en buscadores a partir de estas keywords: {{ $node[\"loop_creacion_blog\"].json.Keywords }}. Evita los lugares comunes y el lenguaje superficial. \n\n## IMPORTANTE: Sigue exactamente esta estructura y formato (no inventes ni omitas):\n\n- **Título:** Empieza con `## Título SEO:` seguido del título optimizado.\n- **Extracto:** Luego `## Extracto SEO:` seguido del extracto de 150 caracteres. Considera que será el que se utilice como metadescripcion.\n- Después empieza directamente con la introducción, desarrollo, etc., usando subtítulos como H2 (`##`).\n\nNo cambies, ni agregues encabezados diferentes.\n\n---\n\n## Estilo de escritura:\n[... (todo lo que ya tienes del estilo de redacción sigue igual) ...]"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1408,1216],"id":"9a9e0200-8ba6-401b-9a56-9e02029c906c","name":"Creación de Blog"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk","mode":"list","cachedResultName":"Blog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Blog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[752,1312],"id":"1556b7a2-20aa-4f21-b3ec-9923184003b8","name":"Leer ID y Fecha"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[528,1376],"id":"469df366-818a-49b3-a04a-f791c070bbc9","name":"loop_creacion_blog"},{"parameters":{"authentication":"serviceAccount","driveId":"sharedWithMe","folderId":"={{ \"1IT8zBhyKNGi5F9AY_v7G9Sl9JS0KkS7B\" }}","title":"={{ $json.documentName }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1184,1216],"id":"73a319e8-21ca-4123-9afa-cd97ca6806c2","name":"crearDoc"},{"parameters":{"jsCode":"// Encuentra el último ID de los blogs y la última fecha de publicación\nconst itemsOrdenados = items\n  .map(i => i.json)\n  .filter(i => i.ID && i.ID.startsWith('Blog_'))\n  .sort((a, b) => {\n    const numA = parseInt(a.ID.replace('Blog_', ''), 10);\n    const numB = parseInt(b.ID.replace('Blog_', ''), 10);\n    return numB - numA; // Orden descendente\n  });\n\nconst lastItem = itemsOrdenados[0] || {};\n\nconst lastId = lastItem.ID ? parseInt(lastItem.ID.replace('Blog_', ''), 10) : 0;\nconst nextId = lastId + 1;\n\nconst lastFechaStr = lastItem['Fecha de publicación'] || null;\n\n// Función para calcular el próximo miércoles a partir de una fecha\nfunction getNextWednesday(date) {\n  const day = date.getDay();\n  const diff = (3 + 7 - day) % 7 || 7; // 3 = miércoles (0 es domingo)\n  date.setDate(date.getDate() + diff);\n  return date;\n}\n\n// Convertimos la fecha a objeto Date\nlet baseDate;\nif (lastFechaStr) {\n  const [day, month, year] = lastFechaStr.split('/').map(Number);\n  baseDate = new Date(year, month - 1, day);\n} else {\n  baseDate = new Date(); // Si no hay fecha previa, usamos hoy\n}\n\n// Calculamos el próximo miércoles\nconst nextWednesdayDate = getNextWednesday(baseDate);\nconst fechaFormateada = nextWednesdayDate.toLocaleDateString('es-MX', { day: '2-digit', month: '2-digit', year: 'numeric' });\n\nreturn [{\n  json: {\n    lastId,\n    nextId,\n    documentName: `Blog_${nextId}`,\n    fechaPublicacion: fechaFormateada\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[976,1216],"id":"d01d4c2a-38e6-45ab-a713-6b5d67b6ba28","name":"ID_Fecha"},{"parameters":{"jsCode":"const content = $json.message.content || '';\n\nfunction findSection(text, labels) {\n  for (const label of labels) {\n    const match = text.match(new RegExp(`##\\\\s*${label}:\\\\s*(.+)`, 'i'));\n    if (match) return match[1].trim();\n  }\n  return null;\n}\n\nconst titulo = findSection(content, ['Título SEO', 'Título']);\nconst extracto = findSection(content, ['Extracto SEO', 'Extracto']);\n\nlet cuerpo = content;\n\n// Elimina las secciones capturadas\nif (titulo) {\n  cuerpo = cuerpo.replace(new RegExp(`##\\\\s*Título SEO:\\\\s*${titulo}`, 'i'), '');\n  cuerpo = cuerpo.replace(new RegExp(`##\\\\s*Título:\\\\s*${titulo}`, 'i'), '');\n}\nif (extracto) {\n  cuerpo = cuerpo.replace(new RegExp(`##\\\\s*Extracto SEO:\\\\s*${extracto}`, 'i'), '');\n  cuerpo = cuerpo.replace(new RegExp(`##\\\\s*Extracto:\\\\s*${extracto}`, 'i'), '');\n}\n\ncuerpo = cuerpo.trim();\n\nreturn [\n  {\n    json: {\n      titulo: titulo || 'Título no encontrado',\n      extracto: extracto || 'Extracto no encontrado',\n      cuerpo: cuerpo,\n      tema: $json.Tema || $json.tema || '',\n      descripcion: $json.Descripcion || $json.descripcion || '',\n      keywords: $json.Keywords || $json.keywords || ''\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1776,1216],"id":"480df3c6-fbf8-4eb9-af3e-826f3df2101e","name":"dividirElementos"},{"parameters":{"jsCode":"const cuerpo = $json.cuerpo || '';\n\nconst contenidoEscapado = cuerpo\n  .replace(/\\\\/g, '\\\\\\\\')\n  .replace(/\"/g, '\\\\\"')\n  .replace(/\\n/g, '\\\\n');\n\nreturn [\n  {\n    json: {\n      requests: [\n        {\n          insertText: {\n            location: { index: 1 },\n            text: contenidoEscapado\n          }\n        }\n      ]\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1984,1216],"id":"ac73e647-bd24-4080-8519-eca6aeef79c3","name":"formatJSON"},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk","mode":"list","cachedResultName":"Blog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Blog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $('ID_Fecha').item.json.documentName }}","Fecha de publicación":"={{ $('ID_Fecha').item.json.fechaPublicacion }}","Titulo":"={{ $('dividirElementos').item.json.titulo }}","Extracto":"={{ $('dividirElementos').item.json.extracto }}","Archivo":"=https://docs.google.com/document/d/{{ $('crearDoc').item.json.id }}","Estatus":"Imagen","Veces Publicado":"0","Imagen":"=","Promt Imagen":"={{ $json.message.content }}","Nombre imágen":"={{ $('limpizaVar').item.json.fileName }}"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Fecha de publicación","displayName":"Fecha de publicación","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Titulo","displayName":"Titulo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Extracto","displayName":"Extracto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Archivo","displayName":"Archivo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Promt Imagen","displayName":"Promt Imagen","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nombre imágen","displayName":"Nombre imágen","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Imagen","displayName":"Imagen","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Fecha ISO","displayName":"Fecha ISO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post en Redes sociales","displayName":"Post en Redes sociales","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Veces Publicado","displayName":"Veces Publicado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3648,1312],"id":"a54dcfc4-2ed2-4fad-80d6-7aba0b2c4596","name":"actualizarSheetBlog"},{"parameters":{"method":"POST","url":"=https://docs.googleapis.com/v1/documents/{{ $('crearDoc').item.json.id.trim() }}:batchUpdate","authentication":"predefinedCredentialType","nodeCredentialType":"googleApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"requests\": [\n    {\n      \"insertText\": {\n        \"location\": {\n          \"index\": 1\n        },\n        \"text\": \"{{ $json.requests[0].insertText.text }}\"\n      }\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2208,1216],"id":"f4c39100-b4a4-4a6d-a355-0dcb9dfc636c","name":"actualizaDoc"},{"parameters":{"resource":"image","prompt":"={{ $json['Promt Imagen'] }}","options":{"size":"1792x1024","returnImageUrls":true}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3344,704],"id":"8bac02b9-b625-490d-a59a-8ad9c1f688dd","name":"Imagen"},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk","mode":"list","cachedResultName":"Blog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":760679505,"mode":"list","cachedResultName":"Temas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk/edit#gid=760679505"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $json.ID }}","Estatus":"Creado","Tema":"={{ $('loop_creacion_blog').first().json.Tema || $('loop_creacion_blog').first().json.Tema }}"},"matchingColumns":["Tema"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tema","displayName":"Tema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Descripción","displayName":"Descripción","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Keywords","displayName":"Keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Score","displayName":"Score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Prioridad","displayName":"Prioridad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3936,1312],"id":"8b48a42d-c100-4321-b93f-6a6e84454141","name":"actualizarSheetTema"},{"parameters":{"authentication":"serviceAccount","inputDataFieldName":"=data","name":"={{ $('loopImagen').item.json.ID }}_{{ $('loopImagen').item.json['Nombre imágen'] }}","driveId":{"__rl":true,"value":"1o5fD1CRYDbsgxjI9Ee239rFua3-a_36d","mode":"id"},"folderId":{"__rl":true,"value":"=1jv86Hpn7RjOuF0ReTnIxSE66PY1FODma","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3792,704],"id":"3e7a5805-2a64-46fd-ab97-2d07e83fbc6f","name":"uploadIMG"},{"parameters":{"content":"Creación de contenido","height":520,"width":4620,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-176,1136],"typeVersion":1,"id":"31a2be2c-8667-4572-914f-326771d08572","name":"Sticky Note2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4d9de28d-7255-40c8-890a-eec31689be2f","leftValue":"={{ $json.Estatus }}","rightValue":"Imagen","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2912,768],"id":"1c49b658-83a6-4010-bedc-b250269c7a59","name":"Filter1"},{"parameters":{"url":"={{ $json.url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"image/*"}]},"options":{"response":{"response":{"responseFormat":"file"}},"timeout":60000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3568,704],"id":"f764047c-9c59-4606-a007-7abbc3348fcb","name":"descargarIMG"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3136,768],"id":"29fef128-8fa6-4fc9-83a5-ffa46a10ce27","name":"loopImagen"},{"parameters":{"operation":"sendPhoto","chatId":"1019249029","file":"={{ $('descargarIMG').item.json.url }}","additionalFields":{"caption":"=<b>📢 Nuevo contenido creado</b>\n\n<b>🧠 Título:</b> {{ $('loopImagen').item.json.Titulo }}\n\n<b>📝 Extracto:</b> {{ $('loopImagen').item.json.Extracto }}\n\n<a href=\"{{ $('loopImagen').item.json.Archivo }}\">Ver documento</a>\n","disable_notification":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4224,768],"id":"920ac08e-4802-4f15-987e-57af1f290328","name":"Telegram","webhookId":"aa24262b-f890-4599-9ca7-e9589a9136b9"},{"parameters":{"content":"## Creación de imagen","height":440,"width":2120,"color":5},"type":"n8n-nodes-base.stickyNote","position":[2336,608],"typeVersion":1,"id":"32cae4d0-9f45-45f0-874b-4c5be29c83d6","name":"Sticky Note3"},{"parameters":{"jsCode":"const parsed = JSON.parse(items[0].json.message.content);\n\n// Variables generadas por IA\nconst scene = parsed.scene_description;\nconst emotions = parsed.human_emotions;\nconst action = parsed.action_description;\nconst fileName = parsed.file_name;\n\n// Ángulos ponderados\nconst angles = [\n  \"eye-level shot\",\n  \"over-the-shoulder view\",\n  \"wide-angle shot\",\n  \"medium shot from the side\",\n  \"close-up of a candid moment\",\n  \"three-quarter view\",\n  \"slightly elevated angle\",\n  \"low-angle shot\",\n  \"back view of the subjects\",\n  \"profile view\",\n  \"top-down view (flat lay)\",\n  \"depth-of-field focus with blurred background\",\n  \"subject framed by a doorway or window\",\n  \"subjects viewed through a glass wall or partition\",\n  \"natural over-the-shoulder composition\"\n];\n\n// Iluminación\nconst lighting = [\n  \"soft morning light\",\n  \"warm afternoon light\",\n  \"diffused daylight through windows\",\n  \"natural backlighting\",\n  \"ambient office lighting\",\n  \"golden hour sunlight\",\n  \"cool daylight from skylights\",\n  \"overcast natural lighting\",\n  \"slightly directional window light\",\n  \"soft indoor lighting with mild shadows\",\n  \"natural mixed lighting (sunlight and bulbs)\",\n  \"balanced neutral daylight without harsh shadows\"\n];\n\n// Detalles visuales para variedad\nconst visualTwists = [\n  \"with a whiteboard full of diagrams behind them\",\n  \"with a young child drawing quietly in a corner\",\n  \"with sticky notes scattered across the wall\",\n  \"with a window view of a small town outside\",\n  \"with a digital tablet showing business charts\",\n  \"surrounded by printed reports and coffee mugs\",\n  \"with natural plants and books adding a homey touch\",\n  \"next to a family photo frame subtly visible\",\n  \"while standing rather than seated, in active discussion\"\n];\n\nconst selectedAngle = angles[Math.floor(Math.random() * angles.length)];\nconst selectedLighting = lighting[Math.floor(Math.random() * lighting.length)];\nconst visualDetail = visualTwists[Math.floor(Math.random() * visualTwists.length)];\n\n// Plantillas de prompt\nconst promptTemplates = [\n  `Realistic photo of ${scene}, ${visualDetail}, showing ${emotions}. Two Latin American professionals from different generations are ${action}. Set in a modern environment with ${selectedLighting}. Shot in ${selectedAngle}, shallow depth of field. DSLR quality. No flags or stylized effects.`,\n  \n  `A premium stock-style image featuring ${action} between two Latin American business members — one older and one younger — capturing ${emotions} in ${scene}, ${visualDetail}. The background is softly blurred, in ${selectedLighting}. Taken in ${selectedAngle}. Professional photo, not illustration.`,\n\n  `Candid photo of ${scene}, ${visualDetail}, with two Latin American subjects engaged in ${action}, expressing ${emotions}. The setting has ${selectedLighting} and the scene is captured in ${selectedAngle}, mimicking DSLR photography with realistic textures and natural bokeh.`\n];\n\n// Selección del prompt final\nconst prompt = promptTemplates[Math.floor(Math.random() * promptTemplates.length)];\n\nreturn [{\n  json: {\n    prompt,\n    fileName,\n    scene,\n    emotions,\n    action,\n    angle: selectedAngle,\n    lighting: selectedLighting,\n    visualDetail\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2816,1216],"id":"f83b0943-328b-4fc7-a5f2-3878ef14a0a4","name":"limpizaVar"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"GPT-4"},"messages":{"values":[{"content":"=Titulo: {{ $json.Titulo }}\nContenido: {{ $json.Extracto }}"},{"content":"Eres un asistente creativo que genera variables visuales para una imagen realista. A partir del contenido de un blog sobre coaching empresarial, responde con:\n\n1. scene_description (en inglés)\n2. human_emotions (en inglés)\n3. action_description (en inglés)\n4. file_name (en **español**, sin acentos ni caracteres especiales, separado por guiones, con terminación .png, SEO-friendly)\n\nDevuelve la respuesta en formato JSON.\n","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2432,1216],"id":"0d082c5d-54cc-4f24-9760-5cfd797232aa","name":"promptIMG"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"GPT-4"},"messages":{"values":[{"content":"You are a prompt editor for an AI image generation workflow focused on producing realistic, high-quality photographs. Your job is to rewrite a raw prompt to sound more natural, vivid, and visually distinct, while keeping its photographic intent. Keep the result under 100 words.\n\nYou also receive a list of previously used prompts. Ensure the new prompt avoids semantic or visual repetition. You can vary the scene details, structure, and phrasing subtly while preserving the core idea.\n\nReturn only the optimized prompt. Do not include any commentary or the list of past prompts.\nAny visible text, signs, labels, or written content in the scene should be in Spanish.\n","role":"system"},{"content":"=Here is the new prompt to optimize:\n\n{{ $json.prompt }}\n\nHere is a list of previous prompts already used:\n\n{{ $json.previousPrompts }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3248,1312],"id":"14f6cc6d-cadc-46f7-b270-1aed4a7539b0","name":"OptPromptIMG"},{"parameters":{"jsCode":"const porCrear = items.filter(i => i.json.Estatus === 'Por crear');\nreturn [\n  {\n    json: {\n      hayPorCrear: porCrear.length > 0,\n      totalPorCrear: porCrear.length,\n      porCrear: porCrear\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,672],"id":"3db744b4-e653-4f9d-aaae-6e8ad20875e7","name":"FiltroXCrear"},{"parameters":{"jsCode":"// 1. Filtramos solo los items con contenido en \"Promt Imagen\", limpiando espacios\nconst prompts = items\n  .filter(item => typeof item.json[\"Promt Imagen\"] === \"string\" && item.json[\"Promt Imagen\"].trim() !== \"\")\n  .sort((a, b) => b.json.row_number - a.json.row_number) // 2. Ordenamos de más nuevo a más antiguo\n  .slice(0, 8) // 3. Tomamos los 8 más recientes\n  .map((item, index) => `Prompt ${index + 1}:\\n${item.json[\"Promt Imagen\"]}`); // 4. Les damos formato con encabezado\n\n// 5. Unimos todos con doble salto de línea\nconst combinedPrompts = prompts.join('\\n\\n');\n\n// 6. Devolvemos el resultado como campo previousPrompts\nreturn [{\n  json: {\n    previousPrompts: combinedPrompts\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2816,1408],"id":"95f7aaaf-7339-4566-a2e9-bcc92683da0d","name":"FiltrarPrompts"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[3024,1312],"id":"fdb8a05e-b549-4b78-a292-222472af9399","name":"previousPrompts"},{"parameters":{"rule":{"interval":[{"field":"weeks","weeksInterval":4,"triggerAtDay":[1],"triggerAtHour":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1104,672],"id":"287c2f6a-30ec-4d81-8da6-72944b38c7f6","name":"Schedule Trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4d9de28d-7255-40c8-890a-eec31689be2f","leftValue":"={{ $json.Estatus }}","rightValue":"Rechazado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[112,176],"id":"2174cf57-ca53-40cd-8c49-f097cffa4a30","name":"Filter3"},{"parameters":{"chatId":"1019249029","text":"=<b>❌ Contenido rechazado</b>\n\n<b>🧠 Título:</b> {{ $json.Titulo }}\n\n<b>📝 Extracto:</b> {{ $json.Extracto }}\n\n<a href=\"{{ $json.Archivo }}\">{{ $json.ID }}</a>\n","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[544,176],"id":"bcdc5de1-1ff6-469a-82fc-6df7186c6a8b","name":"Telegram1","webhookId":"aa24262b-f890-4599-9ca7-e9589a9136b9"},{"parameters":{"content":"## Contenido rechazado","height":360,"width":960,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-192,64],"typeVersion":1,"id":"f29db924-951a-461a-b0ed-320b2400b4cb","name":"Sticky Note4"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[336,176],"id":"ea37c31f-c94c-4614-a883-804e3a0b1711","name":"Loop Over Items"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1472,1984],"id":"ff7ad706-2524-4e59-b55e-668e4ed92281","name":"loop_creacion_blog1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bedfd104-68e7-4f81-b552-d137d9298a06","leftValue":"={{ $json.Imagen }}","rightValue":"Seleccionado","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1248,1984],"id":"2d1c5988-56cd-42a8-a0f9-2d47f42581ba","name":"Filter2"},{"parameters":{"content":"Creación de contenido","height":480,"width":3700,"color":6},"type":"n8n-nodes-base.stickyNote","position":[752,1712],"typeVersion":1,"id":"aba88e50-7209-4e49-a31f-8e741a7eb7aa","name":"Sticky Note5"},{"parameters":{"jsCode":"const parsed = JSON.parse(items[0].json.message.content);\n\n// Variables generadas por IA\nconst scene = parsed.scene_description;\nconst emotions = parsed.human_emotions;\nconst action = parsed.action_description;\nconst fileName = parsed.file_name;\n\n// Ángulos ponderados\nconst angles = [\n  \"eye-level shot\",\n  \"over-the-shoulder view\",\n  \"wide-angle shot\",\n  \"medium shot from the side\",\n  \"close-up of a candid moment\",\n  \"three-quarter view\",\n  \"slightly elevated angle\",\n  \"low-angle shot\",\n  \"back view of the subjects\",\n  \"profile view\",\n  \"top-down view (flat lay)\",\n  \"depth-of-field focus with blurred background\",\n  \"subject framed by a doorway or window\",\n  \"subjects viewed through a glass wall or partition\",\n  \"natural over-the-shoulder composition\"\n];\n\n// Iluminación\nconst lighting = [\n  \"soft morning light\",\n  \"warm afternoon light\",\n  \"diffused daylight through windows\",\n  \"natural backlighting\",\n  \"ambient office lighting\",\n  \"golden hour sunlight\",\n  \"cool daylight from skylights\",\n  \"overcast natural lighting\",\n  \"slightly directional window light\",\n  \"soft indoor lighting with mild shadows\",\n  \"natural mixed lighting (sunlight and bulbs)\",\n  \"balanced neutral daylight without harsh shadows\"\n];\n\n// Detalles visuales para variedad\nconst visualTwists = [\n  \"with a whiteboard full of diagrams behind them\",\n  \"with a young child drawing quietly in a corner\",\n  \"with sticky notes scattered across the wall\",\n  \"with a window view of a small town outside\",\n  \"with a digital tablet showing business charts\",\n  \"surrounded by printed reports and coffee mugs\",\n  \"with natural plants and books adding a homey touch\",\n  \"next to a family photo frame subtly visible\",\n  \"while standing rather than seated, in active discussion\"\n];\n\nconst selectedAngle = angles[Math.floor(Math.random() * angles.length)];\nconst selectedLighting = lighting[Math.floor(Math.random() * lighting.length)];\nconst visualDetail = visualTwists[Math.floor(Math.random() * visualTwists.length)];\n\n// Plantillas de prompt\nconst promptTemplates = [\n  `Realistic photo of ${scene}, ${visualDetail}, showing ${emotions}. Two Latin American professionals from different generations are ${action}. Set in a modern environment with ${selectedLighting}. Shot in ${selectedAngle}, shallow depth of field. DSLR quality. No flags or stylized effects.`,\n  \n  `A premium stock-style image featuring ${action} between two Latin American business members — one older and one younger — capturing ${emotions} in ${scene}, ${visualDetail}. The background is softly blurred, in ${selectedLighting}. Taken in ${selectedAngle}. Professional photo, not illustration.`,\n\n  `Candid photo of ${scene}, ${visualDetail}, with two Latin American subjects engaged in ${action}, expressing ${emotions}. The setting has ${selectedLighting} and the scene is captured in ${selectedAngle}, mimicking DSLR photography with realistic textures and natural bokeh.`\n];\n\n// Selección del prompt final\nconst prompt = promptTemplates[Math.floor(Math.random() * promptTemplates.length)];\n\nreturn [{\n  json: {\n    prompt,\n    fileName,\n    scene,\n    emotions,\n    action,\n    angle: selectedAngle,\n    lighting: selectedLighting,\n    visualDetail\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2064,1792],"id":"96567ee2-f010-430e-b797-625b6f2e9217","name":"limpizaVar1"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"GPT-4"},"messages":{"values":[{"content":"=Titulo: {{ $json.Titulo }}\nExtracto: {{ $json.Extracto }}\nContenido: {{ $json.Archivo }}"},{"content":"Eres un asistente creativo que genera variables visuales para una imagen realista. A partir del contenido de un blog sobre coaching empresarial, responde con:\n\n1. scene_description (en inglés)\n2. human_emotions (en inglés)\n3. action_description (en inglés)\n4. file_name (en **español**, sin acentos ni caracteres especiales, separado por guiones, con terminación .png, SEO-friendly)\n\nDevuelve la respuesta en formato JSON.\n","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1696,1792],"id":"8427f979-b875-49d5-805d-76a31f85e4aa","name":"promptIMG1"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"GPT-4"},"messages":{"values":[{"content":"You are a prompt editor for an AI image generation workflow focused on producing realistic, high-quality photographs. Your job is to rewrite a raw prompt to sound more natural, vivid, and visually distinct, while keeping its photographic intent. Keep the result under 100 words.\n\nYou also receive a list of previously used prompts. Ensure the new prompt avoids semantic or visual repetition. You can vary the scene details, structure, and phrasing subtly while preserving the core idea.\n\nReturn only the optimized prompt. Do not include any commentary or the list of past prompts.\nAny visible text, signs, labels, or written content in the scene should be in Spanish.\n","role":"system"},{"content":"=Here is the new prompt to optimize:\n\n{{ $json.prompt }}\n\nHere is a list of previous prompts already used:\n\n{{ $json.previousPrompts }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2512,1888],"id":"d90eb404-1c3f-4ea1-9339-e63a83ecd4cf","name":"OptPromptIMG1"},{"parameters":{"jsCode":"// 1. Filtramos solo los items con contenido en \"Promt Imagen\", limpiando espacios\nconst prompts = items\n  .filter(item => typeof item.json[\"Promt Imagen\"] === \"string\" && item.json[\"Promt Imagen\"].trim() !== \"\")\n  .sort((a, b) => b.json.row_number - a.json.row_number) // 2. Ordenamos de más nuevo a más antiguo\n  .slice(0, 8) // 3. Tomamos los 8 más recientes\n  .map((item, index) => `Prompt ${index + 1}:\\n${item.json[\"Promt Imagen\"]}`); // 4. Les damos formato con encabezado\n\n// 5. Unimos todos con doble salto de línea\nconst combinedPrompts = prompts.join('\\n\\n');\n\n// 6. Devolvemos el resultado como campo previousPrompts\nreturn [{\n  json: {\n    previousPrompts: combinedPrompts\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2064,1984],"id":"dd7faf73-b6b6-46d6-81cc-a61f975f2ee6","name":"FiltrarPrompts1"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[2288,1888],"id":"c5f7d2bc-09e9-47db-b433-13814e66e9f8","name":"previousPrompts1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[816,1984],"id":"74617e42-3d41-4f15-aa11-87ac79072cf8","name":"When clicking ‘Test workflow’"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk","mode":"list","cachedResultName":"Blog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Blog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1024,1984],"id":"03be5aa1-5f4b-4f2a-9c99-231dcff7782a","name":"LeerBlog"},{"parameters":{"resource":"image","prompt":"={{ $json['Promt Imagen'] }}","options":{"size":"1792x1024","returnImageUrls":true}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3104,1888],"id":"2dc2a86e-49e2-4694-a67a-acb1cff55e78","name":"Imagen1"},{"parameters":{"authentication":"serviceAccount","inputDataFieldName":"=data","name":"={{ $('Update row in sheet').item.json.ID }}_{{ $('Update row in sheet').item.json['Nombre imágen'] }}","driveId":{"__rl":true,"value":"1o5fD1CRYDbsgxjI9Ee239rFua3-a_36d","mode":"id"},"folderId":{"__rl":true,"value":"=1jv86Hpn7RjOuF0ReTnIxSE66PY1FODma","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3552,1888],"id":"fe8b3a82-1b85-4565-9e2c-e36c8c9370d5","name":"uploadIMG1"},{"parameters":{"url":"={{ $json.url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"image/*"}]},"options":{"response":{"response":{"responseFormat":"file"}},"timeout":60000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3328,1888],"id":"fd9bb2b7-b567-442a-870b-5120228e50f1","name":"descargarIMG1"},{"parameters":{"operation":"sendPhoto","chatId":"1019249029","file":"={{ $('descargarIMG1').item.json.url }}","additionalFields":{"caption":"=<b>📢 Imgen creada</b>\n\n<b>🧠 Título:</b> {{ $('actualizarPromtIMG').item.json.Titulo }}\n","disable_notification":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3984,1968],"id":"ac6f8b69-2f72-4653-98c2-d06ec413bbfe","name":"Telegram2","webhookId":"aa24262b-f890-4599-9ca7-e9589a9136b9"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5cb7aef6-ee7a-400c-b93b-98c6cb720f68","leftValue":"={{ $json.Estatus }}","rightValue":"Evaluado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1296,208],"id":"6445676a-d3bb-48b3-b0a7-88a44eeff292","name":"Filter: Evaluado"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4256,1408],"id":"03e25ad6-b1e7-4b9e-ba3c-c0e99a9dc63c","name":"Wait2","webhookId":"d1b7c804-2acf-4d67-9d0d-137ed07e73b6"},{"parameters":{"rule":{"interval":[{"field":"weeks","weeksInterval":4,"triggerAtDay":[1],"triggerAtHour":1,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-144,1376],"id":"af536af8-aae9-499c-a6dc-ca438aa0ab8e","name":"Schedule Trigger1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bedfd104-68e7-4f81-b552-d137d9298a06","leftValue":"={{ $json.Estatus }}","rightValue":"Seleccionado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[304,1376],"id":"865914f3-84ab-493c-a14d-0c9b7c5a9389","name":"Filter: Seleccionado"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk","mode":"list","cachedResultName":"Blog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":760679505,"mode":"list","cachedResultName":"Temas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk/edit#gid=760679505"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[96,1376],"id":"a60768fd-0a02-4aa7-a33c-7ec1f80fc398","name":"Leer Temas: Crear"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk","mode":"list","cachedResultName":"Blog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":760679505,"mode":"list","cachedResultName":"Temas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk/edit#gid=760679505"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1024,208],"id":"bd70bd51-bde7-4d42-bf01-f72819143be0","name":"Leer Temas: Seleccionar"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk","mode":"list","cachedResultName":"Blog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Blog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2688,768],"id":"599885c6-1362-4004-9503-108472f0533b","name":"Leer Temas: imagen"},{"parameters":{"pollTimes":{"item":[{"hour":9}]},"documentId":{"__rl":true,"value":"1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk","mode":"list","cachedResultName":"Blog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Blog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk/edit#gid=0"},"event":"rowUpdate","options":{"columnsToWatch":["Estatus"]}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-112,176],"id":"b972780c-dc8e-43d2-8076-e537cbf48a0d","name":"Google Sheets Trigger"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk","mode":"list","cachedResultName":"Blog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":760679505,"mode":"list","cachedResultName":"Temas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk/edit#gid=760679505"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-80,736],"id":"26078648-ef1c-40e7-b20c-4e2ee1948596","name":"Leer Temas: Evaluar"},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk","mode":"list","cachedResultName":"Blog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Blog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $('loopImagen').item.json.ID }}","Imagen":"={{ $json.webContentLink }}","Estatus":"Revisión int"},"matchingColumns":["ID"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Fecha de publicación","displayName":"Fecha de publicación","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Titulo","displayName":"Titulo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Extracto","displayName":"Extracto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Archivo","displayName":"Archivo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Promt Imagen","displayName":"Promt Imagen","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nombre imágen","displayName":"Nombre imágen","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Imagen","displayName":"Imagen","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Fecha ISO","displayName":"Fecha ISO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post en Redes sociales","displayName":"Post en Redes sociales","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Veces Publicado","displayName":"Veces Publicado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[4016,704],"id":"af8ad34a-c665-4bcf-b681-c8ce315327fd","name":"actualizar: Revision int"},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk","mode":"list","cachedResultName":"Blog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Blog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $('Update row in sheet').item.json.ID }}","Imagen":"={{ $json.webContentLink }}"},"matchingColumns":["ID"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Fecha de publicación","displayName":"Fecha de publicación","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Titulo","displayName":"Titulo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Extracto","displayName":"Extracto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Archivo","displayName":"Archivo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Promt Imagen","displayName":"Promt Imagen","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nombre imágen","displayName":"Nombre imágen","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Imagen","displayName":"Imagen","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post en Redes sociales","displayName":"Post en Redes sociales","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Veces Publicado","displayName":"Veces Publicado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3776,1888],"id":"09c385a1-a5f3-41fe-998e-227225fdb2ca","name":"actualizar: Imagen"},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk","mode":"list","cachedResultName":"Blog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Blog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Promt Imagen":"={{ $('previousPrompts1').item.json.prompt }}","Nombre imágen":"={{ $('previousPrompts1').item.json.fileName }}","ID":"={{ $('loop_creacion_blog1').item.json.ID }}"},"matchingColumns":["ID"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Fecha de publicación","displayName":"Fecha de publicación","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Titulo","displayName":"Titulo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Extracto","displayName":"Extracto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Archivo","displayName":"Archivo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Promt Imagen","displayName":"Promt Imagen","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nombre imágen","displayName":"Nombre imágen","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Imagen","displayName":"Imagen","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Fecha ISO","displayName":"Fecha ISO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Post en Redes sociales","displayName":"Post en Redes sociales","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Veces Publicado","displayName":"Veces Publicado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2896,1888],"id":"45f7ab7e-84a3-4483-836e-788d6a074f52","name":"Update row in sheet"},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk","mode":"list","cachedResultName":"Blog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":760679505,"mode":"list","cachedResultName":"Temas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk/edit#gid=760679505"},"columns":{"mappingMode":"defineBelow","value":{"Tema":"={{ $json.tema }}","Keywords":"={{ $json.keywords }}","Score":"={{ $json.promedioSEO }}","Estatus":"={{ $json.estatus }}"},"matchingColumns":["Tema"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tema","displayName":"Tema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Descripción","displayName":"Descripción","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Keywords","displayName":"Keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Score","displayName":"Score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Prioridad","displayName":"Prioridad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2064,784],"id":"3ba94bf6-bb51-4669-87e1-829d724d5e75","name":"Update row in sheet1"},{"parameters":{"pollTimes":{"item":[{"mode":"everyWeek","hour":2}]},"documentId":{"__rl":true,"value":"1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk","mode":"list","cachedResultName":"Blog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Blog","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jHeFNG7Ck6TU-bzTdP0cpXQRIjmpWnVAQ9YxEhijuXk/edit#gid=0"},"event":"rowUpdate","options":{"columnsToWatch":["Estatus"]}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[2448,768],"id":"885092fd-c24d-48c7-9e50-34fe9e957aed","name":"Google Sheets Trigger1"}],"connections":{"Leer Temas":{"main":[[{"node":"FiltroXCrear","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Evaluación de Temas","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Investigación Keywords","type":"main","index":0}]]},"Investigación Keywords":{"main":[[{"node":"Dividir KW","type":"main","index":0}]]},"SEO Score KW":{"main":[[{"node":"SEO Score Tema","type":"main","index":0}]]},"SEO Score Tema":{"main":[[{"node":"Merge INPUTS","type":"main","index":0}]]},"Dividir KW":{"main":[[{"node":"SEO Score KW","type":"main","index":0}]]},"Merge INPUTS":{"main":[[{"node":"Update row in sheet1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Evaluación de Temas","type":"main","index":0}],[{"node":"Mensaje Fallo: Selección","type":"main","index":0}]]},"hayPorCrear":{"main":[[{"node":"Leer Temas: Evaluar","type":"main","index":0}],[{"node":"Leer Temas: Seleccionar","type":"main","index":0}]]},"Evaluación de Temas":{"main":[[{"node":"Actualización: Seleccionado","type":"main","index":0}]]},"Loop Evaluación de Temas":{"main":[[{"node":"Leer Temas: Seleccionar","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Creación de Blog":{"main":[[{"node":"dividirElementos","type":"main","index":0}]]},"Leer ID y Fecha":{"main":[[{"node":"ID_Fecha","type":"main","index":0},{"node":"FiltrarPrompts","type":"main","index":0}]]},"loop_creacion_blog":{"main":[[],[{"node":"Leer ID y Fecha","type":"main","index":0}]]},"crearDoc":{"main":[[{"node":"Creación de Blog","type":"main","index":0}]]},"ID_Fecha":{"main":[[{"node":"crearDoc","type":"main","index":0}]]},"dividirElementos":{"main":[[{"node":"formatJSON","type":"main","index":0}]]},"formatJSON":{"main":[[{"node":"actualizaDoc","type":"main","index":0}]]},"actualizarSheetBlog":{"main":[[{"node":"actualizarSheetTema","type":"main","index":0}]]},"actualizaDoc":{"main":[[{"node":"promptIMG","type":"main","index":0}]]},"Imagen":{"main":[[{"node":"descargarIMG","type":"main","index":0}]]},"actualizarSheetTema":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"loopImagen","type":"main","index":0}]]},"descargarIMG":{"main":[[{"node":"uploadIMG","type":"main","index":0}]]},"loopImagen":{"main":[[],[{"node":"Imagen","type":"main","index":0}]]},"uploadIMG":{"main":[[{"node":"actualizar: Revision int","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"loopImagen","type":"main","index":0}]]},"limpizaVar":{"main":[[{"node":"previousPrompts","type":"main","index":0}]]},"promptIMG":{"main":[[{"node":"limpizaVar","type":"main","index":0}]]},"OptPromptIMG":{"main":[[{"node":"actualizarSheetBlog","type":"main","index":0}]]},"FiltroXCrear":{"main":[[{"node":"hayPorCrear","type":"main","index":0}]]},"FiltrarPrompts":{"main":[[{"node":"previousPrompts","type":"main","index":1}]]},"previousPrompts":{"main":[[{"node":"OptPromptIMG","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Leer Temas","type":"main","index":0}]]},"Filter3":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Telegram1","type":"main","index":0}]]},"Telegram1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"loop_creacion_blog1":{"main":[[],[{"node":"FiltrarPrompts1","type":"main","index":0},{"node":"promptIMG1","type":"main","index":0}]]},"Filter2":{"main":[[{"node":"loop_creacion_blog1","type":"main","index":0}]]},"limpizaVar1":{"main":[[{"node":"previousPrompts1","type":"main","index":0}]]},"promptIMG1":{"main":[[{"node":"limpizaVar1","type":"main","index":0}]]},"OptPromptIMG1":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"FiltrarPrompts1":{"main":[[{"node":"previousPrompts1","type":"main","index":1}]]},"previousPrompts1":{"main":[[{"node":"OptPromptIMG1","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"LeerBlog","type":"main","index":0}]]},"LeerBlog":{"main":[[{"node":"Filter2","type":"main","index":0}]]},"Imagen1":{"main":[[{"node":"descargarIMG1","type":"main","index":0}]]},"uploadIMG1":{"main":[[{"node":"actualizar: Imagen","type":"main","index":0}]]},"descargarIMG1":{"main":[[{"node":"uploadIMG1","type":"main","index":0}]]},"Telegram2":{"main":[[{"node":"loop_creacion_blog1","type":"main","index":0}]]},"Filter: Evaluado":{"main":[[{"node":"If1","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"loop_creacion_blog","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Leer Temas: Crear","type":"main","index":0}]]},"Filter: Seleccionado":{"main":[[{"node":"loop_creacion_blog","type":"main","index":0}]]},"Leer Temas: Crear":{"main":[[{"node":"Filter: Seleccionado","type":"main","index":0}]]},"Leer Temas: Seleccionar":{"main":[[{"node":"Filter: Evaluado","type":"main","index":0}]]},"Leer Temas: imagen":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Google Sheets Trigger":{"main":[[{"node":"Filter3","type":"main","index":0}]]},"Leer Temas: Evaluar":{"main":[[{"node":"If","type":"main","index":0}]]},"actualizar: Revision int":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"actualizar: Imagen":{"main":[[{"node":"Telegram2","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Imagen1","type":"main","index":0}]]},"Update row in sheet1":{"main":[[{"node":"Loop Evaluación de Temas","type":"main","index":0}]]},"Google Sheets Trigger1":{"main":[[{"node":"Leer Temas: imagen","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"5729b193-1e7e-4c81-baf2-465a669f3f0c","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-01-05T23:21:54.927Z","createdAt":"2026-01-05T23:21:54.927Z","role":"workflow:owner","workflowId":"HgW2Vndeasz3E1YT","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[{"updatedAt":"2026-01-05T23:21:46.889Z","createdAt":"2026-01-05T23:21:46.889Z","id":"4bTi9uYyFVxN1qMJ","name":"MASTER"},{"updatedAt":"2026-01-05T23:21:46.895Z","createdAt":"2026-01-05T23:21:46.895Z","id":"Sbu0m9QbBZ8awuqG","name":"SEO"},{"updatedAt":"2026-01-05T23:21:46.875Z","createdAt":"2026-01-05T23:21:46.875Z","id":"UGhdSSSc6z68ikkF","name":"BLOG"}],"activeVersion":null}