workflows/Matus_ WordPress P3--RHss6YUkDfR8F7aH.json
{"updatedAt":"2026-01-05T23:24:13.000Z","createdAt":"2026-01-05T23:24:13.447Z","id":"RHss6YUkDfR8F7aH","name":"Matus: WordPress P3","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-224,480],"id":"07b7b4c2-84ef-4a7d-a219-4a87c68e9568","name":"Loop Over Items"},{"parameters":{"url":"=https://www.googleapis.com/drive/v3/files/{{ $json.docId }}/export?mimeType=text/html\n","authentication":"predefinedCredentialType","nodeCredentialType":"googleOAuth2Api","options":{"response":{"response":{"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,496],"id":"a446a515-046a-48f7-a79c-eed9b25214a7","name":"contenidoBlog"},{"parameters":{"jsCode":"return items.map(item => {\n  const url = $input.first().json.Archivo;\n  const match = url.match(/\\/d\\/([a-zA-Z0-9_-]+)/);\n  item.json.docId = match ? match[1] : null;\n  return item;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,432],"id":"6615eb1d-3dcc-437b-9c63-d8eaf62f8842","name":"getIDBlog"},{"parameters":{"jsCode":"return items.map(item => {\n  const url = item.json.Imagen;\n  const match = url.match(/(?:id=|\\/d\\/)([a-zA-Z0-9_-]{10,})/);\n  const imgID = match ? match[1] : null;\n  return { json: { ...item.json, imgID } };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,192],"id":"cff1b049-0719-4e67-bc9b-c3c78f491f61","name":"getIDIMG"},{"parameters":{"authentication":"serviceAccount","operation":"download","fileId":{"__rl":true,"value":"={{ $json.imgID }}","mode":"id"},"options":{"binaryPropertyName":"img","fileName":"={{ $json['Nombre imágen'] }}"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[224,192],"id":"9b460323-c08e-4d15-bc33-ade61ef6d49a","name":"getIMG"},{"parameters":{"url":"https://yessicamatus.com/wp-json/wp/v2/categories","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,688],"id":"7da8ccc3-cb9c-4948-a51b-cc3c76a7e9b3","name":"leerCategorias"},{"parameters":{"jsCode":"let html = $json.data;\n\n// Eliminar <html>, <head>, <body>\nhtml = html.replace(/<html[^>]*>|<\\/html>/gi, '');\nhtml = html.replace(/<head[\\s\\S]*?<\\/head>/gi, '');\nhtml = html.replace(/<body[^>]*>|<\\/body>/gi, '');\n\n// Eliminar atributos style, class, id\nhtml = html.replace(/\\s*(style|class|id)=\"[^\"]*\"/gi, '');\n\n// Eliminar <span> conservando el contenido\nhtml = html.replace(/<span[^>]*>/gi, '');\nhtml = html.replace(/<\\/span>/gi, '');\n\n// Eliminar <p> vacíos con &nbsp; u otros espacios\nhtml = html.replace(/<p>(&nbsp;|\\s)*<\\/p>/gi, '');\n\n// Eliminar párrafos vacíos\nhtml = html.replace(/<p>\\s*<\\/p>/gi, '');\n\n// Limpiar múltiples espacios\nhtml = html.replace(/\\s{2,}/g, ' ');\n\n// Corregir enlaces redirigidos por Google y eliminar parámetros innecesarios\nhtml = html.replace(/<a\\s+[^>]*href=\"https:\\/\\/www\\.google\\.com\\/url\\?q=([^\"&]+)[^\"]*\"[^>]*>(.*?)<\\/a>/gi, (match, url, texto) => {\n  const limpio = decodeURIComponent(url).split('&')[0];\n  return `<a href=\"${limpio}\" rel=\"noopener noreferrer\">${texto}</a>`;\n});\n\n// También corregir cualquier <a href=\"https://...&param=...\"> fuera de Google\nhtml = html.replace(/<a\\s+[^>]*href=\"([^\"]+?)&[^\"]*\"[^>]*>(.*?)<\\/a>/gi, (match, base, texto) => {\n  return `<a href=\"${base}\" rel=\"noopener noreferrer\">${texto}</a>`;\n});\n\n// Retornar contenido limpio\nreturn [{ json: { ...$json, contenido: html.trim() } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,496],"id":"88334b1c-0078-425f-a3da-90ef8886aace","name":"clearHTML"},{"parameters":{"assignments":{"assignments":[{"id":"215fd62c-0635-4bad-a5b6-c534ed0186e8","name":"contenido","value":"={{ $json.contenido }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[672,496],"id":"1d0830b4-2538-4db5-af7b-9fc94170f72c","name":"varContenido"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":4,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[896,400],"id":"b57ab2ec-ed74-4c00-96e5-47f81f9ee449","name":"blogMaster"},{"parameters":{"jsCode":"return items\n  .filter(item => item.json.name !== 'Uncategorized')\n  .map(item => {\n    return {\n      json: {\n        categoria: item.json.name\n      }\n    };\n  });"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,688],"id":"e65e4b70-48e6-40fa-9116-751e73a002bc","name":"categorias"},{"parameters":{"jsCode":"const categorias = items.map(item => item.json.categoria).filter(Boolean);\nreturn [{\n  json: {\n    categorias: categorias.join(', ')\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,688],"id":"07e9be87-57d7-46a2-8038-f9e392564633","name":"varCategorias"},{"parameters":{"url":"=https://yessicamatus.com/wp-json/wp/v2/categories?search={{ $json.categoria }}","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,432],"id":"7e3bde22-4198-48ef-a83e-dc3b520c3715","name":"idCategoria","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ee066f71-ab26-498c-b6fc-283c5ec35509","leftValue":"={{ $('blogVar').item.json.categoria }}","rightValue":"Nueva categoría (por definir)","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1792,432],"id":"ee114a3b-fc19-4a76-a17a-b6a8c1415429","name":"If"},{"parameters":{"jsCode":"const texto = ($json.Titulo || '') + ' ' + ($json.Extracto || '') + ' ' + ($json.contenido || '');\nconst categoriasInput = ($json.categorias || '').split(',').map(c => c.trim()).filter(Boolean);\n\n// === FUNCIONES AUXILIARES PARA SLUG ===\nconst removeEmojis = (text) => {\n  return text.replace(/([\\u2700-\\u27BF]|[\\uE000-\\uF8FF]|[\\uD83C-\\uDBFF\\uDC00-\\uDFFF])/g, '');\n};\n\nconst slugify = (text) => {\n  return removeEmojis(text)\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/[^a-z0-9 ]/g, \"\")\n    .trim()\n    .replace(/\\s+/g, \"-\");\n};\n\nconst slug = slugify($json.Titulo || '');\n\n// === PALABRAS CLAVE POR CATEGORÍA ===\nconst mapaCategorias = {\n  'Coaching Empresarial': ['coaching', 'mentor', 'acompañamiento', 'sesión', 'ejecutivo'],\n  'Empresa Familiar': ['empresa familiar', 'herencia', 'familiares', 'transición generacional'],\n  'Liderazgo': ['líder', 'liderazgo', 'inspirar', 'decisión', 'visión'],\n  'Plan de Sucesión': ['sucesión', 'sucesor', 'heredero', 'transición', 'plan sucesorio'],\n  'Profesionalización': ['estructura', 'procesos', 'profesionalizar', 'orden', 'sistema'],\n  'Responsabilidad Social': ['impacto social', 'sostenible', 'ética', 'medio ambiente'],\n  'Estrategia de Diversificación': ['diversificación', 'diversificar', 'nuevos productos', 'crecimiento', 'riesgo', 'expansión'],\n  'Estrategia de Producto': ['producto', 'prototipo', 'beta', 'desarrollo de producto'],\n  'Estrategias de Crecimiento': ['crecimiento', 'escalar', 'ampliar mercado'],\n  'Innovación Estratégica': ['innovación', 'estrategia', 'disruptivo', 'transformación'],\n};\n\n// === EVALUAR COINCIDENCIAS ===\nlet puntajes = {};\n\nfor (const categoria of categoriasInput) {\n  const keywords = mapaCategorias[categoria];\n  if (!keywords) continue;\n\n  let puntaje = 0;\n  for (const palabra of keywords) {\n    const re = new RegExp(`\\\\b${palabra}\\\\b`, 'gi');\n    puntaje += (texto.match(re) || []).length;\n  }\n\n  if (puntaje > 0) {\n    puntajes[categoria] = puntaje;\n  }\n}\n\n// === SELECCIONAR LA MEJOR CATEGORÍA ===\nconst ordenadas = Object.entries(puntajes).sort((a, b) => b[1] - a[1]);\n\nif (ordenadas.length > 0) {\n  return [{ json: { categoriaSugerida: ordenadas[0][0], slug } }];\n} else {\n  return [{ json: { categoriaSugerida: 'Nueva categoría (por definir)', slug } }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,432],"id":"972a4a12-0971-4f6a-99a0-bb7323edb76f","name":"definirCategoria"},{"parameters":{"method":"POST","url":"https://yessicamatus.com/wp-json/wp/v2/media","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"image/png"},{"name":"Content-Disposition","value":"=attachment; filename=\"{{ $json['Nombre imágen'] }}\""}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"img","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,192],"id":"524abc8b-d1d7-4b50-8df4-a45faf0d7046","name":"HTTP Request2"},{"parameters":{"assignments":{"assignments":[{"id":"fe4f5ba7-f322-491d-a647-7ee21bfac103","name":"idImagen","value":"={{ $json.id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[672,192],"id":"b468ec32-3a7d-4878-9c8f-65f8aceaf501","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://yessicamatus.com/wp-json/wp/v2/posts","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"title","value":"={{ $json.Titulo }}"},{"name":"content","value":"={{ $json.contenido }}"},{"name":"excerpt","value":"={{ $json.Extracto }}"},{"name":"status","value":"future"},{"name":"categories","value":"={{ $json.idCategoria }}"},{"name":"date","value":"={{ $json.FechaPublicacionISO }}"},{"name":"featured_media","value":"={{ $json.idImagen }}"},{"name":"author","value":"2"},{"name":"slug","value":"={{ $json.slug }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2368,288],"id":"5b1c5f11-3780-43cb-8962-587d48aed83e","name":"programarPost"},{"parameters":{"assignments":{"assignments":[{"id":"9261fafb-f4c4-41a7-8ca1-8e7c282ab878","name":"ID","value":"={{ $('VarBlog2').item.json.ID }}","type":"string"},{"id":"df164335-92d6-4420-bb3f-6ac4b8206f35","name":"Link","value":"=https://yessicamatus.com/{{ $json.slug }}","type":"string"},{"id":"fa5bcc6f-dff7-4e24-a735-2246fc575ef9","name":"Titulo","value":"={{ $('VarBlog2').item.json.Titulo }}","type":"string"},{"id":"4bbedfa4-e774-4623-ae25-19ed1dcb8811","name":"FechaPublicacionISO","value":"={{ $('VarBlog2').item.json.FechaPublicacionISO }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2592,288],"id":"d12abd6a-14ce-4159-b584-0262f65127ab","name":"updateBDBlog"},{"parameters":{"assignments":{"assignments":[{"id":"88eb0b04-cdc4-4bad-af49-9649a4cfd490","name":"ID","value":"={{ $('blogMaster').item.json.ID }}","type":"string"},{"id":"c697e585-5ff6-4c30-a767-bbcbdd1f119c","name":"Titulo","value":"={{ $('blogMaster').item.json.Titulo }}","type":"string"},{"id":"5e07d510-418c-4951-9eb4-67fd65a13f9d","name":"Extracto","value":"={{ $('blogMaster').item.json.Extracto }}","type":"string"},{"id":"b8434f73-3f8c-4bf7-9c5e-761f5edfb2f2","name":"idImagen","value":"={{ $('blogMaster').item.json.idImagen }}","type":"string"},{"id":"1f5df004-d681-4cc0-bb88-4b42289fc0fd","name":"contenido","value":"={{ $('blogMaster').item.json.contenido }}","type":"string"},{"id":"38f63b3d-75ff-4da9-b320-72d8c5ccd092","name":"FechaPublicacionISO","value":"={{ $('Search records').item.json.Fecha }}","type":"string"},{"id":"7dcea33d-b009-4cbc-ba71-ecb3ee5b3d0f","name":"categoria","value":"={{ $json.categoriaSugerida }}","type":"string"},{"id":"4765b2c1-1bd1-495b-8432-a64baadaf872","name":"slug","value":"={{ $json.slug }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1344,432],"id":"8dea16f2-81bf-4978-813b-5de352e7d67b","name":"blogVar"},{"parameters":{"assignments":{"assignments":[{"id":"46905b52-542c-45d6-8d38-32bcf3b6fbc1","name":"idCategoria","value":"={{ $('idCategoria').item.json.id }}","type":"number"},{"id":"c7350861-a9b7-4b0a-b487-fbf3c0ec46a4","name":"ID","value":"={{ $('blogVar').item.json.ID }}","type":"string"},{"id":"5c49284f-f2ca-45f5-9f5b-acd1d2c16834","name":"Titulo","value":"={{ $('blogVar').item.json.Titulo }}","type":"string"},{"id":"c295caae-e678-44e0-bbc6-e3ed4204e0d4","name":"Extracto","value":"={{ $('blogVar').item.json.Extracto }}","type":"string"},{"id":"e6397fe6-a7f0-43aa-9d0a-7d09e2df319b","name":"idImagen","value":"={{ $('blogVar').item.json.idImagen }}","type":"number"},{"id":"eea54e32-f5b1-405b-8b0d-3aafa6beee03","name":"contenido","value":"={{ $('blogVar').item.json.contenido }}","type":"string"},{"id":"2f889441-c1ed-4ce7-bf9e-e85d217cc24b","name":"FechaPublicacionISO","value":"={{ $('blogVar').item.json.FechaPublicacionISO }}","type":"string"},{"id":"53dbde56-e452-4057-9336-c36add49421f","name":"slug","value":"={{ $('blogVar').item.json.slug }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2080,288],"id":"16ae907a-ed1c-4a02-ad10-bc619a3f5d1a","name":"VarBlog2"},{"parameters":{"method":"POST","url":"https://yessicamatus.com/wp-json/wp/v2/posts","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"title","value":"={{ $json.Titulo }}"},{"name":"content","value":"={{ $json.contenido }}"},{"name":"excerpt","value":"={{ $json.Extracto }}"},{"name":"status","value":"future"},{"name":"categories","value":"={{ $json.idCategoria }}"},{"name":"date","value":"={{ $json.FechaPublicacionISO }}"},{"name":"featured_media","value":"={{ $json.idImagen }}"},{"name":"author","value":"2"},{"name":"slug","value":"={{ $json.slug }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2816,656],"id":"6e4f3dc0-3b4a-4fde-b436-59beb226bc16","name":"programarPost1"},{"parameters":{"assignments":{"assignments":[{"id":"46905b52-542c-45d6-8d38-32bcf3b6fbc1","name":"idCategoria","value":"={{ $json.id }}","type":"number"},{"id":"c7350861-a9b7-4b0a-b487-fbf3c0ec46a4","name":"ID","value":"={{ $('blogVar').item.json.ID }}","type":"string"},{"id":"5c49284f-f2ca-45f5-9f5b-acd1d2c16834","name":"Titulo","value":"={{ $('blogVar').item.json.Titulo }}","type":"string"},{"id":"c295caae-e678-44e0-bbc6-e3ed4204e0d4","name":"Extracto","value":"={{ $('blogVar').item.json.Extracto }}","type":"string"},{"id":"e6397fe6-a7f0-43aa-9d0a-7d09e2df319b","name":"idImagen","value":"={{ $('blogVar').item.json.idImagen }}","type":"number"},{"id":"eea54e32-f5b1-405b-8b0d-3aafa6beee03","name":"contenido","value":"={{ $('blogVar').item.json.contenido }}","type":"string"},{"id":"2f889441-c1ed-4ce7-bf9e-e85d217cc24b","name":"FechaPublicacionISO","value":"={{ $('blogVar').item.json.FechaPublicacionISO }}","type":"string"},{"id":"53dbde56-e452-4057-9336-c36add49421f","name":"slug","value":"={{ $('blogVar').item.json.slug }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2592,656],"id":"4f2ff534-3701-487b-ac9e-591ee0c2e493","name":"VarBlog"},{"parameters":{"method":"POST","url":"https://yessicamatus.com/wp-json/wp/v2/categories","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{{ $json.message.content }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2368,656],"id":"1c88b859-7f32-42c2-9856-8dd911abca64","name":"crearCategoria"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3040,352],"id":"451f381d-1544-49c8-bd6f-75300eea66fa","name":"Wait","webhookId":"a9f04f1e-8776-4e8b-a8de-786bd6b0b0d8"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-896,640],"id":"035dd63e-3b8e-442d-ad9a-23f0fd08172f","name":"When clicking ‘Execute workflow’"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 * * 1"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-896,832],"id":"c10c3334-65df-4dc6-bcdd-6a51bfa1dd21","name":"Schedule Trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"442bef2c-8b09-4b32-be3b-7b02b1bb535b","leftValue":"={{ $json.ID }}","rightValue":0,"operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-448,736],"id":"34ee2d01-7df6-4a63-b58b-f5e9c0efd963","name":"If1"},{"parameters":{"chatId":"1019249029","text":"={{ $json.mensaje }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[224,0],"id":"b0fe629f-2d3c-45a6-84a4-2cc125c16f40","name":"TelegramExito","webhookId":"b5fea511-93cc-4e9a-8bee-4564efa89199"},{"parameters":{"chatId":"1019249029","text":"❌ No Tenemos contenidos por publicar en el Blog de Matus.","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-224,832],"id":"cf5149ff-bcbb-406d-95a3-ed37522ea7b9","name":"sinBlogs","webhookId":"b5fea511-93cc-4e9a-8bee-4564efa89199"},{"parameters":{"assignments":{"assignments":[{"id":"9261fafb-f4c4-41a7-8ca1-8e7c282ab878","name":"ID","value":"={{ $('VarBlog').item.json.ID }}","type":"string"},{"id":"df164335-92d6-4420-bb3f-6ac4b8206f35","name":"Link","value":"=https://yessicamatus.com/{{ $json.slug }}","type":"string"},{"id":"fa5bcc6f-dff7-4e24-a735-2246fc575ef9","name":"Titulo","value":"={{ $('VarBlog').item.json.Titulo }}","type":"string"},{"id":"4bbedfa4-e774-4623-ae25-19ed1dcb8811","name":"FechaPublicacionISO","value":"={{ $('VarBlog').item.json.FechaPublicacionISO }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3040,784],"id":"4367b95a-c0ca-4889-a0f3-1d3d95f23e48","name":"updateBDBlog2"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3488,816],"id":"f0e3771a-3cf5-49ef-9a19-28d64dbfc27d","name":"Wait2","webhookId":"a9f04f1e-8776-4e8b-a8de-786bd6b0b0d8"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appjX236dfu4fY0wy","mode":"list","cachedResultName":"Matus","cachedResultUrl":"https://airtable.com/appjX236dfu4fY0wy"},"table":{"__rl":true,"value":"tblzBOIOyzDeDOTJN","mode":"list","cachedResultName":"Blog","cachedResultUrl":"https://airtable.com/appjX236dfu4fY0wy/tblzBOIOyzDeDOTJN"},"filterByFormula":"=({Estatus}='Publicar')","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-672,736],"id":"e0f7791c-e6b1-4adf-a77d-2071bb3cc1cb","name":"Search records"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"GPT-3.5-TURBO"},"messages":{"values":[{"content":"=Contenido de blog: {{ $('varContenido').item.json.contenido }}\n\nCategorías Existentes: {{ $('varCategorias').item.json.categorias }}"},{"content":"=Eres un asistente experto en clasificación de contenido de blogs.\n\nTu tarea es leer el contenido que se te proporciona y proponer una nueva categoría que lo represente adecuadamente.\n\n**Importante:**\n- No repitas ninguna categoría existente.\n- La nueva categoría debe ser breve, clara y útil (idealmente de 1 a 3 palabras).\n- Responde **solo con el nombre de la categoría como texto plano**.\n- **No incluyas comillas, JSON, etiquetas ni explicaciones.**\n\nEjemplo de respuesta válida:  \nDiversificación de Productos","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2016,656],"id":"b8a003d4-d5ff-4719-a03c-b05bfb4a522d","name":"definirCategoria1"},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"appjX236dfu4fY0wy","mode":"list","cachedResultName":"Matus","cachedResultUrl":"https://airtable.com/appjX236dfu4fY0wy"},"table":{"__rl":true,"value":"tblzBOIOyzDeDOTJN","mode":"list","cachedResultName":"Blog","cachedResultUrl":"https://airtable.com/appjX236dfu4fY0wy/tblzBOIOyzDeDOTJN"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $json.ID }}","Estatus":"Programado","Link":"={{ $json.Link }}","Fecha":"={{ $json.FechaPublicacionISO }}","Titulo":"={{ $json.Titulo }}"},"matchingColumns":["ID"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Titulo","displayName":"Titulo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Extracto","displayName":"Extracto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Archivo","displayName":"Archivo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Promt Imagen","displayName":"Promt Imagen","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Nombre imágen","displayName":"Nombre imágen","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Imagen","displayName":"Imagen","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Imagen manual","value":"Imagen manual"},{"name":"Imagen","value":"Imagen"},{"name":"Revision Int","value":"Revision Int"},{"name":"Revision ext","value":"Revision ext"},{"name":"Rechazado","value":"Rechazado"},{"name":"Publicar","value":"Publicar"},{"name":"Programado","value":"Programado"}],"readOnly":false,"removed":false},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Último Posteo","displayName":"Último Posteo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Veces Publicado","displayName":"Veces Publicado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[3264,784],"id":"a849f4b9-6b99-43d5-ab2f-8e737b885aab","name":"Create or update a record"},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"appjX236dfu4fY0wy","mode":"list","cachedResultName":"Matus","cachedResultUrl":"https://airtable.com/appjX236dfu4fY0wy"},"table":{"__rl":true,"value":"tblzBOIOyzDeDOTJN","mode":"list","cachedResultName":"Blog","cachedResultUrl":"https://airtable.com/appjX236dfu4fY0wy/tblzBOIOyzDeDOTJN"},"columns":{"mappingMode":"defineBelow","value":{"Estatus":"Programado","ID":"={{ $json.ID }}","Fecha":"={{ $json.FechaPublicacionISO }}","Titulo":"={{ $json.Titulo }}","Link":"={{ $json.Link }}"},"matchingColumns":["ID"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Titulo","displayName":"Titulo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Extracto","displayName":"Extracto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Archivo","displayName":"Archivo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Promt Imagen","displayName":"Promt Imagen","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Nombre imágen","displayName":"Nombre imágen","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Imagen","displayName":"Imagen","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Imagen manual","value":"Imagen manual"},{"name":"Imagen","value":"Imagen"},{"name":"Revision Int","value":"Revision Int"},{"name":"Revision ext","value":"Revision ext"},{"name":"Rechazado","value":"Rechazado"},{"name":"Publicar","value":"Publicar"},{"name":"Programado","value":"Programado"}],"readOnly":false,"removed":false},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Último Posteo","displayName":"Último Posteo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Veces Publicado","displayName":"Veces Publicado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2816,288],"id":"e599a909-bb82-427e-9b29-6b24dea1193c","name":"updatePost"},{"parameters":{"jsCode":"let resumen = '';\nfor (const item of items) {\n  const titulo = item.json.fields.Titulo;\n  const fecha = item.json.fields.Fecha.split('T')[0];\n  resumen += `📌 ${titulo} para ${fecha}\\n\\n`;\n}\n\nreturn [\n  {\n    json: {\n      mensaje: `✅ Programamos ${items.length} contenidos en el blog de Matus:\\n\\n${resumen}`\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"4f7d7ec2-1b12-45c0-9efd-5cac264f0e63","name":"mensaje"}],"connections":{"Loop Over Items":{"main":[[{"node":"mensaje","type":"main","index":0}],[{"node":"getIDBlog","type":"main","index":0},{"node":"getIDIMG","type":"main","index":0},{"node":"leerCategorias","type":"main","index":0}]]},"contenidoBlog":{"main":[[{"node":"clearHTML","type":"main","index":0}]]},"getIDBlog":{"main":[[{"node":"contenidoBlog","type":"main","index":0},{"node":"blogMaster","type":"main","index":1}]]},"getIDIMG":{"main":[[{"node":"getIMG","type":"main","index":0}]]},"getIMG":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"leerCategorias":{"main":[[{"node":"categorias","type":"main","index":0}]]},"clearHTML":{"main":[[{"node":"varContenido","type":"main","index":0}]]},"varContenido":{"main":[[{"node":"blogMaster","type":"main","index":2}]]},"blogMaster":{"main":[[{"node":"definirCategoria","type":"main","index":0}]]},"categorias":{"main":[[{"node":"varCategorias","type":"main","index":0}]]},"varCategorias":{"main":[[{"node":"blogMaster","type":"main","index":3}]]},"idCategoria":{"main":[[{"node":"If","type":"main","index":0}]]},"definirCategoria":{"main":[[{"node":"blogVar","type":"main","index":0}]]},"If":{"main":[[{"node":"VarBlog2","type":"main","index":0}],[{"node":"definirCategoria1","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"blogMaster","type":"main","index":0}]]},"programarPost":{"main":[[{"node":"updateBDBlog","type":"main","index":0}]]},"updateBDBlog":{"main":[[{"node":"updatePost","type":"main","index":0}]]},"blogVar":{"main":[[{"node":"idCategoria","type":"main","index":0}]]},"VarBlog2":{"main":[[{"node":"programarPost","type":"main","index":0}]]},"programarPost1":{"main":[[{"node":"updateBDBlog2","type":"main","index":0}]]},"VarBlog":{"main":[[{"node":"programarPost1","type":"main","index":0}]]},"crearCategoria":{"main":[[{"node":"VarBlog","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Search records","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Search records","type":"main","index":0}]]},"If1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"sinBlogs","type":"main","index":0}]]},"updateBDBlog2":{"main":[[{"node":"Create or update a record","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Search records":{"main":[[{"node":"If1","type":"main","index":0}]]},"definirCategoria1":{"main":[[{"node":"crearCategoria","type":"main","index":0}]]},"Create or update a record":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"updatePost":{"main":[[{"node":"Wait","type":"main","index":0}]]},"mensaje":{"main":[[{"node":"TelegramExito","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"0f620dfa-743d-41e3-8637-1a738875a8b8","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-01-05T23:24:13.452Z","createdAt":"2026-01-05T23:24:13.452Z","role":"workflow:owner","workflowId":"RHss6YUkDfR8F7aH","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[{"updatedAt":"2026-01-05T23:21:46.875Z","createdAt":"2026-01-05T23:21:46.875Z","id":"UGhdSSSc6z68ikkF","name":"BLOG"},{"updatedAt":"2026-01-05T23:23:59.552Z","createdAt":"2026-01-05T23:23:59.552Z","id":"e9yWX5e5ADNZHqin","name":"WordPress"}],"activeVersion":null}