workflows/Matus_ Post Redes Sociales P3--iFL6646np1c6Hgw5.json
{"updatedAt":"2026-01-05T23:23:05.000Z","createdAt":"2026-01-05T23:23:05.616Z","id":"iFL6646np1c6Hgw5","name":"Matus: Post Redes Sociales P3","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-blotato.blotatoPostPublish","typeVersion":1,"position":[1056,1088],"id":"bb1b6e0a-adc9-4afc-869d-72a3d9a68e7f","name":"InstagramCarrusel","retryOnFail":true,"credentials":{},"onError":"continueErrorOutput"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1,2,3,4,5],"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-4272,688],"id":"28eef469-d385-4b7e-80ce-be255352e4d7","name":"Schedule Trigger1"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appjX236dfu4fY0wy","mode":"list","cachedResultName":"Matus","cachedResultUrl":"https://airtable.com/appjX236dfu4fY0wy"},"table":{"__rl":true,"value":"tblzBOIOyzDeDOTJN","mode":"list","cachedResultName":"Blog","cachedResultUrl":"https://airtable.com/appjX236dfu4fY0wy/tblzBOIOyzDeDOTJN"},"filterByFormula":"=OR(IS_BEFORE({Fecha}, TODAY()), IS_SAME({Fecha}, TODAY()))","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-3584,752],"id":"94b7d581-86c8-469f-b4ce-46abbd26d60f","name":"Search records1"},{"parameters":{"promptType":"define","text":"=Genera contenido para redes sociales a partir de la siguiente información del blog:\n\nTítulo: {{ $json.title }}\nExtracto: {{ $json.excerpt }}\nContenido del blog: {{ $json.textContent }}\nLink original: {{ $('Var1').item.json.Link }}\n\n📌 Devuelve únicamente un objeto JSON con los siguientes campos:\n\n\"Caption de Facebook\": al menos 150 palabras en 3 párrafos. Debe incluir CTA a visitar el Link original exactamente como se recibe, sin modificarlo ni inventar otro.\n\n\"Caption de Instagram\": al menos 150 palabras en 3 párrafos.\n\n\"Frase clave\": breve, impactante, fácil de recordar.\n\n\"Prompt imagen\": prompt en español para generar una fotografía realista con IA (no incluyas texto sobrepuesto).","options":{"systemMessage":"=Eres Yessica Matus, coach experta en profesionalización de empresas. Escribes y te comunicas siempre en primera persona, compartiendo tu experiencia, reflexiones y consejos directamente con tu comunidad.\n\n🎯 Tu tarea:\nA partir del título, extracto, contenido del blog y link original, genera contenido optimizado para Facebook e Instagram, además de una frase clave impactante y un prompt de imagen realista.\n\n📌 Formato del resultado (JSON plano, sin explicaciones, sin comillas envolventes):\n\n{\n  \"Caption de Facebook\": \"string\",\n  \"Caption de Instagram\": \"string\",\n  \"Frase clave\": \"string\",\n  \"Prompt imagen\": \"string\"\n}\n\n\n📌 Estilo de cada campo:\n\n## Facebook:\n- Tono cercano, emocional, directo y en primera persona (yo, mi experiencia, lo que enseño).\n- Usa preguntas retóricas.\n- Añade 2–4 emojis. Que los emojis estén al inicio de los párrafos, nunca al final.\n\nTermina siempre con un llamado a la acción claro para leer más en el Link original: {{ $('Var1').item.json.Link }} (prohibido inventar o modificar links) y una invitación explícita a agendar una sesión conmigo.\n\n## Instagram:\n- Tono visual, empático, ligero y en primera persona.\n- Usa emojis estratégicamente, que los emojis estén al inicio de los párrafos, nunca al final.\n- Termina con una invitación a revisar el link en la bio para más información o enviarme un DM para agendar una sesión conmigo.\n\n## Frase clave:\n- Breve (máx. 6–10 palabras).\n- Impactante y fácil de recordar.\n- Resume la esencia del blog.\n- Pensada como copy para imagen de Instagram.\n\n## Prompt imagen:\n\nDescribe solo la escena visual (personas, ambiente, objetos, colores, emociones). \n\nAsegurate de seguir un estilo fotográfico hiperrealista de fotografía profesional auténtica. Importante, la iluminación debe ser natural, evita escenas obscuras, que el ambiente sea cálido, amigable y alegre\n\nProhibido: texto sobrepuesto.\n\nEn español de México, claro y usable en IA.\n\nNo repetir ni la frase clave ni el copy textual.\n\nNo incluir texto sobrepuesto."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1840,400],"id":"eb7d72fd-9dea-4f37-94c7-be61325d7a8d","name":"AI Agent2"},{"parameters":{"model":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"gpt-4"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1824,624],"id":"22904fc6-9e7d-4de3-a420-1572a4873f8d","name":"OpenAI Chat Model2"},{"parameters":{"jsCode":"// --- Entrada esperada ---\n// items: mezcla de un item con { plantillas: [...] } y muchos items \"registro\"\n// ---------------------------------------------------------------------------\n\n// 1) Separar plantillas usadas y registros\nconst usedTemplates =\n  items.find(i => Array.isArray(i.json?.plantillas))?.json.plantillas ?? [];\n\nconst registros = items\n  .filter(i => !Array.isArray(i.json?.plantillas)) // descarta el item de plantillas\n  .map(i => i.json);\n\n// 2) Fechas de referencia\nconst hoy = new Date();\nconst hace15dias = new Date(hoy);\nhace15dias.setDate(hoy.getDate() - 15);\n\n// 3) Función de score (más alto = mejor)\nfunction calcularScore(r) {\n  const fecha = new Date(r[\"Fecha\"]);\n  const fechaValida = !isNaN(fecha.getTime());\n  const diasDesdeFecha = fechaValida ? (hoy - fecha) / (1000 * 60 * 60 * 24) : 365; // penaliza si falta fecha\n  const vecesPublicado = Number.isFinite(r[\"Veces Publicado\"]) ? r[\"Veces Publicado\"] : 0;\n\n  return (1 / (1 + vecesPublicado)) * (1 / (1 + diasDesdeFecha));\n}\n\n// 4) Filtrar candidatos: Último Posteo vacío o > 15 días\nlet candidatos = registros.filter(r => {\n  if (!r) return false;\n  const up = r[\"Último Posteo\"] ? new Date(r[\"Último Posteo\"]) : null;\n  const upValido = up && !isNaN(up.getTime());\n  return !upValido || up < hace15dias;\n});\n\n// Si no hay candidatos, usar todos\nif (candidatos.length === 0) candidatos = registros;\n\n// Seguridad: si aún no hay registros, cortar\nif (candidatos.length === 0) {\n  return [{ json: { error: \"No hay registros disponibles para seleccionar.\" } }];\n}\n\n// 5) Asignar score\nconst conPuntaje = candidatos.map(r => ({ ...r, score: calcularScore(r) }));\n\n// 6) Ordenar por score y tomar los mejores 5\nconst ordenados = conPuntaje.sort((a, b) => b.score - a.score);\nconst top = ordenados.slice(0, 5);\n\n// 7) Elegir uno al azar entre los mejores\nconst elegido = top[Math.floor(Math.random() * top.length)];\n\n// 8) Elegir tipo de publicación y plantilla SIN repetir las usadas (si es Imagen)\nconst tipo = Math.random() < 0.5 ? 'Imagen' : 'Carrusel';\nlet Plantilla;\n\nif (tipo === 'Imagen') {\n  const opcionesImagen = ['86yfoszvnplw2', '9simzudobbm6t', 'ljs2ezr765q4q'];\n\n  // Excluir plantillas ya usadas\n  const disponibles = opcionesImagen.filter(p => !usedTemplates.includes(p));\n\n  // Si todas están usadas, fallback a todo el set\n  const pool = disponibles.length ? disponibles : opcionesImagen;\n\n  Plantilla = pool[Math.floor(Math.random() * pool.length)];\n} else {\n  Plantilla = 'Carrusel';\n}\n\n// 9) Devolver el registro elegido con tipo y plantilla\nreturn [\n  {\n    json: {\n      ...elegido,\n      Tipo: tipo,\n      Plantilla\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2976,672],"id":"e691e5e2-2222-4b0f-974a-f04924a1dd3e","name":"selectPost1"},{"parameters":{"url":"={{ $json.Link }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2288,400],"id":"b58d36aa-b872-4df9-b62a-2e9d89a29a00","name":"extraerContenido2"},{"parameters":{"html":"={{ $json.data }}"},"type":"n8n-nodes-webpage-content-extractor.webpageContentExtractor","typeVersion":1,"position":[-2064,400],"id":"cc1e1b78-1c57-432d-954d-4ea75c79ebd1","name":"limpiarContenido2"},{"parameters":{"resource":"image","prompt":"={{ $json['Prompt Imagen'] }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1056,400],"id":"08ee6c95-6eca-4fe7-b508-2fa4340703d6","name":"Generate an image2"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-832,400],"id":"9374b69b-6c23-4231-b6bf-6a15448f5bb0","name":"Wait10","webhookId":"ddb58d37-3a04-451b-8bdf-471f09fb41ed"},{"parameters":{"assignments":{"assignments":[{"id":"d1fcd5e1-b5f3-409a-85d5-0737a1fa6ab1","name":"Link","value":"={{ \n  ($json[\"Link\"]\n    .match(/\\((https?:\\/\\/[^\\s)]+)\\)/)?.[1] ||     // Intenta extraer de Markdown\n   $json[\"Link\"]\n    .match(/(https?:\\/\\/[^\\s>\\n]+)/)?.[1]          // Si no, extrae directamente limpiando > y \\n\n  ).trim()\n}}","type":"string"},{"id":"58fa3e76-7f21-4de3-ab38-3451bdd056fb","name":"Plantilla","value":"={{ $json.Plantilla }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2752,672],"id":"2556cc0e-aec3-4d05-829f-b738297c6e0b","name":"Var1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"36b10422-0a03-4f08-b40f-86f0ec3b573f","leftValue":"={{ $json.Plantilla }}","rightValue":"ljs2ezr765q4q","operator":{"type":"string","operation":"equals"}},{"id":"c75f6ac8-c449-44e2-8e34-e73098959bd5","leftValue":"={{ $json.Plantilla }}","rightValue":"9simzudobbm6t","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"cfa06f96-b9d9-4f70-9cb4-cebc0ebc0fdb","leftValue":"={{ $json.Plantilla }}","rightValue":"86yfoszvnplw2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2528,672],"id":"bf6c39f5-888b-415c-b3b3-06db6d757fe3","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"283c5500-ab0b-47e1-a7b4-5304a895e26d","name":"id","value":"={{ $('selectPost1').item.json.ID }}","type":"string"},{"id":"3eef3a65-d71c-4a13-a72a-7c3f432f5d6c","name":"Caption de Facebook","value":"={{ $json['Caption de Facebook'] }}","type":"string"},{"id":"c81fbea8-1b3b-4e20-bf6b-c60e9a90ad8f","name":"Caption de Instagram","value":"={{ $json['Caption de Instagram'] }}","type":"string"},{"id":"5763fd3f-adb9-4c45-80a7-6a7ccccc9f17","name":"Frase clave","value":"={{ $json['Frase clave'] }}","type":"string"},{"id":"c01c1b10-b0d6-46fc-a524-0f61f04f3c50","name":"Prompt Imagen","value":"={{ $json['Prompt imagen'] }}","type":"string"},{"id":"23856361-1ea4-4d44-a824-ef5325bee84d","name":"Plantilla","value":"={{ $('Var1').item.json.Plantilla }}","type":"string"},{"id":"885aba1d-5c65-4d5b-9147-bd8b3db3a976","name":"Veces Publicado","value":"={{ ($('selectPost1').item.json['Veces Publicado'] || 0) + 1 }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1280,400],"id":"b27fb700-de0d-448d-8680-8a6504612765","name":"varPost1"},{"parameters":{"template_id":{"__rl":true,"value":"={{ $('varPost1').item.json.Plantilla }}","mode":"id"},"layers":{"layerItems":[{"layerId":"title|text","property":"text","textValue":"={{ $('varPost1').item.json['Frase clave'] }}"},{"layerId":"img|picture","property":"imageBinary","imageBinaryValue":"data"}]},"additionalFields":{}},"type":"n8n-nodes-placid.placid","typeVersion":1,"position":[-608,400],"id":"9cc4326b-85dd-46d3-b360-c051ee632ec6","name":"Create an image from a template"},{"parameters":{},"type":"n8n-nodes-blotato.blotatoMediaUpload","typeVersion":1,"position":[-160,400],"id":"e543e7c2-ec3b-4fd5-9e91-237b96c4fa53","name":"Media Upload2","retryOnFail":true,"credentials":{},"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[288,128],"id":"fbfcb218-b6f0-467c-adde-5d071c8947d0","name":"Wait11","webhookId":"6ad67a57-3d99-4e27-87f8-87437fcb817c"},{"parameters":{"chatId":"1019249029","text":"=⚠️​ Matus ⚠️​\nHubo un error al querer hacer la publicación de hoy publicar","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[288,608],"id":"4f3dbdc4-71e7-4e33-a72a-3602f4db101e","name":"⚠️​2","webhookId":"605c1197-da78-4e17-bb4a-9f9b5d43df1f","executeOnce":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1328,368],"id":"6c0a0e3e-776a-4da5-83f6-fde5014a53d2","name":"No Operation, do nothing2"},{"parameters":{"content":"## ACTUALIZAR\nID de Red Social","height":576,"width":224},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"9ae5d127-a2da-4d51-a2f4-d60745c8feab","name":"Sticky Note4"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appjX236dfu4fY0wy","mode":"list","cachedResultName":"Matus","cachedResultUrl":"https://airtable.com/appjX236dfu4fY0wy"},"table":{"__rl":true,"value":"tblL8n1Uuvh6QuggB","mode":"list","cachedResultName":"Redes Sociales","cachedResultUrl":"https://airtable.com/appjX236dfu4fY0wy/tblL8n1Uuvh6QuggB"},"columns":{"mappingMode":"defineBelow","value":{"ID_Blog":"={{ $('varPost1').item.json.id }}","Fecha Publicacion":"={{ $now.toISO() }}","Red":"Facebook","Tipo":"Imagen","Caption":"={{ $('varPost1').item.json['Caption de Facebook'] }}","Plantilla":"={{ $('varPost1').item.json.Plantilla }}"},"matchingColumns":[],"schema":[{"id":"ID_Blog","displayName":"ID_Blog","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Fecha Publicacion","displayName":"Fecha Publicacion","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Red","displayName":"Red","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Facebook","value":"Facebook"},{"name":"Instagram","value":"Instagram"}],"readOnly":false,"removed":false},{"id":"Tipo","displayName":"Tipo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Imagen","value":"Imagen"},{"name":"Carrusel","value":"Carrusel"},{"name":"Video","value":"Video"}],"readOnly":false,"removed":false},{"id":"Plantilla","displayName":"Plantilla","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Caption","displayName":"Caption","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[512,128],"id":"f742639f-4b24-4074-b7ce-9a6237926cdd","name":"Create a record4"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-384,400],"id":"e71d1211-6c96-4181-a15a-0bd49c775bf2","name":"Wait12","webhookId":"833a461c-2f3e-4764-949b-0db5703d6ff6"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[288,368],"id":"80b3fe73-250f-4f84-a118-04f98bbb245b","name":"Wait13","webhookId":"6ad67a57-3d99-4e27-87f8-87437fcb817c"},{"parameters":{},"type":"n8n-nodes-blotato.blotatoPostPublish","typeVersion":1,"position":[64,128],"id":"936e6457-d02a-4866-86c2-baabcac3bcf1","name":"Facebook1","retryOnFail":true,"credentials":{}},{"parameters":{},"type":"n8n-nodes-blotato.blotatoPostPublish","typeVersion":1,"position":[64,384],"id":"04560499-1822-4d1b-aab2-894eac4a81a8","name":"Instagram2","retryOnFail":true,"credentials":{},"onError":"continueErrorOutput"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appjX236dfu4fY0wy","mode":"list","cachedResultName":"Matus","cachedResultUrl":"https://airtable.com/appjX236dfu4fY0wy"},"table":{"__rl":true,"value":"tblL8n1Uuvh6QuggB","mode":"list","cachedResultName":"Redes Sociales","cachedResultUrl":"https://airtable.com/appjX236dfu4fY0wy/tblL8n1Uuvh6QuggB"},"columns":{"mappingMode":"defineBelow","value":{"ID_Blog":"={{ $('varPost1').item.json.id }}","Fecha Publicacion":"={{ $now.toISO() }}","Red":"Instagram","Tipo":"Imagen","Caption":"={{ $('varPost1').item.json['Caption de Instagram'] }}","Plantilla":"={{ $('varPost1').item.json.Plantilla }}"},"matchingColumns":[],"schema":[{"id":"ID_Blog","displayName":"ID_Blog","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Fecha Publicacion","displayName":"Fecha Publicacion","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Red","displayName":"Red","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Facebook","value":"Facebook"},{"name":"Instagram","value":"Instagram"}],"readOnly":false,"removed":false},{"id":"Tipo","displayName":"Tipo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Imagen","value":"Imagen"},{"name":"Carrusel","value":"Carrusel"},{"name":"Video","value":"Video"}],"readOnly":false,"removed":false},{"id":"Plantilla","displayName":"Plantilla","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Caption","displayName":"Caption","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[512,368],"id":"493b8af0-cc45-4273-bd2b-a6b65a9691a4","name":"Create a record5"},{"parameters":{"model":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"gpt-4"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1824,1232],"id":"c1e0b0a9-1bbf-4835-a273-0a4a6eca6ded","name":"OpenAI Chat Model3"},{"parameters":{"url":"={{ $json.Link }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2288,1008],"id":"ffb477c0-d7b6-4f64-8704-6cb5dd75ef6b","name":"extraerContenido3"},{"parameters":{"html":"={{ $json.data }}"},"type":"n8n-nodes-webpage-content-extractor.webpageContentExtractor","typeVersion":1,"position":[-2064,1008],"id":"c14e4970-6a62-4188-95c1-8ba263d02f0b","name":"limpiarContenido3"},{"parameters":{"resource":"image","prompt":"={{ $json['Prompt portada'] }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1088,1008],"id":"032ea59c-7856-44be-8175-ed3062ba36fb","name":"Generate an image3"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-864,1008],"id":"c7398afe-49c0-4103-81ce-51bdd988077c","name":"Wait14","webhookId":"ddb58d37-3a04-451b-8bdf-471f09fb41ed"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-432,1008],"id":"4b9c5fd4-0616-45bd-99e6-abfe755dfc86","name":"Wait15","webhookId":"833a461c-2f3e-4764-949b-0db5703d6ff6"},{"parameters":{"template_id":{"__rl":true,"value":"0ghjkmqva2he6","mode":"id"},"layers":{"layerItems":[{"layerId":"title|text","property":"text","textValue":"={{ $('Portada3').item.json['Frase clave'] }}"},{"layerId":"img|picture","property":"imageBinary","imageBinaryValue":"data"},{"layerId":"color|rectangle","property":"background_color","background_colorValue":"={{ $('Portada3').item.json.Color }}"}]},"additionalFields":{}},"type":"n8n-nodes-placid.placid","typeVersion":1,"position":[-640,1008],"id":"da05287d-ca74-4eee-bfad-bcb00ef94222","name":"Portada2"},{"parameters":{"assignments":{"assignments":[{"id":"cf835c79-5828-446d-b1cd-c5174d57ad47","name":"Frase clave","value":"={{ $json['Frase clave'] }}","type":"string"},{"id":"2942b71c-05f4-445f-a0f8-451cac7a352b","name":"Prompt portada","value":"={{ $json['Prompt portada'] }}","type":"string"},{"id":"f97509ce-5c34-4102-8125-40cb2ce66b26","name":"Color","value":"={{ $json.Color }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1296,1008],"id":"4b569356-3743-429b-a6d3-81f461ee99fc","name":"Portada3"},{"parameters":{"assignments":{"assignments":[{"id":"0e7356e0-6893-494f-a3ff-7130c721b22b","name":"ID","value":"={{ $('selectPost1').item.json.ID }}","type":"string"},{"id":"12c14ae2-a1ae-4a1c-89ff-528a23785750","name":"Caption de Facebook","value":"={{ $json['Caption de Facebook'] }}","type":"string"},{"id":"9c0347df-8350-4549-9cf2-bcf3d6cb22ca","name":"Caption de Instagram","value":"={{ $json['Caption de Instagram'] }}","type":"string"},{"id":"098c54a5-c42a-4057-93b6-c966e6a35ad2","name":"Veces Publicado","value":"={{ ($('selectPost1').item.json['Veces Publicado'] || 0) + 1 }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1296,816],"id":"f2e531da-7a25-4f1f-8f7b-1bf7b7b021fc","name":"varCarrusel1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1072,1264],"id":"20b89546-1973-47b9-8e1c-3b053e6d16cb","name":"Loop Over Items2"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-640,1360],"id":"a39b3dfd-de7c-4cf3-976f-491a778eafe8","name":"Wait16","webhookId":"833a461c-2f3e-4764-949b-0db5703d6ff6"},{"parameters":{"template_id":{"__rl":true,"value":"pclcgwvwb8r0o","mode":"id"},"layers":{"layerItems":[{"layerId":"title|text","property":"text","textValue":"={{ $json.texto }}"},{"layerId":"color|rectangle","property":"background_color","background_colorValue":"={{ $json.color }}"}]},"additionalFields":{}},"type":"n8n-nodes-placid.placid","typeVersion":1,"position":[-864,1360],"id":"4f0ced4a-9eef-4126-afd6-d9d3795348ea","name":"slides1"},{"parameters":{"jsCode":"// Entrada esperada (items):\n// [\n//   { json: { indice: 1, image_url: \"https://...\" } },\n//   { json: { indice: 2, image_url: \"https://...\" } },\n//   ...\n// ]\n\n// 1) Normaliza campos y valida\nconst normalized = items\n  .map((it, pos) => {\n    const j = it.json || {};\n    const indice = Number(j.indice ?? j.index ?? pos + 1);\n    const url =\n      j.image_url ??\n      j.imageUrl ??\n      j.url ??\n      null;\n\n    if (!Number.isFinite(indice)) {\n      throw new Error(`Indice inválido en item #${pos}`);\n    }\n    if (!url || typeof url !== 'string') {\n      throw new Error(`URL faltante/ inválida en item con indice ${indice}`);\n    }\n\n    return {\n      indice,\n      image_url: url.trim(),\n    };\n  });\n\n// 2) Opcional: eliminar duplicados por indice (conserva el primero)\nconst seen = new Set();\nconst deduped = normalized.filter(({ indice }) => {\n  if (seen.has(indice)) return false;\n  seen.add(indice);\n  return true;\n});\n\n// 3) Ordena por indice ascendente\ndeduped.sort((a, b) => a.indice - b.indice);\n\n// 4) Agrega en estructuras útiles\nconst images = deduped.map(x => x.image_url);\nconst indices = deduped.map(x => x.indice);\nconst images_by_index = Object.fromEntries(\n  deduped.map(x => [String(x.indice), x.image_url])\n);\n\n// 5) Devuelve un único item agregado\nreturn [\n  {\n    json: {\n      count: images.length,\n      images,             // [\"url_slide1\", \"url_slide2\", ...] (ordenado)\n      indices,            // [1,2,3,...] (ordenado)\n      images_by_index     // {\"1\": \"url...\", \"2\": \"url...\", ...}\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,1168],"id":"303ab5f3-0edf-4d1c-9da2-ec54ea430bfe","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"c7738286-9bb2-4b6a-b9d6-ecec57d193e7","name":"indice","value":"={{ $('CodeSlides1').item.json.indice }}","type":"number"},{"id":"3c59ef3e-a3d8-43d4-848c-f6b90625217e","name":"image_url","value":"={{ $json.image_url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-432,1360],"id":"63d34f10-cc62-4379-b20d-ca52600715a6","name":"varSlides1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-224,1104],"id":"9b8e2a01-4647-4daa-8ac0-b79bd6968a76","name":"Merge4"},{"parameters":{"jsCode":"const data = items[0]?.json ?? {};\n\nconst slides = Array.isArray(data.Slides) ? data.Slides : [];\nif (!slides.length) {\n  throw new Error('No hay Slides en la salida.');\n}\n\nconst color = (data.Color ?? '').replace(/^#/, '').toUpperCase();\n\nreturn slides.map((s, i) => {\n  const raw = typeof s === 'string' ? s : (s?.texto ?? JSON.stringify(s));\n  const texto = String(raw).replace(/^\\s*Slide\\s*\\d+\\s*:\\s*/i, '').trim();\n\n  return {\n    json: {\n      indice: i + 1,     // Slide 1, 2, ...\n      texto,             // Slide limpio\n      color              // Color sin #\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1280,1264],"id":"7a947fca-893a-488f-abad-c74d5689851f","name":"CodeSlides1"},{"parameters":{"jsCode":"// Entrada esperada (items del Merge):\n// items[0].json -> portada con image_url\n// items[1].json -> slides con images[], indices[] y/o images_by_index{}\n\nconst inItems = items.map(i => i.json ?? {});\n\n// --- Detectar portada y slides ---\nlet coverUrl = null;\nlet slidePairs = []; // { indice:number, img:string }\n\nfor (const j of inItems) {\n  // Portada\n  if (typeof j.image_url === 'string' && j.image_url.trim()) {\n    coverUrl = j.image_url.trim();\n  } else if (typeof j.portada_url === 'string' && j.portada_url.trim()) {\n    coverUrl = j.portada_url.trim();\n  } else if (typeof j.cover_url === 'string' && j.cover_url.trim()) {\n    coverUrl = j.cover_url.trim();\n  }\n\n  // Slides (varias formas)\n  if (j && typeof j === 'object') {\n    if (j.images_by_index && typeof j.images_by_index === 'object') {\n      for (const [k, v] of Object.entries(j.images_by_index)) {\n        const idx = Number(k);\n        if (Number.isFinite(idx) && typeof v === 'string' && v.trim()) {\n          slidePairs.push({ indice: idx, img: v.trim() });\n        }\n      }\n    } else if (Array.isArray(j.images)) {\n      const imgs = j.images.filter(u => typeof u === 'string' && u.trim());\n      if (Array.isArray(j.indices) && j.indices.length === imgs.length) {\n        for (let i = 0; i < imgs.length; i++) {\n          const idx = Number(j.indices[i]);\n          if (Number.isFinite(idx)) slidePairs.push({ indice: idx, img: imgs[i].trim() });\n        }\n      } else {\n        // sin indices: asumimos orden natural 1..N\n        for (let i = 0; i < imgs.length; i++) {\n          slidePairs.push({ indice: i + 1, img: imgs[i].trim() });\n        }\n      }\n    }\n  }\n}\n\n// --- Deduplicar por indice y ordenar ---\nconst seen = new Set();\nslidePairs = slidePairs.filter(p => {\n  const k = String(p.indice);\n  if (seen.has(k)) return false;\n  seen.add(k);\n  return true;\n}).sort((a, b) => a.indice - b.indice);\n\n// --- Construir salida (un item por imagen) ---\nconst out = [];\n\n// Portada (indice 0) primero, si existe\nif (coverUrl) out.push({ indice: 0, img: coverUrl });\n\n// Luego slides 1..N\nfor (const p of slidePairs) {\n  out.push({ indice: Number(p.indice), img: p.img });\n}\n\n// Validaciones mínimas\nif (out.length === 0) {\n  throw new Error('No se encontraron imágenes de portada ni slides.');\n}\n\n// Devolver un item por imagen (ideal para “cargar el slide” en Blotato)\nreturn out.map(o => ({ json: o }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,1104],"id":"a12050f4-7e1a-40db-9cb9-5154a17b7dd3","name":"imgSlide1"},{"parameters":{},"type":"n8n-nodes-blotato.blotatoMediaUpload","typeVersion":1,"position":[416,1168],"id":"6b1da88a-aff7-417b-a0fd-c8c0dc66b09d","name":"Media Upload3","credentials":{}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[192,1104],"id":"1f3c7932-3a04-4710-b7b3-107b22744c8f","name":"Loop Over Items3"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[592,1168],"id":"31834f5c-6c9a-4e61-8fd0-e38bf5326d37","name":"Wait17","webhookId":"28cd7483-0ffd-4a27-bc92-5909845a366b"},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[576,832],"id":"391c48a3-bb5a-4987-9dc2-7a8591367c34","name":"Merge5"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1328,832],"id":"ec50d66e-2927-4c84-b3de-ffed91e1930c","name":"Wait18","webhookId":"6ad67a57-3d99-4e27-87f8-87437fcb817c"},{"parameters":{"chatId":"1019249029","text":"=⚠️​ Matus ⚠️​\nHubo un error al querer hacer la publicación de hoy publicar","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1312,1312],"id":"a81c1ca7-798b-4a34-bd34-8cc1f89a5e4d","name":"⚠️​3","webhookId":"605c1197-da78-4e17-bb4a-9f9b5d43df1f","executeOnce":true},{"parameters":{"chatId":"1019249029","text":"=✅​ Matus ✅​\nSe realizó el posteo correctamente","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2176,944],"id":"35932866-5ea9-47af-b005-3ae8a5bbceaf","name":"✅​3","webhookId":"605c1197-da78-4e17-bb4a-9f9b5d43df1f","executeOnce":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2352,1312],"id":"367a270c-3fdc-48b7-a8b7-d879b7454b9d","name":"No Operation, do nothing3"},{"parameters":{"content":"## ACTUALIZAR\nID de Red Social","height":576,"width":224},"type":"n8n-nodes-base.stickyNote","position":[992,704],"typeVersion":1,"id":"d9a436fc-dc65-4414-b3be-57ec942ad5df","name":"Sticky Note1"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appjX236dfu4fY0wy","mode":"list","cachedResultName":"Matus","cachedResultUrl":"https://airtable.com/appjX236dfu4fY0wy"},"table":{"__rl":true,"value":"tblL8n1Uuvh6QuggB","mode":"list","cachedResultName":"Redes Sociales","cachedResultUrl":"https://airtable.com/appjX236dfu4fY0wy/tblL8n1Uuvh6QuggB"},"columns":{"mappingMode":"defineBelow","value":{"ID_Blog":"={{ $('varPostCarrusel1').item.json.ID }}","Fecha Publicacion":"={{ $now.toISO() }}","Red":"Facebook","Tipo":"Carrusel","Caption":"={{ $('varPostCarrusel1').item.json['Caption de Facebook'] }}","Plantilla":"pclcgwvwb8r0o"},"matchingColumns":[],"schema":[{"id":"ID_Blog","displayName":"ID_Blog","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Fecha Publicacion","displayName":"Fecha Publicacion","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Red","displayName":"Red","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Facebook","value":"Facebook"},{"name":"Instagram","value":"Instagram"}],"readOnly":false,"removed":false},{"id":"Tipo","displayName":"Tipo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Imagen","value":"Imagen"},{"name":"Carrusel","value":"Carrusel"},{"name":"Video","value":"Video"}],"readOnly":false,"removed":false},{"id":"Plantilla","displayName":"Plantilla","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Caption","displayName":"Caption","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1552,832],"id":"ee6c8fe3-e498-490f-a14f-5d5229ae9966","name":"Create a record6"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1312,1072],"id":"6c0924ff-a420-4a36-85df-a9992018ac9a","name":"Wait19","webhookId":"6ad67a57-3d99-4e27-87f8-87437fcb817c"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appjX236dfu4fY0wy","mode":"list","cachedResultName":"Matus","cachedResultUrl":"https://airtable.com/appjX236dfu4fY0wy"},"table":{"__rl":true,"value":"tblL8n1Uuvh6QuggB","mode":"list","cachedResultName":"Redes Sociales","cachedResultUrl":"https://airtable.com/appjX236dfu4fY0wy/tblL8n1Uuvh6QuggB"},"columns":{"mappingMode":"defineBelow","value":{"ID_Blog":"={{ $('varPostCarrusel1').item.json.ID }}","Fecha Publicacion":"={{ $now.toISO() }}","Red":"Instagram","Tipo":"Carrusel","Caption":"={{ $('varPostCarrusel1').item.json['Caption de Instagram'] }}","Plantilla":"pclcgwvwb8r0o"},"matchingColumns":[],"schema":[{"id":"ID_Blog","displayName":"ID_Blog","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Fecha Publicacion","displayName":"Fecha Publicacion","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Red","displayName":"Red","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Facebook","value":"Facebook"},{"name":"Instagram","value":"Instagram"}],"readOnly":false,"removed":false},{"id":"Tipo","displayName":"Tipo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Imagen","value":"Imagen"},{"name":"Carrusel","value":"Carrusel"},{"name":"Video","value":"Video"}],"readOnly":false,"removed":false},{"id":"Plantilla","displayName":"Plantilla","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Caption","displayName":"Caption","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1536,1072],"id":"828bcc28-65a7-4a1e-97c9-7327d4b43bab","name":"Create a record7"},{"parameters":{},"type":"n8n-nodes-blotato.blotatoPostPublish","typeVersion":1,"position":[1056,832],"id":"c42e3d0c-dbce-4fb7-87ea-d4b3c122be6a","name":"FacebookCarrusel1","retryOnFail":true,"credentials":{}},{"parameters":{"assignments":{"assignments":[{"id":"bf0e27f9-2990-438e-8bac-25bad3a80824","name":"ID","value":"={{ $json.ID }}","type":"string"},{"id":"88ab81c9-4cbf-4e4c-9563-f5ec4f58ea0e","name":"Caption de Facebook","value":"={{ $json['Caption de Facebook'] }}","type":"string"},{"id":"5107acff-164b-4417-99cc-407faae0a4a9","name":"Caption de Instagram","value":"={{ $json['Caption de Instagram'] }}","type":"string"},{"id":"bfc1c005-76b5-4fa5-82e6-0d0012ec0201","name":"mediaUrlsCarrusel","value":"={{ $items(\"mediaUrlsCarrusel1\", 0)[0].json.mediaUrlsCarrusel }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,832],"id":"54dd7694-7425-47ad-9c99-b8f4e3f4f151","name":"varPostCarrusel1"},{"parameters":{"jsCode":"// Objetivo: devolver { mediaUrls: \"U1, U2, U3\" } sin repetir y en orden correcto.\n\n// 1) Extrae URL y posible índice\nconst pairs = items\n  .map((it, i) => {\n    const j = it.json ?? {};\n    const url =\n      (typeof j.mediaUrl === 'string' && j.mediaUrl.trim())\n        ? j.mediaUrl.trim()\n        : (typeof j?.mediaUploadResponse?.url === 'string'\n            ? j.mediaUploadResponse.url.trim()\n            : null);\n\n    if (!url) return null;\n\n    const idx = Number.isFinite(Number(j.indice)) ? Number(j.indice) : i;\n    return { idx, url };\n  })\n  .filter(Boolean);\n\n// 2) Ordena por indice si hay índices personalizados\nconst hasCustomIndex = pairs.some((p, i) => p.idx !== i);\nif (hasCustomIndex) {\n  pairs.sort((a, b) => a.idx - b.idx);\n}\n\n// 3) Dedup: elimina repetidos preservando la primera aparición\nconst seen = new Set();\nconst orderedUnique = [];\nfor (const { url } of pairs) {\n  if (!seen.has(url)) {\n    seen.add(url);\n    orderedUnique.push(url);\n  }\n}\n\n// 4) Une con coma + espacio (formato solicitado)\nconst csv = orderedUnique.join(', ');\n\n// 5) Valida y retorna siempre un objeto\nif (!csv) {\n  throw new Error('No se encontraron mediaUrls válidas en la entrada.');\n}\n\nreturn [{ json: { mediaUrlsCarrusel: csv } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,1008],"id":"35005414-07e6-428d-bd2d-c5fce9e47e3c","name":"mediaUrlsCarrusel1"},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"appjX236dfu4fY0wy","mode":"list","cachedResultName":"Matus","cachedResultUrl":"https://airtable.com/appjX236dfu4fY0wy"},"table":{"__rl":true,"value":"tblzBOIOyzDeDOTJN","mode":"list","cachedResultName":"Blog","cachedResultUrl":"https://airtable.com/appjX236dfu4fY0wy/tblzBOIOyzDeDOTJN"},"columns":{"mappingMode":"defineBelow","value":{"Veces Publicado":"={{ $('varCarrusel1').item.json['Veces Publicado'] }}","ID":"={{ $json.fields.ID_Blog }}","Último Posteo":"={{ $now.toISO() }}"},"matchingColumns":["ID"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Titulo","displayName":"Titulo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Extracto","displayName":"Extracto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Archivo","displayName":"Archivo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Promt Imagen","displayName":"Promt Imagen","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Nombre imágen","displayName":"Nombre imágen","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Imagen","displayName":"Imagen","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Imagen manual","value":"Imagen manual"},{"name":"Imagen","value":"Imagen"},{"name":"Revision Int","value":"Revision Int"},{"name":"Revision ext","value":"Revision ext"},{"name":"Rechazado","value":"Rechazado"},{"name":"Publicar","value":"Publicar"},{"name":"Programado","value":"Programado"}],"readOnly":false,"removed":true},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Último Posteo","displayName":"Último Posteo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Veces Publicado","displayName":"Veces Publicado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1968,944],"id":"bb37e85b-f9b7-4e08-b224-8232cc8e4d14","name":"Create or update a record2"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1776,944],"id":"b1d940b4-232a-458b-bf3a-f347ef466704","name":"Merge6"},{"parameters":{"jsCode":"try {\n  const raw = $json.output || '{}';\n  const parsed = typeof raw === 'string' ? JSON.parse(raw) : raw;\n\n  const normalizeText = (text) => {\n    if (!text || typeof text !== 'string') return '';\n    \n    // Si contiene '\\\\n', lo convertimos a saltos reales '\\n'\n    let cleaned = text.includes('\\\\n') ? text.replace(/\\\\n/g, '\\n') : text;\n\n    // Luego, normalizamos saltos de línea\n    cleaned = cleaned\n      .replace(/\\r\\n/g, '\\n')   // Windows\n      .replace(/\\r/g, '\\n');    // Mac\n\n    return cleaned;\n  };\n\n  const result = {\n    \"Caption de Facebook\": normalizeText(parsed[\"Caption de Facebook\"]),\n    \"Caption de Instagram\": normalizeText(parsed[\"Caption de Instagram\"]),\n    \"Frase clave\": parsed[\"Frase clave\"] || \"\",\n    \"Número de Slides\": parseInt(parsed[\"Número de Slides\"], 10) || 0,\n    \"Slides\": Array.isArray(parsed[\"Slides\"]) ? parsed[\"Slides\"] : [],\n    \"Prompt portada\": parsed[\"Prompt portada\"] || \"\",\n    \"Color\": parsed[\"Color\"] || \"\"\n  };\n\n  // Validación mínima opcional\n  if (!result[\"Caption de Facebook\"] || !result[\"Slides\"].length) {\n    throw new Error(\"La salida del modelo no contiene los campos esperados.\");\n  }\n\n  return [{ json: result }];\n\n} catch (error) {\n  throw new Error(\"Error al procesar la salida del modelo: \" + error.message);\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1504,1008],"id":"97248d20-3f5c-4491-9cc9-0c348d8486f4","name":"outputParse2"},{"parameters":{"chatId":"1019249029","text":"=✅​ Matus ✅​\nSe realizó el posteo correctamente","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1104,240],"id":"2752aec4-5775-4df6-85c2-5d38d435fbd1","name":"✅​1","webhookId":"605c1197-da78-4e17-bb4a-9f9b5d43df1f","executeOnce":true},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"appjX236dfu4fY0wy","mode":"list","cachedResultName":"Matus","cachedResultUrl":"https://airtable.com/appjX236dfu4fY0wy"},"table":{"__rl":true,"value":"tblzBOIOyzDeDOTJN","mode":"list","cachedResultName":"Blog","cachedResultUrl":"https://airtable.com/appjX236dfu4fY0wy/tblzBOIOyzDeDOTJN"},"columns":{"mappingMode":"defineBelow","value":{"Veces Publicado":"={{ $('varPost1').item.json['Veces Publicado'] }}","ID":"={{ $json.fields.ID_Blog }}","Último Posteo":"={{ $now.toISO() }}"},"matchingColumns":["ID"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Titulo","displayName":"Titulo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Extracto","displayName":"Extracto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Archivo","displayName":"Archivo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Promt Imagen","displayName":"Promt Imagen","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Nombre imágen","displayName":"Nombre imágen","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Imagen","displayName":"Imagen","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Imagen manual","value":"Imagen manual"},{"name":"Imagen","value":"Imagen"},{"name":"Revision Int","value":"Revision Int"},{"name":"Revision ext","value":"Revision ext"},{"name":"Rechazado","value":"Rechazado"},{"name":"Publicar","value":"Publicar"},{"name":"Programado","value":"Programado"}],"readOnly":false,"removed":true},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Último Posteo","displayName":"Último Posteo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Veces Publicado","displayName":"Veces Publicado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[912,240],"id":"798d9430-8911-460d-b4ac-009c130c82e4","name":"Create or update a record3"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[704,240],"id":"d09dfaa9-02a0-44c9-8ce7-9b3bb62f4dce","name":"Merge7"},{"parameters":{"jsCode":"try {\n  const raw = $json.output || '{}';\n  const parsed = typeof raw === 'string' ? JSON.parse(raw) : raw;\n\n  const normalizeText = (text) => {\n    if (!text || typeof text !== 'string') return '';\n    \n    // Si contiene '\\\\n', lo convertimos a saltos reales '\\n'\n    let cleaned = text.includes('\\\\n') ? text.replace(/\\\\n/g, '\\n') : text;\n\n    // Luego, normalizamos saltos de línea\n    cleaned = cleaned\n      .replace(/\\r\\n/g, '\\n')   // Windows\n      .replace(/\\r/g, '\\n');    // Mac\n\n    return cleaned;\n  };\n\n  const result = {\n    \"Caption de Facebook\": normalizeText(parsed[\"Caption de Facebook\"]),\n    \"Caption de Instagram\": normalizeText(parsed[\"Caption de Instagram\"]),\n    \"Frase clave\": parsed[\"Frase clave\"] || \"\",\n    \"Prompt imagen\": parsed[\"Prompt imagen\"] || \"\"\n  };\n\n  // Validación mínima\n  if (!result[\"Caption de Facebook\"] || !result[\"Prompt imagen\"]) {\n    throw new Error(\"Faltan campos esenciales en la respuesta del modelo.\");\n  }\n\n  return [{ json: result }];\n\n} catch (error) {\n  throw new Error(\"Error al procesar la salida del modelo: \" + error.message);\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1488,400],"id":"88a74cf6-1e5f-48e0-94b0-8285e978c5b9","name":"outputParse3"},{"parameters":{"amount":"={{ $json.numero }}","unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3856,688],"id":"be1fb4bb-5600-4660-9633-ff75cbb644e1","name":"Wait","webhookId":"8a0ce79d-64ed-4c4d-8734-b289bb3d52af"},{"parameters":{"jsCode":"const numero = Math.floor(Math.random() * 45) + 1;\n\nreturn [\n  {\n    json: {\n      numero\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4064,688],"id":"e91b35ea-3fe8-4356-ba38-e18a26e0dcd7","name":"Code1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-3840,880],"id":"d3bc2148-ec82-4777-b017-0a63db3093a8","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appjX236dfu4fY0wy","mode":"list","cachedResultName":"Matus","cachedResultUrl":"https://airtable.com/appjX236dfu4fY0wy"},"table":{"__rl":true,"value":"tblL8n1Uuvh6QuggB","mode":"list","cachedResultName":"Redes Sociales","cachedResultUrl":"https://airtable.com/appjX236dfu4fY0wy/tblL8n1Uuvh6QuggB"},"returnAll":false,"limit":4,"options":{"fields":["Plantilla"]},"sort":{"property":[{"field":"Fecha Publicacion","direction":"desc"}]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-3584,576],"id":"34e24950-b5cd-47cb-9ab0-96f7b5a5c282","name":"Search records"},{"parameters":{"jsCode":"const data = items.map(item => item.json.Plantilla);\n\n// Crear un Set para eliminar duplicados\nconst unique = [...new Set(data)];\n\n// Filtrar el valor indeseado\nconst filtered = unique.filter(p => p !== '0ghjkmqva2he6');\n\nreturn [\n  {\n    json: {\n      plantillas: filtered\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3408,576],"id":"d279a4b0-536c-4adf-ba22-7baea67f81b7","name":"Code2"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-3200,672],"id":"8441d6ab-20b5-4343-9b54-a4afe82013dc","name":"Merge"},{"parameters":{"promptType":"define","text":"=Genera contenido para redes sociales a partir de la siguiente información del blog:\n\nTítulo: {{ $json.title }}\nExtracto: {{ $json.excerpt }}\nContenido del blog: {{ $json.textContent }}\nLink original: {{ $('Var1').item.json.Link }}\n\n📌 Devuelve **exclusivamente** un objeto JSON plano con los siguientes campos. No incluyas ningún texto antes ni después. No agregues explicaciones, comentarios ni comillas envolventes:\n\n{\n  \"Caption de Facebook\": string (mínimo 150 palabras, en 3 párrafos, con emojis y llamado a la acción. Debe incluir el Link original exactamente como se recibe: {{ $('Var1').item.json.Link }}),\n  \"Caption de Instagram\": string (mínimo 150 palabras, en 3 párrafos, con emojis y cierre para contacto),\n  \"Frase clave\": string (breve, directa, impactante, como título de carrusel),\n  \"Número de Slides\": número entero entre 2 y 5 (sin comillas, debe coincidir con la cantidad de Slides),\n  \"Slides\": lista JSON con cada slide como string separado, máximo 5 elementos,\n  \"Prompt portada\": string (descripción visual realista en español, usable en IA, sin texto sobrepuesto),\n  \"Color\": uno de estos exactamente: F16364, 4769B2, 2AC2E5, F4B384\n}\n\n⚠️ Asegúrate de que el JSON esté correctamente formateado y que todos los valores estén en el tipo correcto:\n- Sin string si se espera número\n- Slides como array, no como texto multilinea\n- Color solo de la lista dada\n- \n","options":{"systemMessage":"=Eres Yessica Matus, coach experta en profesionalización de empresas. Escribes siempre en primera persona, en español de México, compartiendo reflexiones y consejos auténticos y valiosos con tu comunidad.\n\n🎯 Tu tarea:\nA partir del título, extracto, contenido del blog y link original, genera un carrusel para redes sociales (Facebook + Instagram).\n\n📌 Estructura del carrusel:\n\n**Portada**: con la frase clave como título principal.\n\n**Slides**: de 2 a 5 slides adicionales que desarrollen una narrativa coherente y valiosa. No siempre deben ser tips o listas; adapta el storytelling al contenido.\n\n📌 Estilo requerido por campo:\n\n- **Facebook**: tono emocional, directo, reflexivo; uso de preguntas retóricas; 2–4 emojis. IMPORTANTE Que los emojis estén al inicio de los párrafos, nunca al final.\n\nFinaliza con CTA claro al link original ({{ $('Var1').item.json.Link }}) y una invitación explícita a agendar una sesión conmigo.\n\n- **Instagram**: tono visual, empático, ligero; emojis estratégicos. IMPORTANTE Que los emojis estén al inicio de los párrafos, nunca al final.\n\nFinaliza con invitación a revisar bio o enviar DM para agendar.\n\n- **Frase clave**: estilo gancho, fuerte e impactante.\n- **Slides**: narrativos, breves, claros; cada uno debe aportar valor; estilo de storytelling; que fluyan slide a slide.\n- **Prompt portada**: descripción visual en español de una escena profesional hiperrealista con iluminación natural, estilo amigable y alegre. Sin texto sobrepuesto. Usable para generar imágenes en IA.\n- **Color**: uno elegido aleatoriamente de esta lista: F16364, 4769B2, 2AC2E5, F4B384.\n\nElige un color al azar cada vez que generes un carrusel. No repitas siempre el mismo. Imagina que estás lanzando un dado: cualquier color de la lista es válido. No priorices ninguno por default.\n\n\n📌 Formato final:\nSolo un objeto JSON plano, sin envoltorios ni explicaciones. Todos los campos deben estar presentes, bien escritos, y el JSON debe ser válido y directo."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1840,1008],"id":"cc60a5fe-f31e-40c2-99b4-0d02b6c92291","name":"AI Agent3"}],"connections":{"InstagramCarrusel":{"main":[[{"node":"Wait19","type":"main","index":0}],[{"node":"⚠️​3","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Search records1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"AI Agent2":{"main":[[{"node":"outputParse3","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"selectPost1":{"main":[[{"node":"Var1","type":"main","index":0}]]},"extraerContenido2":{"main":[[{"node":"limpiarContenido2","type":"main","index":0}]]},"limpiarContenido2":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"Generate an image2":{"main":[[{"node":"Wait10","type":"main","index":0}]]},"Wait10":{"main":[[{"node":"Create an image from a template","type":"main","index":0}]]},"Var1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"extraerContenido2","type":"main","index":0}],[{"node":"extraerContenido3","type":"main","index":0}]]},"varPost1":{"main":[[{"node":"Generate an image2","type":"main","index":0}]]},"Create an image from a template":{"main":[[{"node":"Wait12","type":"main","index":0}]]},"Media Upload2":{"main":[[{"node":"Facebook1","type":"main","index":0},{"node":"Instagram2","type":"main","index":0}],[{"node":"⚠️​2","type":"main","index":0}]]},"Wait11":{"main":[[{"node":"Create a record4","type":"main","index":0}]]},"⚠️​2":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Create a record4":{"main":[[{"node":"Merge7","type":"main","index":0}]]},"Wait12":{"main":[[{"node":"Media Upload2","type":"main","index":0}]]},"Wait13":{"main":[[{"node":"Create a record5","type":"main","index":0}]]},"Facebook1":{"main":[[{"node":"Wait11","type":"main","index":0}]]},"Instagram2":{"main":[[{"node":"Wait13","type":"main","index":0}],[{"node":"⚠️​2","type":"main","index":0}]]},"Create a record5":{"main":[[{"node":"Merge7","type":"main","index":1}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"extraerContenido3":{"main":[[{"node":"limpiarContenido3","type":"main","index":0}]]},"limpiarContenido3":{"main":[[{"node":"AI Agent3","type":"main","index":0}]]},"Generate an image3":{"main":[[{"node":"Wait14","type":"main","index":0}]]},"Wait14":{"main":[[{"node":"Portada2","type":"main","index":0}]]},"Wait15":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"Portada2":{"main":[[{"node":"Wait15","type":"main","index":0}]]},"Portada3":{"main":[[{"node":"Generate an image3","type":"main","index":0}]]},"varCarrusel1":{"main":[[{"node":"Merge5","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"slides1","type":"main","index":0}]]},"Wait16":{"main":[[{"node":"varSlides1","type":"main","index":0}]]},"slides1":{"main":[[{"node":"Wait16","type":"main","index":0}]]},"Code":{"main":[[{"node":"Merge4","type":"main","index":1}]]},"varSlides1":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Merge4":{"main":[[{"node":"imgSlide1","type":"main","index":0}]]},"CodeSlides1":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"imgSlide1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Media Upload3":{"main":[[{"node":"Wait17","type":"main","index":0}]]},"Loop Over Items3":{"main":[[{"node":"mediaUrlsCarrusel1","type":"main","index":0}],[{"node":"Media Upload3","type":"main","index":0}]]},"Wait17":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Merge5":{"main":[[{"node":"varPostCarrusel1","type":"main","index":0}]]},"Wait18":{"main":[[{"node":"Create a record6","type":"main","index":0}]]},"⚠️​3":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"✅​3":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"Create a record6":{"main":[[{"node":"Merge6","type":"main","index":0}]]},"Wait19":{"main":[[{"node":"Create a record7","type":"main","index":0}]]},"Create a record7":{"main":[[{"node":"Merge6","type":"main","index":1}]]},"FacebookCarrusel1":{"main":[[{"node":"Wait18","type":"main","index":0}]]},"varPostCarrusel1":{"main":[[{"node":"InstagramCarrusel","type":"main","index":0},{"node":"FacebookCarrusel1","type":"main","index":0}]]},"mediaUrlsCarrusel1":{"main":[[{"node":"Merge5","type":"main","index":1}]]},"Create or update a record2":{"main":[[{"node":"✅​3","type":"main","index":0}]]},"Merge6":{"main":[[{"node":"Create or update a record2","type":"main","index":0}]]},"outputParse2":{"main":[[{"node":"Portada3","type":"main","index":0},{"node":"varCarrusel1","type":"main","index":0},{"node":"CodeSlides1","type":"main","index":0}]]},"✅​1":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Create or update a record3":{"main":[[{"node":"✅​1","type":"main","index":0}]]},"Merge7":{"main":[[{"node":"Create or update a record3","type":"main","index":0}]]},"outputParse3":{"main":[[{"node":"varPost1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Search records","type":"main","index":0},{"node":"Search records1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Search records","type":"main","index":0},{"node":"Search records1","type":"main","index":0}]]},"Search records":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"selectPost1","type":"main","index":0}]]},"AI Agent3":{"main":[[{"node":"outputParse2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"8291db71-ed46-45e1-9f24-13fb755497f4","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-01-05T23:23:05.619Z","createdAt":"2026-01-05T23:23:05.619Z","role":"workflow:owner","workflowId":"iFL6646np1c6Hgw5","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[{"updatedAt":"2026-01-05T04:42:50.080Z","createdAt":"2026-01-05T04:42:50.080Z","id":"WoZWCKdRNB9sNHTT","name":"Redes Sociales"}],"activeVersion":null}