workflows/Matus _ Leer Mail P3--3JjR6HzHTZ9svvFz.json
{"updatedAt":"2026-01-06T00:15:04.000Z","createdAt":"2026-01-06T00:15:04.355Z","id":"3JjR6HzHTZ9svvFz","name":"Matus | Leer Mail P3","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1600,352],"id":"f96265e0-1dba-46a6-bc53-9a2ce97c24a3","name":"Loop Over Items"},{"parameters":{"promptType":"define","text":"=Correo:\nid: {{ $json.id }}\nAsunto: {{ $json.Subject }}\nRemitente: {{ $json.From }}\nCuerpo: {{ $json.snippet }}\n","options":{"systemMessage":"=Eres un clasificador de correos. Solo puedes responder con un JSON válido.\n\nTu tarea es analizar el contenido del correo y devolver una de las siguientes categorías en el campo \"estatus\":\n- Mail no válido\n- Desuscribir\n- Lead Calificado\n- Mail interno\n- Vacaciones\n- Otro\n\n### Definiciones de cada categoría:\n- **Mail no válido (mail):** Correos automáticos que indican errores como rebote, dirección inexistente o buzón lleno.\n- **Desuscribir:** Correos escritos por humanos solicitando dejar de recibir comunicaciones.\n- **Lead Calificado:** Correos escritos por humanos interesados en recibir más información sobre nuestros servicios.\n- **Mail interno:** Correos generados desde nuestra propia organización o entre colegas.\n- **Vacaciones:** Respuestas automáticas que indican que la persona está fuera por vacaciones.\n- **Otro:** Cualquier mensaje que no encaje en las categorías anteriores.\n\n### Extracción del campo \"mail\":\n- Utiliza siempre regex para buscar correos electrónicos (formato *@*).\n- Si la categoría es **\"Mail no válido\"**, identifica en el cuerpo el correo destinatario que causó el error. Si no hay ninguno, usa el remitente.\n- Para **\"Desuscribir\"**, **\"Lead Calificado\"**, **\"Mail interno\"** y **\"Otro\"**, utiliza el remitente original del mensaje.\n\n### Formato de salida requerido:\n```json\n{\n  \"estatus\": \"Categoría\",\n  \"mail\": \"Correo detectado\",\n  \"resumen\": \"Resumen breve del contenido del correo\",\n  \"id\": {{ $json.id }}\n}\n\nPiensa cuidadosamente antes de responder. Verifica que:\n1. La categoría es correcta según el contenido.\n2. El campo \"mail\" corresponde a la regla de su categoría.\n3. El resumen es breve pero informativo."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-1136,368],"id":"4b6e6000-e8c8-4045-bd0a-92a71f8b450c","name":"AI Agent","onError":"continueRegularOutput"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1136,576],"id":"e3c8ec06-d288-41a6-9dc6-7e4bcc075fdc","name":"OpenAI Chat Model"},{"parameters":{"jsCode":"try {\n  const raw = $json.output.trim();\n  const cleaned = raw.replace(/^```json\\s*|\\s*```$/g, '');\n  const data = JSON.parse(cleaned);\n\n  return [\n    {\n      estatus: data.estatus,\n      mail: data.mail,\n      resumen: data.resumen,\n      id: data.id\n    }\n  ];\n} catch (error) {\n  return [\n    {\n      error: 'Error al procesar el JSON de la IA',\n      details: error.message,\n      rawOutput: $json.output\n    }\n  ];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-784,368],"id":"c5687f55-e01d-4a7f-9310-3ca1ea472d98","name":"codeVariables","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"eaca5b91-63d7-4f09-b6bb-3a21ba977e7c","name":"estatus","value":"={{ $json.estatus }}","type":"string"},{"id":"b6f4ebdd-9594-4b29-8107-0b6a98ce1f4c","name":"mail","value":"={{ $json.mail && $json.mail.toLowerCase() }}","type":"string"},{"id":"03b041dc-60ef-4690-b8b9-cf45c2de493f","name":"resumen","value":"={{ $json.resumen }}","type":"string"},{"id":"58d58bbd-7ce2-42d9-ace8-32232f3d18a3","name":"id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-560,368],"id":"260ef138-424d-466e-80e7-5ba33067ad9c","name":"variables"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.estatus }}","rightValue":"Mail no válido","operator":{"type":"string","operation":"equals"},"id":"7cfe0b36-e2cf-4019-aa99-b0622da0e5c1"}],"combinator":"and"},"renameOutput":true,"outputKey":"Mail no válido"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e64f2748-2c75-49d4-a54c-60aafa878260","leftValue":"={{ $json.estatus }}","rightValue":"Desuscribir","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Desuscribir"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1b2a9a6a-1502-443d-9607-919e72f7c064","leftValue":"={{ $json.estatus }}","rightValue":"Vacaciones","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Vacaciones"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3f8ef9f8-f020-456d-83ca-814293598145","leftValue":"={{ $json.estatus }}","rightValue":"Otro","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Otro"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8f41a560-3d36-480c-9200-2e5762c73ad9","leftValue":"={{ $json.estatus }}","rightValue":"Lead Calificado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Lead Calificado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aacb85b3-87ab-4289-834f-4e5dad3ea0ba","leftValue":"={{ $json.estatus }}","rightValue":"Mail interno","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mail interno"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-336,304],"id":"97a42c85-31ef-413a-a54b-6991697a8b25","name":"Estatus"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"masterVariables\"].json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"masterVariables\"].json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.mail }}","ESTATUS":"={{ $json.estatus }}","ACTUALIZACIÓN":"={{ $now.toISO() }}"},"matchingColumns":["EMAIL"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"},{"name":"Mail no válido","value":"Mail no válido"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Lead Calificado","value":"Lead Calificado"}],"readOnly":false,"removed":false},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[0,0],"id":"c4108862-21bc-4a71-a312-79fe0265f7b1","name":"mailNoValido","onError":"continueRegularOutput"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"masterVariables\"].json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"masterVariables\"].json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.mail }}","ESTATUS":"={{ $json.estatus }}","ACTUALIZACIÓN":"={{ $now.toISO() }}"},"matchingColumns":["EMAIL"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"},{"name":"Mail no válido","value":"Mail no válido"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Lead Calificado","value":"Lead Calificado"}],"readOnly":false,"removed":false},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[0,176],"id":"a41ead69-e16a-4f62-975f-da410764775a","name":"Desuscribir","onError":"continueRegularOutput"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"masterVariables\"].json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"masterVariables\"].json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.mail }}","ESTATUS":"={{ $json.estatus }}","ACTUALIZACIÓN":"={{ $now.toISO() }}"},"matchingColumns":["EMAIL"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"},{"name":"Mail no válido","value":"Mail no válido"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Lead Calificado","value":"Lead Calificado"}],"readOnly":false,"removed":false},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[0,704],"id":"e371641e-5a81-41eb-a52d-3dc27783d952","name":"Lead Calificado","onError":"continueRegularOutput"},{"parameters":{"chatId":"1019249029","text":"={{ $node[\"masterVariables\"].json.cliente }} Recibimos un mail que no sabemos cómo clasificar:\nSender: {{ $('variables').item.json.mail }}\nMensaje: {{ $('variables').item.json.resumen }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[448,544],"id":"579838e8-a6eb-4c0c-a59a-558acf3596f3","name":"Otro","webhookId":"810c1fa1-bc60-4286-a3a2-8ff3d0e7eee5"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2064,176],"id":"46eacb8d-e490-403c-af61-cf0f85e57427","name":"When clicking ‘Execute workflow’"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[736,880],"id":"57177105-8d4e-4116-b00b-5dda6ec7455a","name":"Wait","webhookId":"8c53e5d1-4b57-4a66-aa8c-c0ae397ca6a6"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"masterVariables\"].json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"masterVariables\"].json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.mail }}","ESTATUS":"={{ $json.estatus }}","ACTUALIZACIÓN":"={{ $now.toISO() }}"},"matchingColumns":["EMAIL"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"},{"name":"Mail no válido","value":"Mail no válido"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Lead Calificado","value":"Lead Calificado"}],"readOnly":false,"removed":false},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[0,352],"id":"478a4ed1-b7ce-4770-a6de-ba2a4195d742","name":"Vacaciones","onError":"continueRegularOutput"},{"parameters":{"chatId":"1019249029","text":"=✅​ {{ $node[\"masterVariables\"].json.cliente }} Tenemos un Lead Calificado\nSender: {{ $('codeVariables').item.json.mail }}\nMensaje: {{ $('codeVariables').item.json.resumen }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[448,704],"id":"1218d70c-b8d8-4c5f-8216-c0a9ab8f920d","name":"✅​ Lead Calificado","webhookId":"bb02f676-7b62-4ad5-9149-20b2203435f6"},{"parameters":{"assignments":{"assignments":[{"id":"6ffedc78-981e-426d-9bff-5f3eadc3c091","name":"cliente","value":"Matus","type":"string"},{"id":"65e10390-e78f-46a8-84a3-1879daed9aec","name":"airtableBase","value":"appjX236dfu4fY0wy","type":"string"},{"id":"f533255f-7d42-4516-b5a5-7c20198075ae","name":"leadsReach","value":"tblXSr8JzKfLPXv6b","type":"string"},{"id":"960d38ab-1c82-4734-9739-a298b6baa631","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"faaaba19-4eaa-445d-b5a5-1f51c3be529c","name":"From","value":"={{ $json.From }}","type":"string"},{"id":"83008982-2c8e-4442-b5aa-c6f9a58e48ef","name":"Subject","value":"={{ $json.Subject }}","type":"string"},{"id":"411f76fc-ceca-4625-9be7-40416b7d3e2e","name":"snippet","value":"={{ $json.snippet }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1344,368],"id":"a87c10b8-091d-4511-ac60-7b56601a8921","name":"masterVariables"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{"q":"=to:me -from:me -label:\"Lead Calificado\" -label:\"Mail interno\" -label:\"Otro\""}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.3,"position":[-1824,352],"id":"1f36a5e5-cad7-462c-929a-fa8d259daa01","name":"Gmail Trigger"},{"parameters":{"operation":"getAll","returnAll":true,"filters":{"q":"=to:me -from:me -label:\"Lead Calificado\" -label:\"Mail interno\""}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1824,176],"id":"d5d717f2-561f-4e65-88ab-6f53f2fd36ed","name":"getMail","webhookId":"2db819ee-398a-465b-af28-03ca0e3d00de"},{"parameters":{"operation":"delete","messageId":"={{ $node[\"variables\"].json.id }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[336,176],"id":"9550ad4f-5d55-4057-a970-7a2a7db03532","name":"Delete a message","webhookId":"412a6b45-44ba-4aac-8cbc-717dcc108296"},{"parameters":{"content":"## VARIABLES","height":240,"width":192,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-1392,304],"typeVersion":1,"id":"4c275ad8-d4f7-4a26-b046-16e9ed8e2249","name":"Sticky Note12"},{"parameters":{"content":"## Clasificación del correo","height":512,"width":1008},"type":"n8n-nodes-base.stickyNote","position":[-1424,224],"typeVersion":1,"id":"42247fb4-2173-4b2a-a1c9-e4573d07bcd9","name":"Sticky Note"},{"parameters":{"operation":"addLabels","messageId":"={{ $node[\"variables\"].json.id }}","labelIds":["Label_4390194798212308142"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[0,544],"id":"68464cc1-b63c-42a9-999c-be2cceeea969","name":"Label: Otro","webhookId":"400622df-0399-4b51-af37-c4d05ff0df52"},{"parameters":{"operation":"addLabels","messageId":"={{ $node[\"variables\"].json.id }}","labelIds":["Label_2982243166655781861","IMPORTANT"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[208,704],"id":"1485f3aa-bf63-4985-83c0-10fe79b4f3ba","name":"Label: Lead Calificado","webhookId":"400622df-0399-4b51-af37-c4d05ff0df52"},{"parameters":{"operation":"addLabels","messageId":"={{ $node[\"masterVariables\"].json.mailID }}","labelIds":["Label_2882584280216211295"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[0,880],"id":"c88b3486-6612-4f74-904c-dd9db99235df","name":"Label: Interno","webhookId":"52c49aba-df72-488f-ae15-2d1221bf8318"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"masterVariables","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"codeVariables","type":"main","index":0}]]},"codeVariables":{"main":[[{"node":"variables","type":"main","index":0}]]},"variables":{"main":[[{"node":"Estatus","type":"main","index":0}]]},"Estatus":{"main":[[{"node":"mailNoValido","type":"main","index":0}],[{"node":"Desuscribir","type":"main","index":0}],[{"node":"Vacaciones","type":"main","index":0}],[{"node":"Label: Otro","type":"main","index":0}],[{"node":"Lead Calificado","type":"main","index":0}],[{"node":"Label: Interno","type":"main","index":0}]]},"mailNoValido":{"main":[[{"node":"Delete a message","type":"main","index":0}]]},"Desuscribir":{"main":[[{"node":"Delete a message","type":"main","index":0}]]},"Lead Calificado":{"main":[[{"node":"Label: Lead Calificado","type":"main","index":0}]]},"Otro":{"main":[[{"node":"Wait","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"getMail","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Vacaciones":{"main":[[{"node":"Delete a message","type":"main","index":0}]]},"✅​ Lead Calificado":{"main":[[{"node":"Wait","type":"main","index":0}]]},"masterVariables":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Gmail Trigger":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"getMail":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Delete a message":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Label: Otro":{"main":[[{"node":"Otro","type":"main","index":0}]]},"Label: Lead Calificado":{"main":[[{"node":"✅​ Lead Calificado","type":"main","index":0}]]},"Label: Interno":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"36e097a1-6ae0-40fa-8b20-52b850f9be36","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-01-06T00:15:04.365Z","createdAt":"2026-01-06T00:15:04.365Z","role":"workflow:owner","workflowId":"3JjR6HzHTZ9svvFz","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[{"updatedAt":"2026-01-05T04:44:20.809Z","createdAt":"2026-01-05T04:44:20.809Z","id":"j1mm1WBrRQcYk9z1","name":"Mailing"}],"activeVersion":null}