workflows/Matus_ Leads (Apollo) P3--2N1bgSlQ5FkLZHyL.json
{"updatedAt":"2026-01-06T00:15:48.000Z","createdAt":"2026-01-06T00:15:48.862Z","id":"2N1bgSlQ5FkLZHyL","name":"Matus: Leads (Apollo) P3","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"=https://api.apify.com/v2/acts/code_crafter~apollo-io-scraper/run-sync-get-dataset-items?token=***REDACTED***","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"getPersonalEmails\": true,\n  \"getWorkEmails\": true,\n  \"totalRecords\": 500,\n  \"url\": \"https://app.apollo.io/#/people?page=1&contactEmailStatusV2[]=verified&sortAscending=false&sortByField=recommendations_score&personTitles[]={{ $json['Posición'] }}&qOrganizationKeywordTags[]=health&qOrganizationKeywordTags[]=hospitals&qOrganizationKeywordTags[]=practice&qOrganizationKeywordTags[]=medical&includedOrganizationKeywordFields[]=tags&includedOrganizationKeywordFields[]=name&includedOrganizationKeywordFields[]=social_media_description&personLocations[]=Mexico%20City%2C%20Mexico\",\n  \"fileName\": \"Apollo Prospects\"\n}","options":{}},"id":"30e79cff-3529-4362-8dc8-0beb1a0e6a92","name":"Scrape Leads","type":"n8n-nodes-base.httpRequest","position":[608,352],"typeVersion":4.2},{"parameters":{"operation":"create","base":{"__rl":true,"value":"={{$node[\"varMaste\"].json.airtableBase}}","mode":"id"},"table":{"__rl":true,"value":"={{$node[\"varMaste\"].json.leadsReach}}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"},{"name":"Mail no válido","value":"Mail no válido"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Lead Calificado","value":"Lead Calificado"},{"name":"Vacaciones","value":"Vacaciones"},{"name":"Erorr","value":"Erorr"}],"readOnly":false,"removed":false},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"737e2075-2373-420a-893b-610dd8015509","name":"Save Leads in database","type":"n8n-nodes-base.airtable","position":[1280,368],"typeVersion":2.1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"231ec40a-bd12-46e2-ab6b-a8c4d6728983","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.email }}","rightValue":""}]},"options":{}},"id":"7f0ff72e-7f98-49c8-b040-cbf031db556e","name":"Filter leads without email","type":"n8n-nodes-base.if","position":[1056,384],"typeVersion":2.2},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[832,352],"id":"85d6105d-476d-46f3-bba3-34df098a609d","name":"Loop Over Items"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1,2,3,4,5],"triggerAtHour":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-128,96],"id":"dd598cc2-592b-44c3-ad82-28411f435a17","name":"Schedule Trigger"},{"parameters":{"chatId":"1019249029","text":"⚠️  MADEMA Google Leads: No hay más búsquedas","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2000,464],"id":"27d37608-7b38-4ae9-921a-d6c65024e6c8","name":"⚠️ Alerta","webhookId":"6b85368f-fc00-4136-bef9-fbd37c6ae329"},{"parameters":{"content":"## Backlog","height":280,"width":1204},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[992,0],"id":"57bc6edf-2846-4a0e-ba2a-5c3634e7f754","name":"Sticky Note3"},{"parameters":{"content":"## Nos quedamos sin búsquedas","height":280,"width":360,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1840,336],"id":"ec20ff44-a5fb-4adb-a1db-ee580e7bcf70","name":"Sticky Note4"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{$node[\"varMaste\"].json.airtableBase}}","mode":"id"},"table":{"__rl":true,"value":"={{$node[\"varMaste\"].json.Apollo}}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Posición","displayName":"Posición","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Hecho","value":"Hecho"},{"name":"Activo","value":"Activo"},{"name":"Inactivo","value":"Inactivo"}],"readOnly":false,"removed":false},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1952,16],"id":"e2df7c6b-619e-4465-aa04-35c19a77ffb4","name":"Update record"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"66eb3ab6-2ad2-4fdf-b705-1352ecf3c0b4","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1728,112],"id":"0d32b3f5-bc59-4b8d-801e-081c259345fe","name":"hayRegistros"},{"parameters":{"assignments":{"assignments":[{"id":"69c1c800-54e6-40ce-b115-c4fd5b46ce91","name":"Cliente","value":"Matus","type":"string"},{"id":"c117241d-89f7-49b8-91f4-b98b9194e804","name":"airtableBase","value":"appjX236dfu4fY0wy","type":"string"},{"id":"237ab13e-9812-40cb-abcd-02208c5dbf5a","name":"Apollo","value":"tblHZnoV9Jw9Vlvr1","type":"string"},{"id":"100dd96e-3318-4590-9ca0-efbc9a26a662","name":"leadsReach","value":"tblXSr8JzKfLPXv6b","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[64,96],"id":"868e7846-d251-4c84-8ac3-9d9ca0b71c58","name":"varMaste"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{$node[\"varMaste\"].json.airtableBase}}","mode":"id"},"table":{"__rl":true,"value":"={{$node[\"varMaste\"].json.Apollo}}","mode":"id"},"filterByFormula":"={ESTATUS} = \"Activo\"","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1056,112],"id":"7dbf68d1-d681-4a56-b6d2-f849ee07a531","name":"getApollo"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{$node[\"varMaste\"].json.airtableBase}}","mode":"id"},"table":{"__rl":true,"value":"={{$node[\"varMaste\"].json.Apollo}}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Search').item.json.id }}","Estatus":"Hecho","Fecha":"={{ $now.toISO() }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Posición","displayName":"Posición","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Hecho","value":"Hecho"},{"name":"Activo","value":"Activo"},{"name":"Inactivo","value":"Inactivo"}],"readOnly":false,"removed":false},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1280,112],"id":"b7096b10-d047-424e-a0b0-bb9a235e2fce","name":"updateApollo"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{$node[\"varMaste\"].json.airtableBase}}","mode":"id"},"table":{"__rl":true,"value":"={{$node[\"varMaste\"].json.Apollo}}","mode":"id"},"filterByFormula":"{ESTATUS} = \"Activo\"","returnAll":false,"limit":1,"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[432,352],"id":"3388831f-75a5-4152-8809-0a89a21d94ad","name":"Search"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{$node[\"varMaste\"].json.airtableBase}}","mode":"id"},"table":{"__rl":true,"value":"={{$node[\"varMaste\"].json.Apollo}}","mode":"id"},"filterByFormula":"{ESTATUS} = \"Inactivo\"","returnAll":false,"limit":1,"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1504,112],"id":"3b7bde08-bfd2-444e-9486-d407cf3eee65","name":"Search Inactivo"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1,2,3,4,5],"triggerAtHour":1,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-64,848],"id":"88115368-2b02-41ac-87b3-2d392c7800b1","name":"Schedule Trigger1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.type }}","rightValue":"unique","operator":{"type":"string","operation":"equals"},"id":"bda2882e-1078-48d2-a646-d96825fc8638"}],"combinator":"and"},"renameOutput":true,"outputKey":"unique"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"768a16cd-b42e-40b5-8dca-259a02fb0075","leftValue":"={{ $json.type }}","rightValue":"duplicate","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"duplicate"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[832,848],"id":"97c4e389-5d18-43a3-b47c-8ad35025d447","name":"Switch1"},{"parameters":{"jsCode":"// 1) Normaliza entrada: por si viene como un array anidado\nlet inputItems = [];\nif (items.length === 1 && Array.isArray(items[0].json)) {\n  for (const row of items[0].json) {\n    inputItems.push({ json: row });\n  }\n} else {\n  inputItems = items;\n}\n\nconst seen = new Set();\nconst uniqueItems = [];\nconst duplicateItems = [];\n\nfor (const item of inputItems) {\n  const row = item.json;\n  const email = (row.EMAIL || \"\").trim().toLowerCase();\n\n  if (!email) {\n    // Si el email está vacío, se considera único\n    uniqueItems.push({\n      json: {\n        ...row,\n        type: \"unique\"\n      }\n    });\n  } else if (seen.has(email)) {\n    // Email duplicado\n    duplicateItems.push({\n      json: {\n        ...row,\n        type: \"duplicate\"\n      }\n    });\n  } else {\n    // Email nuevo (único)\n    seen.add(email);\n    uniqueItems.push({\n      json: {\n        ...row,\n        type: \"unique\"\n      }\n    });\n  }\n}\n\n// Ordena duplicados si tienes algún criterio (aquí por row_number si existe)\nduplicateItems.sort((a, b) => (b.json.row_number || 0) - (a.json.row_number || 0));\n\n// Combina únicos + duplicados ordenados\nconst outputItems = uniqueItems.concat(duplicateItems);\n\nreturn outputItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,848],"id":"91d2ee19-8d4f-4336-89c1-78eabd8e907b","name":"clasificarDuplicados"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1040,768],"id":"1788ab99-674c-45f1-90a8-c01ab0bff0e2","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1264,768],"id":"4d22e869-1f44-4ce2-84a8-82366584a811","name":"No Operation, do nothing1"},{"parameters":{"content":"## Eliminar perfiles duplicados","height":532,"width":1600,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-112,704],"typeVersion":1,"id":"6bf8a489-5d65-46e0-acca-2ebe0a580312","name":"Sticky Note"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $json.leadsReach }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[384,848],"id":"df6a78c9-6ba6-40d6-86dc-0c611ce1596c","name":"Search records1"},{"parameters":{"operation":"deleteRecord","base":{"__rl":true,"value":"={{$node[\"varMaste1\"].json.airtableBase}}","mode":"id"},"table":{"__rl":true,"value":"={{$node[\"varMaste1\"].json.leadsReach}}","mode":"id"},"id":"={{ $json.id }}"},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1280,992],"id":"5ab4be52-9376-4f4d-95b6-f71c944928f2","name":"Delete a record"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1056,992],"id":"5526adad-3959-471b-a199-5016a38c510a","name":"Loop Over Items1"},{"parameters":{"chatId":"1019249029","text":"={{$node[\"varMaste2\"].json.Cliente}} Listos los leads de hoy. Tenemos:\n❌ {{ $json.descalificadoCount }} Descalificados, y \n✅ {{ $json.calificadoCount }} Calificados","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1312,1392],"id":"1cda3878-2c9e-4e8e-a7d7-f7d02b40f1ce","name":"✅ Leads","webhookId":"408e1329-b591-4857-b684-3dde0faa7c34"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c4231680-1781-4209-894f-292403cc2b1a","leftValue":"={{ $json.EMAIL }}","rightValue":"@","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[720,1664],"id":"dd02759f-85da-421c-af29-43da1cd52d54","name":"If"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[560,1616],"id":"ed9d25b2-df72-4904-95be-4f762462a7dd","name":"Loop Over Items2"},{"parameters":{"content":"## Calificar leads","height":704,"width":1612,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-112,1328],"typeVersion":1,"id":"92cc5c96-328d-447b-a1e4-fadcf2bdd742","name":"Sticky Note2"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1,2,3,4,5],"triggerAtHour":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-64,1616],"id":"645f8cb4-1c27-4b9f-81fd-67c1c5308d31","name":"Schedule Trigger2"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{$node[\"varMaste2\"].json.airtableBase}}","mode":"id"},"table":{"__rl":true,"value":"={{$node[\"varMaste2\"].json.leadsReach}}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","ESTATUS":"Calificado","ACTUALIZACIÓN":"={{ $now.toISO() }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"10001+","value":"10001+"},{"name":"1-10","value":"1-10"},{"name":"51-200","value":"51-200"},{"name":"1001-5000","value":"1001-5000"},{"name":"201-500","value":"201-500"},{"name":"5001-10000","value":"5001-10000"},{"name":"11-50","value":"11-50"},{"name":"501-1000","value":"501-1000"}],"readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 3","value":"Mail 3"},{"name":"Mail 2","value":"Mail 2"}],"readOnly":false,"removed":false},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1120,1552],"id":"97685f12-b80e-4254-a6b9-b6b7afc78e48","name":"leadCalifidado"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{$node[\"varMaste2\"].json.airtableBase}}","mode":"id"},"table":{"__rl":true,"value":"={{$node[\"varMaste2\"].json.leadsReach}}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Loop Over Items2').item.json.id }}","ESTATUS":"Descalificado","ACTUALIZACIÓN":"={{ $now.toISO() }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"10001+","value":"10001+"},{"name":"1-10","value":"1-10"},{"name":"51-200","value":"51-200"},{"name":"1001-5000","value":"1001-5000"},{"name":"201-500","value":"201-500"},{"name":"5001-10000","value":"5001-10000"},{"name":"11-50","value":"11-50"},{"name":"501-1000","value":"501-1000"}],"readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 3","value":"Mail 3"},{"name":"Mail 2","value":"Mail 2"}],"readOnly":false,"removed":false},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[912,1776],"id":"a48966e0-7bf1-428e-8f65-34cb9b140f77","name":"leadDescalificado"},{"parameters":{"jsCode":"let calificadoCount = 0;\nlet descalificadoCount = 0;\n\nfor (const item of items) {\n  const status = (item.json.ESTATUS || \"\").toLowerCase();\n  if (status === \"calificado\") calificadoCount++;\n  else if (status === \"descalificado\") descalificadoCount++;\n}\n\nreturn [\n  {\n    json: {\n      calificadoCount,\n      descalificadoCount\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,1392],"id":"1997f72d-e85b-4340-8c9b-de2d34839eed","name":"clasificarLeads"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{$node[\"varMaste2\"].json.airtableBase}}","mode":"id"},"table":{"__rl":true,"value":"={{$node[\"varMaste2\"].json.leadsReach}}","mode":"id"},"filterByFormula":"=IS_SAME({ACTUALIZACIÓN}, TODAY(), 'day')","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[896,1392],"id":"8cfd0527-854b-499a-837d-c1d7dc6c2003","name":"filtrarLeadsHoy","executeOnce":false},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $json.leadsReach }}","mode":"id"},"filterByFormula":"{ESTATUS} = BLANK()","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[352,1616],"id":"9327a263-dd69-4aea-bb16-d0ecd0afe179","name":"leerLeads"},{"parameters":{"content":"## DEFINIR VARIABLES","height":256},"type":"n8n-nodes-base.stickyNote","position":[96,752],"typeVersion":1,"id":"f106303d-8225-471f-83d4-a520546e96d9","name":"Sticky Note5"},{"parameters":{"content":"## DEFINIR VARIABLES","height":256},"type":"n8n-nodes-base.stickyNote","position":[80,1520],"typeVersion":1,"id":"559107e2-99c8-4ec7-bd11-0d55f0f6ce5e","name":"Sticky Note6"},{"parameters":{"operation":"deleteRecord","base":{"__rl":true,"value":"={{$node[\"varMaste2\"].json.airtableBase}}","mode":"id"},"table":{"__rl":true,"value":"={{$node[\"varMaste2\"].json.airtableBase}}","mode":"id"},"id":"={{ $json.id }}"},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1312,1760],"id":"686e305d-2619-42ac-b15a-cd06e09af34d","name":"Delete a record1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c461f2d9-58df-4961-a570-a94226e3a881","leftValue":"={{ $json.fields.SITIO }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1120,1776],"id":"a1973342-4d5e-4090-abe9-833f09c9410f","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"69c1c800-54e6-40ce-b115-c4fd5b46ce91","name":"Cliente","value":"Matus","type":"string"},{"id":"c117241d-89f7-49b8-91f4-b98b9194e804","name":"airtableBase","value":"appjX236dfu4fY0wy","type":"string"},{"id":"237ab13e-9812-40cb-abcd-02208c5dbf5a","name":"Apollo","value":"tblHZnoV9Jw9Vlvr1","type":"string"},{"id":"100dd96e-3318-4590-9ca0-efbc9a26a662","name":"leadsReach","value":"tblXSr8JzKfLPXv6b","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,848],"id":"391ad1dc-ab96-44d1-a7ec-605f79e4edba","name":"varMaste1"},{"parameters":{"assignments":{"assignments":[{"id":"69c1c800-54e6-40ce-b115-c4fd5b46ce91","name":"Cliente","value":"Matus","type":"string"},{"id":"c117241d-89f7-49b8-91f4-b98b9194e804","name":"airtableBase","value":"appjX236dfu4fY0wy","type":"string"},{"id":"237ab13e-9812-40cb-abcd-02208c5dbf5a","name":"Apollo","value":"tblHZnoV9Jw9Vlvr1","type":"string"},{"id":"100dd96e-3318-4590-9ca0-efbc9a26a662","name":"leadsReach","value":"tblXSr8JzKfLPXv6b","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[128,1616],"id":"4670c57b-0cde-43a4-bc13-ec40d263c348","name":"varMaste2"},{"parameters":{"url":"=https://apilayer.net/api/check?access_key=4021272739d142e6325f732e4dc945ca&email={{ $json.EMAIL }}&smtp=1&format=1","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[768,2352],"id":"1b783a19-77c4-4f38-9fe0-1dc9fff849ce","name":"verificarMail","onError":"continueErrorOutput"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1,2,3,4,5],"triggerAtHour":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-64,2304],"id":"ac898f43-ea10-4154-9acb-7e9aaf2070e2","name":"Schedule Trigger3"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $json.leadsReach }}","mode":"id"},"filterByFormula":"{ESTATUS} = \"Calificado\"","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[352,2304],"id":"1689fe6f-ad87-46e2-b020-b8e1d71639ed","name":"leerLeads1"},{"parameters":{"assignments":{"assignments":[{"id":"69c1c800-54e6-40ce-b115-c4fd5b46ce91","name":"Cliente","value":"Matus","type":"string"},{"id":"c117241d-89f7-49b8-91f4-b98b9194e804","name":"airtableBase","value":"appjX236dfu4fY0wy","type":"string"},{"id":"237ab13e-9812-40cb-abcd-02208c5dbf5a","name":"Apollo","value":"tblHZnoV9Jw9Vlvr1","type":"string"},{"id":"100dd96e-3318-4590-9ca0-efbc9a26a662","name":"leadsReach","value":"tblXSr8JzKfLPXv6b","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[128,2304],"id":"c79adcb6-705b-47b8-a711-8005daa9ee25","name":"varMaste3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[560,2304],"id":"02cd67f3-7a82-45a6-b9ee-7acb0fabaa03","name":"Loop Over Items3"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1488,2320],"id":"812c2054-6636-45fb-ad27-44c34dc1710e","name":"Wait1","webhookId":"b1c9570c-4638-43cc-b54d-71551ca00218"},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"={{ $('varMaste3').item.json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $('varMaste3').item.json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Loop Over Items3').item.json.id }}","ESTATUS":"Mail no válido (mailboxlayer)","ACTUALIZACIÓN":"={{ $now.toISO() }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"DESCRIPCIÓN EMPRESA","displayName":"DESCRIPCIÓN EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA LINKEDIN URL","displayName":"EMPRESA LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"},{"name":"Mail no válido","value":"Mail no válido"},{"name":"Mail no válido (mailboxlayer)","value":"Mail no válido (mailboxlayer)"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Lead Calificado","value":"Lead Calificado"},{"name":"Vacaciones","value":"Vacaciones"},{"name":"Erorr","value":"Erorr"}],"readOnly":false,"removed":false},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1248,2352],"id":"1a532069-8363-4ab1-94fe-f40e5f08aa3c","name":"Create or update a record"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9fd50225-2601-4576-8b5c-0e46f305fe9f","leftValue":"={{ $json.smtp_check }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[992,2336],"id":"50d7ccb6-05da-455b-be74-60ade2e80213","name":"If2"},{"parameters":{"content":"## Valiaciónde mais","height":368,"width":1792,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-112,2160],"typeVersion":1,"id":"ea74bade-771e-4a4c-84c0-ef701233d5a6","name":"Sticky Note1"},{"parameters":{"content":"## DEFINIR VARIABLES","height":256},"type":"n8n-nodes-base.stickyNote","position":[64,2224],"typeVersion":1,"id":"8775868d-9a80-4300-b3bc-331ce2ef92b0","name":"Sticky Note7"},{"parameters":{"content":"## DEFINIR VARIABLES","height":256},"type":"n8n-nodes-base.stickyNote","position":[128,2672],"typeVersion":1,"id":"d65b2f21-9076-454a-99a2-2c252db17b44","name":"Sticky Note8"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-32,2768],"id":"52cf01d6-833f-4617-9671-36a5c052c1ad","name":"When clicking ‘Execute workflow’"},{"parameters":{"content":"## Eliminar","height":384,"width":940,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-112,2592],"typeVersion":1,"id":"e4ae4705-e179-4fa8-8958-f5a588fa4e1f","name":"Sticky Note9"},{"parameters":{"assignments":{"assignments":[{"id":"69c1c800-54e6-40ce-b115-c4fd5b46ce91","name":"Cliente","value":"Matus","type":"string"},{"id":"c117241d-89f7-49b8-91f4-b98b9194e804","name":"airtableBase","value":"appjX236dfu4fY0wy","type":"string"},{"id":"237ab13e-9812-40cb-abcd-02208c5dbf5a","name":"Apollo","value":"tblHZnoV9Jw9Vlvr1","type":"string"},{"id":"100dd96e-3318-4590-9ca0-efbc9a26a662","name":"leadsReach","value":"tblXSr8JzKfLPXv6b","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,2768],"id":"20a34231-5109-455e-bde8-cf4c1c18755f","name":"varMaste4"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{$node[\"varMaste\"].json.airtableBase}}","mode":"id"},"table":{"__rl":true,"value":"={{$node[\"varMaste\"].json.leadsReach}}","mode":"id"},"filterByFormula":"{ESTATUS} = \"Calificado\"","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[320,96],"id":"daa9e164-f811-4ce5-999a-f33b5a331e28","name":"Search records"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"baf6da8c-a5ad-4c06-be23-e2fee310c090","leftValue":"={{ $items().length }}","rightValue":50,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[528,96],"id":"b35869b4-8c90-4ffc-b731-8d5bbb13dba4","name":"If3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[736,80],"id":"9bc7478d-e046-4d1a-bb9e-6754d6f9ebee","name":"No Operation, do nothing2"},{"parameters":{"content":"## Filtrar al menos 50 leads calificados\n","height":256,"width":688},"type":"n8n-nodes-base.stickyNote","position":[272,0],"typeVersion":1,"id":"44dd79d9-5252-4579-b048-f40097eb4744","name":"Sticky Note10"},{"parameters":{"content":"## DEFINIR VARIABLES","height":256},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"137aac39-824f-43d6-8101-b6ddfbe0be27","name":"Sticky Note11"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $json.leadsReach }}","mode":"id"},"filterByFormula":"{ESTATUS} = \"Descalificado\"","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[400,2768],"id":"bdf8d7d8-36ec-4923-a3ec-8afcf36c92c2","name":"leerDescalificados"},{"parameters":{"operation":"deleteRecord","base":{"__rl":true,"value":"={{$node[\"varMaste4\"].json.airtableBase}}","mode":"id"},"table":{"__rl":true,"value":"={{$node[\"varMaste4\"].json.leadsReach}}","mode":"id"},"id":"={{ $json.id }}"},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[624,2768],"id":"ffb3b8ee-ac27-4ccc-800a-b69105d2ce33","name":"EliminarDescalificados"}],"connections":{"Scrape Leads":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Filter leads without email":{"main":[[{"node":"Save Leads in database","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"getApollo","type":"main","index":0}],[{"node":"Filter leads without email","type":"main","index":0}]]},"Save Leads in database":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"varMaste","type":"main","index":0}]]},"hayRegistros":{"main":[[{"node":"Update record","type":"main","index":0}],[{"node":"⚠️ Alerta","type":"main","index":0}]]},"varMaste":{"main":[[{"node":"Search records","type":"main","index":0}]]},"getApollo":{"main":[[{"node":"updateApollo","type":"main","index":0}]]},"updateApollo":{"main":[[{"node":"Search Inactivo","type":"main","index":0}]]},"Search":{"main":[[{"node":"Scrape Leads","type":"main","index":0}]]},"Search Inactivo":{"main":[[{"node":"hayRegistros","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"varMaste1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"clasificarDuplicados":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Search records1":{"main":[[{"node":"clasificarDuplicados","type":"main","index":0}]]},"Delete a record":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Delete a record","type":"main","index":0}]]},"If":{"main":[[{"node":"leadCalifidado","type":"main","index":0}],[{"node":"leadDescalificado","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"filtrarLeadsHoy","type":"main","index":0}],[{"node":"If","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"varMaste2","type":"main","index":0}]]},"leadCalifidado":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"leadDescalificado":{"main":[[{"node":"If1","type":"main","index":0}]]},"clasificarLeads":{"main":[[{"node":"✅ Leads","type":"main","index":0}]]},"filtrarLeadsHoy":{"main":[[{"node":"clasificarLeads","type":"main","index":0}]]},"leerLeads":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Delete a record1":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"If1":{"main":[[{"node":"Delete a record1","type":"main","index":0}],[{"node":"Loop Over Items2","type":"main","index":0}]]},"varMaste1":{"main":[[{"node":"Search records1","type":"main","index":0}]]},"varMaste2":{"main":[[{"node":"leerLeads","type":"main","index":0}]]},"verificarMail":{"main":[[{"node":"If2","type":"main","index":0}]]},"Schedule Trigger3":{"main":[[{"node":"varMaste3","type":"main","index":0}]]},"varMaste3":{"main":[[{"node":"leerLeads1","type":"main","index":0}]]},"leerLeads1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"verificarMail","type":"main","index":0}]]},"Create or update a record":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"If2":{"main":[[{"node":"Wait1","type":"main","index":0}],[{"node":"Create or update a record","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"varMaste4","type":"main","index":0}]]},"varMaste4":{"main":[[{"node":"leerDescalificados","type":"main","index":0}]]},"Search records":{"main":[[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}],[{"node":"Search","type":"main","index":0}]]},"leerDescalificados":{"main":[[{"node":"EliminarDescalificados","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"45097144-5e84-4e70-9e1c-539585872966","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-01-06T00:15:48.865Z","createdAt":"2026-01-06T00:15:48.865Z","role":"workflow:owner","workflowId":"2N1bgSlQ5FkLZHyL","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[{"updatedAt":"2026-01-05T04:45:25.095Z","createdAt":"2026-01-05T04:45:25.095Z","id":"PdQTwVw5NnLaxkX0","name":"Leads"}],"activeVersion":null}
