workflows/Sub-workflow_ Vendedor--9O4DE8HbThS9C7su.json
{"updatedAt":"2026-01-28T17:04:32.228Z","createdAt":"2026-01-27T13:33:52.811Z","id":"9O4DE8HbThS9C7su","name":"Sub-workflow: Vendedor","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"file","fileId":"={{ $json.message.photo[$json.message.photo.length - 1].file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-7696,320],"id":"e0193c0d-d688-4088-a2c8-8b24a3b55836","name":"Get Photo from Telegram","webhookId":"891d498e-9fc8-49a4-92be-c81c024ef252"},{"parameters":{"jsCode":"// Extraer file_path de la respuesta actual (del nodo Get Photo)\nconst fileInfo = $input.item.json;\n\n// --- CORRECCIÓN AQUÍ ---\n// Cambiamos 'Telegram Trigger' por el nombre real de tu nodo de inicio en este archivo.\n// Usamos .first() para tomar los datos que llegaron desde el workflow principal.\nconst triggerData = $('When Executed by Another Workflow').first().json.message;\n\nreturn {\n  json: {\n    filePath: fileInfo.file_path,\n    fileId: fileInfo.file_id,\n    chatId: triggerData.chat.id,\n    userName: triggerData.from.first_name || triggerData.from.username || 'Usuario',\n    messageId: triggerData.message_id\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-7472,320],"id":"1d12ee01-cd34-48a0-b03a-e1e5da36677e","name":"Prepare Image Data"},{"parameters":{"url":"=https://api.telegram.org/file/bot8550805050:AAHDK8g7UHS72lJOXwQ2QLbKZ15u1xAR1jM/{{ $('Get Photo from Telegram').item.json.result.file_path }}","authentication":"predefinedCredentialType","nodeCredentialType":"telegramApi","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7248,320],"id":"6cb76186-5a2f-4512-91e6-bcf1b8594dd2","name":"Download Image","retryOnFail":true},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Analiza esta imagen detalladamente. Tu objetivo es extraer datos para un inventario de una tienda.\n\nInstrucciones:\n1. Identifica qué objeto es (Libro, Comestible, Electrónico, Artículo General, etc).\n2. Si hay códigos de barras, ISBN o textos legibles, extráelos.\n3. Si es un libro, busca Título, Autor y Editorial.\n4. Si es otro producto, busca Marca, Nombre del producto y Contenido neto.\n\nResponde ÚNICAMENTE con un objeto JSON estricto (sin markdown, sin ```json).\nEstructura requerida:\n{\n  \"tipo_producto\": \"Libro\" | \"Articulo\" | \"Comestible\",\n  \"titulo_nombre\": \"Nombre exacto del producto\",\n  \"autor_marca\": \"Autor del libro o Marca del producto\",\n  \"isbn_ean\": \"El código numérico si es visible, sino null\",\n  \"descripcion_visual\": \"Breve descripción de colores y características físicas\",\n  \"estado\": \"Nuevo\"\n}","inputType":"base64","options":{"detail":"high"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[-6128,512],"id":"21fad4ad-3cb3-48d6-a952-6d382608858e","name":"Analyze Image with AI","retryOnFail":true},{"parameters":{"jsCode":"// --- LIMPIEZA Y ESTRUCTURADO DE PRODUCTO (FOTO) ---\nconst inputData = $input.item.json;\n\n// 1. OBTENCIÓN DE LA RESPUESTA CRUDA (BÚSQUEDA PROFUNDA)\nlet rawText = \"\";\n\n// Función auxiliar para extraer texto si el objeto es el correcto\nfunction extractFromObject(obj) {\n    if (!obj) return null;\n    // Caso: Tu estructura actual (content es un array con type: output_text)\n    if (obj.content && Array.isArray(obj.content) && obj.content[0]?.text) {\n        return obj.content[0].text;\n    }\n    // Caso: OpenAI estándar (message.content)\n    if (obj.message && obj.message.content) return obj.message.content;\n    // Caso: Gemini (content.parts[0].text)\n    if (obj.content?.parts?.[0]?.text) return obj.content.parts[0].text;\n    // Caso: Texto directo\n    if (typeof obj.content === 'string') return obj.content;\n    if (obj.output) return obj.output;\n    return null;\n}\n\n// LÓGICA DE BÚSQUEDA (Prioridad por capas)\n\n// Intento 1: Directo (Si es un objeto simple)\nrawText = extractFromObject(inputData);\n\n// Intento 2: Si viene dentro de un array [ { ... } ] o llave '0'\nif (!rawText && (inputData[0] || inputData['0'])) {\n    const level1 = inputData[0] || inputData['0'];\n    rawText = extractFromObject(level1);\n    \n    // Intento 3: Si viene DOBLEMENTE anidado [ [ { ... } ] ] (Tu caso exacto)\n    if (!rawText && (level1[0] || level1['0'])) {\n        const level2 = level1[0] || level1['0'];\n        rawText = extractFromObject(level2);\n    }\n}\n\n// VALIDACIÓN DE ERROR FINAL\nif (!rawText) {\n    // Convertimos a string para ver qué llegó realmente en el error\n    const debug = JSON.stringify(inputData).substring(0, 200);\n    throw new Error(`CRÍTICO: No encontré texto ni buscando en 3 niveles de profundidad. Data recibida: ${debug}`);\n}\n\n// 2. LIMPIEZA DE FORMATO (Quitar ```json, markdown, etc.)\nlet cleanJson = rawText.toString()\n    .replace(/^```json\\s*/i, '') \n    .replace(/^```\\s*/, '')      \n    .replace(/\\s*```$/, '')      \n    .trim();\n\n// 3. PARSEO A OBJETO JSON\nlet producto = {};\ntry {\n    producto = JSON.parse(cleanJson);\n} catch (e) {\n    const firstBrace = cleanJson.indexOf('{');\n    const lastBrace = cleanJson.lastIndexOf('}');\n    \n    if (firstBrace !== -1 && lastBrace !== -1) {\n        try {\n            let extracted = cleanJson.substring(firstBrace, lastBrace + 1);\n            producto = JSON.parse(extracted);\n        } catch (e2) {\n             throw new Error(\"Texto encontrado pero JSON inválido: \" + cleanJson);\n        }\n    } else {\n        throw new Error(\"El texto encontrado no parece un JSON: \" + cleanJson.substring(0, 50));\n    }\n}\n\n// 4. NORMALIZACIÓN\nconst resultadoFinal = {\n    tipo_producto: producto.tipo_producto || \"Articulo\",\n    titulo: producto.titulo_nombre || producto.nombre || producto.titulo || \"Producto Desconocido\",\n    autor_marca: producto.autor_marca || producto.marca || producto.autor || \"Generico\",\n    isbn_ean: producto.isbn_ean || producto.codigo || producto.isbn || null,\n    descripcion: producto.descripcion_visual || producto.descripcion || \"\",\n    origen_dato: \"IA Vision\",\n    fecha_procesado: new Date().toISOString()\n};\n\nreturn { json: resultadoFinal };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5904,320],"id":"82246bfd-ee9c-493b-be47-c5cfbf6be2ba","name":"Parse and Structure Data"},{"parameters":{"jsCode":"// Recorremos los items por si manejas varios archivos a la vez\nfor (const item of items) {\n  if (item.binary && item.binary.data) {\n    // Forzamos el tipo MIME a un formato soportado\n    // CAMBIA 'image/png' a 'image/jpeg' si estás usando JPGs\n    item.binary.data.mimeType = 'image/png';\n    \n    // Opcional: Asegurar que la extensión coincida\n    item.binary.data.fileExtension = 'png';\n    item.binary.data.fileName = 'imagen_corregida.png';\n  }\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-7024,320],"id":"715abcf9-740d-41d7-95a5-a28cf801a3b3","name":"Code in JavaScript"},{"parameters":{"jsCode":"// 1. Definimos el nombre EXACTO del nodo que tiene la imagen original\n// (Tal cual aparece en tu captura de pantalla)\nconst binarySourceNode = 'Code in JavaScript';\n\n// Recorremos los items recibidos del nodo anterior (Analyze an image/Gemini)\nreturn items.map((item, index) => {\n\n  // 2. DETECCIÓN DE ERROR\n  // Cuando activas \"Continue On Fail\", n8n suele agregar una propiedad \"error\" al JSON.\n  // También verificamos si el output está vacío o parece incorrecto.\n  const geminiFallo = item.json.error !== undefined;\n\n  if (geminiFallo) {\n    try {\n      // 3. RECUPERACIÓN (FALLBACK)\n      // Buscamos la ejecución del nodo 'Code in JavaScript' usando el índice actual\n      // para asegurar que coincida con la imagen correcta si procesas varias a la vez.\n      const sourceItem = $(binarySourceNode).all()[index];\n\n      // Verificamos si ese nodo origen tiene datos binarios\n      if (sourceItem && sourceItem.binary) {\n        return {\n          json: {\n            // Pasamos info útil al nodo de OpenAI para que sepa que esto es un reintento\n            info: \"Gemini falló. Ejecutando Fallback con OpenAI.\",\n            previous_error: item.json.error\n          },\n          // AQUÍ RESTAURAMOS LA IMAGEN PARA OPENAI\n          binary: sourceItem.binary\n        };\n      }\n    } catch (err) {\n      // Si algo sale mal buscando el nodo anterior\n      return {\n        json: { error: `No se pudo recuperar el binario del nodo: ${binarySourceNode}` }\n      };\n    }\n  }\n\n  // 4. SI GEMINI NO FALLÓ\n  // Devolvemos el item tal cual.\n  // IMPORTANTE: Si Gemini funcionó, probablemente NO quieras que OpenAI corra.\n  // Puedes filtrar esto en el siguiente paso o dejarlo pasar.\n  return item;\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6352,512],"id":"cd3f117f-942b-40cb-8452-35dc70c732f2","name":"Code in JavaScript1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ed7a9e72-2a0b-4f5b-be11-2a603bf0d722","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-6576,320],"id":"a1af7d7f-fd33-4713-b72f-40fab27f0d30","name":"If"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"e18f3e0d-2cc7-44ca-90b4-feb63e4ce9b1","leftValue":"={{ $json.callback_query.data }}","rightValue":"nav_instruccion_entrada","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Guía: Entrada"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"b5de7794-809b-41da-9396-600cf366d9f4","leftValue":"={{ $json.callback_query.data }}","rightValue":"nav_instruccion_venta","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Guía: Venta"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"84309178-d986-4aa0-adb9-8d909a8372e0","leftValue":"={{ $json.callback_query }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Botones (Clicks)"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"65ad0bcc-3fa6-4f16-9216-27ad2dcc81cb","leftValue":"={{ $json.message.text }}","rightValue":"/start","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Comandos (/start)"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"leftValue":"={{ $json.message.photo }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true},"id":"97c5e9d8-9230-45b0-9169-5daef0842ae8"}],"combinator":"and"},"renameOutput":true,"outputKey":"Es foto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"6f885d4b-7f34-4d09-b3a4-9d478ca1b4d8","leftValue":"={{ $json.message.text }}","rightValue":"/in_","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Comando Entrada"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"a2744c12-c368-46a4-a38e-4e3c1c00a635","leftValue":"={{ $json.message.text }}","rightValue":"/out_","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Comando salida"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"4e4e8735-ea32-4e2e-a19e-580a2a3f91ca","leftValue":"={{ $json.message }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Es texto "}]},"looseTypeValidation":true,"options":{"fallbackOutput":"extra","renameFallbackOutput":"Mensaje Invalido"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-7920,816],"id":"98201fba-53da-47e6-baf4-46b22365f6cb","name":"Switch"},{"parameters":{"url":"=https://www.googleapis.com/books/v1/volumes","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $json.message.text.match(/^[0-9X-]+$/) ? 'isbn:' + $json.message.text : $json.message.text }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-5680,992],"id":"8f251ac9-a472-458d-ae7f-d637392810f5","name":"HTTP Request","retryOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"772921d1-4cbd-4fc4-9c82-031f84c95b89","name":"titulo","value":"={{ $json.items[0].volumeInfo.title }}","type":"string"},{"id":"60633fff-8fe8-45ad-adb7-91aceaa502ab","name":"autor","value":"={{ $json.items[0].volumeInfo.authors.join(', ') }}","type":"string"},{"id":"884c7144-04a4-47f8-978c-f4bf9e7bfb6d","name":"isbn_ean","value":"={{ $json.items[0].volumeInfo.industryIdentifiers ? $json.items[0].volumeInfo.industryIdentifiers[0].identifier : $json.items[0].id }}","type":"string"},{"id":"e42cc90b-96c2-4531-84c5-45eddfffabdd","name":"descripcion","value":"={{ $json.items[0].volumeInfo.description }}","type":"string"},{"id":"3064560c-a089-4968-af55-b76efdfc2dde","name":"foto_url","value":"={{ $json.items[0].volumeInfo.imageLinks.thumbnail }}","type":"string"},{"id":"819cb9f8-7136-4457-93df-d23a16ddc290","name":"tipo_producto","value":"Libro","type":"string"},{"id":"1892b5aa-2949-4ba8-9832-185cbe8363a6","name":"origen","value":"Google API","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5456,992],"id":"356ffe12-e5b4-4ceb-8dcf-26390fe05400","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-5232,320],"id":"d1dd12f1-5ed1-4e30-beb2-3230d0ca2ce9","name":"Merge"},{"parameters":{"url":"=https://www.googleapis.com/books/v1/volumes","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $json.titulo }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-5680,320],"id":"2a0e5149-7aaf-4b6e-9738-320f1f4a7f44","name":"HTTP Request1","retryOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"772921d1-4cbd-4fc4-9c82-031f84c95b89","name":"titulo","value":"={{ $json.items[0].volumeInfo.title }}","type":"string"},{"id":"60633fff-8fe8-45ad-adb7-91aceaa502ab","name":"autor","value":"={{ $json.items[0].volumeInfo.authors.join(', ') }}","type":"string"},{"id":"884c7144-04a4-47f8-978c-f4bf9e7bfb6d","name":"isbn_ean","value":"={{ $json.items[0].volumeInfo.industryIdentifiers ? $json.items[0].volumeInfo.industryIdentifiers[0].identifier : $json.items[0].id }}","type":"string"},{"id":"e42cc90b-96c2-4531-84c5-45eddfffabdd","name":"descripcion","value":"={{ $json.items[0].volumeInfo.description }}","type":"string"},{"id":"3064560c-a089-4968-af55-b76efdfc2dde","name":"foto_url","value":"={{ $json.items[0].volumeInfo.imageLinks.thumbnail }}","type":"string"},{"id":"819cb9f8-7136-4457-93df-d23a16ddc290","name":"tipo_producto","value":"Libro","type":"string"},{"id":"1892b5aa-2949-4ba8-9832-185cbe8363a6","name":"origen","value":"Google API","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5456,320],"id":"116e4740-d05d-4493-a481-0acda9ab911d","name":"Edit Fields1"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Analiza esta imagen detalladamente. Tu objetivo es extraer datos para un inventario de una tienda.\n\nInstrucciones:\n1. Identifica qué objeto es (Libro, Comestible, Electrónico, Artículo General, etc).\n2. Si hay códigos de barras, ISBN o textos legibles, extráelos.\n3. Si es un libro, busca Título, Autor y Editorial.\n4. Si es otro producto, busca Marca, Nombre del producto y Contenido neto.\n\nResponde ÚNICAMENTE con un objeto JSON estricto (sin markdown, sin ```json).\nEstructura requerida:\n{\n  \"tipo_producto\": \"Libro\" | \"Articulo\" | \"Comestible\",\n  \"titulo_nombre\": \"Nombre exacto del producto\",\n  \"autor_marca\": \"Autor del libro o Marca del producto\",\n  \"isbn_ean\": \"El código numérico si es visible, sino null\",\n  \"descripcion_visual\": \"Breve descripción de colores y características físicas\",\n  \"estado\": \"Nuevo\"\n}","inputType":"base64","options":{"detail":"high"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[-6800,320],"id":"2f9507c8-7826-4fab-a938-fa5228606d82","name":"Analyze Image with AI1","retryOnFail":true},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list","cachedResultName":"Inventario Híbrido Librería","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA"},"table":{"__rl":true,"value":"tblwe0HS2QfnfvfRh","mode":"list","cachedResultName":"Productos Maestro","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tblwe0HS2QfnfvfRh"},"filterByFormula":"=OR(\n  IF('{{ $json.isbn_ean }}' != '', {ISBN} = '{{ $json.isbn_ean }}', 0),\n  {Nombre Titulo} = '{{ $json.titulo }}'\n)","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-5008,320],"id":"95c88843-b764-4d14-8275-847ead4709f3","name":"Search records","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ffaa939a-941a-43f7-9ea5-3e29fa4a85b5","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-4784,320],"id":"cf13bdb4-7b81-41a2-bb42-6fa26af4c9f7","name":"If1"},{"parameters":{"chatId":"={{ $('When Executed by Another Workflow').first().json.message.chat.id }}","text":"=✅ **¡Producto Registrado con Éxito!**\n\nHemos guardado en la base de datos:\n📘 **Título:** {{ $('Create a record').item.json.fields['Nombre Titulo'] }}\n👤 **Autor:** {{ $('Create a record').item.json.fields['Autor Marca'] }}\n\n🆔 **SKU:** (Se generará automáticamente en breve)\n\n¿Qué quieres hacer ahora?","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🔙 Volver al Menu","additionalFields":{"callback_data":"inicio"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-4112,496],"id":"8b566825-c406-473c-a4b6-5b7d1ebdc55c","name":"Send a text message","webhookId":"ade28dca-6766-4eef-b09c-1ee107a267fc"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list","cachedResultName":"Inventario Híbrido Librería","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA"},"table":{"__rl":true,"value":"tblwe0HS2QfnfvfRh","mode":"list","cachedResultName":"Productos Maestro","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tblwe0HS2QfnfvfRh"},"columns":{"mappingMode":"defineBelow","value":{"Precio Venta":0,"Costo":0,"Nombre Titulo":"={{ $('Merge').item.json.titulo }}","ISBN":"={{ $('Merge').item.json.isbn_ean }}","EAN":"={{ $('Merge').item.json.isbn_ean }}","Autor Marca":"={{ $('Merge').item.json.autor }}","Tipo de Producto":"={{ $('Merge').item.json.tipo_producto }}","Descripción":"={{ $('Merge').item.json.descripcion }}","Foto Portada":"={{ $('Merge').item.json.foto_url }}","Ultima Modificación":"={{ $now }}"},"matchingColumns":[],"schema":[{"id":"Nombre Titulo","displayName":"Nombre Titulo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"SKU","displayName":"SKU","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"ISBN","displayName":"ISBN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"EAN","displayName":"EAN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Autor Marca","displayName":"Autor Marca","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Tipo de Producto","displayName":"Tipo de Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Libro","value":"Libro"},{"name":"Artículo","value":"Artículo"},{"name":"Comestible","value":"Comestible"}],"readOnly":false,"removed":false},{"id":"Descripción","displayName":"Descripción","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Precio Venta","displayName":"Precio Venta","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Costo","displayName":"Costo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Foto Portada","displayName":"Foto Portada","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Stock Actual","displayName":"Stock Actual","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Ultima Modificación","displayName":"Ultima Modificación","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Movimientos Vinculados","displayName":"Movimientos Vinculados","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Entradas Totales","displayName":"Entradas Totales","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Salidas Totales","displayName":"Salidas Totales","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Ajustes Iniciales","displayName":"Ajustes Iniciales","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Pérdidas Totales","displayName":"Pérdidas Totales","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Stock Actual Calculado","displayName":"Stock Actual Calculado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Margen Bruto (%)","displayName":"Margen Bruto (%)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Resumen Automático de Producto","displayName":"Resumen Automático de Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Clasificación Inteligente de Producto","displayName":"Clasificación Inteligente de Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Indice","displayName":"Indice","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-4560,496],"id":"50610c5b-ea41-4ac0-bc39-7add90afd5c7","name":"Create a record","retryOnFail":true},{"parameters":{"chatId":"={{ $json.callback_query.from.id }}{{ $json.message.from.id }}","text":"👋 **Sistema de Inventario KiroxON** |\n\n ¿Qué gestión administrativa deseas realizar?","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"📦 Estado Inventario","additionalFields":{"callback_data":"admin_inventario"}},{"text":"➖ Registrar nuevo ingreso ","additionalFields":{"callback_data":"nav_instruccion_entrada"}},{"text":"📤 Registrar Salida (Venta)","additionalFields":{"callback_data":"nav_instruccion_venta"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-7472,1312],"id":"a54e4334-e302-4434-b339-0fde735feb72","name":"Send a text message3","webhookId":"aff6292a-cbcc-47fd-9e4b-49cf93d4d00e"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.callback_query.data }}","rightValue":"entrada_","operator":{"type":"string","operation":"contains"},"id":"34080155-2bc7-41e5-a71c-9b6e7260214d"}],"combinator":"and"},"renameOutput":true,"outputKey":"Set: Ingreso"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f25d8a29-c90c-4c9c-b77d-c96be939a5fd","leftValue":"={{ $json.callback_query.data }}","rightValue":"salida_","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Set: Venta"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"74d59aea-a509-44f6-a588-76ade440d9a3","leftValue":"={{ $json.callback_query.data }}","rightValue":"admin_inventario","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Tool: inventario"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f600a77c-b24a-4840-961f-b8cca625edc0","leftValue":"={{ $json.callback_query.data }}","rightValue":"inicio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Nav: Inicio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-7696,1536],"id":"c6efaa8c-848e-419b-be3e-5a8a856bcba5","name":"Switch1"},{"parameters":{"chatId":"={{ $('When Executed by Another Workflow').first().json.message.chat.id }}","text":"=📚 **Producto Encontrado**  \n**Título:** \n{{ $json['Nombre Titulo'] }} \n**Autor:** \n {{ $json['Autor Marca'] }}\n**Precio:** \n${{ $json['Precio Venta'] }}  \n¿Qué movimiento deseas registrar?","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"📦 Registrar Entrada (Varios)","additionalFields":{"callback_data":"=entrada_{{ $json.id }}"}},{"text":"➖ Registrar Salida  (varios)","additionalFields":{"callback_data":"=salida_{{ $json.id }}"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-4112,224],"id":"400e7624-8ad8-40ec-a575-69dfcba452bd","name":"Send a text message7","webhookId":"1ac55ba4-185a-492b-a704-4a73007b3c07"},{"parameters":{"content":"## 🇪🇸 Subsistema: El Vendedor (Worker)\n\nPropósito: Gestiona el día a día (Compras, Ventas, Ajustes).\nInputs: Recibe datos del HUB.\nAcciones: Crear/Borrar registros en Airtable.\n\n🇺🇸 English:\nSubsystem: The Salesman (Worker)\nPurpose: Manages daily ops (Purchases, Sales, Adjustments).\nInputs: Receives data from HUB.\nActions: Create/Delete records in Airtable.\n","height":352,"width":400},"type":"n8n-nodes-base.stickyNote","position":[-8624,800],"typeVersion":1,"id":"cb3b58a7-84b9-4e19-84da-08d0f075eed9","name":"Sticky Note1"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list","cachedResultName":"Inventario Híbrido Librería","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA"},"table":{"__rl":true,"value":"tblwe0HS2QfnfvfRh","mode":"list","cachedResultName":"Productos Maestro","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tblwe0HS2QfnfvfRh"},"options":{"fields":["Precio Venta","Costo","Tipo de Producto","Nombre Titulo","Stock Actual","ISBN"]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-7472,1856],"id":"e571e192-59a1-49fa-98a8-ea18cedb8e90","name":"Search records1","retryOnFail":true},{"parameters":{"jsCode":"// Obtenemos los ítems que vienen de Airtable\nconst productos = $input.all();\n\nlet reporteTexto = \"📋 *INVENTARIO DETALLADO*\\n========================\\n\";\nlet sumaStock = 0;\nlet sumaValorVenta = 0;\n\n// Recorremos cada producto de la lista\nfor (const item of productos) {\n  // Extraemos los datos directamente del JSON que me mostraste\n  const datos = item.json;\n\n  // 1. Extraemos valores (con validación por si vienen vacíos)\n  const nombre = datos['Nombre Titulo'] || \"Sin Nombre\";\n  const tipo = datos['Tipo de Producto'] || \"General\";\n  // Nota: En tu JSON no vi el campo 'ISBN', si lo agregas en Airtable, descomenta la linea de abajo:\n  const isbn = datos['ISBN'] || \"N/A\"; \n  const precio = datos['Precio Venta'] || 0;\n  const costo = datos['Costo'] || 0;\n  const stock = datos['Stock Actual'] || 0;\n  const id = datos['id'];\n\n  // 2. Calculamos totales globales\n  sumaStock += stock;\n  sumaValorVenta += (precio * stock); // Valorización del stock actual\n\n  // 3. Armamos el bloque de texto para este producto\n  reporteTexto += `🔹 *${nombre}*\\n`;\n  reporteTexto += `   🆔 ID: /v_${id}\\n`; // Agrego el comando de acceso rápido\n  reporteTexto += `   📚 Tipo: ${tipo} | ISBN: ${isbn}\\n`;\n  reporteTexto += `   📦 Stock: ${stock} un.\\n`;\n  reporteTexto += `   💰 Venta: $${precio.toLocaleString('es-CO')} | Costo: $${costo.toLocaleString('es-CO')}\\n`;\n  reporteTexto += `------------------------------\\n`;\n}\n\n// 4. Agregamos un resumen final al pie del reporte\nreporteTexto += `\\n📊 *RESUMEN TOTAL*\\n`;\nreporteTexto += `📦 Total Unidades: ${sumaStock}\\n`;\nreporteTexto += `💰 Valor Inventario (P. Venta): $${sumaValorVenta.toLocaleString('es-CO')}`;\n\n// 5. Devolvemos el texto listo para el nodo de Telegram\nreturn {\n  json: {\n    mensaje_reporte: reporteTexto\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-7248,1856],"id":"68ba7a03-c387-4f0a-854d-894fcc0737df","name":"Code in JavaScript3"},{"parameters":{"chatId":"={{ $('When Executed by Another Workflow').first().json.callback_query.from.id }}","text":"={{ $json.mensaje_reporte }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🔙 Volver al Menu","additionalFields":{"callback_data":"inicio"}}]}}]},"additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-7024,1856],"id":"4071e749-b896-4cfd-9a92-353c3a10393e","name":"Send a text message10","webhookId":"e9520775-f2bf-4b37-97f4-86a6fe628a69"},{"parameters":{"numberInputs":6},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-6800,1648],"id":"4c0a4f02-e2f9-44f7-bb4d-f97d75505553","name":"Merge1"},{"parameters":{"resource":"callback","queryId":"={{ $('Telegram Trigger').first().json.callback_query.id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-6576,1712],"id":"19dfc550-6615-44c5-ab46-4c656c45e017","name":"Answer Query a callback","webhookId":"96e07505-d490-4c4d-8d3e-8b92d6124ae8"},{"parameters":{"chatId":"={{ $('When Executed by Another Workflow').first().json.callback_query.from.id }}","text":"=📦 *Registrar Entrada de Inventario*  \n¿Cuántas unidades vas a ingresar?\nEscribe el comando abajo seguido de la cantidad.  Ejemplo (Para agregar 5 unidades): ...rec12345 5 \n\n*SIMPLEMENTE DALE CLCIK AL SIGUIENTE CODIGO SE COPIARA AUTOMATICAMENTE EL COMANDO Y AGREGA LA CANTIDAD*\n👇\n`/in_{{$json.callback_query.data.replace('entrada_', '') }}`","additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-7024,1472],"id":"a7ccc542-3197-46ec-82b5-ac3cff0ce6ba","name":"Send a text message12","webhookId":"47c3ab63-3fc9-489a-a1cf-42b062d561e5"},{"parameters":{"jsCode":"// Recibe: \"/in_rec12345 10\"\nconst texto = $json.message.text;\n\n// 1. Limpiamos\nconst limpio = texto.replace('/in_', '').trim();\nconst partes = limpio.split(' ');\n\n// 2. Validamos\nif (partes.length < 2) {\n  throw new Error(\"Faltó la cantidad. Formato: /in_ID CANTIDAD\");\n}\n\nconst idProducto = partes[0];\nconst cantidad = parseInt(partes[1]);\n\nreturn {\n  json: {\n    id_producto: idProducto,\n    cantidad_entrar: cantidad,\n    nota: `Ingreso manual de ${cantidad} uds.`\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4560,1136],"id":"adbed865-131c-4490-8ffd-14ef3ad13e85","name":"Code in JavaScript5"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list","cachedResultName":"Inventario Híbrido Librería","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA"},"table":{"__rl":true,"value":"tbllmq4v91zGVMUQd","mode":"list","cachedResultName":"Movimientos de Inventario","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tbllmq4v91zGVMUQd"},"columns":{"mappingMode":"defineBelow","value":{"Tipo Movimiento":"Entrada Compra","Cantidad":"={{ $json.cantidad_entrar }}","Notas":"={{ $json.nota }}","Producto Relacionado":"={{ [ $json.id_producto ] }}","Fecha":"2026-01-22T10:31:24"},"matchingColumns":[],"schema":[{"id":"ID Movimiento","displayName":"ID Movimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Producto Relacionado","displayName":"Producto Relacionado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Tipo Movimiento","displayName":"Tipo Movimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Entrada Compra","value":"Entrada Compra"},{"name":"Salida Venta","value":"Salida Venta"},{"name":"Ajuste Inicial","value":"Ajuste Inicial"},{"name":"Pérdida","value":"Pérdida"}],"readOnly":false,"removed":false},{"id":"Cantidad","displayName":"Cantidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Notas","displayName":"Notas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Entradas (+)","displayName":"Entradas (+)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Salidas (-)","displayName":"Salidas (-)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre Producto","displayName":"Nombre Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"SKU Producto","displayName":"SKU Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Resumen Movimiento (AI)","displayName":"Resumen Movimiento (AI)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Clasificación Movimiento (AI)","displayName":"Clasificación Movimiento (AI)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Cantidad Real","displayName":"Cantidad Real","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Precio Venta","displayName":"Precio Venta","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-4336,1136],"id":"a2c98a27-8690-4c74-a43c-945116b755f4","name":"Create a record3","retryOnFail":true},{"parameters":{"chatId":"={{ $('When Executed by Another Workflow').first().json.callback_query.from.id }}","text":"=📉 *Registrar Salida de Inventario*\n\n¿Cuántas unidades vas a sacar (venta o pérdida)?\nEscribe el comando abajo seguido de la cantidad.\n\nEjemplo (Para sacar 3 unidades):\n...rec12345 3\n\n*SIMPLEMENTE DALE CLCIK AL SIGUIENTE CODIGO SE COPIARA AUTOMATICAMENTE EL COMANDO Y AGREGA LA CANTIDAD*\n\n👇\n`/out_{{ $json.callback_query.data.replace('salida_', '') }}`\n\n","additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-7024,1664],"id":"f1dbc7b7-3955-420e-9e77-e3488642d1c1","name":"Send a text message13","webhookId":"47c3ab63-3fc9-489a-a1cf-42b062d561e5"},{"parameters":{"jsCode":"// Recibe: \"/out_rec12345 3\"\nconst texto = $json.message.text;\n\n// 1. Limpiamos (Ojo: ahora buscamos '/out_')\nconst limpio = texto.replace('/out_', '').trim();\nconst partes = limpio.split(' ');\n\n// 2. Validamos\nif (partes.length < 2) {\n  throw new Error(\"Faltó la cantidad. Formato: /out_ID CANTIDAD\");\n}\n\nconst idProducto = partes[0];\nconst cantidad = parseInt(partes[1]);\n\nreturn {\n  json: {\n    id_producto: idProducto,\n    cantidad_salir: cantidad, // Le cambié el nombre a la variable para que seas ordenado\n    nota: `Salida/Venta manual de ${cantidad} uds.`\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4560,848],"id":"91d92d08-8333-45e1-874e-0c55df8be508","name":"Code in JavaScript6"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list","cachedResultName":"Inventario Híbrido Librería","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA"},"table":{"__rl":true,"value":"tbllmq4v91zGVMUQd","mode":"list","cachedResultName":"Movimientos de Inventario","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tbllmq4v91zGVMUQd"},"columns":{"mappingMode":"defineBelow","value":{"Tipo Movimiento":"Salida Venta","Cantidad":"={{ $json.cantidad_salir }}","Notas":"={{ $json.nota }}","Producto Relacionado":"={{ [ $json.id_producto ] }}","Fecha":"2026-01-22T10:31:13"},"matchingColumns":[],"schema":[{"id":"ID Movimiento","displayName":"ID Movimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Producto Relacionado","displayName":"Producto Relacionado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Tipo Movimiento","displayName":"Tipo Movimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Entrada Compra","value":"Entrada Compra"},{"name":"Salida Venta","value":"Salida Venta"},{"name":"Ajuste Inicial","value":"Ajuste Inicial"},{"name":"Pérdida","value":"Pérdida"}],"readOnly":false,"removed":false},{"id":"Cantidad","displayName":"Cantidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Notas","displayName":"Notas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Entradas (+)","displayName":"Entradas (+)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Salidas (-)","displayName":"Salidas (-)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre Producto","displayName":"Nombre Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"SKU Producto","displayName":"SKU Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Resumen Movimiento (AI)","displayName":"Resumen Movimiento (AI)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Clasificación Movimiento (AI)","displayName":"Clasificación Movimiento (AI)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Cantidad Real","displayName":"Cantidad Real","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Precio Venta","displayName":"Precio Venta","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-4336,848],"id":"da1dd0ce-257d-4d26-a914-13eb9b3449f6","name":"Create a record4","retryOnFail":true},{"parameters":{"chatId":"={{ $('When Executed by Another Workflow').first().json.message.chat.id }}","text":"=\"📉 Nuevo Inventario añadido co exito. \n*Articulo Añadido:* \n{{ $json.fields['Nombre Producto'][0] }}\n*Notas:* \n{{ $json.fields.Notas }}\n\n Inventario actualizado","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🔙 Volver al Menu","additionalFields":{"callback_data":"inicio"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-4112,1136],"id":"8b659f19-adbd-4354-a0f6-a6d267c8142c","name":"Send a text message15","webhookId":"ade28dca-6766-4eef-b09c-1ee107a267fc"},{"parameters":{"numberInputs":6},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-3888,688],"id":"7f029f07-91be-461f-993a-a7aec5c5019a","name":"Merge2"},{"parameters":{"resource":"callback","queryId":"=","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-3664,752],"id":"6ecc58c2-a613-49fa-9e38-cae9c08958d9","name":"Answer Query a callback1","webhookId":"96e07505-d490-4c4d-8d3e-8b92d6124ae8"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list","cachedResultName":"Inventario Híbrido Librería","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA"},"table":{"__rl":true,"value":"tbllmq4v91zGVMUQd","mode":"list","cachedResultName":"Movimientos de Inventario","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tbllmq4v91zGVMUQd"},"columns":{"mappingMode":"defineBelow","value":{"Tipo Movimiento":"Ajuste Inicial","Cantidad":1,"Producto Relacionado":"={{ [ $json.id ] }}","Fecha":"2026-01-22T11:27:11","Notas":"Carga automática inicial (1 ud)"},"matchingColumns":[],"schema":[{"id":"ID Movimiento","displayName":"ID Movimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Producto Relacionado","displayName":"Producto Relacionado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Tipo Movimiento","displayName":"Tipo Movimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Entrada Compra","value":"Entrada Compra"},{"name":"Salida Venta","value":"Salida Venta"},{"name":"Ajuste Inicial","value":"Ajuste Inicial"},{"name":"Pérdida","value":"Pérdida"}],"readOnly":false,"removed":false},{"id":"Cantidad","displayName":"Cantidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Notas","displayName":"Notas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Entradas (+)","displayName":"Entradas (+)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Salidas (-)","displayName":"Salidas (-)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre Producto","displayName":"Nombre Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"SKU Producto","displayName":"SKU Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Resumen Movimiento (AI)","displayName":"Resumen Movimiento (AI)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Clasificación Movimiento (AI)","displayName":"Clasificación Movimiento (AI)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Cantidad Real","displayName":"Cantidad Real","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Precio Venta","displayName":"Precio Venta","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-4336,496],"id":"a40ebb1d-2398-43df-bad4-0ce08442f939","name":"Create a record1","retryOnFail":true},{"parameters":{"chatId":"={{ $('When Executed by Another Workflow').first().json.message.chat.id }}","text":"=\"📉 Venta registrada. ¡Buen trabajo!\".\n*Articulo vendido:* \n{{ $json.fields['Nombre Producto'][0] }}\n*Notas:* \n{{ $json.fields.Notas }}\n\n Inventario actualizado","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🔙 Volver al Menu","additionalFields":{"callback_data":"inicio"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-4112,848],"id":"f9c1f507-21dd-478d-b530-b401874c7996","name":"Venta registrada","webhookId":"ade28dca-6766-4eef-b09c-1ee107a267fc"},{"parameters":{"chatId":"={{ $json.callback_query.from.id }}","text":"📥 Modo Entrada de Inventario  \nPara sumar unidades al stock, primero necesitamos identificar el producto.  \n\n👉 Por favor, envía la FOTO de la portada o escribe el NOMBRE/ISBN del libro ahora.\n\nEl sistema te mostrará el producto y te dará el botón de ingreso.","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-7696,512],"id":"53cffe90-9f32-4d48-9540-50ac94bc125f","name":"Send a text message1","webhookId":"54c3915d-63eb-4500-9ec3-584f269197b5"},{"parameters":{"chatId":"={{ $json.callback_query.from.id }}","text":"📤 Modo Registro de Venta\n\n¡Vamos a vender! Para descontar del inventario:\n\n👉 Escanea el producto (envía foto) o escribe su nombre aquí.\n\nUna vez lo encontremos, podrás seleccionar \"➖ Salida Venta\".","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-7696,704],"id":"81668ee1-1074-417a-946f-475ceea4df1e","name":"Send a text message8","webhookId":"54c3915d-63eb-4500-9ec3-584f269197b5"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-8144,928],"id":"199e5811-20e0-4060-a8cb-4703225ecb9c","name":"When Executed by Another Workflow"},{"parameters":{"content":"## 🇪🇸 Sanitización Matemática:\nUsa Math.abs() para convertir cualquier input en positivo. Evita errores de \"doble resta\" al registrar salidas.\n\n🇺🇸 English:\nMath Sanitization:\nUses Math.abs() to force positive values. Prevents \"double subtraction\" errors when registering outflows.","height":256,"width":336,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5024,624],"id":"ea3b7ecd-85b7-4c6b-8886-f0bc711e151e","name":"Sticky Note2"},{"parameters":{"content":"## 🛡️ Sistema de Blindaje (Error Handling):\nValidado mediante pruebas de estrés. Los nodos críticos incluyen:\n1. Retry on Fail: Reintentos automáticos ante caídas de API.\n2. Sanitización: Limpieza de inputs en JS para evitar crashes.\n3. Fallback: Rutas alternas si falla la IA principal.\n🇺🇸 English:\n🛡️ System Shielding (Error Handling):\nValidated via stress testing. Critical nodes include:\n1. Retry on Fail: Auto-retries during API outages.\n2. Sanitization: JS input cleaning to prevent crashes.\n3. Fallback: Alternate routes if primary AI fails.","height":272,"width":560,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4560,1312],"id":"27aa6726-03bc-44f5-bc38-3d533520dd5e","name":"Sticky Note"}],"connections":{"Get Photo from Telegram":{"main":[[{"node":"Prepare Image Data","type":"main","index":0}]]},"Prepare Image Data":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Analyze Image with AI":{"main":[[{"node":"Parse and Structure Data","type":"main","index":0}]]},"Parse and Structure Data":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Analyze Image with AI1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Analyze Image with AI","type":"main","index":0}]]},"If":{"main":[[{"node":"Parse and Structure Data","type":"main","index":0}],[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Send a text message1","type":"main","index":0}],[{"node":"Send a text message8","type":"main","index":0}],[{"node":"Switch1","type":"main","index":0}],[{"node":"Send a text message3","type":"main","index":0}],[{"node":"Get Photo from Telegram","type":"main","index":0}],[{"node":"Code in JavaScript5","type":"main","index":0}],[{"node":"Code in JavaScript6","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Search records","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Analyze Image with AI1":{"main":[[{"node":"If","type":"main","index":0}]]},"Search records":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Send a text message7","type":"main","index":0}],[{"node":"Create a record","type":"main","index":0}]]},"Send a text message":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Create a record":{"main":[[{"node":"Create a record1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Send a text message12","type":"main","index":0}],[{"node":"Send a text message13","type":"main","index":0}],[{"node":"Search records1","type":"main","index":0}],[{"node":"Send a text message3","type":"main","index":0}]]},"Send a text message7":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Search records1":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Send a text message10","type":"main","index":0}]]},"Send a text message10":{"main":[[{"node":"Merge1","type":"main","index":3}]]},"Merge1":{"main":[[{"node":"Answer Query a callback","type":"main","index":0}]]},"Send a text message12":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Code in JavaScript5":{"main":[[{"node":"Create a record3","type":"main","index":0}]]},"Create a record3":{"main":[[{"node":"Send a text message15","type":"main","index":0}]]},"Send a text message13":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Code in JavaScript6":{"main":[[{"node":"Create a record4","type":"main","index":0}]]},"Create a record4":{"main":[[{"node":"Venta registrada","type":"main","index":0}]]},"Send a text message15":{"main":[[{"node":"Merge2","type":"main","index":4}]]},"Merge2":{"main":[[{"node":"Answer Query a callback1","type":"main","index":0}]]},"Create a record1":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Venta registrada":{"main":[[{"node":"Merge2","type":"main","index":2}]]},"When Executed by Another Workflow":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"05249a8d-d82e-4eea-82d5-f709a57a6004","activeVersionId":null,"versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2026-01-27T13:33:52.817Z","createdAt":"2026-01-27T13:33:52.817Z","role":"workflow:owner","workflowId":"9O4DE8HbThS9C7su","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[{"updatedAt":"2026-01-21T16:44:45.737Z","createdAt":"2026-01-21T16:44:45.737Z","id":"SOP4RrhCxE4HODDZ","name":"1 Proyecto"}],"activeVersion":null}