workflows/Template_ Leads (Apollo) copy P3--HMNtGjNGvaFVDFnw.json
{"updatedAt":"2026-01-06T00:24:38.000Z","createdAt":"2026-01-06T00:24:38.541Z","id":"HMNtGjNGvaFVDFnw","name":"Template: Leads (Apollo) copy P3","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"=https://api.apify.com/v2/acts/peakydev~leads-scraper-ppe/run-sync?token=***REDACTED***","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"contactEmailStatus\": \"verified\",\n    \"includeEmails\": true,\n    \"personCountry\": [\n        \"Mexico\"\n    ],\n    \"personTitle\": [\n        \"{{ $json['Posición'] }}\"\n    ],\n    \"skipLeadsWithoutEmails\": true,\n    \"totalResults\": 1000\n}","options":{}},"id":"fca7d41b-b366-4598-ac54-a6d98830e108","name":"Scrape Leads","type":"n8n-nodes-base.httpRequest","position":[-384,304],"typeVersion":4.2},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appHYYUhdVsnIj5as","mode":"list","cachedResultName":"Madema","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as"},"table":{"__rl":true,"value":"tblXSr8JzKfLPXv6b","mode":"list","cachedResultName":"leadsReach","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as/tblXSr8JzKfLPXv6b"},"columns":{"mappingMode":"defineBelow","value":{"SCORE":0,"NOMBRE":"={{ $json.first_name }}","APELLIDO":"={{ $json.last_name }}","CARGO":"={{ $json.title }}","HEADLINE":"={{ $json.headline }}","EMAIL":"={{ $json.email }}","PAIS":"={{ $json.country }}","CIUDAD":"={{ $json.city }}","SITIO":"={{ $json.organization.website_url }}","EMPRESA":"={{ $json.organization.name }}","EMPRESA LINKEDIN URL":"={{ $json.organization.linkedin_url }}","TAMAÑO":"={{ $json.organization.estimated_num_employees }}","INDUSTRIA":"={{ $json.organization.industries[0] }}","DESCRIPCIÓN EMPRESA":"={{ $json.organization_short_description }}","LINKEDIN URL":"={{ $json.linkedin_url }}"},"matchingColumns":[],"schema":[{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"DESCRIPCIÓN EMPRESA","displayName":"DESCRIPCIÓN EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"EMPRESA LINKEDIN URL","displayName":"EMPRESA LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"},{"name":"Mail no válido (mail)","value":"Mail no válido (mail)"},{"name":"Mail no válido (mailboxlayer)","value":"Mail no válido (mailboxlayer)"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Lead Calificado","value":"Lead Calificado"},{"name":"Vacaciones","value":"Vacaciones"}],"readOnly":false,"removed":false},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"475033cd-5e79-4409-9066-678535ce3c7a","name":"Save Leads in database","type":"n8n-nodes-base.airtable","position":[288,336],"typeVersion":2.1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"231ec40a-bd12-46e2-ab6b-a8c4d6728983","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.email }}","rightValue":""}]},"options":{}},"id":"a0069cd7-d00e-4172-8c2c-1afc36209892","name":"Filter leads without email","type":"n8n-nodes-base.if","position":[64,336],"typeVersion":2.2},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-160,304],"id":"c0b7efb1-6f4a-439a-bd2a-7ab674092f1f","name":"Loop Over Items"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1,2,3,4,5],"triggerAtHour":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1056,304],"id":"5b2f95da-bc1e-4cd9-a6a3-5140248a8395","name":"Schedule Trigger"},{"parameters":{"chatId":"1019249029","text":"⚠️  MADEMA Google Leads: No hay más búsquedas","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1008,464],"id":"e7d5cda8-7c5b-447d-9b10-9823a237a97b","name":"⚠️ Alerta","webhookId":"0e98a260-b7b9-47ea-8855-eeb18f0d9b96"},{"parameters":{"content":"## Backlog","height":280,"width":1204},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"d1e3746d-1b58-4205-bf8e-fc7b3858cd64","name":"Sticky Note3"},{"parameters":{"content":"## Nos quedamos sin búsquedas","height":280,"width":360,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[848,336],"id":"fc54bfc8-e575-4990-a860-3403b00a3b70","name":"Sticky Note4"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{$node[\"varMaste\"].json.airtableBase}}","mode":"id"},"table":{"__rl":true,"value":"={{$node[\"varMaste\"].json.Apollo}}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","Estatus":"Activo"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Posición","displayName":"Posición","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Hecho","value":"Hecho"},{"name":"Activo","value":"Activo"},{"name":"Inactivo","value":"Inactivo"}],"readOnly":false,"removed":false},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[960,16],"id":"90d436de-cabe-409f-8f51-042e135a1768","name":"Update record"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"66eb3ab6-2ad2-4fdf-b705-1352ecf3c0b4","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[736,112],"id":"1dc30cca-70a2-414c-ab97-adc472594d2b","name":"hayRegistros"},{"parameters":{"assignments":{"assignments":[{"id":"69c1c800-54e6-40ce-b115-c4fd5b46ce91","name":"Cliente","value":"Madema","type":"string"},{"id":"c117241d-89f7-49b8-91f4-b98b9194e804","name":"airtableBase","value":"appHYYUhdVsnIj5as","type":"string"},{"id":"237ab13e-9812-40cb-abcd-02208c5dbf5a","name":"Apollo","value":"tblXeQWRTygzW0WYo","type":"string"},{"id":"100dd96e-3318-4590-9ca0-efbc9a26a662","name":"leadsReach","value":"tblXSr8JzKfLPXv6b","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-832,304],"id":"58172714-9335-47f8-847c-37e90568511c","name":"varMaste"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{$node[\"varMaste\"].json.airtableBase}}","mode":"id"},"table":{"__rl":true,"value":"={{$node[\"varMaste\"].json.Apollo}}","mode":"id"},"filterByFormula":"={ESTATUS} = \"Activo\"","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[64,112],"id":"7ef7e2d5-baf1-4ced-b46e-8fafd3a43473","name":"getApollo"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{$node[\"varMaste\"].json.airtableBase}}","mode":"id"},"table":{"__rl":true,"value":"={{$node[\"varMaste\"].json.Apollo}}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Search').item.json.id }}","Estatus":"Hecho","Fecha":"={{ $now.toISO() }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Posición","displayName":"Posición","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Hecho","value":"Hecho"},{"name":"Activo","value":"Activo"},{"name":"Inactivo","value":"Inactivo"}],"readOnly":false,"removed":false},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[288,112],"id":"cc1878bd-bb22-4e1a-a840-627bc63fc619","name":"updateApollo"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $json.Apollo }}","mode":"id"},"filterByFormula":"{ESTATUS} = \"Activo\"","returnAll":false,"limit":1,"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-608,304],"id":"b6ea2695-ab06-469a-8fd1-d14a68f40c6a","name":"Search"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{$node[\"varMaste\"].json.airtableBase}}","mode":"id"},"table":{"__rl":true,"value":"={{$node[\"varMaste\"].json.Apollo}}","mode":"id"},"filterByFormula":"{ESTATUS} = \"Inactivo\"","returnAll":false,"limit":1,"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[512,112],"id":"75bdf970-8caf-413f-ba13-27a81a39eb96","name":"Search Inactivo"}],"connections":{"Scrape Leads":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Filter leads without email":{"main":[[{"node":"Save Leads in database","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"getApollo","type":"main","index":0}],[{"node":"Filter leads without email","type":"main","index":0}]]},"Save Leads in database":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"varMaste","type":"main","index":0}]]},"hayRegistros":{"main":[[{"node":"Update record","type":"main","index":0}],[{"node":"⚠️ Alerta","type":"main","index":0}]]},"varMaste":{"main":[[{"node":"Search","type":"main","index":0}]]},"getApollo":{"main":[[{"node":"updateApollo","type":"main","index":0}]]},"updateApollo":{"main":[[{"node":"Search Inactivo","type":"main","index":0}]]},"Search":{"main":[[{"node":"Scrape Leads","type":"main","index":0}]]},"Search Inactivo":{"main":[[{"node":"hayRegistros","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"7447c0e3-38e8-40cf-8d46-5c07688c3622","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-01-06T00:24:38.544Z","createdAt":"2026-01-06T00:24:38.544Z","role":"workflow:owner","workflowId":"HMNtGjNGvaFVDFnw","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[{"updatedAt":"2026-01-05T04:45:25.095Z","createdAt":"2026-01-05T04:45:25.095Z","id":"PdQTwVw5NnLaxkX0","name":"Leads"}],"activeVersion":null}
