workflows/TEMPLATE_ Leads (Google Serch) 2.0 P3--gMpv0LUdAudYu1X2.json
{"updatedAt":"2026-01-06T00:27:24.000Z","createdAt":"2026-01-06T00:27:24.133Z","id":"gMpv0LUdAudYu1X2","name":"TEMPLATE: Leads (Google Serch) 2.0 P3","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"url":"https://www.googleapis.com/customsearch/v1","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"AIzaSyAaj6Uc-TbCb49IX6iCEc3OzFlPFSXYi4Q"},{"name":"cx","value":"c538806fefb2c4915"},{"name":"q","value":"={{ $json.query }}"},{"name":"start","value":"={{ $json.startIndex }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,176],"id":"6d1ecf94-4c84-4b06-8ba2-f5cf9c8ad538","name":"Google Serch"},{"parameters":{"jsCode":"const items = $json.items || [];\nconst currentStartIndex = parseInt($json.queries?.request?.[0]?.startIndex || '1');\nconst nextStartIndexFromGoogle = $json.queries?.nextPage?.[0]?.startIndex || null;\n\nconst leads = [];\n\nfor (const item of items) {\n  const title = item.title || '';\n  const [nombreRaw, puestoRaw] = title.split(\" - \");\n  const nombre = nombreRaw?.trim() || '';\n  const puesto = puestoRaw?.split(\"|\")[0]?.trim() || '';\n  const link = item.link || '';\n  const about = item.snippet || '';\n\n  if (nombre && link) {\n    leads.push({\n      nombre,\n      link,\n      puesto,\n      about,\n      startIndex: currentStartIndex,\n      queryKey: $node[\"setVar\"].json.queryKey // ← Asegura que lo tenga cada lead\n    });\n  }\n}\n\n// Calcular valores de control para el loop\nconst nextStartIndex = nextStartIndexFromGoogle || (currentStartIndex + 10);\nconst hasMore = !!nextStartIndexFromGoogle;\nconst limiteAlcanzado = currentStartIndex >= 91;\n\nreturn leads.map(l => ({ json: l })).concat([{\n  json: {\n    hasMore,\n    startIndex: currentStartIndex,                // ✅ requerido para loop por startIndex\n    nextStartIndex: limiteAlcanzado ? null : nextStartIndex, // ✅ sigue disponible si lo necesitas\n    query: $node[\"setVar\"].json.query,\n    queryKey: $node[\"setVar\"].json.queryKey\n  }\n}]);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,128],"id":"88e71848-a28d-446c-baff-20a63a1625be","name":"Resultados"},{"parameters":{"jsCode":"const activas = items.filter(i => i.json.ESTATUS?.toLowerCase() === 'activo');\n\nif (activas.length === 0) {\n  throw new Error(\"No hay búsqueda activa configurada.\");\n}\n\nconst filaActiva = activas[0];\nconst puesto = filaActiva.json.PUESTO?.trim() || '';\nconst tipo = filaActiva.json['TIPO EMPRESA']?.trim() || '';\nconst ubicacion = filaActiva.json.UBICACION?.trim() || '';\nconst rowNumber = filaActiva.json.row_number;\n\nconst queryKey = `${puesto}|${tipo}|${ubicacion}`;\n\nreturn [\n  {\n    json: {\n      rowNumber,\n      puesto,\n      tipo,\n      ubicacion,\n      query: `${puesto} ${tipo} ${ubicacion} site:linkedin.com/in`,\n      queryKey\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,176],"id":"49e72f8f-e97b-427b-b52a-1fea7c9c1776","name":"QueryBusqueda"},{"parameters":{"assignments":{"assignments":[{"id":"c7dbb28c-2446-4a13-859d-c709ef11a994","name":"startIndex","value":"=1","type":"number"},{"id":"7142e748-3df9-4cbe-acc7-b73828f17cba","name":"query","value":"={{ $json.query }}","type":"string"},{"id":"c548f195-1419-4af1-85e7-584416987d6d","name":"queryKey","value":"={{ $json.queryKey }}","type":"string"},{"id":"52faae15-38e0-4f8a-a1b5-461b66b7547b","name":"rowNumber","value":"={{ $json.rowNumber }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,176],"id":"57ce0347-c4f7-4a21-ac98-531f55066b11","name":"setVar"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bab661ea-1338-4dd2-a0d9-322e6bcb9b88","leftValue":"={{ $node[\"Resultados\"].json.nombre }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1024,128],"id":"e786944a-0a24-44b2-963a-a965ae1bbfc7","name":"filtroLeads"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2694a7e5-7927-4658-a5c4-24ac25605eb3","leftValue":"={{ $node[\"varQuery\"].json.hasMore }}","rightValue":101,"operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"822e2888-c30b-4280-a0d1-0fad6420ddfb","leftValue":"={{ $node[\"varQuery\"].json.startIndex }}","rightValue":91,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{"ignoreCase":false}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1808,128],"id":"d4a0e1c7-0eb8-46c5-b328-26b373ea29fd","name":"loop"},{"parameters":{"chatId":"1019249029","text":"=⚠️  {{ $node[\"MasterVariables\"].json.cliente }} Google Leads: No hay más búsquedas","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3168,1024],"id":"557bf27b-ccae-4065-a5d8-3071998e4fd4","name":"⚠️ Alerta","webhookId":"de709ddd-c34e-4842-8ed9-c831e90d22aa"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1424,128],"id":"3112940c-2102-4d9b-9b9d-50193764b629","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"62d188a2-4093-4250-8901-65ae80c3df8d","name":"hasMore","value":"={{ $('Resultados').item.json.hasMore }}","type":"boolean"},{"id":"77701c35-fac1-4696-9984-9e2135f7e4a9","name":"startIndex","value":"={{ $json.startIndex }}","type":"number"},{"id":"230a68f5-56ca-4193-aa72-d07bca81c6e8","name":"query","value":"={{ $json.query }}","type":"string"},{"id":"25c4c3b7-f5bf-4d15-a2ae-8f6a0c6db308","name":"queryKey","value":"={{ $json.queryKey }}","type":"string"},{"id":"cebb0d29-8689-455a-99be-c463394276d5","name":"rowNumber","value":"={{ $('setVar').item.json.rowNumber }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1232,352],"id":"8aad84b4-07c9-4943-9ef8-64ba1b013e2c","name":"varQuery"},{"parameters":{"jsCode":"// Encuentra el item que tiene hasMore, lo cual indica que es el objeto de control\nconst control = items.find(item =>\n  typeof item.json.hasMore !== 'undefined' &&\n  typeof item.json.startIndex !== 'undefined' &&\n  typeof item.json.queryKey !== 'undefined' \n);\n\nif (!control) {\n  throw new Error(\"❌ No se encontró el objeto de control entre los items.\");\n}\n\nreturn [control];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1616,128],"id":"a3cd7056-5c39-4118-a3d6-86ccd219240b","name":"filtroQuery"},{"parameters":{"assignments":{"assignments":[{"id":"837a2a74-3e39-40ec-b649-8a521d784649","name":"startIndex","value":"={{ $json.startIndex + 10 }}","type":"number"},{"id":"e9e5d6c4-9c11-4b02-b657-a23cd9cbc7c4","name":"query","value":"={{ $json.query }}","type":"string"},{"id":"f5b12538-cd91-4160-944c-6158ef9f27af","name":"queryKey","value":"={{ $json.queryKey }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2064,144],"id":"21d4f88a-ee7b-4bc6-be8f-e0f889d3a417","name":"setVarLoop"},{"parameters":{"assignments":{"assignments":[{"id":"34f95396-4d01-4db4-a93c-f872edfe210d","name":"row_number","value":"={{ $json.id }}","type":"string"},{"id":"45bfe912-ba1a-480c-9b44-1c6910156b40","name":"PUESTO","value":"={{ $json.PUESTO }}","type":"string"},{"id":"c060c694-31b0-4834-b14d-0f12dd553d90","name":"TIPO EMPRESA","value":"={{ $json['TIPO EMPRESA'] }}","type":"string"},{"id":"357ad2e2-4a47-4f6d-817c-97015fe7ba1d","name":"UBICACION","value":"={{ $json.UBICACION }}","type":"string"},{"id":"37c3f04d-a815-42e1-9f91-fbc854f06262","name":"ESTATUS","value":"={{ $json.ESTATUS }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[32,176],"id":"9bceef60-1c32-4514-b773-e48451169aa7","name":"Edit Fields"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1,2,3,4,5],"triggerAtHour":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1008,464],"id":"0eae191c-4cd2-4ad1-80cc-e1ecee78715e","name":"Schedule Trigger"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1,2,3,4,5],"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1232,944],"id":"81931dcd-6488-4726-aa5e-fa23f5a3d476","name":"Schedule Trigger1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.type }}","rightValue":"unique","operator":{"type":"string","operation":"equals"},"id":"bda2882e-1078-48d2-a646-d96825fc8638"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"768a16cd-b42e-40b5-8dca-259a02fb0075","leftValue":"={{ $json.type }}","rightValue":"duplicate","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-528,944],"id":"861effd2-8459-4c1b-ae3d-33413093a863","name":"Switch1"},{"parameters":{"jsCode":"// 1) Normaliza entrada: por si viene como un array anidado\nlet inputItems = [];\nif (items.length === 1 && Array.isArray(items[0].json)) {\n  for (const row of items[0].json) {\n    inputItems.push({ json: row });\n  }\n} else {\n  inputItems = items;\n}\n\nconst seen = new Set();\nconst uniqueItems = [];\nconst duplicateItems = [];\n\nfor (const item of inputItems) {\n  const row = item.json;\n  const link = (row.LINK || \"\").trim().toLowerCase();\n\n  if (!link || seen.has(link)) {\n    // Duplicado: marca el tipo\n    duplicateItems.push({\n      json: {\n        ...row,\n        type: \"duplicate\"\n      }\n    });\n  } else {\n    // Único: guarda como unique y registra el LINK\n    seen.add(link);\n    uniqueItems.push({\n      json: {\n        ...row,\n        type: \"unique\"\n      }\n    });\n  }\n}\n\n// Ordena duplicados de mayor a menor row_number\nduplicateItems.sort((a, b) => b.json.row_number - a.json.row_number);\n\n// Combina únicos + duplicados ordenados\nconst outputItems = uniqueItems.concat(duplicateItems);\n\nreturn outputItems;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-704,944],"id":"f20b3e72-aca9-47fc-b6b0-d88fb6b551da","name":"clasificarDuplicados"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-304,1040],"id":"99e812ed-690a-401f-9174-9814b4f54a92","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-304,864],"id":"4ab220fd-8dd6-402c-8be0-b5e0405f186f","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[112,864],"id":"54cef09c-6732-40b6-980d-c6c1931f6945","name":"No Operation, do nothing1"},{"parameters":{"content":"## Eliminar perfiles duplicados","height":660,"width":1600,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1296,768],"typeVersion":1,"id":"13d78df6-575a-415c-89e8-74c45e0dbcb4","name":"Sticky Note"},{"parameters":{"content":"## Hacemos la búsqueda en Google","height":500,"width":2240,"color":5},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"e451cb83-a1d3-4b6d-b1f9-1f0dc0cf5c2b","name":"Sticky Note1"},{"parameters":{"content":"## Seteamos la búsqueda","height":280,"width":836},"type":"n8n-nodes-base.stickyNote","position":[-1072,336],"typeVersion":1,"id":"ab28681a-20bc-4b60-a920-8f23d5b54d4a","name":"Sticky Note2"},{"parameters":{"content":"## Backlog","height":280,"width":1380},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2016,560],"id":"c0584a45-a8a9-4047-ae62-3cd3cd09429a","name":"Sticky Note3"},{"parameters":{"content":"## Nos quedamos sin búsquedas","height":280,"width":360,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3040,928],"id":"c6d3ede2-1a6b-486c-8a31-533f6123474c","name":"Sticky Note4"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $json.serch }}","mode":"id"},"filterByFormula":"{ESTATUS} = \"Activo\"","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-608,464],"id":"12ad9f72-208f-4e9b-beee-1795b57a6a5a","name":"terminosBusqueda"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e10734df-0b5c-4939-b818-148ba13d5a44","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-416,464],"id":"542b6e29-ebb7-4406-9fee-03ba1298e23d","name":"If"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"={{ $('MasterVariables').item.json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $('MasterVariables').item.json.leadsRaw }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"NOMBRE":"={{ $json.nombre }}","LINK":"={{ $json.link }}","PUESTO":"={{ $json.puesto }}","ABOUT":"={{ $json.about }}","QUERY":"={{ $json.queryKey }}","FECHA DE CAPTURA":"={{ $now.toISO() }}"},"matchingColumns":[],"schema":[{"id":"FECHA DE CAPTURA","displayName":"FECHA DE CAPTURA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"LINK","displayName":"LINK","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"PUESTO","displayName":"PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"QUERY","displayName":"QUERY","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"REACH","displayName":"REACH","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1232,112],"id":"ffd934de-bb34-498f-a796-00d155e27735","name":"newLeadsRaw"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $node[\"MasterVariables\"].json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"MasterVariables\"].json.serch }}","mode":"id"},"filterByFormula":"={ESTATUS} = \"Activo\"","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2064,640],"id":"3365e43b-e993-4b04-be8c-215af34adb4a","name":"getIndex"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"MasterVariables\"].json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"MasterVariables\"].json.serch }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","ESTATUS":"Hecho","EJECUCIÓN":"={{ $now.toISO() }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"PUESTO","displayName":"PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TIPO EMPRESA","displayName":"TIPO EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"UBICACION","displayName":"UBICACION","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Hecho","value":"Hecho"},{"name":"Activo","value":"Activo"},{"name":"Inactivo","value":"Inactivo"}],"readOnly":false,"removed":false},{"id":"EJECUCIÓN","displayName":"EJECUCIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2272,640],"id":"569e0cb0-e3f8-4c22-80be-9b8cc3e170dd","name":"updateIndex"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $node[\"MasterVariables\"].json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"MasterVariables\"].json.serch }}","mode":"id"},"filterByFormula":"{ESTATUS} = \"Inactivo\"","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2464,640],"id":"a5f31206-ef4e-4557-9660-4a3512d9a238","name":"Search records"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"MasterVariables\"].json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"MasterVariables\"].json.serch }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","ESTATUS":"Activo"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"PUESTO","displayName":"PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TIPO EMPRESA","displayName":"TIPO EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"UBICACION","displayName":"UBICACION","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Hecho","value":"Hecho"},{"name":"Activo","value":"Activo"},{"name":"Inactivo","value":"Inactivo"}],"readOnly":false,"removed":false},{"id":"EJECUCIÓN","displayName":"EJECUCIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[3264,688],"id":"03df5e3b-b865-47ea-9254-83cce038186c","name":"Update record"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3056,608],"id":"68b74898-6a04-4835-865c-4ac6b502f704","name":"Loop Over Items1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"66eb3ab6-2ad2-4fdf-b705-1352ecf3c0b4","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2864,640],"id":"9be1a600-6f17-4242-ada6-d261f75ef6d2","name":"hayRegistros"},{"parameters":{"jsCode":"items.sort((a, b) => {\n  const scoreA = parseFloat(a.json.SCORE) || 0;\n  const scoreB = parseFloat(b.json.SCORE) || 0;\n  return scoreB - scoreA;\n});\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2672,640],"id":"4041044e-6602-45dc-a7aa-d85b115f87e2","name":"sortItems"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $json.leadsRaw }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-880,944],"id":"94770c2d-acce-4169-84f8-bca07af878d7","name":"Search records1"},{"parameters":{"operation":"deleteRecord","base":{"__rl":true,"value":"={{ $node[\"MasterVariables1\"].json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"MasterVariables1\"].json.leadsRaw }}","mode":"id"},"id":"={{ $json.id }}"},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-96,1152],"id":"d33857ca-990f-49fb-ac57-02615a589b7a","name":"Delete a record"},{"parameters":{"assignments":{"assignments":[{"id":"685be279-8d6e-4dfd-8ab1-93baa6981f31","name":"cliente","value":"Matus","type":"string"},{"id":"1d52b03b-f43d-431e-945a-82e2806fe31b","name":"airtableBase","value":"appjX236dfu4fY0wy","type":"string"},{"id":"f4ef4b96-ad3f-443e-8d9b-7a70eac84252","name":"serch","value":"tbl7FVRVUYYmw7Jnf","type":"string"},{"id":"314492cb-c14d-4ea2-bb99-04751b889787","name":"leadsRaw","value":"tblPOI6nchaF8vdqK","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-816,464],"id":"43556c40-9ad1-4ea4-845c-7509e9f47427","name":"MasterVariables"},{"parameters":{"assignments":{"assignments":[{"id":"1d52b03b-f43d-431e-945a-82e2806fe31b","name":"airtableBase","value":"appjX236dfu4fY0wy","type":"string"},{"id":"f4ef4b96-ad3f-443e-8d9b-7a70eac84252","name":"serch","value":"tbl7FVRVUYYmw7Jnf","type":"string"},{"id":"314492cb-c14d-4ea2-bb99-04751b889787","name":"leadsRaw","value":"tblPOI6nchaF8vdqK","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1040,944],"id":"155171ae-e790-4b35-b3a3-f59b98a4f509","name":"MasterVariables1"}],"connections":{"Google Serch":{"main":[[{"node":"Resultados","type":"main","index":0}]]},"Resultados":{"main":[[{"node":"filtroLeads","type":"main","index":0}]]},"QueryBusqueda":{"main":[[{"node":"setVar","type":"main","index":0}]]},"setVar":{"main":[[{"node":"Google Serch","type":"main","index":0}]]},"filtroLeads":{"main":[[{"node":"newLeadsRaw","type":"main","index":0}],[{"node":"varQuery","type":"main","index":0}]]},"loop":{"main":[[{"node":"setVarLoop","type":"main","index":0}],[{"node":"getIndex","type":"main","index":0}]]},"Merge":{"main":[[{"node":"filtroQuery","type":"main","index":0}]]},"varQuery":{"main":[[{"node":"Merge","type":"main","index":1}]]},"filtroQuery":{"main":[[{"node":"loop","type":"main","index":0}]]},"setVarLoop":{"main":[[{"node":"Google Serch","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"QueryBusqueda","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"MasterVariables","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"MasterVariables1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"clasificarDuplicados":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Delete a record","type":"main","index":0}]]},"terminosBusqueda":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"⚠️ Alerta","type":"main","index":0}]]},"newLeadsRaw":{"main":[[{"node":"Merge","type":"main","index":0}]]},"getIndex":{"main":[[{"node":"updateIndex","type":"main","index":0}]]},"updateIndex":{"main":[[{"node":"Search records","type":"main","index":0}]]},"Search records":{"main":[[{"node":"sortItems","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Update record","type":"main","index":0}]]},"hayRegistros":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}],[{"node":"⚠️ Alerta","type":"main","index":0}]]},"sortItems":{"main":[[{"node":"hayRegistros","type":"main","index":0}]]},"Search records1":{"main":[[{"node":"clasificarDuplicados","type":"main","index":0}]]},"Delete a record":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"MasterVariables":{"main":[[{"node":"terminosBusqueda","type":"main","index":0}]]},"MasterVariables1":{"main":[[{"node":"Search records1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"72fe485f-162b-4937-81e0-f98577317f57","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-01-06T00:27:24.136Z","createdAt":"2026-01-06T00:27:24.136Z","role":"workflow:owner","workflowId":"gMpv0LUdAudYu1X2","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[{"updatedAt":"2026-01-05T04:45:25.095Z","createdAt":"2026-01-05T04:45:25.095Z","id":"PdQTwVw5NnLaxkX0","name":"Leads"}],"activeVersion":null}