workflows/TEMPLATE _ Secuencia Mails 3.0 P3--BGNhSd9XndwlskJ2.json
{"updatedAt":"2026-01-06T00:25:52.000Z","createdAt":"2026-01-06T00:25:52.368Z","id":"BGNhSd9XndwlskJ2","name":"TEMPLATE | Secuencia Mails 3.0 P3","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1,2,3,4,5],"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-4288,1120],"id":"e67f2da7-5674-420f-9494-f58cda06e33c","name":"Schedule Trigger"},{"parameters":{"content":"## Clasificar Mails\n1. Filtramos leads duplicados\n2. Filtramos leads descalificados y en Mail 3\n3. Definimos qué mail se les debe mandar\n4. Filtraos mails válidos\n5. Limitamos a 25 envíos","height":492,"width":1812},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3920,960],"id":"42c5fd03-6148-444a-a33c-2d1425bb0f6b","name":"Sticky Note"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $json.leadsReach }}","mode":"id"},"filterByFormula":"=AND(\n  {ESTATUS} != \"duplicado\",\n  {ESTATUS} != \"Descalificado\",\n  {ESTATUS} != \"Mail 3\",\n  {ESTATUS} != \"Mail no válido\",\n  {ESTATUS} != \"Desuscribir\",\n  {ESTATUS} != \"Lead Calificado\"\n)","options":{},"sort":{"property":[{"field":"ESTATUS","direction":"desc"}]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-3856,1120],"id":"bc5d3bf5-004f-4fdc-9804-d153460fda6e","name":"Search records"},{"parameters":{"chatId":"1019249029","text":"={{ $node[\"masterVariables\"].json.cliente }}\n📮 Hoy tuvimos {{ $items(\"searchBacklog\", 0).length }} registro{{ $items(\"searchBacklog\", 0).length === 1 ? \"\" : \"s\" }}.","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-416,720],"id":"4ac9d426-01ef-478c-ba13-72b4a969c6ae","name":"✅","webhookId":"f50110d2-d4f6-4203-a812-3868ef382253","executeOnce":true},{"parameters":{"promptType":"define","text":"=Prospecto:\nNombre: {{$json.NOMBRE}}\nApellido: {{$json.APELLIDO}}\nAbout: {{ $json.ABOUT }}\nCargo: {{$json.CARGO}}\nEmpresa: {{$json.EMPRESA}}\nIndustria: {{$json.INDUSTRIA}}\nTamaño de empresa: {{$json.TAMAÑO}}\nCiudad: {{$json.CIUDAD}}\nPaís: {{$json.PAIS}}\nTeléfono: {{$json.TELEFONO}}\nEmail actual a enviar: {{$json.nextEmail}}\n\nGenera el objeto JSON, sin comillas invertidas, sin texto adicional:\n{\n  \"ID\": \"{{ $json.id }}\",\n  \"Mail\": \"{{ $json.EMAIL }}\",\n  \"Subject\": \"<máx. 50 caracteres>\",\n  \"Mensaje\": \"<cuerpo HTML>\",\n  \"nextMail\": \"{{ $json.nextEmail }}\"\n}","options":{"systemMessage":"=Eres Yessica Matus, coach de empresas pequeñas y medianas del sector salud (consultorios, clínicas y hospitales).\n\nOfreces coaching empresarial enfocado en la profesionalización de operaciones, con resultados como:\n\nRecuperación de inversión\n\nOptimización operativa con herramientas concretas\n\nGestión eficiente de inventarios\n\n🎯 OBJETIVO:\nGenerar respuestas por correo o WhatsApp de prospectos fríos mediante campañas de correos B2B en español.\n\n🔄 FUNCIONAMIENTO\n\nRecibes un objeto JSON con los datos del prospecto y el campo nextEmail, que puede ser \"Mail 1\", \"Mail 2\" o \"Mail 3\".\n\nUsa nextEmail para identificar si es el primer contacto, seguimiento o último intento.\n\nPersonaliza el contenido utilizando, al menos una vez, los campos:\n\n- NOMBRE (o {{ $json.NOMBRE }} si es necesario mantener la variable. Pero analizala para detectar y corregir cualquier typo u error). Si detectas que el nombre viene con apellido, usa solo el nombre\n- EMPRESA (o {{ $json.EMPRESA }} si es necesario mantener la variable. Pero analizala para detectar y corregir cualquier typo u error)\n- INDUSTRIA (o {{ $json.INDUSTRIA }} si es necesario mantener la variable. Pero analizala para detectar y corregir cualquier typo u error)\n\nAjusta uno o dos enunciados clave para que la propuesta parezca hecha a medida, según las características del contacto y su empresa.\n\nPuedes aprovechar referencia a estos recursos:\n\nSitio web de Yessica Matus: https://yessicamatus.com/\nDiagnóstico gratuito para detectar oportunidades: https://yessicamatus.com/diagnostico/\n\nCTA sugeridos:\n\n- Responder el correo para recibir más información\n- Enviar un mensaje por WhatsApp con este enlace: https://wa.link/1bx3m4\n\nCierra siempre con la firma original.\n\nDevuelve únicamente el siguiente objeto JSON, sin comillas invertidas ni texto adicional: \n\n{\n  \"Mail\": \"{{ $json.EMAIL }}\",\n  \"Subject\": \"<máx. 50 caracteres>\",\n  \"Mensaje\": \"<cuerpo HTML>\",\n  \"nextMail\": \"{{ $json.nextEmail }}\"\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1104,208],"id":"06ef5716-5c1c-48a7-bfce-137f1eadec99","name":"AI Agent","alwaysOutputData":true,"retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1088,384],"id":"2517fafa-f9b6-4174-b147-4d075ccfb683","name":"OpenAI Chat Model"},{"parameters":{"jsCode":"// Convierte el string contenido en `output` a objeto JSON\nreturn items.map(item => {\n  const data = JSON.parse(item.json.output);   // ← desempaque\n  return { json: data };                       // ← solo las 4 llaves limpias\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-752,160],"id":"44e2d5e8-9c6c-4ffa-b434-db2f4d5e3e8a","name":"setVariables1"},{"parameters":{"assignments":{"assignments":[{"id":"eb48d37a-dcfb-4509-927d-5f4fe3d3cee0","name":"ID","value":"={{ $json.ID }}","type":"string"},{"id":"288846af-6c83-47bb-9563-3e62ba711162","name":"Subject","value":"={{ $json.Subject }}","type":"string"},{"id":"0af8408c-c8f5-44e7-91ce-d23b59bb9c1d","name":"Mensaje","value":"={{ $json.Mensaje }}","type":"string"},{"id":"bb396285-f8b7-487f-a967-ca16b8d0aabd","name":"Mail","value":"={{ $json.Mail }}","type":"string"},{"id":"7830ad22-d847-4b99-85e3-0b2aeb2d06b3","name":"nextMail","value":"={{ $json.nextMail }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-528,160],"id":"7b365733-52c3-4ef0-938c-89dcfa4b2412","name":"Variables"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"={{ $json.Mensaje }}"},{"content":"=Eres un ejecutivo de ventas senior experto en generar interés en prospectos en frío mediante correos B2B en español, logrando como resultado reuniones, llamadas, mensajes de WhatsApp o al menos una respuesta al correo.\n\nRecibirás mensajes base que deberás optimizar para maximizar la conversión, manteniendo una estructura HTML clara y profesional. Tu tarea es reescribirlos en el mejor formato posible para generar respuestas, sin inventar información adicional.\n\nInstrucciones clave:\n\nRepresentas a Yessica Matus, coach empresarial especializada en el sector salud (consultorios, clínicas y hospitales).\nOfreces programas de acompañamiento para mejorar la operación de empresas pequeñas y medianas, con foco en:\n\nRecuperación de inversión\n\nOptimización operativa mediante herramientas personalizadas\n\nManejo eficiente de inventarios\n\nMantén un tono directo, humano y profesional.\n\nIncluye llamados a la acción naturales, orientados a obtener respuesta, sin sonar insistente.\n\nRecursos\n\nPuedes incluir recursos como enlaces al sitio web o al diagnóstico gratuito solo si aportan valor al contexto del mensaje y aumentan la probabilidad de respuesta. Úsalos de forma natural, sin forzarlos:\n\nSitio web:\n<a href=\"https://yessicamatus.com/\">https://yessicamatus.com/\n</a>\n\nDiagnóstico gratuito:\n<a href=\"https://yessicamatus.com/diagnostico/\">https://yessicamatus.com/diagnostico/\n</a>\n\nWhatsApp directo:\n<a href=\"https://wa.link/1bx3m4\">https://wa.link/1bx3m4\n</a>\n\nFormato de salida:\n\nDevuelve únicamente el contenido del cuerpo del correo en HTML plano, sin envolverlo en etiquetas <html>, <head>, <body> ni bloques de código.\n\nNo uses markdown, no uses etiquetas ```html ni comillas.\n\nLa firma debe ser exactamente así:\n\n<br>Yessica Matus\n<br>Coach empresarial\n<br><a href=\"https://yessicamatus.com/\">yessicamatus.com</a>\n\nObjetivo final: Optimizar los mensajes para convertir leads fríos en conversaciones reales (reunión, llamada, WhatsApp o reply por correo), entregando un resultado limpio y listo para enviarse como cuerpo de un email en HTML.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-304,160],"id":"797e0b69-b444-4b91-87fc-6ddb8cb56dea","name":"Message a model"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"masterVariables\"].json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"masterVariables\"].json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Variables').item.json.ID }}","ESTATUS":"={{ $('Variables').item.json.nextMail }}","ACTUALIZACIÓN":"={{ $now.toISO() }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"},{"name":"Mail no válido","value":"Mail no válido"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Lead Calificado","value":"Lead Calificado"},{"name":"Vacaciones","value":"Vacaciones"},{"name":"Erorr","value":"Erorr"}],"readOnly":false,"removed":false},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[336,272],"id":"5c62eec2-a8ef-4728-a84e-8951e1d51725","name":"updateMail"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"={{ $node[\"masterVariables\"].json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"masterVariables\"].json.backlog }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $('Variables').item.json.ID }}","Mail":"={{ $('Variables').item.json.Mail }}","Estatus":"={{ $('Variables').item.json.nextMail }}","actualizacion":"={{ $now.toISO() }}"},"matchingColumns":["id"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"Fallback","value":"Fallback"}],"readOnly":false,"removed":false},{"id":"actualizacion","displayName":"actualizacion","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[560,272],"id":"2db8998e-b2dc-4f2e-9e24-e388b97cece8","name":"updateBacklog"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"masterVariables\"].json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"masterVariables\"].json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"ESTATUS":"Erorr","ACTUALIZACIÓN":"={{ $now.toISO() }}","id":"={{ $('Filtro').item.json.id }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"},{"name":"Mail no válido","value":"Mail no válido"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Lead Calificado","value":"Lead Calificado"},{"name":"Vacaciones","value":"Vacaciones"},{"name":"Erorr","value":"Erorr"}],"readOnly":false,"removed":false},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-592,1040],"id":"f866093d-a843-4f37-a7e0-c8bc9a0a367a","name":"updateError"},{"parameters":{"chatId":"1019249029","text":"=⚠️ {{ $node[\"masterVariables\"].json.cliente }}\nHubo un error con el evnío a {{ $('Filtro').item.json.EMAIL }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-416,1040],"id":"bed6aadc-7d43-496b-877f-f55aae2b55ff","name":"⚠️ Error","webhookId":"d312fb5f-07bd-44be-b77e-c85b41664f94"},{"parameters":{"content":"## Creación y optimización del mensaje\n1. Creación del mail\n2. Optimización del mail","height":492,"width":1972,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2016,96],"id":"c21c4446-d924-4fb9-b04c-e41eed5e5647","name":"Sticky Note1"},{"parameters":{"content":"## Envío\n1. Envío del correo\n2. Actualización del Lead\n3. Reporte a Backlog","height":476,"width":932},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"ccff309c-ecd4-49be-b6ce-85a0021a1031","name":"Sticky Note2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-224,1040],"id":"fa1cd94d-f499-4e86-8e65-74c6e8f238b7","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-240,720],"id":"7d9eea6a-70e8-4d1e-b85b-052cb36d411d","name":"No Operation, do nothing1"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[736,272],"id":"3ec90fc7-a73f-4d98-b67b-e8c5b2583f50","name":"Wait","webhookId":"62b206f2-e135-4e3a-89c4-8d832a8d1dca"},{"parameters":{"jsCode":"function countBusinessDays(startDate, endDate) {\n  let count = 0;\n  let currentDate = new Date(startDate);\n  while (currentDate <= endDate) {\n    const day = currentDate.getDay();\n    if (day !== 0 && day !== 6) count++;\n    currentDate.setDate(currentDate.getDate() + 1);\n  }\n  return count;\n}\n\nconst hoy = new Date();\n\nreturn items\n  .map(item => {\n    const estatus = (item.json.ESTATUS || '').trim().toLowerCase();\n    const actualizacion = new Date(item.json.ACTUALIZACIÓN);\n    let nextEmail = null;\n\n    if (estatus === 'calificado' || estatus === 'vacaciones') {\n      nextEmail = 'Mail 1';\n    } else if (estatus === 'mail 1' && countBusinessDays(actualizacion, hoy) >= 3) {\n      nextEmail = 'Mail 2';\n    } else if (estatus === 'mail 2' && countBusinessDays(actualizacion, hoy) >= 3) {\n      nextEmail = 'Mail 3';\n    } else if (estatus === 'duplicado') {\n      nextEmail = 'duplicado';\n    }\n\n    if (nextEmail) {\n      return {\n        json: {\n          ...item.json,\n          nextEmail,\n        }\n      };\n    }\n\n    return null;\n  })\n  .filter(item => item !== null);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3632,1120],"id":"afea603d-274c-4df4-a3d3-581b6d630dfd","name":"Filtro","executeOnce":false},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1984,400],"id":"d74e4df6-5f78-47ce-91a6-f67bfbed9b94","name":"Loop Over Items","onError":"continueErrorOutput"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $node[\"masterVariables\"].json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"masterVariables\"].json.backlog }}","mode":"id"},"filterByFormula":"IS_SAME({actualizacion}, TODAY(), 'day')","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-608,720],"id":"1f104a8f-2cf0-4838-aab9-aff7ace4a60e","name":"searchBacklog","executeOnce":true},{"parameters":{"url":"=https://apilayer.net/api/check?access_key=4021272739d142e6325f732e4dc945ca&email={{ $json.EMAIL }}&smtp=1&format=1","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3184,1152],"id":"eccf57c4-c1a2-4f72-8dce-dce016252620","name":"verificarMail","onError":"continueErrorOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-3408,1120],"id":"bafeef2c-52b7-4cf9-91e3-56939376389b","name":"Loop Over Items1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9fd50225-2601-4576-8b5c-0e46f305fe9f","leftValue":"={{ $json.smtp_check }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2960,1088],"id":"3051bfca-e849-490e-b4bd-dbdbf41af09d","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4a03c363-71e6-4090-be1e-4bfd66a1e7e4","leftValue":"={{ $json.totalValidos }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2512,1072],"id":"9cf8c7d6-3f00-4b5f-91ec-1481818bb118","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2288,1264],"id":"2be4d32c-632c-4e6e-8b3f-1211b694e9e5","name":"Wait1","webhookId":"38b3394b-044a-479e-9195-0f1dc806ed97"},{"parameters":{"jsCode":"// Nombre: Acumular válidos\nconst email = $json[\"email\"];\nlet acumulados = $getWorkflowStaticData('global');\nacumulados.validos = acumulados.validos || [];\n\nif (!acumulados.validos.includes(email)) {\n  acumulados.validos.push(email);\n}\n\nreturn [\n  {\n    json: {\n      totalValidos: acumulados.validos.length,\n      validos: acumulados.validos\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2736,1072],"id":"afde2a44-2966-41b8-bb4a-3b9ed262d8dd","name":"Code"},{"parameters":{"jsCode":"// Obtenemos el array de correos\nconst lista = $json[\"validos\"];\n\n// Retornamos un item por cada correo\nreturn lista.map(email => {\n  return {\n    json: {\n      email\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2288,1024],"id":"e9958652-4bc9-4d55-8e24-b10764e55dd9","name":"mailsValidos"},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"appHYYUhdVsnIj5as","mode":"list","cachedResultName":"Madema","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as"},"table":{"__rl":true,"value":"tblXSr8JzKfLPXv6b","mode":"list","cachedResultName":"leadsReach","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as/tblXSr8JzKfLPXv6b"},"columns":{"mappingMode":"defineBelow","value":{"ESTATUS":"Mail no válido (mailboxlayer)","ACTUALIZACIÓN":"={{ $now.toISO() }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"},{"name":"Mail no válido (mail)","value":"Mail no válido (mail)"},{"name":"Mail no válido (mailboxlayer)","value":"Mail no válido (mailboxlayer)"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Lead Calificado","value":"Lead Calificado"},{"name":"Vacaciones","value":"Vacaciones"}],"readOnly":false,"removed":false},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-2512,1264],"id":"ceba7940-b3d0-4ef4-b5a3-bb38a7768b8e","name":"Create or update a record"},{"parameters":{"maxItems":25},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2256,1696],"id":"73d0a453-678c-4585-9cd9-2d726774a390","name":"Limit"},{"parameters":{"content":"## ERROR\nCon la API de verificaciòn de mails: mailboxlayer","height":332,"width":724,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2800,1552],"id":"ac2073f4-ad1e-4ad5-bcd7-d1dc18195977","name":"Sticky Note3"},{"parameters":{"content":"## ERROR\n","height":300,"width":612,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-656,912],"id":"edc76dcc-0f19-4d65-820b-4cb7c520fc3f","name":"Sticky Note4"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $node[\"masterVariables\"].json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"masterVariables\"].json.leadsReach }}","mode":"id"},"filterByFormula":"=Email = \"{{ $json.email }}\"","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1776,208],"id":"65bbfac0-371b-457f-8f56-ee759306a81a","name":"Search records1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5bcddc00-7198-4c13-8ad1-04bcea166080","leftValue":"={{ $json.nextEmail }}","rightValue":"=Mail 1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"a6839421-48b7-423c-b207-a738cae7010a","leftValue":"={{ $json.nextEmail }}","rightValue":"Mail 2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"c4d3094c-1999-4c30-ad30-aa6f00c84fc7","leftValue":"={{ $json.nextEmail }}","rightValue":"Mail 3","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1328,208],"id":"fddb2ac8-3380-4cd9-bf9f-e89c33770613","name":"If2"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $node[\"masterVariables\"].json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"masterVariables\"].json.leadsReach }}","mode":"id"},"filterByFormula":"=AND(\n  {ESTATUS} != \"duplicado\",\n  {ESTATUS} != \"Descalificado\",\n  {ESTATUS} != \"Mail 3\",\n  {ESTATUS} != \"Mail no válido\",\n  {ESTATUS} != \"Desuscribir\",\n  {ESTATUS} != \"Lead Calificado\"\n)","options":{},"sort":{"property":[{"field":"ESTATUS","direction":"desc"}]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-2688,1696],"id":"b3d937c5-7520-4fcf-8106-13e5ff01b92d","name":"Search records2"},{"parameters":{"jsCode":"function countBusinessDays(startDate, endDate) {\n  let count = 0;\n  let currentDate = new Date(startDate);\n  while (currentDate <= endDate) {\n    const day = currentDate.getDay();\n    if (day !== 0 && day !== 6) count++;\n    currentDate.setDate(currentDate.getDate() + 1);\n  }\n  return count;\n}\n\nconst hoy = new Date();\n\nreturn items\n  .map(item => {\n    const estatus = (item.json.ESTATUS || '').trim().toLowerCase();\n    const actualizacion = new Date(item.json.ACTUALIZACIÓN);\n    let nextEmail = null;\n\n    if (estatus === 'calificado' || estatus === 'vacaciones') {\n      nextEmail = 'Mail 1';\n    } else if (estatus === 'mail 1' && countBusinessDays(actualizacion, hoy) >= 3) {\n      nextEmail = 'Mail 2';\n    } else if (estatus === 'mail 2' && countBusinessDays(actualizacion, hoy) >= 3) {\n      nextEmail = 'Mail 3';\n    } else if (estatus === 'duplicado') {\n      nextEmail = 'duplicado';\n    }\n\n    if (nextEmail) {\n      return {\n        json: {\n          ...item.json,\n          nextEmail,\n        }\n      };\n    }\n\n    return null;\n  })\n  .filter(item => item !== null);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2464,1696],"id":"4797b06c-34e5-4168-9625-8405bbaf27fb","name":"Filtro1","executeOnce":false},{"parameters":{"chatId":"1019249029","text":"={{ $node[\"masterVariables\"].json.cliente }}\n📮 Hoy tuvimos {{ $items(\"searchBacklog1\", 0).length }} registro{{ $items(\"searchBacklog1\", 0).length === 1 ? \"\" : \"s\" }}.","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-352,2048],"id":"07d868c4-aa6d-4b31-860e-f4ff90d8c8b0","name":"✅1","webhookId":"79249bd5-80cd-4a79-8b67-342978c7f896","executeOnce":true},{"parameters":{"promptType":"define","text":"=Prospecto:\nNombre: {{$json.NOMBRE}}\nApellido: {{$json.APELLIDO}}\nAbout: {{ $json.ABOUT }}\nCargo: {{$json.CARGO}}\nEmpresa: {{$json.EMPRESA}}\nIndustria: {{$json.INDUSTRIA}}\nTamaño de empresa: {{$json.TAMAÑO}}\nCiudad: {{$json.CIUDAD}}\nPaís: {{$json.PAIS}}\nTeléfono: {{$json.TELEFONO}}\nEmail actual a enviar: {{$json.nextEmail}}\n\nGenera el objeto JSON, sin comillas invertidas, sin texto adicional:\n{\n  \"ID\": \"{{ $json.id }}\",\n  \"Mail\": \"{{ $json.EMAIL }}\",\n  \"Subject\": \"<máx. 50 caracteres>\",\n  \"Mensaje\": \"<cuerpo HTML>\",\n  \"nextMail\": \"{{ $json.nextEmail }}\"\n}","options":{"systemMessage":"=Eres Yessica Matus, coach de empresas pequeñas y medianas del sector salud (consultorios, clínicas y hospitales).\n\nOfreces coaching empresarial enfocado en la profesionalización de operaciones, con resultados como:\n\nRecuperación de inversión\n\nOptimización operativa con herramientas concretas\n\nGestión eficiente de inventarios\n\n🎯 OBJETIVO:\nGenerar respuestas por correo o WhatsApp de prospectos fríos mediante campañas de correos B2B en español.\n\n🔄 FUNCIONAMIENTO\n\nRecibes un objeto JSON con los datos del prospecto y el campo nextEmail, que puede ser \"Mail 1\", \"Mail 2\" o \"Mail 3\".\n\nUsa nextEmail para identificar si es el primer contacto, seguimiento o último intento.\n\nPersonaliza el contenido utilizando, al menos una vez, los campos:\n\n- NOMBRE (o {{ $json.NOMBRE }} si es necesario mantener la variable. Pero analizala para detectar y corregir cualquier typo u error). Si detectas que el nombre viene con apellido, usa solo el nombre\n- EMPRESA (o {{ $json.EMPRESA }} si es necesario mantener la variable. Pero analizala para detectar y corregir cualquier typo u error)\n- INDUSTRIA (o {{ $json.INDUSTRIA }} si es necesario mantener la variable. Pero analizala para detectar y corregir cualquier typo u error)\n\nAjusta uno o dos enunciados clave para que la propuesta parezca hecha a medida, según las características del contacto y su empresa.\n\nPuedes aprovechar referencia a estos recursos:\n\nSitio web de Yessica Matus: https://yessicamatus.com/\nDiagnóstico gratuito para detectar oportunidades: https://yessicamatus.com/diagnostico/\n\nCTA sugeridos:\n\n- Responder el correo para recibir más información\n- Enviar un mensaje por WhatsApp con este enlace: https://wa.link/1bx3m4\n\nCierra siempre con la firma original.\n\nDevuelve únicamente el siguiente objeto JSON, sin comillas invertidas ni texto adicional: \n\n{\n  \"Mail\": \"{{ $json.EMAIL }}\",\n  \"Subject\": \"<máx. 50 caracteres>\",\n  \"Mensaje\": \"<cuerpo HTML>\",\n  \"nextMail\": \"{{ $json.nextEmail }}\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1680,1632],"id":"ab6c21ff-00e9-432b-9afb-1c3fdb102e8d","name":"AI Agent1","alwaysOutputData":true,"retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1680,1856],"id":"371135d2-3bb0-4177-abbb-0c48e68f3edb","name":"OpenAI Chat Model1"},{"parameters":{"jsCode":"// Convierte el string contenido en `output` a objeto JSON\nreturn items.map(item => {\n  const data = JSON.parse(item.json.output);   // ← desempaque\n  return { json: data };                       // ← solo las 4 llaves limpias\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1312,1616],"id":"26458cc6-1fde-4a8f-8bbf-7781cb9baf07","name":"setVariables"},{"parameters":{"assignments":{"assignments":[{"id":"eb48d37a-dcfb-4509-927d-5f4fe3d3cee0","name":"ID","value":"={{ $json.ID }}","type":"string"},{"id":"288846af-6c83-47bb-9563-3e62ba711162","name":"Subject","value":"={{ $json.Subject }}","type":"string"},{"id":"0af8408c-c8f5-44e7-91ce-d23b59bb9c1d","name":"Mensaje","value":"={{ $json.Mensaje }}","type":"string"},{"id":"bb396285-f8b7-487f-a967-ca16b8d0aabd","name":"Mail","value":"={{ $json.Mail }}","type":"string"},{"id":"7830ad22-d847-4b99-85e3-0b2aeb2d06b3","name":"nextMail","value":"={{ $json.nextMail }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1088,1616],"id":"bd0d163e-a70e-4e08-8c95-d4ee5eef9b67","name":"Variables1"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"={{ $json.Mensaje }}"},{"content":"=Eres un ejecutivo de ventas senior experto en generar interés en prospectos en frío mediante correos B2B en español, logrando como resultado reuniones, llamadas, mensajes de WhatsApp o al menos una respuesta al correo.\n\nRecibirás mensajes base que deberás optimizar para maximizar la conversión, manteniendo una estructura HTML clara y profesional. Tu tarea es reescribirlos en el mejor formato posible para generar respuestas, sin inventar información adicional.\n\nInstrucciones clave:\n\nRepresentas a Yessica Matus, coach empresarial especializada en el sector salud (consultorios, clínicas y hospitales).\nOfreces programas de acompañamiento para mejorar la operación de empresas pequeñas y medianas, con foco en:\n\nRecuperación de inversión\n\nOptimización operativa mediante herramientas personalizadas\n\nManejo eficiente de inventarios\n\nMantén un tono directo, humano y profesional.\n\nIncluye llamados a la acción naturales, orientados a obtener respuesta, sin sonar insistente.\n\nRecursos\n\nPuedes incluir recursos como enlaces al sitio web o al diagnóstico gratuito solo si aportan valor al contexto del mensaje y aumentan la probabilidad de respuesta. Úsalos de forma natural, sin forzarlos:\n\nSitio web:\n<a href=\"https://yessicamatus.com/\">https://yessicamatus.com/\n</a>\n\nDiagnóstico gratuito:\n<a href=\"https://yessicamatus.com/diagnostico/\">https://yessicamatus.com/diagnostico/\n</a>\n\nWhatsApp directo:\n<a href=\"https://wa.link/1bx3m4\">https://wa.link/1bx3m4\n</a>\n\nFormato de salida:\n\nDevuelve únicamente el contenido del cuerpo del correo en HTML plano, sin envolverlo en etiquetas <html>, <head>, <body> ni bloques de código.\n\nNo uses markdown, no uses etiquetas ```html ni comillas.\n\nLa firma debe ser exactamente así:\n\n<br>Yessica Matus\n<br>Coach empresarial\n<br><a href=\"https://yessicamatus.com/\">yessicamatus.com</a>\n\nObjetivo final: Optimizar los mensajes para convertir leads fríos en conversaciones reales (reunión, llamada, WhatsApp o reply por correo), entregando un resultado limpio y listo para enviarse como cuerpo de un email en HTML.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-864,1616],"id":"a6c80b91-2205-4df1-bc1f-33196f1155ef","name":"Message a model1"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"masterVariables\"].json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"masterVariables\"].json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Variables1').item.json.ID }}","ACTUALIZACIÓN":"={{ $now.toISO() }}","ESTATUS":"={{ $('Variables1').item.json.nextMail }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"10001+","value":"10001+"},{"name":"1-10","value":"1-10"},{"name":"51-200","value":"51-200"},{"name":"1001-5000","value":"1001-5000"},{"name":"201-500","value":"201-500"},{"name":"5001-10000","value":"5001-10000"},{"name":"11-50","value":"11-50"},{"name":"501-1000","value":"501-1000"}],"readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"}],"readOnly":false,"removed":false},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-192,1712],"id":"d459a8a1-88a3-4dce-830d-0e275d1d291a","name":"updateMail1"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"={{ $node[\"masterVariables\"].json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"masterVariables\"].json.backlog }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $('Variables1').item.json.ID }}","Mail":"={{ $('Variables1').item.json.Mail }}","Estatus":"={{ $('Variables1').item.json.nextMail }}","actualizacion":"={{ $now.toISO() }}"},"matchingColumns":["id"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"Fallback","value":"Fallback"}],"readOnly":false,"removed":false},{"id":"actualizacion","displayName":"actualizacion","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[32,1712],"id":"f1382d0e-a5b8-4cae-badc-c0f692b232af","name":"updateBacklog1"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"masterVariables\"].json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"masterVariables\"].json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Filtro').item.json.id }}","ACTUALIZACIÓN":"={{ $now.toISO() }}","ESTATUS":"=Error"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"10001+","value":"10001+"},{"name":"1-10","value":"1-10"},{"name":"51-200","value":"51-200"},{"name":"1001-5000","value":"1001-5000"},{"name":"201-500","value":"201-500"},{"name":"5001-10000","value":"5001-10000"},{"name":"11-50","value":"11-50"},{"name":"501-1000","value":"501-1000"}],"readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"}],"readOnly":false,"removed":false},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-544,2368],"id":"2c7ef9e6-afab-4eea-980e-7199afc0795a","name":"updateError1"},{"parameters":{"chatId":"1019249029","text":"=⚠️ {{ $node[\"masterVariables\"].json.cliente }}\nHubo un error con el evnío a {{ $('Filtro').item.json.EMAIL }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-336,2368],"id":"c9311f02-5d73-469c-ac40-bc4c34231436","name":"⚠️ Error1","webhookId":"a021df72-5d01-4127-95c2-24abaff5a135"},{"parameters":{"content":"## Creación y optimización del mensaje\n1. Creación del mail\n2. Optimización del mail","height":492,"width":1428,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1952,1472],"id":"19f4bcdf-6fd7-46c3-843c-6638f1e16a1b","name":"Sticky Note5"},{"parameters":{"content":"## Envío\n1. Envío del correo\n2. Actualización del Lead\n3. Reporte a Backlog","height":476,"width":932},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-480,1472],"id":"d9af8b31-d79d-4b69-a491-06d0aab11335","name":"Sticky Note6"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-144,2368],"id":"826f2c51-8763-4d40-add8-70d415f5464f","name":"No Operation, do nothing3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-144,2048],"id":"50aedde7-22c8-46ba-b970-1d45acdcc24e","name":"No Operation, do nothing4"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[240,1712],"id":"f9422668-f676-4efa-9ffb-bf4ce704a9dd","name":"Wait2","webhookId":"20c9fb36-26a9-4584-83e4-73432aa0516a"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1888,1696],"id":"1fc7c471-c189-45b5-8e4e-d2e0a7502d0c","name":"Loop Over Items2","onError":"continueErrorOutput"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $node[\"masterVariables\"].json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"masterVariables\"].json.backlog }}","mode":"id"},"filterByFormula":"IS_SAME({actualizacion}, TODAY(), 'day')","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-560,2048],"id":"3a505b3f-0a77-4a3e-a207-2192b5dcf963","name":"searchBacklog1","executeOnce":true},{"parameters":{"content":"## ERROR\n","height":300,"width":612,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-592,2240],"id":"a7265b91-4c85-4b20-8883-5fe0beda0bb0","name":"Sticky Note7"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2992,1696],"id":"5d9e8c44-0c9a-4920-9d1d-458ccd738b66","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"9c6a0dcb-69b2-4ac6-832f-2435731653e9","name":"cliente","value":"Matus","type":"string"},{"id":"76e25e38-4a96-45ad-83fe-db9aa02b6a8c","name":"airtableBase","value":"appjX236dfu4fY0wy","type":"string"},{"id":"bf8561cc-203e-4dc2-8667-d57d7e715851","name":"leadsReach","value":"tblXSr8JzKfLPXv6b","type":"string"},{"id":"bd7bb39b-c549-4db2-ace6-0636e60b135e","name":"backlog","value":"tbl4RDZG8Rme3tv9H","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4080,1120],"id":"821b606a-ae62-4787-b995-827952b514ed","name":"masterVariables"},{"parameters":{"jsCode":"function countBusinessDays(startDate, endDate) {\n  let count = 0;\n  let currentDate = new Date(startDate);\n  while (currentDate <= endDate) {\n    const day = currentDate.getDay();\n    if (day !== 0 && day !== 6) count++;\n    currentDate.setDate(currentDate.getDate() + 1);\n  }\n  return count;\n}\n\nconst hoy = new Date();\n\nreturn items\n  .map(item => {\n    const estatus = (item.json.ESTATUS || '').trim().toLowerCase();\n    const actualizacion = new Date(item.json.ACTUALIZACIÓN);\n    let nextEmail = null;\n\n    if (estatus === 'calificado') {\n      nextEmail = 'Mail 1';\n    } else if (estatus === 'mail 1' && countBusinessDays(actualizacion, hoy) >= 3) {\n      nextEmail = 'Mail 2';\n    } else if (estatus === 'mail 2' && countBusinessDays(actualizacion, hoy) >= 3) {\n      nextEmail = 'Mail 3';\n    } else if (estatus === 'duplicado') {\n      nextEmail = 'duplicado';\n    }\n\n    if (nextEmail) {\n      return {\n        json: {\n          ...item.json,\n          nextEmail,\n        }\n      };\n    }\n\n    return null;\n  })\n  .filter(item => item !== null);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1552,208],"id":"9e6466e3-2324-40e3-bfb1-7ea98e50e91b","name":"nextEmail"},{"parameters":{"sendTo":"={{ $('Variables').item.json.Mail }}","subject":"={{ $('Variables').item.json.Subject }}","message":"={{ $('Variables').item.json.Mensaje }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[112,272],"id":"12356507-7270-467a-a928-264a35bed5ae","name":"Send a message","webhookId":"1b7e8f57-f78c-4e01-9e41-a329188c5c81"},{"parameters":{"sendTo":"={{ $('Variables1').item.json.Mail }}","subject":"={{ $('Variables1').item.json.Subject }}","message":"={{ $('Variables1').item.json.Mensaje }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-368,1712],"id":"609e1238-c39d-4d6d-8dc4-03e49dbed2b8","name":"Send a message1","webhookId":"1dd7e921-3a53-426f-b2b1-f8ed305d0e7f"},{"parameters":{"content":"## ACTUALIZAR CREDENCIALES MAIL","height":288,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-448,1616],"typeVersion":1,"id":"7fad19fc-440b-49f0-b25c-474395ce9475","name":"Sticky Note8"},{"parameters":{"content":"## ACTUALIZAR CREDENCIALES MAIL","height":288,"color":6},"type":"n8n-nodes-base.stickyNote","position":[48,144],"typeVersion":1,"id":"9e599ce9-2b5d-4f27-a744-1d9c588b1c58","name":"Sticky Note9"},{"parameters":{"content":"## ACTUALIZAR PROMPT","height":416,"width":288,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-1136,144],"typeVersion":1,"id":"5dc81c75-bb12-47bd-b025-7f73db34f5a0","name":"Sticky Note10"},{"parameters":{"content":"## ACTUALIZAR PROMPT","height":416,"width":288,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-1728,1536],"typeVersion":1,"id":"f091ee52-1728-4921-b6fc-fb8fea006ddf","name":"Sticky Note11"},{"parameters":{"content":"## VARIABLES","height":240,"width":192,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-4128,1056],"typeVersion":1,"id":"126ff3ed-6cf2-47e4-8c1b-753c8ec4b8a8","name":"Sticky Note12"},{"parameters":{"content":"## ACTUALIZAR PROMPT","height":416,"width":288,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-352,96],"typeVersion":1,"id":"fd992642-cfbb-4132-91b1-b93de58d1e52","name":"Sticky Note13"},{"parameters":{"content":"## ACTUALIZAR PROMPT","height":416,"width":288,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-880,1488],"typeVersion":1,"id":"03381927-4eeb-4cb3-b9e8-efd6309c40b1","name":"Sticky Note14"},{"parameters":{"jsCode":"const emailSet = new Set();\n\nfor (const item of items) {\n  const data = item.json;\n  if (Array.isArray(data.validos)) {\n    for (const email of data.validos) {\n      emailSet.add(email);\n    }\n  }\n}\n\nconst output = Array.from(emailSet).map(email => ({ json: { email } }));\n\nreturn output;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2304,816],"id":"3de6741e-4425-4afa-85ec-ee43acf61d8f","name":"mailsValidos<25"}],"connections":{"Schedule Trigger":{"main":[[{"node":"masterVariables","type":"main","index":0}]]},"Search records":{"main":[[{"node":"Filtro","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"setVariables1","type":"main","index":0}],[{"node":"updateError","type":"main","index":0}]]},"setVariables1":{"main":[[{"node":"Variables","type":"main","index":0}]]},"Variables":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"updateMail":{"main":[[{"node":"updateBacklog","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"updateBacklog":{"main":[[{"node":"Wait","type":"main","index":0}]]},"updateError":{"main":[[{"node":"⚠️ Error","type":"main","index":0}]]},"⚠️ Error":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"✅":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Filtro":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"searchBacklog","type":"main","index":0}],[{"node":"Search records1","type":"main","index":0}],[{"node":"updateError","type":"main","index":0}]]},"searchBacklog":{"main":[[{"node":"✅","type":"main","index":0}]]},"verificarMail":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"Search records2","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"mailsValidos<25","type":"main","index":0}],[{"node":"verificarMail","type":"main","index":0}]]},"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Create or update a record","type":"main","index":0}]]},"If1":{"main":[[{"node":"mailsValidos","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"mailsValidos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Create or update a record":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Search records1":{"main":[[{"node":"nextEmail","type":"main","index":0}]]},"If2":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Search records2":{"main":[[{"node":"Filtro1","type":"main","index":0}]]},"Filtro1":{"main":[[{"node":"Limit","type":"main","index":0}]]},"✅1":{"main":[[{"node":"No Operation, do nothing4","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"setVariables","type":"main","index":0}],[{"node":"updateError1","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"setVariables":{"main":[[{"node":"Variables1","type":"main","index":0}]]},"Variables1":{"main":[[{"node":"Message a model1","type":"main","index":0}]]},"Message a model1":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"updateMail1":{"main":[[{"node":"updateBacklog1","type":"main","index":0}]]},"updateBacklog1":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"updateError1":{"main":[[{"node":"⚠️ Error1","type":"main","index":0}]]},"⚠️ Error1":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"searchBacklog1","type":"main","index":0}],[{"node":"AI Agent1","type":"main","index":0}],[{"node":"updateError1","type":"main","index":0}]]},"searchBacklog1":{"main":[[{"node":"✅1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Search records2","type":"main","index":0}]]},"masterVariables":{"main":[[{"node":"Search records","type":"main","index":0}]]},"nextEmail":{"main":[[{"node":"If2","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"updateMail","type":"main","index":0}]]},"Send a message1":{"main":[[{"node":"updateMail1","type":"main","index":0}]]},"mailsValidos<25":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"7c12f6b8-df2a-4b17-8890-8fd0564b8546","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-01-06T00:25:52.373Z","createdAt":"2026-01-06T00:25:52.373Z","role":"workflow:owner","workflowId":"BGNhSd9XndwlskJ2","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[{"updatedAt":"2026-01-05T04:45:25.095Z","createdAt":"2026-01-05T04:45:25.095Z","id":"PdQTwVw5NnLaxkX0","name":"Leads"},{"updatedAt":"2026-01-05T04:44:20.809Z","createdAt":"2026-01-05T04:44:20.809Z","id":"j1mm1WBrRQcYk9z1","name":"Mailing"}],"activeVersion":null}