workflows_BACKUP/Acciones y herramientas--yyikcSuodYJBaYoH.json
{"updatedAt":"2026-02-03T15:48:02.561Z","createdAt":"2026-01-27T13:35:17.626Z","id":"yyikcSuodYJBaYoH","name":"Acciones y herramientas","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"chatId":"={{ $('Start').item.json.callback_query_from_id }}","text":"Actualmente no hay ventas registra un producto y empieza a ver nos espera ganancias ilimitadas","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1008,1520],"id":"aa35d1ec-5928-4bce-b91a-fa6e1508048f","name":"Send a text message19","webhookId":"a5a8ec41-9a32-412e-a8f2-62a4addc8b76","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list","cachedResultName":"Inventario Híbrido Librería","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA"},"table":{"__rl":true,"value":"tbllmq4v91zGVMUQd","mode":"list","cachedResultName":"Movimientos de Inventario","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tbllmq4v91zGVMUQd"},"filterByFormula":"{Tipo Movimiento} = 'Salida Venta'","options":{},"sort":{"property":[{"field":"Fecha"},{"field":"Nombre Producto"},{"field":"Cantidad"},{"field":"Precio Venta"}]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[560,1424],"id":"63eddc90-e7f3-450d-9287-1c751b340b81","name":"Search records2","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"b7928315-413a-462e-916b-439a54c55a59","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[784,1424],"id":"c31b2c40-80ba-49e4-b62f-17b617d93335","name":"If4"},{"parameters":{"jsCode":"// Obtenemos los movimientos\nconst movimientos = $input.all();\n\nlet reporte = \"💰 *REPORTE DETALLADO DE VENTAS*\\n==============================\\n\";\nlet totalDinero = 0;\nlet totalUnidades = 0;\n\nif (movimientos.length === 0) {\n  reporte += \"💤 No hay ventas registradas en este periodo.\";\n} else {\n\n  for (const item of movimientos) {\n    // 1. Obtener datos (soporta si vienen en 'fields' o directos)\n    const datos = item.json.fields || item.json;\n\n    // 2. Limpieza de Nombre (Array -> Texto)\n    let nombre = datos['Nombre Producto'] || \"Producto desconocido\";\n    if (Array.isArray(nombre)) nombre = nombre[0];\n\n    // 3. Limpieza de Fecha\n    let fechaTexto = \"\";\n    if (datos['Fecha']) {\n        // Truco: Agregamos hora para evitar que el día se atrase por zona horaria\n        const fechaObj = new Date(datos['Fecha'].substring(0,10) + 'T12:00:00');\n        fechaTexto = fechaObj.toLocaleDateString('es-CO', { day: '2-digit', month: '2-digit' });\n    }\n\n    // 4. PRECIO Y CÁLCULOS (La parte importante)\n    const cantidad = datos['Cantidad'] || 0;\n    \n    // El precio suele venir como Array ([50000]) porque es un Lookup\n    let precioUnitario = datos['Precio Venta'] || 0;\n    if (Array.isArray(precioUnitario)) precioUnitario = precioUnitario[0];\n\n    const subtotal = cantidad * precioUnitario;\n\n    // Acumulamos totales\n    totalUnidades += cantidad;\n    totalDinero += subtotal;\n\n    // 5. Construimos la línea del reporte\n    // Formato: Fecha | Producto\n    //          Cant x Precio = Subtotal\n    reporte += `📅 ${fechaTexto} | ${nombre}\\n`;\n    reporte += `   💵 ${cantidad} un. x $${precioUnitario.toLocaleString('es-CO')} = *${subtotal.toLocaleString('es-CO')}*\\n`;\n    reporte += `------------------------------\\n`;\n  }\n}\n\n// RESUMEN FINAL (Cierre de Caja)\nreporte += `\\n📊 *RESUMEN FINANCIERO*\\n`;\nreporte += `📦 Unidades vendidas: ${totalUnidades}\\n`;\nreporte += `💰 *INGRESO TOTAL: $${totalDinero.toLocaleString('es-CO')}*`;\n\nreturn {\n  json: {\n    mensaje_reporte: reporte\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,1328],"id":"6d2e4d82-01be-461d-97c3-3a088a4c58cd","name":"Code in JavaScript4"},{"parameters":{"chatId":"={{ $('Start').first().json.callback_query_from_id_firstItem }}","text":"={{ $json.mensaje_reporte }}","additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1232,1328],"id":"2299ee53-7d01-4373-be66-0da5158212ff","name":"Send a text message11","webhookId":"e9520775-f2bf-4b37-97f4-86a6fe628a69","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Start').item.json.callback_query_from_id }}","text":"=📝 *Actualizar Precio y Costo*\n\nToca el comando azul de abajo para copiarlo y agrega los valores.\nFormato: PRECIO espacio COSTO\n\nEjemplo (Venta 50mil, Costo 30mil):\n...rec12345 50000 30000\n\n*👇 TOCA AQUÍ:*\n`/v_{{ $('Start').item.json.callback_query_data.replace('set_valores_', '') }}`","additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[560,1232],"id":"2c90c042-de1f-4fe0-a920-95836510cd23","name":"Send a text message9","webhookId":"2a65624c-5cd1-42ce-8263-163e636a44fc","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Start').item.json.callback_query_from_id }}","text":"Actualmente no hay inventario envia una foto o un nombre del producto para empezar a registrar inventario","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1008,1136],"id":"2ad1b344-8f6c-4586-8e86-5efddb123fbe","name":"Send a text message18","webhookId":"a5a8ec41-9a32-412e-a8f2-62a4addc8b76","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list","cachedResultName":"Inventario Híbrido Librería","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA"},"table":{"__rl":true,"value":"tblwe0HS2QfnfvfRh","mode":"list","cachedResultName":"Productos Maestro","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tblwe0HS2QfnfvfRh"},"options":{"fields":["Precio Venta","Costo","Tipo de Producto","Nombre Titulo","Stock Actual","ISBN"]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[560,1040],"id":"17de9bf9-9967-4cfb-b3c5-3c4c0f82cb73","name":"Search records1","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"b7928315-413a-462e-916b-439a54c55a59","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[784,1040],"id":"3b02168f-5b37-4151-94f5-7082105ecc80","name":"If3"},{"parameters":{"jsCode":"// Obtenemos los ítems que vienen de Airtable\nconst productos = $input.all();\n\nlet reporteTexto = \"📋 *INVENTARIO DETALLADO*\\n========================\\n\";\nlet sumaStock = 0;\nlet sumaValorVenta = 0;\n\n// Recorremos cada producto de la lista\nfor (const item of productos) {\n  // Extraemos los datos directamente del JSON que me mostraste\n  const datos = item.json;\n\n  // 1. Extraemos valores (con validación por si vienen vacíos)\n  const nombre = datos['Nombre Titulo'] || \"Sin Nombre\";\n  const tipo = datos['Tipo de Producto'] || \"General\";\n  // Nota: En tu JSON no vi el campo 'ISBN', si lo agregas en Airtable, descomenta la linea de abajo:\n  const isbn = datos['ISBN'] || \"N/A\"; \n  const precio = datos['Precio Venta'] || 0;\n  const costo = datos['Costo'] || 0;\n  const stock = datos['Stock Actual'] || 0;\n  const id = datos['id'];\n\n  // 2. Calculamos totales globales\n  sumaStock += stock;\n  sumaValorVenta += (precio * stock); // Valorización del stock actual\n\n  // 3. Armamos el bloque de texto para este producto\n  reporteTexto += `🔹 *${nombre}*\\n`;\n  reporteTexto += `   🆔 ID: /v_${id}\\n`; // Agrego el comando de acceso rápido\n  reporteTexto += `   📚 Tipo: ${tipo} | ISBN: ${isbn}\\n`;\n  reporteTexto += `   📦 Stock: ${stock} un.\\n`;\n  reporteTexto += `   💰 Venta: $${precio.toLocaleString('es-CO')} | Costo: $${costo.toLocaleString('es-CO')}\\n`;\n  reporteTexto += `------------------------------\\n`;\n}\n\n// 4. Agregamos un resumen final al pie del reporte\nreporteTexto += `\\n📊 *RESUMEN TOTAL*\\n`;\nreporteTexto += `📦 Total Unidades: ${sumaStock}\\n`;\nreporteTexto += `💰 Valor Inventario (P. Venta): $${sumaValorVenta.toLocaleString('es-CO')}`;\n\n// 5. Devolvemos el texto listo para el nodo de Telegram\nreturn {\n  json: {\n    mensaje_reporte: reporteTexto\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,944],"id":"2c13f456-1d84-4a7b-a8df-dcfad01e8407","name":"Code in JavaScript3"},{"parameters":{"chatId":"={{ $('Start').first().json.callback_query_from_id_firstItem }}","text":"={{ $json.mensaje_reporte }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🔙 Volver al Menu","additionalFields":{"callback_data":"inicio"}}]}}]},"additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1232,944],"id":"14efe331-a591-46c0-a099-3738dcfcb3df","name":"Send a text message10","webhookId":"e9520775-f2bf-4b37-97f4-86a6fe628a69","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list","cachedResultName":"Inventario Híbrido Librería","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA"},"table":{"__rl":true,"value":"tbllmq4v91zGVMUQd","mode":"list","cachedResultName":"Movimientos de Inventario","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tbllmq4v91zGVMUQd"},"filterByFormula":"{Tipo Movimiento} = 'Salida Venta'","returnAll":false,"limit":5,"options":{},"sort":{"property":[{"field":"Fecha","direction":"desc"}]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[560,752],"id":"5f9c8af3-a45a-44d4-a550-3aff562a42cc","name":"Search records4","retryOnFail":true},{"parameters":{"jsCode":"// Obtenemos los datos del nodo anterior (Asegúrate que el nombre 'Search records...' sea correcto)\nconst movimientos = $('Search records4').all(); \n\nif (movimientos.length === 0) {\n  return { json: { mensaje_historial: \"📭 No encontré ventas recientes para corregir.\" } };\n}\n\nlet mensaje = \"📋 *ÚLTIMAS VENTAS (Para Corregir)*\\n\";\nmensaje += \"Toca el comando azul para BORRAR esa venta:\\n\\n\";\n\nfor (const mov of movimientos) {\n  const item = mov.json;\n  // TRUCO: Buscamos los datos en 'fields' O en la raíz (para que nunca falle)\n  const datos = item.fields || item; \n  const idMovimiento = item.id;\n  \n  // 1. Nombre del Producto\n  let nombre = \"Producto Desconocido\";\n  // Verificamos si existe la columna y si tiene datos\n  if (datos['Nombre Producto'] && datos['Nombre Producto'].length > 0) {\n      nombre = datos['Nombre Producto'][0];\n  }\n\n  // 2. Cantidad (Si no existe, ponemos 0)\n  let cantidad = datos['Cantidad'] || 0;\n\n  // 3. Hora\n  let hora = \"Hora no registrada\";\n  // Buscamos createdTime en la raíz o en los datos\n  const fechaRaw = item.createdTime || datos.createdTime;\n  \n  if (fechaRaw) {\n      const fechaObj = new Date(fechaRaw);\n      hora = fechaObj.toLocaleTimeString('es-CO', { hour: '2-digit', minute: '2-digit' });\n  }\n\n  // Construcción del mensaje\n  mensaje += `🔹 *${nombre}* (Cant: ${cantidad})\\n`;\n  mensaje += `   ⏰ Hora: ${hora}\\n`;\n  mensaje += `   🗑️ Borrar: /delmov_${idMovimiento}\\n`; \n  mensaje += `-----------------------------\\n`;\n}\n\nreturn { json: { mensaje_historial: mensaje } };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[784,752],"id":"f24646ee-c9b4-4a9c-9e17-1a4959af5c36","name":"Code in JavaScript9"},{"parameters":{"chatId":"={{ $('Start').item.json.callback_query_from_id }}","text":"={{ $json.mensaje_historial }}","additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1008,752],"id":"4bc511b4-db93-48c2-9d56-b14dcf97ac63","name":"Send a text message20","webhookId":"a32cd4c6-257d-44d5-aafd-8b6b2fde9e2a","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Start').item.json.callback_query_from_id }}","text":"📤 Modo Borrar registros\n Para descontar del inventario:  \n\n👉 Escanea el producto (envía foto) o escribe su nombre aquí.  Una vez lo encontremos, podrás seleccionar  Borrar\".","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1232,656],"id":"647ded8f-1aca-48b4-afd3-592f3395e475","name":"Send a text message17","webhookId":"bf46e093-9ccf-4b8f-81da-d4348dc1f44a","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"operation":"deleteRecord","base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list","cachedResultName":"Inventario Híbrido Librería","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA"},"table":{"__rl":true,"value":"tblwe0HS2QfnfvfRh","mode":"list","cachedResultName":"Productos Maestro","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tblwe0HS2QfnfvfRh"},"id":"={{ $('Start').first().json.callback_query_data_replace_firstItem('borrar_', '').replace(',', '').trim() }}"},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1008,560],"id":"9235f12d-dd7e-41da-b7d9-f354915221fe","name":"Delete a record","alwaysOutputData":false,"retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"chatId":"={{ $('Start').item.json.callback_query_from_id }}","text":"🗑️ Registro eliminado correctamente. No quedó rastro.","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1232,464],"id":"2f16e54d-897f-4d70-a883-0436468044cf","name":"Send a text message6","webhookId":"e9520775-f2bf-4b37-97f4-86a6fe628a69","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"resource":"callback","queryId":"={{ $('Start').first().json.callback_query_id_firstItem }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1680,464],"id":"80f16883-8982-4fa0-b221-c6e3095a1184","name":"Answer Query a callback","webhookId":"96e07505-d490-4c4d-8d3e-8b92d6124ae8","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"leftValue":"={{ $('Start').item.json.callback_query_data }}","rightValue":"entrada_","operator":{"type":"string","operation":"contains"},"id":"34080155-2bc7-41e5-a71c-9b6e7260214d"}],"combinator":"and"},"renameOutput":true,"outputKey":"Set: Ingreso"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"f25d8a29-c90c-4c9c-b77d-c96be939a5fd","leftValue":"={{ $('Start').item.json.callback_query_data }}","rightValue":"salida_","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Set: Venta"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"b91a2eed-796e-4986-97d9-0c990f9022c9","leftValue":"={{ $('Start').item.json.callback_query_data }}","rightValue":"set_valores","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Set: Valores"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"0a30d809-2a74-40ce-b355-1a3bc7df1cfe","leftValue":"={{ $('Start').item.json.callback_query_data }}","rightValue":"borrar_","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Acción: Borrar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"ca308d41-83b3-45cc-8d23-fd072bce5537","leftValue":"={{ $('Start').item.json.callback_query_data }}","rightValue":"ajuste_","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Acción: Ajuste"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"fc321738-2ee4-4ca1-8369-16d9ba2a7603","leftValue":"={{ $('Start').item.json.callback_query_data }}","rightValue":"cancelar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Acción: Cancelar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"74d59aea-a509-44f6-a588-76ade440d9a3","leftValue":"={{ $('Start').item.json.callback_query_data }}","rightValue":"admin_inventario","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Tool: inventario"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"80c9f317-f6cc-4709-b924-7237049d7d27","leftValue":"={{ $('Start').item.json.callback_query_data }}","rightValue":"admin_ventas","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Tool: ventas"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"f600a77c-b24a-4840-961f-b8cca625edc0","leftValue":"={{ $('Start').item.json.callback_query_data }}","rightValue":"inicio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Nav: Inicio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"f11ce47d-7eba-4288-b7af-b84b67b3ae80","leftValue":"={{ $('Start').item.json.callback_query_data }}","rightValue":"nav_historial_ventas","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ver Historial"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[336,432],"id":"d73aa78f-3a47-4630-8feb-f3deec929ed0","name":"Switch1"},{"parameters":{"chatId":"={{ $('Start').item.json.callback_query_from_id }}","text":"=⚖️ *Corrección Manual de Inventario*\n\nUsa este comando para ajustar el stock.\n• Para SUMAR escribe el número (ej: 5).\n• Para RESTAR escribe el signo menos (ej: -3).\n\n*👇 TOCA AQUÍ PARA COPIAR:*\n`/fix_{{ $('Start').item.json.callback_query_data.replace('ajuste_', '') }}`","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[608,432],"id":"87e2e84c-353b-4f67-997a-73e2077c8b70","name":"Send a text message14","webhookId":"1789d044-2d3e-4a90-a4ec-6d8817274b78","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"numberInputs":6},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1456,400],"id":"1752288c-188a-4238-9e3e-ac20924ae581","name":"Merge1"},{"parameters":{"chatId":"={{ $json.message_from_id }}","text":"👋 **Sistema de Inventario KiroxON** |\n\n ¿Qué gestión administrativa deseas realizar?","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"📦 Estado Inventario","additionalFields":{"callback_data":"admin_inventario"}},{"text":" Reporte de ventas","additionalFields":{"callback_data":"admin_ventas"}},{"text":"➖ Registrar nuevo ingreso ","additionalFields":{"callback_data":"nav_instruccion_entrada"}},{"text":"📤 Registrar Salida (Venta)","additionalFields":{"callback_data":"nav_instruccion_venta"}},{"text":"🗑️ Borrar Productos","additionalFields":{"callback_data":"borrar_"}},{"text":"🛠️ Corregir/Ajustar Stock","additionalFields":{"callback_data":"nav_instruccion_ajuste"}},{"text":"🔙 Historial / Corregir Venta","additionalFields":{"callback_data":"nav_historial_ventas"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1232,272],"id":"12cb1f17-25f8-43a3-96ae-919296bacee1","name":"Send a text message22","webhookId":"aff6292a-cbcc-47fd-9e4b-49cf93d4d00e","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Start').item.json.callback_query_from_id }}","text":"=📦 *Registrar Entrada de Inventario*\n\n¿Cuántas unidades vas a ingresar?\nEscribe el comando de abajo seguido de la cantidad.\n\nEjemplo (Para agregar 5 unidades):\n...rec12345 5\n\n*👇 TOCA AQUÍ PARA COPIAR:*\n`/in_{{ $('Start').item.json.callback_query_data.replace('entrada_', '') }}`","additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[608,256],"id":"73008285-b1f5-4bab-a8c1-d6c44773a176","name":"Send a text message12","webhookId":"47c3ab63-3fc9-489a-a1cf-42b062d561e5","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Start').item.json.callback_query_from_id }}","text":"=📉📉 *Registrar Salida de Inventario*\n\n¿Cuántas unidades vas a sacar (venta o pérdida)?\nEscribe el comando de abajo seguido de la cantidad.\n*IMPORTANTE PONER EL SIGNO - ANTES DE LA CANTIDAD*\n\nEjemplo (Para sacar 3 unidades):\n...rec12345 -3\n\n*👇 TOCA AQUÍ PARA COPIAR:*\n`/out_{{ $('Start').item.json.callback_query_data.replace('salida_', '') }}`","additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1232,128],"id":"2b1ffd10-ddd7-44fd-b5ab-9d8544b7c56a","name":"Send a text message13","webhookId":"47c3ab63-3fc9-489a-a1cf-42b062d561e5","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"callback_query_data","type":"any"},{"name":"callback_query_data_replace_firstItem","type":"any"},{"name":"callback_query_from_id","type":"any"},{"name":"callback_query_data_replace","type":"any"},{"name":"callback_query_from_id_firstItem","type":"any"},{"name":"callback_query_id_firstItem","type":"any"},{"name":"message_from_id","type":"any"}]}},"id":"06793967-90c9-4507-8b54-4f8c426066af","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[32,560]},{"parameters":{"content":"## 🇪🇸 Subsistema: Admin Tools\nPropósito: Panel de control y reportes.\nFunciones:\n1. 📊 Cierre de Caja (Reporte Ventas).\n2. 📦 Estado de Inventario.\n3. 🗑️ Borrado de registros.\n🇺🇸 English:\nSubsystem: Admin Tools\nPurpose: Control panel and reporting.\nFunctions:\n1. 📊 Cash Close (Sales Report).\n2. 📦 Inventory Status.\n3. 🗑️ Record deletion.","height":384,"width":320},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-336,448],"id":"2634eaf4-f0d7-4bb1-9801-a3decf837c0b","name":"Sticky Note"},{"parameters":{"content":"##🇪🇸 Generador de Reportes:Agrega movimientos de \"Salida Venta\" en Airtable.Calcula: Unidades Totales e Ingreso Total ($).<br><br>\n\n**🇺🇸 English:**<br>**Report Generator:**<br>Aggregates \"Sales Out\" movements in Airtable.<br>Calculates: Total Units and Total Revenue ($).","height":272,"width":432,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1408,1312],"id":"a573b59e-b060-4f23-a180-3b6ce7977875","name":"Sticky Note1"},{"parameters":{"content":"## 🇪🇸 Zona de Peligro:\nElimina físicamente registros de la base de datos usando el ID del comando. Acción irreversible.\n🇺🇸 English:\nDanger Zone:\nPhysically deletes records from DB using command ID. Irreversible action.","height":224,"width":400,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1440,128],"typeVersion":1,"id":"4f2ece0b-e65c-41c1-8263-a219f0abe586","name":"Sticky Note2"},{"parameters":{"content":"## 🛡️ Sistema de Blindaje (Error Handling):\nValidado mediante pruebas de estrés. Los nodos críticos incluyen:\n1. Retry on Fail: Reintentos automáticos ante caídas de API.\n2. Sanitización: Limpieza de inputs en JS para evitar crashes.\n3. Fallback: Rutas alternas si falla la IA principal.\n🇺🇸 English:\n🛡️ System Shielding (Error Handling):\nValidated via stress testing. Critical nodes include:\n1. Retry on Fail: Auto-retries during API outages.\n2. Sanitization: JS input cleaning to prevent crashes.\n3. Fallback: Alternate routes if primary AI fails.","height":272,"width":560,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1456,816],"id":"80b5205e-d059-4c62-8820-a9f3d78ae7dd","name":"Sticky Note3"}],"connections":{"Switch1":{"main":[[{"node":"Send a text message12","type":"main","index":0}],[{"node":"Send a text message13","type":"main","index":0}],[{"node":"Send a text message9","type":"main","index":0}],[{"node":"Delete a record","type":"main","index":0}],[{"node":"Send a text message14","type":"main","index":0}],[],[{"node":"Search records1","type":"main","index":0}],[{"node":"Search records2","type":"main","index":0}],[{"node":"Send a text message22","type":"main","index":0}],[{"node":"Search records4","type":"main","index":0}]]},"Delete a record":{"main":[[{"node":"Send a text message6","type":"main","index":0}],[{"node":"Send a text message17","type":"main","index":0}]]},"Send a text message6":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"Search records1":{"main":[[{"node":"If3","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Send a text message10","type":"main","index":0}]]},"Send a text message10":{"main":[[{"node":"Merge1","type":"main","index":3}]]},"Merge1":{"main":[[{"node":"Answer Query a callback","type":"main","index":0}]]},"Search records2":{"main":[[{"node":"If4","type":"main","index":0}]]},"Code in JavaScript4":{"main":[[{"node":"Send a text message11","type":"main","index":0}]]},"Send a text message11":{"main":[[{"node":"Merge1","type":"main","index":4}]]},"Send a text message13":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"If3":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}],[{"node":"Send a text message18","type":"main","index":0}]]},"If4":{"main":[[{"node":"Code in JavaScript4","type":"main","index":0}],[{"node":"Send a text message19","type":"main","index":0}]]},"Search records4":{"main":[[{"node":"Code in JavaScript9","type":"main","index":0}]]},"Code in JavaScript9":{"main":[[{"node":"Send a text message20","type":"main","index":0}]]},"Send a text message22":{"main":[[{"node":"Merge1","type":"main","index":5}]]},"Start":{"main":[[{"node":"Switch1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d9fd0211-47d5-4f4b-a999-4f424ddf4e7f","activeVersionId":null,"versionCounter":4,"triggerCount":0,"shared":[{"updatedAt":"2026-01-27T13:35:17.630Z","createdAt":"2026-01-27T13:35:17.630Z","role":"workflow:owner","workflowId":"yyikcSuodYJBaYoH","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[],"activeVersion":null}