workflows_BACKUP/Acciones y herramientas final--V6mTcRfCPqBKsOTO.json
{"updatedAt":"2026-02-09T15:18:57.176Z","createdAt":"2026-02-03T15:36:45.314Z","id":"V6mTcRfCPqBKsOTO","name":"Acciones y herramientas final","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"chatId":"={{ $('Start').item.json.callback_query_from_id }}","text":"Actualmente no hay inventario envia una foto o un nombre del producto para empezar a registrar inventario","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1136,800],"id":"0f016c7e-a979-44b5-b9db-e951887fc4ae","name":"Send a text message18","webhookId":"be4e336f-9765-4101-9e8d-22ec4020b315","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"b7928315-413a-462e-916b-439a54c55a59","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[912,704],"id":"75ee2313-39f6-4b9c-ae25-c9a736800579","name":"If3"},{"parameters":{"jsCode":"// 1. Obtenemos todas las filas que trajo Google Sheets\nlet filas = $input.all();\n\n// 2. TRUCO: Invertimos el orden (el último pasa a ser el primero)\n// y tomamos solo los primeros 5\nfilas = filas.reverse().slice(0, 5);\n\nlet mensaje = \"📊 *Últimos 5 Productos Agregados:*\\n\\n\";\n\n// 3. Recorremos esos 5\nfor (const item of filas) {\n  const dato = item.json;\n  \n  // Ajusta los nombres de las columnas según tu Excel exacto\n  const titulo = dato.Titulo || \"Sin Título\";\n  const stock = dato.Stock || 0;\n  const precio = dato.Precio || 0;\n  \n  mensaje += `📘 *${titulo}*\\n`;\n  mensaje += `   📦 Stock: ${stock} | 💰 $${precio}\\n`;\n  mensaje += `----------------\\n`;\n}\n\nreturn { json: { mensaje_reporte: mensaje } };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1136,608],"id":"a16621a1-7eb2-4c76-93cc-80eb5bf3209a","name":"Code in JavaScript3"},{"parameters":{"chatId":"={{ $('Start').first().json.callback_query_from_id_firstItem }}","text":"={{ $json.mensaje_reporte }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🔙 Volver al Menu","additionalFields":{"callback_data":"inicio"}}]}}]},"additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1360,608],"id":"cc855f9c-7e7b-4741-aa69-2ad2171f722b","name":"Send a text message10","webhookId":"cbfe7b9f-6047-4921-92fd-d789a47cc805","credentials":{"telegramApi":{"id":"nWEbT4EZ2Xeosuah","name":"Inventario Altillo"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list","cachedResultName":"Inventario Híbrido Librería","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA"},"table":{"__rl":true,"value":"tbllmq4v91zGVMUQd","mode":"list","cachedResultName":"Movimientos de Inventario","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tbllmq4v91zGVMUQd"},"filterByFormula":"{Tipo Movimiento} = 'Salida Venta'","returnAll":false,"limit":5,"options":{},"sort":{"property":[{"field":"Fecha","direction":"desc"}]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[688,416],"id":"f6d0b685-c79d-41a2-90a7-8a400fe9a5ae","name":"Search records4","retryOnFail":true,"credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"jsCode":"// Obtenemos los datos del nodo anterior (Asegúrate que el nombre 'Search records...' sea correcto)\nconst movimientos = $('Search records4').all(); \n\nif (movimientos.length === 0) {\n  return { json: { mensaje_historial: \"📭 No encontré ventas recientes para corregir.\" } };\n}\n\nlet mensaje = \"📋 *ÚLTIMAS VENTAS (Para Corregir)*\\n\";\nmensaje += \"Toca el comando azul para BORRAR esa venta:\\n\\n\";\n\nfor (const mov of movimientos) {\n  const item = mov.json;\n  // TRUCO: Buscamos los datos en 'fields' O en la raíz (para que nunca falle)\n  const datos = item.fields || item; \n  const idMovimiento = item.id;\n  \n  // 1. Nombre del Producto\n  let nombre = \"Producto Desconocido\";\n  // Verificamos si existe la columna y si tiene datos\n  if (datos['Nombre Producto'] && datos['Nombre Producto'].length > 0) {\n      nombre = datos['Nombre Producto'][0];\n  }\n\n  // 2. Cantidad (Si no existe, ponemos 0)\n  let cantidad = datos['Cantidad'] || 0;\n\n  // 3. Hora\n  let hora = \"Hora no registrada\";\n  // Buscamos createdTime en la raíz o en los datos\n  const fechaRaw = item.createdTime || datos.createdTime;\n  \n  if (fechaRaw) {\n      const fechaObj = new Date(fechaRaw);\n      hora = fechaObj.toLocaleTimeString('es-CO', { hour: '2-digit', minute: '2-digit' });\n  }\n\n  // Construcción del mensaje\n  mensaje += `🔹 *${nombre}* (Cant: ${cantidad})\\n`;\n  mensaje += `   ⏰ Hora: ${hora}\\n`;\n  mensaje += `   🗑️ Borrar: /delmov_${idMovimiento}\\n`; \n  mensaje += `-----------------------------\\n`;\n}\n\nreturn { json: { mensaje_historial: mensaje } };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[912,416],"id":"960bd39f-8727-4da4-bc40-82d33a672b1e","name":"Code in JavaScript9"},{"parameters":{"chatId":"={{ $('Start').item.json.callback_query_from_id }}","text":"={{ $json.mensaje_historial }}","additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1136,416],"id":"4ecf873a-e02c-4d8b-9e4a-52cd1eb58c9e","name":"Send a text message20","webhookId":"2c662195-e25f-4282-a569-6ab512693261","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"resource":"callback","queryId":"={{ $('Start').first().json.callback_query_id_firstItem }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1808,608],"id":"5db9d8b4-6be9-498d-a47e-68a03365a2e5","name":"Answer Query a callback","webhookId":"35129567-2dc6-4464-b852-c6e9c015bf66","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"leftValue":"={{ $('Start').item.json.callback_query_data }}","rightValue":"entrada_","operator":{"type":"string","operation":"contains"},"id":"34080155-2bc7-41e5-a71c-9b6e7260214d"}],"combinator":"and"},"renameOutput":true,"outputKey":"Set: Ingreso"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"fc321738-2ee4-4ca1-8369-16d9ba2a7603","leftValue":"={{ $('Start').item.json.callback_query_data }}","rightValue":"cancelar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Acción: Cancelar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"74d59aea-a509-44f6-a588-76ade440d9a3","leftValue":"={{ $('Start').item.json.callback_query_data }}","rightValue":"admin_inventario","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ver_resumen"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"f600a77c-b24a-4840-961f-b8cca625edc0","leftValue":"={{ $('Start').item.json.callback_query_data }}","rightValue":"inicio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Nav: Inicio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"f11ce47d-7eba-4288-b7af-b84b67b3ae80","leftValue":"={{ $('Start').item.json.callback_query_data }}","rightValue":"nav_historial_ventas","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ver Historial"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[256,304],"id":"776cffd2-8493-4556-b973-bbe1d4db1522","name":"Switch1"},{"parameters":{"numberInputs":6},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1584,544],"id":"799d81bf-63f1-4d68-94b0-a585476b2403","name":"Merge1"},{"parameters":{"chatId":"={{ $('Start').item.json.callback_query_from_id }}","text":"=📦 *Registrar Entrada de Inventario*\n\n¿Cuántas unidades vas a ingresar?\nEscribe el comando de abajo seguido de la cantidad.\n\nEjemplo (Para agregar 5 unidades):\n...rec12345 5\n\n*👇 TOCA AQUÍ PARA COPIAR:*\n`/in_{{ $('Start').item.json.callback_query_data.replace('entrada_', '') }}`","additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[688,128],"id":"858f159c-8c4c-4412-bd11-09b66c344730","name":"Send a text message12","webhookId":"a973f6e4-d30a-4644-b0b2-77a1ce535d1d","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"callback_query_data","type":"any"},{"name":"callback_query_data_replace_firstItem","type":"any"},{"name":"callback_query_from_id","type":"any"},{"name":"callback_query_data_replace","type":"any"},{"name":"callback_query_from_id_firstItem","type":"any"},{"name":"callback_query_id_firstItem","type":"any"},{"name":"message_from_id","type":"any"}]}},"id":"e5215b4e-b9dc-453a-a7fc-dd8e1708139d","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[32,352]},{"parameters":{"content":"## 🇪🇸 Subsistema: Admin Tools\nPropósito: Panel de control y reportes.\nFunciones:\n1. 📊 Cierre de Caja (Reporte Ventas).\n2. 📦 Estado de Inventario.\n3. 🗑️ Borrado de registros.\n🇺🇸 English:\nSubsystem: Admin Tools\nPurpose: Control panel and reporting.\nFunctions:\n1. 📊 Cash Close (Sales Report).\n2. 📦 Inventory Status.\n3. 🗑️ Record deletion.","height":384,"width":320},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-336,448],"id":"33640ce0-29da-4200-941d-4dbd60d867c5","name":"Sticky Note"},{"parameters":{"content":"##🇪🇸 Generador de Reportes:Agrega movimientos de \"Salida Venta\" en Airtable.Calcula: Unidades Totales e Ingreso Total ($).<br><br>\n\n**🇺🇸 English:**<br>**Report Generator:**<br>Aggregates \"Sales Out\" movements in Airtable.<br>Calculates: Total Units and Total Revenue ($).","height":272,"width":432,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1408,1312],"id":"2c2b481a-e2eb-4389-9adb-2938be9b4f5e","name":"Sticky Note1"},{"parameters":{"content":"## 🇪🇸 Zona de Peligro:\nElimina físicamente registros de la base de datos usando el ID del comando. Acción irreversible.\n🇺🇸 English:\nDanger Zone:\nPhysically deletes records from DB using command ID. Irreversible action.","height":224,"width":400,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1440,128],"typeVersion":1,"id":"1056b3ca-2ed5-427c-9282-6f0f759a4df6","name":"Sticky Note2"},{"parameters":{"content":"## 🛡️ Sistema de Blindaje (Error Handling):\nValidado mediante pruebas de estrés. Los nodos críticos incluyen:\n1. Retry on Fail: Reintentos automáticos ante caídas de API.\n2. Sanitización: Limpieza de inputs en JS para evitar crashes.\n3. Fallback: Rutas alternas si falla la IA principal.\n🇺🇸 English:\n🛡️ System Shielding (Error Handling):\nValidated via stress testing. Critical nodes include:\n1. Retry on Fail: Auto-retries during API outages.\n2. Sanitization: JS input cleaning to prevent crashes.\n3. Fallback: Alternate routes if primary AI fails.","height":272,"width":560,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1456,816],"id":"ea7fac87-5211-40f5-a1e7-5eeb4b604680","name":"Sticky Note3"},{"parameters":{"chatId":"={{ $json.callback_query.from.id }}{{ $('Telegram Trigger').item.json.message.from.id }}","text":"👋 **Sistema de Inventario KiroxON** |\n\n ¿Qué gestión administrativa deseas realizar?","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"📦 Estado Inventario","additionalFields":{"callback_data":"admin_inventario"}},{"text":"➖ Registrar nuevo ingreso ","additionalFields":{"callback_data":"nav_instruccion_entrada"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1312,240],"id":"7972ef1c-0fbf-43d3-adca-68af56bd73cd","name":"Send a text message3","webhookId":"ef5ba54f-2558-4a94-8a02-70a4b25f5673","credentials":{"telegramApi":{"id":"nWEbT4EZ2Xeosuah","name":"Inventario Altillo"}}},{"parameters":{"documentId":{"__rl":true,"value":"1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o","mode":"list","cachedResultName":"Inventario_Maestro_Kirox","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[672,704],"id":"f76eace6-57c0-4ed9-b845-176268d54b29","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"CeDqHOIvpoFnRpuy","name":"Google Sheets account"}}}],"connections":{"Switch1":{"main":[[{"node":"Send a text message12","type":"main","index":0}],[],[{"node":"Get row(s) in sheet","type":"main","index":0}],[{"node":"Send a text message3","type":"main","index":0}],[{"node":"Search records4","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Send a text message10","type":"main","index":0}]]},"Send a text message10":{"main":[[{"node":"Merge1","type":"main","index":3}]]},"Merge1":{"main":[[{"node":"Answer Query a callback","type":"main","index":0}]]},"If3":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}],[{"node":"Send a text message18","type":"main","index":0}]]},"Search records4":{"main":[[{"node":"Code in JavaScript9","type":"main","index":0}]]},"Code in JavaScript9":{"main":[[{"node":"Send a text message20","type":"main","index":0}]]},"Start":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Send a text message3":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dfd97fb3-0d7c-44dd-a9a4-6e853132ecd5","activeVersionId":"2115b879-ada8-4d76-a271-8b04911a8867","versionCounter":9,"triggerCount":0,"shared":[{"updatedAt":"2026-02-03T15:36:45.318Z","createdAt":"2026-02-03T15:36:45.318Z","role":"workflow:owner","workflowId":"V6mTcRfCPqBKsOTO","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-03T16:23:41.000Z","createdAt":"2026-02-03T16:23:34.663Z","versionId":"2115b879-ada8-4d76-a271-8b04911a8867","workflowId":"V6mTcRfCPqBKsOTO","nodes":[{"parameters":{"chatId":"={{ $('Start').item.json.callback_query_from_id }}","text":"Actualmente no hay inventario envia una foto o un nombre del producto para empezar a registrar inventario","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1136,800],"id":"0f016c7e-a979-44b5-b9db-e951887fc4ae","name":"Send a text message18","webhookId":"be4e336f-9765-4101-9e8d-22ec4020b315","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"b7928315-413a-462e-916b-439a54c55a59","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[912,704],"id":"75ee2313-39f6-4b9c-ae25-c9a736800579","name":"If3"},{"parameters":{"jsCode":"// 1. Obtenemos todas las filas que trajo Google Sheets\nlet filas = $input.all();\n\n// 2. TRUCO: Invertimos el orden (el último pasa a ser el primero)\n// y tomamos solo los primeros 5\nfilas = filas.reverse().slice(0, 5);\n\nlet mensaje = \"📊 *Últimos 5 Productos Agregados:*\\n\\n\";\n\n// 3. Recorremos esos 5\nfor (const item of filas) {\n  const dato = item.json;\n  \n  // Ajusta los nombres de las columnas según tu Excel exacto\n  const titulo = dato.Titulo || \"Sin Título\";\n  const stock = dato.Stock || 0;\n  const precio = dato.Precio || 0;\n  \n  mensaje += `📘 *${titulo}*\\n`;\n  mensaje += `   📦 Stock: ${stock} | 💰 $${precio}\\n`;\n  mensaje += `----------------\\n`;\n}\n\nreturn { json: { mensaje_reporte: mensaje } };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1136,608],"id":"a16621a1-7eb2-4c76-93cc-80eb5bf3209a","name":"Code in JavaScript3"},{"parameters":{"chatId":"={{ $('Start').first().json.callback_query_from_id_firstItem }}","text":"={{ $json.mensaje_reporte }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🔙 Volver al Menu","additionalFields":{"callback_data":"inicio"}}]}}]},"additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1360,608],"id":"cc855f9c-7e7b-4741-aa69-2ad2171f722b","name":"Send a text message10","webhookId":"cbfe7b9f-6047-4921-92fd-d789a47cc805","credentials":{"telegramApi":{"id":"nWEbT4EZ2Xeosuah","name":"Inventario Altillo"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list","cachedResultName":"Inventario Híbrido Librería","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA"},"table":{"__rl":true,"value":"tbllmq4v91zGVMUQd","mode":"list","cachedResultName":"Movimientos de Inventario","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tbllmq4v91zGVMUQd"},"filterByFormula":"{Tipo Movimiento} = 'Salida Venta'","returnAll":false,"limit":5,"options":{},"sort":{"property":[{"field":"Fecha","direction":"desc"}]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[688,416],"id":"f6d0b685-c79d-41a2-90a7-8a400fe9a5ae","name":"Search records4","retryOnFail":true,"credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"jsCode":"// Obtenemos los datos del nodo anterior (Asegúrate que el nombre 'Search records...' sea correcto)\nconst movimientos = $('Search records4').all(); \n\nif (movimientos.length === 0) {\n  return { json: { mensaje_historial: \"📭 No encontré ventas recientes para corregir.\" } };\n}\n\nlet mensaje = \"📋 *ÚLTIMAS VENTAS (Para Corregir)*\\n\";\nmensaje += \"Toca el comando azul para BORRAR esa venta:\\n\\n\";\n\nfor (const mov of movimientos) {\n  const item = mov.json;\n  // TRUCO: Buscamos los datos en 'fields' O en la raíz (para que nunca falle)\n  const datos = item.fields || item; \n  const idMovimiento = item.id;\n  \n  // 1. Nombre del Producto\n  let nombre = \"Producto Desconocido\";\n  // Verificamos si existe la columna y si tiene datos\n  if (datos['Nombre Producto'] && datos['Nombre Producto'].length > 0) {\n      nombre = datos['Nombre Producto'][0];\n  }\n\n  // 2. Cantidad (Si no existe, ponemos 0)\n  let cantidad = datos['Cantidad'] || 0;\n\n  // 3. Hora\n  let hora = \"Hora no registrada\";\n  // Buscamos createdTime en la raíz o en los datos\n  const fechaRaw = item.createdTime || datos.createdTime;\n  \n  if (fechaRaw) {\n      const fechaObj = new Date(fechaRaw);\n      hora = fechaObj.toLocaleTimeString('es-CO', { hour: '2-digit', minute: '2-digit' });\n  }\n\n  // Construcción del mensaje\n  mensaje += `🔹 *${nombre}* (Cant: ${cantidad})\\n`;\n  mensaje += `   ⏰ Hora: ${hora}\\n`;\n  mensaje += `   🗑️ Borrar: /delmov_${idMovimiento}\\n`; \n  mensaje += `-----------------------------\\n`;\n}\n\nreturn { json: { mensaje_historial: mensaje } };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[912,416],"id":"960bd39f-8727-4da4-bc40-82d33a672b1e","name":"Code in JavaScript9"},{"parameters":{"chatId":"={{ $('Start').item.json.callback_query_from_id }}","text":"={{ $json.mensaje_historial }}","additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1136,416],"id":"4ecf873a-e02c-4d8b-9e4a-52cd1eb58c9e","name":"Send a text message20","webhookId":"2c662195-e25f-4282-a569-6ab512693261","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"resource":"callback","queryId":"={{ $('Start').first().json.callback_query_id_firstItem }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1808,608],"id":"5db9d8b4-6be9-498d-a47e-68a03365a2e5","name":"Answer Query a callback","webhookId":"35129567-2dc6-4464-b852-c6e9c015bf66","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"leftValue":"={{ $('Start').item.json.callback_query_data }}","rightValue":"entrada_","operator":{"type":"string","operation":"contains"},"id":"34080155-2bc7-41e5-a71c-9b6e7260214d"}],"combinator":"and"},"renameOutput":true,"outputKey":"Set: Ingreso"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"fc321738-2ee4-4ca1-8369-16d9ba2a7603","leftValue":"={{ $('Start').item.json.callback_query_data }}","rightValue":"cancelar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Acción: Cancelar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"74d59aea-a509-44f6-a588-76ade440d9a3","leftValue":"={{ $('Start').item.json.callback_query_data }}","rightValue":"admin_inventario","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ver_resumen"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"f600a77c-b24a-4840-961f-b8cca625edc0","leftValue":"={{ $('Start').item.json.callback_query_data }}","rightValue":"inicio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Nav: Inicio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"f11ce47d-7eba-4288-b7af-b84b67b3ae80","leftValue":"={{ $('Start').item.json.callback_query_data }}","rightValue":"nav_historial_ventas","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ver Historial"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[256,296],"id":"776cffd2-8493-4556-b973-bbe1d4db1522","name":"Switch1"},{"parameters":{"numberInputs":6},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1584,544],"id":"799d81bf-63f1-4d68-94b0-a585476b2403","name":"Merge1"},{"parameters":{"chatId":"={{ $('Start').item.json.callback_query_from_id }}","text":"=📦 *Registrar Entrada de Inventario*\n\n¿Cuántas unidades vas a ingresar?\nEscribe el comando de abajo seguido de la cantidad.\n\nEjemplo (Para agregar 5 unidades):\n...rec12345 5\n\n*👇 TOCA AQUÍ PARA COPIAR:*\n`/in_{{ $('Start').item.json.callback_query_data.replace('entrada_', '') }}`","additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[688,128],"id":"858f159c-8c4c-4412-bd11-09b66c344730","name":"Send a text message12","webhookId":"a973f6e4-d30a-4644-b0b2-77a1ce535d1d","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"callback_query_data","type":"any"},{"name":"callback_query_data_replace_firstItem","type":"any"},{"name":"callback_query_from_id","type":"any"},{"name":"callback_query_data_replace","type":"any"},{"name":"callback_query_from_id_firstItem","type":"any"},{"name":"callback_query_id_firstItem","type":"any"},{"name":"message_from_id","type":"any"}]}},"id":"e5215b4e-b9dc-453a-a7fc-dd8e1708139d","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[32,344]},{"parameters":{"content":"## 🇪🇸 Subsistema: Admin Tools\nPropósito: Panel de control y reportes.\nFunciones:\n1. 📊 Cierre de Caja (Reporte Ventas).\n2. 📦 Estado de Inventario.\n3. 🗑️ Borrado de registros.\n🇺🇸 English:\nSubsystem: Admin Tools\nPurpose: Control panel and reporting.\nFunctions:\n1. 📊 Cash Close (Sales Report).\n2. 📦 Inventory Status.\n3. 🗑️ Record deletion.","height":384,"width":320},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-336,448],"id":"33640ce0-29da-4200-941d-4dbd60d867c5","name":"Sticky Note"},{"parameters":{"content":"##🇪🇸 Generador de Reportes:Agrega movimientos de \"Salida Venta\" en Airtable.Calcula: Unidades Totales e Ingreso Total ($).<br><br>\n\n**🇺🇸 English:**<br>**Report Generator:**<br>Aggregates \"Sales Out\" movements in Airtable.<br>Calculates: Total Units and Total Revenue ($).","height":272,"width":432,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1408,1312],"id":"2c2b481a-e2eb-4389-9adb-2938be9b4f5e","name":"Sticky Note1"},{"parameters":{"content":"## 🇪🇸 Zona de Peligro:\nElimina físicamente registros de la base de datos usando el ID del comando. Acción irreversible.\n🇺🇸 English:\nDanger Zone:\nPhysically deletes records from DB using command ID. Irreversible action.","height":224,"width":400,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1440,128],"typeVersion":1,"id":"1056b3ca-2ed5-427c-9282-6f0f759a4df6","name":"Sticky Note2"},{"parameters":{"content":"## 🛡️ Sistema de Blindaje (Error Handling):\nValidado mediante pruebas de estrés. Los nodos críticos incluyen:\n1. Retry on Fail: Reintentos automáticos ante caídas de API.\n2. Sanitización: Limpieza de inputs en JS para evitar crashes.\n3. Fallback: Rutas alternas si falla la IA principal.\n🇺🇸 English:\n🛡️ System Shielding (Error Handling):\nValidated via stress testing. Critical nodes include:\n1. Retry on Fail: Auto-retries during API outages.\n2. Sanitization: JS input cleaning to prevent crashes.\n3. Fallback: Alternate routes if primary AI fails.","height":272,"width":560,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1456,816],"id":"ea7fac87-5211-40f5-a1e7-5eeb4b604680","name":"Sticky Note3"},{"parameters":{"chatId":"={{ $json.callback_query.from.id }}{{ $('Telegram Trigger').item.json.message.from.id }}","text":"👋 **Sistema de Inventario KiroxON** |\n\n ¿Qué gestión administrativa deseas realizar?","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"📦 Estado Inventario","additionalFields":{"callback_data":"admin_inventario"}},{"text":"➖ Registrar nuevo ingreso ","additionalFields":{"callback_data":"nav_instruccion_entrada"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1312,240],"id":"7972ef1c-0fbf-43d3-adca-68af56bd73cd","name":"Send a text message3","webhookId":"ef5ba54f-2558-4a94-8a02-70a4b25f5673","credentials":{"telegramApi":{"id":"nWEbT4EZ2Xeosuah","name":"Inventario Altillo"}}},{"parameters":{"documentId":{"__rl":true,"value":"1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o","mode":"list","cachedResultName":"Inventario_Maestro_Kirox","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[672,704],"id":"f76eace6-57c0-4ed9-b845-176268d54b29","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"CeDqHOIvpoFnRpuy","name":"Google Sheets account"}}}],"connections":{"Switch1":{"main":[[{"node":"Send a text message12","type":"main","index":0}],[],[{"node":"Get row(s) in sheet","type":"main","index":0}],[{"node":"Send a text message3","type":"main","index":0}],[{"node":"Search records4","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Send a text message10","type":"main","index":0}]]},"Send a text message10":{"main":[[{"node":"Merge1","type":"main","index":3}]]},"Merge1":{"main":[[{"node":"Answer Query a callback","type":"main","index":0}]]},"If3":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}],[{"node":"Send a text message18","type":"main","index":0}]]},"Search records4":{"main":[[{"node":"Code in JavaScript9","type":"main","index":0}]]},"Code in JavaScript9":{"main":[[{"node":"Send a text message20","type":"main","index":0}]]},"Start":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Send a text message3":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If3","type":"main","index":0}]]}},"authors":"Admin KiroxOn","name":"Version 2115b879","description":"","workflowPublishHistory":[{"createdAt":"2026-02-03T16:23:40.998Z","id":61,"workflowId":"V6mTcRfCPqBKsOTO","versionId":"2115b879-ada8-4d76-a271-8b04911a8867","event":"activated","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629"}]}}