workflows_BACKUP/Ameyal_ Story P3--NuLFcNCU9lZxLqmn.json
{"updatedAt":"2026-01-06T00:17:37.000Z","createdAt":"2026-01-06T00:17:37.038Z","id":"NuLFcNCU9lZxLqmn","name":"Ameyal: Story P3","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"b950c017-40ac-430d-bf11-1480faeda43d","name":"Frase Clave","value":"={{ $json.Quote }}","type":"string"},{"id":"cb8113ab-a67e-4060-adf3-13329b1d0b1f","name":"Color","value":"={{ $('variablesDinamicas').item.json.ColorSeleccionado }}","type":"string"},{"id":"7f0b0a4b-479a-4408-83c9-75f52b6397af","name":"Plantilla","value":"={{ $('masterVar').item.json.plantillaStory }}","type":"string"},{"id":"7de85b61-9189-442f-b773-e3753837e780","name":"Imagen","value":"={{ $json.Imagen }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[32,752],"id":"628c7106-61b0-4e1e-9173-aa7f24decdc3","name":"varPostVideo"},{"parameters":{"chatId":"1019249029","text":"=⚠️​ {{ $(\"masterVar\").item.json.Cliente }} ⚠️​\nHubo un error al querer hacer la publicación de hoy publicar","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[992,1248],"id":"10ff5147-939b-4fe2-a46d-873ca110f53a","name":"⚠️​","webhookId":"cc02dfc3-0b83-4125-898a-008e3f2ac7cf","executeOnce":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1264,1088],"id":"676ab7b1-91e4-42cb-87fa-6fe270f95772","name":"No Operation, do nothing"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[880,736],"id":"ea4fb057-aac5-4e3a-adb9-96feebfc6043","name":"Wait20","webhookId":"28fa0a1b-ae64-4aca-b2fa-4fd45a62e686"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[528,1088],"id":"7713b63f-3610-4673-a37d-9939ea46eca4","name":"Wait21","webhookId":"6d361bf5-0dd4-48cc-b389-f356cea68811"},{"parameters":{"chatId":"1019249029","text":"=✅​ {{ $node[\"masterVar\"].json['Cliente'] }} ✅​\nSe realizó el posteo correctamente","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[720,1088],"id":"b8970ee2-29f6-405d-b94d-d2adc758c11d","name":"✅​","webhookId":"f7ce1dda-8ece-49ac-8a66-0137eed78ce1","executeOnce":true},{"parameters":{"resource":"video","template_id":{"__rl":true,"value":"={{ $('varPostVideo').item.json.Plantilla }}","mode":"id"},"audioSettings":{},"layers":{"layerItems":[{"layerId":"img|picture","property":"imageBinary","imageBinaryValue":"data"},{"layerId":"quote|text","property":"text","textValue":"={{ $('varPostVideo').item.json['Frase Clave'] }}"}]},"additionalFields":{}},"type":"n8n-nodes-placid.placid","typeVersion":1,"position":[656,752],"id":"9c22bd8a-1b72-49d3-bb07-f9579b7976da","name":"Create a video from a template","retryOnFail":true,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"resource":"media","mediaUrl":"={{ $json.video_url }}"},"type":"@blotato/n8n-nodes-blotato.blotato","typeVersion":2,"position":[16,1120],"id":"a7d11983-4687-4fa5-9414-308c0a8ebeff","name":"Upload media2","retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"accountId":{"__rl":true,"value":"={{ $node[\"masterVar\"].json['instagram'] }}","mode":"id"},"postContentText":"=","postContentMediaUrls":"={{ $json.url }}","options":{"instagramMediaType":"story"}},"type":"@blotato/n8n-nodes-blotato.blotato","typeVersion":2,"position":[320,1104],"id":"cb4d55c0-ac61-4f6e-b109-4580b9928a4b","name":"InstagramStory","retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1,2,3,4,5],"triggerAtHour":11}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"f1c806d8-9e8d-4ee0-b7e8-bc5c06c85a1f","name":"Schedule Trigger1"},{"parameters":{"amount":"={{ $json.numero }}","unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[496,0],"id":"fc8086d3-e74b-42ea-93e8-7a86a85da6fa","name":"Wait","webhookId":"d19fa250-4fc9-4b84-b51a-3a3e0ea0cf62"},{"parameters":{"jsCode":"const numero = Math.floor(Math.random() * 45) + 1;\n\nreturn [\n  {\n    json: {\n      numero\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0],"id":"92285031-f92f-4d06-bd94-a33d0a7379e9","name":"Code1"},{"parameters":{"assignments":{"assignments":[{"id":"65e4fb7b-f885-41b8-9232-8435caa54ea9","name":"Cliente","value":"Ameyal Inmobiliaria","type":"string"},{"id":"0bcc34a6-73fa-4691-bd4e-0a1f8fc4a02a","name":"airtableBase","value":"appb83b3VCKAonLjs","type":"string"},{"id":"d57d84c8-d526-45fe-8a92-d74598655559","name":"plantillaStory","value":"il7qjtfwkrhcw","type":"string"},{"id":"e3e9f354-3f3c-4cdb-8dde-1437dccae795","name":"Color1","value":"#512E88","type":"string"},{"id":"84d996d2-f399-4e98-8f66-747b00062691","name":"Color2","value":"#1391C2","type":"string"},{"id":"7af64247-e024-4de9-9194-3fddf96b6ed2","name":"Color3","value":"#A72B69","type":"string"},{"id":"b194c78e-ba9f-483d-b2b3-21123fe172df","name":"Color4","value":"#752D7C","type":"string"},{"id":"08bfdf7c-3ffd-451c-82ab-411dd8f9b303","name":"instagram","value":"15136","type":"string"},{"id":"47e80be1-7ec8-445e-b5a3-857604c3af82","name":"facebook","value":"8833","type":"string"},{"id":"a37a73b7-b71c-45bd-8d01-5281194657d0","name":"facebook_page","value":"8833","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,336],"id":"3d09e23b-4098-4f73-b8a3-7765a94f6408","name":"masterVar"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,336],"id":"2552ce3a-d280-46a8-aa38-42d361c96435","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":"// Obtener los colores desde el input\nconst input = items[0].json;\n\nconst colores = [input.Color1, input.Color2, input.Color3, input.Color4];\n\n// Verificar que todos existan\nif (colores.some(c => !c)) {\n  throw new Error(\"Faltan uno o más colores (Color1 a Color4) en el input.\");\n}\n\n// Mezclar aleatoriamente los colores (Fisher-Yates)\nfor (let i = colores.length - 1; i > 0; i--) {\n  const j = Math.floor(Math.random() * (i + 1));\n  [colores[i], colores[j]] = [colores[j], colores[i]];\n}\n\n// Seleccionar el primero tras mezclar\nconst colorElegido = colores[0];\n\nreturn [\n  {\n    json: {\n      ColorSeleccionado: colorElegido\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,336],"id":"3f31dde6-89bb-4687-94ed-a910e5fc7769","name":"variablesDinamicas","executeOnce":true},{"parameters":{"content":"## ACTUALIZAR\nVar","height":272,"width":224},"type":"n8n-nodes-base.stickyNote","position":[192,256],"typeVersion":1,"id":"0a792e31-28ac-4198-9dd9-4633e497019d","name":"Sticky Note3"},{"parameters":{"promptType":"define","text":"=Genera una historia visual evergreen para {{$node[\"masterVar\"].json['Cliente']}} que conecte con dueños de propiedades interesados en vender o rentar.\n\n🎯 Objetivo: mostrar autoridad y confianza con una imagen profesional y una frase poderosa.\n\nNo incluyas copy largo. Solo responde con la imagen y la frase en formato JSON.\n","options":{"systemMessage":"=Eres un Community Manager especializado en marketing inmobiliario. Tu tarea es crear historias visuales efectivas para Instagram/Facebook, dirigidas a propietarios que quieren vender o rentar su inmueble.\n\n🎯 Objetivo  \nCaptar la atención de dueños de propiedades mediante una imagen llamativa y una frase poderosa, sin parecer publicidad directa.\n\n📦 Output obligatorio (solo JSON, sin texto adicional):\n{\n  \"Imagen\": \"prompt visual detallado para IA\",\n  \"Quote\": \"frase de alto impacto emocional o racional, máximo 12 palabras\"\n}\n\n🎨 Instrucciones para 'Imagen':\n- Describe una escena visual que transmita confianza, asesoría, profesionalismo o éxito inmobiliario.\n- Usa un estilo **realista**, con fondo limpio o urbano, y composición profesional.\n- Integra referencias sutiles a bienes raíces: llaves, planos, inmuebles modernos, personas asesorando.\n- Apóyate en una de las paletas de color prop"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[672,336],"id":"e54cee48-0bb9-4e57-87dc-fa969ea11836","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"gpt-4"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[672,544],"id":"ce691a24-bc28-41ae-a458-31604de2ab99","name":"OpenAI Chat Model"},{"parameters":{"content":"## ACTUALIZAR\nPROMPT","height":432,"width":352},"type":"n8n-nodes-base.stickyNote","position":[624,256],"typeVersion":1,"id":"c7754121-ccbb-4b5b-a421-439f5ef21cb8","name":"Sticky Note6"},{"parameters":{"jsCode":"let salida;\n\n// Paso 1: Verificar existencia del campo\nif (!items[0].json.output) {\n  throw new Error(\"El campo 'output' no está presente en el input.\");\n}\n\nconst outputData = items[0].json.output;\n\n// Paso 2: Detectar si ya es un objeto o un string\nif (typeof outputData === 'object') {\n  // Ya viene como JSON\n  salida = outputData;\n} else if (typeof outputData === 'string') {\n  try {\n    // Intentar parsear el string\n    salida = JSON.parse(outputData);\n  } catch (err) {\n    throw new Error(\"Error al parsear 'output' como JSON: \" + err.message);\n  }\n} else {\n  throw new Error(\"El campo 'output' no es ni objeto ni string.\");\n}\n\n// Paso 3: Validar campos esperados\nif (!salida.Imagen || !salida.Quote) {\n  throw new Error(\"Faltan los campos requeridos: 'Imagen' y/o 'Quote'.\");\n}\n\n// (Opcional) Validar longitud de la frase\nconst palabraCount = salida.Quote.trim().split(/\\s+/).length;\nif (palabraCount > 12) {\n  salida.Quote = salida.Quote.split(/\\s+/).slice(0, 12).join(\" \") + \"...\";\n}\n\n// Paso 4: Devolver objeto limpio\nreturn [\n  {\n    json: {\n      Imagen: salida.Imagen,\n      Quote: salida.Quote\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,336],"id":"bc3fe76a-2f94-42f5-8cc0-64d8aac81ae7","name":"Code in JavaScript"},{"parameters":{"resource":"image","prompt":"={{ $json.Imagen }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[240,752],"id":"2d27594d-ad95-4ade-8a5a-89140f409240","name":"Generate an image"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[448,752],"id":"55828814-fa43-4286-a6ff-597d6d37b6dd","name":"Wait1","webhookId":"a4196cb6-f5b5-44e4-bfbd-f5e53998309e"}],"connections":{"varPostVideo":{"main":[[{"node":"Generate an image","type":"main","index":0}]]},"⚠️​":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Wait20":{"main":[[{"node":"Upload media2","type":"main","index":0}]]},"Wait21":{"main":[[{"node":"✅​","type":"main","index":0}]]},"✅​":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Create a video from a template":{"main":[[{"node":"Wait20","type":"main","index":0}],[{"node":"⚠️​","type":"main","index":0}]]},"Upload media2":{"main":[[{"node":"InstagramStory","type":"main","index":0}]]},"InstagramStory":{"main":[[{"node":"Wait21","type":"main","index":0}],[{"node":"⚠️​","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"masterVar","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"masterVar":{"main":[[{"node":"variablesDinamicas","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"masterVar","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"variablesDinamicas":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"varPostVideo","type":"main","index":0}]]},"Generate an image":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Create a video from a template","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a673a5f1-664d-47e5-bb05-acc2776e4435","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-01-06T00:17:37.041Z","createdAt":"2026-01-06T00:17:37.041Z","role":"workflow:owner","workflowId":"NuLFcNCU9lZxLqmn","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[{"updatedAt":"2026-01-05T21:52:36.013Z","createdAt":"2026-01-05T21:52:36.013Z","id":"NMcHP8etRpwSn7yA","name":"Blotato"},{"updatedAt":"2026-01-05T04:42:50.080Z","createdAt":"2026-01-05T04:42:50.080Z","id":"WoZWCKdRNB9sNHTT","name":"Redes Sociales"},{"updatedAt":"2026-01-05T21:52:36.017Z","createdAt":"2026-01-05T21:52:36.017Z","id":"m6Xql0arnFi8YTKV","name":"Placid"}],"activeVersion":null}