workflows_BACKUP/Bernardo _ Campañas--HXG5TPlSIlOqu7Fi.json
{"updatedAt":"2026-01-22T02:59:08.340Z","createdAt":"2026-01-21T16:52:37.713Z","id":"HXG5TPlSIlOqu7Fi","name":"Bernardo | Campañas","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1,2,3,4,5],"triggerAtHour":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[32,-240],"id":"f1011d30-5e9c-49e6-8b1b-5b13815f8a15","name":"Schedule Trigger"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[224,-528],"id":"70ec9f6f-00ac-4a67-ba8a-280086c4e718","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"fetch-instances","instanceName":"KiroxOn"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1456,-80],"id":"a5259bcf-24e1-4ee2-b89a-c11b572ee724","name":"Buscar instancia","credentials":{"evolutionApi":{"id":"kf4cIaStrOgKMZzg","name":"KiroxON"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e4b2770d-6ee9-435a-a8ca-37c5a7c1c76b","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1680,-80],"id":"4265f1cb-94d1-473f-977e-21439549befe","name":"If3"},{"parameters":{"chatId":"1019249029","text":"BERNARDO | Problema con el aviso de nuevo registro de referido a Bernardo.\nNo se encontró la instancia de Whatsapp en línea. ","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1904,16],"id":"62e69616-0b52-4b0b-bd60-a746fe12e71a","name":"Mensaje de error: Aviso a Bernardo","webhookId":"5d9c1eb8-1bd9-4325-9a1c-6255b95aa52e","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblvfpC5JQueQtlQH","mode":"list","cachedResultName":"Invitaciones","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblvfpC5JQueQtlQH"},"filterByFormula":"AND(   {Validacion} = \"OK\",   {Estatus} = \"Enviar\" )","returnAll":false,"limit":5,"options":{},"sort":{"property":[{"field":"ID"}]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[208,-240],"id":"c77024c8-2b03-400f-94e7-743f8e6da3cc","name":"Search records","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[432,-240],"id":"cc438c92-9458-4c5a-afc5-6c7ced379a77","name":"Loop Over Items"},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1232,-80],"id":"3b22f61f-e80e-41ef-9011-12b4ae9f0d20","name":"Wait","webhookId":"24aab174-9791-47e3-97e7-a5deef966113"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"GPT-3.5-TURBO"},"responses":{"values":[{"content":"=Crea una variante de este mensaje: Hola!cómo estás?? te platico que estoy a punto de ganar un premio de talla internacional, pero necesito de tu ayuda, te voy a mandar un link donde te explico más!! muchas\n\nPersonalizalo para esta persona:{{ $json.Nombre }}\n\nEres hombre\nMantén el estilo informal y cercano. \nLa variante debe ser sutil.\n\nDevuelve sólo el mensaje nuevo."}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[656,-80],"id":"44ad1ab5-7db8-42b6-8d3d-600ff17d422e","name":"Message a model","credentials":{"openAiApi":{"id":"bJgGA8hIumaSAysH","name":"KiroxON|OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"5e59c2cc-3d86-4f6b-a8da-ec2aea8baedf","name":"id","value":"={{ $('Loop Over Items').item.json.id }}","type":"string"},{"id":"c51ac771-2e99-4c46-a190-37b895f15c40","name":"Nombre","value":"={{ $('Loop Over Items').item.json.Nombre }}","type":"string"},{"id":"86ce6726-1d2a-418a-afe0-b40abb87dc5c","name":"Telefono","value":"={{ $('Loop Over Items').item.json.Telefono }}","type":"number"},{"id":"d68eb372-221f-4231-b81d-3f417d7c0031","name":"output[0].content[0].text","value":"={{ $json.output[0].content[0].text }}","type":"string"},{"id":"b38555a1-40e2-4eb8-ae44-b483f14df95a","name":"Link","value":"https://bernardollamas.com/referido","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1008,-80],"id":"8b277ac3-b0b9-4fab-8d78-58d57436454a","name":"Variables"},{"parameters":{"resource":"messages-api","instanceName":"KiroxOn","remoteJid":"=521{{ $('Variables').item.json.Telefono }}","messageText":"={{ $('Variables').item.json.output[0].content[0].text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2128,-176],"id":"d42a5ebd-4ccf-4702-9fa7-6b57ca879039","name":"Mensaje","credentials":{"evolutionApi":{"id":"kf4cIaStrOgKMZzg","name":"KiroxON"}}},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"KiroxOn","remoteJid":"=521{{ $('Variables').item.json.Telefono }}","delay":3000},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2352,-176],"id":"21e59ac6-bd58-41df-bf3d-3e072b43ce2b","name":"Enviar presencia2","credentials":{"evolutionApi":{"id":"kf4cIaStrOgKMZzg","name":"KiroxON"}}},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"KiroxOn","remoteJid":"=521{{ $('Variables').item.json.Telefono }}","delay":5000},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1904,-176],"id":"bc6e8fdd-9f47-4a77-b0e6-2b16d524249d","name":"Enviar presencia","credentials":{"evolutionApi":{"id":"kf4cIaStrOgKMZzg","name":"KiroxON"}}},{"parameters":{"resource":"messages-api","instanceName":"KiroxOn","remoteJid":"=521{{ $('Variables').item.json.Telefono }}","messageText":"={{ $('Variables').item.json.Link }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2576,-176],"id":"67931ae8-d469-47dc-8551-1233beec7bed","name":"Envio Link","credentials":{"evolutionApi":{"id":"kf4cIaStrOgKMZzg","name":"KiroxON"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblvfpC5JQueQtlQH","mode":"list","cachedResultName":"Invitaciones","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblvfpC5JQueQtlQH"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Variables').item.json.id }}","Estatus":"Enviado"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Validacion","displayName":"Validacion","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Enviar","value":"Enviar"},{"name":"Enviado","value":"Enviado"},{"name":"No válido","value":"No válido"}],"readOnly":false,"removed":false},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2784,-176],"id":"47f4710c-821d-4062-8181-71a01e6558fc","name":"Update","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"operation":"fetch-instances","instanceName":"KiroxOn"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1008,-368],"id":"e32437ce-6b64-47b9-8eac-a19a1be2268a","name":"Buscar instancia1","credentials":{"evolutionApi":{"id":"kf4cIaStrOgKMZzg","name":"KiroxON"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e4b2770d-6ee9-435a-a8ca-37c5a7c1c76b","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1232,-368],"id":"b9ac03d6-a3ff-4cda-8f2d-5197bcdec845","name":"If"},{"parameters":{"chatId":"1019249029","text":"BERNARDO | Problema con el aviso de nuevo registro de referido a Bernardo.\nNo se encontró la instancia de Whatsapp en línea. ","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1456,-272],"id":"aec86a83-1e89-4610-b434-258e2e42810e","name":"Mensaje de error: Aviso a Bernardo1","webhookId":"5d9c1eb8-1bd9-4325-9a1c-6255b95aa52e","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[720,-368],"id":"5fffea0c-7923-427a-8a7d-3764fa8686bf","name":"Wait1","webhookId":"24aab174-9791-47e3-97e7-a5deef966113"},{"parameters":{"resource":"messages-api","instanceName":"KiroxOn","remoteJid":"5215512591928","messageText":"=Hola Bernardo! Enviadas las invitaciones de hoy","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1680,-464],"id":"90966893-dc35-4bd8-9b43-a639ae711b40","name":"Mensaje1","credentials":{"evolutionApi":{"id":"kf4cIaStrOgKMZzg","name":"KiroxON"}}},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"KiroxOn","remoteJid":"5215512591928","delay":5000},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1456,-464],"id":"59f49f7f-71e3-4088-8e16-86d4d1eafa3a","name":"Enviar presencia1","credentials":{"evolutionApi":{"id":"kf4cIaStrOgKMZzg","name":"KiroxON"}}}],"connections":{"Buscar instancia":{"main":[[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[{"node":"Enviar presencia","type":"main","index":0}],[{"node":"Mensaje de error: Aviso a Bernardo","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Search records","type":"main","index":0}]]},"Schedule Trigger":{"main":[[]]},"Search records":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Wait1","type":"main","index":0}],[{"node":"Message a model","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Buscar instancia","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Variables","type":"main","index":0}]]},"Variables":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Mensaje":{"main":[[{"node":"Enviar presencia2","type":"main","index":0}]]},"Enviar presencia2":{"main":[[{"node":"Envio Link","type":"main","index":0}]]},"Enviar presencia":{"main":[[{"node":"Mensaje","type":"main","index":0}]]},"Envio Link":{"main":[[{"node":"Update","type":"main","index":0}]]},"Buscar instancia1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Enviar presencia1","type":"main","index":0}],[{"node":"Mensaje de error: Aviso a Bernardo1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Buscar instancia1","type":"main","index":0}]]},"Enviar presencia1":{"main":[[{"node":"Mensaje1","type":"main","index":0}]]},"Mensaje1":{"main":[[]]},"Update":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a6242467-b7c7-436f-a5a1-96deaf26b5c9","activeVersionId":null,"versionCounter":14,"triggerCount":1,"shared":[{"updatedAt":"2026-01-21T16:52:37.717Z","createdAt":"2026-01-21T16:52:37.717Z","role":"workflow:owner","workflowId":"HXG5TPlSIlOqu7Fi","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[],"activeVersion":null}