workflows_BACKUP/DBLinkedinLeeds P2--WTkFixNc1TPY3acG.json
{"updatedAt":"2026-01-05T23:20:37.230Z","createdAt":"2026-01-05T23:19:51.363Z","id":"WTkFixNc1TPY3acG","name":"DBLinkedinLeeds P2","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## I'm a note \n**Este flujo es para la actualización de la base de datos "},"type":"n8n-nodes-base.stickyNote","position":[16,176],"typeVersion":1,"id":"64564980-d073-48d6-a63c-04f4e470ce44","name":"Sticky Note"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-32,432],"id":"c4284749-d6f5-41a6-87d9-207aa6219570","name":"Schedule Trigger"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appHYYUhdVsnIj5as","mode":"list","cachedResultName":"Madema","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as"},"table":{"__rl":true,"value":"tblBMiSnMsa4rVuh5","mode":"list","cachedResultName":"LinkedinLeedsDux","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as/tblBMiSnMsa4rVuh5"},"filterByFormula":"=AND({Mensaje Linkedin} = 'No enviado',     {NoMensaje} = 'Sin mensaje')","options":{},"sort":{"property":[{"field":"LINKEDIN URL","direction":"desc"}]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[384,496],"id":"bf145008-93c7-4bd3-9534-e0a5e0cb7e4a","name":"Perfiles para Linkedin","alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appHYYUhdVsnIj5as","mode":"list","cachedResultName":"Madema","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as"},"table":{"__rl":true,"value":"tblXSr8JzKfLPXv6b","mode":"list","cachedResultName":"leadsReach","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as/tblXSr8JzKfLPXv6b"},"filterByFormula":"OR({ESTATUS} = 'Mail 3',\n              {ESTATUS} = 'Mail no válido (mail)',\n              {ESTATUS} = 'Mail no válido (mailboxlayer)'\n)","options":{},"sort":{"property":[{"field":"LINKEDIN URL","direction":"desc"}]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[416,256],"id":"36c085d6-5443-467e-9a0c-e24805c11297","name":"Base: LeedsReach","alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"assignments":{"assignments":[{"id":"2c003ed5-172b-4c39-b9bb-4ac40f835683","name":"LeedsReach","value":"={{ $json['LINKEDIN URL'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[656,272],"id":"13fc8604-3e17-4cdb-bff5-0672a1dc0c98","name":"Edit Fields"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appHYYUhdVsnIj5as","mode":"list","cachedResultName":"Madema","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as"},"table":{"__rl":true,"value":"tblBMiSnMsa4rVuh5","mode":"list","cachedResultName":"LinkedinLeedsDux","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as/tblBMiSnMsa4rVuh5"},"columns":{"mappingMode":"defineBelow","value":{"TELEFONO":0,"SCORE":0,"NOMBRE":"={{ $('Base: LeedsReach').item.json.NOMBRE }}","APELLIDO":"={{ $('Base: LeedsReach').item.json.APELLIDO }}","HEADLINE":"={{ $('Base: LeedsReach').item.json.HEADLINE }}","ABOUT":"={{ $('Base: LeedsReach').item.json.ABOUT }}","CARGO":"={{ $('Base: LeedsReach').item.json.CARGO }}","EMPRESA":"={{ $('Base: LeedsReach').item.json.EMPRESA }}","TAMAÑO":"={{ $('Base: LeedsReach').item.json['TAMAÑO'] }}","INDUSTRIA":"={{ $('Base: LeedsReach').item.json.INDUSTRIA }}","SITIO":"={{ $('Base: LeedsReach').item.json.SITIO }}","CIUDAD":"={{ $('Base: LeedsReach').item.json.CIUDAD }}","PAIS":"={{ $('Base: LeedsReach').item.json.PAIS }}","EMAIL":"={{ $('Base: LeedsReach').item.json.EMAIL }}","LINKEDIN URL":"={{ $('Base: LeedsReach').item.json['LINKEDIN URL'] }}","DESCRIPCIÓN EMPRESA":"={{ $('Base: LeedsReach').item.json['DESCRIPCIÓN EMPRESA'] }}","ESTATUS":"={{ $('Base: LeedsReach').item.json.ESTATUS }}"},"matchingColumns":[],"schema":[{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"DESCRIPCIÓN EMPRESA","displayName":"DESCRIPCIÓN EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"EMPRESA LINKEDIN URL","displayName":"EMPRESA LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Por Validar","value":"Por Validar"},{"name":"Mail Valido","value":"Mail Valido"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"},{"name":"Mail no válido (mail)","value":"Mail no válido (mail)"},{"name":"Mail no válido (mailboxlayer)","value":"Mail no válido (mailboxlayer)"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Lead Calificado","value":"Lead Calificado"},{"name":"Vacaciones","value":"Vacaciones"}],"readOnly":false,"removed":false},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Mensaje Linkedin","displayName":"Mensaje Linkedin","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"No enviado","value":"No enviado"},{"name":"Finalizado","value":"Finalizado"},{"name":"En campaña","value":"En campaña"}],"readOnly":false,"removed":true},{"id":"NoMensaje","displayName":"NoMensaje","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sin mensaje","value":"Sin mensaje"},{"name":"Mensaje 1","value":"Mensaje 1"},{"name":"Mensaje 2","value":"Mensaje 2"},{"name":"Mensaje 3","value":"Mensaje 3"}],"readOnly":false,"removed":true},{"id":"Respuesta","displayName":"Respuesta","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Conexión","displayName":"Conexión","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"none","value":"none"},{"name":"Aceptada","value":"Aceptada"}],"readOnly":false,"removed":true},{"id":"Error de envío","displayName":"Error de envío","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Ninguno","value":"Ninguno"},{"name":"Error","value":"Error"},{"name":"Blacklisted","value":"Blacklisted"},{"name":"Snooze","value":"Snooze"}],"readOnly":false,"removed":true},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Mail 1","displayName":"Mail 1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Mail 2","displayName":"Mail 2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Mail 3","displayName":"Mail 3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1440,288],"id":"37abc514-dd7c-41ed-b366-e6d12d7de2dc","name":"Create a record","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"210f939f-3348-4605-903b-f8f7ace2c654","leftValue":"={{ $json.LeedsReach }}","rightValue":"={{ $json.Linkedin }}","operator":{"type":"string","operation":"notEquals"}},{"id":"6e3744a1-cb56-4882-ada9-8ef5924738d5","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1200,384],"id":"038f70e6-9b1c-44ed-bd8c-c0ec570711da","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"a0aacd54-a736-4633-9b1f-a39741293b01","name":"Linkedin","value":"={{ $json['LINKEDIN URL'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,496],"id":"5c4b00c9-cf53-4677-a19e-1ca97f48e3cd","name":"Linkedin"},{"parameters":{"assignments":{"assignments":[{"id":"bee76f17-386c-49cf-a5d9-273b374b2d90","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,368],"id":"9fc1988e-098d-4cbf-8476-3804e4d0eeeb","name":"Edit Fields1"},{"parameters":{"content":"## Todavía no está terminado\n"},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"635e7984-b10b-48a1-90de-fe20fe084db9","name":"Sticky Note1"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Base: LeedsReach","type":"main","index":0},{"node":"Perfiles para Linkedin","type":"main","index":0}]]},"Base: LeedsReach":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Perfiles para Linkedin":{"main":[[{"node":"Linkedin","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Linkedin":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"If":{"main":[[{"node":"Create a record","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"af661dfd-d1cb-4d83-b6e7-f491d5c2467b","activeVersionId":null,"versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2026-01-05T23:19:51.367Z","createdAt":"2026-01-05T23:19:51.367Z","role":"workflow:owner","workflowId":"WTkFixNc1TPY3acG","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[],"activeVersion":null}