workflows_BACKUP/Escaner de produtos--CfXLY0tRytXeFmnx.json
{"updatedAt":"2026-02-09T12:11:29.715Z","createdAt":"2026-01-27T13:34:23.044Z","id":"CfXLY0tRytXeFmnx","name":"Escaner de produtos","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"file","fileId":"={{ $json.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-928,832],"id":"d7bff349-58fe-4575-9499-d777e58c9c37","name":"Get Photo from Telegram","webhookId":"891d498e-9fc8-49a4-92be-c81c024ef252","credentials":{"telegramApi":{"id":"nWEbT4EZ2Xeosuah","name":"Inventario Altillo"}}},{"parameters":{"jsCode":"// 1. Obtenemos la info del archivo (del nodo anterior)\nconst fileInfo = $input.item.json;\n\n// 2. Obtenemos la info del Usuario (del nodo Start)\n// CORRECCIÓN: Usamos la estructura plana que llega de Airtable/Database\nconst startData = $('Start').item.json;\n\nreturn {\n  json: {\n    // Datos del archivo descargado\n    filePath: fileInfo.file_path,\n    fileId: fileInfo.file_id,\n    \n    // Datos del usuario mapeados correctamente desde tu input real\n    chatId: startData[\"Telegram ID\"], \n    userName: startData[\"Usuarios\"] || \"Usuario Desconocido\",\n    \n    // El message_id no viene en Airtable, así que lo dejamos null o generamos uno\n    messageId: null,\n    \n    // Timestamp\n    fecha_proceso: new Date().toISOString()\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-704,832],"id":"9dc8f0f0-1847-4d81-887f-4d6d731c74ff","name":"Prepare Image Data"},{"parameters":{"url":"=https://api.telegram.org/file/bot8550805050:AAHDK8g7UHS72lJOXwQ2QLbKZ15u1xAR1jM/{{ $('Get Photo from Telegram').item.json.result.file_path }}","authentication":"predefinedCredentialType","nodeCredentialType":"telegramApi","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-480,832],"id":"f5db0163-6043-4be7-a0c0-455c027c59a9","name":"Download Image","credentials":{"telegramApi":{"id":"nWEbT4EZ2Xeosuah","name":"Inventario Altillo"}}},{"parameters":{"jsCode":"// --- LIMPIEZA Y ESTRUCTURADO DE PRODUCTO (FOTO) ---\nconst inputData = $input.item.json;\n\n// 1. OBTENCIÓN DE LA RESPUESTA CRUDA (BÚSQUEDA PROFUNDA)\nlet rawText = \"\";\n\n// Función auxiliar para extraer texto si el objeto es el correcto\nfunction extractFromObject(obj) {\n    if (!obj) return null;\n    // Caso: Tu estructura actual (content es un array con type: output_text)\n    if (obj.content && Array.isArray(obj.content) && obj.content[0]?.text) {\n        return obj.content[0].text;\n    }\n    // Caso: OpenAI estándar (message.content)\n    if (obj.message && obj.message.content) return obj.message.content;\n    // Caso: Gemini (content.parts[0].text)\n    if (obj.content?.parts?.[0]?.text) return obj.content.parts[0].text;\n    // Caso: Texto directo\n    if (typeof obj.content === 'string') return obj.content;\n    if (obj.output) return obj.output;\n    return null;\n}\n\n// LÓGICA DE BÚSQUEDA (Prioridad por capas)\n\n// Intento 1: Directo (Si es un objeto simple)\nrawText = extractFromObject(inputData);\n\n// Intento 2: Si viene dentro de un array [ { ... } ] o llave '0'\nif (!rawText && (inputData[0] || inputData['0'])) {\n    const level1 = inputData[0] || inputData['0'];\n    rawText = extractFromObject(level1);\n    \n    // Intento 3: Si viene DOBLEMENTE anidado [ [ { ... } ] ] (Tu caso exacto)\n    if (!rawText && (level1[0] || level1['0'])) {\n        const level2 = level1[0] || level1['0'];\n        rawText = extractFromObject(level2);\n    }\n}\n\n// VALIDACIÓN DE ERROR FINAL\nif (!rawText) {\n    // Convertimos a string para ver qué llegó realmente en el error\n    const debug = JSON.stringify(inputData).substring(0, 200);\n    throw new Error(`CRÍTICO: No encontré texto ni buscando en 3 niveles de profundidad. Data recibida: ${debug}`);\n}\n\n// 2. LIMPIEZA DE FORMATO (Quitar ```json, markdown, etc.)\nlet cleanJson = rawText.toString()\n    .replace(/^```json\\s*/i, '') \n    .replace(/^```\\s*/, '')      \n    .replace(/\\s*```$/, '')      \n    .trim();\n\n// 3. PARSEO A OBJETO JSON\nlet producto = {};\ntry {\n    producto = JSON.parse(cleanJson);\n} catch (e) {\n    const firstBrace = cleanJson.indexOf('{');\n    const lastBrace = cleanJson.lastIndexOf('}');\n    \n    if (firstBrace !== -1 && lastBrace !== -1) {\n        try {\n            let extracted = cleanJson.substring(firstBrace, lastBrace + 1);\n            producto = JSON.parse(extracted);\n        } catch (e2) {\n             throw new Error(\"Texto encontrado pero JSON inválido: \" + cleanJson);\n        }\n    } else {\n        throw new Error(\"El texto encontrado no parece un JSON: \" + cleanJson.substring(0, 50));\n    }\n}\n\n// 4. NORMALIZACIÓN\nconst resultadoFinal = {\n    tipo_producto: producto.tipo_producto || \"Articulo\",\n    titulo: producto.titulo_nombre || producto.nombre || producto.titulo || \"Producto Desconocido\",\n    autor_marca: producto.autor_marca || producto.marca || producto.autor || \"Generico\",\n    isbn_ean: producto.isbn_ean || producto.codigo || producto.isbn || null,\n    descripcion: producto.descripcion_visual || producto.descripcion || \"\",\n    origen_dato: \"IA Vision\",\n    fecha_procesado: new Date().toISOString()\n};\n\nreturn { json: resultadoFinal };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,832],"id":"de4405fd-d9a6-47bd-a5a9-f443138f39af","name":"Parse and Structure Data"},{"parameters":{"jsCode":"// Recorremos los items por si manejas varios archivos a la vez\nfor (const item of items) {\n  if (item.binary && item.binary.data) {\n    // Forzamos el tipo MIME a un formato soportado\n    // CAMBIA 'image/png' a 'image/jpeg' si estás usando JPGs\n    item.binary.data.mimeType = 'image/png';\n    \n    // Opcional: Asegurar que la extensión coincida\n    item.binary.data.fileExtension = 'png';\n    item.binary.data.fileName = 'imagen_corregida.png';\n  }\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-256,832],"id":"02c89ae1-1050-4fe7-bfb5-43c2306db251","name":"Code in JavaScript"},{"parameters":{"url":"=https://www.googleapis.com/books/v1/volumes","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"=intitle:{{ $json.titulo.trim() }}"},{"name":"key","value":"AIzaSyBXlYqewJyIs1nfRICW6T43ZqtjLAJA6HI"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1280,640],"id":"0795ada9-483a-481f-806a-e099762839f9","name":"HTTP Request1","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"alwaysOutputData":true},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"=Actúa como un experto catalogador de inventario para una tienda híbrida (Librería Católica + Tienda de Regalos + Alimentos Artesanales). Tu misión es clasificar la imagen y extraer datos JSON estructurados.\n\nPASO 1: CLASIFICACIÓN DEL PRODUCTO\nAnaliza la imagen y decide qué es:\n- \"Libro\": Si ves encuadernación, portada de papel, ISBN o autores.\n- \"Alimento\": Si ves frascos, bolsas, botellas, etiquetas de \"Información Nutricional\", sellos de \"Exceso de Calorías/Azúcares\" o palabras como Miel, Café, Galletas.\n- \"Articulo\": Si ves objetos religiosos (cruces, rosarios), joyería (pulseras) o artesanías sin texto comercial evidente.\n\nPASO 2: REGLAS DE EXTRACCIÓN SEGÚN TIPO\n\n--- SI ES UN LIBRO ---\n- Titulo: El texto principal de la portada.\n- Autor: Nombre de la persona (Ej: \"Dino de Carolis\", \"Grant Cardone\"). Si no hay, usa \"Anónimo\".\n- ISBN_EAN: Busca el código numérico (978...). Si no se ve, devuelve \"PENDIENTE\".\n- Descripción: Tema del libro (Ej: \"Biografía de Santa María Goretti\").\n\n--- SI ES UN ALIMENTO (Ej: Miel, Dulces) ---\n- Titulo: Nombre del producto + Sabor/Variante. (Ej: \"Miel de Abeja con Cacao\", \"Galletas de Avena\").\n- Autor: Aquí pon la MARCA del producto (Ej: \"Librería...\", \"San Pablo\", o lo que diga la etiqueta). Si no tiene marca, usa \"Artesanal\".\n- ISBN_EAN: Busca código de barras. Si no tiene, devuelve \"GEN_ALIMENTO\".\n- Descripción: Tipo de envase y contenido neto si es visible (Ej: \"Frasco de vidrio 390g\").\n\n--- SI ES UN ARTÍCULO (Ej: Joyas, Cruces) ---\n- Titulo: Descripción visual corta (Ej: \"Pulsera azul con cruz\", \"Cruz esmaltada roja del Espíritu Santo\").\n- Autor: Usa \"Genérico\".\n- ISBN_EAN: Devuelve \"GEN_OBJETO\".\n- Descripción: Material y color (Ej: \"Metal esmaltado rojo\", \"Cuentas de plástico azul\").\n\nPASO 3: FORMATO DE SALIDA (JSON ÚNICO)\nResponde SOLO con este objeto JSON:\n\n{\n  \"titulo\": \"String\",\n  \"autor\": \"String (Autor para libros, Marca para alimentos)\",\n  \"isbn_ean\": \"String (Código real o los códigos GEN_ indicados)\",\n  \"descripcion\": \"String\",\n  \"tipo_producto\": \"Libro\", \"Alimento\" o \"Articulo\"\n}","inputType":"base64","options":{"detail":"high"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[-32,832],"id":"dd1d0a52-af21-4446-a0d6-dee0ced761da","name":"Analyze Image with AI1","retryOnFail":true,"credentials":{"openAiApi":{"id":"bJgGA8hIumaSAysH","name":"KiroxON|OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"772921d1-4cbd-4fc4-9c82-031f84c95b89","name":"titulo","value":"={{ $json.items && $json.items[0] ? $json.items[0].volumeInfo.title : $('Code in JavaScript1').item.json.titulo }}","type":"string"},{"id":"60633fff-8fe8-45ad-adb7-91aceaa502ab","name":"autor","value":"={{ $json.items && $json.items[0] ? $json.items[0].volumeInfo.authors[0] : $('Code in JavaScript1').item.json.autor_marca }}","type":"string"},{"id":"884c7144-04a4-47f8-978c-f4bf9e7bfb6d","name":"isbn_ean","value":"={{ $('HTTP Request1').item.json.items[0].volumeInfo.industryIdentifiers[0].identifier }}","type":"string"},{"id":"e42cc90b-96c2-4531-84c5-45eddfffabdd","name":"descripcion","value":"={{ $json.items && $json.items[0] ? $json.items[0].volumeInfo.description : $('Code in JavaScript1').item.json.descripcion }}","type":"string"},{"id":"3064560c-a089-4968-af55-b76efdfc2dde","name":"foto_url","value":"={{ $json.items && $json.items[0] && $json.items[0].volumeInfo.imageLinks ? $json.items[0].volumeInfo.imageLinks.thumbnail : \"\" }}","type":"string"},{"id":"819cb9f8-7136-4457-93df-d23a16ddc290","name":"tipo_producto","value":"Libro","type":"string"},{"id":"1892b5aa-2949-4ba8-9832-185cbe8363a6","name":"origen","value":"Google API","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1952,640],"id":"0ac8183f-1875-4d91-90a3-26adf0136114","name":"Edit Fields1"},{"parameters":{"inputSource":"passthrough"},"id":"3fa598d1-22c8-4730-be4c-5ce0aab56096","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-1152,832]},{"parameters":{"content":"## 🇪🇸 Subsistema: Escáner IA (Vision)\nPropósito: Identificar productos por foto.\nStack: GPT-4o-mini (Vision) + Google Books API.\nSalida: JSON estructurado (Título, ISBN, Autor).\n🇺🇸 English:\nSubsystem: AI Scanner (Vision)\nPurpose: Identify products via photo.\nStack: GPT-4o-mini (Vision) + Google Books API.\nOutput: Structured JSON (Title, ISBN, Author).","height":384,"width":320},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1552,752],"id":"3e034933-be68-4a8f-af1d-2285bd905d39","name":"Sticky Note"},{"parameters":{"content":"## 🇪🇸 Prompt de Ingeniería:\nActúa como bibliotecario experto. Extrae Título, Autor e ISBN. Retorna JSON puro.\n\n🇺🇸 English:\nPrompt Engineering:\nActs as expert librarian. Extracts Title, Author, ISBN. Returns pure JSON.","height":192,"width":432,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-192,592],"typeVersion":1,"id":"34dba2e8-115a-4433-a280-8f960fbdbd45","name":"Sticky Note1"},{"parameters":{"name":"=foto_{{ $now }}.jpg","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1rznjlcJ-3iVAB_WQeQamAYuXIE8rsHCv","mode":"list","cachedResultName":"Fotos Inventario Altillo ","cachedResultUrl":"https://drive.google.com/drive/folders/1rznjlcJ-3iVAB_WQeQamAYuXIE8rsHCv"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1728,640],"id":"61328285-034c-474d-af09-84da899ea6a6","name":"Upload file","alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"Sht78E6Qgvqib2u5","name":"KiroxON | Drive"}},"onError":"continueRegularOutput"},{"parameters":{"url":"={{ $json.items[1].volumeInfo.imageLinks.smallThumbnail }}","authentication":"predefinedCredentialType","nodeCredentialType":"telegramApi","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1504,640],"id":"a4a0a98f-5f05-4e69-89af-c8f1fcea6f05","name":"Download Image1","alwaysOutputData":true,"credentials":{"telegramApi":{"id":"nWEbT4EZ2Xeosuah","name":"Inventario Altillo"}},"onError":"continueRegularOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"leftValue":"={{ $json.tipo_producto }}","rightValue":"Libro","operator":{"type":"string","operation":"equals"},"id":"a73d6637-4824-4651-8e35-fe469a5bc290"}],"combinator":"and"},"renameOutput":true,"outputKey":"Libro"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"f6515a87-370c-42d8-844a-7d70185c175a","leftValue":"={{ $json.tipo_producto }}","rightValue":"Alimento","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Alimento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"70421cf6-c079-4d25-ac06-7bbc739a0f75","leftValue":"={{ $json.tipo_producto }}","rightValue":"Articulo","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ArticuloArticulo"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1056,816],"id":"2f141c64-8f4c-4f05-9a4f-a96f84b482f0","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"772921d1-4cbd-4fc4-9c82-031f84c95b89","name":"titulo","value":"={{ $('Code in JavaScript1').item.json.titulo }}","type":"string"},{"id":"60633fff-8fe8-45ad-adb7-91aceaa502ab","name":"autor","value":"={{ $('Parse and Structure Data').first().json.autor_marca }}","type":"string"},{"id":"884c7144-04a4-47f8-978c-f4bf9e7bfb6d","name":"isbn_ean","value":"={{ $('Code in JavaScript1').item.json.isbn_ean }}","type":"string"},{"id":"e42cc90b-96c2-4531-84c5-45eddfffabdd","name":"descripcion","value":"={{ $('Parse and Structure Data').first().json.descripcion }}","type":"string"},{"id":"3064560c-a089-4968-af55-b76efdfc2dde","name":"foto_url","value":"={{ \"\" }}","type":"string"},{"id":"819cb9f8-7136-4457-93df-d23a16ddc290","name":"tipo_producto","value":"Alimento","type":"string"},{"id":"1892b5aa-2949-4ba8-9832-185cbe8363a6","name":"origen","value":"={{ $('Code in JavaScript1').item.json.origen_dato }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1952,832],"id":"b6672629-8131-412f-96ee-6602bbbc7449","name":"Edit Fields2"},{"parameters":{"jsCode":"// 1. Datos que vienen de la IA (del nodo Parse)\nconst datosIA = $('Parse and Structure Data').first().json;\n// Aseguramos que haya un título y lo normalizamos (minúsculas y sin espacios extra)\nconst tituloIA = (datosIA.titulo || \"\").toString().toLowerCase().trim();\n\n// 2. Datos del Inventario (todas las filas que bajó el nodo Google Sheets anterior)\nconst inventario = $input.all();\n\n// --- LÓGICA DE BÚSQUEDA INTELIGENTE (\"CONTIENE\") ---\n\n// Buscamos una fila donde el Título del Excel contenga lo que dijo la IA\n// (O al revés, por si la IA fue muy detallada)\nconst productoEncontrado = inventario.find(item => {\n    // Nos saltamos filas vacías si las hay o si no tienen título\n    if (!item.json.Titulo) return false;\n    \n    const tituloDB = item.json.Titulo.toString().toLowerCase().trim();\n    \n    // MAGIA: ¿\"Galletas Oreo\" está dentro de \"Paquete Galletas Oreo\"? -> SÍ\n    // Verificamos si uno contiene al otro\n    return tituloDB.includes(tituloIA) || tituloIA.includes(tituloDB);\n});\n\n// --- GENERACIÓN DE ID ---\n\nif (productoEncontrado && productoEncontrado.json.ISBN_EAN) {\n    // CASO A: ¡YA EXISTE! Usamos el ID que encontramos en el Excel\n    datosIA.isbn_ean = productoEncontrado.json.ISBN_EAN;\n    datosIA.encontrado_por_nombre = true;\n    datosIA.titulo_registrado = productoEncontrado.json.Titulo; // Para referencia\n    \n} else {\n    // CASO B: ES NUEVO (No se encontró coincidencia de nombre)\n    const codigosGenericos = [\"GEN_OBJETO\", \"GEN_ALIMENTO\", \"PENDIENTE\"];\n\n    // Solo generamos ID nuevo si NO tiene uno real (es decir, si es GEN o PENDIENTE)\n    if (codigosGenericos.includes(datosIA.isbn_ean) || !datosIA.isbn_ean) {\n        // Creamos sufijo único\n        const sufijo = Date.now().toString().slice(-6);\n        let prefijo = \"GEN\";\n\n        if (datosIA.tipo_producto === \"Alimento\") prefijo = \"ALIM\";\n        if (datosIA.tipo_producto === \"Articulo\") prefijo = \"ART\";\n        if (datosIA.tipo_producto === \"Libro\")    prefijo = \"LIB\";\n\n        datosIA.isbn_ean = `${prefijo}-${sufijo}`;\n    }\n}\n\n// IMPORTANTE: Devolvemos solo el objeto de la IA (ya corregido con el ID correcto)\nreturn { json: datosIA };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,832],"id":"aeb3f026-711a-4aee-92a4-da59d2e8f32c","name":"Code in JavaScript1"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2176,816],"id":"41a2ca28-6471-4d9e-add0-1962134cd785","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"772921d1-4cbd-4fc4-9c82-031f84c95b89","name":"titulo","value":"={{ $('Parse and Structure Data').first().json.titulo }}","type":"string"},{"id":"60633fff-8fe8-45ad-adb7-91aceaa502ab","name":"autor","value":"=Genérico","type":"string"},{"id":"884c7144-04a4-47f8-978c-f4bf9e7bfb6d","name":"isbn_ean","value":"={{ $json.isbn_ean }}","type":"string"},{"id":"e42cc90b-96c2-4531-84c5-45eddfffabdd","name":"descripcion","value":"={{ $('Parse and Structure Data').first().json.descripcion }}","type":"string"},{"id":"3064560c-a089-4968-af55-b76efdfc2dde","name":"foto_url","value":"={{ \"\" }}","type":"string"},{"id":"819cb9f8-7136-4457-93df-d23a16ddc290","name":"tipo_producto","value":"Articulo","type":"string"},{"id":"1892b5aa-2949-4ba8-9832-185cbe8363a6","name":"origen","value":"Google API","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1952,1024],"id":"284143a9-1f75-4745-86de-351f9023005b","name":"Edit Fields"},{"parameters":{"documentId":{"__rl":true,"value":"1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o","mode":"list","cachedResultName":"Inventario_Maestro_Kirox","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[576,832],"id":"28861003-aad5-4da0-8ceb-434f8ca30fec","name":"Get row(s) in sheet","alwaysOutputData":true,"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"CeDqHOIvpoFnRpuy","name":"Google Sheets account"}}}],"connections":{"Get Photo from Telegram":{"main":[[{"node":"Prepare Image Data","type":"main","index":0}]]},"Prepare Image Data":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Parse and Structure Data":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Analyze Image with AI1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Download Image1","type":"main","index":0}]]},"Analyze Image with AI1":{"main":[[{"node":"Parse and Structure Data","type":"main","index":0}]]},"Start":{"main":[[{"node":"Get Photo from Telegram","type":"main","index":0}]]},"Download Image1":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"HTTP Request1","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Get row(s) in sheet":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Start":[{"json":{"exito":true,"file_id":"AgACAgEAAxkBAAIEhWmJxf6-Bz1CNxac_9tcGFImfK-IAALbC2sbN3FRRJLhFpRYaCxaAQADAgADdwADOgQ","usuario":"Jorge","mensaje_original":"Foto encontrada"},"pairedItem":{"item":0}}]},"versionId":"18c8c39f-bb92-4f79-acbc-2ae889a0ce8c","activeVersionId":"18c8c39f-bb92-4f79-acbc-2ae889a0ce8c","versionCounter":88,"triggerCount":0,"shared":[{"updatedAt":"2026-01-27T13:34:23.047Z","createdAt":"2026-01-27T13:34:23.047Z","role":"workflow:owner","workflowId":"CfXLY0tRytXeFmnx","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-09T12:11:31.000Z","createdAt":"2026-02-09T12:11:29.717Z","versionId":"18c8c39f-bb92-4f79-acbc-2ae889a0ce8c","workflowId":"CfXLY0tRytXeFmnx","nodes":[{"parameters":{"resource":"file","fileId":"={{ $json.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-928,832],"id":"d7bff349-58fe-4575-9499-d777e58c9c37","name":"Get Photo from Telegram","webhookId":"891d498e-9fc8-49a4-92be-c81c024ef252","credentials":{"telegramApi":{"id":"nWEbT4EZ2Xeosuah","name":"Inventario Altillo"}}},{"parameters":{"jsCode":"// 1. Obtenemos la info del archivo (del nodo anterior)\nconst fileInfo = $input.item.json;\n\n// 2. Obtenemos la info del Usuario (del nodo Start)\n// CORRECCIÓN: Usamos la estructura plana que llega de Airtable/Database\nconst startData = $('Start').item.json;\n\nreturn {\n  json: {\n    // Datos del archivo descargado\n    filePath: fileInfo.file_path,\n    fileId: fileInfo.file_id,\n    \n    // Datos del usuario mapeados correctamente desde tu input real\n    chatId: startData[\"Telegram ID\"], \n    userName: startData[\"Usuarios\"] || \"Usuario Desconocido\",\n    \n    // El message_id no viene en Airtable, así que lo dejamos null o generamos uno\n    messageId: null,\n    \n    // Timestamp\n    fecha_proceso: new Date().toISOString()\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-704,832],"id":"9dc8f0f0-1847-4d81-887f-4d6d731c74ff","name":"Prepare Image Data"},{"parameters":{"url":"=https://api.telegram.org/file/bot8550805050:AAHDK8g7UHS72lJOXwQ2QLbKZ15u1xAR1jM/{{ $('Get Photo from Telegram').item.json.result.file_path }}","authentication":"predefinedCredentialType","nodeCredentialType":"telegramApi","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-480,832],"id":"f5db0163-6043-4be7-a0c0-455c027c59a9","name":"Download Image","credentials":{"telegramApi":{"id":"nWEbT4EZ2Xeosuah","name":"Inventario Altillo"}}},{"parameters":{"jsCode":"// --- LIMPIEZA Y ESTRUCTURADO DE PRODUCTO (FOTO) ---\nconst inputData = $input.item.json;\n\n// 1. OBTENCIÓN DE LA RESPUESTA CRUDA (BÚSQUEDA PROFUNDA)\nlet rawText = \"\";\n\n// Función auxiliar para extraer texto si el objeto es el correcto\nfunction extractFromObject(obj) {\n    if (!obj) return null;\n    // Caso: Tu estructura actual (content es un array con type: output_text)\n    if (obj.content && Array.isArray(obj.content) && obj.content[0]?.text) {\n        return obj.content[0].text;\n    }\n    // Caso: OpenAI estándar (message.content)\n    if (obj.message && obj.message.content) return obj.message.content;\n    // Caso: Gemini (content.parts[0].text)\n    if (obj.content?.parts?.[0]?.text) return obj.content.parts[0].text;\n    // Caso: Texto directo\n    if (typeof obj.content === 'string') return obj.content;\n    if (obj.output) return obj.output;\n    return null;\n}\n\n// LÓGICA DE BÚSQUEDA (Prioridad por capas)\n\n// Intento 1: Directo (Si es un objeto simple)\nrawText = extractFromObject(inputData);\n\n// Intento 2: Si viene dentro de un array [ { ... } ] o llave '0'\nif (!rawText && (inputData[0] || inputData['0'])) {\n    const level1 = inputData[0] || inputData['0'];\n    rawText = extractFromObject(level1);\n    \n    // Intento 3: Si viene DOBLEMENTE anidado [ [ { ... } ] ] (Tu caso exacto)\n    if (!rawText && (level1[0] || level1['0'])) {\n        const level2 = level1[0] || level1['0'];\n        rawText = extractFromObject(level2);\n    }\n}\n\n// VALIDACIÓN DE ERROR FINAL\nif (!rawText) {\n    // Convertimos a string para ver qué llegó realmente en el error\n    const debug = JSON.stringify(inputData).substring(0, 200);\n    throw new Error(`CRÍTICO: No encontré texto ni buscando en 3 niveles de profundidad. Data recibida: ${debug}`);\n}\n\n// 2. LIMPIEZA DE FORMATO (Quitar ```json, markdown, etc.)\nlet cleanJson = rawText.toString()\n    .replace(/^```json\\s*/i, '') \n    .replace(/^```\\s*/, '')      \n    .replace(/\\s*```$/, '')      \n    .trim();\n\n// 3. PARSEO A OBJETO JSON\nlet producto = {};\ntry {\n    producto = JSON.parse(cleanJson);\n} catch (e) {\n    const firstBrace = cleanJson.indexOf('{');\n    const lastBrace = cleanJson.lastIndexOf('}');\n    \n    if (firstBrace !== -1 && lastBrace !== -1) {\n        try {\n            let extracted = cleanJson.substring(firstBrace, lastBrace + 1);\n            producto = JSON.parse(extracted);\n        } catch (e2) {\n             throw new Error(\"Texto encontrado pero JSON inválido: \" + cleanJson);\n        }\n    } else {\n        throw new Error(\"El texto encontrado no parece un JSON: \" + cleanJson.substring(0, 50));\n    }\n}\n\n// 4. NORMALIZACIÓN\nconst resultadoFinal = {\n    tipo_producto: producto.tipo_producto || \"Articulo\",\n    titulo: producto.titulo_nombre || producto.nombre || producto.titulo || \"Producto Desconocido\",\n    autor_marca: producto.autor_marca || producto.marca || producto.autor || \"Generico\",\n    isbn_ean: producto.isbn_ean || producto.codigo || producto.isbn || null,\n    descripcion: producto.descripcion_visual || producto.descripcion || \"\",\n    origen_dato: \"IA Vision\",\n    fecha_procesado: new Date().toISOString()\n};\n\nreturn { json: resultadoFinal };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,832],"id":"de4405fd-d9a6-47bd-a5a9-f443138f39af","name":"Parse and Structure Data"},{"parameters":{"jsCode":"// Recorremos los items por si manejas varios archivos a la vez\nfor (const item of items) {\n  if (item.binary && item.binary.data) {\n    // Forzamos el tipo MIME a un formato soportado\n    // CAMBIA 'image/png' a 'image/jpeg' si estás usando JPGs\n    item.binary.data.mimeType = 'image/png';\n    \n    // Opcional: Asegurar que la extensión coincida\n    item.binary.data.fileExtension = 'png';\n    item.binary.data.fileName = 'imagen_corregida.png';\n  }\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-256,832],"id":"02c89ae1-1050-4fe7-bfb5-43c2306db251","name":"Code in JavaScript"},{"parameters":{"url":"=https://www.googleapis.com/books/v1/volumes","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"=intitle:{{ $json.titulo.trim() }}"},{"name":"key","value":"AIzaSyBXlYqewJyIs1nfRICW6T43ZqtjLAJA6HI"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1280,640],"id":"0795ada9-483a-481f-806a-e099762839f9","name":"HTTP Request1","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"alwaysOutputData":true},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"=Actúa como un experto catalogador de inventario para una tienda híbrida (Librería Católica + Tienda de Regalos + Alimentos Artesanales). Tu misión es clasificar la imagen y extraer datos JSON estructurados.\n\nPASO 1: CLASIFICACIÓN DEL PRODUCTO\nAnaliza la imagen y decide qué es:\n- \"Libro\": Si ves encuadernación, portada de papel, ISBN o autores.\n- \"Alimento\": Si ves frascos, bolsas, botellas, etiquetas de \"Información Nutricional\", sellos de \"Exceso de Calorías/Azúcares\" o palabras como Miel, Café, Galletas.\n- \"Articulo\": Si ves objetos religiosos (cruces, rosarios), joyería (pulseras) o artesanías sin texto comercial evidente.\n\nPASO 2: REGLAS DE EXTRACCIÓN SEGÚN TIPO\n\n--- SI ES UN LIBRO ---\n- Titulo: El texto principal de la portada.\n- Autor: Nombre de la persona (Ej: \"Dino de Carolis\", \"Grant Cardone\"). Si no hay, usa \"Anónimo\".\n- ISBN_EAN: Busca el código numérico (978...). Si no se ve, devuelve \"PENDIENTE\".\n- Descripción: Tema del libro (Ej: \"Biografía de Santa María Goretti\").\n\n--- SI ES UN ALIMENTO (Ej: Miel, Dulces) ---\n- Titulo: Nombre del producto + Sabor/Variante. (Ej: \"Miel de Abeja con Cacao\", \"Galletas de Avena\").\n- Autor: Aquí pon la MARCA del producto (Ej: \"Librería...\", \"San Pablo\", o lo que diga la etiqueta). Si no tiene marca, usa \"Artesanal\".\n- ISBN_EAN: Busca código de barras. Si no tiene, devuelve \"GEN_ALIMENTO\".\n- Descripción: Tipo de envase y contenido neto si es visible (Ej: \"Frasco de vidrio 390g\").\n\n--- SI ES UN ARTÍCULO (Ej: Joyas, Cruces) ---\n- Titulo: Descripción visual corta (Ej: \"Pulsera azul con cruz\", \"Cruz esmaltada roja del Espíritu Santo\").\n- Autor: Usa \"Genérico\".\n- ISBN_EAN: Devuelve \"GEN_OBJETO\".\n- Descripción: Material y color (Ej: \"Metal esmaltado rojo\", \"Cuentas de plástico azul\").\n\nPASO 3: FORMATO DE SALIDA (JSON ÚNICO)\nResponde SOLO con este objeto JSON:\n\n{\n  \"titulo\": \"String\",\n  \"autor\": \"String (Autor para libros, Marca para alimentos)\",\n  \"isbn_ean\": \"String (Código real o los códigos GEN_ indicados)\",\n  \"descripcion\": \"String\",\n  \"tipo_producto\": \"Libro\", \"Alimento\" o \"Articulo\"\n}","inputType":"base64","options":{"detail":"high"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[-32,832],"id":"dd1d0a52-af21-4446-a0d6-dee0ced761da","name":"Analyze Image with AI1","retryOnFail":true,"credentials":{"openAiApi":{"id":"bJgGA8hIumaSAysH","name":"KiroxON|OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"772921d1-4cbd-4fc4-9c82-031f84c95b89","name":"titulo","value":"={{ $json.items && $json.items[0] ? $json.items[0].volumeInfo.title : $('Code in JavaScript1').item.json.titulo }}","type":"string"},{"id":"60633fff-8fe8-45ad-adb7-91aceaa502ab","name":"autor","value":"={{ $json.items && $json.items[0] ? $json.items[0].volumeInfo.authors[0] : $('Code in JavaScript1').item.json.autor_marca }}","type":"string"},{"id":"884c7144-04a4-47f8-978c-f4bf9e7bfb6d","name":"isbn_ean","value":"={{ $('HTTP Request1').item.json.items[0].volumeInfo.industryIdentifiers[0].identifier }}","type":"string"},{"id":"e42cc90b-96c2-4531-84c5-45eddfffabdd","name":"descripcion","value":"={{ $json.items && $json.items[0] ? $json.items[0].volumeInfo.description : $('Code in JavaScript1').item.json.descripcion }}","type":"string"},{"id":"3064560c-a089-4968-af55-b76efdfc2dde","name":"foto_url","value":"={{ $json.items && $json.items[0] && $json.items[0].volumeInfo.imageLinks ? $json.items[0].volumeInfo.imageLinks.thumbnail : \"\" }}","type":"string"},{"id":"819cb9f8-7136-4457-93df-d23a16ddc290","name":"tipo_producto","value":"Libro","type":"string"},{"id":"1892b5aa-2949-4ba8-9832-185cbe8363a6","name":"origen","value":"Google API","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1952,640],"id":"0ac8183f-1875-4d91-90a3-26adf0136114","name":"Edit Fields1"},{"parameters":{"inputSource":"passthrough"},"id":"3fa598d1-22c8-4730-be4c-5ce0aab56096","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-1152,832]},{"parameters":{"content":"## 🇪🇸 Subsistema: Escáner IA (Vision)\nPropósito: Identificar productos por foto.\nStack: GPT-4o-mini (Vision) + Google Books API.\nSalida: JSON estructurado (Título, ISBN, Autor).\n🇺🇸 English:\nSubsystem: AI Scanner (Vision)\nPurpose: Identify products via photo.\nStack: GPT-4o-mini (Vision) + Google Books API.\nOutput: Structured JSON (Title, ISBN, Author).","height":384,"width":320},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1552,752],"id":"3e034933-be68-4a8f-af1d-2285bd905d39","name":"Sticky Note"},{"parameters":{"content":"## 🇪🇸 Prompt de Ingeniería:\nActúa como bibliotecario experto. Extrae Título, Autor e ISBN. Retorna JSON puro.\n\n🇺🇸 English:\nPrompt Engineering:\nActs as expert librarian. Extracts Title, Author, ISBN. Returns pure JSON.","height":192,"width":432,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-192,592],"typeVersion":1,"id":"34dba2e8-115a-4433-a280-8f960fbdbd45","name":"Sticky Note1"},{"parameters":{"name":"=foto_{{ $now }}.jpg","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1rznjlcJ-3iVAB_WQeQamAYuXIE8rsHCv","mode":"list","cachedResultName":"Fotos Inventario Altillo ","cachedResultUrl":"https://drive.google.com/drive/folders/1rznjlcJ-3iVAB_WQeQamAYuXIE8rsHCv"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1728,640],"id":"61328285-034c-474d-af09-84da899ea6a6","name":"Upload file","alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"Sht78E6Qgvqib2u5","name":"KiroxON | Drive"}},"onError":"continueRegularOutput"},{"parameters":{"url":"={{ $json.items[1].volumeInfo.imageLinks.smallThumbnail }}","authentication":"predefinedCredentialType","nodeCredentialType":"telegramApi","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1504,640],"id":"a4a0a98f-5f05-4e69-89af-c8f1fcea6f05","name":"Download Image1","alwaysOutputData":true,"credentials":{"telegramApi":{"id":"nWEbT4EZ2Xeosuah","name":"Inventario Altillo"}},"onError":"continueRegularOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"leftValue":"={{ $json.tipo_producto }}","rightValue":"Libro","operator":{"type":"string","operation":"equals"},"id":"a73d6637-4824-4651-8e35-fe469a5bc290"}],"combinator":"and"},"renameOutput":true,"outputKey":"Libro"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"f6515a87-370c-42d8-844a-7d70185c175a","leftValue":"={{ $json.tipo_producto }}","rightValue":"Alimento","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Alimento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"70421cf6-c079-4d25-ac06-7bbc739a0f75","leftValue":"={{ $json.tipo_producto }}","rightValue":"Articulo","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ArticuloArticulo"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1056,816],"id":"2f141c64-8f4c-4f05-9a4f-a96f84b482f0","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"772921d1-4cbd-4fc4-9c82-031f84c95b89","name":"titulo","value":"={{ $('Code in JavaScript1').item.json.titulo }}","type":"string"},{"id":"60633fff-8fe8-45ad-adb7-91aceaa502ab","name":"autor","value":"={{ $('Parse and Structure Data').first().json.autor_marca }}","type":"string"},{"id":"884c7144-04a4-47f8-978c-f4bf9e7bfb6d","name":"isbn_ean","value":"={{ $('Code in JavaScript1').item.json.isbn_ean }}","type":"string"},{"id":"e42cc90b-96c2-4531-84c5-45eddfffabdd","name":"descripcion","value":"={{ $('Parse and Structure Data').first().json.descripcion }}","type":"string"},{"id":"3064560c-a089-4968-af55-b76efdfc2dde","name":"foto_url","value":"={{ \"\" }}","type":"string"},{"id":"819cb9f8-7136-4457-93df-d23a16ddc290","name":"tipo_producto","value":"Alimento","type":"string"},{"id":"1892b5aa-2949-4ba8-9832-185cbe8363a6","name":"origen","value":"={{ $('Code in JavaScript1').item.json.origen_dato }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1952,832],"id":"b6672629-8131-412f-96ee-6602bbbc7449","name":"Edit Fields2"},{"parameters":{"jsCode":"// 1. Datos que vienen de la IA (del nodo Parse)\nconst datosIA = $('Parse and Structure Data').first().json;\n// Aseguramos que haya un título y lo normalizamos (minúsculas y sin espacios extra)\nconst tituloIA = (datosIA.titulo || \"\").toString().toLowerCase().trim();\n\n// 2. Datos del Inventario (todas las filas que bajó el nodo Google Sheets anterior)\nconst inventario = $input.all();\n\n// --- LÓGICA DE BÚSQUEDA INTELIGENTE (\"CONTIENE\") ---\n\n// Buscamos una fila donde el Título del Excel contenga lo que dijo la IA\n// (O al revés, por si la IA fue muy detallada)\nconst productoEncontrado = inventario.find(item => {\n    // Nos saltamos filas vacías si las hay o si no tienen título\n    if (!item.json.Titulo) return false;\n    \n    const tituloDB = item.json.Titulo.toString().toLowerCase().trim();\n    \n    // MAGIA: ¿\"Galletas Oreo\" está dentro de \"Paquete Galletas Oreo\"? -> SÍ\n    // Verificamos si uno contiene al otro\n    return tituloDB.includes(tituloIA) || tituloIA.includes(tituloDB);\n});\n\n// --- GENERACIÓN DE ID ---\n\nif (productoEncontrado && productoEncontrado.json.ISBN_EAN) {\n    // CASO A: ¡YA EXISTE! Usamos el ID que encontramos en el Excel\n    datosIA.isbn_ean = productoEncontrado.json.ISBN_EAN;\n    datosIA.encontrado_por_nombre = true;\n    datosIA.titulo_registrado = productoEncontrado.json.Titulo; // Para referencia\n    \n} else {\n    // CASO B: ES NUEVO (No se encontró coincidencia de nombre)\n    const codigosGenericos = [\"GEN_OBJETO\", \"GEN_ALIMENTO\", \"PENDIENTE\"];\n\n    // Solo generamos ID nuevo si NO tiene uno real (es decir, si es GEN o PENDIENTE)\n    if (codigosGenericos.includes(datosIA.isbn_ean) || !datosIA.isbn_ean) {\n        // Creamos sufijo único\n        const sufijo = Date.now().toString().slice(-6);\n        let prefijo = \"GEN\";\n\n        if (datosIA.tipo_producto === \"Alimento\") prefijo = \"ALIM\";\n        if (datosIA.tipo_producto === \"Articulo\") prefijo = \"ART\";\n        if (datosIA.tipo_producto === \"Libro\")    prefijo = \"LIB\";\n\n        datosIA.isbn_ean = `${prefijo}-${sufijo}`;\n    }\n}\n\n// IMPORTANTE: Devolvemos solo el objeto de la IA (ya corregido con el ID correcto)\nreturn { json: datosIA };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,832],"id":"aeb3f026-711a-4aee-92a4-da59d2e8f32c","name":"Code in JavaScript1"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2176,816],"id":"41a2ca28-6471-4d9e-add0-1962134cd785","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"772921d1-4cbd-4fc4-9c82-031f84c95b89","name":"titulo","value":"={{ $('Parse and Structure Data').first().json.titulo }}","type":"string"},{"id":"60633fff-8fe8-45ad-adb7-91aceaa502ab","name":"autor","value":"=Genérico","type":"string"},{"id":"884c7144-04a4-47f8-978c-f4bf9e7bfb6d","name":"isbn_ean","value":"={{ $json.isbn_ean }}","type":"string"},{"id":"e42cc90b-96c2-4531-84c5-45eddfffabdd","name":"descripcion","value":"={{ $('Parse and Structure Data').first().json.descripcion }}","type":"string"},{"id":"3064560c-a089-4968-af55-b76efdfc2dde","name":"foto_url","value":"={{ \"\" }}","type":"string"},{"id":"819cb9f8-7136-4457-93df-d23a16ddc290","name":"tipo_producto","value":"Articulo","type":"string"},{"id":"1892b5aa-2949-4ba8-9832-185cbe8363a6","name":"origen","value":"Google API","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1952,1024],"id":"284143a9-1f75-4745-86de-351f9023005b","name":"Edit Fields"},{"parameters":{"documentId":{"__rl":true,"value":"1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o","mode":"list","cachedResultName":"Inventario_Maestro_Kirox","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[576,832],"id":"28861003-aad5-4da0-8ceb-434f8ca30fec","name":"Get row(s) in sheet","alwaysOutputData":true,"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"CeDqHOIvpoFnRpuy","name":"Google Sheets account"}}}],"connections":{"Get Photo from Telegram":{"main":[[{"node":"Prepare Image Data","type":"main","index":0}]]},"Prepare Image Data":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Parse and Structure Data":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Analyze Image with AI1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Download Image1","type":"main","index":0}]]},"Analyze Image with AI1":{"main":[[{"node":"Parse and Structure Data","type":"main","index":0}]]},"Start":{"main":[[{"node":"Get Photo from Telegram","type":"main","index":0}]]},"Download Image1":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"HTTP Request1","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Get row(s) in sheet":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]}},"authors":"Admin KiroxOn","name":"Version 18c8c39f","description":"","workflowPublishHistory":[{"createdAt":"2026-02-09T12:11:31.420Z","id":121,"workflowId":"CfXLY0tRytXeFmnx","versionId":"18c8c39f-bb92-4f79-acbc-2ae889a0ce8c","event":"activated","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629"}]}}