workflows_BACKUP/F1 Bernardo _ NuevoReferido--YL3tGlIxXevhhOL3.json
{"updatedAt":"2026-01-30T02:46:48.980Z","createdAt":"2026-01-05T05:00:13.766Z","id":"YL3tGlIxXevhhOL3","name":"F1 Bernardo | NuevoReferido","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"search","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"filterByFormula":"=OR({Whatsapp (Cel)} =  {{ $('Registro Nuevo Referido').item.json['¿Cuál es tu celular a 10 dígitos? Asegúrate de ponerlo correctamente, porque así vincularemos a tu referido'] }},\n  {Mail}= '{{ $('Registro Nuevo Referido').item.json['¿Cuál es tu mail?'] }}'\n)","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2304,5152],"id":"57a62ab8-3a9b-4534-bdeb-f24e080ffa62","name":"Data: Dueño del Referido","alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"filterByFormula":"=AND({Estatus} = 'Nuevo', \n    {Aviso} = 'No', \n    OR(  \n      {Whatsapp (Cel)}= {{ $('Nuevo referido').item.json.fields['Whatsapp (Cel)'] }},\n        {Mail} = '{{ $('Nuevo referido').item.json.fields.Mail }}'\n    )\n)","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1648,5152],"id":"ee2b062e-49e9-4d67-9ffd-ec0bea81022e","name":"Data: Referido","alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"assignments":{"assignments":[{"id":"61388f65-f383-4b98-9d4b-6f7a5fe9ae68","name":"Nombre Referido","value":"={{ $('Data: Referido').item.json['Nombre Completo'] }}","type":"string"},{"id":"1d992d6e-adb4-4469-8cda-7945bede4200","name":"Whatsapp del Referido","value":"={{ $('Data: Referido').item.json['Whatsapp (Cel)'] }}","type":"number"},{"id":"520b9c71-49de-4895-ad31-c5b8a93703f2","name":"email del Referido","value":"={{ $('Data: Referido').item.json.Mail }}","type":"string"},{"id":"69c79eeb-e574-4051-a4ef-017aca35b265","name":"Nombre Dueño del Referido","value":"={{ $('Data: Dueño del Referido').item.json.Nombre }}","type":"string"},{"id":"ebf0ab0c-aeea-47c9-980c-69952753e371","name":"IdDueño","value":"={{ $('Data: Dueño del Referido').item.json.id }}","type":"string"},{"id":"d0525a31-dba8-45ba-a309-326bae141380","name":"Whatsapp del Dueño","value":"={{ $json['Whatsapp (Cel)'] }}","type":"number"},{"id":"4a18d57e-f7b0-43a8-a2a8-2e287262fc6e","name":"mail del dueño del referido","value":"={{ $json.Mail }}","type":"string"},{"id":"e7e6542f-6fa0-4972-8019-6de127a5afdf","name":"TotalReferidosD","value":"={{ $json.TotalReferidos }}","type":"number"},{"id":"a2af551c-2f3c-4ac8-bb61-025f8b275445","name":"Whatsapp Bernardo","value":"={{ $('Datos de Bernardo').item.json.Whatsapp }}","type":"string"},{"id":"fbd8e6ee-9dc2-4393-8f89-279835ba2559","name":"linkReferidos","value":" https://bernardollamas.com/referidos/","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2848,5136],"id":"feed6135-8159-400e-b45f-807fc9f97abc","name":"Variables"},{"parameters":{"content":"## Búsqueda de datos del dueño del referido.\n\nSe busca el dueño del referido filtrando por número y correo electrónico (que se proporcionó en el formulario llenado) La base de datos de este nodo es la de Bernardo.","height":208,"width":320,"color":3},"type":"n8n-nodes-base.stickyNote","position":[2240,4784],"typeVersion":1,"id":"66d99f25-b423-4b29-89fa-60036bb94e58","name":"Sticky Note1"},{"parameters":{"content":"## Aviso a Bernardo\n\nSe le avisa a Bernardo que hay un nuevo registro de referido. \n","color":3},"type":"n8n-nodes-base.stickyNote","position":[3104,4320],"typeVersion":1,"id":"7699c0ff-3c46-4b59-b140-9689d7033633","name":"Sticky Note3"},{"parameters":{"content":"## Búsqueda de datos de Bernardo\n\nSe extraen los datos de Bernardo, como el número celular. La base de este nodo debe ser la de KiroxOn.","height":192,"width":288,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1888,5312],"typeVersion":1,"id":"741ca5d7-18a7-4939-8744-ebd872642392","name":"Sticky Note5"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Data: Dueño del Referido').item.json.id }}","TotalReferidos":"={{ $json.newTotalReferidos }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Apellido","displayName":"Apellido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Whatsapp (Cel)","displayName":"Whatsapp (Cel)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Whatsapp (Validación)","displayName":"Whatsapp (Validación)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Highligts","displayName":"Highligts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Fecha de Nacimiento","displayName":"Fecha de Nacimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Fuma","displayName":"Fuma","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Instrumentos de Ahorro","displayName":"Instrumentos de Ahorro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Rendimientos","displayName":"Rendimientos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Incapacidad","displayName":"Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Seguro de Incapacidad","displayName":"Seguro de Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Hijos","displayName":"Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"0","value":"0"},{"name":"1","value":"1"},{"name":"2","value":"2"},{"name":"3","value":"3"},{"name":"4","value":"4"},{"name":"+5","value":"+5"}],"readOnly":false,"removed":true},{"id":"Educación Hijos","displayName":"Educación Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Plan de retiro","displayName":"Plan de retiro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Qué harían en caso de muerte","displayName":"Qué harían en caso de muerte","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Anotaciones","displayName":"Anotaciones","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Archivos adjuntos","displayName":"Archivos adjuntos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Tares / Eventos","displayName":"Tares / Eventos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Pólizas","displayName":"Pólizas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referidos","displayName":"Referidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referido de","displayName":"Referido de","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Aviso","displayName":"Aviso","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Estatus Actualizado","displayName":"Estatus Actualizado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Registro de nuevo cliente","displayName":"Registro de nuevo cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"TotalReferidos","displayName":"TotalReferidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[3824,5856],"id":"0da13c45-7745-49b2-9b2e-7265b92d76da","name":"Actualizar cantidad de referidos","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n\n  const currentTotal = $input.first().json.TotalReferidosD\n  const newTotal = parseInt(currentTotal) + 1;\n  item.json.newTotalReferidos = newTotal;\n  \n\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3632,5856],"id":"b5e18538-f7eb-475c-9fd9-7cb21520a3cf","name":"CálculoReferidos"},{"parameters":{"content":"## Cálculo Referidos\n\nSe toma la cantidad de referidos que tiene el dueño del referido y se le suma uno. \n","color":3},"type":"n8n-nodes-base.stickyNote","position":[3600,5680],"typeVersion":1,"id":"de0429f9-4b35-48cb-b09e-3c88ba4d9731","name":"Sticky Note6"},{"parameters":{"formTitle":"Referidos","formDescription":"Nuevo Referido","formFields":{"values":[{"fieldLabel":"¿Cuál es tu celular a 10 dígitos? Asegúrate de ponerlo correctamente, porque así vincularemos a tu referido","fieldType":"number","placeholder":"5511223344","requiredField":true},{"fieldLabel":"¿Cuál es tu mail?","fieldType":"email","placeholder":"tumail@dominio.com","requiredField":true},{"fieldLabel":"Nombre de tu referido","placeholder":"Nombre Referido","requiredField":true},{"fieldLabel":"Apellido de tu referido","placeholder":"Apellido Referido","requiredField":true},{"fieldLabel":"Mail de tu referido","fieldType":"email","placeholder":"Mail","requiredField":true},{"fieldLabel":"Celular de tu referido a 10 dígitos","fieldType":"number","placeholder":"5511223344","requiredField":true}]},"options":{"appendAttribution":false,"buttonLabel":"Enviar","respondWithOptions":{"values":{"respondWith":"redirect","redirectUrl":"https://bernardollamas.com/referidos-gracias"}},"ignoreBots":true}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[1104,5152],"id":"5d7cf7e0-fce6-4192-9882-10930282dba1","name":"Registro Nuevo Referido","webhookId":"8ebcbe7f-fb90-43c8-b741-580427e11701"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appoIrpJlprLtsUFF","mode":"list","cachedResultName":"KiroxON Clientes","cachedResultUrl":"https://airtable.com/appoIrpJlprLtsUFF"},"table":{"__rl":true,"value":"tblzPRsNmPuFKgaqp","mode":"list","cachedResultName":"Clientes","cachedResultUrl":"https://airtable.com/appoIrpJlprLtsUFF/tblzPRsNmPuFKgaqp"},"filterByFormula":"{Cliente} = 'Bernardo Llamas'","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1984,5152],"id":"b4087c4d-c7d6-42d8-8976-bea10a8c6b00","name":"Datos de Bernardo","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3072,5136],"id":"248f1e78-53cd-4017-82d8-103fdff240bc","name":"Loop Over Items"},{"parameters":{"operation":"fetch-instances","instanceName":"Bernardo"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3472,4304],"id":"315c1112-bdc5-43e7-ae3f-ad9c41cfee35","name":"Buscar instancia","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Bernardo'] }}","delay":5000},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4064,4288],"id":"db045136-24ae-4a01-928e-dda9602712df","name":"Enviar presencia a Bernardo","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Bernardo'] }}","messageText":"=Hola Bernardo, tenemos un nuevo referido\n\nInformación: \n\nNombre: {{ $('Data: Referido').item.json['Nombre Completo'] }}\nWhatsapp: {{ $('Variables').item.json['Whatsapp del Referido'] }}\nE-mail: {{ $('Variables').item.json['email del Referido'] }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4352,4288],"id":"2a3a13b0-cc67-4d28-9954-e1b218a36306","name":"Enviar mensaje a Bernardo","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"operation":"fetch-instances","instanceName":"Bernardo"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3568,5136],"id":"e150ae5f-e78e-4914-b3be-d33f2e2041d2","name":"Buscar instancia2","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp del Dueño'] }}","delay":5000},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4064,5120],"id":"aa1c2488-ab16-4d3c-b202-8c629512e429","name":"Enviar presencia a Dueño de Referido","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp del Dueño'] }}","messageText":"=¡Hola, {{ $('Variables').item.json['Nombre Dueño del Referido'] }}!\n\nTe confirmamos que has registrado exitosamente a {{ $('Variables').item.json['Nombre Referido'] }} en nuestro Programa de Referidos. ¡Muchas gracias por ponernos en contacto!\n\nRecuerda que aún puedes seguir registrando a tus referidos para seguir ganando grandes recompenzas en el siguiente link: \n\n","options_message":{"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4336,5120],"id":"2affe818-371e-49f1-a62d-7e90de2001d8","name":"Enviar mensaje a dueño de referido","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"columns":{"mappingMode":"defineBelow","value":{"Whatsapp (Cel)":"={{ $json['Celular de tu referido a 10 dígitos'] }}","Nombre":"={{ $json['Nombre de tu referido'] }}","Estatus":"Nuevo","Mail":"={{ $json['Mail de tu referido'] }}","Apellido":"={{ $json['Apellido de tu referido'] }}","DueñoReferido":"={{ $json['¿Cuál es tu celular a 10 dígitos? Asegúrate de ponerlo correctamente, porque así vincularemos a tu referido'] }}"},"matchingColumns":["id"],"schema":[{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Apellido","displayName":"Apellido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":false},{"id":"Pólizas","displayName":"Pólizas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"RFC","displayName":"RFC","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CURP","displayName":"CURP","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Whatsapp (Cel)","displayName":"Whatsapp (Cel)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Whatsapp (Validación)","displayName":"Whatsapp (Validación)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Highligts","displayName":"Highligts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Fecha de Nacimiento","displayName":"Fecha de Nacimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Fuma","displayName":"Fuma","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Instrumentos de Ahorro","displayName":"Instrumentos de Ahorro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Rendimientos","displayName":"Rendimientos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Incapacidad","displayName":"Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Seguro de Incapacidad","displayName":"Seguro de Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Hijos","displayName":"Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"0","value":"0"},{"name":"1","value":"1"},{"name":"2","value":"2"},{"name":"3","value":"3"},{"name":"4","value":"4"},{"name":"+5","value":"+5"}],"readOnly":false,"removed":true},{"id":"Educación Hijos","displayName":"Educación Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Plan de retiro","displayName":"Plan de retiro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Qué harían en caso de muerte","displayName":"Qué harían en caso de muerte","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Archivos adjuntos","displayName":"Archivos adjuntos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referidos","displayName":"Referidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referido de","displayName":"Referido de","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Aviso","displayName":"Aviso","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Estatus Actualizado","displayName":"Estatus Actualizado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Registro de nuevo cliente","displayName":"Registro de nuevo cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"UltimoAvisoRef","displayName":"UltimoAvisoRef","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"AvisoSemana","displayName":"AvisoSemana","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"AvisoMes","displayName":"AvisoMes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"TotalReferidos","displayName":"TotalReferidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"DueñoReferido","displayName":"DueñoReferido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Tarjetas 100","displayName":"Tarjetas 100","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Tarjetas 1000","displayName":"Tarjetas 1000","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1360,5152],"id":"4cf20db6-b95f-4518-a005-346249b36de6","name":"Nuevo referido","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"content":"## Registro de referido\nDespués del llenado de formulario, se registra el referido en la base de datos. La base de este nodo debe ser la de Bernardo.","width":256,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1280,4976],"typeVersion":1,"id":"e195d1f8-42be-4bab-a85a-3fa561130a15","name":"Sticky Note9"},{"parameters":{"content":"## Búsqueda de referido\nDespués de la creación del registro, se verifica su existencia. La base de datos de este nodo es la de Bernardo.","width":272,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1552,5312],"typeVersion":1,"id":"489b2314-e490-47cb-b527-a3d70c1bd8a0","name":"Sticky Note10"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"13f76048-382c-40af-a919-ab75a7f0c0d5","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2592,5152],"id":"a7cb17d4-c0e1-4316-9c33-e8fd17fe5432","name":"If1"},{"parameters":{"content":"## CAMBIAR\nEl correo desde el que se mandan los correos es el de Administración KiroxON. Cambiarlo al de Bernardo.","height":144,"width":256},"type":"n8n-nodes-base.stickyNote","position":[2560,5888],"typeVersion":1,"id":"ce795ead-4fcd-4f7a-a8e4-63ce3de990f2","name":"Sticky Note11"},{"parameters":{"sendTo":"={{ $('Registro Nuevo Referido').item.json['¿Cuál es tu mail?'] }}","subject":"BERNARDO LLAMAS: Error en registro de referido","message":"=¡Hola!\n\nDetectamos un inconveniente al momento de vincular a tu referido contigo y queremos ofrecerte una sincera disculpa por las molestias ocasionadas.\n\nPara poder realizar la vinculación correctamente y hacerte llegar tus premios, te pedimos por favor que te pongas en contacto con nosotros vía correo electrónico (llamasberndr@gmail.com) o mensaje de WhatsApp (55 4578 9732), compartiéndonos tus datos.\n\nCon gusto te apoyaremos para resolverlo a la brevedad.\n\nQuedamos atentos.\n¡Gracias por tu comprensión!\n\nSaludos cordiales,\nEquipo de Atención de Bernardo Llamas","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2624,5488],"id":"c395fa08-40db-4514-8040-8d9f91f5e0e8","name":"Error: no se encontró el dueño del referido","webhookId":"6fe54007-bfce-4558-bdcb-17d319f43099","credentials":{"gmailOAuth2":{"id":"5XjdjaCrgNoMQiXA","name":"KiroxON | Admin"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e4b2770d-6ee9-435a-a8ca-37c5a7c1c76b","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3744,4304],"id":"dab4dce5-9380-4a65-b3a7-9a68a6a9cb72","name":"If3"},{"parameters":{"chatId":"1019249029","text":"BERNARDO | Problema con el aviso de nuevo registro de referido a Bernardo.\nNo se encontró la instancia de Whatsapp en línea. ","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3904,4496],"id":"89745fda-0a4c-45e7-9c04-0fb3cd278e59","name":"Mensaje de error: Aviso a Bernardo","webhookId":"5d9c1eb8-1bd9-4325-9a1c-6255b95aa52e","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e4b2770d-6ee9-435a-a8ca-37c5a7c1c76b","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3776,5136],"id":"d008978f-2767-4bf4-88c0-017182b45d05","name":"If4"},{"parameters":{"chatId":"1019249029","text":"BERNARDO | Problema con el aviso de registro al Dueño del Referido\nNo se encontró la instancia de Whatsapp en línea. ","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3824,5424],"id":"a6e1e6ba-3690-430a-9fd8-c8a403ad9900","name":"Mensaje de error: Aviso a Dueño de Referido","webhookId":"5d9c1eb8-1bd9-4325-9a1c-6255b95aa52e","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp del Dueño'] }}","messageText":"={{ $('Variables').item.json.linkReferidos }}\n\n","options_message":{"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4592,5120],"id":"55bf2b2c-781d-45ce-a108-03f83a2f8ef5","name":"Enviar mensaje a dueño de referido1","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"content":"## Aviso al dueño del Referido\n","height":80,"color":3},"type":"n8n-nodes-base.stickyNote","position":[3232,5248],"typeVersion":1,"id":"d1708646-3873-4a9d-b160-637dcc6bd8e3","name":"Sticky Note"},{"parameters":{"content":"## Verificar\nQue en la base de datos de clientes de KiroxON esté el cel de Bernardo no el de Prueba. "},"type":"n8n-nodes-base.stickyNote","position":[2816,5296],"typeVersion":1,"id":"24f30d0a-c57b-4df4-a9eb-56a19617beb4","name":"Sticky Note13"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1440,7344],"id":"874f945e-91d1-4124-8e9f-d65383854a19","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appoIrpJlprLtsUFF","mode":"list","cachedResultName":"KiroxON Clientes","cachedResultUrl":"https://airtable.com/appoIrpJlprLtsUFF"},"table":{"__rl":true,"value":"tblzPRsNmPuFKgaqp","mode":"list","cachedResultName":"Clientes","cachedResultUrl":"https://airtable.com/appoIrpJlprLtsUFF/tblzPRsNmPuFKgaqp"},"filterByFormula":"{Cliente} = 'Bernardo Llamas'","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1968,7408],"id":"11d232ca-1570-48f7-908c-f99fa78e70fb","name":"Datos de Bernardo1","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"filterByFormula":"AND({Estatus} = 'Nuevo',      {Aviso} = 'No')","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1680,7408],"id":"0fe604ba-f7a7-4323-84b8-e72e7ff31a37","name":"Datos del referido","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"content":"## Formulario de interno","height":80,"width":384,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1056,7296],"typeVersion":1,"id":"8218137e-6566-4d6f-969d-3cd249c43492","name":"Sticky Note7"},{"parameters":{"base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"id":"={{ $('Datos del referido').item.json['Referido de'][0] }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2240,7408],"id":"eea0548f-52ff-4bff-bcde-5655d505c63f","name":"Data: Dueño del Referido1","alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"assignments":{"assignments":[{"id":"61388f65-f383-4b98-9d4b-6f7a5fe9ae68","name":"Nombre Referido","value":"={{ $('Datos del referido').item.json.Nombre }}","type":"string"},{"id":"1d992d6e-adb4-4469-8cda-7945bede4200","name":"Whatsapp del Referido","value":"={{ $('Datos del referido').item.json['Whatsapp (Cel)'] }}","type":"number"},{"id":"520b9c71-49de-4895-ad31-c5b8a93703f2","name":"email del Referido","value":"={{ $('Datos del referido').item.json.Mail }}","type":"string"},{"id":"69c79eeb-e574-4051-a4ef-017aca35b265","name":"Nombre Dueño del Referido","value":"={{ $('Data: Dueño del Referido1').item.json.Nombre }}","type":"string"},{"id":"ebf0ab0c-aeea-47c9-980c-69952753e371","name":"IdDueño","value":"={{ $json.id }}","type":"string"},{"id":"d0525a31-dba8-45ba-a309-326bae141380","name":"Whatsapp del Dueño","value":"={{ $json['Whatsapp (Cel)'] }}","type":"number"},{"id":"4a18d57e-f7b0-43a8-a2a8-2e287262fc6e","name":"mail del dueño del referido","value":"={{ $json.Mail }}","type":"string"},{"id":"e7e6542f-6fa0-4972-8019-6de127a5afdf","name":"TotalReferidosD","value":"={{ $json.TotalReferidos }}","type":"number"},{"id":"a2af551c-2f3c-4ac8-bb61-025f8b275445","name":"Whatsapp Bernardo","value":"={{ $('Datos de Bernardo1').item.json.Whatsapp }}","type":"string"},{"id":"fbd8e6ee-9dc2-4393-8f89-279835ba2559","name":"linkReferidos","value":" https://bernardollamas.com/referidos/","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2640,7408],"id":"12e3e77b-e91f-4e87-9671-ed03b042093a","name":"Variables1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3024,7408],"id":"754a6d4b-76c0-4a5b-9d8b-bff142059e8d","name":"Loop Over Items1"},{"parameters":{"operation":"fetch-instances","instanceName":"Bernardo"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3456,7904],"id":"8aeb86f1-635f-4bb8-becb-b5a88106389c","name":"Buscar instancia3","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables1').item.json['Whatsapp Bernardo'] }}","delay":5000},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4176,7888],"id":"d266b540-79fd-47d2-b83b-14a2862a2d79","name":"Enviar presencia a Bernardo1","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables1').item.json['Whatsapp Bernardo'] }}","messageText":"=¡Se detectó un nuevo registro!\n\nInformación: \n\nNombre: {{ $('Datos del referido').item.json['Nombre Completo'] }}\nWhatsapp: {{ $('Variables1').item.json['Whatsapp del Referido'] }}\nE-mail: {{ $('Variables1').item.json['email del Referido'] }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4464,7888],"id":"f214c8c5-759d-484c-a890-9e44b2658161","name":"Enviar mensaje a Bernardo1","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e4b2770d-6ee9-435a-a8ca-37c5a7c1c76b","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3792,7904],"id":"b7f150e2-83a5-420b-9c51-3969cb955883","name":"If5"},{"parameters":{"chatId":"1019249029","text":"BERNARDO | Problema con el aviso de nuevo registro de referido a Bernardo.\nNo se encontró la instancia en línea. ","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3808,8176],"id":"bc82ce02-81a1-42a0-a843-1c15b2ef499b","name":"Mensaje de error: Aviso a Bernardo1","webhookId":"5d9c1eb8-1bd9-4325-9a1c-6255b95aa52e","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Datos del referido').item.json.id }}","Aviso":"Sí"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Apellido","displayName":"Apellido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Whatsapp (Cel)","displayName":"Whatsapp (Cel)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Whatsapp (Validación)","displayName":"Whatsapp (Validación)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Highligts","displayName":"Highligts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Fecha de Nacimiento","displayName":"Fecha de Nacimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Fuma","displayName":"Fuma","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Instrumentos de Ahorro","displayName":"Instrumentos de Ahorro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Rendimientos","displayName":"Rendimientos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Incapacidad","displayName":"Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Seguro de Incapacidad","displayName":"Seguro de Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Hijos","displayName":"Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"0","value":"0"},{"name":"1","value":"1"},{"name":"2","value":"2"},{"name":"3","value":"3"},{"name":"4","value":"4"},{"name":"+5","value":"+5"}],"readOnly":false,"removed":true},{"id":"Educación Hijos","displayName":"Educación Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Plan de retiro","displayName":"Plan de retiro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Qué harían en caso de muerte","displayName":"Qué harían en caso de muerte","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Anotaciones","displayName":"Anotaciones","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Archivos adjuntos","displayName":"Archivos adjuntos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Tares / Eventos","displayName":"Tares / Eventos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Pólizas","displayName":"Pólizas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referidos","displayName":"Referidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referido de","displayName":"Referido de","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Aviso","displayName":"Aviso","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":false},{"id":"Estatus Actualizado","displayName":"Estatus Actualizado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Registro de nuevo cliente","displayName":"Registro de nuevo cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"UltimoAvisoRef","displayName":"UltimoAvisoRef","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"AvisoSemana","displayName":"AvisoSemana","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"AvisoMes","displayName":"AvisoMes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"TotalReferidos","displayName":"TotalReferidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"DueñoReferido","displayName":"DueñoReferido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[4704,7888],"id":"5c3d45a4-c8c7-4d45-8617-b44bb1859daf","name":"Update record","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"operation":"fetch-instances","instanceName":"Bernardo"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3568,7088],"id":"11e5e94a-b143-4d96-b28a-97a950def66f","name":"Buscar instancia4","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables1').item.json['Whatsapp del Dueño'] }}","delay":5000},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4288,7072],"id":"c0061c83-893c-423e-b277-ec1f7d26c108","name":"Enviar presencia a Dueño de Referido1","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables1').item.json['Whatsapp del Dueño'] }}","messageText":"=¡Hola {{ $('Variables1').item.json['Nombre Dueño del Referido'] }}!\n\nTe informamos que {{ $('Variables1').item.json['Nombre Referido'] }} se ha registrado en nuestro Programa de Referidos. ¡Muchas gracias por ponernos en contacto!\n\nRecuerda que aún puedes seguir registrando a tus referidos para ganar grandes recompenzas en el siguiente link: \n\n","options_message":{"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4688,7072],"id":"f349fe30-3e9f-401f-8bc0-65c1b419f269","name":"Enviar mensaje a dueño de referido2","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e4b2770d-6ee9-435a-a8ca-37c5a7c1c76b","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3872,7088],"id":"6249d875-3c34-4886-94ae-3f8610b3c21e","name":"If6"},{"parameters":{"chatId":"1019249029","text":"BERNARDO | Problema con el aviso de registro al Dueño del Referido\nNo se encontró la instancia en línea. ","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4032,7216],"id":"ecbca7ac-5e46-4c34-b31d-1124b8500a96","name":"Mensaje de error: Aviso a Dueño de Referido1","webhookId":"5d9c1eb8-1bd9-4325-9a1c-6255b95aa52e","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables1').item.json['Whatsapp del Dueño'] }}","messageText":"={{ $('Variables1').item.json.linkReferidos }}\n\n","options_message":{"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4992,7072],"id":"b0cc0c18-946f-4e0b-a4ef-71f3f85a9a01","name":"Enviar mensaje a dueño de referido3","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"content":"## Aviso al dueño del Referido\n","height":96,"color":3},"type":"n8n-nodes-base.stickyNote","position":[3200,7072],"typeVersion":1,"id":"b60eb7bf-b079-499b-99f7-aac6ce2d6081","name":"Sticky Note14"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Data: Dueño del Referido1').item.json.id }}","TotalReferidos":"={{ $json.newTotalReferidos }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Apellido","displayName":"Apellido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Whatsapp (Cel)","displayName":"Whatsapp (Cel)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Whatsapp (Validación)","displayName":"Whatsapp (Validación)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Highligts","displayName":"Highligts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Fecha de Nacimiento","displayName":"Fecha de Nacimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Fuma","displayName":"Fuma","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Instrumentos de Ahorro","displayName":"Instrumentos de Ahorro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Rendimientos","displayName":"Rendimientos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Incapacidad","displayName":"Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Seguro de Incapacidad","displayName":"Seguro de Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Hijos","displayName":"Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"0","value":"0"},{"name":"1","value":"1"},{"name":"2","value":"2"},{"name":"3","value":"3"},{"name":"4","value":"4"},{"name":"+5","value":"+5"}],"readOnly":false,"removed":true},{"id":"Educación Hijos","displayName":"Educación Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Plan de retiro","displayName":"Plan de retiro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Qué harían en caso de muerte","displayName":"Qué harían en caso de muerte","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Anotaciones","displayName":"Anotaciones","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Archivos adjuntos","displayName":"Archivos adjuntos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Tares / Eventos","displayName":"Tares / Eventos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Pólizas","displayName":"Pólizas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referidos","displayName":"Referidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referido de","displayName":"Referido de","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Aviso","displayName":"Aviso","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Estatus Actualizado","displayName":"Estatus Actualizado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Registro de nuevo cliente","displayName":"Registro de nuevo cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"TotalReferidos","displayName":"TotalReferidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2864,8064],"id":"82e39bda-9f83-4179-99f0-ced9fd07520f","name":"Actualizar cantidad de referidos1","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n\n  const currentTotal = $input.first().json.TotalReferidosD\n  const newTotal = parseInt(currentTotal) + 1;\n  item.json.newTotalReferidos = newTotal;\n  \n\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2848,7792],"id":"f41272ae-9ecf-49db-81fd-23ec219bc1e8","name":"CálculoReferidos1"},{"parameters":{"content":"## Aviso a Bernardo\n\n","height":80,"color":3},"type":"n8n-nodes-base.stickyNote","position":[3152,7792],"typeVersion":1,"id":"74c0619a-b028-4bf6-9592-3ea4b8b8b127","name":"Sticky Note16"},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[1440,7520],"id":"1af0c363-f33e-4fe4-b551-a8fdbfd359e9","name":"Schedule Trigger"},{"parameters":{"content":"## Formulario de página","height":80,"width":384,"color":6},"type":"n8n-nodes-base.stickyNote","position":[720,5152],"typeVersion":1,"id":"53e452e5-a773-4373-9c88-bb579acbe821","name":"Sticky Note12"},{"parameters":{"content":"## CAMBIAR\nActualmente se encuentran ingresados datos de Prueba. Cambiar los datos del cliente de Prueba a los de Bernardo para que la notificación de nuevo registro le llegue a Bernardo.  ","height":192,"width":288},"type":"n8n-nodes-base.stickyNote","position":[1888,5520],"typeVersion":1,"id":"88cd7fca-cd15-4c28-902e-3b6c6d557675","name":"Sticky Note17"},{"parameters":{"content":"## Notificación de error\n\nSi no se encuentra el dueño del referido mediante los datos ingresados por el usuario (correo/cel), se le invita a comunicarse con Bernardo.","width":320,"color":3},"type":"n8n-nodes-base.stickyNote","position":[2544,5696],"typeVersion":1,"id":"ab7117aa-1c43-4c03-ae13-37690ce7bca5","name":"Sticky Note18"},{"parameters":{"content":"## Se establecen variables para el envío de notificaciones.\n\nInformación:\n- Nombre, cel y mail del nuevo referido\n- Nombre, cel y mail del dueño del referido. \n- Cel de Bernardo\n","height":208,"width":368,"color":3},"type":"n8n-nodes-base.stickyNote","position":[2784,4896],"typeVersion":1,"id":"29c3d145-8335-4bb1-94b9-47d45a0923fb","name":"Sticky Note2"},{"parameters":{"content":"## Se verifica que la instancia de Whatsapp esté en línea\n\nSe verifica que la instancia de Whatsapp esté en línea. Si lo está se envía presencia, sino se manda mensaje de error a telegram.\n","height":176,"width":384,"color":3},"type":"n8n-nodes-base.stickyNote","position":[3424,4096],"typeVersion":1,"id":"12e2f49b-986d-4bbc-9308-258e97ee0160","name":"Sticky Note8"},{"parameters":{"content":"## Si no se encuentra la instancia de Whatsapp en línea, se manda un mensaje de error a telegram. ","height":176,"width":320,"color":3},"type":"n8n-nodes-base.stickyNote","position":[4096,4496],"typeVersion":1,"id":"02ce1a4f-d86e-49c2-b54b-4203ce3b537d","name":"Sticky Note19"},{"parameters":{"content":"## Se manda presencia al número de Bernardo \n\nCon la finalidad de imitar el comportamiento humano, se le manda presencia al número de Bernardo, en la conversación aparecerá como: escribiendo.","height":192,"width":336,"color":3},"type":"n8n-nodes-base.stickyNote","position":[3888,4080],"typeVersion":1,"id":"dd4aa4e6-7cf3-4c4c-aaa0-bac360349b2c","name":"Sticky Note20"},{"parameters":{"content":"## Se manda aviso a Bernardo\nSobre nuevo registro de referidos.","height":112,"width":304,"color":3},"type":"n8n-nodes-base.stickyNote","position":[4352,4128],"typeVersion":1,"id":"9705a6dd-55f0-489d-8919-7eb638e5bcc8","name":"Sticky Note21"},{"parameters":{"content":"## Si no se encuentra la instancia de Whatsapp en línea, se manda un mensaje de error a telegram. ","height":176,"width":320,"color":3},"type":"n8n-nodes-base.stickyNote","position":[4016,5392],"typeVersion":1,"id":"4276edaa-a380-4338-a640-331a8066e7b7","name":"Sticky Note22"},{"parameters":{"content":"## Se verifica que la instancia de Whatsapp esté en línea\n\nSe verifica que la instancia de Whatsapp esté en línea. Si lo está se envía presencia, sino se manda mensaje de error a telegram.\n","height":176,"width":384,"color":3},"type":"n8n-nodes-base.stickyNote","position":[3472,4976],"typeVersion":1,"id":"7d203439-9342-40b7-ba70-3a38feda64ba","name":"Sticky Note23"},{"parameters":{"content":"## Se manda presencia al número del Dueño del Referido\n\nCon la finalidad de imitar el comportamiento humano, se le manda presencia al número del Dueño del Referido, en la conversación aparecerá como: escribiendo.","height":224,"width":368,"color":3},"type":"n8n-nodes-base.stickyNote","position":[3984,4864],"typeVersion":1,"id":"7e5f946a-48b7-4bb7-88ae-2f65231cc7dc","name":"Sticky Note24"},{"parameters":{"content":"## Se manda aviso al Dueño del Referido\nSobre nuevo registro de referidos.","height":112,"width":304,"color":3},"type":"n8n-nodes-base.stickyNote","position":[4496,4960],"typeVersion":1,"id":"f0ac26db-688f-4c3b-b847-cf1d81da7f46","name":"Sticky Note25"},{"parameters":{"content":"## Se busca al referido \nEl nuevo referido será filtrado por: \n\n{Estatus} = 'Nuevo' y      {Aviso} = 'No'\nLa base de datos es la de Bernardo","width":288,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1648,7568],"typeVersion":1,"id":"5f475423-4039-4eb7-8305-1f4657f41afb","name":"Sticky Note26"},{"parameters":{"content":"## Búsqueda de datos de Bernardo\n\nSe extraen los datos de Bernardo, como el número celular. La base de este nodo debe ser la de KiroxOn.","height":192,"width":288,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1888,7040],"typeVersion":1,"id":"54c45ffe-b2cb-4b70-8b88-32ec56601024","name":"Sticky Note27"},{"parameters":{"content":"## Búsqueda de datos del dueño del referido.\n\nSe busca el dueño del referido filtrando por la columna: Referido de: \n\nLa base de datos de este nodo es la de Bernardo.","height":208,"width":320,"color":3},"type":"n8n-nodes-base.stickyNote","position":[2208,7040],"typeVersion":1,"id":"3f255c9b-616c-4ed8-bdb8-dfbc98fb8896","name":"Sticky Note28"},{"parameters":{"content":"## Se establecen variables para el envío de notificaciones.\n\nInformación:\n- Nombre, cel y mail del nuevo referido\n- Nombre, cel y mail del dueño del referido. \n- Cel de Bernardo\n","height":208,"width":368,"color":3},"type":"n8n-nodes-base.stickyNote","position":[2608,7152],"typeVersion":1,"id":"854b5cda-3c93-4d63-a213-450f73e08356","name":"Sticky Note29"},{"parameters":{"content":"## Se verifica que la instancia de Whatsapp esté en línea\n\nSe verifica que la instancia de Whatsapp esté en línea. Si lo está se envía presencia, sino se manda mensaje de error a telegram.\n","height":176,"width":384,"color":3},"type":"n8n-nodes-base.stickyNote","position":[3472,7248],"typeVersion":1,"id":"ea2b07b3-cafb-4fb1-afde-a42871803c32","name":"Sticky Note30"},{"parameters":{"content":"## Si no se encuentra la instancia de Whatsapp en línea, se manda un mensaje de error a telegram. ","height":176,"width":320,"color":3},"type":"n8n-nodes-base.stickyNote","position":[3936,7424],"typeVersion":1,"id":"55562d15-7a8c-4970-9039-e1793a0784f3","name":"Sticky Note31"},{"parameters":{"content":"## CAMBIAR\nActualmente se encuentran ingresados datos de Prueba. Cambiar los datos del cliente de Prueba a los de Bernardo para que la notificación de nuevo registro le llegue a Bernardo.  ","height":192,"width":288},"type":"n8n-nodes-base.stickyNote","position":[1888,7216],"typeVersion":1,"id":"5623d495-b18b-4c90-af96-0fe0e4a0f06f","name":"Sticky Note32"},{"parameters":{"content":"## Se manda presencia al número de Bernardo \n\nCon la finalidad de imitar el comportamiento humano, se le manda presencia al número de Bernardo, en la conversación aparecerá como: escribiendo.","height":192,"width":336,"color":3},"type":"n8n-nodes-base.stickyNote","position":[4096,8096],"typeVersion":1,"id":"989ef553-ca52-4424-ad83-4f041e9f37bb","name":"Sticky Note33"},{"parameters":{"content":"## Se manda aviso al Dueño del Referido\nSobre nuevo registro de referidos.","height":112,"width":304,"color":3},"type":"n8n-nodes-base.stickyNote","position":[4928,6864],"typeVersion":1,"id":"6894a049-b852-4240-841a-27281b3a2a8c","name":"Sticky Note34"},{"parameters":{"content":"## Se manda presencia al número del Dueño del Referido\n\nCon la finalidad de imitar el comportamiento humano, se le manda presencia al número del Dueño del Referido, en la conversación aparecerá como: escribiendo.","height":224,"width":368,"color":3},"type":"n8n-nodes-base.stickyNote","position":[4320,7264],"typeVersion":1,"id":"bd52e96c-d2de-4d72-b28c-1f9fd0506501","name":"Sticky Note35"},{"parameters":{"content":"## Si no se encuentra la instancia de Whatsapp en línea, se manda un mensaje de error a telegram. ","height":176,"width":320,"color":3},"type":"n8n-nodes-base.stickyNote","position":[3712,8400],"typeVersion":1,"id":"bfb99eef-03a2-4cca-af3f-14bd03fd55eb","name":"Sticky Note36"},{"parameters":{"content":"## Se manda aviso a Bernardo\nSobre nuevo registro de referidos.","height":112,"width":304,"color":3},"type":"n8n-nodes-base.stickyNote","position":[4592,7776],"typeVersion":1,"id":"e4508507-5f1a-4a58-bb9b-666d60474456","name":"Sticky Note37"},{"parameters":{"content":"## Actualización de registro\nSe actualiza el nuevo registro después de haber hecho el aviso y dado la bienvenida. \n\nEn el nuevo registro del Referido aparecera en la columna Aviso: Sí","width":336,"color":3},"type":"n8n-nodes-base.stickyNote","position":[4832,8128],"typeVersion":1,"id":"a47bc405-64a0-4d9b-a1fa-19063bf64514","name":"Sticky Note15"},{"parameters":{"content":"## Se verifica que la instancia de Whatsapp esté en línea\n\nSe verifica que la instancia de Whatsapp esté en línea. Si lo está se envía presencia, sino se manda mensaje de error a telegram.\n","height":176,"width":384,"color":3},"type":"n8n-nodes-base.stickyNote","position":[3296,8080],"typeVersion":1,"id":"e94f0513-9f42-433f-98c3-8c1549a17e7c","name":"Sticky Note38"},{"parameters":{"content":"## Cálculo Referidos\n\nSe toma la cantidad de referidos que tiene el dueño del referido y se le suma uno. \n","color":3},"type":"n8n-nodes-base.stickyNote","position":[2528,7968],"typeVersion":1,"id":"bfedd188-2761-45b6-9269-5ba74de6b220","name":"Sticky Note39"},{"parameters":{"content":"## CAMBIAR\nSe tiene que dar de alta el whastapp de Bernardo para mandar este mensaje. \nActualmente está el de KiroxON"},"type":"n8n-nodes-base.stickyNote","position":[3248,5328],"typeVersion":1,"id":"3e42bd75-eb1e-4143-b842-41689e0449b4","name":"Sticky Note40"},{"parameters":{"content":"## CAMBIAR\nSe tiene que dar de alta el whastapp de Bernardo para mandar este mensaje. \nActualmente está el de KiroxON"},"type":"n8n-nodes-base.stickyNote","position":[3200,7168],"typeVersion":1,"id":"724a1d68-489c-463b-8484-55353c1b2066","name":"Sticky Note41"},{"parameters":{"assignments":{"assignments":[{"id":"61388f65-f383-4b98-9d4b-6f7a5fe9ae68","name":"Nombre Referido","value":"={{ $('Data: Referido').item.json['Nombre Completo'] }}","type":"string"},{"id":"1d992d6e-adb4-4469-8cda-7945bede4200","name":"Whatsapp del Referido","value":"={{ $('Data: Referido').item.json['Whatsapp (Cel)'] }}","type":"number"},{"id":"520b9c71-49de-4895-ad31-c5b8a93703f2","name":"email del Referido","value":"={{ $('Data: Referido').item.json.Mail }}","type":"string"},{"id":"69c79eeb-e574-4051-a4ef-017aca35b265","name":"Nombre Dueño del Referido","value":"={{ $('Data: Dueño del Referido').item.json.Nombre }}","type":"string"},{"id":"4a18d57e-f7b0-43a8-a2a8-2e287262fc6e","name":"mail del dueño del referido","value":"={{ $json.Mail }}","type":"string"},{"id":"e7e6542f-6fa0-4972-8019-6de127a5afdf","name":"TotalReferidosD","value":"={{ $json.TotalReferidos }}","type":"number"},{"id":"a2af551c-2f3c-4ac8-bb61-025f8b275445","name":"Whatsapp Bernardo","value":"={{ $('Datos de Bernardo').item.json.Whatsapp }}","type":"string"},{"id":"fbd8e6ee-9dc2-4393-8f89-279835ba2559","name":"linkReferidos","value":" https://bernardollamas.com/referidos/","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2848,5488],"id":"1b89a499-5ccb-47eb-8198-cd16edfa2be7","name":"Variables2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"9aa50541-5d18-4287-8a75-adab327b61e2","leftValue":"IdDueño","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[3312,5152],"id":"bd1d607a-1cc5-4be1-95e4-0250e2519ad2","name":"If"},{"parameters":{"content":"⚠️⚠️⚠️\n## ARREGLAR\nQué pasa si no existe el dueño del referido. ","height":352,"width":320},"type":"n8n-nodes-base.stickyNote","position":[2208,7248],"typeVersion":1,"id":"f8b7a95e-8ae7-45c2-bd3c-9c7a0df9e81e","name":"Sticky Note42"},{"parameters":{"content":"⚠️⚠️⚠️\n## ARREGLAR\nQué pasa si no existe el dueño del referido. ","height":352,"width":320},"type":"n8n-nodes-base.stickyNote","position":[2240,4992],"typeVersion":1,"id":"5c42dca8-20a4-4b81-8fbf-6e0837b949f7","name":"Sticky Note43"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Nuevo referido').item.json.id }}","Aviso":"Sí"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Apellido","displayName":"Apellido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Whatsapp (Cel)","displayName":"Whatsapp (Cel)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Whatsapp (Validación)","displayName":"Whatsapp (Validación)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Highligts","displayName":"Highligts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Fecha de Nacimiento","displayName":"Fecha de Nacimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Fuma","displayName":"Fuma","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Instrumentos de Ahorro","displayName":"Instrumentos de Ahorro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Rendimientos","displayName":"Rendimientos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Incapacidad","displayName":"Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Seguro de Incapacidad","displayName":"Seguro de Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Hijos","displayName":"Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"0","value":"0"},{"name":"1","value":"1"},{"name":"2","value":"2"},{"name":"3","value":"3"},{"name":"4","value":"4"},{"name":"+5","value":"+5"}],"readOnly":false,"removed":true},{"id":"Educación Hijos","displayName":"Educación Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Plan de retiro","displayName":"Plan de retiro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Qué harían en caso de muerte","displayName":"Qué harían en caso de muerte","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Anotaciones","displayName":"Anotaciones","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Archivos adjuntos","displayName":"Archivos adjuntos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Tares / Eventos","displayName":"Tares / Eventos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Pólizas","displayName":"Pólizas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referidos","displayName":"Referidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referido de","displayName":"Referido de","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Aviso","displayName":"Aviso","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":false},{"id":"Estatus Actualizado","displayName":"Estatus Actualizado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Registro de nuevo cliente","displayName":"Registro de nuevo cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"UltimoAvisoRef","displayName":"UltimoAvisoRef","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"AvisoSemana","displayName":"AvisoSemana","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"AvisoMes","displayName":"AvisoMes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"TotalReferidos","displayName":"TotalReferidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"DueñoReferido","displayName":"DueñoReferido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[4576,4288],"id":"7e5bd74a-5b22-4ee1-9f78-135d02f2fdb5","name":"Update record1","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}}],"connections":{"Data: Referido":{"main":[[{"node":"Datos de Bernardo","type":"main","index":0}]]},"Data: Dueño del Referido":{"main":[[{"node":"If1","type":"main","index":0}]]},"Variables":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"CálculoReferidos":{"main":[[{"node":"Actualizar cantidad de referidos","type":"main","index":0}]]},"Registro Nuevo Referido":{"main":[[{"node":"Nuevo referido","type":"main","index":0}]]},"Datos de Bernardo":{"main":[[{"node":"Data: Dueño del Referido","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Buscar instancia","type":"main","index":0},{"node":"If","type":"main","index":0}]]},"Buscar instancia":{"main":[[{"node":"If3","type":"main","index":0}]]},"Enviar presencia a Bernardo":{"main":[[{"node":"Enviar mensaje a Bernardo","type":"main","index":0}]]},"Buscar instancia2":{"main":[[{"node":"If4","type":"main","index":0}]]},"Enviar presencia a Dueño de Referido":{"main":[[{"node":"Enviar mensaje a dueño de referido","type":"main","index":0}]]},"Nuevo referido":{"main":[[{"node":"Data: Referido","type":"main","index":0}]]},"If1":{"main":[[{"node":"Variables","type":"main","index":0}],[{"node":"Error: no se encontró el dueño del referido","type":"main","index":0}]]},"If3":{"main":[[{"node":"Enviar presencia a Bernardo","type":"main","index":0}],[{"node":"Mensaje de error: Aviso a Bernardo","type":"main","index":0}]]},"If4":{"main":[[{"node":"Enviar presencia a Dueño de Referido","type":"main","index":0}],[{"node":"Mensaje de error: Aviso a Dueño de Referido","type":"main","index":0}]]},"Enviar mensaje a dueño de referido":{"main":[[{"node":"Enviar mensaje a dueño de referido1","type":"main","index":0}]]},"Enviar mensaje a Bernardo":{"main":[[{"node":"Update record1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Datos del referido","type":"main","index":0}]]},"Datos del referido":{"main":[[{"node":"Datos de Bernardo1","type":"main","index":0}]]},"Datos de Bernardo1":{"main":[[{"node":"Data: Dueño del Referido1","type":"main","index":0}]]},"Data: Dueño del Referido1":{"main":[[{"node":"Variables1","type":"main","index":0}]]},"Variables1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Buscar instancia3":{"main":[[{"node":"If5","type":"main","index":0}]]},"Enviar presencia a Bernardo1":{"main":[[{"node":"Enviar mensaje a Bernardo1","type":"main","index":0}]]},"Enviar mensaje a Bernardo1":{"main":[[{"node":"Update record","type":"main","index":0}]]},"If5":{"main":[[{"node":"Enviar presencia a Bernardo1","type":"main","index":0}],[{"node":"Mensaje de error: Aviso a Bernardo1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Buscar instancia3","type":"main","index":0},{"node":"Buscar instancia4","type":"main","index":0},{"node":"CálculoReferidos1","type":"main","index":0}]]},"Buscar instancia4":{"main":[[{"node":"If6","type":"main","index":0}]]},"Enviar presencia a Dueño de Referido1":{"main":[[{"node":"Enviar mensaje a dueño de referido2","type":"main","index":0}]]},"Enviar mensaje a dueño de referido2":{"main":[[{"node":"Enviar mensaje a dueño de referido3","type":"main","index":0}]]},"If6":{"main":[[{"node":"Enviar presencia a Dueño de Referido1","type":"main","index":0}],[{"node":"Mensaje de error: Aviso a Dueño de Referido1","type":"main","index":0}]]},"CálculoReferidos1":{"main":[[{"node":"Actualizar cantidad de referidos1","type":"main","index":0}]]},"Update record":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Datos del referido","type":"main","index":0}]]},"Error: no se encontró el dueño del referido":{"main":[[{"node":"Variables2","type":"main","index":0}]]},"If":{"main":[[{"node":"Buscar instancia2","type":"main","index":0},{"node":"CálculoReferidos","type":"main","index":0}]]},"Variables2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"93b7aba0-8bac-48bc-9a57-9809917e3907","activeVersionId":"93b7aba0-8bac-48bc-9a57-9809917e3907","versionCounter":91,"triggerCount":2,"shared":[{"updatedAt":"2026-01-05T05:00:13.771Z","createdAt":"2026-01-05T05:00:13.771Z","role":"workflow:owner","workflowId":"YL3tGlIxXevhhOL3","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-30T02:46:51.000Z","createdAt":"2026-01-30T02:46:48.982Z","versionId":"93b7aba0-8bac-48bc-9a57-9809917e3907","workflowId":"YL3tGlIxXevhhOL3","nodes":[{"parameters":{"operation":"search","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"filterByFormula":"=OR({Whatsapp (Cel)} =  {{ $('Registro Nuevo Referido').item.json['¿Cuál es tu celular a 10 dígitos? Asegúrate de ponerlo correctamente, porque así vincularemos a tu referido'] }},\n  {Mail}= '{{ $('Registro Nuevo Referido').item.json['¿Cuál es tu mail?'] }}'\n)","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2304,5152],"id":"57a62ab8-3a9b-4534-bdeb-f24e080ffa62","name":"Data: Dueño del Referido","alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"filterByFormula":"=AND({Estatus} = 'Nuevo', \n    {Aviso} = 'No', \n    OR(  \n      {Whatsapp (Cel)}= {{ $('Nuevo referido').item.json.fields['Whatsapp (Cel)'] }},\n        {Mail} = '{{ $('Nuevo referido').item.json.fields.Mail }}'\n    )\n)","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1648,5152],"id":"ee2b062e-49e9-4d67-9ffd-ec0bea81022e","name":"Data: Referido","alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"assignments":{"assignments":[{"id":"61388f65-f383-4b98-9d4b-6f7a5fe9ae68","name":"Nombre Referido","value":"={{ $('Data: Referido').item.json['Nombre Completo'] }}","type":"string"},{"id":"1d992d6e-adb4-4469-8cda-7945bede4200","name":"Whatsapp del Referido","value":"={{ $('Data: Referido').item.json['Whatsapp (Cel)'] }}","type":"number"},{"id":"520b9c71-49de-4895-ad31-c5b8a93703f2","name":"email del Referido","value":"={{ $('Data: Referido').item.json.Mail }}","type":"string"},{"id":"69c79eeb-e574-4051-a4ef-017aca35b265","name":"Nombre Dueño del Referido","value":"={{ $('Data: Dueño del Referido').item.json.Nombre }}","type":"string"},{"id":"ebf0ab0c-aeea-47c9-980c-69952753e371","name":"IdDueño","value":"={{ $('Data: Dueño del Referido').item.json.id }}","type":"string"},{"id":"d0525a31-dba8-45ba-a309-326bae141380","name":"Whatsapp del Dueño","value":"={{ $json['Whatsapp (Cel)'] }}","type":"number"},{"id":"4a18d57e-f7b0-43a8-a2a8-2e287262fc6e","name":"mail del dueño del referido","value":"={{ $json.Mail }}","type":"string"},{"id":"e7e6542f-6fa0-4972-8019-6de127a5afdf","name":"TotalReferidosD","value":"={{ $json.TotalReferidos }}","type":"number"},{"id":"a2af551c-2f3c-4ac8-bb61-025f8b275445","name":"Whatsapp Bernardo","value":"={{ $('Datos de Bernardo').item.json.Whatsapp }}","type":"string"},{"id":"fbd8e6ee-9dc2-4393-8f89-279835ba2559","name":"linkReferidos","value":" https://bernardollamas.com/referidos/","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2848,5136],"id":"feed6135-8159-400e-b45f-807fc9f97abc","name":"Variables"},{"parameters":{"content":"## Búsqueda de datos del dueño del referido.\n\nSe busca el dueño del referido filtrando por número y correo electrónico (que se proporcionó en el formulario llenado) La base de datos de este nodo es la de Bernardo.","height":208,"width":320,"color":3},"type":"n8n-nodes-base.stickyNote","position":[2240,4784],"typeVersion":1,"id":"66d99f25-b423-4b29-89fa-60036bb94e58","name":"Sticky Note1"},{"parameters":{"content":"## Aviso a Bernardo\n\nSe le avisa a Bernardo que hay un nuevo registro de referido. \n","color":3},"type":"n8n-nodes-base.stickyNote","position":[3104,4320],"typeVersion":1,"id":"7699c0ff-3c46-4b59-b140-9689d7033633","name":"Sticky Note3"},{"parameters":{"content":"## Búsqueda de datos de Bernardo\n\nSe extraen los datos de Bernardo, como el número celular. La base de este nodo debe ser la de KiroxOn.","height":192,"width":288,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1888,5312],"typeVersion":1,"id":"741ca5d7-18a7-4939-8744-ebd872642392","name":"Sticky Note5"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Data: Dueño del Referido').item.json.id }}","TotalReferidos":"={{ $json.newTotalReferidos }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Apellido","displayName":"Apellido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Whatsapp (Cel)","displayName":"Whatsapp (Cel)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Whatsapp (Validación)","displayName":"Whatsapp (Validación)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Highligts","displayName":"Highligts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Fecha de Nacimiento","displayName":"Fecha de Nacimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Fuma","displayName":"Fuma","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Instrumentos de Ahorro","displayName":"Instrumentos de Ahorro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Rendimientos","displayName":"Rendimientos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Incapacidad","displayName":"Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Seguro de Incapacidad","displayName":"Seguro de Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Hijos","displayName":"Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"0","value":"0"},{"name":"1","value":"1"},{"name":"2","value":"2"},{"name":"3","value":"3"},{"name":"4","value":"4"},{"name":"+5","value":"+5"}],"readOnly":false,"removed":true},{"id":"Educación Hijos","displayName":"Educación Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Plan de retiro","displayName":"Plan de retiro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Qué harían en caso de muerte","displayName":"Qué harían en caso de muerte","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Anotaciones","displayName":"Anotaciones","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Archivos adjuntos","displayName":"Archivos adjuntos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Tares / Eventos","displayName":"Tares / Eventos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Pólizas","displayName":"Pólizas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referidos","displayName":"Referidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referido de","displayName":"Referido de","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Aviso","displayName":"Aviso","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Estatus Actualizado","displayName":"Estatus Actualizado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Registro de nuevo cliente","displayName":"Registro de nuevo cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"TotalReferidos","displayName":"TotalReferidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[3824,5856],"id":"0da13c45-7745-49b2-9b2e-7265b92d76da","name":"Actualizar cantidad de referidos","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n\n  const currentTotal = $input.first().json.TotalReferidosD\n  const newTotal = parseInt(currentTotal) + 1;\n  item.json.newTotalReferidos = newTotal;\n  \n\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3632,5856],"id":"b5e18538-f7eb-475c-9fd9-7cb21520a3cf","name":"CálculoReferidos"},{"parameters":{"content":"## Cálculo Referidos\n\nSe toma la cantidad de referidos que tiene el dueño del referido y se le suma uno. \n","color":3},"type":"n8n-nodes-base.stickyNote","position":[3600,5680],"typeVersion":1,"id":"de0429f9-4b35-48cb-b09e-3c88ba4d9731","name":"Sticky Note6"},{"parameters":{"formTitle":"Referidos","formDescription":"Nuevo Referido","formFields":{"values":[{"fieldLabel":"¿Cuál es tu celular a 10 dígitos? Asegúrate de ponerlo correctamente, porque así vincularemos a tu referido","fieldType":"number","placeholder":"5511223344","requiredField":true},{"fieldLabel":"¿Cuál es tu mail?","fieldType":"email","placeholder":"tumail@dominio.com","requiredField":true},{"fieldLabel":"Nombre de tu referido","placeholder":"Nombre Referido","requiredField":true},{"fieldLabel":"Apellido de tu referido","placeholder":"Apellido Referido","requiredField":true},{"fieldLabel":"Mail de tu referido","fieldType":"email","placeholder":"Mail","requiredField":true},{"fieldLabel":"Celular de tu referido a 10 dígitos","fieldType":"number","placeholder":"5511223344","requiredField":true}]},"options":{"appendAttribution":false,"buttonLabel":"Enviar","respondWithOptions":{"values":{"respondWith":"redirect","redirectUrl":"https://bernardollamas.com/referidos-gracias"}},"ignoreBots":true}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[1104,5152],"id":"5d7cf7e0-fce6-4192-9882-10930282dba1","name":"Registro Nuevo Referido","webhookId":"8ebcbe7f-fb90-43c8-b741-580427e11701"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appoIrpJlprLtsUFF","mode":"list","cachedResultName":"KiroxON Clientes","cachedResultUrl":"https://airtable.com/appoIrpJlprLtsUFF"},"table":{"__rl":true,"value":"tblzPRsNmPuFKgaqp","mode":"list","cachedResultName":"Clientes","cachedResultUrl":"https://airtable.com/appoIrpJlprLtsUFF/tblzPRsNmPuFKgaqp"},"filterByFormula":"{Cliente} = 'Bernardo Llamas'","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1984,5152],"id":"b4087c4d-c7d6-42d8-8976-bea10a8c6b00","name":"Datos de Bernardo","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3072,5136],"id":"248f1e78-53cd-4017-82d8-103fdff240bc","name":"Loop Over Items"},{"parameters":{"operation":"fetch-instances","instanceName":"Bernardo"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3472,4304],"id":"315c1112-bdc5-43e7-ae3f-ad9c41cfee35","name":"Buscar instancia","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Bernardo'] }}","delay":5000},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4064,4288],"id":"db045136-24ae-4a01-928e-dda9602712df","name":"Enviar presencia a Bernardo","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Bernardo'] }}","messageText":"=Hola Bernardo, tenemos un nuevo referido\n\nInformación: \n\nNombre: {{ $('Data: Referido').item.json['Nombre Completo'] }}\nWhatsapp: {{ $('Variables').item.json['Whatsapp del Referido'] }}\nE-mail: {{ $('Variables').item.json['email del Referido'] }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4352,4288],"id":"2a3a13b0-cc67-4d28-9954-e1b218a36306","name":"Enviar mensaje a Bernardo","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"operation":"fetch-instances","instanceName":"Bernardo"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3568,5136],"id":"e150ae5f-e78e-4914-b3be-d33f2e2041d2","name":"Buscar instancia2","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp del Dueño'] }}","delay":5000},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4064,5120],"id":"aa1c2488-ab16-4d3c-b202-8c629512e429","name":"Enviar presencia a Dueño de Referido","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp del Dueño'] }}","messageText":"=¡Hola, {{ $('Variables').item.json['Nombre Dueño del Referido'] }}!\n\nTe confirmamos que has registrado exitosamente a {{ $('Variables').item.json['Nombre Referido'] }} en nuestro Programa de Referidos. ¡Muchas gracias por ponernos en contacto!\n\nRecuerda que aún puedes seguir registrando a tus referidos para seguir ganando grandes recompenzas en el siguiente link: \n\n","options_message":{"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4336,5120],"id":"2affe818-371e-49f1-a62d-7e90de2001d8","name":"Enviar mensaje a dueño de referido","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"columns":{"mappingMode":"defineBelow","value":{"Whatsapp (Cel)":"={{ $json['Celular de tu referido a 10 dígitos'] }}","Nombre":"={{ $json['Nombre de tu referido'] }}","Estatus":"Nuevo","Mail":"={{ $json['Mail de tu referido'] }}","Apellido":"={{ $json['Apellido de tu referido'] }}","DueñoReferido":"={{ $json['¿Cuál es tu celular a 10 dígitos? Asegúrate de ponerlo correctamente, porque así vincularemos a tu referido'] }}"},"matchingColumns":["id"],"schema":[{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Apellido","displayName":"Apellido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":false},{"id":"Pólizas","displayName":"Pólizas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"RFC","displayName":"RFC","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CURP","displayName":"CURP","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Whatsapp (Cel)","displayName":"Whatsapp (Cel)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Whatsapp (Validación)","displayName":"Whatsapp (Validación)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Highligts","displayName":"Highligts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Fecha de Nacimiento","displayName":"Fecha de Nacimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Fuma","displayName":"Fuma","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Instrumentos de Ahorro","displayName":"Instrumentos de Ahorro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Rendimientos","displayName":"Rendimientos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Incapacidad","displayName":"Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Seguro de Incapacidad","displayName":"Seguro de Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Hijos","displayName":"Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"0","value":"0"},{"name":"1","value":"1"},{"name":"2","value":"2"},{"name":"3","value":"3"},{"name":"4","value":"4"},{"name":"+5","value":"+5"}],"readOnly":false,"removed":true},{"id":"Educación Hijos","displayName":"Educación Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Plan de retiro","displayName":"Plan de retiro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Qué harían en caso de muerte","displayName":"Qué harían en caso de muerte","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Archivos adjuntos","displayName":"Archivos adjuntos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referidos","displayName":"Referidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referido de","displayName":"Referido de","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Aviso","displayName":"Aviso","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Estatus Actualizado","displayName":"Estatus Actualizado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Registro de nuevo cliente","displayName":"Registro de nuevo cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"UltimoAvisoRef","displayName":"UltimoAvisoRef","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"AvisoSemana","displayName":"AvisoSemana","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"AvisoMes","displayName":"AvisoMes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"TotalReferidos","displayName":"TotalReferidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"DueñoReferido","displayName":"DueñoReferido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Tarjetas 100","displayName":"Tarjetas 100","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Tarjetas 1000","displayName":"Tarjetas 1000","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1360,5152],"id":"4cf20db6-b95f-4518-a005-346249b36de6","name":"Nuevo referido","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"content":"## Registro de referido\nDespués del llenado de formulario, se registra el referido en la base de datos. La base de este nodo debe ser la de Bernardo.","width":256,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1280,4976],"typeVersion":1,"id":"e195d1f8-42be-4bab-a85a-3fa561130a15","name":"Sticky Note9"},{"parameters":{"content":"## Búsqueda de referido\nDespués de la creación del registro, se verifica su existencia. La base de datos de este nodo es la de Bernardo.","width":272,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1552,5312],"typeVersion":1,"id":"489b2314-e490-47cb-b527-a3d70c1bd8a0","name":"Sticky Note10"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"13f76048-382c-40af-a919-ab75a7f0c0d5","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2592,5152],"id":"a7cb17d4-c0e1-4316-9c33-e8fd17fe5432","name":"If1"},{"parameters":{"content":"## CAMBIAR\nEl correo desde el que se mandan los correos es el de Administración KiroxON. Cambiarlo al de Bernardo.","height":144,"width":256},"type":"n8n-nodes-base.stickyNote","position":[2560,5888],"typeVersion":1,"id":"ce795ead-4fcd-4f7a-a8e4-63ce3de990f2","name":"Sticky Note11"},{"parameters":{"sendTo":"={{ $('Registro Nuevo Referido').item.json['¿Cuál es tu mail?'] }}","subject":"BERNARDO LLAMAS: Error en registro de referido","message":"=¡Hola!\n\nDetectamos un inconveniente al momento de vincular a tu referido contigo y queremos ofrecerte una sincera disculpa por las molestias ocasionadas.\n\nPara poder realizar la vinculación correctamente y hacerte llegar tus premios, te pedimos por favor que te pongas en contacto con nosotros vía correo electrónico (llamasberndr@gmail.com) o mensaje de WhatsApp (55 4578 9732), compartiéndonos tus datos.\n\nCon gusto te apoyaremos para resolverlo a la brevedad.\n\nQuedamos atentos.\n¡Gracias por tu comprensión!\n\nSaludos cordiales,\nEquipo de Atención de Bernardo Llamas","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2624,5488],"id":"c395fa08-40db-4514-8040-8d9f91f5e0e8","name":"Error: no se encontró el dueño del referido","webhookId":"6fe54007-bfce-4558-bdcb-17d319f43099","credentials":{"gmailOAuth2":{"id":"5XjdjaCrgNoMQiXA","name":"KiroxON | Admin"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e4b2770d-6ee9-435a-a8ca-37c5a7c1c76b","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3744,4304],"id":"dab4dce5-9380-4a65-b3a7-9a68a6a9cb72","name":"If3"},{"parameters":{"chatId":"1019249029","text":"BERNARDO | Problema con el aviso de nuevo registro de referido a Bernardo.\nNo se encontró la instancia de Whatsapp en línea. ","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3904,4496],"id":"89745fda-0a4c-45e7-9c04-0fb3cd278e59","name":"Mensaje de error: Aviso a Bernardo","webhookId":"5d9c1eb8-1bd9-4325-9a1c-6255b95aa52e","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e4b2770d-6ee9-435a-a8ca-37c5a7c1c76b","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3776,5136],"id":"d008978f-2767-4bf4-88c0-017182b45d05","name":"If4"},{"parameters":{"chatId":"1019249029","text":"BERNARDO | Problema con el aviso de registro al Dueño del Referido\nNo se encontró la instancia de Whatsapp en línea. ","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3824,5424],"id":"a6e1e6ba-3690-430a-9fd8-c8a403ad9900","name":"Mensaje de error: Aviso a Dueño de Referido","webhookId":"5d9c1eb8-1bd9-4325-9a1c-6255b95aa52e","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp del Dueño'] }}","messageText":"={{ $('Variables').item.json.linkReferidos }}\n\n","options_message":{"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4592,5120],"id":"55bf2b2c-781d-45ce-a108-03f83a2f8ef5","name":"Enviar mensaje a dueño de referido1","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"content":"## Aviso al dueño del Referido\n","height":80,"color":3},"type":"n8n-nodes-base.stickyNote","position":[3232,5248],"typeVersion":1,"id":"d1708646-3873-4a9d-b160-637dcc6bd8e3","name":"Sticky Note"},{"parameters":{"content":"## Verificar\nQue en la base de datos de clientes de KiroxON esté el cel de Bernardo no el de Prueba. "},"type":"n8n-nodes-base.stickyNote","position":[2816,5296],"typeVersion":1,"id":"24f30d0a-c57b-4df4-a9eb-56a19617beb4","name":"Sticky Note13"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1440,7344],"id":"874f945e-91d1-4124-8e9f-d65383854a19","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appoIrpJlprLtsUFF","mode":"list","cachedResultName":"KiroxON Clientes","cachedResultUrl":"https://airtable.com/appoIrpJlprLtsUFF"},"table":{"__rl":true,"value":"tblzPRsNmPuFKgaqp","mode":"list","cachedResultName":"Clientes","cachedResultUrl":"https://airtable.com/appoIrpJlprLtsUFF/tblzPRsNmPuFKgaqp"},"filterByFormula":"{Cliente} = 'Bernardo Llamas'","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1968,7408],"id":"11d232ca-1570-48f7-908c-f99fa78e70fb","name":"Datos de Bernardo1","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"filterByFormula":"AND({Estatus} = 'Nuevo',      {Aviso} = 'No')","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1680,7408],"id":"0fe604ba-f7a7-4323-84b8-e72e7ff31a37","name":"Datos del referido","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"content":"## Formulario de interno","height":80,"width":384,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1056,7296],"typeVersion":1,"id":"8218137e-6566-4d6f-969d-3cd249c43492","name":"Sticky Note7"},{"parameters":{"base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"id":"={{ $('Datos del referido').item.json['Referido de'][0] }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2240,7408],"id":"eea0548f-52ff-4bff-bcde-5655d505c63f","name":"Data: Dueño del Referido1","alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"assignments":{"assignments":[{"id":"61388f65-f383-4b98-9d4b-6f7a5fe9ae68","name":"Nombre Referido","value":"={{ $('Datos del referido').item.json.Nombre }}","type":"string"},{"id":"1d992d6e-adb4-4469-8cda-7945bede4200","name":"Whatsapp del Referido","value":"={{ $('Datos del referido').item.json['Whatsapp (Cel)'] }}","type":"number"},{"id":"520b9c71-49de-4895-ad31-c5b8a93703f2","name":"email del Referido","value":"={{ $('Datos del referido').item.json.Mail }}","type":"string"},{"id":"69c79eeb-e574-4051-a4ef-017aca35b265","name":"Nombre Dueño del Referido","value":"={{ $('Data: Dueño del Referido1').item.json.Nombre }}","type":"string"},{"id":"ebf0ab0c-aeea-47c9-980c-69952753e371","name":"IdDueño","value":"={{ $json.id }}","type":"string"},{"id":"d0525a31-dba8-45ba-a309-326bae141380","name":"Whatsapp del Dueño","value":"={{ $json['Whatsapp (Cel)'] }}","type":"number"},{"id":"4a18d57e-f7b0-43a8-a2a8-2e287262fc6e","name":"mail del dueño del referido","value":"={{ $json.Mail }}","type":"string"},{"id":"e7e6542f-6fa0-4972-8019-6de127a5afdf","name":"TotalReferidosD","value":"={{ $json.TotalReferidos }}","type":"number"},{"id":"a2af551c-2f3c-4ac8-bb61-025f8b275445","name":"Whatsapp Bernardo","value":"={{ $('Datos de Bernardo1').item.json.Whatsapp }}","type":"string"},{"id":"fbd8e6ee-9dc2-4393-8f89-279835ba2559","name":"linkReferidos","value":" https://bernardollamas.com/referidos/","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2640,7408],"id":"12e3e77b-e91f-4e87-9671-ed03b042093a","name":"Variables1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3024,7408],"id":"754a6d4b-76c0-4a5b-9d8b-bff142059e8d","name":"Loop Over Items1"},{"parameters":{"operation":"fetch-instances","instanceName":"Bernardo"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3456,7904],"id":"8aeb86f1-635f-4bb8-becb-b5a88106389c","name":"Buscar instancia3","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables1').item.json['Whatsapp Bernardo'] }}","delay":5000},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4176,7888],"id":"d266b540-79fd-47d2-b83b-14a2862a2d79","name":"Enviar presencia a Bernardo1","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables1').item.json['Whatsapp Bernardo'] }}","messageText":"=¡Se detectó un nuevo registro!\n\nInformación: \n\nNombre: {{ $('Datos del referido').item.json['Nombre Completo'] }}\nWhatsapp: {{ $('Variables1').item.json['Whatsapp del Referido'] }}\nE-mail: {{ $('Variables1').item.json['email del Referido'] }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4464,7888],"id":"f214c8c5-759d-484c-a890-9e44b2658161","name":"Enviar mensaje a Bernardo1","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e4b2770d-6ee9-435a-a8ca-37c5a7c1c76b","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3792,7904],"id":"b7f150e2-83a5-420b-9c51-3969cb955883","name":"If5"},{"parameters":{"chatId":"1019249029","text":"BERNARDO | Problema con el aviso de nuevo registro de referido a Bernardo.\nNo se encontró la instancia en línea. ","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3808,8176],"id":"bc82ce02-81a1-42a0-a843-1c15b2ef499b","name":"Mensaje de error: Aviso a Bernardo1","webhookId":"5d9c1eb8-1bd9-4325-9a1c-6255b95aa52e","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Datos del referido').item.json.id }}","Aviso":"Sí"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Apellido","displayName":"Apellido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Whatsapp (Cel)","displayName":"Whatsapp (Cel)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Whatsapp (Validación)","displayName":"Whatsapp (Validación)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Highligts","displayName":"Highligts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Fecha de Nacimiento","displayName":"Fecha de Nacimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Fuma","displayName":"Fuma","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Instrumentos de Ahorro","displayName":"Instrumentos de Ahorro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Rendimientos","displayName":"Rendimientos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Incapacidad","displayName":"Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Seguro de Incapacidad","displayName":"Seguro de Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Hijos","displayName":"Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"0","value":"0"},{"name":"1","value":"1"},{"name":"2","value":"2"},{"name":"3","value":"3"},{"name":"4","value":"4"},{"name":"+5","value":"+5"}],"readOnly":false,"removed":true},{"id":"Educación Hijos","displayName":"Educación Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Plan de retiro","displayName":"Plan de retiro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Qué harían en caso de muerte","displayName":"Qué harían en caso de muerte","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Anotaciones","displayName":"Anotaciones","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Archivos adjuntos","displayName":"Archivos adjuntos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Tares / Eventos","displayName":"Tares / Eventos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Pólizas","displayName":"Pólizas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referidos","displayName":"Referidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referido de","displayName":"Referido de","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Aviso","displayName":"Aviso","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":false},{"id":"Estatus Actualizado","displayName":"Estatus Actualizado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Registro de nuevo cliente","displayName":"Registro de nuevo cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"UltimoAvisoRef","displayName":"UltimoAvisoRef","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"AvisoSemana","displayName":"AvisoSemana","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"AvisoMes","displayName":"AvisoMes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"TotalReferidos","displayName":"TotalReferidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"DueñoReferido","displayName":"DueñoReferido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[4704,7888],"id":"5c3d45a4-c8c7-4d45-8617-b44bb1859daf","name":"Update record","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"operation":"fetch-instances","instanceName":"Bernardo"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3568,7088],"id":"11e5e94a-b143-4d96-b28a-97a950def66f","name":"Buscar instancia4","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables1').item.json['Whatsapp del Dueño'] }}","delay":5000},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4288,7072],"id":"c0061c83-893c-423e-b277-ec1f7d26c108","name":"Enviar presencia a Dueño de Referido1","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables1').item.json['Whatsapp del Dueño'] }}","messageText":"=¡Hola {{ $('Variables1').item.json['Nombre Dueño del Referido'] }}!\n\nTe informamos que {{ $('Variables1').item.json['Nombre Referido'] }} se ha registrado en nuestro Programa de Referidos. ¡Muchas gracias por ponernos en contacto!\n\nRecuerda que aún puedes seguir registrando a tus referidos para ganar grandes recompenzas en el siguiente link: \n\n","options_message":{"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4688,7072],"id":"f349fe30-3e9f-401f-8bc0-65c1b419f269","name":"Enviar mensaje a dueño de referido2","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e4b2770d-6ee9-435a-a8ca-37c5a7c1c76b","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3872,7088],"id":"6249d875-3c34-4886-94ae-3f8610b3c21e","name":"If6"},{"parameters":{"chatId":"1019249029","text":"BERNARDO | Problema con el aviso de registro al Dueño del Referido\nNo se encontró la instancia en línea. ","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4032,7216],"id":"ecbca7ac-5e46-4c34-b31d-1124b8500a96","name":"Mensaje de error: Aviso a Dueño de Referido1","webhookId":"5d9c1eb8-1bd9-4325-9a1c-6255b95aa52e","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables1').item.json['Whatsapp del Dueño'] }}","messageText":"={{ $('Variables1').item.json.linkReferidos }}\n\n","options_message":{"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4992,7072],"id":"b0cc0c18-946f-4e0b-a4ef-71f3f85a9a01","name":"Enviar mensaje a dueño de referido3","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"content":"## Aviso al dueño del Referido\n","height":96,"color":3},"type":"n8n-nodes-base.stickyNote","position":[3200,7072],"typeVersion":1,"id":"b60eb7bf-b079-499b-99f7-aac6ce2d6081","name":"Sticky Note14"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Data: Dueño del Referido1').item.json.id }}","TotalReferidos":"={{ $json.newTotalReferidos }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Apellido","displayName":"Apellido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Whatsapp (Cel)","displayName":"Whatsapp (Cel)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Whatsapp (Validación)","displayName":"Whatsapp (Validación)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Highligts","displayName":"Highligts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Fecha de Nacimiento","displayName":"Fecha de Nacimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Fuma","displayName":"Fuma","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Instrumentos de Ahorro","displayName":"Instrumentos de Ahorro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Rendimientos","displayName":"Rendimientos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Incapacidad","displayName":"Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Seguro de Incapacidad","displayName":"Seguro de Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Hijos","displayName":"Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"0","value":"0"},{"name":"1","value":"1"},{"name":"2","value":"2"},{"name":"3","value":"3"},{"name":"4","value":"4"},{"name":"+5","value":"+5"}],"readOnly":false,"removed":true},{"id":"Educación Hijos","displayName":"Educación Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Plan de retiro","displayName":"Plan de retiro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Qué harían en caso de muerte","displayName":"Qué harían en caso de muerte","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Anotaciones","displayName":"Anotaciones","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Archivos adjuntos","displayName":"Archivos adjuntos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Tares / Eventos","displayName":"Tares / Eventos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Pólizas","displayName":"Pólizas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referidos","displayName":"Referidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referido de","displayName":"Referido de","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Aviso","displayName":"Aviso","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Estatus Actualizado","displayName":"Estatus Actualizado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Registro de nuevo cliente","displayName":"Registro de nuevo cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"TotalReferidos","displayName":"TotalReferidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2864,8064],"id":"82e39bda-9f83-4179-99f0-ced9fd07520f","name":"Actualizar cantidad de referidos1","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n\n  const currentTotal = $input.first().json.TotalReferidosD\n  const newTotal = parseInt(currentTotal) + 1;\n  item.json.newTotalReferidos = newTotal;\n  \n\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2848,7792],"id":"f41272ae-9ecf-49db-81fd-23ec219bc1e8","name":"CálculoReferidos1"},{"parameters":{"content":"## Aviso a Bernardo\n\n","height":80,"color":3},"type":"n8n-nodes-base.stickyNote","position":[3152,7792],"typeVersion":1,"id":"74c0619a-b028-4bf6-9592-3ea4b8b8b127","name":"Sticky Note16"},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[1440,7520],"id":"1af0c363-f33e-4fe4-b551-a8fdbfd359e9","name":"Schedule Trigger"},{"parameters":{"content":"## Formulario de página","height":80,"width":384,"color":6},"type":"n8n-nodes-base.stickyNote","position":[720,5152],"typeVersion":1,"id":"53e452e5-a773-4373-9c88-bb579acbe821","name":"Sticky Note12"},{"parameters":{"content":"## CAMBIAR\nActualmente se encuentran ingresados datos de Prueba. Cambiar los datos del cliente de Prueba a los de Bernardo para que la notificación de nuevo registro le llegue a Bernardo.  ","height":192,"width":288},"type":"n8n-nodes-base.stickyNote","position":[1888,5520],"typeVersion":1,"id":"88cd7fca-cd15-4c28-902e-3b6c6d557675","name":"Sticky Note17"},{"parameters":{"content":"## Notificación de error\n\nSi no se encuentra el dueño del referido mediante los datos ingresados por el usuario (correo/cel), se le invita a comunicarse con Bernardo.","width":320,"color":3},"type":"n8n-nodes-base.stickyNote","position":[2544,5696],"typeVersion":1,"id":"ab7117aa-1c43-4c03-ae13-37690ce7bca5","name":"Sticky Note18"},{"parameters":{"content":"## Se establecen variables para el envío de notificaciones.\n\nInformación:\n- Nombre, cel y mail del nuevo referido\n- Nombre, cel y mail del dueño del referido. \n- Cel de Bernardo\n","height":208,"width":368,"color":3},"type":"n8n-nodes-base.stickyNote","position":[2784,4896],"typeVersion":1,"id":"29c3d145-8335-4bb1-94b9-47d45a0923fb","name":"Sticky Note2"},{"parameters":{"content":"## Se verifica que la instancia de Whatsapp esté en línea\n\nSe verifica que la instancia de Whatsapp esté en línea. Si lo está se envía presencia, sino se manda mensaje de error a telegram.\n","height":176,"width":384,"color":3},"type":"n8n-nodes-base.stickyNote","position":[3424,4096],"typeVersion":1,"id":"12e2f49b-986d-4bbc-9308-258e97ee0160","name":"Sticky Note8"},{"parameters":{"content":"## Si no se encuentra la instancia de Whatsapp en línea, se manda un mensaje de error a telegram. ","height":176,"width":320,"color":3},"type":"n8n-nodes-base.stickyNote","position":[4096,4496],"typeVersion":1,"id":"02ce1a4f-d86e-49c2-b54b-4203ce3b537d","name":"Sticky Note19"},{"parameters":{"content":"## Se manda presencia al número de Bernardo \n\nCon la finalidad de imitar el comportamiento humano, se le manda presencia al número de Bernardo, en la conversación aparecerá como: escribiendo.","height":192,"width":336,"color":3},"type":"n8n-nodes-base.stickyNote","position":[3888,4080],"typeVersion":1,"id":"dd4aa4e6-7cf3-4c4c-aaa0-bac360349b2c","name":"Sticky Note20"},{"parameters":{"content":"## Se manda aviso a Bernardo\nSobre nuevo registro de referidos.","height":112,"width":304,"color":3},"type":"n8n-nodes-base.stickyNote","position":[4352,4128],"typeVersion":1,"id":"9705a6dd-55f0-489d-8919-7eb638e5bcc8","name":"Sticky Note21"},{"parameters":{"content":"## Si no se encuentra la instancia de Whatsapp en línea, se manda un mensaje de error a telegram. ","height":176,"width":320,"color":3},"type":"n8n-nodes-base.stickyNote","position":[4016,5392],"typeVersion":1,"id":"4276edaa-a380-4338-a640-331a8066e7b7","name":"Sticky Note22"},{"parameters":{"content":"## Se verifica que la instancia de Whatsapp esté en línea\n\nSe verifica que la instancia de Whatsapp esté en línea. Si lo está se envía presencia, sino se manda mensaje de error a telegram.\n","height":176,"width":384,"color":3},"type":"n8n-nodes-base.stickyNote","position":[3472,4976],"typeVersion":1,"id":"7d203439-9342-40b7-ba70-3a38feda64ba","name":"Sticky Note23"},{"parameters":{"content":"## Se manda presencia al número del Dueño del Referido\n\nCon la finalidad de imitar el comportamiento humano, se le manda presencia al número del Dueño del Referido, en la conversación aparecerá como: escribiendo.","height":224,"width":368,"color":3},"type":"n8n-nodes-base.stickyNote","position":[3984,4864],"typeVersion":1,"id":"7e5f946a-48b7-4bb7-88ae-2f65231cc7dc","name":"Sticky Note24"},{"parameters":{"content":"## Se manda aviso al Dueño del Referido\nSobre nuevo registro de referidos.","height":112,"width":304,"color":3},"type":"n8n-nodes-base.stickyNote","position":[4496,4960],"typeVersion":1,"id":"f0ac26db-688f-4c3b-b847-cf1d81da7f46","name":"Sticky Note25"},{"parameters":{"content":"## Se busca al referido \nEl nuevo referido será filtrado por: \n\n{Estatus} = 'Nuevo' y      {Aviso} = 'No'\nLa base de datos es la de Bernardo","width":288,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1648,7568],"typeVersion":1,"id":"5f475423-4039-4eb7-8305-1f4657f41afb","name":"Sticky Note26"},{"parameters":{"content":"## Búsqueda de datos de Bernardo\n\nSe extraen los datos de Bernardo, como el número celular. La base de este nodo debe ser la de KiroxOn.","height":192,"width":288,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1888,7040],"typeVersion":1,"id":"54c45ffe-b2cb-4b70-8b88-32ec56601024","name":"Sticky Note27"},{"parameters":{"content":"## Búsqueda de datos del dueño del referido.\n\nSe busca el dueño del referido filtrando por la columna: Referido de: \n\nLa base de datos de este nodo es la de Bernardo.","height":208,"width":320,"color":3},"type":"n8n-nodes-base.stickyNote","position":[2208,7040],"typeVersion":1,"id":"3f255c9b-616c-4ed8-bdb8-dfbc98fb8896","name":"Sticky Note28"},{"parameters":{"content":"## Se establecen variables para el envío de notificaciones.\n\nInformación:\n- Nombre, cel y mail del nuevo referido\n- Nombre, cel y mail del dueño del referido. \n- Cel de Bernardo\n","height":208,"width":368,"color":3},"type":"n8n-nodes-base.stickyNote","position":[2608,7152],"typeVersion":1,"id":"854b5cda-3c93-4d63-a213-450f73e08356","name":"Sticky Note29"},{"parameters":{"content":"## Se verifica que la instancia de Whatsapp esté en línea\n\nSe verifica que la instancia de Whatsapp esté en línea. Si lo está se envía presencia, sino se manda mensaje de error a telegram.\n","height":176,"width":384,"color":3},"type":"n8n-nodes-base.stickyNote","position":[3472,7248],"typeVersion":1,"id":"ea2b07b3-cafb-4fb1-afde-a42871803c32","name":"Sticky Note30"},{"parameters":{"content":"## Si no se encuentra la instancia de Whatsapp en línea, se manda un mensaje de error a telegram. ","height":176,"width":320,"color":3},"type":"n8n-nodes-base.stickyNote","position":[3936,7424],"typeVersion":1,"id":"55562d15-7a8c-4970-9039-e1793a0784f3","name":"Sticky Note31"},{"parameters":{"content":"## CAMBIAR\nActualmente se encuentran ingresados datos de Prueba. Cambiar los datos del cliente de Prueba a los de Bernardo para que la notificación de nuevo registro le llegue a Bernardo.  ","height":192,"width":288},"type":"n8n-nodes-base.stickyNote","position":[1888,7216],"typeVersion":1,"id":"5623d495-b18b-4c90-af96-0fe0e4a0f06f","name":"Sticky Note32"},{"parameters":{"content":"## Se manda presencia al número de Bernardo \n\nCon la finalidad de imitar el comportamiento humano, se le manda presencia al número de Bernardo, en la conversación aparecerá como: escribiendo.","height":192,"width":336,"color":3},"type":"n8n-nodes-base.stickyNote","position":[4096,8096],"typeVersion":1,"id":"989ef553-ca52-4424-ad83-4f041e9f37bb","name":"Sticky Note33"},{"parameters":{"content":"## Se manda aviso al Dueño del Referido\nSobre nuevo registro de referidos.","height":112,"width":304,"color":3},"type":"n8n-nodes-base.stickyNote","position":[4928,6864],"typeVersion":1,"id":"6894a049-b852-4240-841a-27281b3a2a8c","name":"Sticky Note34"},{"parameters":{"content":"## Se manda presencia al número del Dueño del Referido\n\nCon la finalidad de imitar el comportamiento humano, se le manda presencia al número del Dueño del Referido, en la conversación aparecerá como: escribiendo.","height":224,"width":368,"color":3},"type":"n8n-nodes-base.stickyNote","position":[4320,7264],"typeVersion":1,"id":"bd52e96c-d2de-4d72-b28c-1f9fd0506501","name":"Sticky Note35"},{"parameters":{"content":"## Si no se encuentra la instancia de Whatsapp en línea, se manda un mensaje de error a telegram. ","height":176,"width":320,"color":3},"type":"n8n-nodes-base.stickyNote","position":[3712,8400],"typeVersion":1,"id":"bfb99eef-03a2-4cca-af3f-14bd03fd55eb","name":"Sticky Note36"},{"parameters":{"content":"## Se manda aviso a Bernardo\nSobre nuevo registro de referidos.","height":112,"width":304,"color":3},"type":"n8n-nodes-base.stickyNote","position":[4592,7776],"typeVersion":1,"id":"e4508507-5f1a-4a58-bb9b-666d60474456","name":"Sticky Note37"},{"parameters":{"content":"## Actualización de registro\nSe actualiza el nuevo registro después de haber hecho el aviso y dado la bienvenida. \n\nEn el nuevo registro del Referido aparecera en la columna Aviso: Sí","width":336,"color":3},"type":"n8n-nodes-base.stickyNote","position":[4832,8128],"typeVersion":1,"id":"a47bc405-64a0-4d9b-a1fa-19063bf64514","name":"Sticky Note15"},{"parameters":{"content":"## Se verifica que la instancia de Whatsapp esté en línea\n\nSe verifica que la instancia de Whatsapp esté en línea. Si lo está se envía presencia, sino se manda mensaje de error a telegram.\n","height":176,"width":384,"color":3},"type":"n8n-nodes-base.stickyNote","position":[3296,8080],"typeVersion":1,"id":"e94f0513-9f42-433f-98c3-8c1549a17e7c","name":"Sticky Note38"},{"parameters":{"content":"## Cálculo Referidos\n\nSe toma la cantidad de referidos que tiene el dueño del referido y se le suma uno. \n","color":3},"type":"n8n-nodes-base.stickyNote","position":[2528,7968],"typeVersion":1,"id":"bfedd188-2761-45b6-9269-5ba74de6b220","name":"Sticky Note39"},{"parameters":{"content":"## CAMBIAR\nSe tiene que dar de alta el whastapp de Bernardo para mandar este mensaje. \nActualmente está el de KiroxON"},"type":"n8n-nodes-base.stickyNote","position":[3248,5328],"typeVersion":1,"id":"3e42bd75-eb1e-4143-b842-41689e0449b4","name":"Sticky Note40"},{"parameters":{"content":"## CAMBIAR\nSe tiene que dar de alta el whastapp de Bernardo para mandar este mensaje. \nActualmente está el de KiroxON"},"type":"n8n-nodes-base.stickyNote","position":[3200,7168],"typeVersion":1,"id":"724a1d68-489c-463b-8484-55353c1b2066","name":"Sticky Note41"},{"parameters":{"assignments":{"assignments":[{"id":"61388f65-f383-4b98-9d4b-6f7a5fe9ae68","name":"Nombre Referido","value":"={{ $('Data: Referido').item.json['Nombre Completo'] }}","type":"string"},{"id":"1d992d6e-adb4-4469-8cda-7945bede4200","name":"Whatsapp del Referido","value":"={{ $('Data: Referido').item.json['Whatsapp (Cel)'] }}","type":"number"},{"id":"520b9c71-49de-4895-ad31-c5b8a93703f2","name":"email del Referido","value":"={{ $('Data: Referido').item.json.Mail }}","type":"string"},{"id":"69c79eeb-e574-4051-a4ef-017aca35b265","name":"Nombre Dueño del Referido","value":"={{ $('Data: Dueño del Referido').item.json.Nombre }}","type":"string"},{"id":"4a18d57e-f7b0-43a8-a2a8-2e287262fc6e","name":"mail del dueño del referido","value":"={{ $json.Mail }}","type":"string"},{"id":"e7e6542f-6fa0-4972-8019-6de127a5afdf","name":"TotalReferidosD","value":"={{ $json.TotalReferidos }}","type":"number"},{"id":"a2af551c-2f3c-4ac8-bb61-025f8b275445","name":"Whatsapp Bernardo","value":"={{ $('Datos de Bernardo').item.json.Whatsapp }}","type":"string"},{"id":"fbd8e6ee-9dc2-4393-8f89-279835ba2559","name":"linkReferidos","value":" https://bernardollamas.com/referidos/","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2848,5488],"id":"1b89a499-5ccb-47eb-8198-cd16edfa2be7","name":"Variables2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"9aa50541-5d18-4287-8a75-adab327b61e2","leftValue":"IdDueño","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[3312,5152],"id":"bd1d607a-1cc5-4be1-95e4-0250e2519ad2","name":"If"},{"parameters":{"content":"⚠️⚠️⚠️\n## ARREGLAR\nQué pasa si no existe el dueño del referido. ","height":352,"width":320},"type":"n8n-nodes-base.stickyNote","position":[2208,7248],"typeVersion":1,"id":"f8b7a95e-8ae7-45c2-bd3c-9c7a0df9e81e","name":"Sticky Note42"},{"parameters":{"content":"⚠️⚠️⚠️\n## ARREGLAR\nQué pasa si no existe el dueño del referido. ","height":352,"width":320},"type":"n8n-nodes-base.stickyNote","position":[2240,4992],"typeVersion":1,"id":"5c42dca8-20a4-4b81-8fbf-6e0837b949f7","name":"Sticky Note43"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Nuevo referido').item.json.id }}","Aviso":"Sí"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Apellido","displayName":"Apellido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Whatsapp (Cel)","displayName":"Whatsapp (Cel)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Whatsapp (Validación)","displayName":"Whatsapp (Validación)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Highligts","displayName":"Highligts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Fecha de Nacimiento","displayName":"Fecha de Nacimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Fuma","displayName":"Fuma","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Instrumentos de Ahorro","displayName":"Instrumentos de Ahorro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Rendimientos","displayName":"Rendimientos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Incapacidad","displayName":"Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Seguro de Incapacidad","displayName":"Seguro de Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Hijos","displayName":"Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"0","value":"0"},{"name":"1","value":"1"},{"name":"2","value":"2"},{"name":"3","value":"3"},{"name":"4","value":"4"},{"name":"+5","value":"+5"}],"readOnly":false,"removed":true},{"id":"Educación Hijos","displayName":"Educación Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Plan de retiro","displayName":"Plan de retiro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Qué harían en caso de muerte","displayName":"Qué harían en caso de muerte","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Anotaciones","displayName":"Anotaciones","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Archivos adjuntos","displayName":"Archivos adjuntos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Tares / Eventos","displayName":"Tares / Eventos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Pólizas","displayName":"Pólizas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referidos","displayName":"Referidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referido de","displayName":"Referido de","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Aviso","displayName":"Aviso","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":false},{"id":"Estatus Actualizado","displayName":"Estatus Actualizado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Registro de nuevo cliente","displayName":"Registro de nuevo cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"UltimoAvisoRef","displayName":"UltimoAvisoRef","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"AvisoSemana","displayName":"AvisoSemana","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"AvisoMes","displayName":"AvisoMes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"TotalReferidos","displayName":"TotalReferidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"DueñoReferido","displayName":"DueñoReferido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[4576,4288],"id":"7e5bd74a-5b22-4ee1-9f78-135d02f2fdb5","name":"Update record1","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}}],"connections":{"Data: Referido":{"main":[[{"node":"Datos de Bernardo","type":"main","index":0}]]},"Data: Dueño del Referido":{"main":[[{"node":"If1","type":"main","index":0}]]},"Variables":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"CálculoReferidos":{"main":[[{"node":"Actualizar cantidad de referidos","type":"main","index":0}]]},"Registro Nuevo Referido":{"main":[[{"node":"Nuevo referido","type":"main","index":0}]]},"Datos de Bernardo":{"main":[[{"node":"Data: Dueño del Referido","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Buscar instancia","type":"main","index":0},{"node":"If","type":"main","index":0}]]},"Buscar instancia":{"main":[[{"node":"If3","type":"main","index":0}]]},"Enviar presencia a Bernardo":{"main":[[{"node":"Enviar mensaje a Bernardo","type":"main","index":0}]]},"Buscar instancia2":{"main":[[{"node":"If4","type":"main","index":0}]]},"Enviar presencia a Dueño de Referido":{"main":[[{"node":"Enviar mensaje a dueño de referido","type":"main","index":0}]]},"Nuevo referido":{"main":[[{"node":"Data: Referido","type":"main","index":0}]]},"If1":{"main":[[{"node":"Variables","type":"main","index":0}],[{"node":"Error: no se encontró el dueño del referido","type":"main","index":0}]]},"If3":{"main":[[{"node":"Enviar presencia a Bernardo","type":"main","index":0}],[{"node":"Mensaje de error: Aviso a Bernardo","type":"main","index":0}]]},"If4":{"main":[[{"node":"Enviar presencia a Dueño de Referido","type":"main","index":0}],[{"node":"Mensaje de error: Aviso a Dueño de Referido","type":"main","index":0}]]},"Enviar mensaje a dueño de referido":{"main":[[{"node":"Enviar mensaje a dueño de referido1","type":"main","index":0}]]},"Enviar mensaje a Bernardo":{"main":[[{"node":"Update record1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Datos del referido","type":"main","index":0}]]},"Datos del referido":{"main":[[{"node":"Datos de Bernardo1","type":"main","index":0}]]},"Datos de Bernardo1":{"main":[[{"node":"Data: Dueño del Referido1","type":"main","index":0}]]},"Data: Dueño del Referido1":{"main":[[{"node":"Variables1","type":"main","index":0}]]},"Variables1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Buscar instancia3":{"main":[[{"node":"If5","type":"main","index":0}]]},"Enviar presencia a Bernardo1":{"main":[[{"node":"Enviar mensaje a Bernardo1","type":"main","index":0}]]},"Enviar mensaje a Bernardo1":{"main":[[{"node":"Update record","type":"main","index":0}]]},"If5":{"main":[[{"node":"Enviar presencia a Bernardo1","type":"main","index":0}],[{"node":"Mensaje de error: Aviso a Bernardo1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Buscar instancia3","type":"main","index":0},{"node":"Buscar instancia4","type":"main","index":0},{"node":"CálculoReferidos1","type":"main","index":0}]]},"Buscar instancia4":{"main":[[{"node":"If6","type":"main","index":0}]]},"Enviar presencia a Dueño de Referido1":{"main":[[{"node":"Enviar mensaje a dueño de referido2","type":"main","index":0}]]},"Enviar mensaje a dueño de referido2":{"main":[[{"node":"Enviar mensaje a dueño de referido3","type":"main","index":0}]]},"If6":{"main":[[{"node":"Enviar presencia a Dueño de Referido1","type":"main","index":0}],[{"node":"Mensaje de error: Aviso a Dueño de Referido1","type":"main","index":0}]]},"CálculoReferidos1":{"main":[[{"node":"Actualizar cantidad de referidos1","type":"main","index":0}]]},"Update record":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Datos del referido","type":"main","index":0}]]},"Error: no se encontró el dueño del referido":{"main":[[{"node":"Variables2","type":"main","index":0}]]},"If":{"main":[[{"node":"Buscar instancia2","type":"main","index":0},{"node":"CálculoReferidos","type":"main","index":0}]]},"Variables2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"authors":"Admin KiroxOn","name":"Version 93b7aba0","description":"","workflowPublishHistory":[{"createdAt":"2026-01-30T02:46:51.671Z","id":46,"workflowId":"YL3tGlIxXevhhOL3","versionId":"93b7aba0-8bac-48bc-9a57-9809917e3907","event":"activated","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629"}]}}