workflows_BACKUP/F2 Bernardo _ Notificaciones--ye0spm1wPnkiUuBX.json
{"updatedAt":"2026-01-17T00:31:18.811Z","createdAt":"2026-01-05T04:59:28.818Z","id":"ye0spm1wPnkiUuBX","name":"F2 Bernardo | Notificaciones","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1712,1104],"id":"e9ce9cc8-9942-4729-9abc-9d223671bcbd","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"filterByFormula":"=AND(\n  {Estatus} != {Estatus Actualizado},\nOR(\n  {Estatus} = 'Prospecto',\n  {Estatus} = 'Oportunidad',\n  {Estatus} = 'Cliente', \n  {Estatus} = 'No cliente'\n     )\n)","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1472,976],"id":"5fe79a9d-8b9f-43da-989e-52494109efe1","name":"Cambio de Estado del Prospecto","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"content":"## Información\n**Este flujo compara los movimientos que se han hecho en el CRM para verificar el estado de los referidos y avisar al dueño de cada uno cómo va el proceso.\n\n-> El trigger que mapea los estados tiene 5 minutos de intervalo para dar la oportunidad de corregir errores. ","height":176,"width":704},"type":"n8n-nodes-base.stickyNote","position":[-2080,448],"typeVersion":1,"id":"10769943-0f65-4fa9-967b-96a9096db7be","name":"Sticky Note"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Cambio de Estado del Prospecto').item.json.id }}","Estatus Actualizado":"Prospecto"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Apellido","displayName":"Apellido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Whatsapp (Cel)","displayName":"Whatsapp (Cel)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Whatsapp (Validación)","displayName":"Whatsapp (Validación)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Highligts","displayName":"Highligts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Fecha de Nacimiento","displayName":"Fecha de Nacimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Fuma","displayName":"Fuma","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Instrumentos de Ahorro","displayName":"Instrumentos de Ahorro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Rendimientos","displayName":"Rendimientos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Incapacidad","displayName":"Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Seguro de Incapacidad","displayName":"Seguro de Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Hijos","displayName":"Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"0","value":"0"},{"name":"1","value":"1"},{"name":"2","value":"2"},{"name":"3","value":"3"},{"name":"4","value":"4"},{"name":"+5","value":"+5"}],"readOnly":false,"removed":true},{"id":"Educación Hijos","displayName":"Educación Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Plan de retiro","displayName":"Plan de retiro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Qué harían en caso de muerte","displayName":"Qué harían en caso de muerte","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Anotaciones","displayName":"Anotaciones","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Archivos adjuntos","displayName":"Archivos adjuntos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Tares / Eventos","displayName":"Tares / Eventos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Pólizas","displayName":"Pólizas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referidos","displayName":"Referidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referido de","displayName":"Referido de","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Aviso","displayName":"Aviso","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Estatus Actualizado","displayName":"Estatus Actualizado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":false},{"id":"Registro de nuevo cliente","displayName":"Registro de nuevo cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1184,-160],"id":"94b06592-b809-4ab9-9eb9-f9889bb4b6f8","name":"Actualizar: Prospecto","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Cambio de Estado del Prospecto').item.json.id }}","Estatus Actualizado":"Oportunidad"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Apellido","displayName":"Apellido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Whatsapp (Cel)","displayName":"Whatsapp (Cel)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Whatsapp (Validación)","displayName":"Whatsapp (Validación)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Highligts","displayName":"Highligts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Fecha de Nacimiento","displayName":"Fecha de Nacimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Fuma","displayName":"Fuma","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Instrumentos de Ahorro","displayName":"Instrumentos de Ahorro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Rendimientos","displayName":"Rendimientos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Incapacidad","displayName":"Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Seguro de Incapacidad","displayName":"Seguro de Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Hijos","displayName":"Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"0","value":"0"},{"name":"1","value":"1"},{"name":"2","value":"2"},{"name":"3","value":"3"},{"name":"4","value":"4"},{"name":"+5","value":"+5"}],"readOnly":false,"removed":true},{"id":"Educación Hijos","displayName":"Educación Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Plan de retiro","displayName":"Plan de retiro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Qué harían en caso de muerte","displayName":"Qué harían en caso de muerte","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Anotaciones","displayName":"Anotaciones","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Archivos adjuntos","displayName":"Archivos adjuntos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Tares / Eventos","displayName":"Tares / Eventos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Pólizas","displayName":"Pólizas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referidos","displayName":"Referidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referido de","displayName":"Referido de","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Aviso","displayName":"Aviso","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Estatus Actualizado","displayName":"Estatus Actualizado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":false},{"id":"Registro de nuevo cliente","displayName":"Registro de nuevo cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1376,336],"id":"d18a0f9b-ae42-499c-ad50-89d6340c13b9","name":"Actualizar: Oportunidad","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Cambio de Estado del Prospecto').item.json.id }}","Estatus Actualizado":"Cliente","Registro de nuevo cliente":"={{ $now }}","UltimoAvisoRef":"={{ $now }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Apellido","displayName":"Apellido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Whatsapp (Cel)","displayName":"Whatsapp (Cel)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Whatsapp (Validación)","displayName":"Whatsapp (Validación)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Highligts","displayName":"Highligts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Fecha de Nacimiento","displayName":"Fecha de Nacimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Fuma","displayName":"Fuma","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Instrumentos de Ahorro","displayName":"Instrumentos de Ahorro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Rendimientos","displayName":"Rendimientos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Incapacidad","displayName":"Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Seguro de Incapacidad","displayName":"Seguro de Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Hijos","displayName":"Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"0","value":"0"},{"name":"1","value":"1"},{"name":"2","value":"2"},{"name":"3","value":"3"},{"name":"4","value":"4"},{"name":"+5","value":"+5"}],"readOnly":false,"removed":true},{"id":"Educación Hijos","displayName":"Educación Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Plan de retiro","displayName":"Plan de retiro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Qué harían en caso de muerte","displayName":"Qué harían en caso de muerte","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Anotaciones","displayName":"Anotaciones","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Archivos adjuntos","displayName":"Archivos adjuntos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Tares / Eventos","displayName":"Tares / Eventos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Pólizas","displayName":"Pólizas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referidos","displayName":"Referidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referido de","displayName":"Referido de","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Aviso","displayName":"Aviso","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Estatus Actualizado","displayName":"Estatus Actualizado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":false},{"id":"Registro de nuevo cliente","displayName":"Registro de nuevo cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"UltimoAvisoRef","displayName":"UltimoAvisoRef","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"AvisoSemana","displayName":"AvisoSemana","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"AvisoMes","displayName":"AvisoMes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"TotalReferidos","displayName":"TotalReferidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"DueñoReferido","displayName":"DueñoReferido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1904,1200],"id":"393a23c3-8658-467f-99fc-c666e13ce2e4","name":"Actualizar: Cliente","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"content":"## Registro de fecha de cliente\n**Este paso sirve para registrar la fecha en que un referido se convierte en cliente. ","color":3},"type":"n8n-nodes-base.stickyNote","position":[2384,1184],"typeVersion":1,"id":"61360d53-6ee4-4e2c-a9f2-f487951380d1","name":"Sticky Note2"},{"parameters":{"assignments":{"assignments":[{"id":"73eb6085-c75c-44b0-a224-1f9980a036e1","name":"Referido Nombre","value":"={{ $('Cambio de Estado del Prospecto').item.json['Nombre'] }}","type":"string"},{"id":"eccb8cbb-b8d8-45a6-95ce-3144f9671dcd","name":"=Whatsapp Referido","value":"={{ $('Cambio de Estado del Prospecto').item.json['Whatsapp (Cel)'] }}","type":"string"},{"id":"0e32aec4-ec72-4254-bfdf-37afcd579fbd","name":"Estatus","value":"={{ $('Cambio de Estado del Prospecto').item.json.Estatus }}","type":"string"},{"id":"b4c3e82a-560d-40f7-bf0b-30b718873061","name":"DueñoReferidoNombre","value":"={{ $('Get a record').item.json.Nombre }}","type":"string"},{"id":"4f699e62-8472-4b44-b180-37522d1873df","name":"Whatsapp Dueño Referido","value":"={{ $('Get a record').item.json['Whatsapp (Cel)'] }}","type":"string"},{"id":"720614be-5be8-4d4d-b01a-ebfcb585b511","name":"Dueño Referido Email","value":"={{ $('Get a record').item.json.Mail }}","type":"string"},{"id":"c99e5723-1995-4cd3-b03b-51e1d255b01e","name":"Premio Oportunidad","value":"={{ $('Recompensa (Oportunidad)').item.json.Link }}","type":"string"},{"id":"ac5da2fb-0abf-4140-bd1c-d81d9b4bb090","name":"Premio Cliente","value":"={{ $('Recompensa (Ciente)').item.json.Link }}","type":"string"},{"id":"681da55f-610e-4c02-b881-1c163ffe330d","name":"ID_Oportunidad","value":"={{ $('Recompensa (Oportunidad)').item.json.id }}","type":"string"},{"id":"d21cd25a-a10b-4aca-9fb4-596778732653","name":"ID_Cliente","value":"={{ $('Recompensa (Ciente)').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-256,992],"id":"1d104343-22e2-4898-a73b-247211736bb3","name":"Variables"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.Estatus }}","rightValue":"Prospecto","operator":{"type":"string","operation":"equals"},"id":"4e8278d7-30ed-462c-b141-bbe734608a4a"}],"combinator":"and"},"renameOutput":true,"outputKey":"Prospecto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fecd7fd8-90d8-4dec-a5bd-75ee6d252f7d","leftValue":"={{ $json.Estatus }}","rightValue":"Oportunidad","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Oportunidad"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"61fbdb50-e764-4c05-8fa8-f96550868ca7","leftValue":"={{ $json.Estatus }}","rightValue":"Cliente","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Cliente"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f731c407-7a3e-491b-b7bd-9a7bd9aa5025","leftValue":"={{ $json.Estatus }}","rightValue":"No cliente","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"No cliente"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-16,960],"id":"ba333f8a-be2f-4c86-8980-3dd0008dfa83","name":"Estado del prospecto"},{"parameters":{"content":"## Trigger\nEl trigger manual es para pruebas. \n\nEl trigger programado se ejecutará cada cinco minutos para registrar movimientos en la base de datos. ","width":448,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-2064,1264],"typeVersion":1,"id":"74797a5e-2346-458b-931f-f3e16376c2c8","name":"Sticky Note3"},{"parameters":{"content":"## Cambio de estado\nVerificación de cambio de estado en el proceso de cada prospecto. ","height":144,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1264,784],"typeVersion":1,"id":"25053517-50df-4735-bce6-1719431a8b7d","name":"Sticky Note4"},{"parameters":{"content":"## Información\nSe reúne información sobre el referido y el dueño del referido. ","height":112,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-304,816],"typeVersion":1,"id":"723ba4db-b832-4703-b9ed-deaa1cfd155d","name":"Sticky Note6"},{"parameters":{"content":"## Actualizar el estado del prospecto\n","height":80,"width":432,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1344,-144],"typeVersion":1,"id":"80ed1805-ceea-43f3-a567-d050cb9fbe85","name":"Sticky Note8"},{"parameters":{"content":"## Recompenza\n\n","height":80},"type":"n8n-nodes-base.stickyNote","position":[160,320],"typeVersion":1,"id":"7556f27f-e552-4958-b00f-71066f92fbfd","name":"Sticky Note10"},{"parameters":{"content":"## Recompenza\n\n","height":80,"width":176},"type":"n8n-nodes-base.stickyNote","position":[288,768],"typeVersion":1,"id":"7696cfcc-a71e-437c-8537-8741e4cdc289","name":"Sticky Note11"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Cambio de Estado del Prospecto').item.json.id }}","Estatus Actualizado":"No cliente","UltimoAvisoRef":"={{ $now }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Apellido","displayName":"Apellido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Whatsapp (Cel)","displayName":"Whatsapp (Cel)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Whatsapp (Validación)","displayName":"Whatsapp (Validación)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Highligts","displayName":"Highligts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Fecha de Nacimiento","displayName":"Fecha de Nacimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Fuma","displayName":"Fuma","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Instrumentos de Ahorro","displayName":"Instrumentos de Ahorro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Rendimientos","displayName":"Rendimientos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Incapacidad","displayName":"Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Seguro de Incapacidad","displayName":"Seguro de Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Hijos","displayName":"Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"0","value":"0"},{"name":"1","value":"1"},{"name":"2","value":"2"},{"name":"3","value":"3"},{"name":"4","value":"4"},{"name":"+5","value":"+5"}],"readOnly":false,"removed":true},{"id":"Educación Hijos","displayName":"Educación Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Plan de retiro","displayName":"Plan de retiro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Qué harían en caso de muerte","displayName":"Qué harían en caso de muerte","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Anotaciones","displayName":"Anotaciones","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Archivos adjuntos","displayName":"Archivos adjuntos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Tares / Eventos","displayName":"Tares / Eventos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Pólizas","displayName":"Pólizas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referidos","displayName":"Referidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referido de","displayName":"Referido de","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Aviso","displayName":"Aviso","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Estatus Actualizado","displayName":"Estatus Actualizado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":false},{"id":"Registro de nuevo cliente","displayName":"Registro de nuevo cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"UltimoAvisoRef","displayName":"UltimoAvisoRef","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"AvisoSemana","displayName":"AvisoSemana","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"AvisoMes","displayName":"AvisoMes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"TotalReferidos","displayName":"TotalReferidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"DueñoReferido","displayName":"DueñoReferido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1840,1760],"id":"8ae5e84e-171a-4073-8a1f-2e8ce536bbcc","name":"Actualizar: No cliente","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1712,800],"id":"180015cb-7b29-433d-ac9f-3c7b34be3c18","name":"Schedule Trigger"},{"parameters":{"batchSize":"=1","options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-560,976],"id":"3758462d-4d28-415a-81db-bfd62f8e5055","name":"Loop Over Items"},{"parameters":{"operation":"fetch-instances","instanceName":"Bernardo"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[160,-144],"id":"9ffd43b8-9464-4ce4-ac51-720d83eeedaf","name":"Buscar instancia","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7467d36b-3429-4783-b00f-3ddec8a86793","leftValue":"={{ $json.success }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[384,-144],"id":"b9aaecd1-3283-4433-bd4b-9c25eb8e31ba","name":"If"},{"parameters":{"operation":"fetch-instances","instanceName":"Bernardo"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[384,352],"id":"3494e09c-07b6-4375-a6e5-133a7455b3d1","name":"Buscar instancia1","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7467d36b-3429-4783-b00f-3ddec8a86793","leftValue":"={{ $json.success }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,352],"id":"90cbaa23-5d07-4929-8e3d-f7795392acc7","name":"If1"},{"parameters":{"chatId":"1019249029","text":"BERNARDO| Fallo en notificación de proceso de prospecto a dueño: Oportunidad.\nLa instancia de Evolutionapi no está en línea.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[560,592],"id":"3706055b-184b-4bb0-81c3-6135fb27b30b","name":"Oportunidad: error en mensaje","webhookId":"31f8aaea-cd3e-4354-8989-c4375c2c3caa","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Dueño Referido'] }}\n","delay":7000},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[624,-160],"id":"c75c7902-a3e6-4cb2-8e22-4451ffa59bf7","name":"Prospecto: Enviar presencia","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Dueño Referido'] }}","messageText":"=¡Hola, {{ $('Variables').item.json['DueñoReferidoNombre'] }}! \n\n¡Te informamos que hemos contactado a {{ $('Variables').item.json['Referido Nombre'] }}! Te agradecemos mucho habernos puesto en contacto y te recordamos que todavía puedes seguir participando en nuestro Programa de Referidos para ganar grandes recompenzas. \n\n¡Registra tus referidos!","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[816,-160],"id":"9f321b98-12ab-4158-82a9-11fd522b9a1b","name":"Prospecto: Aviso a dueño de referido","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Dueño Referido'] }}","messageText":"=https://bernardollamas.com/referidos/","options_message":{"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[992,-160],"id":"3c23642b-130a-455b-9418-58cee12c6800","name":"Prospecto: Aviso a dueño de referido1","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"chatId":"1019249029","text":"BERNARDO| Fallo en notificación de proceso de prospecto a dueño: Oportunidad.\nLa instancia de Evolutionapi no está en línea.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[432,96],"id":"f7a1c42a-2a7a-476b-9013-a2ca01a9e77f","name":"Prospecto: error en mensaje","webhookId":"31f8aaea-cd3e-4354-8989-c4375c2c3caa","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Dueño Referido'] }}","delay":5000},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[800,336],"id":"8b063a73-d13f-463b-9a98-dbad80c39804","name":"Oportunidad: Enviar presencia1","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Dueño Referido'] }}","messageText":"=¡Hola, {{ $('Variables').item.json['DueñoReferidoNombre'] }}! \n\n¡Te informamos que continuamos en pláticas con {{ $('Variables').item.json['Referido Nombre'] }}! Te agradecemos mucho habernos puesto en contacto y para mostrarte nuestro aprecio te hacemos llegar esta Tarjeta de Regalo con la cantidad de: {{ $('Variables').item.json['Premio Oportunidad'] }}\n\nAsimismo, te recordamos que todavía puedes seguir participando en nuestro Programa de Referidos para ganar grandes recompenzas. \n\n¡Registra tus referidos!","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[992,336],"id":"a22cf486-90a5-47d9-b14b-62dde917fcc4","name":"Oportunidad: Aviso a dueño de referido","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Dueño Referido'] }}","messageText":"=https://bernardollamas.com/referidos/","options_message":{"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1184,336],"id":"36cb532b-0bda-420a-a303-42172f79f683","name":"Oportunidad: Aviso a dueño de referido2","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"operation":"fetch-instances","instanceName":"Bernardo"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[304,848],"id":"c9b0f51b-b35d-49aa-ad6a-59c4788e58c0","name":"Buscar instancia2","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7467d36b-3429-4783-b00f-3ddec8a86793","leftValue":"={{ $json.success }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[528,848],"id":"f94b0de3-2c33-4dc8-804c-13eacb8e582a","name":"If2"},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Dueño Referido'] }}","delay":6000},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1232,1200],"id":"89ddeabf-c38a-4773-a696-ebf732a1c255","name":"Cliente: Enviar presencia a dueño de referido","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Dueño Referido'] }}","messageText":"=¡Hola, {{ $('Variables').item.json['DueñoReferidoNombre'] }}! \n\n¡Te informamos que {{ $('Variables').item.json['Referido Nombre'] }} ha decidido contratar nuestros servicios! Una vez más te agradecemos por habernos puesto en contacto. Para demostrarte lo mucho que apreciamos tu labor, te enviamos esta tarjeta de regalo con la cantidad de {{ $('Variables').item.json['Premio Cliente'] }}.\n\nY te recordamos que todavía puedes seguir participando en nuestro Programa de Referidos para ganar grandes recompenzas.\n\n¡Registra tus referidos!","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1456,1200],"id":"3cd3e5fc-53ca-447c-b6b6-59680ac203fa","name":"Cliente: Aviso a dueño de referido1","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Dueño Referido'] }}","messageText":"=https://bernardollamas.com/referidos/","options_message":{"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1680,1200],"id":"451b42be-f6ee-47ba-8730-c6febcf61c6b","name":"Cliente: Aviso a dueño de referido3","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Referido'] }}","delay":5000},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[800,832],"id":"e2d1dbe5-4c9e-4bfd-bc6b-c422e03976a9","name":"Cliente: Enviar presencia a nuevo cliente","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Referido'] }}","messageText":"=¡Hola, {{ $('Variables').item.json['Referido Nombre'] }}!\nEn nombre de todo el equipo, queremos darte la bienvenida oficial como uno de nuestros valiosos clientes. ¡Estamos encantados de tenerte a bordo!\n\nAdemás de la bienvenida, nos gustaría recordarte que puedes participar en nuestro Programa de Referidos. Por cada colega o amigo que refieras y se convierta en cliente, ¡ganarás una recompensa!\n\nEs la mejor manera de compartir un buen servicio y obtener un beneficio mutuo.Estamos a tu disposición. Gracias una vez más por tu confianza.\n\n\n¡Registra tus referidos!","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1008,832],"id":"42844999-34d7-4d56-b5f5-626358060037","name":"Cliente: Aviso nuevo cliente","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"=Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Referido'] }}","messageText":"=https://bernardollamas.com/referidos/","options_message":{"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1184,832],"id":"811017fb-f348-4988-813f-9b2cb89ac76b","name":"Cliente: Aviso al nuevo cliente","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"amount":"=20.00"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1392,832],"id":"a8b4df7d-9387-4539-af26-b74950974ad3","name":"Wait","webhookId":"003a59e6-3ae9-431f-ac56-86308297920b"},{"parameters":{"operation":"fetch-instances","instanceName":"Bernardo"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[624,1504],"id":"b403792a-52e9-47fa-95bc-579b7bd6685f","name":"Buscar instancia3","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7467d36b-3429-4783-b00f-3ddec8a86793","leftValue":"={{ $json.success }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[832,1504],"id":"256d3600-8bfc-480b-806f-d022d5658b68","name":"If3"},{"parameters":{"chatId":"1019249029","text":"BERNARDO| Fallo en notificación de proceso de prospecto: Cliente.\nLa instancia de Evolutionapi no está en línea.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[480,1024],"id":"33a615cd-9582-45f5-ab87-80c8e4ffef29","name":"Cliente: error en mensaje1","webhookId":"31f8aaea-cd3e-4354-8989-c4375c2c3caa","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"chatId":"1019249029","text":"BERNARDO| Fallo en notificación de proceso de prospecto: No Cliente.\nLa instancia de Evolutionapi no está en línea.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[848,1760],"id":"938b6c91-92a5-402d-8b4f-20ce644f5476","name":"Cliente: error en mensaje","webhookId":"31f8aaea-cd3e-4354-8989-c4375c2c3caa","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Referido'] }}","delay":5000},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1136,1488],"id":"74827d83-bcb6-44f6-b352-afa0cb83a3fb","name":"No cliente: Enviar presencia a No cliente","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Referido'] }}","messageText":"=¡Hola, {{ $('Variables').item.json['Referido Nombre'] }}! \n\nLamentamos que nuestros servicios no te hayan convencido. Te queremos recordar que si en el futuro esto cambia, estamos a tus órdenes. \n\nPor otra parte, te invitamos a que participes en nuestro Programa de Referidos. ¿Conoces a alguien a quien le podría interesar nuestros servicios? ¡No dudes en recomendarlo para ganar grandes recompenzas! \n\n¡Registra tus referidos!","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1360,1488],"id":"33ed7494-2999-43a5-a192-9653193cd2f9","name":"No Cliente: Aviso a No cliente","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Referido'] }}","messageText":"=https://bernardollamas.com/referidos/","options_message":{"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1600,1488],"id":"d7a5311d-4408-4f13-a0cc-f224ad84b110","name":"No Cliente: Aviso a No cliente1","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"amount":"=20.00"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2048,1488],"id":"cad05327-6977-4ec6-b09a-3161e3887e93","name":"Wait1","webhookId":"003a59e6-3ae9-431f-ac56-86308297920b"},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Dueño Referido'] }}","delay":9000},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1168,1760],"id":"568b4e72-7685-4b1d-a125-e580a59bba07","name":"No Cliente: Enviar presencia a dueño de referido1","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Dueño Referido'] }}","messageText":"=¡Hola, {{ $('Variables').item.json['DueñoReferidoNombre'] }}!\n\nTe informamos que lamentablemente {{ $('Variables').item.json['Referido Nombre'] }} decidió no contratar nuestros servicios. Te agradecemos nos hayas puesto en contacto. \n\nSin embargo, recuerda que todavía puedes seguir participando en nuestro programa de referidos para ganar grandes recompenzas. \n\n¡Registra tus referidos!","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1376,1760],"id":"9a754746-6ae6-4d47-ab38-221e66182915","name":"No Cliente: Aviso a dueño de referido","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Dueño Referido'] }}","messageText":"=https://bernardollamas.com/referidos/","options_message":{"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1600,1760],"id":"08f0569b-8ee9-4a89-8b32-ad470843c62f","name":"No Cliente: Aviso a No cliente2","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"content":"## Bienvenida a nuevo cliente.","height":96,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1552,800],"typeVersion":1,"id":"1a510789-ea27-4625-aa32-6d8ae70ad799","name":"Sticky Note1"},{"parameters":{"content":"## No cliente\nAviso a dueño de referido e invitación a No cliente a registrar referidos","color":3},"type":"n8n-nodes-base.stickyNote","position":[464,1744],"typeVersion":1,"id":"26395648-d6ef-49d3-bcaa-8df3379458e4","name":"Sticky Note5"},{"parameters":{"base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"id":"={{ $json['Referido de'][0] }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1248,976],"id":"e03afcd2-44ec-4ac4-a8ed-640c46a25210","name":"Get a record","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"content":"## Estado: Prospecto\n","height":80,"width":256,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-144,-160],"typeVersion":1,"id":"4b51b731-668e-447b-9e92-609cf5a5fac8","name":"Sticky Note9"},{"parameters":{"content":"## Estado: Oportunidad","height":80,"width":288,"color":5},"type":"n8n-nodes-base.stickyNote","position":[128,272],"typeVersion":1,"id":"285aa32a-4379-4d45-82ac-7af06c83c51f","name":"Sticky Note12"},{"parameters":{"content":"## Estado: No Cliente","height":80,"width":288,"color":5},"type":"n8n-nodes-base.stickyNote","position":[256,1536],"typeVersion":1,"id":"68797f47-845e-426d-98ee-87b71cf6b534","name":"Sticky Note13"},{"parameters":{"content":"## Estado: Cliente","height":80,"width":288,"color":5},"type":"n8n-nodes-base.stickyNote","position":[224,720],"typeVersion":1,"id":"b151b47b-a123-4715-93cd-9570a1753928","name":"Sticky Note14"},{"parameters":{"content":"## Recompensas\n ⚠️ ⚠️ ⚠️ Hay que vincularlo a las variables","height":208,"width":368},"type":"n8n-nodes-base.stickyNote","position":[-1040,1184],"typeVersion":1,"id":"4bbaa6c0-988a-420c-b358-23261d96e70e","name":"Sticky Note7"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblMa34eR8g6WeBTQ","mode":"list","cachedResultName":"Tarjetas 100","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblMa34eR8g6WeBTQ"},"filterByFormula":"{Tipo} = \"New\"","returnAll":false,"limit":1,"options":{},"sort":{"property":[{"field":"ID"}]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1024,976],"id":"0a7b4377-ad10-4022-ab93-5f69e0165100","name":"Recompensa (Oportunidad)","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblVuxyJOo5n4EbjH","mode":"list","cachedResultName":"Tarjetas 1000","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblVuxyJOo5n4EbjH"},"filterByFormula":"{Tipo} = \"New\"","returnAll":false,"limit":1,"options":{},"sort":{"property":[{"field":"ID"}]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-816,976],"id":"51dd0e0a-cfd2-4594-b36b-102246d74a4b","name":"Recompensa (Ciente)","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblMa34eR8g6WeBTQ","mode":"list","cachedResultName":"Tarjetas 100","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblMa34eR8g6WeBTQ"},"columns":{"mappingMode":"defineBelow","value":{"Tipo":"Enviada","id":"={{ $('Variables').item.json.ID_Oportunidad }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Tipo","displayName":"Tipo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"New","value":"New"},{"name":"Enviada","value":"Enviada"},{"name":"new","value":"new"}],"readOnly":false,"removed":false},{"id":"Valor","displayName":"Valor","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Giftcard","displayName":"Giftcard","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PDF","displayName":"PDF","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Ganador (Cel)","displayName":"Ganador (Cel)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Ganador (Nombre)","displayName":"Ganador (Nombre)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1568,336],"id":"992bb573-02f6-46e2-8af5-09cdce67c9bf","name":"Recompensa Oportunidad ENVIADA","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblVuxyJOo5n4EbjH","mode":"list","cachedResultName":"Tarjetas 1000","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblVuxyJOo5n4EbjH"},"columns":{"mappingMode":"defineBelow","value":{"Tipo":"Enviada","id":"={{ $('Variables').item.json.ID_Cliente }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Tipo","displayName":"Tipo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"New","value":"New"},{"name":"Enviada","value":"Enviada"}],"readOnly":false,"removed":false},{"id":"Valor","displayName":"Valor","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Giftcard","displayName":"Giftcard","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PDF","displayName":"PDF","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Ganador (Cel)","displayName":"Ganador (Cel)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Ganador (Nombre)","displayName":"Ganador (Nombre)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2096,1200],"id":"c98d6852-ec84-4de7-a035-296964a622fb","name":"Recompensa Cliente ENVIADA","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Cambio de Estado del Prospecto","type":"main","index":0}]]},"Cambio de Estado del Prospecto":{"main":[[{"node":"Get a record","type":"main","index":0}]]},"Actualizar: Prospecto":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Actualizar: Oportunidad":{"main":[[{"node":"Recompensa Oportunidad ENVIADA","type":"main","index":0}]]},"Actualizar: Cliente":{"main":[[{"node":"Recompensa Cliente ENVIADA","type":"main","index":0}]]},"Variables":{"main":[[{"node":"Estado del prospecto","type":"main","index":0}]]},"Estado del prospecto":{"main":[[{"node":"Buscar instancia","type":"main","index":0}],[{"node":"Buscar instancia1","type":"main","index":0}],[{"node":"Buscar instancia2","type":"main","index":0}],[{"node":"Buscar instancia3","type":"main","index":0}]]},"Actualizar: No cliente":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Variables","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Cambio de Estado del Prospecto","type":"main","index":0}]]},"Buscar instancia":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Prospecto: Enviar presencia","type":"main","index":0}],[{"node":"Prospecto: error en mensaje","type":"main","index":0}]]},"Buscar instancia1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Oportunidad: Enviar presencia1","type":"main","index":0}],[{"node":"Oportunidad: error en mensaje","type":"main","index":0}]]},"Prospecto: Enviar presencia":{"main":[[{"node":"Prospecto: Aviso a dueño de referido","type":"main","index":0}]]},"Prospecto: Aviso a dueño de referido":{"main":[[{"node":"Prospecto: Aviso a dueño de referido1","type":"main","index":0}]]},"Prospecto: Aviso a dueño de referido1":{"main":[[{"node":"Actualizar: Prospecto","type":"main","index":0}]]},"Oportunidad: Enviar presencia1":{"main":[[{"node":"Oportunidad: Aviso a dueño de referido","type":"main","index":0}]]},"Oportunidad: Aviso a dueño de referido":{"main":[[{"node":"Oportunidad: Aviso a dueño de referido2","type":"main","index":0}]]},"Oportunidad: Aviso a dueño de referido2":{"main":[[{"node":"Actualizar: Oportunidad","type":"main","index":0}]]},"Buscar instancia2":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Cliente: Enviar presencia a nuevo cliente","type":"main","index":0}],[{"node":"Cliente: error en mensaje1","type":"main","index":0}]]},"Cliente: Enviar presencia a dueño de referido":{"main":[[{"node":"Cliente: Aviso a dueño de referido1","type":"main","index":0}]]},"Cliente: Aviso a dueño de referido1":{"main":[[{"node":"Cliente: Aviso a dueño de referido3","type":"main","index":0}]]},"Cliente: Enviar presencia a nuevo cliente":{"main":[[{"node":"Cliente: Aviso nuevo cliente","type":"main","index":0}]]},"Cliente: Aviso nuevo cliente":{"main":[[{"node":"Cliente: Aviso al nuevo cliente","type":"main","index":0}]]},"Cliente: Aviso a dueño de referido3":{"main":[[{"node":"Actualizar: Cliente","type":"main","index":0}]]},"Cliente: Aviso al nuevo cliente":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Cliente: Enviar presencia a dueño de referido","type":"main","index":0}]]},"Buscar instancia3":{"main":[[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[{"node":"No cliente: Enviar presencia a No cliente","type":"main","index":0}],[{"node":"Cliente: error en mensaje","type":"main","index":0}]]},"No cliente: Enviar presencia a No cliente":{"main":[[{"node":"No Cliente: Aviso a No cliente","type":"main","index":0}]]},"No Cliente: Aviso a No cliente":{"main":[[{"node":"No Cliente: Aviso a No cliente1","type":"main","index":0}]]},"No Cliente: Aviso a No cliente1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"No Cliente: Enviar presencia a dueño de referido1","type":"main","index":0}]]},"No Cliente: Enviar presencia a dueño de referido1":{"main":[[{"node":"No Cliente: Aviso a dueño de referido","type":"main","index":0}]]},"No Cliente: Aviso a dueño de referido":{"main":[[{"node":"No Cliente: Aviso a No cliente2","type":"main","index":0}]]},"No Cliente: Aviso a No cliente2":{"main":[[{"node":"Actualizar: No cliente","type":"main","index":0}]]},"Get a record":{"main":[[{"node":"Recompensa (Oportunidad)","type":"main","index":0}]]},"Recompensa (Oportunidad)":{"main":[[{"node":"Recompensa (Ciente)","type":"main","index":0}]]},"Recompensa (Ciente)":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Recompensa Oportunidad ENVIADA":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Recompensa Cliente ENVIADA":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f8fd0114-8dff-4041-bc88-8ec5c2e9b0c6","activeVersionId":"f8fd0114-8dff-4041-bc88-8ec5c2e9b0c6","versionCounter":27,"triggerCount":1,"shared":[{"updatedAt":"2026-01-05T04:59:28.823Z","createdAt":"2026-01-05T04:59:28.823Z","role":"workflow:owner","workflowId":"ye0spm1wPnkiUuBX","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-17T00:23:36.000Z","createdAt":"2026-01-17T00:23:33.642Z","versionId":"f8fd0114-8dff-4041-bc88-8ec5c2e9b0c6","workflowId":"ye0spm1wPnkiUuBX","nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1712,1104],"id":"e9ce9cc8-9942-4729-9abc-9d223671bcbd","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"filterByFormula":"=AND(\n  {Estatus} != {Estatus Actualizado},\nOR(\n  {Estatus} = 'Prospecto',\n  {Estatus} = 'Oportunidad',\n  {Estatus} = 'Cliente', \n  {Estatus} = 'No cliente'\n     )\n)","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1472,976],"id":"5fe79a9d-8b9f-43da-989e-52494109efe1","name":"Cambio de Estado del Prospecto","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"content":"## Información\n**Este flujo compara los movimientos que se han hecho en el CRM para verificar el estado de los referidos y avisar al dueño de cada uno cómo va el proceso.\n\n-> El trigger que mapea los estados tiene 5 minutos de intervalo para dar la oportunidad de corregir errores. ","height":176,"width":704},"type":"n8n-nodes-base.stickyNote","position":[-2080,448],"typeVersion":1,"id":"10769943-0f65-4fa9-967b-96a9096db7be","name":"Sticky Note"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Cambio de Estado del Prospecto').item.json.id }}","Estatus Actualizado":"Prospecto"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Apellido","displayName":"Apellido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Whatsapp (Cel)","displayName":"Whatsapp (Cel)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Whatsapp (Validación)","displayName":"Whatsapp (Validación)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Highligts","displayName":"Highligts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Fecha de Nacimiento","displayName":"Fecha de Nacimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Fuma","displayName":"Fuma","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Instrumentos de Ahorro","displayName":"Instrumentos de Ahorro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Rendimientos","displayName":"Rendimientos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Incapacidad","displayName":"Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Seguro de Incapacidad","displayName":"Seguro de Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Hijos","displayName":"Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"0","value":"0"},{"name":"1","value":"1"},{"name":"2","value":"2"},{"name":"3","value":"3"},{"name":"4","value":"4"},{"name":"+5","value":"+5"}],"readOnly":false,"removed":true},{"id":"Educación Hijos","displayName":"Educación Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Plan de retiro","displayName":"Plan de retiro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Qué harían en caso de muerte","displayName":"Qué harían en caso de muerte","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Anotaciones","displayName":"Anotaciones","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Archivos adjuntos","displayName":"Archivos adjuntos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Tares / Eventos","displayName":"Tares / Eventos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Pólizas","displayName":"Pólizas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referidos","displayName":"Referidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referido de","displayName":"Referido de","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Aviso","displayName":"Aviso","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Estatus Actualizado","displayName":"Estatus Actualizado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":false},{"id":"Registro de nuevo cliente","displayName":"Registro de nuevo cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1184,-160],"id":"94b06592-b809-4ab9-9eb9-f9889bb4b6f8","name":"Actualizar: Prospecto","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Cambio de Estado del Prospecto').item.json.id }}","Estatus Actualizado":"Oportunidad"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Apellido","displayName":"Apellido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Whatsapp (Cel)","displayName":"Whatsapp (Cel)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Whatsapp (Validación)","displayName":"Whatsapp (Validación)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Highligts","displayName":"Highligts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Fecha de Nacimiento","displayName":"Fecha de Nacimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Fuma","displayName":"Fuma","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Instrumentos de Ahorro","displayName":"Instrumentos de Ahorro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Rendimientos","displayName":"Rendimientos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Incapacidad","displayName":"Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Seguro de Incapacidad","displayName":"Seguro de Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Hijos","displayName":"Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"0","value":"0"},{"name":"1","value":"1"},{"name":"2","value":"2"},{"name":"3","value":"3"},{"name":"4","value":"4"},{"name":"+5","value":"+5"}],"readOnly":false,"removed":true},{"id":"Educación Hijos","displayName":"Educación Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Plan de retiro","displayName":"Plan de retiro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Qué harían en caso de muerte","displayName":"Qué harían en caso de muerte","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Anotaciones","displayName":"Anotaciones","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Archivos adjuntos","displayName":"Archivos adjuntos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Tares / Eventos","displayName":"Tares / Eventos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Pólizas","displayName":"Pólizas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referidos","displayName":"Referidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referido de","displayName":"Referido de","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Aviso","displayName":"Aviso","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Estatus Actualizado","displayName":"Estatus Actualizado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":false},{"id":"Registro de nuevo cliente","displayName":"Registro de nuevo cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1376,336],"id":"d18a0f9b-ae42-499c-ad50-89d6340c13b9","name":"Actualizar: Oportunidad","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Cambio de Estado del Prospecto').item.json.id }}","Estatus Actualizado":"Cliente","Registro de nuevo cliente":"={{ $now }}","UltimoAvisoRef":"={{ $now }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Apellido","displayName":"Apellido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Whatsapp (Cel)","displayName":"Whatsapp (Cel)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Whatsapp (Validación)","displayName":"Whatsapp (Validación)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Highligts","displayName":"Highligts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Fecha de Nacimiento","displayName":"Fecha de Nacimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Fuma","displayName":"Fuma","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Instrumentos de Ahorro","displayName":"Instrumentos de Ahorro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Rendimientos","displayName":"Rendimientos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Incapacidad","displayName":"Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Seguro de Incapacidad","displayName":"Seguro de Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Hijos","displayName":"Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"0","value":"0"},{"name":"1","value":"1"},{"name":"2","value":"2"},{"name":"3","value":"3"},{"name":"4","value":"4"},{"name":"+5","value":"+5"}],"readOnly":false,"removed":true},{"id":"Educación Hijos","displayName":"Educación Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Plan de retiro","displayName":"Plan de retiro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Qué harían en caso de muerte","displayName":"Qué harían en caso de muerte","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Anotaciones","displayName":"Anotaciones","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Archivos adjuntos","displayName":"Archivos adjuntos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Tares / Eventos","displayName":"Tares / Eventos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Pólizas","displayName":"Pólizas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referidos","displayName":"Referidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referido de","displayName":"Referido de","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Aviso","displayName":"Aviso","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Estatus Actualizado","displayName":"Estatus Actualizado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":false},{"id":"Registro de nuevo cliente","displayName":"Registro de nuevo cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"UltimoAvisoRef","displayName":"UltimoAvisoRef","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"AvisoSemana","displayName":"AvisoSemana","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"AvisoMes","displayName":"AvisoMes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"TotalReferidos","displayName":"TotalReferidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"DueñoReferido","displayName":"DueñoReferido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1904,1200],"id":"393a23c3-8658-467f-99fc-c666e13ce2e4","name":"Actualizar: Cliente","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"content":"## Registro de fecha de cliente\n**Este paso sirve para registrar la fecha en que un referido se convierte en cliente. ","color":3},"type":"n8n-nodes-base.stickyNote","position":[2384,1184],"typeVersion":1,"id":"61360d53-6ee4-4e2c-a9f2-f487951380d1","name":"Sticky Note2"},{"parameters":{"assignments":{"assignments":[{"id":"73eb6085-c75c-44b0-a224-1f9980a036e1","name":"Referido Nombre","value":"={{ $('Cambio de Estado del Prospecto').item.json['Nombre'] }}","type":"string"},{"id":"eccb8cbb-b8d8-45a6-95ce-3144f9671dcd","name":"=Whatsapp Referido","value":"={{ $('Cambio de Estado del Prospecto').item.json['Whatsapp (Cel)'] }}","type":"string"},{"id":"0e32aec4-ec72-4254-bfdf-37afcd579fbd","name":"Estatus","value":"={{ $('Cambio de Estado del Prospecto').item.json.Estatus }}","type":"string"},{"id":"b4c3e82a-560d-40f7-bf0b-30b718873061","name":"DueñoReferidoNombre","value":"={{ $('Get a record').item.json.Nombre }}","type":"string"},{"id":"4f699e62-8472-4b44-b180-37522d1873df","name":"Whatsapp Dueño Referido","value":"={{ $('Get a record').item.json['Whatsapp (Cel)'] }}","type":"string"},{"id":"720614be-5be8-4d4d-b01a-ebfcb585b511","name":"Dueño Referido Email","value":"={{ $('Get a record').item.json.Mail }}","type":"string"},{"id":"c99e5723-1995-4cd3-b03b-51e1d255b01e","name":"Premio Oportunidad","value":"={{ $('Recompensa (Oportunidad)').item.json.Link }}","type":"string"},{"id":"ac5da2fb-0abf-4140-bd1c-d81d9b4bb090","name":"Premio Cliente","value":"={{ $('Recompensa (Ciente)').item.json.Link }}","type":"string"},{"id":"681da55f-610e-4c02-b881-1c163ffe330d","name":"ID_Oportunidad","value":"={{ $('Recompensa (Oportunidad)').item.json.id }}","type":"string"},{"id":"d21cd25a-a10b-4aca-9fb4-596778732653","name":"ID_Cliente","value":"={{ $('Recompensa (Ciente)').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-256,992],"id":"1d104343-22e2-4898-a73b-247211736bb3","name":"Variables"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.Estatus }}","rightValue":"Prospecto","operator":{"type":"string","operation":"equals"},"id":"4e8278d7-30ed-462c-b141-bbe734608a4a"}],"combinator":"and"},"renameOutput":true,"outputKey":"Prospecto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fecd7fd8-90d8-4dec-a5bd-75ee6d252f7d","leftValue":"={{ $json.Estatus }}","rightValue":"Oportunidad","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Oportunidad"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"61fbdb50-e764-4c05-8fa8-f96550868ca7","leftValue":"={{ $json.Estatus }}","rightValue":"Cliente","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Cliente"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f731c407-7a3e-491b-b7bd-9a7bd9aa5025","leftValue":"={{ $json.Estatus }}","rightValue":"No cliente","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"No cliente"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-16,960],"id":"ba333f8a-be2f-4c86-8980-3dd0008dfa83","name":"Estado del prospecto"},{"parameters":{"content":"## Trigger\nEl trigger manual es para pruebas. \n\nEl trigger programado se ejecutará cada cinco minutos para registrar movimientos en la base de datos. ","width":448,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-2064,1264],"typeVersion":1,"id":"74797a5e-2346-458b-931f-f3e16376c2c8","name":"Sticky Note3"},{"parameters":{"content":"## Cambio de estado\nVerificación de cambio de estado en el proceso de cada prospecto. ","height":144,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1264,784],"typeVersion":1,"id":"25053517-50df-4735-bce6-1719431a8b7d","name":"Sticky Note4"},{"parameters":{"content":"## Información\nSe reúne información sobre el referido y el dueño del referido. ","height":112,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-304,816],"typeVersion":1,"id":"723ba4db-b832-4703-b9ed-deaa1cfd155d","name":"Sticky Note6"},{"parameters":{"content":"## Actualizar el estado del prospecto\n","height":80,"width":432,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1344,-144],"typeVersion":1,"id":"80ed1805-ceea-43f3-a567-d050cb9fbe85","name":"Sticky Note8"},{"parameters":{"content":"## Recompenza\n\n","height":80},"type":"n8n-nodes-base.stickyNote","position":[160,320],"typeVersion":1,"id":"7556f27f-e552-4958-b00f-71066f92fbfd","name":"Sticky Note10"},{"parameters":{"content":"## Recompenza\n\n","height":80,"width":176},"type":"n8n-nodes-base.stickyNote","position":[288,768],"typeVersion":1,"id":"7696cfcc-a71e-437c-8537-8741e4cdc289","name":"Sticky Note11"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Cambio de Estado del Prospecto').item.json.id }}","Estatus Actualizado":"No cliente","UltimoAvisoRef":"={{ $now }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Apellido","displayName":"Apellido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Whatsapp (Cel)","displayName":"Whatsapp (Cel)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Whatsapp (Validación)","displayName":"Whatsapp (Validación)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Highligts","displayName":"Highligts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Fecha de Nacimiento","displayName":"Fecha de Nacimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Fuma","displayName":"Fuma","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Instrumentos de Ahorro","displayName":"Instrumentos de Ahorro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Rendimientos","displayName":"Rendimientos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Incapacidad","displayName":"Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Seguro de Incapacidad","displayName":"Seguro de Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Hijos","displayName":"Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"0","value":"0"},{"name":"1","value":"1"},{"name":"2","value":"2"},{"name":"3","value":"3"},{"name":"4","value":"4"},{"name":"+5","value":"+5"}],"readOnly":false,"removed":true},{"id":"Educación Hijos","displayName":"Educación Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Plan de retiro","displayName":"Plan de retiro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Qué harían en caso de muerte","displayName":"Qué harían en caso de muerte","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Anotaciones","displayName":"Anotaciones","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Archivos adjuntos","displayName":"Archivos adjuntos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Tares / Eventos","displayName":"Tares / Eventos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Pólizas","displayName":"Pólizas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referidos","displayName":"Referidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referido de","displayName":"Referido de","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Aviso","displayName":"Aviso","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Estatus Actualizado","displayName":"Estatus Actualizado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":false},{"id":"Registro de nuevo cliente","displayName":"Registro de nuevo cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"UltimoAvisoRef","displayName":"UltimoAvisoRef","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"AvisoSemana","displayName":"AvisoSemana","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"AvisoMes","displayName":"AvisoMes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"TotalReferidos","displayName":"TotalReferidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"DueñoReferido","displayName":"DueñoReferido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1840,1760],"id":"8ae5e84e-171a-4073-8a1f-2e8ce536bbcc","name":"Actualizar: No cliente","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1712,800],"id":"180015cb-7b29-433d-ac9f-3c7b34be3c18","name":"Schedule Trigger"},{"parameters":{"batchSize":"=1","options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-560,976],"id":"3758462d-4d28-415a-81db-bfd62f8e5055","name":"Loop Over Items"},{"parameters":{"operation":"fetch-instances","instanceName":"Bernardo"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[160,-144],"id":"9ffd43b8-9464-4ce4-ac51-720d83eeedaf","name":"Buscar instancia","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7467d36b-3429-4783-b00f-3ddec8a86793","leftValue":"={{ $json.success }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[384,-144],"id":"b9aaecd1-3283-4433-bd4b-9c25eb8e31ba","name":"If"},{"parameters":{"operation":"fetch-instances","instanceName":"Bernardo"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[384,352],"id":"3494e09c-07b6-4375-a6e5-133a7455b3d1","name":"Buscar instancia1","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7467d36b-3429-4783-b00f-3ddec8a86793","leftValue":"={{ $json.success }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,352],"id":"90cbaa23-5d07-4929-8e3d-f7795392acc7","name":"If1"},{"parameters":{"chatId":"1019249029","text":"BERNARDO| Fallo en notificación de proceso de prospecto a dueño: Oportunidad.\nLa instancia de Evolutionapi no está en línea.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[560,592],"id":"3706055b-184b-4bb0-81c3-6135fb27b30b","name":"Oportunidad: error en mensaje","webhookId":"31f8aaea-cd3e-4354-8989-c4375c2c3caa","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Dueño Referido'] }}\n","delay":7000},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[624,-160],"id":"c75c7902-a3e6-4cb2-8e22-4451ffa59bf7","name":"Prospecto: Enviar presencia","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Dueño Referido'] }}","messageText":"=¡Hola, {{ $('Variables').item.json['DueñoReferidoNombre'] }}! \n\n¡Te informamos que hemos contactado a {{ $('Variables').item.json['Referido Nombre'] }}! Te agradecemos mucho habernos puesto en contacto y te recordamos que todavía puedes seguir participando en nuestro Programa de Referidos para ganar grandes recompenzas. \n\n¡Registra tus referidos!","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[816,-160],"id":"9f321b98-12ab-4158-82a9-11fd522b9a1b","name":"Prospecto: Aviso a dueño de referido","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Dueño Referido'] }}","messageText":"=https://bernardollamas.com/referidos/","options_message":{"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[992,-160],"id":"3c23642b-130a-455b-9418-58cee12c6800","name":"Prospecto: Aviso a dueño de referido1","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"chatId":"1019249029","text":"BERNARDO| Fallo en notificación de proceso de prospecto a dueño: Oportunidad.\nLa instancia de Evolutionapi no está en línea.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[432,96],"id":"f7a1c42a-2a7a-476b-9013-a2ca01a9e77f","name":"Prospecto: error en mensaje","webhookId":"31f8aaea-cd3e-4354-8989-c4375c2c3caa","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Dueño Referido'] }}","delay":5000},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[800,336],"id":"8b063a73-d13f-463b-9a98-dbad80c39804","name":"Oportunidad: Enviar presencia1","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Dueño Referido'] }}","messageText":"=¡Hola, {{ $('Variables').item.json['DueñoReferidoNombre'] }}! \n\n¡Te informamos que continuamos en pláticas con {{ $('Variables').item.json['Referido Nombre'] }}! Te agradecemos mucho habernos puesto en contacto y para mostrarte nuestro aprecio te hacemos llegar esta Tarjeta de Regalo con la cantidad de: {{ $('Variables').item.json['Premio Oportunidad'] }}\n\nAsimismo, te recordamos que todavía puedes seguir participando en nuestro Programa de Referidos para ganar grandes recompenzas. \n\n¡Registra tus referidos!","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[992,336],"id":"a22cf486-90a5-47d9-b14b-62dde917fcc4","name":"Oportunidad: Aviso a dueño de referido","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Dueño Referido'] }}","messageText":"=https://bernardollamas.com/referidos/","options_message":{"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1184,336],"id":"36cb532b-0bda-420a-a303-42172f79f683","name":"Oportunidad: Aviso a dueño de referido2","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"operation":"fetch-instances","instanceName":"Bernardo"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[304,848],"id":"c9b0f51b-b35d-49aa-ad6a-59c4788e58c0","name":"Buscar instancia2","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7467d36b-3429-4783-b00f-3ddec8a86793","leftValue":"={{ $json.success }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[528,848],"id":"f94b0de3-2c33-4dc8-804c-13eacb8e582a","name":"If2"},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Dueño Referido'] }}","delay":6000},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1232,1200],"id":"89ddeabf-c38a-4773-a696-ebf732a1c255","name":"Cliente: Enviar presencia a dueño de referido","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Dueño Referido'] }}","messageText":"=¡Hola, {{ $('Variables').item.json['DueñoReferidoNombre'] }}! \n\n¡Te informamos que {{ $('Variables').item.json['Referido Nombre'] }} ha decidido contratar nuestros servicios! Una vez más te agradecemos por habernos puesto en contacto. Para demostrarte lo mucho que apreciamos tu labor, te enviamos esta tarjeta de regalo con la cantidad de {{ $('Variables').item.json['Premio Cliente'] }}.\n\nY te recordamos que todavía puedes seguir participando en nuestro Programa de Referidos para ganar grandes recompenzas.\n\n¡Registra tus referidos!","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1456,1200],"id":"3cd3e5fc-53ca-447c-b6b6-59680ac203fa","name":"Cliente: Aviso a dueño de referido1","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Dueño Referido'] }}","messageText":"=https://bernardollamas.com/referidos/","options_message":{"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1680,1200],"id":"451b42be-f6ee-47ba-8730-c6febcf61c6b","name":"Cliente: Aviso a dueño de referido3","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Referido'] }}","delay":5000},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[800,832],"id":"e2d1dbe5-4c9e-4bfd-bc6b-c422e03976a9","name":"Cliente: Enviar presencia a nuevo cliente","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Referido'] }}","messageText":"=¡Hola, {{ $('Variables').item.json['Referido Nombre'] }}!\nEn nombre de todo el equipo, queremos darte la bienvenida oficial como uno de nuestros valiosos clientes. ¡Estamos encantados de tenerte a bordo!\n\nAdemás de la bienvenida, nos gustaría recordarte que puedes participar en nuestro Programa de Referidos. Por cada colega o amigo que refieras y se convierta en cliente, ¡ganarás una recompensa!\n\nEs la mejor manera de compartir un buen servicio y obtener un beneficio mutuo.Estamos a tu disposición. Gracias una vez más por tu confianza.\n\n\n¡Registra tus referidos!","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1008,832],"id":"42844999-34d7-4d56-b5f5-626358060037","name":"Cliente: Aviso nuevo cliente","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"=Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Referido'] }}","messageText":"=https://bernardollamas.com/referidos/","options_message":{"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1184,832],"id":"811017fb-f348-4988-813f-9b2cb89ac76b","name":"Cliente: Aviso al nuevo cliente","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"amount":"=20.00"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1392,832],"id":"a8b4df7d-9387-4539-af26-b74950974ad3","name":"Wait","webhookId":"003a59e6-3ae9-431f-ac56-86308297920b"},{"parameters":{"operation":"fetch-instances","instanceName":"Bernardo"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[624,1504],"id":"b403792a-52e9-47fa-95bc-579b7bd6685f","name":"Buscar instancia3","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7467d36b-3429-4783-b00f-3ddec8a86793","leftValue":"={{ $json.success }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[832,1504],"id":"256d3600-8bfc-480b-806f-d022d5658b68","name":"If3"},{"parameters":{"chatId":"1019249029","text":"BERNARDO| Fallo en notificación de proceso de prospecto: Cliente.\nLa instancia de Evolutionapi no está en línea.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[480,1024],"id":"33a615cd-9582-45f5-ab87-80c8e4ffef29","name":"Cliente: error en mensaje1","webhookId":"31f8aaea-cd3e-4354-8989-c4375c2c3caa","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"chatId":"1019249029","text":"BERNARDO| Fallo en notificación de proceso de prospecto: No Cliente.\nLa instancia de Evolutionapi no está en línea.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[848,1760],"id":"938b6c91-92a5-402d-8b4f-20ce644f5476","name":"Cliente: error en mensaje","webhookId":"31f8aaea-cd3e-4354-8989-c4375c2c3caa","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Referido'] }}","delay":5000},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1136,1488],"id":"74827d83-bcb6-44f6-b352-afa0cb83a3fb","name":"No cliente: Enviar presencia a No cliente","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Referido'] }}","messageText":"=¡Hola, {{ $('Variables').item.json['Referido Nombre'] }}! \n\nLamentamos que nuestros servicios no te hayan convencido. Te queremos recordar que si en el futuro esto cambia, estamos a tus órdenes. \n\nPor otra parte, te invitamos a que participes en nuestro Programa de Referidos. ¿Conoces a alguien a quien le podría interesar nuestros servicios? ¡No dudes en recomendarlo para ganar grandes recompenzas! \n\n¡Registra tus referidos!","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1360,1488],"id":"33ed7494-2999-43a5-a192-9653193cd2f9","name":"No Cliente: Aviso a No cliente","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Referido'] }}","messageText":"=https://bernardollamas.com/referidos/","options_message":{"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1600,1488],"id":"d7a5311d-4408-4f13-a0cc-f224ad84b110","name":"No Cliente: Aviso a No cliente1","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"amount":"=20.00"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2048,1488],"id":"cad05327-6977-4ec6-b09a-3161e3887e93","name":"Wait1","webhookId":"003a59e6-3ae9-431f-ac56-86308297920b"},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Dueño Referido'] }}","delay":9000},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1168,1760],"id":"568b4e72-7685-4b1d-a125-e580a59bba07","name":"No Cliente: Enviar presencia a dueño de referido1","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Dueño Referido'] }}","messageText":"=¡Hola, {{ $('Variables').item.json['DueñoReferidoNombre'] }}!\n\nTe informamos que lamentablemente {{ $('Variables').item.json['Referido Nombre'] }} decidió no contratar nuestros servicios. Te agradecemos nos hayas puesto en contacto. \n\nSin embargo, recuerda que todavía puedes seguir participando en nuestro programa de referidos para ganar grandes recompenzas. \n\n¡Registra tus referidos!","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1376,1760],"id":"9a754746-6ae6-4d47-ab38-221e66182915","name":"No Cliente: Aviso a dueño de referido","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Variables').item.json['Whatsapp Dueño Referido'] }}","messageText":"=https://bernardollamas.com/referidos/","options_message":{"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1600,1760],"id":"08f0569b-8ee9-4a89-8b32-ad470843c62f","name":"No Cliente: Aviso a No cliente2","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"content":"## Bienvenida a nuevo cliente.","height":96,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1552,800],"typeVersion":1,"id":"1a510789-ea27-4625-aa32-6d8ae70ad799","name":"Sticky Note1"},{"parameters":{"content":"## No cliente\nAviso a dueño de referido e invitación a No cliente a registrar referidos","color":3},"type":"n8n-nodes-base.stickyNote","position":[464,1744],"typeVersion":1,"id":"26395648-d6ef-49d3-bcaa-8df3379458e4","name":"Sticky Note5"},{"parameters":{"base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"id":"={{ $json['Referido de'][0] }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1248,976],"id":"e03afcd2-44ec-4ac4-a8ed-640c46a25210","name":"Get a record","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"content":"## Estado: Prospecto\n","height":80,"width":256,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-144,-160],"typeVersion":1,"id":"4b51b731-668e-447b-9e92-609cf5a5fac8","name":"Sticky Note9"},{"parameters":{"content":"## Estado: Oportunidad","height":80,"width":288,"color":5},"type":"n8n-nodes-base.stickyNote","position":[128,272],"typeVersion":1,"id":"285aa32a-4379-4d45-82ac-7af06c83c51f","name":"Sticky Note12"},{"parameters":{"content":"## Estado: No Cliente","height":80,"width":288,"color":5},"type":"n8n-nodes-base.stickyNote","position":[256,1536],"typeVersion":1,"id":"68797f47-845e-426d-98ee-87b71cf6b534","name":"Sticky Note13"},{"parameters":{"content":"## Estado: Cliente","height":80,"width":288,"color":5},"type":"n8n-nodes-base.stickyNote","position":[224,720],"typeVersion":1,"id":"b151b47b-a123-4715-93cd-9570a1753928","name":"Sticky Note14"},{"parameters":{"content":"## Recompensas\n ⚠️ ⚠️ ⚠️ Hay que vincularlo a las variables","height":208,"width":368},"type":"n8n-nodes-base.stickyNote","position":[-1040,1184],"typeVersion":1,"id":"4bbaa6c0-988a-420c-b358-23261d96e70e","name":"Sticky Note7"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblMa34eR8g6WeBTQ","mode":"list","cachedResultName":"Tarjetas 100","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblMa34eR8g6WeBTQ"},"filterByFormula":"{Tipo} = \"New\"","returnAll":false,"limit":1,"options":{},"sort":{"property":[{"field":"ID"}]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1024,976],"id":"0a7b4377-ad10-4022-ab93-5f69e0165100","name":"Recompensa (Oportunidad)","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblVuxyJOo5n4EbjH","mode":"list","cachedResultName":"Tarjetas 1000","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblVuxyJOo5n4EbjH"},"filterByFormula":"{Tipo} = \"New\"","returnAll":false,"limit":1,"options":{},"sort":{"property":[{"field":"ID"}]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-816,976],"id":"51dd0e0a-cfd2-4594-b36b-102246d74a4b","name":"Recompensa (Ciente)","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblMa34eR8g6WeBTQ","mode":"list","cachedResultName":"Tarjetas 100","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblMa34eR8g6WeBTQ"},"columns":{"mappingMode":"defineBelow","value":{"Tipo":"Enviada","id":"={{ $('Variables').item.json.ID_Oportunidad }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Tipo","displayName":"Tipo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"New","value":"New"},{"name":"Enviada","value":"Enviada"},{"name":"new","value":"new"}],"readOnly":false,"removed":false},{"id":"Valor","displayName":"Valor","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Giftcard","displayName":"Giftcard","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PDF","displayName":"PDF","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Ganador (Cel)","displayName":"Ganador (Cel)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Ganador (Nombre)","displayName":"Ganador (Nombre)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1568,336],"id":"992bb573-02f6-46e2-8af5-09cdce67c9bf","name":"Recompensa Oportunidad ENVIADA","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblVuxyJOo5n4EbjH","mode":"list","cachedResultName":"Tarjetas 1000","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblVuxyJOo5n4EbjH"},"columns":{"mappingMode":"defineBelow","value":{"Tipo":"Enviada","id":"={{ $('Variables').item.json.ID_Cliente }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Tipo","displayName":"Tipo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"New","value":"New"},{"name":"Enviada","value":"Enviada"}],"readOnly":false,"removed":false},{"id":"Valor","displayName":"Valor","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Giftcard","displayName":"Giftcard","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PDF","displayName":"PDF","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Ganador (Cel)","displayName":"Ganador (Cel)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Ganador (Nombre)","displayName":"Ganador (Nombre)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2096,1200],"id":"c98d6852-ec84-4de7-a035-296964a622fb","name":"Recompensa Cliente ENVIADA","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Cambio de Estado del Prospecto","type":"main","index":0}]]},"Cambio de Estado del Prospecto":{"main":[[{"node":"Get a record","type":"main","index":0}]]},"Actualizar: Prospecto":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Actualizar: Oportunidad":{"main":[[{"node":"Recompensa Oportunidad ENVIADA","type":"main","index":0}]]},"Actualizar: Cliente":{"main":[[{"node":"Recompensa Cliente ENVIADA","type":"main","index":0}]]},"Variables":{"main":[[{"node":"Estado del prospecto","type":"main","index":0}]]},"Estado del prospecto":{"main":[[{"node":"Buscar instancia","type":"main","index":0}],[{"node":"Buscar instancia1","type":"main","index":0}],[{"node":"Buscar instancia2","type":"main","index":0}],[{"node":"Buscar instancia3","type":"main","index":0}]]},"Actualizar: No cliente":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Variables","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Cambio de Estado del Prospecto","type":"main","index":0}]]},"Buscar instancia":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Prospecto: Enviar presencia","type":"main","index":0}],[{"node":"Prospecto: error en mensaje","type":"main","index":0}]]},"Buscar instancia1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Oportunidad: Enviar presencia1","type":"main","index":0}],[{"node":"Oportunidad: error en mensaje","type":"main","index":0}]]},"Prospecto: Enviar presencia":{"main":[[{"node":"Prospecto: Aviso a dueño de referido","type":"main","index":0}]]},"Prospecto: Aviso a dueño de referido":{"main":[[{"node":"Prospecto: Aviso a dueño de referido1","type":"main","index":0}]]},"Prospecto: Aviso a dueño de referido1":{"main":[[{"node":"Actualizar: Prospecto","type":"main","index":0}]]},"Oportunidad: Enviar presencia1":{"main":[[{"node":"Oportunidad: Aviso a dueño de referido","type":"main","index":0}]]},"Oportunidad: Aviso a dueño de referido":{"main":[[{"node":"Oportunidad: Aviso a dueño de referido2","type":"main","index":0}]]},"Oportunidad: Aviso a dueño de referido2":{"main":[[{"node":"Actualizar: Oportunidad","type":"main","index":0}]]},"Buscar instancia2":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Cliente: Enviar presencia a nuevo cliente","type":"main","index":0}],[{"node":"Cliente: error en mensaje1","type":"main","index":0}]]},"Cliente: Enviar presencia a dueño de referido":{"main":[[{"node":"Cliente: Aviso a dueño de referido1","type":"main","index":0}]]},"Cliente: Aviso a dueño de referido1":{"main":[[{"node":"Cliente: Aviso a dueño de referido3","type":"main","index":0}]]},"Cliente: Enviar presencia a nuevo cliente":{"main":[[{"node":"Cliente: Aviso nuevo cliente","type":"main","index":0}]]},"Cliente: Aviso nuevo cliente":{"main":[[{"node":"Cliente: Aviso al nuevo cliente","type":"main","index":0}]]},"Cliente: Aviso a dueño de referido3":{"main":[[{"node":"Actualizar: Cliente","type":"main","index":0}]]},"Cliente: Aviso al nuevo cliente":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Cliente: Enviar presencia a dueño de referido","type":"main","index":0}]]},"Buscar instancia3":{"main":[[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[{"node":"No cliente: Enviar presencia a No cliente","type":"main","index":0}],[{"node":"Cliente: error en mensaje","type":"main","index":0}]]},"No cliente: Enviar presencia a No cliente":{"main":[[{"node":"No Cliente: Aviso a No cliente","type":"main","index":0}]]},"No Cliente: Aviso a No cliente":{"main":[[{"node":"No Cliente: Aviso a No cliente1","type":"main","index":0}]]},"No Cliente: Aviso a No cliente1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"No Cliente: Enviar presencia a dueño de referido1","type":"main","index":0}]]},"No Cliente: Enviar presencia a dueño de referido1":{"main":[[{"node":"No Cliente: Aviso a dueño de referido","type":"main","index":0}]]},"No Cliente: Aviso a dueño de referido":{"main":[[{"node":"No Cliente: Aviso a No cliente2","type":"main","index":0}]]},"No Cliente: Aviso a No cliente2":{"main":[[{"node":"Actualizar: No cliente","type":"main","index":0}]]},"Get a record":{"main":[[{"node":"Recompensa (Oportunidad)","type":"main","index":0}]]},"Recompensa (Oportunidad)":{"main":[[{"node":"Recompensa (Ciente)","type":"main","index":0}]]},"Recompensa (Ciente)":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Recompensa Oportunidad ENVIADA":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Recompensa Cliente ENVIADA":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"authors":"Admin KiroxOn","name":"Version f8fd0114","description":"","workflowPublishHistory":[{"createdAt":"2026-01-17T00:23:36.842Z","id":30,"workflowId":"ye0spm1wPnkiUuBX","versionId":"f8fd0114-8dff-4041-bc88-8ec5c2e9b0c6","event":"activated","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629"}]}}