workflows_BACKUP/F3 Bernardo _ RecordatorioReferidos--Wht8bKyJxMIeMHik.json
{"updatedAt":"2026-01-17T00:31:38.114Z","createdAt":"2026-01-05T05:02:08.759Z","id":"Wht8bKyJxMIeMHik","name":"F3 Bernardo | RecordatorioReferidos","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## Operación\n**Este flujo le recuerda a los clientes que pueden participar en el programa de Referidos cada cierto tiempo: \n\n-> Una semana después, si no tiene referidos mandarle un recordatorio\n-> Un mes después si no tiene referidos mandarle un recordatorio\n-> 6 meses después y cada 6 meses después invitar a dar nuevos referidos.\n","height":272,"width":528},"type":"n8n-nodes-base.stickyNote","position":[-1456,1040],"typeVersion":1,"id":"71a8fbd0-39cb-477a-8ea3-7c7766d50a90","name":"Sticky Note"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1680,1632],"id":"5272e66e-593a-457c-be76-b65d024ac5e6","name":"Inicio de prueba"},{"parameters":{"rule":{"interval":[{"triggerAtHour":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1664,1392],"id":"67217e3d-dc25-4520-9c9c-71bd8f9ff472","name":"Ejecución diaria"},{"parameters":{"operation":"getTimeBetweenDates","startDate":"={{ $('Búsqueda de perfiles').item.json.UltimoAvisoRef }}","endDate":"={{ $json.currentDate }}","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-832,1536],"id":"23b1d9f4-79bc-4aaa-a8c4-8752f6ed1828","name":"Cálculo de días desde último aviso"},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1248,1552],"id":"480c609d-3d5f-4a7b-9983-7ceed1daddd8","name":"Fecha de Hoy"},{"parameters":{"content":"## Cálculo de fecha\n\nSe compara la fecha desde el último aviso a la del día de HOY \n","color":3},"type":"n8n-nodes-base.stickyNote","position":[-816,1744],"typeVersion":1,"id":"7b61ccd4-0348-4dd8-b6d0-5e09e3819e7e","name":"Sticky Note3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[192,592],"id":"cb29c8e9-14d2-434a-8e3d-495a67db79c1","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-896,1952],"id":"a3895820-bedd-45b8-bacf-c0e4eb909171","name":"No Operation, do nothing1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[112,1424],"id":"ec554a1d-ec8a-4412-baba-94fefec45dcd","name":"No Operation, do nothing2"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Búsqueda de perfiles').item.json.id }}","UltimoAvisoRef":"={{ $('Fecha de Hoy').item.json.currentDate }}","AvisoSemana":"Sí"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Apellido","displayName":"Apellido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Whatsapp (Cel)","displayName":"Whatsapp (Cel)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Whatsapp (Validación)","displayName":"Whatsapp (Validación)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Highligts","displayName":"Highligts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Fecha de Nacimiento","displayName":"Fecha de Nacimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Fuma","displayName":"Fuma","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Instrumentos de Ahorro","displayName":"Instrumentos de Ahorro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Rendimientos","displayName":"Rendimientos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Incapacidad","displayName":"Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Seguro de Incapacidad","displayName":"Seguro de Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Hijos","displayName":"Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"0","value":"0"},{"name":"1","value":"1"},{"name":"2","value":"2"},{"name":"3","value":"3"},{"name":"4","value":"4"},{"name":"+5","value":"+5"}],"readOnly":false,"removed":true},{"id":"Educación Hijos","displayName":"Educación Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Plan de retiro","displayName":"Plan de retiro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Qué harían en caso de muerte","displayName":"Qué harían en caso de muerte","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Anotaciones","displayName":"Anotaciones","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Archivos adjuntos","displayName":"Archivos adjuntos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Tares / Eventos","displayName":"Tares / Eventos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Pólizas","displayName":"Pólizas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referidos","displayName":"Referidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referido de","displayName":"Referido de","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Aviso","displayName":"Aviso","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Estatus Actualizado","displayName":"Estatus Actualizado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Registro de nuevo cliente","displayName":"Registro de nuevo cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"UltimoAvisoRef","displayName":"UltimoAvisoRef","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"AvisoSemana","displayName":"AvisoSemana","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":false},{"id":"AvisoMes","displayName":"AvisoMes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"TotalReferidos","displayName":"TotalReferidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1392,96],"id":"94434dcb-2c64-479b-8195-c98df28d1355","name":"Actualizar fecha | Semana","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Búsqueda de perfiles').item.json.id }}","UltimoAvisoRef":"={{ $('Fecha de Hoy').item.json.currentDate }}","AvisoMes":"Sí"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Apellido","displayName":"Apellido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Whatsapp (Cel)","displayName":"Whatsapp (Cel)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Whatsapp (Validación)","displayName":"Whatsapp (Validación)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Highligts","displayName":"Highligts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Fecha de Nacimiento","displayName":"Fecha de Nacimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Fuma","displayName":"Fuma","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Instrumentos de Ahorro","displayName":"Instrumentos de Ahorro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Rendimientos","displayName":"Rendimientos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Incapacidad","displayName":"Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Seguro de Incapacidad","displayName":"Seguro de Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Hijos","displayName":"Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"0","value":"0"},{"name":"1","value":"1"},{"name":"2","value":"2"},{"name":"3","value":"3"},{"name":"4","value":"4"},{"name":"+5","value":"+5"}],"readOnly":false,"removed":true},{"id":"Educación Hijos","displayName":"Educación Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Plan de retiro","displayName":"Plan de retiro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Qué harían en caso de muerte","displayName":"Qué harían en caso de muerte","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Anotaciones","displayName":"Anotaciones","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Archivos adjuntos","displayName":"Archivos adjuntos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Tares / Eventos","displayName":"Tares / Eventos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Pólizas","displayName":"Pólizas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referidos","displayName":"Referidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referido de","displayName":"Referido de","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Aviso","displayName":"Aviso","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Estatus Actualizado","displayName":"Estatus Actualizado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Registro de nuevo cliente","displayName":"Registro de nuevo cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"UltimoAvisoRef","displayName":"UltimoAvisoRef","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"AvisoSemana","displayName":"AvisoSemana","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"AvisoMes","displayName":"AvisoMes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":false},{"id":"TotalReferidos","displayName":"TotalReferidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1408,1392],"id":"f0b49a0e-8579-4c39-a5d7-2e2388de0848","name":"Actualizar fecha | Mes","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Búsqueda de perfiles').item.json.id }}","UltimoAvisoRef":"={{ $('La fecha es anterior a hoy').item.json.currentDate }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Apellido","displayName":"Apellido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Whatsapp (Cel)","displayName":"Whatsapp (Cel)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Whatsapp (Validación)","displayName":"Whatsapp (Validación)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Highligts","displayName":"Highligts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Fecha de Nacimiento","displayName":"Fecha de Nacimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Fuma","displayName":"Fuma","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Instrumentos de Ahorro","displayName":"Instrumentos de Ahorro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Rendimientos","displayName":"Rendimientos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Incapacidad","displayName":"Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Seguro de Incapacidad","displayName":"Seguro de Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Hijos","displayName":"Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"0","value":"0"},{"name":"1","value":"1"},{"name":"2","value":"2"},{"name":"3","value":"3"},{"name":"4","value":"4"},{"name":"+5","value":"+5"}],"readOnly":false,"removed":true},{"id":"Educación Hijos","displayName":"Educación Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Plan de retiro","displayName":"Plan de retiro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Qué harían en caso de muerte","displayName":"Qué harían en caso de muerte","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Anotaciones","displayName":"Anotaciones","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Archivos adjuntos","displayName":"Archivos adjuntos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Tares / Eventos","displayName":"Tares / Eventos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Pólizas","displayName":"Pólizas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referidos","displayName":"Referidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referido de","displayName":"Referido de","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Aviso","displayName":"Aviso","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Estatus Actualizado","displayName":"Estatus Actualizado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Registro de nuevo cliente","displayName":"Registro de nuevo cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"UltimoAvisoRef","displayName":"UltimoAvisoRef","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"TotalReferidos","displayName":"TotalReferidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1264,2000],"id":"cd709eee-36d5-4769-8ccd-93fd4e9c2d8a","name":"Actualizar fecha | 6 meses","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"content":"## Verificación\n\nVerificación de si ya se ha enviado el recordatorio de la semana. ","height":128,"width":288,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-224,464],"typeVersion":1,"id":"1a9cc96a-b72f-4172-a031-56c645ce0ee5","name":"Sticky Note5"},{"parameters":{"content":"## Notificación\n\nLa notificación de los 6 meses va a ser recurrente. ","height":128,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-272,2016],"typeVersion":1,"id":"01de3add-9c08-4b26-9144-8fd5534895e3","name":"Sticky Note7"},{"parameters":{"content":"## Actualizaciones de registros","height":144,"width":208,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1568,48],"typeVersion":1,"id":"3a180f05-8549-4dc9-82f1-32cec7b68297","name":"Sticky Note8"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"filterByFormula":"=OR(   \n      {Estatus Actualizado} = \"Cliente\",\n      {Estatus Actualizado} = \"No cliente\"\n)","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1408,1552],"id":"023a0890-afb7-4a92-adc8-01b3b87134fd","name":"Búsqueda de perfiles","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"11dcb5cb-5ce3-4b9f-b442-ec3fedd49051","leftValue":"={{ $('Búsqueda de perfiles').item.json.UltimoAvisoRef }}","rightValue":"={{ $json.currentDate }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1040,1552],"id":"328b9479-4bb1-4c14-8a2c-251e5be0d5c0","name":"La fecha es anterior a hoy"},{"parameters":{"operation":"fetch-instances","instanceName":"Bernardo"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[240,112],"id":"9aaaccfa-74f6-4c0d-aae4-c256b691c930","name":"Buscar instancia","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"content":"## Verificación\n\nVerifica que la instancia esté conectada","height":128,"width":288,"color":3},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"be22318b-a484-4fa8-a926-14e7d91e9ea8","name":"Sticky Note9"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c2a89834-4383-4c44-9d40-9592f80bc6f1","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[464,112],"id":"401af65a-e0f0-450e-b1f8-cf0055dcbe6c","name":"If2"},{"parameters":{"chatId":"1019249029","text":"=Bernardo: error en envío de recordatorio de referidos. La instancia de Whatsapp no se encuentra en línea -> Flujo 3","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[496,432],"id":"6f9e0bef-12e5-4a3f-a02e-b08ba1548363","name":"Error: envío de recordatorio semanal","webhookId":"4b25a2c9-f598-486f-8b60-76efcba51dea","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"Bernardo","remoteJid":"=521{{ $('Edit Fields').item.json.Whatsapp }}","delay":12000},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[720,96],"id":"c4c3e071-9905-42b2-9230-82aa91c7d82c","name":"Enviar presen a","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"assignments":{"assignments":[{"id":"22af60b3-7516-45a3-b45a-bb356fe165d4","name":"Nombre","value":"={{ $('Búsqueda de perfiles').item.json['Nombre'] }}","type":"string"},{"id":"9f7e5f57-1426-4fa6-836f-bfb46ac0e81c","name":"Whatsapp","value":"={{ $('Búsqueda de perfiles').item.json['Whatsapp (Cel)'] }}","type":"number"},{"id":"e998ddac-ee59-4247-a7c0-fafab37b8498","name":"Correo","value":"={{ $('Búsqueda de perfiles').item.json.Mail }}","type":"string"},{"id":"a69ae5b8-b837-4959-9fd6-4ab785536f17","name":"Aviso semanal","value":"={{ $('Búsqueda de perfiles').item.json.AvisoSemana }}","type":"string"},{"id":"4f5955e1-4a78-4d66-9f6b-ce496625c5e9","name":"Aviso mensual","value":"={{ $('Búsqueda de perfiles').item.json.AvisoMes }}","type":"string"},{"id":"e9bab67d-bd26-44ad-b4eb-4f5473668225","name":"Fecha de hoy","value":"={{ $('Fecha de Hoy').item.json.currentDate }}","type":"string"},{"id":"0770762a-0320-4f2f-93b4-2c42f2d32ae3","name":"ultimoAviso","value":"={{ $json.timeDifference.days }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-624,1536],"id":"9c594851-b4f5-4a62-b83b-91bf82efd360","name":"Edit Fields"},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Edit Fields').item.json.Whatsapp }}","messageText":"=¡Hola, {{ $('Edit Fields').item.json.Nombre }}! 👋\n\nSólo queríamos darte un recordatorio rápido: ¡Ya eres un cliente activo y elegible para nuestro Programa de Referidos!\n\nSi conoces a alguien interesado en nuestros servicios, es el momento perfecto para mencionarlo. \n\n¡Gana grandes recompenzas por tu primera recomendación exitosa! 🚀","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[928,96],"id":"53d572c0-f956-4585-8ace-bf15f129a9cb","name":"Enviar texto","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"operation":"fetch-instances","instanceName":"Bernardo"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[384,1136],"id":"663f4773-64d4-4625-8846-437d5a133ff1","name":"Buscar instancia1","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c2a89834-4383-4c44-9d40-9592f80bc6f1","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[544,1136],"id":"7aa432a2-e522-48ad-928f-ce52bf035f79","name":"If3"},{"parameters":{"chatId":"1019249029","text":"Bernardo: error en envío de recordatorio de referidos. La instancia de Whatsapp no se encuentra en línea -> Flujo 3","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[560,1376],"id":"eff98a88-de68-4999-a8fb-6c9ff053c910","name":"Error: envío de recordatorio semanal1","webhookId":"4b25a2c9-f598-486f-8b60-76efcba51dea","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"Bernardo","remoteJid":"=521{{ $('Edit Fields').item.json.Whatsapp }}","delay":10000},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[752,1120],"id":"4f552a0c-f164-4611-bb67-bfdc4e7ce9f6","name":"Enviar presen a1","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Edit Fields').item.json.Whatsapp }}","messageText":"=¡Hola, {{ $('Edit Fields').item.json.Nombre }}! 👋 ¡ya pasó un mes! 📅\n\nEstamos seguros de que tienes contactos que podrían beneficiarse de nuestros servicios.\n\n¿Sabías que puedes ganar hasta 1,000 en tarjetas de regalo por referir a un solo cliente?\n\n¡No dejes esa oportunidad sobre la mesa! ¡Participa en nuestro Programa de Referidos!","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[976,1120],"id":"6873d5d0-4e3b-43d8-9613-5e54ce41d131","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"operation":"fetch-instances","instanceName":"Bernardo"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[256,1968],"id":"e3a178fd-e2c5-4375-bb07-d9215e12e716","name":"Buscar instancia2","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c2a89834-4383-4c44-9d40-9592f80bc6f1","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[432,1968],"id":"8c510c07-5f03-4a74-a4be-b83adcb81ce6","name":"If4"},{"parameters":{"chatId":"1019249029","text":"Bernardo: error en envío de recordatorio de referidos. La instancia de Whatsapp no se encuentra en línea -> Flujo 3","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[448,2240],"id":"764e9d02-5947-45c1-b68a-58d565db4ca2","name":"Error: envío de recordatorio semanal2","webhookId":"4b25a2c9-f598-486f-8b60-76efcba51dea","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"Bernardo","remoteJid":"=521{{ $('Edit Fields').item.json.Whatsapp }}","delay":12000},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[640,1952],"id":"10daae64-089e-4d3d-89a6-ac7f68fc6e44","name":"Enviar presen a2","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Edit Fields').item.json.Whatsapp }}","messageText":"=¡Hola, {{ $('Edit Fields').item.json.Nombre }}! 👋\n\n¡Sólo queremos recordarte de la Gran Oportunidad que es nuestro programa de referidos!✨\n\nHan pasado 6 meses, y sabemos que a veces se olvida. Queremos re-invitarte: Nuestro programa de referidos sigue activo y es la forma más fácil de obtener ingresos extra. 💵\n\nSi alguien te pregunta sobre seguros y planes de retiro, ¡somos la mejor opción para ellos y tú ganas!\n","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[800,1952],"id":"b3e28af3-76d4-4a99-92e8-d8eba6fe7a01","name":"Enviar texto2","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Edit Fields').item.json.Whatsapp }}","messageText":"=https://bernardollamas.com/referidos/","options_message":{"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[992,1952],"id":"5e69c24c-f301-4c98-9470-537fde2e5e73","name":"Prospecto: Aviso a dueño de referido2","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Edit Fields').item.json.Whatsapp }}","messageText":"=https://bernardollamas.com/referidos/","options_message":{"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1152,96],"id":"bf475f0a-8769-4548-8035-b0c9451e586c","name":"Link","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Edit Fields').item.json.Whatsapp }}","messageText":"=https://bernardollamas.com/referidos/","options_message":{"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1184,1120],"id":"fafeca7d-5d1d-4e96-b6e4-6a7b83453dee","name":"Link1","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-352,1536],"id":"72dd1182-eb1e-4547-b4b6-62b6b404523a","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2ae00e6e-0b27-4cf3-a24d-37cddf26b907","leftValue":"={{ $json['Aviso semanal'] }}","rightValue":"No","operator":{"type":"string","operation":"equals"}},{"id":"ce003c25-7a4f-444c-bab3-eab905e46ac5","leftValue":"={{ Math.floor($json.ultimoAviso)}}","rightValue":7,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-64,576],"id":"cd747aef-c28a-4b6d-8fda-795fc393eb34","name":"If: Semanal"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2ae00e6e-0b27-4cf3-a24d-37cddf26b907","leftValue":"={{ $json['Aviso mensual'] }}","rightValue":"No","operator":{"type":"string","operation":"equals"}},{"id":"ce003c25-7a4f-444c-bab3-eab905e46ac5","leftValue":"={{ Math.floor($json.ultimoAviso)}}","rightValue":30,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[112,1232],"id":"4398e3ce-13c4-4fc2-a7a9-22d70fef92d5","name":"If: Mensual"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[32,2256],"id":"6d1daa8e-d17b-477c-bd8f-1fdae7e6f576","name":"No Operation, do nothing3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ce003c25-7a4f-444c-bab3-eab905e46ac5","leftValue":"={{ Math.floor($json.ultimoAviso)}}","rightValue":180,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[0,1984],"id":"885e7eaa-618a-4f94-9ba3-b5d4f01e61a8","name":"If: Semestral"},{"parameters":{"content":"## Verificación\n\nVerificación de si ya se ha enviado el recordatorio del mes","height":128,"width":288,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-48,1024],"typeVersion":1,"id":"0d6a5ad5-7cdb-4e23-a891-863f785c8d9b","name":"Sticky Note6"},{"parameters":{"content":"⚠️  ⚠️  ⚠️ \n## Revisar\nHay que revisar este camino. El objetivo es que cada 6 meses los clientes reciban una notificación. Pero como está es probable que los clientes a partir de los 6 meses reciban la notificación diario","width":592},"type":"n8n-nodes-base.stickyNote","position":[-32,1792],"typeVersion":1,"id":"b8a568c8-ccec-4120-86c9-adaea86faeb1","name":"Sticky Note1"}],"connections":{"Inicio de prueba":{"main":[[{"node":"Búsqueda de perfiles","type":"main","index":0}]]},"Cálculo de días desde último aviso":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Fecha de Hoy":{"main":[[{"node":"La fecha es anterior a hoy","type":"main","index":0}]]},"Ejecución diaria":{"main":[[{"node":"Búsqueda de perfiles","type":"main","index":0}]]},"Búsqueda de perfiles":{"main":[[{"node":"Fecha de Hoy","type":"main","index":0}]]},"La fecha es anterior a hoy":{"main":[[{"node":"Cálculo de días desde último aviso","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Buscar instancia":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Enviar presen a","type":"main","index":0}],[{"node":"Error: envío de recordatorio semanal","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Enviar presen a":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Link","type":"main","index":0}]]},"Buscar instancia1":{"main":[[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[{"node":"Enviar presen a1","type":"main","index":0}],[{"node":"Error: envío de recordatorio semanal1","type":"main","index":0}]]},"Enviar presen a1":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"Enviar texto1":{"main":[[{"node":"Link1","type":"main","index":0}]]},"Buscar instancia2":{"main":[[{"node":"If4","type":"main","index":0}]]},"If4":{"main":[[{"node":"Enviar presen a2","type":"main","index":0}],[{"node":"Error: envío de recordatorio semanal2","type":"main","index":0}]]},"Enviar presen a2":{"main":[[{"node":"Enviar texto2","type":"main","index":0}]]},"Enviar texto2":{"main":[[{"node":"Prospecto: Aviso a dueño de referido2","type":"main","index":0}]]},"Link":{"main":[[{"node":"Actualizar fecha | Semana","type":"main","index":0}]]},"Link1":{"main":[[{"node":"Actualizar fecha | Mes","type":"main","index":0}]]},"Prospecto: Aviso a dueño de referido2":{"main":[[{"node":"Actualizar fecha | 6 meses","type":"main","index":0}]]},"Actualizar fecha | Semana":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Actualizar fecha | Mes":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Actualizar fecha | 6 meses":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"If: Semanal","type":"main","index":0},{"node":"If: Mensual","type":"main","index":0},{"node":"If: Semestral","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"No Operation, do nothing2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If: Semanal":{"main":[[{"node":"Buscar instancia","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"If: Mensual":{"main":[[{"node":"Buscar instancia1","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"No Operation, do nothing3":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If: Semestral":{"main":[[{"node":"Buscar instancia2","type":"main","index":0}],[{"node":"No Operation, do nothing3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Ejecución diaria":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c5773aff-9640-498d-821f-12e8f69beb50","activeVersionId":"c5773aff-9640-498d-821f-12e8f69beb50","versionCounter":15,"triggerCount":1,"shared":[{"updatedAt":"2026-01-05T05:02:08.763Z","createdAt":"2026-01-05T05:02:08.763Z","role":"workflow:owner","workflowId":"Wht8bKyJxMIeMHik","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-17T00:24:47.000Z","createdAt":"2026-01-17T00:24:45.156Z","versionId":"c5773aff-9640-498d-821f-12e8f69beb50","workflowId":"Wht8bKyJxMIeMHik","nodes":[{"parameters":{"content":"## Operación\n**Este flujo le recuerda a los clientes que pueden participar en el programa de Referidos cada cierto tiempo: \n\n-> Una semana después, si no tiene referidos mandarle un recordatorio\n-> Un mes después si no tiene referidos mandarle un recordatorio\n-> 6 meses después y cada 6 meses después invitar a dar nuevos referidos.\n","height":272,"width":528},"type":"n8n-nodes-base.stickyNote","position":[-1456,1040],"typeVersion":1,"id":"71a8fbd0-39cb-477a-8ea3-7c7766d50a90","name":"Sticky Note"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1680,1632],"id":"5272e66e-593a-457c-be76-b65d024ac5e6","name":"Inicio de prueba"},{"parameters":{"rule":{"interval":[{"triggerAtHour":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1664,1392],"id":"67217e3d-dc25-4520-9c9c-71bd8f9ff472","name":"Ejecución diaria"},{"parameters":{"operation":"getTimeBetweenDates","startDate":"={{ $('Búsqueda de perfiles').item.json.UltimoAvisoRef }}","endDate":"={{ $json.currentDate }}","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-832,1536],"id":"23b1d9f4-79bc-4aaa-a8c4-8752f6ed1828","name":"Cálculo de días desde último aviso"},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1248,1552],"id":"480c609d-3d5f-4a7b-9983-7ceed1daddd8","name":"Fecha de Hoy"},{"parameters":{"content":"## Cálculo de fecha\n\nSe compara la fecha desde el último aviso a la del día de HOY \n","color":3},"type":"n8n-nodes-base.stickyNote","position":[-816,1744],"typeVersion":1,"id":"7b61ccd4-0348-4dd8-b6d0-5e09e3819e7e","name":"Sticky Note3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[192,592],"id":"cb29c8e9-14d2-434a-8e3d-495a67db79c1","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-896,1952],"id":"a3895820-bedd-45b8-bacf-c0e4eb909171","name":"No Operation, do nothing1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[112,1424],"id":"ec554a1d-ec8a-4412-baba-94fefec45dcd","name":"No Operation, do nothing2"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Búsqueda de perfiles').item.json.id }}","UltimoAvisoRef":"={{ $('Fecha de Hoy').item.json.currentDate }}","AvisoSemana":"Sí"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Apellido","displayName":"Apellido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Whatsapp (Cel)","displayName":"Whatsapp (Cel)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Whatsapp (Validación)","displayName":"Whatsapp (Validación)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Highligts","displayName":"Highligts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Fecha de Nacimiento","displayName":"Fecha de Nacimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Fuma","displayName":"Fuma","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Instrumentos de Ahorro","displayName":"Instrumentos de Ahorro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Rendimientos","displayName":"Rendimientos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Incapacidad","displayName":"Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Seguro de Incapacidad","displayName":"Seguro de Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Hijos","displayName":"Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"0","value":"0"},{"name":"1","value":"1"},{"name":"2","value":"2"},{"name":"3","value":"3"},{"name":"4","value":"4"},{"name":"+5","value":"+5"}],"readOnly":false,"removed":true},{"id":"Educación Hijos","displayName":"Educación Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Plan de retiro","displayName":"Plan de retiro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Qué harían en caso de muerte","displayName":"Qué harían en caso de muerte","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Anotaciones","displayName":"Anotaciones","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Archivos adjuntos","displayName":"Archivos adjuntos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Tares / Eventos","displayName":"Tares / Eventos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Pólizas","displayName":"Pólizas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referidos","displayName":"Referidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referido de","displayName":"Referido de","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Aviso","displayName":"Aviso","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Estatus Actualizado","displayName":"Estatus Actualizado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Registro de nuevo cliente","displayName":"Registro de nuevo cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"UltimoAvisoRef","displayName":"UltimoAvisoRef","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"AvisoSemana","displayName":"AvisoSemana","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":false},{"id":"AvisoMes","displayName":"AvisoMes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"TotalReferidos","displayName":"TotalReferidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1392,96],"id":"94434dcb-2c64-479b-8195-c98df28d1355","name":"Actualizar fecha | Semana","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Búsqueda de perfiles').item.json.id }}","UltimoAvisoRef":"={{ $('Fecha de Hoy').item.json.currentDate }}","AvisoMes":"Sí"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Apellido","displayName":"Apellido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Whatsapp (Cel)","displayName":"Whatsapp (Cel)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Whatsapp (Validación)","displayName":"Whatsapp (Validación)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Highligts","displayName":"Highligts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Fecha de Nacimiento","displayName":"Fecha de Nacimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Fuma","displayName":"Fuma","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Instrumentos de Ahorro","displayName":"Instrumentos de Ahorro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Rendimientos","displayName":"Rendimientos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Incapacidad","displayName":"Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Seguro de Incapacidad","displayName":"Seguro de Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Hijos","displayName":"Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"0","value":"0"},{"name":"1","value":"1"},{"name":"2","value":"2"},{"name":"3","value":"3"},{"name":"4","value":"4"},{"name":"+5","value":"+5"}],"readOnly":false,"removed":true},{"id":"Educación Hijos","displayName":"Educación Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Plan de retiro","displayName":"Plan de retiro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Qué harían en caso de muerte","displayName":"Qué harían en caso de muerte","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Anotaciones","displayName":"Anotaciones","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Archivos adjuntos","displayName":"Archivos adjuntos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Tares / Eventos","displayName":"Tares / Eventos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Pólizas","displayName":"Pólizas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referidos","displayName":"Referidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referido de","displayName":"Referido de","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Aviso","displayName":"Aviso","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Estatus Actualizado","displayName":"Estatus Actualizado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Registro de nuevo cliente","displayName":"Registro de nuevo cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"UltimoAvisoRef","displayName":"UltimoAvisoRef","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"AvisoSemana","displayName":"AvisoSemana","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"AvisoMes","displayName":"AvisoMes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":false},{"id":"TotalReferidos","displayName":"TotalReferidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1408,1392],"id":"f0b49a0e-8579-4c39-a5d7-2e2388de0848","name":"Actualizar fecha | Mes","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Búsqueda de perfiles').item.json.id }}","UltimoAvisoRef":"={{ $('La fecha es anterior a hoy').item.json.currentDate }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Nombre Completo","displayName":"Nombre Completo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Apellido","displayName":"Apellido","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Whatsapp (Cel)","displayName":"Whatsapp (Cel)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Whatsapp (Validación)","displayName":"Whatsapp (Validación)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Highligts","displayName":"Highligts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Fecha de Nacimiento","displayName":"Fecha de Nacimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Fuma","displayName":"Fuma","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Instrumentos de Ahorro","displayName":"Instrumentos de Ahorro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Rendimientos","displayName":"Rendimientos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Incapacidad","displayName":"Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Seguro de Incapacidad","displayName":"Seguro de Incapacidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Hijos","displayName":"Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"0","value":"0"},{"name":"1","value":"1"},{"name":"2","value":"2"},{"name":"3","value":"3"},{"name":"4","value":"4"},{"name":"+5","value":"+5"}],"readOnly":false,"removed":true},{"id":"Educación Hijos","displayName":"Educación Hijos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Plan de retiro","displayName":"Plan de retiro","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Qué harían en caso de muerte","displayName":"Qué harían en caso de muerte","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Anotaciones","displayName":"Anotaciones","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Archivos adjuntos","displayName":"Archivos adjuntos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Tares / Eventos","displayName":"Tares / Eventos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Pólizas","displayName":"Pólizas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referidos","displayName":"Referidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Referido de","displayName":"Referido de","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Aviso","displayName":"Aviso","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Sí","value":"Sí"},{"name":"No","value":"No"}],"readOnly":false,"removed":true},{"id":"Estatus Actualizado","displayName":"Estatus Actualizado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Nuevo","value":"Nuevo"},{"name":"Prospecto","value":"Prospecto"},{"name":"Oportunidad","value":"Oportunidad"},{"name":"Cliente","value":"Cliente"},{"name":"No cliente","value":"No cliente"}],"readOnly":false,"removed":true},{"id":"Registro de nuevo cliente","displayName":"Registro de nuevo cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"UltimoAvisoRef","displayName":"UltimoAvisoRef","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"TotalReferidos","displayName":"TotalReferidos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1264,2000],"id":"cd709eee-36d5-4769-8ccd-93fd4e9c2d8a","name":"Actualizar fecha | 6 meses","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"content":"## Verificación\n\nVerificación de si ya se ha enviado el recordatorio de la semana. ","height":128,"width":288,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-224,464],"typeVersion":1,"id":"1a9cc96a-b72f-4172-a031-56c645ce0ee5","name":"Sticky Note5"},{"parameters":{"content":"## Notificación\n\nLa notificación de los 6 meses va a ser recurrente. ","height":128,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-272,2016],"typeVersion":1,"id":"01de3add-9c08-4b26-9144-8fd5534895e3","name":"Sticky Note7"},{"parameters":{"content":"## Actualizaciones de registros","height":144,"width":208,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1568,48],"typeVersion":1,"id":"3a180f05-8549-4dc9-82f1-32cec7b68297","name":"Sticky Note8"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appjNp3FnPYXKsJRR","mode":"list","cachedResultName":"Bernardo Llamas","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR"},"table":{"__rl":true,"value":"tblTmxwOpIpeE2k9Y","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://airtable.com/appjNp3FnPYXKsJRR/tblTmxwOpIpeE2k9Y"},"filterByFormula":"=OR(   \n      {Estatus Actualizado} = \"Cliente\",\n      {Estatus Actualizado} = \"No cliente\"\n)","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1408,1552],"id":"023a0890-afb7-4a92-adc8-01b3b87134fd","name":"Búsqueda de perfiles","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"11dcb5cb-5ce3-4b9f-b442-ec3fedd49051","leftValue":"={{ $('Búsqueda de perfiles').item.json.UltimoAvisoRef }}","rightValue":"={{ $json.currentDate }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1040,1552],"id":"328b9479-4bb1-4c14-8a2c-251e5be0d5c0","name":"La fecha es anterior a hoy"},{"parameters":{"operation":"fetch-instances","instanceName":"Bernardo"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[240,112],"id":"9aaaccfa-74f6-4c0d-aae4-c256b691c930","name":"Buscar instancia","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"content":"## Verificación\n\nVerifica que la instancia esté conectada","height":128,"width":288,"color":3},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"be22318b-a484-4fa8-a926-14e7d91e9ea8","name":"Sticky Note9"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c2a89834-4383-4c44-9d40-9592f80bc6f1","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[464,112],"id":"401af65a-e0f0-450e-b1f8-cf0055dcbe6c","name":"If2"},{"parameters":{"chatId":"1019249029","text":"=Bernardo: error en envío de recordatorio de referidos. La instancia de Whatsapp no se encuentra en línea -> Flujo 3","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[496,432],"id":"6f9e0bef-12e5-4a3f-a02e-b08ba1548363","name":"Error: envío de recordatorio semanal","webhookId":"4b25a2c9-f598-486f-8b60-76efcba51dea","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"Bernardo","remoteJid":"=521{{ $('Edit Fields').item.json.Whatsapp }}","delay":12000},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[720,96],"id":"c4c3e071-9905-42b2-9230-82aa91c7d82c","name":"Enviar presen a","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"assignments":{"assignments":[{"id":"22af60b3-7516-45a3-b45a-bb356fe165d4","name":"Nombre","value":"={{ $('Búsqueda de perfiles').item.json['Nombre'] }}","type":"string"},{"id":"9f7e5f57-1426-4fa6-836f-bfb46ac0e81c","name":"Whatsapp","value":"={{ $('Búsqueda de perfiles').item.json['Whatsapp (Cel)'] }}","type":"number"},{"id":"e998ddac-ee59-4247-a7c0-fafab37b8498","name":"Correo","value":"={{ $('Búsqueda de perfiles').item.json.Mail }}","type":"string"},{"id":"a69ae5b8-b837-4959-9fd6-4ab785536f17","name":"Aviso semanal","value":"={{ $('Búsqueda de perfiles').item.json.AvisoSemana }}","type":"string"},{"id":"4f5955e1-4a78-4d66-9f6b-ce496625c5e9","name":"Aviso mensual","value":"={{ $('Búsqueda de perfiles').item.json.AvisoMes }}","type":"string"},{"id":"e9bab67d-bd26-44ad-b4eb-4f5473668225","name":"Fecha de hoy","value":"={{ $('Fecha de Hoy').item.json.currentDate }}","type":"string"},{"id":"0770762a-0320-4f2f-93b4-2c42f2d32ae3","name":"ultimoAviso","value":"={{ $json.timeDifference.days }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-624,1536],"id":"9c594851-b4f5-4a62-b83b-91bf82efd360","name":"Edit Fields"},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Edit Fields').item.json.Whatsapp }}","messageText":"=¡Hola, {{ $('Edit Fields').item.json.Nombre }}! 👋\n\nSólo queríamos darte un recordatorio rápido: ¡Ya eres un cliente activo y elegible para nuestro Programa de Referidos!\n\nSi conoces a alguien interesado en nuestros servicios, es el momento perfecto para mencionarlo. \n\n¡Gana grandes recompenzas por tu primera recomendación exitosa! 🚀","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[928,96],"id":"53d572c0-f956-4585-8ace-bf15f129a9cb","name":"Enviar texto","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"operation":"fetch-instances","instanceName":"Bernardo"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[384,1136],"id":"663f4773-64d4-4625-8846-437d5a133ff1","name":"Buscar instancia1","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c2a89834-4383-4c44-9d40-9592f80bc6f1","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[544,1136],"id":"7aa432a2-e522-48ad-928f-ce52bf035f79","name":"If3"},{"parameters":{"chatId":"1019249029","text":"Bernardo: error en envío de recordatorio de referidos. La instancia de Whatsapp no se encuentra en línea -> Flujo 3","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[560,1376],"id":"eff98a88-de68-4999-a8fb-6c9ff053c910","name":"Error: envío de recordatorio semanal1","webhookId":"4b25a2c9-f598-486f-8b60-76efcba51dea","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"Bernardo","remoteJid":"=521{{ $('Edit Fields').item.json.Whatsapp }}","delay":10000},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[752,1120],"id":"4f552a0c-f164-4611-bb67-bfdc4e7ce9f6","name":"Enviar presen a1","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Edit Fields').item.json.Whatsapp }}","messageText":"=¡Hola, {{ $('Edit Fields').item.json.Nombre }}! 👋 ¡ya pasó un mes! 📅\n\nEstamos seguros de que tienes contactos que podrían beneficiarse de nuestros servicios.\n\n¿Sabías que puedes ganar hasta 1,000 en tarjetas de regalo por referir a un solo cliente?\n\n¡No dejes esa oportunidad sobre la mesa! ¡Participa en nuestro Programa de Referidos!","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[976,1120],"id":"6873d5d0-4e3b-43d8-9613-5e54ce41d131","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"operation":"fetch-instances","instanceName":"Bernardo"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[256,1968],"id":"e3a178fd-e2c5-4375-bb07-d9215e12e716","name":"Buscar instancia2","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c2a89834-4383-4c44-9d40-9592f80bc6f1","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[432,1968],"id":"8c510c07-5f03-4a74-a4be-b83adcb81ce6","name":"If4"},{"parameters":{"chatId":"1019249029","text":"Bernardo: error en envío de recordatorio de referidos. La instancia de Whatsapp no se encuentra en línea -> Flujo 3","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[448,2240],"id":"764e9d02-5947-45c1-b68a-58d565db4ca2","name":"Error: envío de recordatorio semanal2","webhookId":"4b25a2c9-f598-486f-8b60-76efcba51dea","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"resource":"chat-api","operation":"send-presence","instanceName":"Bernardo","remoteJid":"=521{{ $('Edit Fields').item.json.Whatsapp }}","delay":12000},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[640,1952],"id":"10daae64-089e-4d3d-89a6-ac7f68fc6e44","name":"Enviar presen a2","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Edit Fields').item.json.Whatsapp }}","messageText":"=¡Hola, {{ $('Edit Fields').item.json.Nombre }}! 👋\n\n¡Sólo queremos recordarte de la Gran Oportunidad que es nuestro programa de referidos!✨\n\nHan pasado 6 meses, y sabemos que a veces se olvida. Queremos re-invitarte: Nuestro programa de referidos sigue activo y es la forma más fácil de obtener ingresos extra. 💵\n\nSi alguien te pregunta sobre seguros y planes de retiro, ¡somos la mejor opción para ellos y tú ganas!\n","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[800,1952],"id":"b3e28af3-76d4-4a99-92e8-d8eba6fe7a01","name":"Enviar texto2","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Edit Fields').item.json.Whatsapp }}","messageText":"=https://bernardollamas.com/referidos/","options_message":{"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[992,1952],"id":"5e69c24c-f301-4c98-9470-537fde2e5e73","name":"Prospecto: Aviso a dueño de referido2","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Edit Fields').item.json.Whatsapp }}","messageText":"=https://bernardollamas.com/referidos/","options_message":{"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1152,96],"id":"bf475f0a-8769-4548-8035-b0c9451e586c","name":"Link","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"resource":"messages-api","instanceName":"Bernardo","remoteJid":"=521{{ $('Edit Fields').item.json.Whatsapp }}","messageText":"=https://bernardollamas.com/referidos/","options_message":{"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1184,1120],"id":"fafeca7d-5d1d-4e96-b6e4-6a7b83453dee","name":"Link1","credentials":{"evolutionApi":{"id":"EMusgw67VNT9XGD7","name":"Evolution Bernardo"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-352,1536],"id":"72dd1182-eb1e-4547-b4b6-62b6b404523a","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2ae00e6e-0b27-4cf3-a24d-37cddf26b907","leftValue":"={{ $json['Aviso semanal'] }}","rightValue":"No","operator":{"type":"string","operation":"equals"}},{"id":"ce003c25-7a4f-444c-bab3-eab905e46ac5","leftValue":"={{ Math.floor($json.ultimoAviso)}}","rightValue":7,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-64,576],"id":"cd747aef-c28a-4b6d-8fda-795fc393eb34","name":"If: Semanal"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2ae00e6e-0b27-4cf3-a24d-37cddf26b907","leftValue":"={{ $json['Aviso mensual'] }}","rightValue":"No","operator":{"type":"string","operation":"equals"}},{"id":"ce003c25-7a4f-444c-bab3-eab905e46ac5","leftValue":"={{ Math.floor($json.ultimoAviso)}}","rightValue":30,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[112,1232],"id":"4398e3ce-13c4-4fc2-a7a9-22d70fef92d5","name":"If: Mensual"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[32,2256],"id":"6d1daa8e-d17b-477c-bd8f-1fdae7e6f576","name":"No Operation, do nothing3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ce003c25-7a4f-444c-bab3-eab905e46ac5","leftValue":"={{ Math.floor($json.ultimoAviso)}}","rightValue":180,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[0,1984],"id":"885e7eaa-618a-4f94-9ba3-b5d4f01e61a8","name":"If: Semestral"},{"parameters":{"content":"## Verificación\n\nVerificación de si ya se ha enviado el recordatorio del mes","height":128,"width":288,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-48,1024],"typeVersion":1,"id":"0d6a5ad5-7cdb-4e23-a891-863f785c8d9b","name":"Sticky Note6"},{"parameters":{"content":"⚠️  ⚠️  ⚠️ \n## Revisar\nHay que revisar este camino. El objetivo es que cada 6 meses los clientes reciban una notificación. Pero como está es probable que los clientes a partir de los 6 meses reciban la notificación diario","width":592},"type":"n8n-nodes-base.stickyNote","position":[-32,1792],"typeVersion":1,"id":"b8a568c8-ccec-4120-86c9-adaea86faeb1","name":"Sticky Note1"}],"connections":{"Inicio de prueba":{"main":[[{"node":"Búsqueda de perfiles","type":"main","index":0}]]},"Cálculo de días desde último aviso":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Fecha de Hoy":{"main":[[{"node":"La fecha es anterior a hoy","type":"main","index":0}]]},"Ejecución diaria":{"main":[[{"node":"Búsqueda de perfiles","type":"main","index":0}]]},"Búsqueda de perfiles":{"main":[[{"node":"Fecha de Hoy","type":"main","index":0}]]},"La fecha es anterior a hoy":{"main":[[{"node":"Cálculo de días desde último aviso","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Buscar instancia":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Enviar presen a","type":"main","index":0}],[{"node":"Error: envío de recordatorio semanal","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Enviar presen a":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Link","type":"main","index":0}]]},"Buscar instancia1":{"main":[[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[{"node":"Enviar presen a1","type":"main","index":0}],[{"node":"Error: envío de recordatorio semanal1","type":"main","index":0}]]},"Enviar presen a1":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"Enviar texto1":{"main":[[{"node":"Link1","type":"main","index":0}]]},"Buscar instancia2":{"main":[[{"node":"If4","type":"main","index":0}]]},"If4":{"main":[[{"node":"Enviar presen a2","type":"main","index":0}],[{"node":"Error: envío de recordatorio semanal2","type":"main","index":0}]]},"Enviar presen a2":{"main":[[{"node":"Enviar texto2","type":"main","index":0}]]},"Enviar texto2":{"main":[[{"node":"Prospecto: Aviso a dueño de referido2","type":"main","index":0}]]},"Link":{"main":[[{"node":"Actualizar fecha | Semana","type":"main","index":0}]]},"Link1":{"main":[[{"node":"Actualizar fecha | Mes","type":"main","index":0}]]},"Prospecto: Aviso a dueño de referido2":{"main":[[{"node":"Actualizar fecha | 6 meses","type":"main","index":0}]]},"Actualizar fecha | Semana":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Actualizar fecha | Mes":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Actualizar fecha | 6 meses":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"If: Semanal","type":"main","index":0},{"node":"If: Mensual","type":"main","index":0},{"node":"If: Semestral","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"No Operation, do nothing2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If: Semanal":{"main":[[{"node":"Buscar instancia","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"If: Mensual":{"main":[[{"node":"Buscar instancia1","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"No Operation, do nothing3":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If: Semestral":{"main":[[{"node":"Buscar instancia2","type":"main","index":0}],[{"node":"No Operation, do nothing3","type":"main","index":0}]]}},"authors":"Admin KiroxOn","name":"Version c5773aff","description":"","workflowPublishHistory":[{"createdAt":"2026-01-17T00:24:47.770Z","id":31,"workflowId":"Wht8bKyJxMIeMHik","versionId":"c5773aff-9640-498d-821f-12e8f69beb50","event":"activated","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629"}]}}