workflows_BACKUP/Inventario Hibrido.Kxon--qbCAJT4iszj18gfs.json
{"updatedAt":"2026-01-27T13:31:52.000Z","createdAt":"2026-01-05T05:04:44.405Z","id":"qbCAJT4iszj18gfs","name":"Inventario Hibrido.Kxon","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"updates":["message","callback_query"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[416,272],"id":"5018dc46-a9af-40bb-bc9b-6f1fcd6ff445","name":"Telegram Trigger","webhookId":"c1b0d970-1d61-452f-9021-2ac025fd8d65","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.photo[$json.message.photo.length - 1].file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[864,-112],"id":"fe762e62-014e-4969-a9ba-6db458731406","name":"Get Photo from Telegram","webhookId":"891d498e-9fc8-49a4-92be-c81c024ef252","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"jsCode":"// Extraer file_path de la respuesta actual (del nodo Get Photo)\nconst fileInfo = $input.item.json;\n\n// --- CORRECCIÓN AQUÍ ---\n// En lugar de buscar en el nodo intermedio, buscamos directo en la raíz.\n// Asegúrate de que tu nodo inicial se llame \"Telegram Trigger\" (o cámbialo aquí).\nconst triggerData = $('Telegram Trigger').item.json.message;\n\nreturn {\n  json: {\n    filePath: fileInfo.file_path,\n    fileId: fileInfo.file_id,\n    // Ahora extraemos los datos seguros desde el Trigger\n    chatId: triggerData.chat.id,\n    userName: triggerData.from.first_name || triggerData.from.username || 'Usuario',\n    messageId: triggerData.message_id\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,-112],"id":"de27f3bf-4610-4d41-a37c-1f795f54d18e","name":"Prepare Image Data"},{"parameters":{"url":"=https://api.telegram.org/file/bot8550805050:AAHDK8g7UHS72lJOXwQ2QLbKZ15u1xAR1jM/{{ $('Get Photo from Telegram').item.json.result.file_path }}","authentication":"predefinedCredentialType","nodeCredentialType":"telegramApi","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1312,-112],"id":"ac715364-82e3-449f-a603-1c04a2834802","name":"Download Image","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Analiza esta imagen detalladamente. Tu objetivo es extraer datos para un inventario de una tienda.\n\nInstrucciones:\n1. Identifica qué objeto es (Libro, Comestible, Electrónico, Artículo General, etc).\n2. Si hay códigos de barras, ISBN o textos legibles, extráelos.\n3. Si es un libro, busca Título, Autor y Editorial.\n4. Si es otro producto, busca Marca, Nombre del producto y Contenido neto.\n\nResponde ÚNICAMENTE con un objeto JSON estricto (sin markdown, sin ```json).\nEstructura requerida:\n{\n  \"tipo_producto\": \"Libro\" | \"Articulo\" | \"Comestible\",\n  \"titulo_nombre\": \"Nombre exacto del producto\",\n  \"autor_marca\": \"Autor del libro o Marca del producto\",\n  \"isbn_ean\": \"El código numérico si es visible, sino null\",\n  \"descripcion_visual\": \"Breve descripción de colores y características físicas\",\n  \"estado\": \"Nuevo\"\n}","inputType":"base64","options":{"detail":"high"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[2432,80],"id":"a16f9452-6c86-4107-a7dd-20187b42359d","name":"Analyze Image with AI","retryOnFail":true,"credentials":{"openAiApi":{"id":"bJgGA8hIumaSAysH","name":"KiroxON|OpenAi account"}}},{"parameters":{"jsCode":"// --- LIMPIEZA Y ESTRUCTURADO DE PRODUCTO (FOTO) ---\nconst inputData = $input.item.json;\n\n// 1. OBTENCIÓN DE LA RESPUESTA CRUDA (BÚSQUEDA PROFUNDA)\nlet rawText = \"\";\n\n// Función auxiliar para extraer texto si el objeto es el correcto\nfunction extractFromObject(obj) {\n    if (!obj) return null;\n    // Caso: Tu estructura actual (content es un array con type: output_text)\n    if (obj.content && Array.isArray(obj.content) && obj.content[0]?.text) {\n        return obj.content[0].text;\n    }\n    // Caso: OpenAI estándar (message.content)\n    if (obj.message && obj.message.content) return obj.message.content;\n    // Caso: Gemini (content.parts[0].text)\n    if (obj.content?.parts?.[0]?.text) return obj.content.parts[0].text;\n    // Caso: Texto directo\n    if (typeof obj.content === 'string') return obj.content;\n    if (obj.output) return obj.output;\n    return null;\n}\n\n// LÓGICA DE BÚSQUEDA (Prioridad por capas)\n\n// Intento 1: Directo (Si es un objeto simple)\nrawText = extractFromObject(inputData);\n\n// Intento 2: Si viene dentro de un array [ { ... } ] o llave '0'\nif (!rawText && (inputData[0] || inputData['0'])) {\n    const level1 = inputData[0] || inputData['0'];\n    rawText = extractFromObject(level1);\n    \n    // Intento 3: Si viene DOBLEMENTE anidado [ [ { ... } ] ] (Tu caso exacto)\n    if (!rawText && (level1[0] || level1['0'])) {\n        const level2 = level1[0] || level1['0'];\n        rawText = extractFromObject(level2);\n    }\n}\n\n// VALIDACIÓN DE ERROR FINAL\nif (!rawText) {\n    // Convertimos a string para ver qué llegó realmente en el error\n    const debug = JSON.stringify(inputData).substring(0, 200);\n    throw new Error(`CRÍTICO: No encontré texto ni buscando en 3 niveles de profundidad. Data recibida: ${debug}`);\n}\n\n// 2. LIMPIEZA DE FORMATO (Quitar ```json, markdown, etc.)\nlet cleanJson = rawText.toString()\n    .replace(/^```json\\s*/i, '') \n    .replace(/^```\\s*/, '')      \n    .replace(/\\s*```$/, '')      \n    .trim();\n\n// 3. PARSEO A OBJETO JSON\nlet producto = {};\ntry {\n    producto = JSON.parse(cleanJson);\n} catch (e) {\n    const firstBrace = cleanJson.indexOf('{');\n    const lastBrace = cleanJson.lastIndexOf('}');\n    \n    if (firstBrace !== -1 && lastBrace !== -1) {\n        try {\n            let extracted = cleanJson.substring(firstBrace, lastBrace + 1);\n            producto = JSON.parse(extracted);\n        } catch (e2) {\n             throw new Error(\"Texto encontrado pero JSON inválido: \" + cleanJson);\n        }\n    } else {\n        throw new Error(\"El texto encontrado no parece un JSON: \" + cleanJson.substring(0, 50));\n    }\n}\n\n// 4. NORMALIZACIÓN\nconst resultadoFinal = {\n    tipo_producto: producto.tipo_producto || \"Articulo\",\n    titulo: producto.titulo_nombre || producto.nombre || producto.titulo || \"Producto Desconocido\",\n    autor_marca: producto.autor_marca || producto.marca || producto.autor || \"Generico\",\n    isbn_ean: producto.isbn_ean || producto.codigo || producto.isbn || null,\n    descripcion: producto.descripcion_visual || producto.descripcion || \"\",\n    origen_dato: \"IA Vision\",\n    fecha_procesado: new Date().toISOString()\n};\n\nreturn { json: resultadoFinal };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2656,-112],"id":"5c14df41-6b96-43d5-abdf-b2a474673fd5","name":"Parse and Structure Data"},{"parameters":{"jsCode":"// Recorremos los items por si manejas varios archivos a la vez\nfor (const item of items) {\n  if (item.binary && item.binary.data) {\n    // Forzamos el tipo MIME a un formato soportado\n    // CAMBIA 'image/png' a 'image/jpeg' si estás usando JPGs\n    item.binary.data.mimeType = 'image/png';\n    \n    // Opcional: Asegurar que la extensión coincida\n    item.binary.data.fileExtension = 'png';\n    item.binary.data.fileName = 'imagen_corregida.png';\n  }\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1536,-112],"id":"5c14c28f-7d14-4914-9997-8d978d02f7d1","name":"Code in JavaScript"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"models/nano-banana-pro-preview","mode":"list","cachedResultName":"models/nano-banana-pro-preview"},"text":"Analiza esta imagen detalladamente. Tu objetivo es extraer datos para un inventario de una tienda.\n\nInstrucciones:\n1. Identifica qué objeto es (Libro, Comestible, Electrónico, Artículo General, etc).\n2. Si hay códigos de barras, ISBN o textos legibles, extráelos.\n3. Si es un libro, busca Título, Autor y Editorial.\n4. Si es otro producto, busca Marca, Nombre del producto y Contenido neto.\n\nResponde ÚNICAMENTE con un objeto JSON estricto (sin markdown, sin ```json).\nEstructura requerida:\n{\n  \"tipo_producto\": \"Libro\" | \"Articulo\" | \"Comestible\",\n  \"titulo_nombre\": \"Nombre exacto del producto\",\n  \"autor_marca\": \"Autor del libro o Marca del producto\",\n  \"isbn_ean\": \"El código numérico si es visible, sino null\",\n  \"descripcion_visual\": \"Breve descripción de colores y características físicas\",\n  \"estado\": \"Nuevo\"\n}","inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[416,-560],"id":"9edf1485-cc6c-4cbb-879e-fb660f2647f9","name":"Analyze an image","retryOnFail":true,"alwaysOutputData":false,"notesInFlow":true,"executeOnce":false,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// 1. Definimos el nombre EXACTO del nodo que tiene la imagen original\n// (Tal cual aparece en tu captura de pantalla)\nconst binarySourceNode = 'Code in JavaScript';\n\n// Recorremos los items recibidos del nodo anterior (Analyze an image/Gemini)\nreturn items.map((item, index) => {\n\n  // 2. DETECCIÓN DE ERROR\n  // Cuando activas \"Continue On Fail\", n8n suele agregar una propiedad \"error\" al JSON.\n  // También verificamos si el output está vacío o parece incorrecto.\n  const geminiFallo = item.json.error !== undefined;\n\n  if (geminiFallo) {\n    try {\n      // 3. RECUPERACIÓN (FALLBACK)\n      // Buscamos la ejecución del nodo 'Code in JavaScript' usando el índice actual\n      // para asegurar que coincida con la imagen correcta si procesas varias a la vez.\n      const sourceItem = $(binarySourceNode).all()[index];\n\n      // Verificamos si ese nodo origen tiene datos binarios\n      if (sourceItem && sourceItem.binary) {\n        return {\n          json: {\n            // Pasamos info útil al nodo de OpenAI para que sepa que esto es un reintento\n            info: \"Gemini falló. Ejecutando Fallback con OpenAI.\",\n            previous_error: item.json.error\n          },\n          // AQUÍ RESTAURAMOS LA IMAGEN PARA OPENAI\n          binary: sourceItem.binary\n        };\n      }\n    } catch (err) {\n      // Si algo sale mal buscando el nodo anterior\n      return {\n        json: { error: `No se pudo recuperar el binario del nodo: ${binarySourceNode}` }\n      };\n    }\n  }\n\n  // 4. SI GEMINI NO FALLÓ\n  // Devolvemos el item tal cual.\n  // IMPORTANTE: Si Gemini funcionó, probablemente NO quieras que OpenAI corra.\n  // Puedes filtrar esto en el siguiente paso o dejarlo pasar.\n  return item;\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2208,80],"id":"ddd2f8e0-86fd-4b35-8ba5-c9b4eec9f1e2","name":"Code in JavaScript1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ed7a9e72-2a0b-4f5b-be11-2a603bf0d722","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1984,-112],"id":"340853fb-add2-4056-ac51-78b661777d7a","name":"If"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"84309178-d986-4aa0-adb9-8d909a8372e0","leftValue":"={{ $json.callback_query }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Botones (Clicks)"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"65ad0bcc-3fa6-4f16-9216-27ad2dcc81cb","leftValue":"={{ $json.message.text }}","rightValue":"/start","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Comandos (/start)"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"leftValue":"={{ $json.message.photo }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true},"id":"97c5e9d8-9230-45b0-9169-5daef0842ae8"}],"combinator":"and"},"renameOutput":true,"outputKey":"Es foto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"6f885d4b-7f34-4d09-b3a4-9d478ca1b4d8","leftValue":"={{ $json.message }}","rightValue":"/audit","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Comando Audit"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"798a0f95-3fa8-44c9-9776-1baed2a77917","leftValue":"={{ $json.message.text }}","rightValue":"/v_","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Comando Valores"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"4e4e8735-ea32-4e2e-a19e-580a2a3f91ca","leftValue":"={{ $json.message }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Es texto "}]},"looseTypeValidation":true,"options":{"fallbackOutput":"extra","renameFallbackOutput":"Mensaje Invalido"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[640,192],"id":"e7e6b006-c905-42b0-b3f6-1237d382f51a","name":"Switch"},{"parameters":{"url":"=https://www.googleapis.com/books/v1/volumes","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $json.message.text.match(/^[0-9X-]+$/) ? 'isbn:' + $json.message.text : $json.message.text }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2880,416],"id":"81ec084b-8608-41ce-89fc-77057a50486d","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"772921d1-4cbd-4fc4-9c82-031f84c95b89","name":"titulo","value":"={{ $json.items[0].volumeInfo.title }}","type":"string"},{"id":"60633fff-8fe8-45ad-adb7-91aceaa502ab","name":"autor","value":"={{ $json.items[0].volumeInfo.authors.join(', ') }}","type":"string"},{"id":"884c7144-04a4-47f8-978c-f4bf9e7bfb6d","name":"isbn_ean","value":"={{ $json.items[0].volumeInfo.industryIdentifiers ? $json.items[0].volumeInfo.industryIdentifiers[0].identifier : $json.items[0].id }}","type":"string"},{"id":"e42cc90b-96c2-4531-84c5-45eddfffabdd","name":"descripcion","value":"={{ $json.items[0].volumeInfo.description }}","type":"string"},{"id":"3064560c-a089-4968-af55-b76efdfc2dde","name":"foto_url","value":"={{ $json.items[0].volumeInfo.imageLinks.thumbnail }}","type":"string"},{"id":"819cb9f8-7136-4457-93df-d23a16ddc290","name":"tipo_producto","value":"Libro","type":"string"},{"id":"1892b5aa-2949-4ba8-9832-185cbe8363a6","name":"origen","value":"Google API","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3104,416],"id":"a2872c17-2e1b-409c-ba99-e937da63d786","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3328,160],"id":"eeaef34b-54fa-4be6-a605-e45410285d6a","name":"Merge"},{"parameters":{"url":"=https://www.googleapis.com/books/v1/volumes","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $json.titulo }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2880,-112],"id":"d037e78f-8ddd-46d3-b162-4e4fa7310e72","name":"HTTP Request1"},{"parameters":{"assignments":{"assignments":[{"id":"772921d1-4cbd-4fc4-9c82-031f84c95b89","name":"titulo","value":"={{ $json.items[0].volumeInfo.title }}","type":"string"},{"id":"60633fff-8fe8-45ad-adb7-91aceaa502ab","name":"autor","value":"={{ $json.items[0].volumeInfo.authors.join(', ') }}","type":"string"},{"id":"884c7144-04a4-47f8-978c-f4bf9e7bfb6d","name":"isbn_ean","value":"={{ $json.items[0].volumeInfo.industryIdentifiers ? $json.items[0].volumeInfo.industryIdentifiers[0].identifier : $json.items[0].id }}","type":"string"},{"id":"e42cc90b-96c2-4531-84c5-45eddfffabdd","name":"descripcion","value":"={{ $json.items[0].volumeInfo.description }}","type":"string"},{"id":"3064560c-a089-4968-af55-b76efdfc2dde","name":"foto_url","value":"={{ $json.items[0].volumeInfo.imageLinks.thumbnail }}","type":"string"},{"id":"819cb9f8-7136-4457-93df-d23a16ddc290","name":"tipo_producto","value":"Libro","type":"string"},{"id":"1892b5aa-2949-4ba8-9832-185cbe8363a6","name":"origen","value":"Google API","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3104,-112],"id":"3b3568c7-9e66-461a-a839-2635500bea95","name":"Edit Fields1"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Analiza esta imagen detalladamente. Tu objetivo es extraer datos para un inventario de una tienda.\n\nInstrucciones:\n1. Identifica qué objeto es (Libro, Comestible, Electrónico, Artículo General, etc).\n2. Si hay códigos de barras, ISBN o textos legibles, extráelos.\n3. Si es un libro, busca Título, Autor y Editorial.\n4. Si es otro producto, busca Marca, Nombre del producto y Contenido neto.\n\nResponde ÚNICAMENTE con un objeto JSON estricto (sin markdown, sin ```json).\nEstructura requerida:\n{\n  \"tipo_producto\": \"Libro\" | \"Articulo\" | \"Comestible\",\n  \"titulo_nombre\": \"Nombre exacto del producto\",\n  \"autor_marca\": \"Autor del libro o Marca del producto\",\n  \"isbn_ean\": \"El código numérico si es visible, sino null\",\n  \"descripcion_visual\": \"Breve descripción de colores y características físicas\",\n  \"estado\": \"Nuevo\"\n}","inputType":"base64","options":{"detail":"high"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[1760,-112],"id":"9b3fa49e-cb6c-495e-9a6d-499ca635acec","name":"Analyze Image with AI1","retryOnFail":true,"credentials":{"openAiApi":{"id":"bJgGA8hIumaSAysH","name":"KiroxON|OpenAi account"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list","cachedResultName":"Inventario Híbrido Librería","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA"},"table":{"__rl":true,"value":"tblwe0HS2QfnfvfRh","mode":"list","cachedResultName":"Productos Maestro","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tblwe0HS2QfnfvfRh"},"filterByFormula":"=OR(\n  IF('{{ $json.isbn_ean }}' != '', {ISBN} = '{{ $json.isbn_ean }}', 0),\n  {Nombre Titulo} = '{{ $json.titulo }}'\n)","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[3552,160],"id":"6f53e021-8cf4-42f4-812e-359b5f8eaaed","name":"Search records","alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ffaa939a-941a-43f7-9ea5-3e29fa4a85b5","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[3776,160],"id":"e5019c34-439d-455c-a1d8-19736de7762e","name":"If1"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=✅ **¡Producto Registrado con Éxito!**\n\nHemos guardado en la base de datos:\n📘 **Título:** {{ $json.fields['Nombre Titulo'] }}\n👤 **Autor:** {{ $json.fields['Autor Marca'] }}\n\n🆔 **SKU:** (Se generará automáticamente en breve)\n\n¿Qué quieres hacer ahora?","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"💰 Definir Precio y costo","additionalFields":{"callback_data":"=set_valores_{{ $json.id }}"}},{"text":"📸 Agregar más fotos","additionalFields":{"callback_data":"=fotos_{{ $json.id }}"}},{"text":"🗑️ Borrar (Error)","additionalFields":{"callback_data":"=borrar_{{ $json.id }}"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4224,256],"id":"45bc3049-2d18-46bb-9f92-894776ffbbbd","name":"Send a text message","webhookId":"ade28dca-6766-4eef-b09c-1ee107a267fc","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').first().json.callback_query.from.id }}","text":"=✅ **¡Producto Registrado!**\n\nHemos creado la ficha para:\n📘 **{{ $json.fields['Nombre Titulo'] }}**\n\n⚠️ **Estado:** Sin Precio ni Costo ($0)\n\nToca el botón abajo 👇 para asignarlos ahora mismo.","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"💰 Definir Valor y Costo","additionalFields":{"callback_data":"=set_valores_{{ $json.id }}"}},{"text":"🗑️ Borrar (Error)","additionalFields":{"callback_data":"=borrar_{{ $json.id }}"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1536,592],"id":"c8a40c89-c672-4352-bb64-3c674a5ef345","name":"Send a text message1","webhookId":"ade28dca-6766-4eef-b09c-1ee107a267fc","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list","cachedResultName":"Inventario Híbrido Librería","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA"},"table":{"__rl":true,"value":"tblwe0HS2QfnfvfRh","mode":"list","cachedResultName":"Productos Maestro","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tblwe0HS2QfnfvfRh"},"columns":{"mappingMode":"defineBelow","value":{"Precio Venta":0,"Costo":0,"Nombre Titulo":"={{ $('Merge').item.json.titulo }}","ISBN":"={{ $('Merge').item.json.isbn_ean }}","EAN":"={{ $('Merge').item.json.isbn_ean }}","Autor Marca":"={{ $('Merge').item.json.autor }}","Tipo de Producto":"={{ $('Merge').item.json.tipo_producto }}","Descripción":"={{ $('Merge').item.json.descripcion }}","Foto Portada":"={{ $('Merge').item.json.foto_url }}","Ultima Modificación":"={{ $now }}"},"matchingColumns":[],"schema":[{"id":"Nombre Titulo","displayName":"Nombre Titulo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"SKU","displayName":"SKU","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"ISBN","displayName":"ISBN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"EAN","displayName":"EAN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Autor Marca","displayName":"Autor Marca","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Tipo de Producto","displayName":"Tipo de Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Libro","value":"Libro"},{"name":"Artículo","value":"Artículo"},{"name":"Comestible","value":"Comestible"}],"readOnly":false,"removed":false},{"id":"Descripción","displayName":"Descripción","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Precio Venta","displayName":"Precio Venta","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Costo","displayName":"Costo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Foto Portada","displayName":"Foto Portada","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Stock Actual","displayName":"Stock Actual","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Ultima Modificación","displayName":"Ultima Modificación","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Movimientos Vinculados","displayName":"Movimientos Vinculados","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Entradas Totales","displayName":"Entradas Totales","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Salidas Totales","displayName":"Salidas Totales","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Ajustes Iniciales","displayName":"Ajustes Iniciales","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Pérdidas Totales","displayName":"Pérdidas Totales","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Stock Actual Calculado","displayName":"Stock Actual Calculado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Margen Bruto (%)","displayName":"Margen Bruto (%)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Resumen Automático de Producto","displayName":"Resumen Automático de Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Clasificación Inteligente de Producto","displayName":"Clasificación Inteligente de Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Indice","displayName":"Indice","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[4000,256],"id":"e061ccc8-af4a-4e5f-9b44-8af08ff5cc3b","name":"Create a record","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list"},"table":{"__rl":true,"value":"tbllmq4v91zGVMUQd","mode":"list","cachedResultName":"Movimientos de Inventario","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tbllmq4v91zGVMUQd"},"columns":{"mappingMode":"defineBelow","value":{"ID Movimiento":"=","Tipo Movimiento":"Entrada Compra","Cantidad":1,"Fecha":"={{ $now.toISO() }}","Producto Relacionado":"={{ $json.callback_query.data.replace('entrada_', '') }}"},"matchingColumns":[],"schema":[{"id":"ID Movimiento","displayName":"ID Movimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Producto Relacionado","displayName":"Producto Relacionado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Tipo Movimiento","displayName":"Tipo Movimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Entrada Compra","value":"Entrada Compra"},{"name":"Salida Venta","value":"Salida Venta"},{"name":"Ajuste Inicial","value":"Ajuste Inicial"},{"name":"Pérdida","value":"Pérdida"}],"readOnly":false,"removed":false},{"id":"Cantidad","displayName":"Cantidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Notas","displayName":"Notas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Entradas (+)","displayName":"Entradas (+)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Salidas (-)","displayName":"Salidas (-)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Nombre Producto","displayName":"Nombre Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"SKU Producto","displayName":"SKU Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Resumen Movimiento (AI)","displayName":"Resumen Movimiento (AI)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Clasificación Movimiento (AI)","displayName":"Clasificación Movimiento (AI)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Cantidad Real","displayName":"Cantidad Real","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1312,592],"id":"79927ef6-eee0-4b91-84d3-7a3b555c4efc","name":"Create a record1","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"👋 **Sistema de Inventario KiroxON** |\n\n ¿Qué gestión administrativa deseas realizar?","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"📦 Estado Inventario","additionalFields":{"callback_data":"admin_inventario"}},{"text":" Reporte de ventas","additionalFields":{"callback_data":"admin_ventas"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[864,80],"id":"ae835e0a-1ad9-4b2d-a9b8-2dc189ec126f","name":"Send a text message3","webhookId":"aff6292a-cbcc-47fd-9e4b-49cf93d4d00e","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.callback_query.data }}","rightValue":"entrada_","operator":{"type":"string","operation":"contains"},"id":"34080155-2bc7-41e5-a71c-9b6e7260214d"}],"combinator":"and"},"renameOutput":true,"outputKey":"Set: Ingreso"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f25d8a29-c90c-4c9c-b77d-c96be939a5fd","leftValue":"={{ $json.callback_query.data }}","rightValue":"venta_","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Set: Venta"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b91a2eed-796e-4986-97d9-0c990f9022c9","leftValue":"={{ $json.callback_query.data }}","rightValue":"set_valores","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Set: Valores"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0a30d809-2a74-40ce-b355-1a3bc7df1cfe","leftValue":"={{ $json.callback_query.data }}","rightValue":"borrar_","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Acción: Borrar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"74d59aea-a509-44f6-a588-76ade440d9a3","leftValue":"={{ $json.callback_query.data }}","rightValue":"admin_inventario","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Tool: inventario"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"80c9f317-f6cc-4709-b924-7237049d7d27","leftValue":"={{ $json.callback_query.data }}","rightValue":"admin_ventas","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Tool: ventas"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[864,1008],"id":"05ebef0c-3131-45aa-bb12-3f2c2d45f6c5","name":"Switch1"},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"🔴 **Modo Venta Activado** \n 🚧 (En construcción) Pronto podrás escanear productos aquí para descontarlos del stock automáticamente.","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[416,-336],"id":"503e32a9-629b-4d9a-8423-41d1317b2203","name":"Send a text message5","webhookId":"e9520775-f2bf-4b37-97f4-86a6fe628a69","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"operation":"deleteRecord","base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list","cachedResultName":"Inventario Híbrido Librería","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA"},"table":{"__rl":true,"value":"tblwe0HS2QfnfvfRh","mode":"list","cachedResultName":"Productos Maestro","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tblwe0HS2QfnfvfRh"},"id":"={{ $json.callback_query.data.replace('borrar_', '') }}"},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1312,976],"id":"e011845d-eaae-401e-8e5c-9835652217cc","name":"Delete a record","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.callback_query.from.id }}","text":"🗑️ Registro eliminado correctamente. No quedó rastro.","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1536,976],"id":"5602db0e-ac91-4382-a8fb-e558f6dc1e42","name":"Send a text message6","webhookId":"e9520775-f2bf-4b37-97f4-86a6fe628a69","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=📚 **Producto Encontrado**  \n**Título:** \n{{ $json['Nombre Titulo'] }} \n**Autor:** \n{{ $json['Autor_Marca'] }} \n**Precio:** \n${{ $json['Precio Venta'] }}  \n¿Qué movimiento deseas registrar?","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"➕ Entrada Compra (+1)","additionalFields":{"callback_data":"=entrada_{{ $json.id }}"}},{"text":"➖ Salida Venta (-1)","additionalFields":{"callback_data":"=venta_{{ $json.id }}"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4000,64],"id":"d951da5d-e219-4a2d-8c75-886f81054f36","name":"Send a text message7","webhookId":"1ac55ba4-185a-492b-a704-4a73007b3c07","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.callback_query.from.id }}","text":"=\"📉 Venta registrada. ¡Buen trabajo!\".\n\nInventario actualizado","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🔙 Volver al Inicio","additionalFields":{"callback_data":"inicio"}},{"text":"💰 Cambiar Precio","additionalFields":{"callback_data":"cambiar_precio"}},{"text":"❌ Cancelar","additionalFields":{"callback_data":"cancelar"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1536,784],"id":"6e12dd99-9542-40ae-bf6a-fcabd5dcd8d6","name":"Send a text message8","webhookId":"ade28dca-6766-4eef-b09c-1ee107a267fc","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list","cachedResultName":"Inventario Híbrido Librería","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA"},"table":{"__rl":true,"value":"tbllmq4v91zGVMUQd","mode":"list","cachedResultName":"Movimientos de Inventario","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tbllmq4v91zGVMUQd"},"columns":{"mappingMode":"defineBelow","value":{"ID Movimiento":"=","Tipo Movimiento":"Salida Venta","Cantidad":1,"Fecha":"={{ $now.toISO() }}","Producto Relacionado":"={{ $json.callback_query.data.replace('venta_', '') }}"},"matchingColumns":[],"schema":[{"id":"ID Movimiento","displayName":"ID Movimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Producto Relacionado","displayName":"Producto Relacionado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Tipo Movimiento","displayName":"Tipo Movimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Entrada Compra","value":"Entrada Compra"},{"name":"Salida Venta","value":"Salida Venta"},{"name":"Ajuste Inicial","value":"Ajuste Inicial"},{"name":"Pérdida","value":"Pérdida"}],"readOnly":false,"removed":false},{"id":"Cantidad","displayName":"Cantidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Notas","displayName":"Notas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Entradas (+)","displayName":"Entradas (+)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Salidas (-)","displayName":"Salidas (-)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Nombre Producto","displayName":"Nombre Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"SKU Producto","displayName":"SKU Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Resumen Movimiento (AI)","displayName":"Resumen Movimiento (AI)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Clasificación Movimiento (AI)","displayName":"Clasificación Movimiento (AI)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Cantidad Real","displayName":"Cantidad Real","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1312,784],"id":"4625e4d6-c4f6-4f83-a38f-6128b046d2d9","name":"Create a record2","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"content":"## terminar con un mensaje con la actualizacion de cuanto inventario hay","height":128,"width":400},"type":"n8n-nodes-base.stickyNote","position":[2096,560],"typeVersion":1,"id":"ad926b04-4a7e-4d03-b84a-edae6acb0369","name":"Sticky Note"},{"parameters":{"text":"🧐 **Modo Auditoría de Costos**  \nAquí puedes ver tus márgenes de ganancia.  \nEscribe el comando `/audit` seguido del Nombre o ISBN del libro que quieres revisar.  \n\nEjemplo:\n`/audit 978-123-456` o \n`/audit Harry Potter`","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[416,1776],"id":"4ae534a5-bf1b-4294-93cb-32e2a15e40e0","name":"Send a text message2","webhookId":"7ad97f95-358a-4da3-9c6c-573909aad6c4","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"jsCode":"// 1. Obtenemos y limpiamos el texto\n// Entrada esperada: \"/v_recXXXXX 50000 30000\"\nconst texto = $json.message.text; \nconst textoLimpio = texto.replace('/v_', '').trim();\nconst partes = textoLimpio.split(' ');\n\n// 2. Convertimos a números para poder calcular\nconst id = partes[0];\nconst precio = parseFloat(partes[1]);\nconst costo = parseFloat(partes[2]);\n\n// 3. Calculamos la Ganancia y el Margen %\n// Ganancia neta\nconst ganancia = precio - costo;\n\n// Margen % (Protegemos contra división por cero)\nlet margen = 0;\nif (precio > 0) {\n  margen = ((ganancia / precio) * 100).toFixed(1); // Redondeamos a 1 decimal (ej: 40.5)\n}\n\n// 4. Salida con todos los datos calculados\nreturn {\n  json: {\n    id_airtable: id,\n    precio_venta: precio,\n    costo: costo,\n    ganancia_neta: ganancia,\n    margen_porcentaje: margen + \"%\" // Le agregamos el símbolo % para que se vea bonito\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[864,272],"id":"ec3c7426-ee01-4361-be57-9db141ceeab9","name":"Code in JavaScript2"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"=✅ *¡Finanzas Actualizadas!*\n\n💰 *Precio Venta:* ${{ $json.fields['Precio Venta'] }}\n📉 *Costo:* ${{ $json.fields.Costo }}\n\n📊 *Análisis Rápido:*\n• Ganancia: ${{ $('Code in JavaScript2').item.json.ganancia_neta }}\n• Margen: {{ $('Code in JavaScript2').item.json.margen_porcentaje }}\n\n_¡Listo para vender!_","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🔙 Volver al Men","additionalFields":{"callback_data":"inicio"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1312,272],"id":"fc8e4f47-3b77-4c7d-b3d3-1e5cf07ed333","name":"Send a text message4","webhookId":"7cc851a7-3ca2-4c2e-8346-90f10c510a00","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $json.callback_query.message.chat.id }}","text":"=📝 *Actualizar Precio y Costo*\n\nToca el comando abajo para copiarlo y agrega los valores así:\n[PRECIO] espacio [COSTO]\n\nEjemplo (Para vender a 50mil y costo de 30mil):\n...rec12345 50000 30000\n\n*SIMPLEMENTE DALE CLCIK AL SIGUIENTE CODIGO SE COPIARA AUTOMATICAMENTE EL COMANDO Y AGREGA LOS VALORE DE PRECIO Y COSTO RESPECTIVAMENTE*\n👇\n`/v_{{ $json.callback_query.data.replace('set_valores_', '') }}`","additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1088,1360],"id":"7f839760-3c02-49f9-955d-448f97f1700c","name":"Send a text message9","webhookId":"2a65624c-5cd1-42ce-8263-163e636a44fc","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list","cachedResultName":"Inventario Híbrido Librería","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA"},"table":{"__rl":true,"value":"tblwe0HS2QfnfvfRh","mode":"list","cachedResultName":"Productos Maestro","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tblwe0HS2QfnfvfRh"},"columns":{"mappingMode":"defineBelow","value":{"Precio Venta":"={{ $json.precio_venta }}","Costo":"={{ $json.costo }}","id":"={{ $json.id_airtable }}","Ultima Modificación":"2026-01-21T09:51:03"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Nombre Titulo","displayName":"Nombre Titulo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SKU","displayName":"SKU","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"ISBN","displayName":"ISBN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EAN","displayName":"EAN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Autor Marca","displayName":"Autor Marca","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Tipo de Producto","displayName":"Tipo de Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Libro","value":"Libro"},{"name":"Artículo","value":"Artículo"},{"name":"Comestible","value":"Comestible"}],"readOnly":false,"removed":true},{"id":"Descripción","displayName":"Descripción","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Precio Venta","displayName":"Precio Venta","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Costo","displayName":"Costo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Foto Portada","displayName":"Foto Portada","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Stock Actual","displayName":"Stock Actual","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Ultima Modificación","displayName":"Ultima Modificación","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Movimientos Vinculados","displayName":"Movimientos Vinculados","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Entradas Totales","displayName":"Entradas Totales","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Salidas Totales","displayName":"Salidas Totales","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Ajustes Iniciales","displayName":"Ajustes Iniciales","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Pérdidas Totales","displayName":"Pérdidas Totales","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Stock Actual Calculado","displayName":"Stock Actual Calculado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Margen Bruto (%)","displayName":"Margen Bruto (%)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Resumen Automático de Producto","displayName":"Resumen Automático de Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Clasificación Inteligente de Producto","displayName":"Clasificación Inteligente de Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Indice","displayName":"Indice","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1088,272],"id":"7380e9ea-91ae-407e-8e38-5a43a083b6ac","name":"Update record","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"content":"## AGREGAR OPCION DE EDITAR PRECIO ACTUAL\n","height":128,"width":352},"type":"n8n-nodes-base.stickyNote","position":[1296,112],"typeVersion":1,"id":"0e8ff2b3-e0ca-4018-a951-004ef3944740","name":"Sticky Note1"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list","cachedResultName":"Inventario Híbrido Librería","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA"},"table":{"__rl":true,"value":"tblwe0HS2QfnfvfRh","mode":"list","cachedResultName":"Productos Maestro","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tblwe0HS2QfnfvfRh"},"options":{"fields":["Precio Venta","Costo","Tipo de Producto","Nombre Titulo","Stock Actual","ISBN"]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1088,1168],"id":"9bd5f4f5-2e1c-4482-9914-6a408b5e966b","name":"Search records1","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"jsCode":"// Obtenemos los ítems que vienen de Airtable\nconst productos = $input.all();\n\nlet reporteTexto = \"📋 *INVENTARIO DETALLADO*\\n========================\\n\";\nlet sumaStock = 0;\nlet sumaValorVenta = 0;\n\n// Recorremos cada producto de la lista\nfor (const item of productos) {\n  // Extraemos los datos directamente del JSON que me mostraste\n  const datos = item.json;\n\n  // 1. Extraemos valores (con validación por si vienen vacíos)\n  const nombre = datos['Nombre Titulo'] || \"Sin Nombre\";\n  const tipo = datos['Tipo de Producto'] || \"General\";\n  // Nota: En tu JSON no vi el campo 'ISBN', si lo agregas en Airtable, descomenta la linea de abajo:\n  const isbn = datos['ISBN'] || \"N/A\"; \n  const precio = datos['Precio Venta'] || 0;\n  const costo = datos['Costo'] || 0;\n  const stock = datos['Stock Actual'] || 0;\n  const id = datos['id'];\n\n  // 2. Calculamos totales globales\n  sumaStock += stock;\n  sumaValorVenta += (precio * stock); // Valorización del stock actual\n\n  // 3. Armamos el bloque de texto para este producto\n  reporteTexto += `🔹 *${nombre}*\\n`;\n  reporteTexto += `   🆔 ID: /v_${id}\\n`; // Agrego el comando de acceso rápido\n  reporteTexto += `   📚 Tipo: ${tipo} | ISBN: ${isbn}\\n`;\n  reporteTexto += `   📦 Stock: ${stock} un.\\n`;\n  reporteTexto += `   💰 Venta: $${precio.toLocaleString('es-CO')} | Costo: $${costo.toLocaleString('es-CO')}\\n`;\n  reporteTexto += `------------------------------\\n`;\n}\n\n// 4. Agregamos un resumen final al pie del reporte\nreporteTexto += `\\n📊 *RESUMEN TOTAL*\\n`;\nreporteTexto += `📦 Total Unidades: ${sumaStock}\\n`;\nreporteTexto += `💰 Valor Inventario (P. Venta): $${sumaValorVenta.toLocaleString('es-CO')}`;\n\n// 5. Devolvemos el texto listo para el nodo de Telegram\nreturn {\n  json: {\n    mensaje_reporte: reporteTexto\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1312,1168],"id":"553defb7-a3b6-41e2-a6c5-7f1dcd536371","name":"Code in JavaScript3"},{"parameters":{"chatId":"={{ $('Telegram Trigger').first().json.callback_query.from.id }}","text":"={{ $json.mensaje_reporte }}","additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1536,1168],"id":"6c6ab0d9-2767-4723-9af3-0affac8824bc","name":"Send a text message10","webhookId":"e9520775-f2bf-4b37-97f4-86a6fe628a69","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"numberInputs":6},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1760,912],"id":"455c9bdd-56fb-49fb-9f8c-6f56c3e42b83","name":"Merge1"},{"parameters":{"resource":"callback","queryId":"={{ $('Telegram Trigger').first().json.callback_query.id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1984,976],"id":"c751dfc7-425a-4bcd-a39c-7578eccc2054","name":"Answer Query a callback","webhookId":"96e07505-d490-4c4d-8d3e-8b92d6124ae8","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list","cachedResultName":"Inventario Híbrido Librería","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA"},"table":{"__rl":true,"value":"tbllmq4v91zGVMUQd","mode":"list","cachedResultName":"Movimientos de Inventario","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tbllmq4v91zGVMUQd"},"filterByFormula":"{Tipo Movimiento} = 'Salida Venta'","options":{},"sort":{"property":[{"field":"Fecha"},{"field":"Nombre Producto"},{"field":"Cantidad"},{"field":"Precio Venta"}]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1088,1552],"id":"76c856eb-f96b-4c91-8c18-78a889756933","name":"Search records2","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"jsCode":"// Obtenemos los movimientos\nconst movimientos = $input.all();\n\nlet reporte = \"💰 *REPORTE DETALLADO DE VENTAS*\\n==============================\\n\";\nlet totalDinero = 0;\nlet totalUnidades = 0;\n\nif (movimientos.length === 0) {\n  reporte += \"💤 No hay ventas registradas en este periodo.\";\n} else {\n\n  for (const item of movimientos) {\n    // 1. Obtener datos (soporta si vienen en 'fields' o directos)\n    const datos = item.json.fields || item.json;\n\n    // 2. Limpieza de Nombre (Array -> Texto)\n    let nombre = datos['Nombre Producto'] || \"Producto desconocido\";\n    if (Array.isArray(nombre)) nombre = nombre[0];\n\n    // 3. Limpieza de Fecha\n    let fechaTexto = \"\";\n    if (datos['Fecha']) {\n        // Truco: Agregamos hora para evitar que el día se atrase por zona horaria\n        const fechaObj = new Date(datos['Fecha'].substring(0,10) + 'T12:00:00');\n        fechaTexto = fechaObj.toLocaleDateString('es-CO', { day: '2-digit', month: '2-digit' });\n    }\n\n    // 4. PRECIO Y CÁLCULOS (La parte importante)\n    const cantidad = datos['Cantidad'] || 0;\n    \n    // El precio suele venir como Array ([50000]) porque es un Lookup\n    let precioUnitario = datos['Precio Venta'] || 0;\n    if (Array.isArray(precioUnitario)) precioUnitario = precioUnitario[0];\n\n    const subtotal = cantidad * precioUnitario;\n\n    // Acumulamos totales\n    totalUnidades += cantidad;\n    totalDinero += subtotal;\n\n    // 5. Construimos la línea del reporte\n    // Formato: Fecha | Producto\n    //          Cant x Precio = Subtotal\n    reporte += `📅 ${fechaTexto} | ${nombre}\\n`;\n    reporte += `   💵 ${cantidad} un. x $${precioUnitario.toLocaleString('es-CO')} = *${subtotal.toLocaleString('es-CO')}*\\n`;\n    reporte += `------------------------------\\n`;\n  }\n}\n\n// RESUMEN FINAL (Cierre de Caja)\nreporte += `\\n📊 *RESUMEN FINANCIERO*\\n`;\nreporte += `📦 Unidades vendidas: ${totalUnidades}\\n`;\nreporte += `💰 *INGRESO TOTAL: $${totalDinero.toLocaleString('es-CO')}*`;\n\nreturn {\n  json: {\n    mensaje_reporte: reporte\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1312,1552],"id":"873dac70-fea0-4f65-951a-f068ef3677e8","name":"Code in JavaScript4"},{"parameters":{"chatId":"={{ $('Telegram Trigger').first().json.callback_query.from.id }}","text":"={{ $json.mensaje_reporte }}","additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1536,1552],"id":"9951e477-8cba-4996-849d-96b0ef9e17ee","name":"Send a text message11","webhookId":"e9520775-f2bf-4b37-97f4-86a6fe628a69","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Analyze Image with AI":{"main":[[{"node":"Parse and Structure Data","type":"main","index":0}]]},"Parse and Structure Data":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Get Photo from Telegram":{"main":[[{"node":"Prepare Image Data","type":"main","index":0}]]},"Prepare Image Data":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Analyze Image with AI1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Analyze Image with AI","type":"main","index":0}]]},"If":{"main":[[{"node":"Parse and Structure Data","type":"main","index":0}],[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Switch1","type":"main","index":0}],[{"node":"Send a text message3","type":"main","index":0}],[{"node":"Get Photo from Telegram","type":"main","index":0}],[],[{"node":"Code in JavaScript2","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":1}]]},"HTTP Request1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Analyze Image with AI1":{"main":[[{"node":"If","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Search records","type":"main","index":0}]]},"Search records":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Send a text message7","type":"main","index":0}],[{"node":"Create a record","type":"main","index":0}]]},"Create a record":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Create a record1":{"main":[[{"node":"Send a text message1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Create a record1","type":"main","index":0}],[{"node":"Create a record2","type":"main","index":0}],[{"node":"Send a text message9","type":"main","index":0}],[{"node":"Delete a record","type":"main","index":0}],[{"node":"Search records1","type":"main","index":0}],[{"node":"Search records2","type":"main","index":0}]]},"Delete a record":{"main":[[{"node":"Send a text message6","type":"main","index":0}]]},"Create a record2":{"main":[[{"node":"Send a text message8","type":"main","index":0}]]},"Send a text message1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Send a text message8":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Send a text message6":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"Code in JavaScript2":{"main":[[{"node":"Update record","type":"main","index":0}]]},"Update record":{"main":[[{"node":"Send a text message4","type":"main","index":0}]]},"Search records1":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Send a text message10","type":"main","index":0}]]},"Send a text message10":{"main":[[{"node":"Merge1","type":"main","index":3}]]},"Merge1":{"main":[[{"node":"Answer Query a callback","type":"main","index":0}]]},"Search records2":{"main":[[{"node":"Code in JavaScript4","type":"main","index":0}]]},"Code in JavaScript4":{"main":[[{"node":"Send a text message11","type":"main","index":0}]]},"Send a text message11":{"main":[[{"node":"Merge1","type":"main","index":4}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"09ba47b4-7d85-4e01-bf0c-8112924afdf7","activeVersionId":null,"versionCounter":8,"triggerCount":0,"shared":[{"updatedAt":"2026-01-05T05:04:44.408Z","createdAt":"2026-01-05T05:04:44.408Z","role":"workflow:owner","workflowId":"qbCAJT4iszj18gfs","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[{"updatedAt":"2026-01-21T16:44:45.737Z","createdAt":"2026-01-21T16:44:45.737Z","id":"SOP4RrhCxE4HODDZ","name":"1 Proyecto"}],"activeVersion":null}