workflows_BACKUP/Inventario Hibrido.Kxon--qdQuCCjDkqdjLw5z.json
{"updatedAt":"2026-02-03T15:32:36.799Z","createdAt":"2026-01-27T13:32:55.607Z","id":"qdQuCCjDkqdjLw5z","name":"Inventario Hibrido.Kxon","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message","callback_query"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[0,1808],"id":"de96acd4-3feb-46d6-8294-e9eaba2c2ee0","name":"Telegram Trigger","webhookId":"c1b0d970-1d61-452f-9021-2ac025fd8d65","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"e18f3e0d-2cc7-44ca-90b4-feb63e4ce9b1","leftValue":"={{ $('Telegram Trigger').item.json.callback_query.data }}","rightValue":"nav_instruccion_entrada","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Guía: Entrada"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"b5de7794-809b-41da-9396-600cf366d9f4","leftValue":"={{ $('Telegram Trigger').item.json.callback_query.data }}","rightValue":"nav_instruccion_venta","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Guía: Venta"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"8cf5a577-a476-4088-b867-1a7be0187293","leftValue":"={{ $('Telegram Trigger').item.json.callback_query.data }}","rightValue":"nav_instruccion_ajuste","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Guía: Ajuste."},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"84309178-d986-4aa0-adb9-8d909a8372e0","leftValue":"={{ $('Telegram Trigger').item.json.callback_query.data }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Botones (Clicks)"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"65ad0bcc-3fa6-4f16-9216-27ad2dcc81cb","leftValue":"={{ $('Telegram Trigger').item.json.message.text }}","rightValue":"/start","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Comandos (/start)"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"leftValue":"={{ $('Telegram Trigger').item.json.message.photo }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true},"id":"97c5e9d8-9230-45b0-9169-5daef0842ae8"}],"combinator":"and"},"renameOutput":true,"outputKey":"Es foto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"6f885d4b-7f34-4d09-b3a4-9d478ca1b4d8","leftValue":"={{ $('Telegram Trigger').item.json.message.text }}","rightValue":"/in_","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Comando Entrada"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"798a0f95-3fa8-44c9-9776-1baed2a77917","leftValue":"={{ $('Telegram Trigger').item.json.message.text }}","rightValue":"/v_","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Comando Valores"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"a2744c12-c368-46a4-a38e-4e3c1c00a635","leftValue":"={{ $('Telegram Trigger').item.json.message.text }}","rightValue":"/out_","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Comando salida"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"8f0099ce-85c8-4511-8c42-0a8de6dbf9fa","leftValue":"={{ $('Telegram Trigger').item.json.message.text }}","rightValue":"/fix_","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Comando Fix"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"f0acfc05-a6bd-4e4c-a72a-b58a8e43d4c7","leftValue":"={{ $('Telegram Trigger').item.json.message.text }}","rightValue":"/delmov","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Acción: Borrar Venta"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"4e4e8735-ea32-4e2e-a19e-580a2a3f91ca","leftValue":"={{ $('Telegram Trigger').item.json.message.text }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Es texto "}]},"looseTypeValidation":true,"options":{"fallbackOutput":"extra","renameFallbackOutput":"Mensaje Invalido"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[672,1072],"id":"6d07f439-54c0-46f8-b602-627efd67cb75","name":"Switch"},{"parameters":{"url":"=https://www.googleapis.com/books/v1/volumes","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $('Telegram Trigger').item.json.message.text }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[896,1584],"id":"3c9383bf-98a8-4214-b9a9-52736c16e854","name":"HTTP Request","retryOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"772921d1-4cbd-4fc4-9c82-031f84c95b89","name":"titulo","value":"={{ $json.items[0].volumeInfo.title }}","type":"string"},{"id":"60633fff-8fe8-45ad-adb7-91aceaa502ab","name":"autor","value":"={{ $json.items[0].volumeInfo.authors.join(', ') }}","type":"string"},{"id":"884c7144-04a4-47f8-978c-f4bf9e7bfb6d","name":"isbn_ean","value":"={{ $json.items[0].volumeInfo.industryIdentifiers ? $json.items[0].volumeInfo.industryIdentifiers[0].identifier : $json.items[0].id }}","type":"string"},{"id":"e42cc90b-96c2-4531-84c5-45eddfffabdd","name":"descripcion","value":"={{ $json.items[0].volumeInfo.description }}","type":"string"},{"id":"3064560c-a089-4968-af55-b76efdfc2dde","name":"foto_url","value":"={{ $json.items[0].volumeInfo.imageLinks.thumbnail }}","type":"string"},{"id":"819cb9f8-7136-4457-93df-d23a16ddc290","name":"tipo_producto","value":"Libro","type":"string"},{"id":"1892b5aa-2949-4ba8-9832-185cbe8363a6","name":"origen","value":"Google API","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,1584],"id":"edca0284-17d2-4227-b461-393cca9a5dd0","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1344,208],"id":"94dddbab-0568-4b36-aee3-21d7e19af2cf","name":"Merge"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list","cachedResultName":"Inventario Híbrido Librería","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA"},"table":{"__rl":true,"value":"tblwe0HS2QfnfvfRh","mode":"list","cachedResultName":"Productos Maestro","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tblwe0HS2QfnfvfRh"},"filterByFormula":"=OR(\n  IF('{{ $json.isbn_ean }}' != '', {ISBN} = '{{ $json.isbn_ean }}', 0),\n  {Nombre Titulo} = '{{ $json.titulo }}'\n)","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1568,208],"id":"40cabc60-ffac-40e3-af1b-a88624122326","name":"Search records","alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ffaa939a-941a-43f7-9ea5-3e29fa4a85b5","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1792,208],"id":"8d77e58d-1213-4423-b2db-af89ed198fef","name":"If1"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=✅ **¡Producto Registrado con Éxito!**\n\nHemos guardado en la base de datos:\n📘 **Título:** {{ $('Create a record').item.json.fields['Nombre Titulo'] }}\n👤 **Autor:** {{ $('Create a record').item.json.fields['Autor Marca'] }}\n\n🆔 **SKU:** (Se generará automáticamente en breve)\n\n¿Qué quieres hacer ahora?","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"💰 Definir Precio y costo","additionalFields":{"callback_data":"=set_valores_{{ $('Create a record').item.json.id }}"}},{"text":"🗑️ Borrar (Error)","additionalFields":{"callback_data":"=borrar_{{ $('Create a record').item.json.id }}"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2464,384],"id":"cbaf48b6-93ca-4420-8b5f-ba9783895582","name":"Send a text message","webhookId":"ade28dca-6766-4eef-b09c-1ee107a267fc","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list","cachedResultName":"Inventario Híbrido Librería","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA"},"table":{"__rl":true,"value":"tblwe0HS2QfnfvfRh","mode":"list","cachedResultName":"Productos Maestro","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tblwe0HS2QfnfvfRh"},"columns":{"mappingMode":"defineBelow","value":{"Precio Venta":0,"Costo":0,"Nombre Titulo":"={{ $('Merge').item.json.titulo }}","ISBN":"={{ $('Merge').item.json.isbn_ean }}","EAN":"={{ $('Merge').item.json.isbn_ean }}","Autor Marca":"={{ $('Merge').item.json.autor }}","Tipo de Producto":"={{ $('Merge').item.json.tipo_producto }}","Descripción":"={{ $('Merge').item.json.descripcion }}","Foto Portada":"={{ $('Merge').item.json.foto_url }}","Ultima Modificación":"={{ $now }}"},"matchingColumns":[],"schema":[{"id":"Nombre Titulo","displayName":"Nombre Titulo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"SKU","displayName":"SKU","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"ISBN","displayName":"ISBN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"EAN","displayName":"EAN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Autor Marca","displayName":"Autor Marca","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Tipo de Producto","displayName":"Tipo de Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Libro","value":"Libro"},{"name":"Artículo","value":"Artículo"},{"name":"Comestible","value":"Comestible"}],"readOnly":false,"removed":false},{"id":"Descripción","displayName":"Descripción","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Precio Venta","displayName":"Precio Venta","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Costo","displayName":"Costo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Foto Portada","displayName":"Foto Portada","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Stock Actual","displayName":"Stock Actual","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Ultima Modificación","displayName":"Ultima Modificación","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Movimientos Vinculados","displayName":"Movimientos Vinculados","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Entradas Totales","displayName":"Entradas Totales","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Salidas Totales","displayName":"Salidas Totales","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Ajustes Iniciales","displayName":"Ajustes Iniciales","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Pérdidas Totales","displayName":"Pérdidas Totales","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Stock Actual Calculado","displayName":"Stock Actual Calculado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Margen Bruto (%)","displayName":"Margen Bruto (%)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Resumen Automático de Producto","displayName":"Resumen Automático de Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Clasificación Inteligente de Producto","displayName":"Clasificación Inteligente de Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Indice","displayName":"Indice","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2016,384],"id":"c8ed98b4-3d6d-4fc5-9714-5faeca900db1","name":"Create a record","retryOnFail":true,"credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"chatId":"={{ $json.callback_query.from.id }}{{ $('Telegram Trigger').item.json.message.from.id }}","text":"👋 **Sistema de Inventario KiroxON** |\n\n ¿Qué gestión administrativa deseas realizar?","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"📦 Estado Inventario","additionalFields":{"callback_data":"admin_inventario"}},{"text":" Reporte de ventas","additionalFields":{"callback_data":"admin_ventas"}},{"text":"➖ Registrar nuevo ingreso ","additionalFields":{"callback_data":"nav_instruccion_entrada"}},{"text":"📤 Registrar Salida (Venta)","additionalFields":{"callback_data":"nav_instruccion_venta"}},{"text":"🗑️ Borrar Productos","additionalFields":{"callback_data":"borrar_"}},{"text":"🛠️ Corregir/Ajustar Stock","additionalFields":{"callback_data":"nav_instruccion_ajuste"}},{"text":"🔙 Historial / Corregir Venta","additionalFields":{"callback_data":"nav_historial_ventas"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[896,1968],"id":"36eba161-9a61-473a-b24c-1a84230e7b40","name":"Send a text message3","webhookId":"aff6292a-cbcc-47fd-9e4b-49cf93d4d00e","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=📚 **Producto Encontrado**  \n**Título:** \n{{ $json['Nombre Titulo'] }} \n**Autor:** \n {{ $json['Autor Marca'] }}\n**Precio:** \n${{ $json['Precio Venta'] }}  \n¿Qué movimiento deseas registrar?","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"📦 Registrar Entrada (Varios)","additionalFields":{"callback_data":"=entrada_{{ $json.id }}"}},{"text":"➖ Registrar Salida  (varios)","additionalFields":{"callback_data":"=salida_{{ $json.id }}"}},{"text":"💰 Cambiar Precio","additionalFields":{"callback_data":"=set_valores_{{ $json.id }}"}},{"text":"⚖️ Ajuste / Corrección","additionalFields":{"callback_data":"={{ 'ajuste_' + $json.id }}"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2016,192],"id":"88d286f5-954d-4e92-84cb-1d076a2194a0","name":"Send a text message7","webhookId":"1ac55ba4-185a-492b-a704-4a73007b3c07","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"jsCode":"// --- CORRECCIÓN 1: REFERENCIA SEGURA ---\n// Buscamos directo en el Trigger para evitar el error \"undefined\"\nconst texto = $('Telegram Trigger').first().json.message.text;\n\n// 1. Limpiamos el comando\nconst textoLimpio = texto.replace('/v_', '').trim();\nconst partes = textoLimpio.split(' ');\n\n// 2. Validamos que vengan los 3 datos (ID, Precio, Costo)\nif (partes.length < 3) {\n  throw new Error(\"Faltan datos. Formato: /v_ID PRECIO COSTO\");\n}\n\n// --- CORRECCIÓN 2: LIMPIEZA DE COMA ---\n// Quitamos la coma del ID por si se coló al copiar\nconst id = partes[0].replace(',', '').trim();\n\n// Convertimos a números\nconst precio = parseFloat(partes[1]);\nconst costo = parseFloat(partes[2]);\n\n// 3. Calculamos la Ganancia y el Margen %\nconst ganancia = precio - costo;\n\n// Margen % (Protegemos contra división por cero)\nlet margen = 0;\nif (precio > 0) {\n  margen = ((ganancia / precio) * 100).toFixed(1); \n}\n\n// 4. Salida\nreturn {\n  json: {\n    id_airtable: id,\n    precio_venta: precio,\n    costo: costo,\n    ganancia_neta: ganancia,\n    margen_porcentaje: margen + \"%\"\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2016,576],"id":"1203cb18-d487-475b-9c0e-c932b79dae0a","name":"Code in JavaScript2"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"=✅ *¡Finanzas Actualizadas!*\n\n💰 *Precio Venta:* ${{ $json.fields['Precio Venta'] }}\n📉 *Costo:* ${{ $json.fields.Costo }}\n\n📊 *Análisis Rápido:*\n• Ganancia: ${{ $('Code in JavaScript2').item.json.ganancia_neta }}\n• Margen: {{ $('Code in JavaScript2').item.json.margen_porcentaje }}\n\n_¡Listo para vender!_","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🔙 Volver al Menu","additionalFields":{"callback_data":"inicio"}},{"text":"📦 Editar/Sumar Stock","additionalFields":{"callback_data":"=entrada_{{ $json.id }}"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2464,576],"id":"98b34b00-7f8a-4014-86a1-8696017140bd","name":"Send a text message4","webhookId":"7cc851a7-3ca2-4c2e-8346-90f10c510a00","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list","cachedResultName":"Inventario Híbrido Librería","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA"},"table":{"__rl":true,"value":"tblwe0HS2QfnfvfRh","mode":"list","cachedResultName":"Productos Maestro","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tblwe0HS2QfnfvfRh"},"columns":{"mappingMode":"defineBelow","value":{"Precio Venta":"={{ $json.precio_venta }}","Costo":"={{ $json.costo }}","id":"={{ $json.id_airtable }}","Ultima Modificación":"2026-01-21T09:51:03"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Nombre Titulo","displayName":"Nombre Titulo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SKU","displayName":"SKU","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"ISBN","displayName":"ISBN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EAN","displayName":"EAN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Autor Marca","displayName":"Autor Marca","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Tipo de Producto","displayName":"Tipo de Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Libro","value":"Libro"},{"name":"Artículo","value":"Artículo"},{"name":"Comestible","value":"Comestible"}],"readOnly":false,"removed":true},{"id":"Descripción","displayName":"Descripción","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Precio Venta","displayName":"Precio Venta","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Costo","displayName":"Costo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Foto Portada","displayName":"Foto Portada","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Stock Actual","displayName":"Stock Actual","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Ultima Modificación","displayName":"Ultima Modificación","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Movimientos Vinculados","displayName":"Movimientos Vinculados","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Entradas Totales","displayName":"Entradas Totales","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Salidas Totales","displayName":"Salidas Totales","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Ajustes Iniciales","displayName":"Ajustes Iniciales","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Pérdidas Totales","displayName":"Pérdidas Totales","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Stock Actual Calculado","displayName":"Stock Actual Calculado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Margen Bruto (%)","displayName":"Margen Bruto (%)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Resumen Automático de Producto","displayName":"Resumen Automático de Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Clasificación Inteligente de Producto","displayName":"Clasificación Inteligente de Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Indice","displayName":"Indice","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2240,576],"id":"0e8b8f91-14d3-4e18-976a-5f4df0921a88","name":"Update record","retryOnFail":true,"credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"jsCode":"// --- CORRECCIÓN ---\n// En lugar de confiar en $json (que puede fallar), buscamos directo en el Trigger.\nconst texto = $('Telegram Trigger').first().json.message.text;\n\n// 1. Limpiamos el comando inicial\nconst limpio = texto.replace('/in_', '').trim();\nconst partes = limpio.split(' ');\n\n// 2. Validamos\nif (partes.length < 2) {\n  throw new Error(\"Faltó la cantidad. Formato: /in_ID CANTIDAD\");\n}\n\n// --- AQUÍ ESTÁ EL ARREGLO ---\n// Agregamos .replace(',', '') para quitar cualquier coma que se haya colado al final del ID\nconst idProducto = partes[0].replace(',', '').trim(); \n\nconst cantidad = parseInt(partes[1]);\n\nreturn {\n  json: {\n    id_producto: idProducto,\n    cantidad_entrar: cantidad,\n    nota: `Ingreso manual de ${cantidad} uds.`\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,1776],"id":"17fc06c1-cc08-4341-a1f7-3264b0cbdcc0","name":"Code in JavaScript5"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list","cachedResultName":"Inventario Híbrido Librería","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA"},"table":{"__rl":true,"value":"tbllmq4v91zGVMUQd","mode":"list","cachedResultName":"Movimientos de Inventario","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tbllmq4v91zGVMUQd"},"columns":{"mappingMode":"defineBelow","value":{"Tipo Movimiento":"Entrada Compra","Cantidad":"={{ $json.cantidad_entrar }}","Notas":"={{ $json.nota }}","Producto Relacionado":"={{ [ $json.id_producto ] }}","Fecha":"2026-01-22T10:31:24"},"matchingColumns":[],"schema":[{"id":"ID Movimiento","displayName":"ID Movimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Producto Relacionado","displayName":"Producto Relacionado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Tipo Movimiento","displayName":"Tipo Movimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Entrada Compra","value":"Entrada Compra"},{"name":"Salida Venta","value":"Salida Venta"},{"name":"Ajuste Inicial","value":"Ajuste Inicial"},{"name":"Pérdida","value":"Pérdida"}],"readOnly":false,"removed":false},{"id":"Cantidad","displayName":"Cantidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Notas","displayName":"Notas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Entradas (+)","displayName":"Entradas (+)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Salidas (-)","displayName":"Salidas (-)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre Producto","displayName":"Nombre Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"SKU Producto","displayName":"SKU Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Resumen Movimiento (AI)","displayName":"Resumen Movimiento (AI)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Clasificación Movimiento (AI)","displayName":"Clasificación Movimiento (AI)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Cantidad Real","displayName":"Cantidad Real","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Precio Venta","displayName":"Precio Venta","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1120,1776],"id":"caec4c60-0aff-4e36-b6c7-e233daaeff13","name":"Create a record3","retryOnFail":true,"credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"jsCode":"// --- VERSIÓN CORREGIDA: SIEMPRE POSITIVO ---\n// 1. Usamos referencia directa al Trigger para evitar errores\nconst texto = $('Telegram Trigger').first().json.message.text;\n\n// 2. Limpiamos el comando '/out_'\nconst limpio = texto.replace('/out_', '').trim();\nconst partes = limpio.split(' ');\n\n// 3. Validación de seguridad\nif (partes.length < 2) {\n  throw new Error(\"Faltó la cantidad. Formato correcto: /out_ID CANTIDAD\");\n}\n\n// 4. Limpieza del ID (quitamos comas)\nconst idProducto = partes[0].replace(',', '').trim();\n\n// 5. Convertimos a número y FORZAMOS VALOR ABSOLUTO\n// Math.abs() convierte -3 en 3, y deja el 3 como 3.\nconst cantidadInput = parseInt(partes[1]);\nconst cantidadFinal = Math.abs(cantidadInput);\n\n// 6. Preparamos los datos para Airtable\nreturn {\n  json: {\n    id_producto: idProducto,\n    cantidad_salir: cantidadFinal, // Enviamos siempre positivo\n    // En la nota guardamos el dato real por si quieres auditoría\n    nota: `Salida/Venta manual de ${cantidadFinal} uds. (Input: ${cantidadInput})`\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2016,1248],"id":"7a3f8c30-eb82-4c1b-90ad-4150301633c1","name":"Code in JavaScript6"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list","cachedResultName":"Inventario Híbrido Librería","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA"},"table":{"__rl":true,"value":"tbllmq4v91zGVMUQd","mode":"list","cachedResultName":"Movimientos de Inventario","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tbllmq4v91zGVMUQd"},"columns":{"mappingMode":"defineBelow","value":{"Tipo Movimiento":"Salida Venta","Cantidad":"={{ $json.cantidad_salir }}","Notas":"={{ $json.nota }}","Producto Relacionado":"={{ [ $json.id_producto ] }}","Fecha":"2026-01-22T10:31:13"},"matchingColumns":[],"schema":[{"id":"ID Movimiento","displayName":"ID Movimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Producto Relacionado","displayName":"Producto Relacionado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Tipo Movimiento","displayName":"Tipo Movimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Entrada Compra","value":"Entrada Compra"},{"name":"Salida Venta","value":"Salida Venta"},{"name":"Ajuste Inicial","value":"Ajuste Inicial"},{"name":"Pérdida","value":"Pérdida"}],"readOnly":false,"removed":false},{"id":"Cantidad","displayName":"Cantidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Notas","displayName":"Notas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Entradas (+)","displayName":"Entradas (+)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Salidas (-)","displayName":"Salidas (-)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre Producto","displayName":"Nombre Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"SKU Producto","displayName":"SKU Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Resumen Movimiento (AI)","displayName":"Resumen Movimiento (AI)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Clasificación Movimiento (AI)","displayName":"Clasificación Movimiento (AI)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Cantidad Real","displayName":"Cantidad Real","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Precio Venta","displayName":"Precio Venta","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2240,1248],"id":"849941a2-a678-4f9e-a188-a99f590e5368","name":"Create a record4","retryOnFail":true,"credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=\"📉 Nuevo Inventario añadido con exito. \n*Articulo Añadido:* \n{{ $json[\"Nombre Titulo\"] }}\n*Notas:* \n{{ $('Code in JavaScript5').item.json.nota }}\n\n Inventario actualizado","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🔙 Volver al Menu","additionalFields":{"callback_data":"inicio"}},{"text":"💰 Cambiar Precio","additionalFields":{"callback_data":"=set_valores_{{ $json.id }}"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1568,1776],"id":"e79e2e5a-b7f3-44d3-b55e-61b53e2fdc38","name":"Send a text message15","webhookId":"ade28dca-6766-4eef-b09c-1ee107a267fc","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"numberInputs":6},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2688,432],"id":"6b1f88ee-4b53-448b-bd81-12700c4241f0","name":"Merge2"},{"parameters":{"resource":"callback","queryId":"=","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2912,496],"id":"8ff966a7-f885-4e6b-995c-7cfbedee892d","name":"Answer Query a callback1","webhookId":"96e07505-d490-4c4d-8d3e-8b92d6124ae8","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list","cachedResultName":"Inventario Híbrido Librería","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA"},"table":{"__rl":true,"value":"tbllmq4v91zGVMUQd","mode":"list","cachedResultName":"Movimientos de Inventario","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tbllmq4v91zGVMUQd"},"columns":{"mappingMode":"defineBelow","value":{"Tipo Movimiento":"Ajuste Inicial","Cantidad":1,"Producto Relacionado":"={{ [ $json.id ] }}","Fecha":"2026-01-22T11:27:11","Notas":"Carga automática inicial (1 ud)"},"matchingColumns":[],"schema":[{"id":"ID Movimiento","displayName":"ID Movimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Producto Relacionado","displayName":"Producto Relacionado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Tipo Movimiento","displayName":"Tipo Movimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Entrada Compra","value":"Entrada Compra"},{"name":"Salida Venta","value":"Salida Venta"},{"name":"Ajuste Inicial","value":"Ajuste Inicial"},{"name":"Pérdida","value":"Pérdida"}],"readOnly":false,"removed":false},{"id":"Cantidad","displayName":"Cantidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Notas","displayName":"Notas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Entradas (+)","displayName":"Entradas (+)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Salidas (-)","displayName":"Salidas (-)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre Producto","displayName":"Nombre Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"SKU Producto","displayName":"SKU Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Resumen Movimiento (AI)","displayName":"Resumen Movimiento (AI)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Clasificación Movimiento (AI)","displayName":"Clasificación Movimiento (AI)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Cantidad Real","displayName":"Cantidad Real","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Precio Venta","displayName":"Precio Venta","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2240,384],"id":"69ed1a59-3d15-4dd8-bb9f-f48eb12dc340","name":"Create a record1","retryOnFail":true,"credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=\"📉 Venta registrada. ¡Buen trabajo!\".\n*Articulo vendido:* \n{{ $json.fields['Nombre Producto'][0] }}\n*Notas:* \n{{ $json.fields.Notas }}\n\n Inventario actualizado","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🔙 Volver al Menu","additionalFields":{"callback_data":"inicio"}},{"text":"💰 Cambiar Precio","additionalFields":{"callback_data":"=set_valores_{{ $json.fields['Producto Relacionado'][0] }}"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2464,1248],"id":"b8fd3c16-a583-420d-8f07-42b2cf228286","name":"Venta registrada","webhookId":"ade28dca-6766-4eef-b09c-1ee107a267fc","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.callback_query.from.id }}","text":"📥 Modo Entrada de Inventario  \nPara sumar unidades al stock, primero necesitamos identificar el producto.  \n\n👉 Por favor, envía la FOTO de la portada o escribe el NOMBRE/ISBN del libro ahora.\n\nEl sistema te mostrará el producto y te dará el botón de ingreso.","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[896,720],"id":"35514190-33e0-4bc5-8dec-011b3ffdf219","name":"Send a text message1","webhookId":"54c3915d-63eb-4500-9ec3-584f269197b5","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.callback_query.from.id }}","text":"📤 Modo Registro de Venta\n\n¡Vamos a vender! Para descontar del inventario:\n\n👉 Escanea el producto (envía foto) o escribe su nombre aquí.\n\nUna vez lo encontremos, podrás seleccionar \"➖ Salida Venta\".","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[896,912],"id":"112b1601-6c4b-4177-912d-17ba72b408d5","name":"Send a text message8","webhookId":"54c3915d-63eb-4500-9ec3-584f269197b5","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list","cachedResultName":"Inventario Híbrido Librería","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA"},"table":{"__rl":true,"value":"tblZoQXwgSqrxLN4r","mode":"list","cachedResultName":"Table 3","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tblZoQXwgSqrxLN4r"},"filterByFormula":"={Telegram ID} = '{{ $json.message ? $json.message.from.id : $json.callback_query.from.id }}'","returnAll":false,"limit":1,"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[224,1808],"id":"09cc85a2-8aa3-4b42-afa2-f94ebc9929de","name":"Search records3","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"04f0dd43-3738-4e3c-a7f3-84f001b961a8","leftValue":"={{ $json.Rol }}","rightValue":"Admin","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[448,1808],"id":"64081be8-064d-42a6-97b4-6e49a505ea1c","name":"If2"},{"parameters":{"workflowId":{"__rl":true,"value":"KybXCTi3UjgNGqaD","mode":"list","cachedResultUrl":"/workflow/KybXCTi3UjgNGqaD","cachedResultName":"Sub-workflow: Vendedor"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[896,2352],"id":"a535739a-9bbc-4a42-97cb-fb9bfc9bfcfa","name":"Call 'Sub-workflow: Vendedor'","retryOnFail":true},{"parameters":{"jsCode":"// 1. Recuperamos TODO lo que llegó del Trigger original de Telegram\n// (Usamos .first() para asegurar que tomamos el mensaje original)\nconst telegramData = $('Telegram Trigger').first().json;\n\n// 2. Recuperamos los datos del usuario que encontró Airtable\n// (Como venimos del nodo IF, $input.item contiene el registro de Airtable)\nconst usuarioAirtable = $input.item.json;\n\n// 3. Construimos el paquete final para el Sub-workflow\nreturn {\n  json: {\n    // --- PARTE VITAL ---\n    // Pasamos las propiedades originales de Telegram (message, update_id, callback_query)\n    // para que el Sub-workflow crea que le está hablando Telegram directamente.\n    ...telegramData, \n    \n    // --- DATOS EXTRA ---\n    // Agregamos la info del empleado por si la necesitas allá (ej: para poner su nombre en el reporte)\n    vendedor_info: {\n      nombre: usuarioAirtable.fields?.Nombre || \"Vendedor\",\n      id_airtable: usuarioAirtable.id,\n      rol: usuarioAirtable.fields?.Rol\n    }\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,2352],"id":"c0d8c1db-602f-40f2-a554-c9f60ae65f2c","name":"Code in JavaScript7"},{"parameters":{"base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list","cachedResultName":"Inventario Híbrido Librería","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA"},"table":{"__rl":true,"value":"tblwe0HS2QfnfvfRh","mode":"list","cachedResultName":"Productos Maestro","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tblwe0HS2QfnfvfRh"},"id":"={{ $('Code in JavaScript5').item.json.id_producto }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1344,1776],"id":"0cd39f51-6861-416f-9ac9-867869b3677c","name":"Get a record","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"jsCode":"// --- PROCESAR AJUSTE (/fix_) CORREGIDO ---\nconst texto = $('Telegram Trigger').first().json.message.text;\n\n// 1. Limpieza\nconst limpio = texto.replace('/fix_', '').trim();\nconst partes = limpio.split(' ');\n\nif (partes.length < 2) {\n  throw new Error(\"Faltó la cantidad. Ejemplo: /fix_ID -3\");\n}\n\nconst idProducto = partes[0].replace(',', '').trim();\nlet cantidadInput = parseInt(partes[1]); \n\n// 2. Lógica de Signos\nlet tipoMov = \"Ajuste Inicial\";\nlet nota = \"Ajuste de Inventario\";\nlet cantidadFinal = cantidadInput;\n\nif (cantidadInput < 0) {\n    // CASO RESTA (Pérdida/Corrección)\n    tipoMov = \"Pérdida\"; \n    nota = \"Salida por corrección/merma\";\n    \n    // IMPORTANTE: Convertimos a POSITIVO para que la fórmula de Airtable reste bien\n    // La fórmula es: Stock - Pérdidas. Si mandamos 3, hace Stock - 3. (Correcto)\n    cantidadFinal = Math.abs(cantidadInput); \n    \n} else {\n    // CASO SUMA (Hallazgo)\n    tipoMov = \"Ajuste Inicial\";\n    nota = \"Entrada por corrección/hallazgo\";\n    // Aquí la cantidad se queda positiva\n}\n\nreturn {\n  json: {\n    id_producto: idProducto,\n    cantidad: cantidadFinal, // Enviamos siempre positivo\n    nota: `${nota} (Original: ${cantidadInput})`,\n    tipo_movimiento: tipoMov\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,1104],"id":"d2e39b29-fc30-4801-a3c3-83fe0f603cd7","name":"Code in JavaScript8"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list","cachedResultName":"Inventario Híbrido Librería","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA"},"table":{"__rl":true,"value":"tbllmq4v91zGVMUQd","mode":"list","cachedResultName":"Movimientos de Inventario","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tbllmq4v91zGVMUQd"},"columns":{"mappingMode":"defineBelow","value":{"Tipo Movimiento":"={{ $json.tipo_movimiento }}","Cantidad":"={{ $json.cantidad }}","Notas":"={{ $json.nota }}","Producto Relacionado":"={{ [ $json.id_producto ] }}"},"matchingColumns":[],"schema":[{"id":"ID Movimiento","displayName":"ID Movimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Producto Relacionado","displayName":"Producto Relacionado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Tipo Movimiento","displayName":"Tipo Movimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Entrada Compra","value":"Entrada Compra"},{"name":"Salida Venta","value":"Salida Venta"},{"name":"Ajuste Inicial","value":"Ajuste Inicial"},{"name":"Pérdida","value":"Pérdida"}],"readOnly":false,"removed":false},{"id":"Cantidad","displayName":"Cantidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Notas","displayName":"Notas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Entradas (+)","displayName":"Entradas (+)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Salidas (-)","displayName":"Salidas (-)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre Producto","displayName":"Nombre Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"SKU Producto","displayName":"SKU Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Resumen Movimiento (AI)","displayName":"Resumen Movimiento (AI)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Clasificación Movimiento (AI)","displayName":"Clasificación Movimiento (AI)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Cantidad Real","displayName":"Cantidad Real","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Precio Venta","displayName":"Precio Venta","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1120,1104],"id":"6bb00c46-ec26-428d-8eda-910f3d3cdc66","name":"Create a record2","retryOnFail":true,"credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"=✅ Inventario Corregido Se aplicó el ajuste de \n Unidades","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1344,1104],"id":"a04e30ba-9c0f-4413-a177-4434894df16a","name":"Send a text message16","webhookId":"9a599dd1-ef9a-42d9-9aeb-3c04ec5653ee","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"operation":"deleteRecord","base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list","cachedResultName":"Inventario Híbrido Librería","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA"},"table":{"__rl":true,"value":"tbllmq4v91zGVMUQd","mode":"list","cachedResultName":"Movimientos de Inventario","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tbllmq4v91zGVMUQd"},"id":"={{ $json.id_para_borrar }}"},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1120,1392],"id":"4aa416d7-24bc-4f7b-af1f-9cdefca5a4a5","name":"Delete a record1","retryOnFail":true,"credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"✅ Corrección Realizada La venta ha sido eliminada del sistema y el stock ha sido devuelto automáticamente","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1344,1392],"id":"883cd34b-0549-4022-aa12-2d68f530df05","name":"Send a text message21","webhookId":"36c1652a-eb35-4464-b8fa-7a17fffea675","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"jsCode":"// 1. Obtenemos el mensaje de texto original\nconst texto = $('Telegram Trigger').first().json.message.text;\n\n// 2. LIMPIEZA AGRESIVA\n// Reemplazamos el comando '/delmov_' por nada.\n// También agregamos un replace extra por si falta el guion bajo ('/delmov') para evitar el error que te salió.\nconst idLimpio = texto.replace('/delmov_', '').replace('/delmov', '').trim();\n\n// 3. Devolvemos el ID puro\nreturn {\n  json: {\n    id_para_borrar: idLimpio\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,1392],"id":"a4013e19-1b8e-4d42-9909-fc7807ae38d2","name":"Code in JavaScript10"},{"parameters":{"workflowId":{"__rl":true,"value":"f7kZd8D8CSuYFau7","mode":"list","cachedResultUrl":"/workflow/f7kZd8D8CSuYFau7","cachedResultName":"Acciones y herramientas"},"workflowInputs":{"mappingMode":"defineBelow","value":{"callback_query_data":"={{ $('Telegram Trigger').item.json.callback_query.data }}","callback_query_data_replace_firstItem":"={{ $('Telegram Trigger').item.json.callback_query.data.replace('borrar_', '').trim() }}","callback_query_from_id":"={{ $('Telegram Trigger').item.json.callback_query.from.id }}","callback_query_data_replace":"={{ $('Telegram Trigger').item.json.callback_query.data.replace('borrar_', '').trim() }}","callback_query_from_id_firstItem":"={{ $('Telegram Trigger').first().json.callback_query.from.id }}","callback_query_id_firstItem":"={{ $('Telegram Trigger').first().json.callback_query.id }}","message_from_id":"={{ $('Telegram Trigger').item.json.message.from.id }}{{ $('Telegram Trigger').item.json.callback_query.from.id }}"},"matchingColumns":["callback_query_data","callback_query_data_replace_firstItem","callback_query_from_id","callback_query_data_replace","callback_query_from_id_firstItem","callback_query_id_firstItem","message_from_id"],"schema":[{"id":"callback_query_data","displayName":"callback_query_data","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"callback_query_data_replace_firstItem","displayName":"callback_query_data_replace_firstItem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"callback_query_from_id","displayName":"callback_query_from_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"callback_query_data_replace","displayName":"callback_query_data_replace","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"callback_query_from_id_firstItem","displayName":"callback_query_from_id_firstItem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"callback_query_id_firstItem","displayName":"callback_query_id_firstItem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"message_from_id","displayName":"message_from_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[896,2160],"name":"Call Acciones y herramientas","id":"f6b3ebe3-da87-47b0-a0dd-194481eadb94","retryOnFail":true},{"parameters":{"workflowId":{"__rl":true,"value":"l8BPYFioe5Wan3OW","mode":"list","cachedResultUrl":"/workflow/l8BPYFioe5Wan3OW","cachedResultName":"Escaner de produtos"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1120,208],"name":"Call Escaner de produtos","id":"72efa0ce-ff5f-4e3d-8fd1-c2b43da253d7","retryOnFail":true},{"parameters":{"jsCode":"// 1. REFERENCIA ABSOLUTA: Ignoramos el nodo anterior y vamos directo a la fuente\n// Si tu nodo inicial se llama diferente, cambia 'Telegram Trigger' por su nombre real\nconst triggerData = $('Telegram Trigger').first().json;\n\n// 2. Debug en consola (aparecerá en la pestaña Console del navegador si lo abres)\nconsole.log(\"Datos recibidos del trigger:\", triggerData);\n\n// 3. Extracción Directa de la Foto\nlet fileId = null;\n\n// Verificamos si existe message y photo dentro de la data del trigger\nif (triggerData.message && triggerData.message.photo) {\n  // Tomamos la última foto del array (la de mayor calidad)\n  const todasLasFotos = triggerData.message.photo;\n  const mejorFoto = todasLasFotos[todasLasFotos.length - 1];\n  fileId = mejorFoto.file_id;\n}\n\n// 4. Retorno Final\nif (fileId) {\n  return {\n    json: {\n      exito: true,\n      file_id: fileId,\n      usuario: triggerData.message.from.first_name,\n      mensaje_original: \"Foto encontrada\"\n    }\n  };\n} else {\n  return {\n    json: {\n      exito: false,\n      error: \"No se encontró foto en el nodo Telegram Trigger\",\n      data_revisada: triggerData // Esto nos mostrará qué está viendo realmente\n    }\n  };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,208],"id":"08088200-e4fc-44f8-a666-6a3220bb1a52","name":"Code in JavaScript"},{"parameters":{"content":"## 🇪🇸 Sistema: HUB Central (Router)\n\n\nPropósito: Recibe mensajes y decide qué sub-flujo activar.\nRutas:\n1. 📸 Foto → Escáner IA.\n2. 📝 Texto → Búsqueda Google Books.\n3. ⚡ Comandos (/in, /out) → Vendedor.\n4. 📊 Admin → Herramientas.\n\n🇺🇸 English:\nSystem: Central HUB (Router)\nPurpose: Receives messages and decides which sub-flow to trigger.\nRoutes:\n1. 📸 Photo → AI Scanner.\n2. 📝 Text → Google Books Search.\n3. ⚡ Commands (/in, /out) → Sales Worker.\n4. 📊 Admin → Admin Tools.","height":544,"width":400},"type":"n8n-nodes-base.stickyNote","position":[-496,1584],"typeVersion":1,"id":"b70e6bbb-1906-4c48-9ba9-b9a4884f6af8","name":"Sticky Note"},{"parameters":{"content":"## 🇪🇸 Lógica de Enrutamiento:\n\nClasifica la intención del usuario:\n* nav_instruccion: Menús de navegación.\n* /in_ /out_: Comandos rápidos.\n* Photo: Gatillo visual.\n* Text: Búsqueda por palabra clave.\n\n🇺🇸 English:\nRouting Logic:\nClassifies user intent:\n* nav_instruccion: Menu navigation.\n* /in_ /out_: Quick commands.\n* Photo: Visual trigger.\n* Text: Keyword search.","height":416,"width":352,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[256,1088],"id":"ea1e5c47-5389-4859-bbf5-0c217a6d36bc","name":"Sticky Note1"},{"parameters":{"content":"## 🛡️ Sistema de Blindaje (Error Handling):\nValidado mediante pruebas de estrés. Los nodos críticos incluyen:\n1. Retry on Fail: Reintentos automáticos ante caídas de API.\n2. Sanitización: Limpieza de inputs en JS para evitar crashes.\n3. Fallback: Rutas alternas si falla la IA principal.\n🇺🇸 English:\n🛡️ System Shielding (Error Handling):\nValidated via stress testing. Critical nodes include:\n1. Retry on Fail: Auto-retries during API outages.\n2. Sanitization: JS input cleaning to prevent crashes.\n3. Fallback: Alternate routes if primary AI fails.","height":336,"width":464,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1952,848],"id":"20d3d7a3-8ade-406c-9a9b-40573d27ea62","name":"Sticky Note2"},{"parameters":{"content":"## 🇪🇸 Calculadora Financiera:\n\nCalcula automáticamente:\n* Ganancia Neta: (Precio - Costo)\n* Margen %: Rentabilidad del producto.\n\n🇺🇸 English:\nFinancial Calculator:\nAutomatically calculates:\n* Net Profit: (Price - Cost)\n* Margin %: Product profitability.","height":304,"width":336,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1600,416],"id":"6a06e3cf-11d9-4c19-85d9-1edb68ad9fdc","name":"Sticky Note3"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Search records3","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Send a text message1","type":"main","index":0}],[{"node":"Send a text message8","type":"main","index":0}],[{"node":"Send a text message1","type":"main","index":0}],[{"node":"Call Acciones y herramientas","type":"main","index":0}],[{"node":"Send a text message3","type":"main","index":0}],[{"node":"Code in JavaScript","type":"main","index":0}],[{"node":"Code in JavaScript5","type":"main","index":0}],[{"node":"Code in JavaScript2","type":"main","index":0}],[{"node":"Code in JavaScript6","type":"main","index":0}],[{"node":"Code in JavaScript8","type":"main","index":0}],[{"node":"Code in JavaScript10","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Search records","type":"main","index":0}]]},"Search records":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Send a text message7","type":"main","index":0}],[{"node":"Create a record","type":"main","index":0}]]},"Create a record":{"main":[[{"node":"Create a record1","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Update record","type":"main","index":0}]]},"Update record":{"main":[[{"node":"Send a text message4","type":"main","index":0}]]},"Code in JavaScript5":{"main":[[{"node":"Create a record3","type":"main","index":0}]]},"Code in JavaScript6":{"main":[[{"node":"Create a record4","type":"main","index":0}]]},"Create a record4":{"main":[[{"node":"Venta registrada","type":"main","index":0}]]},"Create a record3":{"main":[[{"node":"Get a record","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Answer Query a callback1","type":"main","index":0}]]},"Send a text message":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Send a text message4":{"main":[[{"node":"Merge2","type":"main","index":3}]]},"Create a record1":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Venta registrada":{"main":[[{"node":"Merge2","type":"main","index":2}]]},"Search records3":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"Code in JavaScript7","type":"main","index":0}]]},"Code in JavaScript7":{"main":[[{"node":"Call 'Sub-workflow: Vendedor'","type":"main","index":0}]]},"Get a record":{"main":[[{"node":"Send a text message15","type":"main","index":0}]]},"Code in JavaScript8":{"main":[[{"node":"Create a record2","type":"main","index":0}]]},"Create a record2":{"main":[[{"node":"Send a text message16","type":"main","index":0}]]},"Delete a record1":{"main":[[{"node":"Send a text message21","type":"main","index":0}]]},"Code in JavaScript10":{"main":[[{"node":"Delete a record1","type":"main","index":0}]]},"Call Escaner de produtos":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Call Escaner de produtos","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dc7d4ab9-6962-4dfb-b64f-b8afda749edd","activeVersionId":"dc7d4ab9-6962-4dfb-b64f-b8afda749edd","versionCounter":6,"triggerCount":1,"shared":[{"updatedAt":"2026-01-27T13:32:55.619Z","createdAt":"2026-01-27T13:32:55.619Z","role":"workflow:owner","workflowId":"qdQuCCjDkqdjLw5z","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[{"updatedAt":"2026-01-21T16:44:45.737Z","createdAt":"2026-01-21T16:44:45.737Z","id":"SOP4RrhCxE4HODDZ","name":"1 Proyecto"}],"activeVersion":{"updatedAt":"2026-02-05T21:23:30.000Z","createdAt":"2026-02-03T15:32:36.800Z","versionId":"dc7d4ab9-6962-4dfb-b64f-b8afda749edd","workflowId":"qdQuCCjDkqdjLw5z","nodes":[{"parameters":{"updates":["message","callback_query"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[0,1808],"id":"de96acd4-3feb-46d6-8294-e9eaba2c2ee0","name":"Telegram Trigger","webhookId":"c1b0d970-1d61-452f-9021-2ac025fd8d65","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"e18f3e0d-2cc7-44ca-90b4-feb63e4ce9b1","leftValue":"={{ $('Telegram Trigger').item.json.callback_query.data }}","rightValue":"nav_instruccion_entrada","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Guía: Entrada"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"b5de7794-809b-41da-9396-600cf366d9f4","leftValue":"={{ $('Telegram Trigger').item.json.callback_query.data }}","rightValue":"nav_instruccion_venta","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Guía: Venta"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"8cf5a577-a476-4088-b867-1a7be0187293","leftValue":"={{ $('Telegram Trigger').item.json.callback_query.data }}","rightValue":"nav_instruccion_ajuste","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Guía: Ajuste."},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"84309178-d986-4aa0-adb9-8d909a8372e0","leftValue":"={{ $('Telegram Trigger').item.json.callback_query.data }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Botones (Clicks)"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"65ad0bcc-3fa6-4f16-9216-27ad2dcc81cb","leftValue":"={{ $('Telegram Trigger').item.json.message.text }}","rightValue":"/start","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Comandos (/start)"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"leftValue":"={{ $('Telegram Trigger').item.json.message.photo }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true},"id":"97c5e9d8-9230-45b0-9169-5daef0842ae8"}],"combinator":"and"},"renameOutput":true,"outputKey":"Es foto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"6f885d4b-7f34-4d09-b3a4-9d478ca1b4d8","leftValue":"={{ $('Telegram Trigger').item.json.message.text }}","rightValue":"/in_","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Comando Entrada"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"798a0f95-3fa8-44c9-9776-1baed2a77917","leftValue":"={{ $('Telegram Trigger').item.json.message.text }}","rightValue":"/v_","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Comando Valores"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"a2744c12-c368-46a4-a38e-4e3c1c00a635","leftValue":"={{ $('Telegram Trigger').item.json.message.text }}","rightValue":"/out_","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Comando salida"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"8f0099ce-85c8-4511-8c42-0a8de6dbf9fa","leftValue":"={{ $('Telegram Trigger').item.json.message.text }}","rightValue":"/fix_","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Comando Fix"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"f0acfc05-a6bd-4e4c-a72a-b58a8e43d4c7","leftValue":"={{ $('Telegram Trigger').item.json.message.text }}","rightValue":"/delmov","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Acción: Borrar Venta"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"4e4e8735-ea32-4e2e-a19e-580a2a3f91ca","leftValue":"={{ $('Telegram Trigger').item.json.message.text }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Es texto "}]},"looseTypeValidation":true,"options":{"fallbackOutput":"extra","renameFallbackOutput":"Mensaje Invalido"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[672,1072],"id":"6d07f439-54c0-46f8-b602-627efd67cb75","name":"Switch"},{"parameters":{"url":"=https://www.googleapis.com/books/v1/volumes","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $('Telegram Trigger').item.json.message.text }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[896,1584],"id":"3c9383bf-98a8-4214-b9a9-52736c16e854","name":"HTTP Request","retryOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"772921d1-4cbd-4fc4-9c82-031f84c95b89","name":"titulo","value":"={{ $json.items[0].volumeInfo.title }}","type":"string"},{"id":"60633fff-8fe8-45ad-adb7-91aceaa502ab","name":"autor","value":"={{ $json.items[0].volumeInfo.authors.join(', ') }}","type":"string"},{"id":"884c7144-04a4-47f8-978c-f4bf9e7bfb6d","name":"isbn_ean","value":"={{ $json.items[0].volumeInfo.industryIdentifiers ? $json.items[0].volumeInfo.industryIdentifiers[0].identifier : $json.items[0].id }}","type":"string"},{"id":"e42cc90b-96c2-4531-84c5-45eddfffabdd","name":"descripcion","value":"={{ $json.items[0].volumeInfo.description }}","type":"string"},{"id":"3064560c-a089-4968-af55-b76efdfc2dde","name":"foto_url","value":"={{ $json.items[0].volumeInfo.imageLinks.thumbnail }}","type":"string"},{"id":"819cb9f8-7136-4457-93df-d23a16ddc290","name":"tipo_producto","value":"Libro","type":"string"},{"id":"1892b5aa-2949-4ba8-9832-185cbe8363a6","name":"origen","value":"Google API","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,1584],"id":"edca0284-17d2-4227-b461-393cca9a5dd0","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1344,208],"id":"94dddbab-0568-4b36-aee3-21d7e19af2cf","name":"Merge"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list","cachedResultName":"Inventario Híbrido Librería","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA"},"table":{"__rl":true,"value":"tblwe0HS2QfnfvfRh","mode":"list","cachedResultName":"Productos Maestro","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tblwe0HS2QfnfvfRh"},"filterByFormula":"=OR(\n  IF('{{ $json.isbn_ean }}' != '', {ISBN} = '{{ $json.isbn_ean }}', 0),\n  {Nombre Titulo} = '{{ $json.titulo }}'\n)","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1568,208],"id":"40cabc60-ffac-40e3-af1b-a88624122326","name":"Search records","alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ffaa939a-941a-43f7-9ea5-3e29fa4a85b5","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1792,208],"id":"8d77e58d-1213-4423-b2db-af89ed198fef","name":"If1"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=✅ **¡Producto Registrado con Éxito!**\n\nHemos guardado en la base de datos:\n📘 **Título:** {{ $('Create a record').item.json.fields['Nombre Titulo'] }}\n👤 **Autor:** {{ $('Create a record').item.json.fields['Autor Marca'] }}\n\n🆔 **SKU:** (Se generará automáticamente en breve)\n\n¿Qué quieres hacer ahora?","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"💰 Definir Precio y costo","additionalFields":{"callback_data":"=set_valores_{{ $('Create a record').item.json.id }}"}},{"text":"🗑️ Borrar (Error)","additionalFields":{"callback_data":"=borrar_{{ $('Create a record').item.json.id }}"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2464,384],"id":"cbaf48b6-93ca-4420-8b5f-ba9783895582","name":"Send a text message","webhookId":"ade28dca-6766-4eef-b09c-1ee107a267fc","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list","cachedResultName":"Inventario Híbrido Librería","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA"},"table":{"__rl":true,"value":"tblwe0HS2QfnfvfRh","mode":"list","cachedResultName":"Productos Maestro","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tblwe0HS2QfnfvfRh"},"columns":{"mappingMode":"defineBelow","value":{"Precio Venta":0,"Costo":0,"Nombre Titulo":"={{ $('Merge').item.json.titulo }}","ISBN":"={{ $('Merge').item.json.isbn_ean }}","EAN":"={{ $('Merge').item.json.isbn_ean }}","Autor Marca":"={{ $('Merge').item.json.autor }}","Tipo de Producto":"={{ $('Merge').item.json.tipo_producto }}","Descripción":"={{ $('Merge').item.json.descripcion }}","Foto Portada":"={{ $('Merge').item.json.foto_url }}","Ultima Modificación":"={{ $now }}"},"matchingColumns":[],"schema":[{"id":"Nombre Titulo","displayName":"Nombre Titulo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"SKU","displayName":"SKU","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"ISBN","displayName":"ISBN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"EAN","displayName":"EAN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Autor Marca","displayName":"Autor Marca","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Tipo de Producto","displayName":"Tipo de Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Libro","value":"Libro"},{"name":"Artículo","value":"Artículo"},{"name":"Comestible","value":"Comestible"}],"readOnly":false,"removed":false},{"id":"Descripción","displayName":"Descripción","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Precio Venta","displayName":"Precio Venta","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Costo","displayName":"Costo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Foto Portada","displayName":"Foto Portada","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Stock Actual","displayName":"Stock Actual","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Ultima Modificación","displayName":"Ultima Modificación","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Movimientos Vinculados","displayName":"Movimientos Vinculados","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Entradas Totales","displayName":"Entradas Totales","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Salidas Totales","displayName":"Salidas Totales","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Ajustes Iniciales","displayName":"Ajustes Iniciales","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Pérdidas Totales","displayName":"Pérdidas Totales","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Stock Actual Calculado","displayName":"Stock Actual Calculado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Margen Bruto (%)","displayName":"Margen Bruto (%)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Resumen Automático de Producto","displayName":"Resumen Automático de Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Clasificación Inteligente de Producto","displayName":"Clasificación Inteligente de Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Indice","displayName":"Indice","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2016,384],"id":"c8ed98b4-3d6d-4fc5-9714-5faeca900db1","name":"Create a record","retryOnFail":true,"credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"chatId":"={{ $json.callback_query.from.id }}{{ $('Telegram Trigger').item.json.message.from.id }}","text":"👋 **Sistema de Inventario KiroxON** |\n\n ¿Qué gestión administrativa deseas realizar?","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"📦 Estado Inventario","additionalFields":{"callback_data":"admin_inventario"}},{"text":" Reporte de ventas","additionalFields":{"callback_data":"admin_ventas"}},{"text":"➖ Registrar nuevo ingreso ","additionalFields":{"callback_data":"nav_instruccion_entrada"}},{"text":"📤 Registrar Salida (Venta)","additionalFields":{"callback_data":"nav_instruccion_venta"}},{"text":"🗑️ Borrar Productos","additionalFields":{"callback_data":"borrar_"}},{"text":"🛠️ Corregir/Ajustar Stock","additionalFields":{"callback_data":"nav_instruccion_ajuste"}},{"text":"🔙 Historial / Corregir Venta","additionalFields":{"callback_data":"nav_historial_ventas"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[896,1968],"id":"36eba161-9a61-473a-b24c-1a84230e7b40","name":"Send a text message3","webhookId":"aff6292a-cbcc-47fd-9e4b-49cf93d4d00e","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=📚 **Producto Encontrado**  \n**Título:** \n{{ $json['Nombre Titulo'] }} \n**Autor:** \n {{ $json['Autor Marca'] }}\n**Precio:** \n${{ $json['Precio Venta'] }}  \n¿Qué movimiento deseas registrar?","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"📦 Registrar Entrada (Varios)","additionalFields":{"callback_data":"=entrada_{{ $json.id }}"}},{"text":"➖ Registrar Salida  (varios)","additionalFields":{"callback_data":"=salida_{{ $json.id }}"}},{"text":"💰 Cambiar Precio","additionalFields":{"callback_data":"=set_valores_{{ $json.id }}"}},{"text":"⚖️ Ajuste / Corrección","additionalFields":{"callback_data":"={{ 'ajuste_' + $json.id }}"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2016,192],"id":"88d286f5-954d-4e92-84cb-1d076a2194a0","name":"Send a text message7","webhookId":"1ac55ba4-185a-492b-a704-4a73007b3c07","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"jsCode":"// --- CORRECCIÓN 1: REFERENCIA SEGURA ---\n// Buscamos directo en el Trigger para evitar el error \"undefined\"\nconst texto = $('Telegram Trigger').first().json.message.text;\n\n// 1. Limpiamos el comando\nconst textoLimpio = texto.replace('/v_', '').trim();\nconst partes = textoLimpio.split(' ');\n\n// 2. Validamos que vengan los 3 datos (ID, Precio, Costo)\nif (partes.length < 3) {\n  throw new Error(\"Faltan datos. Formato: /v_ID PRECIO COSTO\");\n}\n\n// --- CORRECCIÓN 2: LIMPIEZA DE COMA ---\n// Quitamos la coma del ID por si se coló al copiar\nconst id = partes[0].replace(',', '').trim();\n\n// Convertimos a números\nconst precio = parseFloat(partes[1]);\nconst costo = parseFloat(partes[2]);\n\n// 3. Calculamos la Ganancia y el Margen %\nconst ganancia = precio - costo;\n\n// Margen % (Protegemos contra división por cero)\nlet margen = 0;\nif (precio > 0) {\n  margen = ((ganancia / precio) * 100).toFixed(1); \n}\n\n// 4. Salida\nreturn {\n  json: {\n    id_airtable: id,\n    precio_venta: precio,\n    costo: costo,\n    ganancia_neta: ganancia,\n    margen_porcentaje: margen + \"%\"\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2016,576],"id":"1203cb18-d487-475b-9c0e-c932b79dae0a","name":"Code in JavaScript2"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"=✅ *¡Finanzas Actualizadas!*\n\n💰 *Precio Venta:* ${{ $json.fields['Precio Venta'] }}\n📉 *Costo:* ${{ $json.fields.Costo }}\n\n📊 *Análisis Rápido:*\n• Ganancia: ${{ $('Code in JavaScript2').item.json.ganancia_neta }}\n• Margen: {{ $('Code in JavaScript2').item.json.margen_porcentaje }}\n\n_¡Listo para vender!_","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🔙 Volver al Menu","additionalFields":{"callback_data":"inicio"}},{"text":"📦 Editar/Sumar Stock","additionalFields":{"callback_data":"=entrada_{{ $json.id }}"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2464,576],"id":"98b34b00-7f8a-4014-86a1-8696017140bd","name":"Send a text message4","webhookId":"7cc851a7-3ca2-4c2e-8346-90f10c510a00","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list","cachedResultName":"Inventario Híbrido Librería","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA"},"table":{"__rl":true,"value":"tblwe0HS2QfnfvfRh","mode":"list","cachedResultName":"Productos Maestro","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tblwe0HS2QfnfvfRh"},"columns":{"mappingMode":"defineBelow","value":{"Precio Venta":"={{ $json.precio_venta }}","Costo":"={{ $json.costo }}","id":"={{ $json.id_airtable }}","Ultima Modificación":"2026-01-21T09:51:03"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Nombre Titulo","displayName":"Nombre Titulo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SKU","displayName":"SKU","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"ISBN","displayName":"ISBN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EAN","displayName":"EAN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Autor Marca","displayName":"Autor Marca","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Tipo de Producto","displayName":"Tipo de Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Libro","value":"Libro"},{"name":"Artículo","value":"Artículo"},{"name":"Comestible","value":"Comestible"}],"readOnly":false,"removed":true},{"id":"Descripción","displayName":"Descripción","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Precio Venta","displayName":"Precio Venta","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Costo","displayName":"Costo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Foto Portada","displayName":"Foto Portada","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Stock Actual","displayName":"Stock Actual","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Ultima Modificación","displayName":"Ultima Modificación","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Movimientos Vinculados","displayName":"Movimientos Vinculados","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Entradas Totales","displayName":"Entradas Totales","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Salidas Totales","displayName":"Salidas Totales","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Ajustes Iniciales","displayName":"Ajustes Iniciales","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Pérdidas Totales","displayName":"Pérdidas Totales","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Stock Actual Calculado","displayName":"Stock Actual Calculado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Margen Bruto (%)","displayName":"Margen Bruto (%)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Resumen Automático de Producto","displayName":"Resumen Automático de Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Clasificación Inteligente de Producto","displayName":"Clasificación Inteligente de Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Indice","displayName":"Indice","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2240,576],"id":"0e8b8f91-14d3-4e18-976a-5f4df0921a88","name":"Update record","retryOnFail":true,"credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"jsCode":"// --- CORRECCIÓN ---\n// En lugar de confiar en $json (que puede fallar), buscamos directo en el Trigger.\nconst texto = $('Telegram Trigger').first().json.message.text;\n\n// 1. Limpiamos el comando inicial\nconst limpio = texto.replace('/in_', '').trim();\nconst partes = limpio.split(' ');\n\n// 2. Validamos\nif (partes.length < 2) {\n  throw new Error(\"Faltó la cantidad. Formato: /in_ID CANTIDAD\");\n}\n\n// --- AQUÍ ESTÁ EL ARREGLO ---\n// Agregamos .replace(',', '') para quitar cualquier coma que se haya colado al final del ID\nconst idProducto = partes[0].replace(',', '').trim(); \n\nconst cantidad = parseInt(partes[1]);\n\nreturn {\n  json: {\n    id_producto: idProducto,\n    cantidad_entrar: cantidad,\n    nota: `Ingreso manual de ${cantidad} uds.`\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,1776],"id":"17fc06c1-cc08-4341-a1f7-3264b0cbdcc0","name":"Code in JavaScript5"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list","cachedResultName":"Inventario Híbrido Librería","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA"},"table":{"__rl":true,"value":"tbllmq4v91zGVMUQd","mode":"list","cachedResultName":"Movimientos de Inventario","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tbllmq4v91zGVMUQd"},"columns":{"mappingMode":"defineBelow","value":{"Tipo Movimiento":"Entrada Compra","Cantidad":"={{ $json.cantidad_entrar }}","Notas":"={{ $json.nota }}","Producto Relacionado":"={{ [ $json.id_producto ] }}","Fecha":"2026-01-22T10:31:24"},"matchingColumns":[],"schema":[{"id":"ID Movimiento","displayName":"ID Movimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Producto Relacionado","displayName":"Producto Relacionado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Tipo Movimiento","displayName":"Tipo Movimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Entrada Compra","value":"Entrada Compra"},{"name":"Salida Venta","value":"Salida Venta"},{"name":"Ajuste Inicial","value":"Ajuste Inicial"},{"name":"Pérdida","value":"Pérdida"}],"readOnly":false,"removed":false},{"id":"Cantidad","displayName":"Cantidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Notas","displayName":"Notas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Entradas (+)","displayName":"Entradas (+)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Salidas (-)","displayName":"Salidas (-)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre Producto","displayName":"Nombre Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"SKU Producto","displayName":"SKU Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Resumen Movimiento (AI)","displayName":"Resumen Movimiento (AI)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Clasificación Movimiento (AI)","displayName":"Clasificación Movimiento (AI)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Cantidad Real","displayName":"Cantidad Real","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Precio Venta","displayName":"Precio Venta","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1120,1776],"id":"caec4c60-0aff-4e36-b6c7-e233daaeff13","name":"Create a record3","retryOnFail":true,"credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"jsCode":"// --- VERSIÓN CORREGIDA: SIEMPRE POSITIVO ---\n// 1. Usamos referencia directa al Trigger para evitar errores\nconst texto = $('Telegram Trigger').first().json.message.text;\n\n// 2. Limpiamos el comando '/out_'\nconst limpio = texto.replace('/out_', '').trim();\nconst partes = limpio.split(' ');\n\n// 3. Validación de seguridad\nif (partes.length < 2) {\n  throw new Error(\"Faltó la cantidad. Formato correcto: /out_ID CANTIDAD\");\n}\n\n// 4. Limpieza del ID (quitamos comas)\nconst idProducto = partes[0].replace(',', '').trim();\n\n// 5. Convertimos a número y FORZAMOS VALOR ABSOLUTO\n// Math.abs() convierte -3 en 3, y deja el 3 como 3.\nconst cantidadInput = parseInt(partes[1]);\nconst cantidadFinal = Math.abs(cantidadInput);\n\n// 6. Preparamos los datos para Airtable\nreturn {\n  json: {\n    id_producto: idProducto,\n    cantidad_salir: cantidadFinal, // Enviamos siempre positivo\n    // En la nota guardamos el dato real por si quieres auditoría\n    nota: `Salida/Venta manual de ${cantidadFinal} uds. (Input: ${cantidadInput})`\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2016,1248],"id":"7a3f8c30-eb82-4c1b-90ad-4150301633c1","name":"Code in JavaScript6"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list","cachedResultName":"Inventario Híbrido Librería","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA"},"table":{"__rl":true,"value":"tbllmq4v91zGVMUQd","mode":"list","cachedResultName":"Movimientos de Inventario","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tbllmq4v91zGVMUQd"},"columns":{"mappingMode":"defineBelow","value":{"Tipo Movimiento":"Salida Venta","Cantidad":"={{ $json.cantidad_salir }}","Notas":"={{ $json.nota }}","Producto Relacionado":"={{ [ $json.id_producto ] }}","Fecha":"2026-01-22T10:31:13"},"matchingColumns":[],"schema":[{"id":"ID Movimiento","displayName":"ID Movimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Producto Relacionado","displayName":"Producto Relacionado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Tipo Movimiento","displayName":"Tipo Movimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Entrada Compra","value":"Entrada Compra"},{"name":"Salida Venta","value":"Salida Venta"},{"name":"Ajuste Inicial","value":"Ajuste Inicial"},{"name":"Pérdida","value":"Pérdida"}],"readOnly":false,"removed":false},{"id":"Cantidad","displayName":"Cantidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Notas","displayName":"Notas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Entradas (+)","displayName":"Entradas (+)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Salidas (-)","displayName":"Salidas (-)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre Producto","displayName":"Nombre Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"SKU Producto","displayName":"SKU Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Resumen Movimiento (AI)","displayName":"Resumen Movimiento (AI)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Clasificación Movimiento (AI)","displayName":"Clasificación Movimiento (AI)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Cantidad Real","displayName":"Cantidad Real","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Precio Venta","displayName":"Precio Venta","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2240,1248],"id":"849941a2-a678-4f9e-a188-a99f590e5368","name":"Create a record4","retryOnFail":true,"credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=\"📉 Nuevo Inventario añadido con exito. \n*Articulo Añadido:* \n{{ $json[\"Nombre Titulo\"] }}\n*Notas:* \n{{ $('Code in JavaScript5').item.json.nota }}\n\n Inventario actualizado","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🔙 Volver al Menu","additionalFields":{"callback_data":"inicio"}},{"text":"💰 Cambiar Precio","additionalFields":{"callback_data":"=set_valores_{{ $json.id }}"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1568,1776],"id":"e79e2e5a-b7f3-44d3-b55e-61b53e2fdc38","name":"Send a text message15","webhookId":"ade28dca-6766-4eef-b09c-1ee107a267fc","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"numberInputs":6},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2688,432],"id":"6b1f88ee-4b53-448b-bd81-12700c4241f0","name":"Merge2"},{"parameters":{"resource":"callback","queryId":"=","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2912,496],"id":"8ff966a7-f885-4e6b-995c-7cfbedee892d","name":"Answer Query a callback1","webhookId":"96e07505-d490-4c4d-8d3e-8b92d6124ae8","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list","cachedResultName":"Inventario Híbrido Librería","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA"},"table":{"__rl":true,"value":"tbllmq4v91zGVMUQd","mode":"list","cachedResultName":"Movimientos de Inventario","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tbllmq4v91zGVMUQd"},"columns":{"mappingMode":"defineBelow","value":{"Tipo Movimiento":"Ajuste Inicial","Cantidad":1,"Producto Relacionado":"={{ [ $json.id ] }}","Fecha":"2026-01-22T11:27:11","Notas":"Carga automática inicial (1 ud)"},"matchingColumns":[],"schema":[{"id":"ID Movimiento","displayName":"ID Movimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Producto Relacionado","displayName":"Producto Relacionado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Tipo Movimiento","displayName":"Tipo Movimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Entrada Compra","value":"Entrada Compra"},{"name":"Salida Venta","value":"Salida Venta"},{"name":"Ajuste Inicial","value":"Ajuste Inicial"},{"name":"Pérdida","value":"Pérdida"}],"readOnly":false,"removed":false},{"id":"Cantidad","displayName":"Cantidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Notas","displayName":"Notas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Entradas (+)","displayName":"Entradas (+)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Salidas (-)","displayName":"Salidas (-)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre Producto","displayName":"Nombre Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"SKU Producto","displayName":"SKU Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Resumen Movimiento (AI)","displayName":"Resumen Movimiento (AI)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Clasificación Movimiento (AI)","displayName":"Clasificación Movimiento (AI)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Cantidad Real","displayName":"Cantidad Real","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Precio Venta","displayName":"Precio Venta","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2240,384],"id":"69ed1a59-3d15-4dd8-bb9f-f48eb12dc340","name":"Create a record1","retryOnFail":true,"credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=\"📉 Venta registrada. ¡Buen trabajo!\".\n*Articulo vendido:* \n{{ $json.fields['Nombre Producto'][0] }}\n*Notas:* \n{{ $json.fields.Notas }}\n\n Inventario actualizado","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🔙 Volver al Menu","additionalFields":{"callback_data":"inicio"}},{"text":"💰 Cambiar Precio","additionalFields":{"callback_data":"=set_valores_{{ $json.fields['Producto Relacionado'][0] }}"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2464,1248],"id":"b8fd3c16-a583-420d-8f07-42b2cf228286","name":"Venta registrada","webhookId":"ade28dca-6766-4eef-b09c-1ee107a267fc","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.callback_query.from.id }}","text":"📥 Modo Entrada de Inventario  \nPara sumar unidades al stock, primero necesitamos identificar el producto.  \n\n👉 Por favor, envía la FOTO de la portada o escribe el NOMBRE/ISBN del libro ahora.\n\nEl sistema te mostrará el producto y te dará el botón de ingreso.","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[896,720],"id":"35514190-33e0-4bc5-8dec-011b3ffdf219","name":"Send a text message1","webhookId":"54c3915d-63eb-4500-9ec3-584f269197b5","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.callback_query.from.id }}","text":"📤 Modo Registro de Venta\n\n¡Vamos a vender! Para descontar del inventario:\n\n👉 Escanea el producto (envía foto) o escribe su nombre aquí.\n\nUna vez lo encontremos, podrás seleccionar \"➖ Salida Venta\".","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[896,912],"id":"112b1601-6c4b-4177-912d-17ba72b408d5","name":"Send a text message8","webhookId":"54c3915d-63eb-4500-9ec3-584f269197b5","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list","cachedResultName":"Inventario Híbrido Librería","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA"},"table":{"__rl":true,"value":"tblZoQXwgSqrxLN4r","mode":"list","cachedResultName":"Table 3","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tblZoQXwgSqrxLN4r"},"filterByFormula":"={Telegram ID} = '{{ $json.message ? $json.message.from.id : $json.callback_query.from.id }}'","returnAll":false,"limit":1,"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[224,1808],"id":"09cc85a2-8aa3-4b42-afa2-f94ebc9929de","name":"Search records3","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"04f0dd43-3738-4e3c-a7f3-84f001b961a8","leftValue":"={{ $json.Rol }}","rightValue":"Admin","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[448,1808],"id":"64081be8-064d-42a6-97b4-6e49a505ea1c","name":"If2"},{"parameters":{"workflowId":{"__rl":true,"value":"KybXCTi3UjgNGqaD","mode":"list","cachedResultUrl":"/workflow/KybXCTi3UjgNGqaD","cachedResultName":"Sub-workflow: Vendedor"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[896,2352],"id":"a535739a-9bbc-4a42-97cb-fb9bfc9bfcfa","name":"Call 'Sub-workflow: Vendedor'","retryOnFail":true},{"parameters":{"jsCode":"// 1. Recuperamos TODO lo que llegó del Trigger original de Telegram\n// (Usamos .first() para asegurar que tomamos el mensaje original)\nconst telegramData = $('Telegram Trigger').first().json;\n\n// 2. Recuperamos los datos del usuario que encontró Airtable\n// (Como venimos del nodo IF, $input.item contiene el registro de Airtable)\nconst usuarioAirtable = $input.item.json;\n\n// 3. Construimos el paquete final para el Sub-workflow\nreturn {\n  json: {\n    // --- PARTE VITAL ---\n    // Pasamos las propiedades originales de Telegram (message, update_id, callback_query)\n    // para que el Sub-workflow crea que le está hablando Telegram directamente.\n    ...telegramData, \n    \n    // --- DATOS EXTRA ---\n    // Agregamos la info del empleado por si la necesitas allá (ej: para poner su nombre en el reporte)\n    vendedor_info: {\n      nombre: usuarioAirtable.fields?.Nombre || \"Vendedor\",\n      id_airtable: usuarioAirtable.id,\n      rol: usuarioAirtable.fields?.Rol\n    }\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,2352],"id":"c0d8c1db-602f-40f2-a554-c9f60ae65f2c","name":"Code in JavaScript7"},{"parameters":{"base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list","cachedResultName":"Inventario Híbrido Librería","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA"},"table":{"__rl":true,"value":"tblwe0HS2QfnfvfRh","mode":"list","cachedResultName":"Productos Maestro","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tblwe0HS2QfnfvfRh"},"id":"={{ $('Code in JavaScript5').item.json.id_producto }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1344,1776],"id":"0cd39f51-6861-416f-9ac9-867869b3677c","name":"Get a record","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"jsCode":"// --- PROCESAR AJUSTE (/fix_) CORREGIDO ---\nconst texto = $('Telegram Trigger').first().json.message.text;\n\n// 1. Limpieza\nconst limpio = texto.replace('/fix_', '').trim();\nconst partes = limpio.split(' ');\n\nif (partes.length < 2) {\n  throw new Error(\"Faltó la cantidad. Ejemplo: /fix_ID -3\");\n}\n\nconst idProducto = partes[0].replace(',', '').trim();\nlet cantidadInput = parseInt(partes[1]); \n\n// 2. Lógica de Signos\nlet tipoMov = \"Ajuste Inicial\";\nlet nota = \"Ajuste de Inventario\";\nlet cantidadFinal = cantidadInput;\n\nif (cantidadInput < 0) {\n    // CASO RESTA (Pérdida/Corrección)\n    tipoMov = \"Pérdida\"; \n    nota = \"Salida por corrección/merma\";\n    \n    // IMPORTANTE: Convertimos a POSITIVO para que la fórmula de Airtable reste bien\n    // La fórmula es: Stock - Pérdidas. Si mandamos 3, hace Stock - 3. (Correcto)\n    cantidadFinal = Math.abs(cantidadInput); \n    \n} else {\n    // CASO SUMA (Hallazgo)\n    tipoMov = \"Ajuste Inicial\";\n    nota = \"Entrada por corrección/hallazgo\";\n    // Aquí la cantidad se queda positiva\n}\n\nreturn {\n  json: {\n    id_producto: idProducto,\n    cantidad: cantidadFinal, // Enviamos siempre positivo\n    nota: `${nota} (Original: ${cantidadInput})`,\n    tipo_movimiento: tipoMov\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,1104],"id":"d2e39b29-fc30-4801-a3c3-83fe0f603cd7","name":"Code in JavaScript8"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list","cachedResultName":"Inventario Híbrido Librería","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA"},"table":{"__rl":true,"value":"tbllmq4v91zGVMUQd","mode":"list","cachedResultName":"Movimientos de Inventario","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tbllmq4v91zGVMUQd"},"columns":{"mappingMode":"defineBelow","value":{"Tipo Movimiento":"={{ $json.tipo_movimiento }}","Cantidad":"={{ $json.cantidad }}","Notas":"={{ $json.nota }}","Producto Relacionado":"={{ [ $json.id_producto ] }}"},"matchingColumns":[],"schema":[{"id":"ID Movimiento","displayName":"ID Movimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Producto Relacionado","displayName":"Producto Relacionado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Tipo Movimiento","displayName":"Tipo Movimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Entrada Compra","value":"Entrada Compra"},{"name":"Salida Venta","value":"Salida Venta"},{"name":"Ajuste Inicial","value":"Ajuste Inicial"},{"name":"Pérdida","value":"Pérdida"}],"readOnly":false,"removed":false},{"id":"Cantidad","displayName":"Cantidad","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Notas","displayName":"Notas","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Entradas (+)","displayName":"Entradas (+)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Salidas (-)","displayName":"Salidas (-)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Nombre Producto","displayName":"Nombre Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"SKU Producto","displayName":"SKU Producto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Resumen Movimiento (AI)","displayName":"Resumen Movimiento (AI)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Clasificación Movimiento (AI)","displayName":"Clasificación Movimiento (AI)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Cantidad Real","displayName":"Cantidad Real","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Precio Venta","displayName":"Precio Venta","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1120,1104],"id":"6bb00c46-ec26-428d-8eda-910f3d3cdc66","name":"Create a record2","retryOnFail":true,"credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"=✅ Inventario Corregido Se aplicó el ajuste de \n Unidades","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1344,1104],"id":"a04e30ba-9c0f-4413-a177-4434894df16a","name":"Send a text message16","webhookId":"9a599dd1-ef9a-42d9-9aeb-3c04ec5653ee","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"operation":"deleteRecord","base":{"__rl":true,"value":"appRjgR0VsUDWEMPA","mode":"list","cachedResultName":"Inventario Híbrido Librería","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA"},"table":{"__rl":true,"value":"tbllmq4v91zGVMUQd","mode":"list","cachedResultName":"Movimientos de Inventario","cachedResultUrl":"https://airtable.com/appRjgR0VsUDWEMPA/tbllmq4v91zGVMUQd"},"id":"={{ $json.id_para_borrar }}"},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1120,1392],"id":"4aa416d7-24bc-4f7b-af1f-9cdefca5a4a5","name":"Delete a record1","retryOnFail":true,"credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"✅ Corrección Realizada La venta ha sido eliminada del sistema y el stock ha sido devuelto automáticamente","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1344,1392],"id":"883cd34b-0549-4022-aa12-2d68f530df05","name":"Send a text message21","webhookId":"36c1652a-eb35-4464-b8fa-7a17fffea675","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"jsCode":"// 1. Obtenemos el mensaje de texto original\nconst texto = $('Telegram Trigger').first().json.message.text;\n\n// 2. LIMPIEZA AGRESIVA\n// Reemplazamos el comando '/delmov_' por nada.\n// También agregamos un replace extra por si falta el guion bajo ('/delmov') para evitar el error que te salió.\nconst idLimpio = texto.replace('/delmov_', '').replace('/delmov', '').trim();\n\n// 3. Devolvemos el ID puro\nreturn {\n  json: {\n    id_para_borrar: idLimpio\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,1392],"id":"a4013e19-1b8e-4d42-9909-fc7807ae38d2","name":"Code in JavaScript10"},{"parameters":{"workflowId":{"__rl":true,"value":"f7kZd8D8CSuYFau7","mode":"list","cachedResultUrl":"/workflow/f7kZd8D8CSuYFau7","cachedResultName":"Acciones y herramientas"},"workflowInputs":{"mappingMode":"defineBelow","value":{"callback_query_data":"={{ $('Telegram Trigger').item.json.callback_query.data }}","callback_query_data_replace_firstItem":"={{ $('Telegram Trigger').item.json.callback_query.data.replace('borrar_', '').trim() }}","callback_query_from_id":"={{ $('Telegram Trigger').item.json.callback_query.from.id }}","callback_query_data_replace":"={{ $('Telegram Trigger').item.json.callback_query.data.replace('borrar_', '').trim() }}","callback_query_from_id_firstItem":"={{ $('Telegram Trigger').first().json.callback_query.from.id }}","callback_query_id_firstItem":"={{ $('Telegram Trigger').first().json.callback_query.id }}","message_from_id":"={{ $('Telegram Trigger').item.json.message.from.id }}{{ $('Telegram Trigger').item.json.callback_query.from.id }}"},"matchingColumns":["callback_query_data","callback_query_data_replace_firstItem","callback_query_from_id","callback_query_data_replace","callback_query_from_id_firstItem","callback_query_id_firstItem","message_from_id"],"schema":[{"id":"callback_query_data","displayName":"callback_query_data","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"callback_query_data_replace_firstItem","displayName":"callback_query_data_replace_firstItem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"callback_query_from_id","displayName":"callback_query_from_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"callback_query_data_replace","displayName":"callback_query_data_replace","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"callback_query_from_id_firstItem","displayName":"callback_query_from_id_firstItem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"callback_query_id_firstItem","displayName":"callback_query_id_firstItem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"message_from_id","displayName":"message_from_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[896,2160],"name":"Call Acciones y herramientas","id":"f6b3ebe3-da87-47b0-a0dd-194481eadb94","retryOnFail":true},{"parameters":{"workflowId":{"__rl":true,"value":"l8BPYFioe5Wan3OW","mode":"list","cachedResultUrl":"/workflow/l8BPYFioe5Wan3OW","cachedResultName":"Escaner de produtos"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1120,208],"name":"Call Escaner de produtos","id":"72efa0ce-ff5f-4e3d-8fd1-c2b43da253d7","retryOnFail":true},{"parameters":{"jsCode":"// 1. REFERENCIA ABSOLUTA: Ignoramos el nodo anterior y vamos directo a la fuente\n// Si tu nodo inicial se llama diferente, cambia 'Telegram Trigger' por su nombre real\nconst triggerData = $('Telegram Trigger').first().json;\n\n// 2. Debug en consola (aparecerá en la pestaña Console del navegador si lo abres)\nconsole.log(\"Datos recibidos del trigger:\", triggerData);\n\n// 3. Extracción Directa de la Foto\nlet fileId = null;\n\n// Verificamos si existe message y photo dentro de la data del trigger\nif (triggerData.message && triggerData.message.photo) {\n  // Tomamos la última foto del array (la de mayor calidad)\n  const todasLasFotos = triggerData.message.photo;\n  const mejorFoto = todasLasFotos[todasLasFotos.length - 1];\n  fileId = mejorFoto.file_id;\n}\n\n// 4. Retorno Final\nif (fileId) {\n  return {\n    json: {\n      exito: true,\n      file_id: fileId,\n      usuario: triggerData.message.from.first_name,\n      mensaje_original: \"Foto encontrada\"\n    }\n  };\n} else {\n  return {\n    json: {\n      exito: false,\n      error: \"No se encontró foto en el nodo Telegram Trigger\",\n      data_revisada: triggerData // Esto nos mostrará qué está viendo realmente\n    }\n  };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,208],"id":"08088200-e4fc-44f8-a666-6a3220bb1a52","name":"Code in JavaScript"},{"parameters":{"content":"## 🇪🇸 Sistema: HUB Central (Router)\n\n\nPropósito: Recibe mensajes y decide qué sub-flujo activar.\nRutas:\n1. 📸 Foto → Escáner IA.\n2. 📝 Texto → Búsqueda Google Books.\n3. ⚡ Comandos (/in, /out) → Vendedor.\n4. 📊 Admin → Herramientas.\n\n🇺🇸 English:\nSystem: Central HUB (Router)\nPurpose: Receives messages and decides which sub-flow to trigger.\nRoutes:\n1. 📸 Photo → AI Scanner.\n2. 📝 Text → Google Books Search.\n3. ⚡ Commands (/in, /out) → Sales Worker.\n4. 📊 Admin → Admin Tools.","height":544,"width":400},"type":"n8n-nodes-base.stickyNote","position":[-496,1584],"typeVersion":1,"id":"b70e6bbb-1906-4c48-9ba9-b9a4884f6af8","name":"Sticky Note"},{"parameters":{"content":"## 🇪🇸 Lógica de Enrutamiento:\n\nClasifica la intención del usuario:\n* nav_instruccion: Menús de navegación.\n* /in_ /out_: Comandos rápidos.\n* Photo: Gatillo visual.\n* Text: Búsqueda por palabra clave.\n\n🇺🇸 English:\nRouting Logic:\nClassifies user intent:\n* nav_instruccion: Menu navigation.\n* /in_ /out_: Quick commands.\n* Photo: Visual trigger.\n* Text: Keyword search.","height":416,"width":352,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[256,1088],"id":"ea1e5c47-5389-4859-bbf5-0c217a6d36bc","name":"Sticky Note1"},{"parameters":{"content":"## 🛡️ Sistema de Blindaje (Error Handling):\nValidado mediante pruebas de estrés. Los nodos críticos incluyen:\n1. Retry on Fail: Reintentos automáticos ante caídas de API.\n2. Sanitización: Limpieza de inputs en JS para evitar crashes.\n3. Fallback: Rutas alternas si falla la IA principal.\n🇺🇸 English:\n🛡️ System Shielding (Error Handling):\nValidated via stress testing. Critical nodes include:\n1. Retry on Fail: Auto-retries during API outages.\n2. Sanitization: JS input cleaning to prevent crashes.\n3. Fallback: Alternate routes if primary AI fails.","height":336,"width":464,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1952,848],"id":"20d3d7a3-8ade-406c-9a9b-40573d27ea62","name":"Sticky Note2"},{"parameters":{"content":"## 🇪🇸 Calculadora Financiera:\n\nCalcula automáticamente:\n* Ganancia Neta: (Precio - Costo)\n* Margen %: Rentabilidad del producto.\n\n🇺🇸 English:\nFinancial Calculator:\nAutomatically calculates:\n* Net Profit: (Price - Cost)\n* Margin %: Product profitability.","height":304,"width":336,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1600,416],"id":"6a06e3cf-11d9-4c19-85d9-1edb68ad9fdc","name":"Sticky Note3"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Search records3","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Send a text message1","type":"main","index":0}],[{"node":"Send a text message8","type":"main","index":0}],[{"node":"Send a text message1","type":"main","index":0}],[{"node":"Call Acciones y herramientas","type":"main","index":0}],[{"node":"Send a text message3","type":"main","index":0}],[{"node":"Code in JavaScript","type":"main","index":0}],[{"node":"Code in JavaScript5","type":"main","index":0}],[{"node":"Code in JavaScript2","type":"main","index":0}],[{"node":"Code in JavaScript6","type":"main","index":0}],[{"node":"Code in JavaScript8","type":"main","index":0}],[{"node":"Code in JavaScript10","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Search records","type":"main","index":0}]]},"Search records":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Send a text message7","type":"main","index":0}],[{"node":"Create a record","type":"main","index":0}]]},"Create a record":{"main":[[{"node":"Create a record1","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Update record","type":"main","index":0}]]},"Update record":{"main":[[{"node":"Send a text message4","type":"main","index":0}]]},"Code in JavaScript5":{"main":[[{"node":"Create a record3","type":"main","index":0}]]},"Code in JavaScript6":{"main":[[{"node":"Create a record4","type":"main","index":0}]]},"Create a record4":{"main":[[{"node":"Venta registrada","type":"main","index":0}]]},"Create a record3":{"main":[[{"node":"Get a record","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Answer Query a callback1","type":"main","index":0}]]},"Send a text message":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Send a text message4":{"main":[[{"node":"Merge2","type":"main","index":3}]]},"Create a record1":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Venta registrada":{"main":[[{"node":"Merge2","type":"main","index":2}]]},"Search records3":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"Code in JavaScript7","type":"main","index":0}]]},"Code in JavaScript7":{"main":[[{"node":"Call 'Sub-workflow: Vendedor'","type":"main","index":0}]]},"Get a record":{"main":[[{"node":"Send a text message15","type":"main","index":0}]]},"Code in JavaScript8":{"main":[[{"node":"Create a record2","type":"main","index":0}]]},"Create a record2":{"main":[[{"node":"Send a text message16","type":"main","index":0}]]},"Delete a record1":{"main":[[{"node":"Send a text message21","type":"main","index":0}]]},"Code in JavaScript10":{"main":[[{"node":"Delete a record1","type":"main","index":0}]]},"Call Escaner de produtos":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Call Escaner de produtos","type":"main","index":0}]]}},"authors":"Admin KiroxOn","name":"Version dc7d4ab9","description":"","workflowPublishHistory":[{"createdAt":"2026-02-05T21:23:30.154Z","id":74,"workflowId":"qdQuCCjDkqdjLw5z","versionId":"dc7d4ab9-6962-4dfb-b64f-b8afda749edd","event":"activated","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629"}]}}