workflows_BACKUP/Inventario Hibrido.Kxon altillo--5YjZ3mlM7DIKyBV4.json
{"updatedAt":"2026-02-09T12:20:54.762Z","createdAt":"2026-01-29T17:16:17.130Z","id":"5YjZ3mlM7DIKyBV4","name":"Inventario Hibrido.Kxon altillo","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message","callback_query"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-2560,1952],"id":"8c0719b6-1725-444e-b9d6-f33164ab8fea","name":"Telegram Trigger","webhookId":"5ddc3211-f522-48cf-8016-a037c4d52596","credentials":{"telegramApi":{"id":"nWEbT4EZ2Xeosuah","name":"Inventario Altillo"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"92a8f48c-6947-4b2e-8d23-43cafddf3283","leftValue":"={{ $('Telegram Trigger').item.json.callback_query.data }}","rightValue":"admin_inventario","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"inventario"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"e18f3e0d-2cc7-44ca-90b4-feb63e4ce9b1","leftValue":"={{ $('Telegram Trigger').item.json.callback_query.data }}","rightValue":"nav_instruccion_entrada","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Instrucciones Captura"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"65ad0bcc-3fa6-4f16-9216-27ad2dcc81cb","leftValue":"={{ $('Telegram Trigger').item.json.message.text }}{{ $json.callback_query.data }}","rightValue":"/start","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Comandos (/start)"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"60f7381b-3de9-4f83-8361-7c807daa1688","leftValue":"={{ $('Telegram Trigger').item.json.callback_query.data }}","rightValue":"entrada_","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Acción: Stock y Precio🆕"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"leftValue":"={{ $('Telegram Trigger').item.json.message.photo }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true},"id":"97c5e9d8-9230-45b0-9169-5daef0842ae8"}],"combinator":"and"},"renameOutput":true,"outputKey":"Es foto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"4e4e8735-ea32-4e2e-a19e-580a2a3f91ca","leftValue":"={{ $('Telegram Trigger').item.json.message.text }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Es texto "},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"4e684aba-4fb7-4e11-bc00-4d5d7f2a49ac","leftValue":"={{ $('Telegram Trigger').item.json.callback_query.data }}","rightValue":"modo_buscar","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Instrucción Buscar"}]},"looseTypeValidation":true,"options":{"fallbackOutput":"extra","renameFallbackOutput":"Mensaje Invalido"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-2336,1856],"id":"fbb1369e-9213-4d7d-93c3-04f01b16c1b8","name":"Switch"},{"parameters":{"url":"=https://www.googleapis.com/books/v1/volumes","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $('Code in JavaScript2').item.json.titulo }}"},{"name":"key","value":"AIzaSyBivW9-NbJmIq6mRn3ebQvuBgUiLf8yQ5w"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-432,1952],"id":"f0c960f8-bcd1-4219-a670-7ecdd9b2d37c","name":"HTTP Request","retryOnFail":true,"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"772921d1-4cbd-4fc4-9c82-031f84c95b89","name":"titulo","value":"={{ $json.items[0].volumeInfo.title }}","type":"string"},{"id":"60633fff-8fe8-45ad-adb7-91aceaa502ab","name":"autor","value":"={{ $json.items[0].volumeInfo.authors.join(', ') }}","type":"string"},{"id":"884c7144-04a4-47f8-978c-f4bf9e7bfb6d","name":"isbn_ean","value":"={{ $json.items[0].volumeInfo.industryIdentifiers ? $json.items[0].volumeInfo.industryIdentifiers[0].identifier : $json.items[0].id }}","type":"string"},{"id":"e42cc90b-96c2-4531-84c5-45eddfffabdd","name":"descripcion","value":"={{ $json.items[0].volumeInfo.description }}","type":"string"},{"id":"3064560c-a089-4968-af55-b76efdfc2dde","name":"foto_url","value":"={{ $json.items[0].volumeInfo.imageLinks.thumbnail }}","type":"string"},{"id":"819cb9f8-7136-4457-93df-d23a16ddc290","name":"tipo_producto","value":"Libro","type":"string"},{"id":"1892b5aa-2949-4ba8-9832-185cbe8363a6","name":"origen","value":"Google API","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-208,1952],"id":"46a07b9f-53f8-49aa-885e-574090ec2d2b","name":"Edit Fields"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[224,1600],"id":"93f69de4-d031-4ed7-9185-58140bc09421","name":"Merge"},{"parameters":{"chatId":"={{ $json.callback_query.from.id }}{{ $('Telegram Trigger').item.json.message.from.id }}","text":"👋 Bienvenido al Inventario KiroxON \\n\\n¿Qué deseas hacer hoy?","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"📦 Ver Stock Total","additionalFields":{"callback_data":"admin_inventario"}},{"text":"➖ Registrar nuevo ingreso ","additionalFields":{"callback_data":"nav_instruccion_entrada"}},{"text":"🔍 Buscar Producto","additionalFields":{"callback_data":"modo_buscar"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1856,2816],"id":"a5974e83-ff55-4a70-b1c3-79dbf3421c37","name":"Send a text message3","webhookId":"ef5ba54f-2558-4a94-8a02-70a4b25f5673","credentials":{"telegramApi":{"id":"nWEbT4EZ2Xeosuah","name":"Inventario Altillo"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.callback_query.from.id }}","text":"📥 Modo Entrada de Inventario  \nPara sumar unidades al stock, primero necesitamos identificar el producto.  \n\n👉 Por favor, envía la FOTO de la portada o escribe el NOMBRE/ISBN del libro ahora.\n\nEl sistema te mostrará el producto y te dará el botón de ingreso.","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1840,1568],"id":"dce1c00c-be41-4159-a321-46b35aac6b18","name":"Send a text message1","webhookId":"e9e388fd-b107-4aa5-b01e-15b881b1619b","credentials":{"telegramApi":{"id":"nWEbT4EZ2Xeosuah","name":"Inventario Altillo"}}},{"parameters":{"workflowId":{"__rl":true,"value":"CfXLY0tRytXeFmnx","mode":"list","cachedResultUrl":"/workflow/CfXLY0tRytXeFmnx","cachedResultName":"Escaner de produtos"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[0,1424],"name":"Call Escaner de produtos","id":"07cac96c-38d7-4f40-b7c5-a8ed7b3adb92","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// 1. REFERENCIA ABSOLUTA: Ignoramos el nodo anterior y vamos directo a la fuente\n// Si tu nodo inicial se llama diferente, cambia 'Telegram Trigger' por su nombre real\nconst triggerData = $('Telegram Trigger').first().json;\n\n// 2. Debug en consola (aparecerá en la pestaña Console del navegador si lo abres)\nconsole.log(\"Datos recibidos del trigger:\", triggerData);\n\n// 3. Extracción Directa de la Foto\nlet fileId = null;\n\n// Verificamos si existe message y photo dentro de la data del trigger\nif (triggerData.message && triggerData.message.photo) {\n  // Tomamos la última foto del array (la de mayor calidad)\n  const todasLasFotos = triggerData.message.photo;\n  const mejorFoto = todasLasFotos[todasLasFotos.length - 1];\n  fileId = mejorFoto.file_id;\n}\n\n// 4. Retorno Final\nif (fileId) {\n  return {\n    json: {\n      exito: true,\n      file_id: fileId,\n      usuario: triggerData.message.from.first_name,\n      mensaje_original: \"Foto encontrada\"\n    }\n  };\n} else {\n  return {\n    json: {\n      exito: false,\n      error: \"No se encontró foto en el nodo Telegram Trigger\",\n      data_revisada: triggerData // Esto nos mostrará qué está viendo realmente\n    }\n  };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-224,1424],"id":"869a2b14-7c7a-4c20-9a7f-cf6caa37d75c","name":"Code in JavaScript"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"452340a2-67f5-4a36-b652-d22a41591e26","leftValue":"={{ $json.ISBN_EAN }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[672,1600],"id":"796bf911-b6ad-4f42-9400-1440966c2c51","name":"If"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o","mode":"list","cachedResultName":"Inventario_Maestro_Kirox","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Titulo":"={{ $('Merge').first().json.titulo }}","Ultima_Actualizacion":"={{ $now }}","Stock":"1","ISBN_EAN":"={{ $('Merge').item.json.isbn_ean }}","Autor_Marca":"={{ $('Merge').item.json.autor }}","Tipo de producto":"={{ $('Merge').item.json.tipo_producto }}","Ubicacion":"={{ $('Merge').item.json.origen }}","Descripcion":"={{ $('Merge').item.json.descripcion }}"},"matchingColumns":["ISBN_EAN"],"schema":[{"id":"ISBN_EAN","displayName":"ISBN_EAN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Titulo","displayName":"Titulo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Autor_Marca","displayName":"Autor_Marca","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Descripcion","displayName":"Descripcion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tipo de producto","displayName":"Tipo de producto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Precio","displayName":"Precio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Stock","displayName":"Stock","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Valor total Inventario","displayName":"Valor total Inventario","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ultima_Actualizacion","displayName":"Ultima_Actualizacion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ubicacion","displayName":"Ubicacion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Foto_URL.","displayName":"Foto_URL.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[896,1696],"id":"cee13e92-4659-4f9e-9723-a1d5ac06bc4f","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"CeDqHOIvpoFnRpuy","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o","mode":"list","cachedResultName":"Inventario_Maestro_Kirox","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"ISBN_EAN","lookupValue":"={{ $json.isbn_ean }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[448,1600],"id":"fe8a4519-90d4-460e-8eaa-5066fc560d03","name":"Validacion de invetario","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"CeDqHOIvpoFnRpuy","name":"Google Sheets account"}}},{"parameters":{"chatId":"=659132607","text":"=📚 **Producto Encontrado**  \n**Título:** \n{{ $json.Titulo }}\n**Autor:** \n{{ $json.Autor_Marca }}\n**Precio:** \n${{ $json.Precio }}\nStock Actual\n{{ $json.Stock }}\n¿Qué movimiento deseas registrar?","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Cambiar Precio y  Sumar Stock","additionalFields":{"callback_data":"=entrada_{{ $json.row_number }}"}},{"text":"Volver al menu","additionalFields":{"callback_data":"/start"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[896,1504],"id":"d887a4ac-9762-4989-8ae7-5172966a273f","name":"Send a text message7","webhookId":"1ac55ba4-185a-492b-a704-4a73007b3c07","credentials":{"telegramApi":{"id":"nWEbT4EZ2Xeosuah","name":"Inventario Altillo"}}},{"parameters":{"documentId":{"__rl":true,"value":"1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o","mode":"list","cachedResultName":"Inventario_Maestro_Kirox","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1856,2672],"id":"0590d81d-7912-43c4-8c9a-00e483ce1b02","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"CeDqHOIvpoFnRpuy","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// 1. Obtenemos todas las filas\nlet filas = $input.all();\n\n// 2. Invertimos el orden (el último pasa a ser el primero) y tomamos solo 5\nlet ultimos = filas.reverse().slice(0, 5);\n\nlet mensaje = \"📊 *Últimos 5 Libros Registrados:*\\n\\n\";\n\nif (ultimos.length === 0) {\n  mensaje += \"📭 El inventario está vacío.\";\n} else {\n  for (const item of ultimos) {\n    const dato = item.json;\n    \n    // Validamos que existan los campos (si no, pone \"N/A\")\n    // Asegúrate de que los nombres coincidan con las cabeceras de tu Excel\n    const titulo = dato.Titulo || \"Sin Título\";\n    const stock = dato.Stock || \"0\";\n    // Si tienes columna Precio, úsala, si no, bórralo\n    const precio = dato.Precio || \"0\"; \n    \n    mensaje += `📘 *${titulo}*\\n`;\n    mensaje += `   📦 Stock: ${stock} | 💰 $${precio}\\n`;\n    mensaje += `----------------\\n`;\n  }\n}\n\nreturn { json: { texto_reporte: mensaje } };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1568,2672],"id":"9f7aab3f-48f5-4a30-8c61-b661a1260852","name":"Code in JavaScript1"},{"parameters":{"chatId":"={{ $('Telegram Trigger').first().json.callback_query.from.id || $('Telegram Trigger').first().json.message.chat.id }}","text":"={{ $json.texto_reporte }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Volver al menu de Inicio","additionalFields":{"callback_data":"/start"}}]}}]},"additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1328,2672],"id":"6bf2e8e4-4be3-4923-8022-cda67211061f","name":"Send a text message4","webhookId":"ef5ba54f-2558-4a94-8a02-70a4b25f5673","credentials":{"telegramApi":{"id":"nWEbT4EZ2Xeosuah","name":"Inventario Altillo"}}},{"parameters":{"documentId":{"__rl":true,"value":"1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o","mode":"list","cachedResultName":"Inventario_Maestro_Kirox","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o/edit#gid=0"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRange","firstDataRow":"={{ $('Telegram Trigger').first().json.callback_query.data.replace('entrada_', '') }}"}},"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1840,1760],"id":"1ad4cc04-c413-4edc-9f6e-4fd7fffc36c1","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"CeDqHOIvpoFnRpuy","name":"Google Sheets account"}}},{"parameters":{"operation":"sendAndWait","chatId":"={{ $('Telegram Trigger').first().json.callback_query.from.id }}","message":"=📦 *Sumar Stock Y Ajuste de Invetario*\nLibro: \n{{ $json.Titulo }}\nStock Actual: \n{{ $json.Stock }}\n\n👇 Escribe el número de unidades a ingresar:","responseType":"customForm","formFields":{"values":[{"fieldLabel":"Stock Inicial","fieldType":"number","defaultValue":"0"},{"fieldLabel":"Precio del Producto","fieldType":"number","defaultValue":"0"}]},"options":{"responseFormCustomCss":"/* Importamos la fuente Inter para un look más técnico y limpio */\n@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');\n\n:root {\n    /* --- Tipografía --- */\n    --font-family: 'Inter', system-ui, -apple-system, sans-serif;\n    --font-weight-normal: 400;\n    --font-weight-medium: 500; /* Nuevo: para etiquetas y botones */\n    --font-weight-bold: 600;\n\n    /* Tamaños ajustados para mejor legibilidad */\n    --font-size-body: 14px;      /* Subido de 12px a 14px */\n    --font-size-label: 14px;\n    --font-size-input: 15px;     /* Evita zoom en iOS */\n    --font-size-header: 24px;    /* Más presencia */\n    --font-size-subheader: 15px;\n    --font-size-paragraph: 14px;\n    --font-size-link: 13px;\n    --font-size-error: 13px;\n\n    /* --- Colores (Paleta Slate & Indigo) --- */\n    --color-background: #F3F4F6; /* Gris muy suave, menos clínico */\n    \n    /* Card */\n    --color-card-bg: #FFFFFF;\n    --color-card-border: #FFFFFF; /* Eliminamos borde visible, usamos sombra */\n    --color-card-shadow: rgba(0, 0, 0, 0.08); /* Sombra difusa y elegante */\n    \n    /* Textos */\n    --color-header: #111827;         /* Casi negro, alto contraste */\n    --color-header-subtext: #6B7280; /* Gris medio */\n    --color-label: #374151;          /* Gris oscuro */\n    --color-input-text: #1F2937;\n    --color-link: #6366F1;           /* Indigo */\n\n    /* Inputs */\n    --color-input-border: #E5E7EB;   /* Borde sutil */\n    --color-input-bg: #F9FAFB;       /* Fondo muy sutil para inputs */\n    --color-focus-border: #6366F1;   /* Indigo vibrante */\n    --color-focus-shadow: rgba(99, 102, 241, 0.2); /* Nuevo: anillo de enfoque */\n\n    /* Botón Principal */\n    --color-submit-btn-bg: #4F46E5;  /* Indigo fuerte y confiable */\n    --color-submit-btn-hover: #4338CA; /* Nuevo: estado hover */\n    --color-submit-btn-text: #FFFFFF;\n    \n    /* Estados */\n    --color-error: #EF4444;\n    --color-required: #EF4444;\n    --color-test-notice-bg: #FFF7ED;\n    --color-test-notice-text: #9A3412;\n    --color-test-notice-border: #FFEDD5;\n\n    /* --- Geometría y Espaciado --- */\n    --container-width: 480px; /* Un poco más ancho para respirar */\n    --card-border-radius: 16px; /* Bordes más redondeados (moderno) */\n    --border-radius-input: 8px;\n    --border-radius-card: 16px;\n    --submit-btn-height: 44px; /* Un poco más compacto y elegante */\n    \n    --padding-card: 40px;      /* Más espacio interior = más lujo */\n    --padding-form-input: 12px 16px; \n    \n    /* --- Sombras Avanzadas --- */\n    --box-shadow-card: 0 10px 25px -5px rgba(0, 0, 0, 0.05), 0 8px 10px -6px rgba(0, 0, 0, 0.01);\n    --transition-speed: 0.2s; /* Para animaciones suaves */\n}\n\n/* 👇 CSS SUGERIDO PARA APLICAR LAS VARIABLES \n   (Copia esto también para ver el efecto real)\n*/\n\nbody {\n    background-color: var(--color-background);\n    font-family: var(--font-family);\n    color: var(--color-header);\n    display: flex;\n    justify-content: center;\n    align-items: center;\n    min-height: 100vh;\n    margin: 0;\n}\n\n.card-container {\n    width: 100%;\n    max-width: var(--container-width);\n    background: var(--color-card-bg);\n    border-radius: var(--card-border-radius);\n    padding: var(--padding-card);\n    box-shadow: var(--box-shadow-card);\n}\n\nh1 {\n    font-size: var(--font-size-header);\n    font-weight: var(--font-weight-bold);\n    color: var(--color-header);\n    margin-bottom: 8px;\n    letter-spacing: -0.025em; /* Tracking ajustado (moderno) */\n}\n\np.subtitle {\n    font-size: var(--font-size-subheader);\n    color: var(--color-header-subtext);\n    margin-bottom: 32px;\n    line-height: 1.5;\n}\n\nlabel {\n    display: block;\n    font-size: var(--font-size-label);\n    font-weight: var(--font-weight-medium);\n    color: var(--color-label);\n    margin-bottom: 6px;\n}\n\ninput[type=\"text\"],\ninput[type=\"email\"],\ninput[type=\"password\"] {\n    width: 100%;\n    padding: var(--padding-form-input);\n    font-size: var(--font-size-input);\n    color: var(--color-input-text);\n    background-color: var(--color-input-bg);\n    border: 1px solid var(--color-input-border);\n    border-radius: var(--border-radius-input);\n    transition: all var(--transition-speed) ease;\n    box-sizing: border-box; /* Importante */\n}\n\ninput:focus {\n    outline: none;\n    border-color: var(--color-focus-border);\n    background-color: #fff;\n    box-shadow: 0 0 0 4px var(--color-focus-shadow);\n}\n\nbutton.submit-btn {\n    width: 100%;\n    height: var(--submit-btn-height);\n    background-color: var(--color-submit-btn-bg);\n    color: var(--color-submit-btn-text);\n    font-weight: var(--font-weight-medium);\n    font-size: 15px;\n    border: none;\n    border-radius: var(--border-radius-input);\n    cursor: pointer;\n    transition: background-color var(--transition-speed);\n    margin-top: 24px;\n}\n\nbutton.submit-btn:hover {\n    background-color: var(--color-submit-btn-hover);\n}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1552,1760],"id":"4914377a-0238-41b4-b95a-becf5bfafb68","name":"Send message and wait for response","webhookId":"777d3613-a041-4012-879c-4e1c682ef6fb","credentials":{"telegramApi":{"id":"nWEbT4EZ2Xeosuah","name":"Inventario Altillo"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o","mode":"list","cachedResultName":"Inventario_Maestro_Kirox","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Telegram Trigger').first().json.callback_query.data.replace('entrada_', '') }}","Stock":"={{ $json.data['Stock Inicial'] != 0 ? $json.data['Stock Inicial'] : $('Get row(s) in sheet1').first().json.Stock }}","Precio":"={{ $json.data['Precio del Producto'] != 0 ? $json.data['Precio del Producto'] : $('Get row(s) in sheet1').first().json.Precio }}"},"matchingColumns":["row_number"],"schema":[{"id":"ISBN","displayName":"ISBN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Titulo","displayName":"Titulo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Autor","displayName":"Autor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Precio","displayName":"Precio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Stock","displayName":"Stock","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ultima_Actualizacion","displayName":"Ultima_Actualizacion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ubicacion","displayName":"Ubicacion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Foto_URL.","displayName":"Foto_URL.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"locationDefine":{"values":{"firstDataRow":"={{ $('Telegram Trigger').first().json.callback_query.data.replace('entrada_', '') }}"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1328,1760],"id":"afa3f559-7784-4eb7-82db-807411071807","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"CeDqHOIvpoFnRpuy","name":"Google Sheets account"}}},{"parameters":{"chatId":"=659132607","text":"=✅ **¡Producto Registrado con Éxito!**\n\nHemos guardado en la base de datos:\n📘 **Título:** \n{{ $json.Titulo }}\n👤 **Autor:** \n{{ $json.Autor_Marca }}\n**Fecha de Ingreso**\n{{ $json.Ultima_Actualizacion }}\n\n🆔 **SKU:** (Se generará automáticamente en breve)\n\n¿Qué quieres hacer ahora?","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"💰 Definir Precio y Stock","additionalFields":{"callback_data":"=entrada_{{ $json.row_number }}"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1344,1696],"id":"b4e0c6ea-3653-45a9-9313-dd4ac814b1bc","name":"Send a text message2","webhookId":"ade28dca-6766-4eef-b09c-1ee107a267fc","credentials":{"telegramApi":{"id":"nWEbT4EZ2Xeosuah","name":"Inventario Altillo"}}},{"parameters":{"documentId":{"__rl":true,"value":"1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o","mode":"list","cachedResultName":"Inventario_Maestro_Kirox","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"ISBN_EAN","lookupValue":"={{ $json.ISBN_EAN }}"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1120,1696],"id":"cfd823f2-07be-4d7f-8a9a-8fa14d613cee","name":"Get row(s) in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"CeDqHOIvpoFnRpuy","name":"Google Sheets account"}}},{"parameters":{"chatId":"=659132607","text":"=✅ **¡Producto Actualizado con Éxito!**\n\nHemos guardado los datos de Stock y precio en el sistema ya puedes empezar a venderlo \n\n\n\n","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Volver al Menu","additionalFields":{"callback_data":"/start"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1104,1760],"id":"bc2b5be2-7b67-4d74-b4ba-f46078120887","name":"Send a text message5","webhookId":"ade28dca-6766-4eef-b09c-1ee107a267fc","credentials":{"telegramApi":{"id":"nWEbT4EZ2Xeosuah","name":"Inventario Altillo"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"responses":{"values":[{"role":"system","content":"Actúa como el asistente de inventario de KiroxON. Tu trabajo es leer el mensaje del usuario y extraer datos estructurados para buscar o registrar un producto.\n\nEL USUARIO ESCRIBIRÁ ALGO COMO:\n- \"Libro El Principito\"\n- \"Alimento Miel de Abeja\"\n- \"Articulo Rosario de madera\"\n- O simplemente el nombre: \"Galletas Oreo\" (Tú debes inferir la categoría).\n\nTU TAREA:\n1. Analiza el texto.\n2. Detecta la INTENCIÓN de categoría (Libro, Alimento, Articulo). Si no es obvio, usa \"Articulo\" por defecto.\n3. Extrae el NOMBRE limpio (sin la palabra clave \"Libro\" o \"Alimento\").\n4. Genera un JSON estricto.\n\nREGLAS DE SALIDA:\n- titulo: El nombre del producto limpio.\n- autor_marca: Si el usuario lo menciona (ej: \"Galletas Oreo\"), pon la marca. Si no, \"Genérico\".\n- tipo_producto: \"Libro\", \"Alimento\" o \"Articulo\".\n- isbn_ean: Como es texto, devuelve siempre \"PENDIENTE\".\n\nFORMATO JSON ESPERADO:\n{\n  \"titulo\": \"String\",\n  \"autor_marca\": \"String\",\n  \"tipo_producto\": \"Libro | Alimento | Articulo\",\n  \"isbn_ean\": \"PENDIENTE\",\n  \"descripcion\": \"Descripción breve inferida (ej: Producto ingresado por texto)\"\n}"},{"content":"={{ $('Telegram Trigger').item.json.message.text }}"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-1904,1952],"id":"5eb7fd11-1998-4491-82ea-069e862e550e","name":"Message a model","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"openAiApi":{"id":"bJgGA8hIumaSAysH","name":"KiroxON|OpenAi account"}}},{"parameters":{"jsCode":"// 1. OBTENER EL ITEM\nconst item = $input.first();\n\n// 2. EXTRACCIÓN EXACTA (Basada en tu último JSON)\n// Navegamos: output -> item 0 -> content -> item 0 -> text\nlet rawText = \"\";\n\ntry {\n    if (item.json.output && item.json.output[0] && item.json.output[0].content) {\n        rawText = item.json.output[0].content[0].text;\n    } else {\n        throw new Error(\"Estructura output[0].content[0].text no encontrada\");\n    }\n} catch (e) {\n    // Si falla, intentamos una ruta alternativa por seguridad\n    if (item.json.text) rawText = item.json.text;\n}\n\n// 3. LIMPIEZA Y PARSEO\nlet datosLimpios = {};\n\ntry {\n    // Limpiamos las etiquetas markdown ```json y ``` por si la IA las puso\n    const textoLimpio = rawText\n        .toString()\n        .replace(/```json/g, '')\n        .replace(/```/g, '')\n        .trim();\n        \n    datosLimpios = JSON.parse(textoLimpio);\n\n} catch (error) {\n    return {\n        json: {\n            error: true,\n            mensaje: \"Error al convertir el texto a JSON\",\n            texto_recibido: rawText\n        }\n    };\n}\n\n// 4. RETORNAR CAMPOS SEPARADOS\nreturn {\n    json: {\n        titulo: datosLimpios.titulo,\n        autor_marca: datosLimpios.autor_marca,\n        tipo_producto: datosLimpios.tipo_producto,\n        isbn_ean: datosLimpios.isbn_ean,\n        descripcion: datosLimpios.descripcion\n    }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1552,1952],"id":"eb6a7df8-bd8b-4937-b1b9-69876231acf8","name":"Code in JavaScript2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"tipo_producto","rightValue":"Libro","operator":{"type":"string","operation":"contains"},"id":"94913754-721b-4c25-acbf-84feda67da8b"}],"combinator":"and"},"renameOutput":true,"outputKey":"Regla 1 (Libros)"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b749225d-7981-40c2-b655-f18294562119","leftValue":"tipo_producto","rightValue":"Libro","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Regla 2 (Otros)"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-656,2048],"id":"481a8826-7165-4ffd-a89d-21528d273e5d","name":"Switch1"},{"parameters":{"assignments":{"assignments":[{"id":"545cfe08-be30-4c6e-b331-503daffaa0f5","name":"titulo","value":"={{ $json.titulo }}","type":"string"},{"id":"316188c3-9278-499a-ae4f-6db58c8c76a5","name":"autor","value":"={{ $json.autor_marca }}","type":"string"},{"id":"19a1cf5d-5e0a-4505-9d15-7abe0ed584c7","name":"isbn_ean","value":"={{ $json.tipo_producto.substring(0,4).toUpperCase() }}-{{ Math.floor(Date.now() / 1000) }}","type":"string"},{"id":"e335c74e-b86c-40ed-8c11-f01cefbe6d33","name":"descripcion","value":"={{ $json.descripcion }}","type":"string"},{"id":"36b6bfef-fd84-4e3a-8ebc-0dc809e4ce20","name":"tipo_producto","value":"={{ $json.tipo_producto }}","type":"string"},{"id":"1a7265ab-7657-4c68-b419-38200e33142a","name":"origen","value":"IA Texto","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-432,2144],"id":"7277f859-514e-48f6-a4a3-4a22bd492c6d","name":"Edit Fields1"},{"parameters":{"chatId":"659132607","text":"🔍 Escribe el NOMBRE o ISBN del producto.","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1856,2512],"id":"2e77b5bf-57c9-455e-8448-d09f62bf68fd","name":"Send a text message6","webhookId":"690b881e-8c27-4862-9e05-963b1543da0b","credentials":{"telegramApi":{"id":"nWEbT4EZ2Xeosuah","name":"Inventario Altillo"}}},{"parameters":{"documentId":{"__rl":true,"value":"1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o","mode":"list","cachedResultName":"Inventario_Maestro_Kirox","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1328,1952],"id":"c16cc4ce-9c3a-4a6b-8ad9-96eae2f82f57","name":"Get row(s) in sheet3","alwaysOutputData":true,"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"CeDqHOIvpoFnRpuy","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// 1. Datos que entendió la IA (del nodo Code anterior)\n// Asegúrate de que 'Code' sea el nombre real de tu nodo limpiador\nconst datosIA = $('Code in JavaScript2').first().json;\nconst tituloIA = (datosIA.titulo || \"\").toString().toLowerCase().trim();\n\n// 2. Tu Inventario (del nodo Google Sheets anterior)\nconst inventario = $input.all();\n\n// 3. BUSCADOR INTELIGENTE (\"Contains\")\n// Buscamos si el título de la IA coincide parcial o totalmente con algo del Excel\nconst productoEncontrado = inventario.find(item => {\n    const dato = item.json;\n    if (!dato.Titulo) return false;\n    \n    const tituloDB = dato.Titulo.toString().toLowerCase().trim();\n    const isbnDB = (dato.ISBN_EAN || \"\").toString().trim();\n    \n    // Coincidencia: Nombre IA dentro de Nombre DB, o al revés, o coincidencia de ISBN\n    return tituloDB.includes(tituloIA) || tituloIA.includes(tituloDB) || (isbnDB && isbnDB === tituloIA);\n});\n\n// 4. RESULTADO\nif (productoEncontrado) {\n    return {\n        json: {\n            encontrado: true,\n            // Pasamos los datos REALES del Excel\n            ...productoEncontrado.json,\n            // Mantenemos info útil\n            mensaje_original: \"Producto encontrado en inventario local\"\n        }\n    };\n} else {\n    // Si no existe, pasamos los datos de la IA para buscarlo fuera (Google Books) o crearlo\n    return {\n        json: {\n            encontrado: false,\n            ...datosIA // Pasamos titulo, tipo_producto, etc. que sacó la IA\n        }\n    };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1104,1952],"id":"52921127-d0fd-4949-8c38-9f73fee65838","name":"Code in JavaScript3"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.encontrado }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"8f92b77c-6f9a-4b19-96a7-cdac5c53f223"}],"combinator":"and"},"renameOutput":true,"outputKey":"Regla 1 (Encontrado)"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7a1bf84a-44f0-4344-8ef4-1966f1996161","leftValue":"={{ $json.encontrado }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Regla 2 (No Encontrado)"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-880,1952],"id":"a3b35456-80f4-4033-8716-efbf169ac76e","name":"Switch2"},{"parameters":{"chatId":"=659132607","text":"=📚 **Producto Encontrado**  \n**Título:** \n{{ $json.Titulo }}\n**Autor:** \n{{ $json.Autor_Marca }}\n**Precio:** \n${{ $json.Precio }}\nStock Actual\n{{ $json.Stock }}\n¿Qué movimiento deseas registrar?","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Cambiar Precio y  Sumar Stock","additionalFields":{"callback_data":"=entrada_{{ $json.row_number }}"}},{"text":"Volver al menu","additionalFields":{"callback_data":"/start"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-656,1760],"id":"af9e5694-9745-46be-88c4-ef8dcc149356","name":"Send a text message9","webhookId":"1ac55ba4-185a-492b-a704-4a73007b3c07","credentials":{"telegramApi":{"id":"nWEbT4EZ2Xeosuah","name":"Inventario Altillo"}}},{"parameters":{"jsCode":"// Recorremos todas las fotos que llegaron (items)\nreturn items.map((item, index) => {\n  // 1. Calculamos el tiempo de espera aleatorio\n  const min = 2;\n  const max = 25;\n  const delay = Math.floor(Math.random() * (max - min + 1)) + min;\n\n  return {\n    // 2. Pasamos el JSON manteniendo los datos originales (file_id, usuario, etc.)\n    json: {\n      ...item.json, \n      segundos_espera: delay\n    },\n    // 3. ¡CRUCIAL! Pasamos el archivo de la foto (Binary)\n    // Sin esto, la foto se pierde aquí y no llega al escáner\n    binary: item.binary, \n    \n    // 4. ¡LA SOLUCIÓN AL ERROR ROJO! \n    // Le decimos a n8n: \"Este item nuevo corresponde al item original #index\"\n    pairedItem: { \n        item: index \n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-816,1408],"id":"302bf221-a1dc-4f6f-98d6-31b46082e7c7","name":"calculadora de espera"},{"parameters":{"amount":"={{ $json.segundos_espera }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-560,1408],"id":"89a8f3e6-5fb3-4b3f-931c-36651ad97fc4","name":"Wait","webhookId":"7758cdb2-de7c-4d34-a299-48c86910c9d2"},{"parameters":{"content":"## 🟡 Zona: Inicio y Enrutamiento (Start & Routing)\n\n🇪🇸 Español: Sistema: Inventario Altillo (Google Sheets) Rol: Router Principal. Entradas:\n\n📸 Foto: Envía a Sub-workflow de Escáner.\n\n📝 Texto: Usa GPT-4o para entender qué producto es.\n\n🖱️ Botones: Gestiona menús y formularios.\n\n🇺🇸 English: System: Altillo Inventory (Google Sheets) Role: Main Router. Inputs:\n\n📸 Photo: Sends to Scanner Sub-workflow.\n\n📝 Text: Uses GPT-4o to parse product intent.\n\n🖱️ Buttons: Manages menus and forms.","height":448,"width":512},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3152,1824],"id":"8be7b053-b450-4591-abfa-50a2de77a140","name":"Sticky Note"},{"parameters":{"content":"##🔵 Zona: Inteligencia Artificial (NLP & Logic)\nUbicación: Sobre Message a model y Code in JavaScript2\n\n🇪🇸 Español: NLP & Búsqueda Inteligente:\n\nGPT-4o: Convierte texto libre (\"Agrega leche\") en JSON estructurado.\n\nBúsqueda Difusa: El script JS compara el resultado de la IA con la base de datos existente para detectar duplicados (Fuzzy matching).\n\n🇺🇸 English: NLP & Smart Search:\n\nGPT-4o: Converts free text (\"Add milk\") into structured JSON.\n\nFuzzy Search: JS script compares AI results against existing DB to detect duplicates (Fuzzy matching).","height":320,"width":528,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2016,2128],"id":"30d6040c-cdd5-4da4-bee6-0d680b74dc44","name":"Sticky Note1"},{"parameters":{"content":"## 🟢 Zona: Base de Datos (Database)\nUbicación: Sobre el grupo de nodos Google Sheets\n\n🇪🇸 Español: Gestión Google Sheets: Lógica de Idempotencia:\n\nPrimero busca si el producto existe (Validacion).\n\nSi SI: Muestra menú de edición.\n\nSi NO: Crea nueva fila (Append row) y genera SKU.\n\n🇺🇸 English: Google Sheets Management: Idempotency Logic:\n\nFirst checks if product exists (Validation).\n\nIf YES: Shows edit menu.\n\nIf NO: Creates new row (Append row) and generates SKU.","height":432,"width":576,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[304,1792],"id":"29274569-9c0f-4663-86f5-b5d3dcd7a36e","name":"Sticky Note2"},{"parameters":{"content":"## 🟣 Zona: Actualización Interactiva (Interactive Forms)\nUbicación: Sobre Send message and wait for response\n\n🇪🇸 Español: Formularios Web en Telegram: Despliega un formulario HTML/CSS interactivo dentro del chat para que el usuario ingrese Precio y Stock cómodamente, sin usar comandos de texto complejos.\n\n🇺🇸 English: Telegram Web Forms: Deploys an interactive HTML/CSS form inside the chat for users to input Price and Stock easily, avoiding complex text commands.","height":336,"width":528,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-1568,1392],"typeVersion":1,"id":"1c65a592-cce3-480e-ae98-727dbfdc0014","name":"Sticky Note3"},{"parameters":{"content":"## 🔴 Zona: Control de Flujo (Flow Control)\nUbicación: Sobre calculadora de espera\n\n🇪🇸 Español: Jitter / Cola de Espera: Asigna un retraso aleatorio (2-25s) al procesar imágenes. Motivo: Evita condiciones de carrera (Race Conditions) y bloqueos de API.\n\n🇺🇸 English: Jitter / Wait Queue: Assigns a random delay (2-25s) when processing images. Reason: Prevents Race Conditions and API bans.","height":336,"width":464,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-864,1040],"typeVersion":1,"id":"d7f53d31-fafb-467f-b6e6-8be57f398d0f","name":"Sticky Note4"},{"parameters":{"content":"## ## 🛡️ Error Handling & Resilience / Manejo de Errores y Resiliencia\n\n**1. 📉 Google Sheets (Anti-Rate Limit)**\n* **Nodes / Nodos:** `Get rows`, `Append`, `Update`, `Validation`\n* **Settings:** `Retry On Fail` (5 tries, 5000ms wait).\n* **🇺🇸 English:** Prevents \"Quota Exceeded\" errors during high-volume batch processing (15+ items).\n* **🇪🇸 Español:** Evita el error de \"Cuota Excedida\" durante el procesamiento masivo de datos.\n\n**2. 🤖 AI & LLM (Stability / Estabilidad)**\n* **Nodes / Nodos:** `Message a model`\n* **Settings:** `Retry On Fail` (3 tries).\n* **🇺🇸 English:** Handles temporary OpenAI server timeouts or 503 errors without breaking the flow.\n* **🇪🇸 Español:** Maneja caídas temporales o tiempos de espera de OpenAI sin romper el flujo.\n\n**3. ⚡ Fault Tolerance / Tolerancia a Fallos**\n* **Nodes / Nodos:** `HTTP Request` (Books), `Call Escaner`\n* **Settings:** `Continue On Fail` + `Always Output Data`.\n* **🇺🇸 English:** Ensures the workflow continues even if a specific book is not found or a single photo fails.\n* **🇪🇸 Español:** Asegura que el flujo continúe aunque no se encuentre un libro específico o falle una sola foto.","height":480,"width":752,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-3264,2288],"typeVersion":1,"id":"9afd2883-3c51-413a-a8b7-11fb20c6de09","name":"Sticky Note5"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}],[{"node":"Send a text message1","type":"main","index":0}],[{"node":"Send a text message3","type":"main","index":0}],[{"node":"Get row(s) in sheet1","type":"main","index":0}],[{"node":"calculadora de espera","type":"main","index":0}],[{"node":"Message a model","type":"main","index":0}],[{"node":"Send a text message6","type":"main","index":0}],[]]},"HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Validacion de invetario","type":"main","index":0}]]},"Call Escaner de produtos":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Call Escaner de produtos","type":"main","index":0}]]},"If":{"main":[[{"node":"Send a text message7","type":"main","index":0}],[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Validacion de invetario":{"main":[[{"node":"If","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Get row(s) in sheet2","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Send a text message4","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Send message and wait for response","type":"main","index":0}]]},"Send message and wait for response":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Get row(s) in sheet2":{"main":[[{"node":"Send a text message2","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Send a text message5","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Get row(s) in sheet3","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Get row(s) in sheet3":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Send a text message9","type":"main","index":0}],[{"node":"Switch1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge","type":"main","index":2}]]},"calculadora de espera":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Telegram Trigger":[{"json":{"update_id":563577257,"message":{"message_id":1138,"from":{"id":659132607,"is_bot":false,"first_name":"Jorge","last_name":"Duque","language_code":"es"},"chat":{"id":659132607,"first_name":"Jorge","last_name":"Duque","type":"private"},"date":1770608627,"media_group_id":"14164869023952145","photo":[{"file_id":"AgACAgEAAxkBAAID_WmJR9agpkQEl7hvGx_KyG3Zu3LFAAJoDGsbzXVJRHsLOKKrXcXVAQADAgADcwADOgQ","file_unique_id":"AQADaAxrG811SUR4","file_size":1599,"width":67,"height":90},{"file_id":"AgACAgEAAxkBAAID_WmJR9agpkQEl7hvGx_KyG3Zu3LFAAJoDGsbzXVJRHsLOKKrXcXVAQADAgADbQADOgQ","file_unique_id":"AQADaAxrG811SURy","file_size":18207,"width":240,"height":320},{"file_id":"AgACAgEAAxkBAAID_WmJR9agpkQEl7hvGx_KyG3Zu3LFAAJoDGsbzXVJRHsLOKKrXcXVAQADAgADeAADOgQ","file_unique_id":"AQADaAxrG811SUR9","file_size":74658,"width":600,"height":800},{"file_id":"AgACAgEAAxkBAAID_WmJR9agpkQEl7hvGx_KyG3Zu3LFAAJoDGsbzXVJRHsLOKKrXcXVAQADAgADeQADOgQ","file_unique_id":"AQADaAxrG811SUR-","file_size":171239,"width":960,"height":1280},{"file_id":"AgACAgEAAxkBAAID_WmJR9agpkQEl7hvGx_KyG3Zu3LFAAJoDGsbzXVJRHsLOKKrXcXVAQADAgADdwADOgQ","file_unique_id":"AQADaAxrG811SUR8","file_size":660296,"width":1920,"height":2560}]}},"pairedItem":{"item":0}}]},"versionId":"4fed1a8e-8744-4435-bb09-0a51fb298986","activeVersionId":"4fed1a8e-8744-4435-bb09-0a51fb298986","versionCounter":149,"triggerCount":1,"shared":[{"updatedAt":"2026-01-29T17:16:17.135Z","createdAt":"2026-01-29T17:16:17.135Z","role":"workflow:owner","workflowId":"5YjZ3mlM7DIKyBV4","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[{"updatedAt":"2026-01-21T16:44:45.737Z","createdAt":"2026-01-21T16:44:45.737Z","id":"SOP4RrhCxE4HODDZ","name":"1 Proyecto"}],"activeVersion":{"updatedAt":"2026-02-09T12:20:57.000Z","createdAt":"2026-02-09T12:20:54.764Z","versionId":"4fed1a8e-8744-4435-bb09-0a51fb298986","workflowId":"5YjZ3mlM7DIKyBV4","nodes":[{"parameters":{"updates":["message","callback_query"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-2560,1952],"id":"8c0719b6-1725-444e-b9d6-f33164ab8fea","name":"Telegram Trigger","webhookId":"5ddc3211-f522-48cf-8016-a037c4d52596","credentials":{"telegramApi":{"id":"nWEbT4EZ2Xeosuah","name":"Inventario Altillo"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"92a8f48c-6947-4b2e-8d23-43cafddf3283","leftValue":"={{ $('Telegram Trigger').item.json.callback_query.data }}","rightValue":"admin_inventario","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"inventario"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"e18f3e0d-2cc7-44ca-90b4-feb63e4ce9b1","leftValue":"={{ $('Telegram Trigger').item.json.callback_query.data }}","rightValue":"nav_instruccion_entrada","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Instrucciones Captura"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"65ad0bcc-3fa6-4f16-9216-27ad2dcc81cb","leftValue":"={{ $('Telegram Trigger').item.json.message.text }}{{ $json.callback_query.data }}","rightValue":"/start","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Comandos (/start)"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"60f7381b-3de9-4f83-8361-7c807daa1688","leftValue":"={{ $('Telegram Trigger').item.json.callback_query.data }}","rightValue":"entrada_","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Acción: Stock y Precio🆕"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"leftValue":"={{ $('Telegram Trigger').item.json.message.photo }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true},"id":"97c5e9d8-9230-45b0-9169-5daef0842ae8"}],"combinator":"and"},"renameOutput":true,"outputKey":"Es foto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"4e4e8735-ea32-4e2e-a19e-580a2a3f91ca","leftValue":"={{ $('Telegram Trigger').item.json.message.text }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Es texto "},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"4e684aba-4fb7-4e11-bc00-4d5d7f2a49ac","leftValue":"={{ $('Telegram Trigger').item.json.callback_query.data }}","rightValue":"modo_buscar","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Instrucción Buscar"}]},"looseTypeValidation":true,"options":{"fallbackOutput":"extra","renameFallbackOutput":"Mensaje Invalido"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-2336,1856],"id":"fbb1369e-9213-4d7d-93c3-04f01b16c1b8","name":"Switch"},{"parameters":{"url":"=https://www.googleapis.com/books/v1/volumes","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $('Code in JavaScript2').item.json.titulo }}"},{"name":"key","value":"AIzaSyBivW9-NbJmIq6mRn3ebQvuBgUiLf8yQ5w"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-432,1952],"id":"f0c960f8-bcd1-4219-a670-7ecdd9b2d37c","name":"HTTP Request","retryOnFail":true,"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"772921d1-4cbd-4fc4-9c82-031f84c95b89","name":"titulo","value":"={{ $json.items[0].volumeInfo.title }}","type":"string"},{"id":"60633fff-8fe8-45ad-adb7-91aceaa502ab","name":"autor","value":"={{ $json.items[0].volumeInfo.authors.join(', ') }}","type":"string"},{"id":"884c7144-04a4-47f8-978c-f4bf9e7bfb6d","name":"isbn_ean","value":"={{ $json.items[0].volumeInfo.industryIdentifiers ? $json.items[0].volumeInfo.industryIdentifiers[0].identifier : $json.items[0].id }}","type":"string"},{"id":"e42cc90b-96c2-4531-84c5-45eddfffabdd","name":"descripcion","value":"={{ $json.items[0].volumeInfo.description }}","type":"string"},{"id":"3064560c-a089-4968-af55-b76efdfc2dde","name":"foto_url","value":"={{ $json.items[0].volumeInfo.imageLinks.thumbnail }}","type":"string"},{"id":"819cb9f8-7136-4457-93df-d23a16ddc290","name":"tipo_producto","value":"Libro","type":"string"},{"id":"1892b5aa-2949-4ba8-9832-185cbe8363a6","name":"origen","value":"Google API","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-208,1952],"id":"46a07b9f-53f8-49aa-885e-574090ec2d2b","name":"Edit Fields"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[224,1600],"id":"93f69de4-d031-4ed7-9185-58140bc09421","name":"Merge"},{"parameters":{"chatId":"={{ $json.callback_query.from.id }}{{ $('Telegram Trigger').item.json.message.from.id }}","text":"👋 Bienvenido al Inventario KiroxON \\n\\n¿Qué deseas hacer hoy?","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"📦 Ver Stock Total","additionalFields":{"callback_data":"admin_inventario"}},{"text":"➖ Registrar nuevo ingreso ","additionalFields":{"callback_data":"nav_instruccion_entrada"}},{"text":"🔍 Buscar Producto","additionalFields":{"callback_data":"modo_buscar"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1856,2816],"id":"a5974e83-ff55-4a70-b1c3-79dbf3421c37","name":"Send a text message3","webhookId":"ef5ba54f-2558-4a94-8a02-70a4b25f5673","credentials":{"telegramApi":{"id":"nWEbT4EZ2Xeosuah","name":"Inventario Altillo"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.callback_query.from.id }}","text":"📥 Modo Entrada de Inventario  \nPara sumar unidades al stock, primero necesitamos identificar el producto.  \n\n👉 Por favor, envía la FOTO de la portada o escribe el NOMBRE/ISBN del libro ahora.\n\nEl sistema te mostrará el producto y te dará el botón de ingreso.","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1840,1568],"id":"dce1c00c-be41-4159-a321-46b35aac6b18","name":"Send a text message1","webhookId":"e9e388fd-b107-4aa5-b01e-15b881b1619b","credentials":{"telegramApi":{"id":"nWEbT4EZ2Xeosuah","name":"Inventario Altillo"}}},{"parameters":{"workflowId":{"__rl":true,"value":"CfXLY0tRytXeFmnx","mode":"list","cachedResultUrl":"/workflow/CfXLY0tRytXeFmnx","cachedResultName":"Escaner de produtos"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[0,1424],"name":"Call Escaner de produtos","id":"07cac96c-38d7-4f40-b7c5-a8ed7b3adb92","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// 1. REFERENCIA ABSOLUTA: Ignoramos el nodo anterior y vamos directo a la fuente\n// Si tu nodo inicial se llama diferente, cambia 'Telegram Trigger' por su nombre real\nconst triggerData = $('Telegram Trigger').first().json;\n\n// 2. Debug en consola (aparecerá en la pestaña Console del navegador si lo abres)\nconsole.log(\"Datos recibidos del trigger:\", triggerData);\n\n// 3. Extracción Directa de la Foto\nlet fileId = null;\n\n// Verificamos si existe message y photo dentro de la data del trigger\nif (triggerData.message && triggerData.message.photo) {\n  // Tomamos la última foto del array (la de mayor calidad)\n  const todasLasFotos = triggerData.message.photo;\n  const mejorFoto = todasLasFotos[todasLasFotos.length - 1];\n  fileId = mejorFoto.file_id;\n}\n\n// 4. Retorno Final\nif (fileId) {\n  return {\n    json: {\n      exito: true,\n      file_id: fileId,\n      usuario: triggerData.message.from.first_name,\n      mensaje_original: \"Foto encontrada\"\n    }\n  };\n} else {\n  return {\n    json: {\n      exito: false,\n      error: \"No se encontró foto en el nodo Telegram Trigger\",\n      data_revisada: triggerData // Esto nos mostrará qué está viendo realmente\n    }\n  };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-224,1424],"id":"869a2b14-7c7a-4c20-9a7f-cf6caa37d75c","name":"Code in JavaScript"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"452340a2-67f5-4a36-b652-d22a41591e26","leftValue":"={{ $json.ISBN_EAN }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[672,1600],"id":"796bf911-b6ad-4f42-9400-1440966c2c51","name":"If"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o","mode":"list","cachedResultName":"Inventario_Maestro_Kirox","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Titulo":"={{ $('Merge').first().json.titulo }}","Ultima_Actualizacion":"={{ $now }}","Stock":"1","ISBN_EAN":"={{ $('Merge').item.json.isbn_ean }}","Autor_Marca":"={{ $('Merge').item.json.autor }}","Tipo de producto":"={{ $('Merge').item.json.tipo_producto }}","Ubicacion":"={{ $('Merge').item.json.origen }}","Descripcion":"={{ $('Merge').item.json.descripcion }}"},"matchingColumns":["ISBN_EAN"],"schema":[{"id":"ISBN_EAN","displayName":"ISBN_EAN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Titulo","displayName":"Titulo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Autor_Marca","displayName":"Autor_Marca","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Descripcion","displayName":"Descripcion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tipo de producto","displayName":"Tipo de producto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Precio","displayName":"Precio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Stock","displayName":"Stock","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Valor total Inventario","displayName":"Valor total Inventario","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ultima_Actualizacion","displayName":"Ultima_Actualizacion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ubicacion","displayName":"Ubicacion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Foto_URL.","displayName":"Foto_URL.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[896,1696],"id":"cee13e92-4659-4f9e-9723-a1d5ac06bc4f","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"CeDqHOIvpoFnRpuy","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o","mode":"list","cachedResultName":"Inventario_Maestro_Kirox","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"ISBN_EAN","lookupValue":"={{ $json.isbn_ean }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[448,1600],"id":"fe8a4519-90d4-460e-8eaa-5066fc560d03","name":"Validacion de invetario","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"CeDqHOIvpoFnRpuy","name":"Google Sheets account"}}},{"parameters":{"chatId":"=659132607","text":"=📚 **Producto Encontrado**  \n**Título:** \n{{ $json.Titulo }}\n**Autor:** \n{{ $json.Autor_Marca }}\n**Precio:** \n${{ $json.Precio }}\nStock Actual\n{{ $json.Stock }}\n¿Qué movimiento deseas registrar?","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Cambiar Precio y  Sumar Stock","additionalFields":{"callback_data":"=entrada_{{ $json.row_number }}"}},{"text":"Volver al menu","additionalFields":{"callback_data":"/start"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[896,1504],"id":"d887a4ac-9762-4989-8ae7-5172966a273f","name":"Send a text message7","webhookId":"1ac55ba4-185a-492b-a704-4a73007b3c07","credentials":{"telegramApi":{"id":"nWEbT4EZ2Xeosuah","name":"Inventario Altillo"}}},{"parameters":{"documentId":{"__rl":true,"value":"1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o","mode":"list","cachedResultName":"Inventario_Maestro_Kirox","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1856,2672],"id":"0590d81d-7912-43c4-8c9a-00e483ce1b02","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"CeDqHOIvpoFnRpuy","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// 1. Obtenemos todas las filas\nlet filas = $input.all();\n\n// 2. Invertimos el orden (el último pasa a ser el primero) y tomamos solo 5\nlet ultimos = filas.reverse().slice(0, 5);\n\nlet mensaje = \"📊 *Últimos 5 Libros Registrados:*\\n\\n\";\n\nif (ultimos.length === 0) {\n  mensaje += \"📭 El inventario está vacío.\";\n} else {\n  for (const item of ultimos) {\n    const dato = item.json;\n    \n    // Validamos que existan los campos (si no, pone \"N/A\")\n    // Asegúrate de que los nombres coincidan con las cabeceras de tu Excel\n    const titulo = dato.Titulo || \"Sin Título\";\n    const stock = dato.Stock || \"0\";\n    // Si tienes columna Precio, úsala, si no, bórralo\n    const precio = dato.Precio || \"0\"; \n    \n    mensaje += `📘 *${titulo}*\\n`;\n    mensaje += `   📦 Stock: ${stock} | 💰 $${precio}\\n`;\n    mensaje += `----------------\\n`;\n  }\n}\n\nreturn { json: { texto_reporte: mensaje } };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1568,2672],"id":"9f7aab3f-48f5-4a30-8c61-b661a1260852","name":"Code in JavaScript1"},{"parameters":{"chatId":"={{ $('Telegram Trigger').first().json.callback_query.from.id || $('Telegram Trigger').first().json.message.chat.id }}","text":"={{ $json.texto_reporte }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Volver al menu de Inicio","additionalFields":{"callback_data":"/start"}}]}}]},"additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1328,2672],"id":"6bf2e8e4-4be3-4923-8022-cda67211061f","name":"Send a text message4","webhookId":"ef5ba54f-2558-4a94-8a02-70a4b25f5673","credentials":{"telegramApi":{"id":"nWEbT4EZ2Xeosuah","name":"Inventario Altillo"}}},{"parameters":{"documentId":{"__rl":true,"value":"1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o","mode":"list","cachedResultName":"Inventario_Maestro_Kirox","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o/edit#gid=0"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRange","firstDataRow":"={{ $('Telegram Trigger').first().json.callback_query.data.replace('entrada_', '') }}"}},"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1840,1760],"id":"1ad4cc04-c413-4edc-9f6e-4fd7fffc36c1","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"CeDqHOIvpoFnRpuy","name":"Google Sheets account"}}},{"parameters":{"operation":"sendAndWait","chatId":"={{ $('Telegram Trigger').first().json.callback_query.from.id }}","message":"=📦 *Sumar Stock Y Ajuste de Invetario*\nLibro: \n{{ $json.Titulo }}\nStock Actual: \n{{ $json.Stock }}\n\n👇 Escribe el número de unidades a ingresar:","responseType":"customForm","formFields":{"values":[{"fieldLabel":"Stock Inicial","fieldType":"number","defaultValue":"0"},{"fieldLabel":"Precio del Producto","fieldType":"number","defaultValue":"0"}]},"options":{"responseFormCustomCss":"/* Importamos la fuente Inter para un look más técnico y limpio */\n@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');\n\n:root {\n    /* --- Tipografía --- */\n    --font-family: 'Inter', system-ui, -apple-system, sans-serif;\n    --font-weight-normal: 400;\n    --font-weight-medium: 500; /* Nuevo: para etiquetas y botones */\n    --font-weight-bold: 600;\n\n    /* Tamaños ajustados para mejor legibilidad */\n    --font-size-body: 14px;      /* Subido de 12px a 14px */\n    --font-size-label: 14px;\n    --font-size-input: 15px;     /* Evita zoom en iOS */\n    --font-size-header: 24px;    /* Más presencia */\n    --font-size-subheader: 15px;\n    --font-size-paragraph: 14px;\n    --font-size-link: 13px;\n    --font-size-error: 13px;\n\n    /* --- Colores (Paleta Slate & Indigo) --- */\n    --color-background: #F3F4F6; /* Gris muy suave, menos clínico */\n    \n    /* Card */\n    --color-card-bg: #FFFFFF;\n    --color-card-border: #FFFFFF; /* Eliminamos borde visible, usamos sombra */\n    --color-card-shadow: rgba(0, 0, 0, 0.08); /* Sombra difusa y elegante */\n    \n    /* Textos */\n    --color-header: #111827;         /* Casi negro, alto contraste */\n    --color-header-subtext: #6B7280; /* Gris medio */\n    --color-label: #374151;          /* Gris oscuro */\n    --color-input-text: #1F2937;\n    --color-link: #6366F1;           /* Indigo */\n\n    /* Inputs */\n    --color-input-border: #E5E7EB;   /* Borde sutil */\n    --color-input-bg: #F9FAFB;       /* Fondo muy sutil para inputs */\n    --color-focus-border: #6366F1;   /* Indigo vibrante */\n    --color-focus-shadow: rgba(99, 102, 241, 0.2); /* Nuevo: anillo de enfoque */\n\n    /* Botón Principal */\n    --color-submit-btn-bg: #4F46E5;  /* Indigo fuerte y confiable */\n    --color-submit-btn-hover: #4338CA; /* Nuevo: estado hover */\n    --color-submit-btn-text: #FFFFFF;\n    \n    /* Estados */\n    --color-error: #EF4444;\n    --color-required: #EF4444;\n    --color-test-notice-bg: #FFF7ED;\n    --color-test-notice-text: #9A3412;\n    --color-test-notice-border: #FFEDD5;\n\n    /* --- Geometría y Espaciado --- */\n    --container-width: 480px; /* Un poco más ancho para respirar */\n    --card-border-radius: 16px; /* Bordes más redondeados (moderno) */\n    --border-radius-input: 8px;\n    --border-radius-card: 16px;\n    --submit-btn-height: 44px; /* Un poco más compacto y elegante */\n    \n    --padding-card: 40px;      /* Más espacio interior = más lujo */\n    --padding-form-input: 12px 16px; \n    \n    /* --- Sombras Avanzadas --- */\n    --box-shadow-card: 0 10px 25px -5px rgba(0, 0, 0, 0.05), 0 8px 10px -6px rgba(0, 0, 0, 0.01);\n    --transition-speed: 0.2s; /* Para animaciones suaves */\n}\n\n/* 👇 CSS SUGERIDO PARA APLICAR LAS VARIABLES \n   (Copia esto también para ver el efecto real)\n*/\n\nbody {\n    background-color: var(--color-background);\n    font-family: var(--font-family);\n    color: var(--color-header);\n    display: flex;\n    justify-content: center;\n    align-items: center;\n    min-height: 100vh;\n    margin: 0;\n}\n\n.card-container {\n    width: 100%;\n    max-width: var(--container-width);\n    background: var(--color-card-bg);\n    border-radius: var(--card-border-radius);\n    padding: var(--padding-card);\n    box-shadow: var(--box-shadow-card);\n}\n\nh1 {\n    font-size: var(--font-size-header);\n    font-weight: var(--font-weight-bold);\n    color: var(--color-header);\n    margin-bottom: 8px;\n    letter-spacing: -0.025em; /* Tracking ajustado (moderno) */\n}\n\np.subtitle {\n    font-size: var(--font-size-subheader);\n    color: var(--color-header-subtext);\n    margin-bottom: 32px;\n    line-height: 1.5;\n}\n\nlabel {\n    display: block;\n    font-size: var(--font-size-label);\n    font-weight: var(--font-weight-medium);\n    color: var(--color-label);\n    margin-bottom: 6px;\n}\n\ninput[type=\"text\"],\ninput[type=\"email\"],\ninput[type=\"password\"] {\n    width: 100%;\n    padding: var(--padding-form-input);\n    font-size: var(--font-size-input);\n    color: var(--color-input-text);\n    background-color: var(--color-input-bg);\n    border: 1px solid var(--color-input-border);\n    border-radius: var(--border-radius-input);\n    transition: all var(--transition-speed) ease;\n    box-sizing: border-box; /* Importante */\n}\n\ninput:focus {\n    outline: none;\n    border-color: var(--color-focus-border);\n    background-color: #fff;\n    box-shadow: 0 0 0 4px var(--color-focus-shadow);\n}\n\nbutton.submit-btn {\n    width: 100%;\n    height: var(--submit-btn-height);\n    background-color: var(--color-submit-btn-bg);\n    color: var(--color-submit-btn-text);\n    font-weight: var(--font-weight-medium);\n    font-size: 15px;\n    border: none;\n    border-radius: var(--border-radius-input);\n    cursor: pointer;\n    transition: background-color var(--transition-speed);\n    margin-top: 24px;\n}\n\nbutton.submit-btn:hover {\n    background-color: var(--color-submit-btn-hover);\n}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1552,1760],"id":"4914377a-0238-41b4-b95a-becf5bfafb68","name":"Send message and wait for response","webhookId":"777d3613-a041-4012-879c-4e1c682ef6fb","credentials":{"telegramApi":{"id":"nWEbT4EZ2Xeosuah","name":"Inventario Altillo"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o","mode":"list","cachedResultName":"Inventario_Maestro_Kirox","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Telegram Trigger').first().json.callback_query.data.replace('entrada_', '') }}","Stock":"={{ $json.data['Stock Inicial'] != 0 ? $json.data['Stock Inicial'] : $('Get row(s) in sheet1').first().json.Stock }}","Precio":"={{ $json.data['Precio del Producto'] != 0 ? $json.data['Precio del Producto'] : $('Get row(s) in sheet1').first().json.Precio }}"},"matchingColumns":["row_number"],"schema":[{"id":"ISBN","displayName":"ISBN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Titulo","displayName":"Titulo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Autor","displayName":"Autor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Precio","displayName":"Precio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Stock","displayName":"Stock","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ultima_Actualizacion","displayName":"Ultima_Actualizacion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ubicacion","displayName":"Ubicacion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Foto_URL.","displayName":"Foto_URL.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"locationDefine":{"values":{"firstDataRow":"={{ $('Telegram Trigger').first().json.callback_query.data.replace('entrada_', '') }}"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1328,1760],"id":"afa3f559-7784-4eb7-82db-807411071807","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"CeDqHOIvpoFnRpuy","name":"Google Sheets account"}}},{"parameters":{"chatId":"=659132607","text":"=✅ **¡Producto Registrado con Éxito!**\n\nHemos guardado en la base de datos:\n📘 **Título:** \n{{ $json.Titulo }}\n👤 **Autor:** \n{{ $json.Autor_Marca }}\n**Fecha de Ingreso**\n{{ $json.Ultima_Actualizacion }}\n\n🆔 **SKU:** (Se generará automáticamente en breve)\n\n¿Qué quieres hacer ahora?","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"💰 Definir Precio y Stock","additionalFields":{"callback_data":"=entrada_{{ $json.row_number }}"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1344,1696],"id":"b4e0c6ea-3653-45a9-9313-dd4ac814b1bc","name":"Send a text message2","webhookId":"ade28dca-6766-4eef-b09c-1ee107a267fc","credentials":{"telegramApi":{"id":"nWEbT4EZ2Xeosuah","name":"Inventario Altillo"}}},{"parameters":{"documentId":{"__rl":true,"value":"1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o","mode":"list","cachedResultName":"Inventario_Maestro_Kirox","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"ISBN_EAN","lookupValue":"={{ $json.ISBN_EAN }}"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1120,1696],"id":"cfd823f2-07be-4d7f-8a9a-8fa14d613cee","name":"Get row(s) in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"CeDqHOIvpoFnRpuy","name":"Google Sheets account"}}},{"parameters":{"chatId":"=659132607","text":"=✅ **¡Producto Actualizado con Éxito!**\n\nHemos guardado los datos de Stock y precio en el sistema ya puedes empezar a venderlo \n\n\n\n","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Volver al Menu","additionalFields":{"callback_data":"/start"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1104,1760],"id":"bc2b5be2-7b67-4d74-b4ba-f46078120887","name":"Send a text message5","webhookId":"ade28dca-6766-4eef-b09c-1ee107a267fc","credentials":{"telegramApi":{"id":"nWEbT4EZ2Xeosuah","name":"Inventario Altillo"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"responses":{"values":[{"role":"system","content":"Actúa como el asistente de inventario de KiroxON. Tu trabajo es leer el mensaje del usuario y extraer datos estructurados para buscar o registrar un producto.\n\nEL USUARIO ESCRIBIRÁ ALGO COMO:\n- \"Libro El Principito\"\n- \"Alimento Miel de Abeja\"\n- \"Articulo Rosario de madera\"\n- O simplemente el nombre: \"Galletas Oreo\" (Tú debes inferir la categoría).\n\nTU TAREA:\n1. Analiza el texto.\n2. Detecta la INTENCIÓN de categoría (Libro, Alimento, Articulo). Si no es obvio, usa \"Articulo\" por defecto.\n3. Extrae el NOMBRE limpio (sin la palabra clave \"Libro\" o \"Alimento\").\n4. Genera un JSON estricto.\n\nREGLAS DE SALIDA:\n- titulo: El nombre del producto limpio.\n- autor_marca: Si el usuario lo menciona (ej: \"Galletas Oreo\"), pon la marca. Si no, \"Genérico\".\n- tipo_producto: \"Libro\", \"Alimento\" o \"Articulo\".\n- isbn_ean: Como es texto, devuelve siempre \"PENDIENTE\".\n\nFORMATO JSON ESPERADO:\n{\n  \"titulo\": \"String\",\n  \"autor_marca\": \"String\",\n  \"tipo_producto\": \"Libro | Alimento | Articulo\",\n  \"isbn_ean\": \"PENDIENTE\",\n  \"descripcion\": \"Descripción breve inferida (ej: Producto ingresado por texto)\"\n}"},{"content":"={{ $('Telegram Trigger').item.json.message.text }}"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-1904,1952],"id":"5eb7fd11-1998-4491-82ea-069e862e550e","name":"Message a model","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"openAiApi":{"id":"bJgGA8hIumaSAysH","name":"KiroxON|OpenAi account"}}},{"parameters":{"jsCode":"// 1. OBTENER EL ITEM\nconst item = $input.first();\n\n// 2. EXTRACCIÓN EXACTA (Basada en tu último JSON)\n// Navegamos: output -> item 0 -> content -> item 0 -> text\nlet rawText = \"\";\n\ntry {\n    if (item.json.output && item.json.output[0] && item.json.output[0].content) {\n        rawText = item.json.output[0].content[0].text;\n    } else {\n        throw new Error(\"Estructura output[0].content[0].text no encontrada\");\n    }\n} catch (e) {\n    // Si falla, intentamos una ruta alternativa por seguridad\n    if (item.json.text) rawText = item.json.text;\n}\n\n// 3. LIMPIEZA Y PARSEO\nlet datosLimpios = {};\n\ntry {\n    // Limpiamos las etiquetas markdown ```json y ``` por si la IA las puso\n    const textoLimpio = rawText\n        .toString()\n        .replace(/```json/g, '')\n        .replace(/```/g, '')\n        .trim();\n        \n    datosLimpios = JSON.parse(textoLimpio);\n\n} catch (error) {\n    return {\n        json: {\n            error: true,\n            mensaje: \"Error al convertir el texto a JSON\",\n            texto_recibido: rawText\n        }\n    };\n}\n\n// 4. RETORNAR CAMPOS SEPARADOS\nreturn {\n    json: {\n        titulo: datosLimpios.titulo,\n        autor_marca: datosLimpios.autor_marca,\n        tipo_producto: datosLimpios.tipo_producto,\n        isbn_ean: datosLimpios.isbn_ean,\n        descripcion: datosLimpios.descripcion\n    }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1552,1952],"id":"eb6a7df8-bd8b-4937-b1b9-69876231acf8","name":"Code in JavaScript2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"tipo_producto","rightValue":"Libro","operator":{"type":"string","operation":"contains"},"id":"94913754-721b-4c25-acbf-84feda67da8b"}],"combinator":"and"},"renameOutput":true,"outputKey":"Regla 1 (Libros)"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b749225d-7981-40c2-b655-f18294562119","leftValue":"tipo_producto","rightValue":"Libro","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Regla 2 (Otros)"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-656,2048],"id":"481a8826-7165-4ffd-a89d-21528d273e5d","name":"Switch1"},{"parameters":{"assignments":{"assignments":[{"id":"545cfe08-be30-4c6e-b331-503daffaa0f5","name":"titulo","value":"={{ $json.titulo }}","type":"string"},{"id":"316188c3-9278-499a-ae4f-6db58c8c76a5","name":"autor","value":"={{ $json.autor_marca }}","type":"string"},{"id":"19a1cf5d-5e0a-4505-9d15-7abe0ed584c7","name":"isbn_ean","value":"={{ $json.tipo_producto.substring(0,4).toUpperCase() }}-{{ Math.floor(Date.now() / 1000) }}","type":"string"},{"id":"e335c74e-b86c-40ed-8c11-f01cefbe6d33","name":"descripcion","value":"={{ $json.descripcion }}","type":"string"},{"id":"36b6bfef-fd84-4e3a-8ebc-0dc809e4ce20","name":"tipo_producto","value":"={{ $json.tipo_producto }}","type":"string"},{"id":"1a7265ab-7657-4c68-b419-38200e33142a","name":"origen","value":"IA Texto","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-432,2144],"id":"7277f859-514e-48f6-a4a3-4a22bd492c6d","name":"Edit Fields1"},{"parameters":{"chatId":"659132607","text":"🔍 Escribe el NOMBRE o ISBN del producto.","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1856,2512],"id":"2e77b5bf-57c9-455e-8448-d09f62bf68fd","name":"Send a text message6","webhookId":"690b881e-8c27-4862-9e05-963b1543da0b","credentials":{"telegramApi":{"id":"nWEbT4EZ2Xeosuah","name":"Inventario Altillo"}}},{"parameters":{"documentId":{"__rl":true,"value":"1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o","mode":"list","cachedResultName":"Inventario_Maestro_Kirox","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wOUp3yRUHFiJDnrUrAOMI44Cc5cKZxJqTBmlY6PcZ7o/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1328,1952],"id":"c16cc4ce-9c3a-4a6b-8ad9-96eae2f82f57","name":"Get row(s) in sheet3","alwaysOutputData":true,"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"CeDqHOIvpoFnRpuy","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// 1. Datos que entendió la IA (del nodo Code anterior)\n// Asegúrate de que 'Code' sea el nombre real de tu nodo limpiador\nconst datosIA = $('Code in JavaScript2').first().json;\nconst tituloIA = (datosIA.titulo || \"\").toString().toLowerCase().trim();\n\n// 2. Tu Inventario (del nodo Google Sheets anterior)\nconst inventario = $input.all();\n\n// 3. BUSCADOR INTELIGENTE (\"Contains\")\n// Buscamos si el título de la IA coincide parcial o totalmente con algo del Excel\nconst productoEncontrado = inventario.find(item => {\n    const dato = item.json;\n    if (!dato.Titulo) return false;\n    \n    const tituloDB = dato.Titulo.toString().toLowerCase().trim();\n    const isbnDB = (dato.ISBN_EAN || \"\").toString().trim();\n    \n    // Coincidencia: Nombre IA dentro de Nombre DB, o al revés, o coincidencia de ISBN\n    return tituloDB.includes(tituloIA) || tituloIA.includes(tituloDB) || (isbnDB && isbnDB === tituloIA);\n});\n\n// 4. RESULTADO\nif (productoEncontrado) {\n    return {\n        json: {\n            encontrado: true,\n            // Pasamos los datos REALES del Excel\n            ...productoEncontrado.json,\n            // Mantenemos info útil\n            mensaje_original: \"Producto encontrado en inventario local\"\n        }\n    };\n} else {\n    // Si no existe, pasamos los datos de la IA para buscarlo fuera (Google Books) o crearlo\n    return {\n        json: {\n            encontrado: false,\n            ...datosIA // Pasamos titulo, tipo_producto, etc. que sacó la IA\n        }\n    };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1104,1952],"id":"52921127-d0fd-4949-8c38-9f73fee65838","name":"Code in JavaScript3"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.encontrado }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"8f92b77c-6f9a-4b19-96a7-cdac5c53f223"}],"combinator":"and"},"renameOutput":true,"outputKey":"Regla 1 (Encontrado)"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7a1bf84a-44f0-4344-8ef4-1966f1996161","leftValue":"={{ $json.encontrado }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Regla 2 (No Encontrado)"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-880,1952],"id":"a3b35456-80f4-4033-8716-efbf169ac76e","name":"Switch2"},{"parameters":{"chatId":"=659132607","text":"=📚 **Producto Encontrado**  \n**Título:** \n{{ $json.Titulo }}\n**Autor:** \n{{ $json.Autor_Marca }}\n**Precio:** \n${{ $json.Precio }}\nStock Actual\n{{ $json.Stock }}\n¿Qué movimiento deseas registrar?","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Cambiar Precio y  Sumar Stock","additionalFields":{"callback_data":"=entrada_{{ $json.row_number }}"}},{"text":"Volver al menu","additionalFields":{"callback_data":"/start"}}]}}]},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-656,1760],"id":"af9e5694-9745-46be-88c4-ef8dcc149356","name":"Send a text message9","webhookId":"1ac55ba4-185a-492b-a704-4a73007b3c07","credentials":{"telegramApi":{"id":"nWEbT4EZ2Xeosuah","name":"Inventario Altillo"}}},{"parameters":{"jsCode":"// Recorremos todas las fotos que llegaron (items)\nreturn items.map((item, index) => {\n  // 1. Calculamos el tiempo de espera aleatorio\n  const min = 2;\n  const max = 25;\n  const delay = Math.floor(Math.random() * (max - min + 1)) + min;\n\n  return {\n    // 2. Pasamos el JSON manteniendo los datos originales (file_id, usuario, etc.)\n    json: {\n      ...item.json, \n      segundos_espera: delay\n    },\n    // 3. ¡CRUCIAL! Pasamos el archivo de la foto (Binary)\n    // Sin esto, la foto se pierde aquí y no llega al escáner\n    binary: item.binary, \n    \n    // 4. ¡LA SOLUCIÓN AL ERROR ROJO! \n    // Le decimos a n8n: \"Este item nuevo corresponde al item original #index\"\n    pairedItem: { \n        item: index \n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-816,1408],"id":"302bf221-a1dc-4f6f-98d6-31b46082e7c7","name":"calculadora de espera"},{"parameters":{"amount":"={{ $json.segundos_espera }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-560,1408],"id":"89a8f3e6-5fb3-4b3f-931c-36651ad97fc4","name":"Wait","webhookId":"7758cdb2-de7c-4d34-a299-48c86910c9d2"},{"parameters":{"content":"## 🟡 Zona: Inicio y Enrutamiento (Start & Routing)\n\n🇪🇸 Español: Sistema: Inventario Altillo (Google Sheets) Rol: Router Principal. Entradas:\n\n📸 Foto: Envía a Sub-workflow de Escáner.\n\n📝 Texto: Usa GPT-4o para entender qué producto es.\n\n🖱️ Botones: Gestiona menús y formularios.\n\n🇺🇸 English: System: Altillo Inventory (Google Sheets) Role: Main Router. Inputs:\n\n📸 Photo: Sends to Scanner Sub-workflow.\n\n📝 Text: Uses GPT-4o to parse product intent.\n\n🖱️ Buttons: Manages menus and forms.","height":448,"width":512},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3152,1824],"id":"8be7b053-b450-4591-abfa-50a2de77a140","name":"Sticky Note"},{"parameters":{"content":"##🔵 Zona: Inteligencia Artificial (NLP & Logic)\nUbicación: Sobre Message a model y Code in JavaScript2\n\n🇪🇸 Español: NLP & Búsqueda Inteligente:\n\nGPT-4o: Convierte texto libre (\"Agrega leche\") en JSON estructurado.\n\nBúsqueda Difusa: El script JS compara el resultado de la IA con la base de datos existente para detectar duplicados (Fuzzy matching).\n\n🇺🇸 English: NLP & Smart Search:\n\nGPT-4o: Converts free text (\"Add milk\") into structured JSON.\n\nFuzzy Search: JS script compares AI results against existing DB to detect duplicates (Fuzzy matching).","height":320,"width":528,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2016,2128],"id":"30d6040c-cdd5-4da4-bee6-0d680b74dc44","name":"Sticky Note1"},{"parameters":{"content":"## 🟢 Zona: Base de Datos (Database)\nUbicación: Sobre el grupo de nodos Google Sheets\n\n🇪🇸 Español: Gestión Google Sheets: Lógica de Idempotencia:\n\nPrimero busca si el producto existe (Validacion).\n\nSi SI: Muestra menú de edición.\n\nSi NO: Crea nueva fila (Append row) y genera SKU.\n\n🇺🇸 English: Google Sheets Management: Idempotency Logic:\n\nFirst checks if product exists (Validation).\n\nIf YES: Shows edit menu.\n\nIf NO: Creates new row (Append row) and generates SKU.","height":432,"width":576,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[304,1792],"id":"29274569-9c0f-4663-86f5-b5d3dcd7a36e","name":"Sticky Note2"},{"parameters":{"content":"## 🟣 Zona: Actualización Interactiva (Interactive Forms)\nUbicación: Sobre Send message and wait for response\n\n🇪🇸 Español: Formularios Web en Telegram: Despliega un formulario HTML/CSS interactivo dentro del chat para que el usuario ingrese Precio y Stock cómodamente, sin usar comandos de texto complejos.\n\n🇺🇸 English: Telegram Web Forms: Deploys an interactive HTML/CSS form inside the chat for users to input Price and Stock easily, avoiding complex text commands.","height":336,"width":528,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-1568,1392],"typeVersion":1,"id":"1c65a592-cce3-480e-ae98-727dbfdc0014","name":"Sticky Note3"},{"parameters":{"content":"## 🔴 Zona: Control de Flujo (Flow Control)\nUbicación: Sobre calculadora de espera\n\n🇪🇸 Español: Jitter / Cola de Espera: Asigna un retraso aleatorio (2-25s) al procesar imágenes. Motivo: Evita condiciones de carrera (Race Conditions) y bloqueos de API.\n\n🇺🇸 English: Jitter / Wait Queue: Assigns a random delay (2-25s) when processing images. Reason: Prevents Race Conditions and API bans.","height":336,"width":464,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-864,1040],"typeVersion":1,"id":"d7f53d31-fafb-467f-b6e6-8be57f398d0f","name":"Sticky Note4"},{"parameters":{"content":"## ## 🛡️ Error Handling & Resilience / Manejo de Errores y Resiliencia\n\n**1. 📉 Google Sheets (Anti-Rate Limit)**\n* **Nodes / Nodos:** `Get rows`, `Append`, `Update`, `Validation`\n* **Settings:** `Retry On Fail` (5 tries, 5000ms wait).\n* **🇺🇸 English:** Prevents \"Quota Exceeded\" errors during high-volume batch processing (15+ items).\n* **🇪🇸 Español:** Evita el error de \"Cuota Excedida\" durante el procesamiento masivo de datos.\n\n**2. 🤖 AI & LLM (Stability / Estabilidad)**\n* **Nodes / Nodos:** `Message a model`\n* **Settings:** `Retry On Fail` (3 tries).\n* **🇺🇸 English:** Handles temporary OpenAI server timeouts or 503 errors without breaking the flow.\n* **🇪🇸 Español:** Maneja caídas temporales o tiempos de espera de OpenAI sin romper el flujo.\n\n**3. ⚡ Fault Tolerance / Tolerancia a Fallos**\n* **Nodes / Nodos:** `HTTP Request` (Books), `Call Escaner`\n* **Settings:** `Continue On Fail` + `Always Output Data`.\n* **🇺🇸 English:** Ensures the workflow continues even if a specific book is not found or a single photo fails.\n* **🇪🇸 Español:** Asegura que el flujo continúe aunque no se encuentre un libro específico o falle una sola foto.","height":480,"width":752,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-3264,2288],"typeVersion":1,"id":"9afd2883-3c51-413a-a8b7-11fb20c6de09","name":"Sticky Note5"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}],[{"node":"Send a text message1","type":"main","index":0}],[{"node":"Send a text message3","type":"main","index":0}],[{"node":"Get row(s) in sheet1","type":"main","index":0}],[{"node":"calculadora de espera","type":"main","index":0}],[{"node":"Message a model","type":"main","index":0}],[{"node":"Send a text message6","type":"main","index":0}],[]]},"HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Validacion de invetario","type":"main","index":0}]]},"Call Escaner de produtos":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Call Escaner de produtos","type":"main","index":0}]]},"If":{"main":[[{"node":"Send a text message7","type":"main","index":0}],[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Validacion de invetario":{"main":[[{"node":"If","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Get row(s) in sheet2","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Send a text message4","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Send message and wait for response","type":"main","index":0}]]},"Send message and wait for response":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Get row(s) in sheet2":{"main":[[{"node":"Send a text message2","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Send a text message5","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Get row(s) in sheet3","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Get row(s) in sheet3":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Send a text message9","type":"main","index":0}],[{"node":"Switch1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge","type":"main","index":2}]]},"calculadora de espera":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"authors":"Admin KiroxOn","name":"Version 4fed1a8e","description":"","workflowPublishHistory":[{"createdAt":"2026-02-09T12:20:57.984Z","id":125,"workflowId":"5YjZ3mlM7DIKyBV4","versionId":"4fed1a8e-8744-4435-bb09-0a51fb298986","event":"activated","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629"}]}}