workflows_BACKUP/KiroxON _ calificación mails P2--eMIAHZsUzK31XEHc.json
{"updatedAt":"2026-01-05T23:17:49.137Z","createdAt":"2026-01-05T23:17:43.357Z","id":"eMIAHZsUzK31XEHc","name":"KiroxON | calificación mails P2","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2096,256],"id":"3b7d0ddf-43ae-4b61-92b4-4ba76f058add","name":"Schedule Trigger"},{"parameters":{"content":"## Validar mails","height":364,"width":1332,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-656,128],"id":"d7d404aa-21f3-4614-b92c-e6e4f47c35c8","name":"Sticky Note"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $json.leadsReach }}","mode":"id"},"filterByFormula":"={ESTATUS} = \"Por Validar\"","options":{},"sort":{"property":[{"field":"ESTATUS","direction":"desc"}]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1024,272],"id":"e4d80256-9d4e-41b5-9704-68503fee8727","name":"Search records","alwaysOutputData":true},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"ACTUALIZACIÓN":"={{ $now.toISO() }}","ESTATUS":"=Error","EMAIL":"={{ $json.EMAIL }}"},"matchingColumns":["EMAIL"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"PAIS","value":"PAIS"},{"name":"Mexico","value":"Mexico"},{"name":"","value":""},{"name":"Belgium","value":"Belgium"},{"name":"Panama","value":"Panama"},{"name":"Chile","value":"Chile"},{"name":"Spain","value":"Spain"},{"name":"United States","value":"United States"},{"name":"Argentina","value":"Argentina"},{"name":"Australia","value":"Australia"},{"name":"Colombia","value":"Colombia"},{"name":"Ecuador","value":"Ecuador"},{"name":"France","value":"France"},{"name":"Canada","value":"Canada"},{"name":"Brazil","value":"Brazil"},{"name":"Dominican Republic","value":"Dominican Republic"},{"name":"Netherlands","value":"Netherlands"},{"name":"Portugal","value":"Portugal"},{"name":"Guatemala","value":"Guatemala"},{"name":"Venezuela","value":"Venezuela"},{"name":"Costa Rica","value":"Costa Rica"},{"name":"Germany","value":"Germany"},{"name":"Israel","value":"Israel"},{"name":"Mozambique","value":"Mozambique"},{"name":"Italy","value":"Italy"},{"name":"United Kingdom","value":"United Kingdom"},{"name":"Qatar","value":"Qatar"},{"name":"Oman","value":"Oman"},{"name":"Ireland","value":"Ireland"},{"name":"Peru","value":"Peru"},{"name":"Bulgaria","value":"Bulgaria"},{"name":"Malta","value":"Malta"},{"name":"India","value":"India"},{"name":"Austria","value":"Austria"},{"name":"Sweden","value":"Sweden"},{"name":"Nicaragua","value":"Nicaragua"},{"name":"El Salvador","value":"El Salvador"},{"name":"Zambia","value":"Zambia"},{"name":"Finland","value":"Finland"},{"name":"Antigua and Barbuda","value":"Antigua and Barbuda"}],"readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Por Validar","value":"Por Validar"},{"name":"Mail Valido","value":"Mail Valido"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"Mail no válido (mail)","value":"Mail no válido (mail)"},{"name":"Mail no válido (mailboxlayer)","value":"Mail no válido (mailboxlayer)"},{"name":"Lead Calificado","value":"Lead Calificado"},{"name":"Desuscribir","value":"Desuscribir"}],"readOnly":false,"removed":false},{"id":"Mail 1","displayName":"Mail 1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail 2","displayName":"Mail 2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail 3","displayName":"Mail 3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[64,560],"id":"615f32c0-9fae-412e-a3b6-ecefd8b8ac26","name":"updateError"},{"parameters":{"chatId":"1019249029","text":"=⚠️ {{ $node[\"masterVar\"].json.Cliente }}\nHubo un error con el evnío a {{ $json.EMAIL }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[240,560],"id":"198b1b21-10c2-44b6-a1d2-7ff42029a81a","name":"⚠️ Error","webhookId":"77a626da-496a-4d00-99be-de47099c63cd"},{"parameters":{"url":"=https://apilayer.net/api/check?access_key=4021272739d142e6325f732e4dc945ca&email={{ $json.EMAIL }}&smtp=1&format=1","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-176,272],"id":"5be7b017-43bb-491b-b342-f4ca1155e293","name":"verificarMail","retryOnFail":true,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-400,256],"id":"8cfdb666-e284-446d-a9dd-0ce1a35a2a3b","name":"Loop Over Items1"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[528,256],"id":"695f2d2f-823c-420e-b347-183b02baeb63","name":"Wait1","webhookId":"64f047b7-ee70-4a60-a19e-c7aaf88d28a2"},{"parameters":{"content":"## ERROR\n","height":204,"width":468,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-48,512],"id":"36cf1bec-07c6-4eee-808e-f736fce3e3ef","name":"Sticky Note4"},{"parameters":{"assignments":{"assignments":[{"id":"ef937799-b34d-4e63-b23f-c9f95e9e105a","name":"Cliente","value":"={{ $json.Cliente }}","type":"string"},{"id":"45406798-3793-4e2a-bf02-64749bb8d758","name":"Base","value":"={{ $json.Base }}","type":"string"},{"id":"30c47d20-a1ff-4006-8cf6-b8f241900fbd","name":"leadsReach","value":"={{ $json.leadsReach }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1232,272],"id":"d0258a94-dab5-46db-afa9-f8f74f8e4e5c","name":"clienteVar"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"93cefa2b-ef2c-434c-a87a-f11475417001","leftValue":"={{ $json.smtp_check }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"True"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"71c3308d-56a1-4132-ba0a-b7ffa8a76e0a","leftValue":"={{ $json.error.code }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Error"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6d999584-8b3a-4ffd-b6ee-4d875f2864a4","leftValue":"={{ $json.smtp_check }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"False"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[0,240],"id":"d6d8e949-384d-4e65-979d-2556aa2fe4a5","name":"Switch"},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.email }}","ESTATUS":"Mail Valido"},"matchingColumns":["EMAIL"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"DESCRIPCIÓN EMPRESA","displayName":"DESCRIPCIÓN EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA LINKEDIN URL","displayName":"EMPRESA LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Por Validar","value":"Por Validar"},{"name":"Mail Valido","value":"Mail Valido"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"},{"name":"Mail no válido","value":"Mail no válido"},{"name":"Mail no válido (mailboxlayer)","value":"Mail no válido (mailboxlayer)"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Lead Calificado","value":"Lead Calificado"},{"name":"Vacaciones","value":"Vacaciones"},{"name":"Erorr","value":"Erorr"}],"readOnly":false,"removed":false},{"id":"Mail 1","displayName":"Mail 1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail 2","displayName":"Mail 2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail 3","displayName":"Mail 3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[272,160],"id":"b7055eab-51b5-4de5-869a-83dfd062ba64","name":"Mail Valido"},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.email }}","ESTATUS":"Mail no válido (mailboxlayer)"},"matchingColumns":["EMAIL"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"PAIS","value":"PAIS"},{"name":"Mexico","value":"Mexico"},{"name":"","value":""},{"name":"Belgium","value":"Belgium"},{"name":"Panama","value":"Panama"},{"name":"Chile","value":"Chile"},{"name":"Spain","value":"Spain"},{"name":"United States","value":"United States"},{"name":"Argentina","value":"Argentina"},{"name":"Australia","value":"Australia"},{"name":"Colombia","value":"Colombia"},{"name":"Ecuador","value":"Ecuador"},{"name":"France","value":"France"},{"name":"Canada","value":"Canada"},{"name":"Brazil","value":"Brazil"},{"name":"Dominican Republic","value":"Dominican Republic"},{"name":"Netherlands","value":"Netherlands"},{"name":"Portugal","value":"Portugal"},{"name":"Guatemala","value":"Guatemala"},{"name":"Venezuela","value":"Venezuela"},{"name":"Costa Rica","value":"Costa Rica"},{"name":"Germany","value":"Germany"},{"name":"Israel","value":"Israel"},{"name":"Mozambique","value":"Mozambique"},{"name":"Italy","value":"Italy"},{"name":"United Kingdom","value":"United Kingdom"},{"name":"Qatar","value":"Qatar"},{"name":"Oman","value":"Oman"},{"name":"Ireland","value":"Ireland"},{"name":"Peru","value":"Peru"},{"name":"Bulgaria","value":"Bulgaria"},{"name":"Malta","value":"Malta"},{"name":"India","value":"India"},{"name":"Austria","value":"Austria"},{"name":"Sweden","value":"Sweden"},{"name":"Nicaragua","value":"Nicaragua"},{"name":"El Salvador","value":"El Salvador"},{"name":"Zambia","value":"Zambia"},{"name":"Finland","value":"Finland"},{"name":"Antigua and Barbuda","value":"Antigua and Barbuda"}],"readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"Mail no válido (mail)","value":"Mail no válido (mail)"},{"name":"Mail no válido (mailboxlayer)","value":"Mail no válido (mailboxlayer)"},{"name":"Lead Calificado","value":"Lead Calificado"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Mail no válido (mail boxlayer)","value":"Mail no válido (mail boxlayer)"}],"readOnly":false,"removed":false},{"id":"Mail 1","displayName":"Mail 1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail 2","displayName":"Mail 2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail 3","displayName":"Mail 3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[272,320],"id":"6bfd875f-d321-41e5-9546-2e5cfcf88b5d","name":"Mail no valido"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"=appoIrpJlprLtsUFF","mode":"id"},"table":{"__rl":true,"value":"tblzPRsNmPuFKgaqp","mode":"id"},"filterByFormula":"={Cliente} = \"{{ $json.Cliente }}\"","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1664,256],"id":"64c81e14-3474-4466-9c4a-6029abd26a4a","name":"KiroxON Clientes"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1440,256],"id":"1da865ec-e8f7-4340-99d3-8b179e7c1d5e","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1120,32],"id":"94907dba-5260-4762-9bda-6c6b66d31b0d","name":"No Operation, do nothing1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f32755f8-28d5-4bf1-83eb-61c33b1b9819","leftValue":"={{ $items().length === 0 || Object.keys($json).length === 0 }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-640,272],"id":"0e7031ce-144e-49d0-8ad6-027967655012","name":"If"},{"parameters":{"content":"## Eleccion de Cliente","height":316,"width":1012},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1712,176],"id":"90467421-dd77-4bca-bdab-7a81056f36e1","name":"Sticky Note1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,0],"id":"bcf2312d-23d2-4085-8aba-45a67cf1cc7f","name":"No Operation, do nothing","executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"0ba3ba15-8028-44b3-a84b-80cea2d2f022","name":"Cliente","value":"Madema","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1888,256],"id":"8b8c8ff3-261e-4c42-b830-de2a6ed6a64c","name":"cliente"},{"parameters":{"maxItems":50},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-816,272],"id":"491112c7-ef18-4d09-8d3f-6fb2b03694bb","name":"Limit"}],"connections":{"Schedule Trigger":{"main":[[{"node":"cliente","type":"main","index":0}]]},"Search records":{"main":[[{"node":"Limit","type":"main","index":0}]]},"updateError":{"main":[[{"node":"⚠️ Error","type":"main","index":0}]]},"⚠️ Error":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"verificarMail":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"updateError","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"verificarMail","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"clienteVar":{"main":[[{"node":"Search records","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Mail Valido","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}],[{"node":"Mail no valido","type":"main","index":0}]]},"Mail Valido":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Mail no valido":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"KiroxON Clientes":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"clienteVar","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"cliente":{"main":[[{"node":"KiroxON Clientes","type":"main","index":0}]]},"Limit":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"4df1fc2e-3f7f-4654-a277-3b005f507c35","activeVersionId":null,"versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2026-01-05T23:17:43.362Z","createdAt":"2026-01-05T23:17:43.362Z","role":"workflow:owner","workflowId":"eMIAHZsUzK31XEHc","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[{"updatedAt":"2026-01-05T04:45:25.095Z","createdAt":"2026-01-05T04:45:25.095Z","id":"PdQTwVw5NnLaxkX0","name":"Leads"},{"updatedAt":"2026-01-05T04:44:20.809Z","createdAt":"2026-01-05T04:44:20.809Z","id":"j1mm1WBrRQcYk9z1","name":"Mailing"}],"activeVersion":null}