workflows_BACKUP/Madema _ Secuencia Mails 3.3--umr6lm5g3ye8G7rj.json
{"updatedAt":"2026-01-26T22:20:53.651Z","createdAt":"2026-01-08T19:29:13.175Z","id":"umr6lm5g3ye8G7rj","name":"Madema | Secuencia Mails 3.3","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1,2,3,4,5],"triggerAtHour":9},{"field":"weeks","triggerAtDay":[1,2,3,4,5],"triggerAtHour":15}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2496,304],"id":"dff41d3e-d232-49d1-b5a2-ff590d910457","name":"Schedule Trigger"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $json.leadsReach }}","mode":"id"},"filterByFormula":"=AND(\n  {ESTATUS} != \"duplicado\",\n  {ESTATUS} != \"Descalificado\",\n  {ESTATUS} != \"Mail 3\",\n  {ESTATUS} != \"Mail no válido\",\n  {ESTATUS} != \"Mail no válido (mailboxlayer)\",\n  {ESTATUS} != \"Desuscribir\",\n  {ESTATUS} != \"Lead Calificado\"\n)","options":{},"sort":{"property":[{"field":"ESTATUS","direction":"desc"}]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1664,304],"id":"349fdae6-5a77-4a58-b128-e8ec35cc25b4","name":"Search records","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"maxItems":"={{ $node[\"masterVar\"].json.envios }}"},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-1264,304],"id":"f37776be-eee3-4254-9a1b-147facf3b80c","name":"Limit"},{"parameters":{"assignments":{"assignments":[{"id":"59b03f17-220e-4474-8b91-db49f9b859d5","name":"Cliente","value":"Madema","type":"string"},{"id":"f769229f-796d-47bf-8fee-77b63f21d09f","name":"airtableBD","value":"appoIrpJlprLtsUFF","type":"string"},{"id":"06f2cbd4-0cbc-42cc-8da4-b6a12967fcf2","name":"Clientes_Variables","value":"tblzPRsNmPuFKgaqp","type":"string"},{"id":"337bf7e0-1109-40d2-85c1-91d4648539c4","name":"envios","value":15,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2288,304],"id":"dc2eb3cc-0029-4887-9e0e-35c695a193e9","name":"masterVar"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $json.airtableBD }}","mode":"id"},"table":{"__rl":true,"value":"={{ $json.Clientes_Variables }}","mode":"id"},"filterByFormula":"={{ '{Cliente} = \"' + $json.Cliente + '\"' }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-2080,304],"id":"68d9391f-b799-44bc-946d-2784d4b6faab","name":"Cliente","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"assignments":{"assignments":[{"id":"45406798-3793-4e2a-bf02-64749bb8d758","name":"Base","value":"={{ $json.Base }}","type":"string"},{"id":"30c47d20-a1ff-4006-8cf6-b8f241900fbd","name":"leadsReach","value":"={{ $json.leadsReach }}","type":"string"},{"id":"ef937799-b34d-4e63-b23f-c9f95e9e105a","name":"Cliente","value":"={{ $json.Cliente }}","type":"string"},{"id":"be818248-53a5-432e-b08b-537768e04501","name":"Nombre","value":"={{ $json.Nombre }}","type":"string"},{"id":"25688b6c-7bb8-40ed-8112-38f3eb631efb","name":"Cargo","value":"={{ $json.Cargo }}","type":"string"},{"id":"117595c4-770f-48b8-9a5e-0f64b29aed1e","name":"sitioWeb","value":"={{ $json.sitioWeb }}","type":"string"},{"id":"84512513-1084-41fe-898a-2651fce1d223","name":"Whatsapp","value":"={{ $json.Whatsapp }}","type":"string"},{"id":"9706e279-bdf0-458e-8e04-7fe916f12c3e","name":"Brochure","value":"={{ $json.Brochure }}","type":"string"},{"id":"254e7d34-eb70-4df5-be23-482455393221","name":"Servicio","value":"={{ $json.Servicio }}","type":"string"},{"id":"9f40f5fd-3ddf-4215-bf4a-8e09f15bb946","name":"Beneficios","value":"={{ $json.Beneficios }}","type":"string"},{"id":"1a68c967-74fc-4d14-8fe7-df11aeca9e73","name":"propuestaValor","value":"={{ $json.propuestaValor }}","type":"string"},{"id":"cd550533-801a-4a75-95da-bea19fc1c0f8","name":"Backlog","value":"={{ $json.Backlog }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1872,304],"id":"6454c3da-bd1c-45c6-a12a-e27f8cf079b8","name":"clienteVar"},{"parameters":{"promptType":"define","text":"=Prospecto:\nNombre: {{$json.NOMBRE}}\nApellido: {{$json.APELLIDO}}\nAbout: {{ $json.ABOUT }}\nCargo: {{$json.CARGO}}\nEmpresa: {{$json.EMPRESA}}\nDescripción de la empresa: {{ $json['DESCRIPCIÓN EMPRESA'] }}\nIndustria: {{$json.INDUSTRIA}}\nTamaño de empresa: {{$json.TAMAÑO}}\nCiudad: {{$json.CIUDAD}}\nPaís: {{$json.PAIS}}\nTeléfono: {{$json.TELEFONO}}\nEmail actual a enviar: {{$json.nextEmail}}\n\nGenera el objeto JSON, sin comillas invertidas, sin texto adicional:\n{\n  \"ID\": \"{{ $json.id }}\",\n  \"Mail\": \"{{ $json.EMAIL }}\",\n  \"Subject\": \"<máx. 50 caracteres>\",\n  \"Mensaje\": \"<cuerpo HTML>\",\n  \"nextMail\": \"{{ $json.nextEmail }}\"\n}","options":{"systemMessage":"=Eres {{ $node[\"clienteVar\"].json.Nombre }}, {{ $node[\"clienteVar\"].json.Cargo }} de {{ $node[\"clienteVar\"].json.Cliente }}, una empresa especializada en:\n\n{{ $node[\"clienteVar\"].json.Servicio }}\n\nTu objetivo es generar respuestas de prospectos en frío mediante correos B2B escritos en español, que despierten interés y los lleven a responder el correo o escribir por WhatsApp.\n\n🎯 FUNCIONAMIENTO\n\nRecibes un objeto JSON con los datos del prospecto y el campo nextEmail (\"Mail 1\", \"Mail 2\" o \"Mail 3\").\n\nRedacta un correo original según el objetivo indicado por nextEmail, basándote en la sección “OBJETIVOS DEL CORREO”.\n\nPersonaliza el mensaje usando los datos del prospecto:\n\n{{ $json.NOMBRE }}\n{{ $json.CARGO }}\n{{ $json.EMPRESA }}\n{{ $json.INDUSTRIA }}\n{{ $json.ABOUT }}\n{{ $json.TAMAÑO }} \n{{ $json.CIUDAD }}, {{ $json.PAIS }}\n\nMenciona un reto o contexto relevante para su industria si puedes identificarlo\n\nIntegra con naturalidad la información de tu empresa:\n\nPropuesta de valor: {{ $node[\"clienteVar\"].json.propuestaValor }}\nBeneficios: {{ $node[\"clienteVar\"].json.Beneficios }}\n\nUsa como recursos:\n\nBrochure: {{ $node[\"clienteVar\"].json.Brochure }}\nSitio web: {{ $node[\"clienteVar\"].json.sitioWeb }}\nWhatsApp: {{ $node[\"clienteVar\"].json.Whatsapp }}\n\nEl WhatsApp procura también incluirlo en el CTA.\n\nSi alguna variable no está presente, omite esa sección sin dejar huecos ni errores.\n\nPosiciónate como experto, no como vendedor. Refuerza autoridad con validación social (referencias) o resultados cuando estén disponibles.\n\nCierra el correo con la firma, en tres líneas separadas con <br>:\n\n{{ $node[\"clienteVar\"].json.Nombre }}<br>\n{{ $node[\"clienteVar\"].json.Cargo }}<br>\n{{ $node[\"clienteVar\"].json.sitioWeb }}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-736,304],"id":"16f9925e-9402-48d0-a7b3-7eda3b6bd6ee","name":"AI Agent1","alwaysOutputData":true,"retryOnFail":true,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"gpt-3.5-turbo"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-736,512],"id":"ef065281-94a9-4407-ba9c-39cf181eeede","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"bJgGA8hIumaSAysH","name":"KiroxON|OpenAi account"}}},{"parameters":{"jsCode":"return items.map(item => {\n  let parsedData = {};\n  let output = item.json.output;\n\n  if (typeof output !== 'string') {\n    output = String(output || '');\n  }\n\n  // Limpieza básica de caracteres problemáticos\n  output = output\n    .replace(/\\\\n/g, \"\\\\n\")  // mantener los \\n escapados\n    .replace(/\\\\r/g, \"\\\\r\")\n    .replace(/\\r?\\n|\\r/g, \"\") // quitar saltos de línea no escapados\n    .replace(/\\t/g, \"\\\\t\")\n    .replace(/[\\u0000-\\u001F]+/g, \"\"); // quitar caracteres de control no imprimibles\n\n  // Intentar parsear\n  try {\n    parsedData = JSON.parse(output);\n  } catch (error) {\n    // Si falla, intentar extraer con expresiones regulares como respaldo\n    const subjectMatch = output.match(/\"Subject\"\\s*:\\s*\"([^\"]+)\"/);\n    const mensajeMatch = output.match(/\"Mensaje\"\\s*:\\s*\"([\\s\\S]*?)\",\\s*\"nextMail\"/);\n\n    return {\n      json: {\n        Subject: subjectMatch ? subjectMatch[1] : '',\n        Mensaje: mensajeMatch ? mensajeMatch[1].replace(/\\\\\"/g, '\"') : '',\n        error: 'JSON inválido (uso regex)',\n        errorMessage: error.message,\n        rawOutput: output,\n      }\n    };\n  }\n\n  const subject = parsedData.Subject || parsedData.subject || '';\n  const mensaje = parsedData.Mensaje || parsedData.mensaje || parsedData.message || '';\n\n  return {\n    json: {\n      Subject: subject,\n      Mensaje: mensaje,\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-368,224],"id":"0ca6d0c3-6411-43fb-9373-d2d0d1358aea","name":"setVariables"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('VariablesMail').item.json.ID }}","ACTUALIZACIÓN":"={{ $now.toISO() }}","ESTATUS":"={{ $('VariablesMail').item.json.nextMail }}","Mail 1":"=Subject: {{ $('subjectOpt1').item.json.message.content }}\nMensaje: {{ $('mensajeOpt1').item.json.message.content }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"DESCRIPCIÓN EMPRESA","displayName":"DESCRIPCIÓN EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA LINKEDIN URL","displayName":"EMPRESA LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"},{"name":"Mail no válido (mail)","value":"Mail no válido (mail)"},{"name":"Mail no válido (mailboxlayer)","value":"Mail no válido (mailboxlayer)"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Lead Calificado","value":"Lead Calificado"},{"name":"Vacaciones","value":"Vacaciones"}],"readOnly":false,"removed":false},{"id":"Mail 1","displayName":"Mail 1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Mail 2","displayName":"Mail 2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail 3","displayName":"Mail 3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1056,240],"id":"4e76c542-ad9c-4f70-88cf-7e38a94d33ac","name":"updateMail1","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"chatId":"1019249029","text":"=⚠️ {{ $node[\"masterVar\"].json.Cliente }}\nHubo un error con el evnío a {{ $('nextMail').item.json.EMAIL }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[80,736],"id":"c8438b05-cd6f-4ce0-950a-fa4c8688a0fa","name":"⚠️ Error1","webhookId":"ffc58baa-a2df-4876-a3cd-ce189a5bb171","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"content":"## Creación y optimización del mensaje\n1. Creación del mail\n2. Optimización del mail","height":476,"width":1396,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-944,160],"id":"a17e632d-d4f4-440e-a7f2-c45a9a83ac08","name":"Sticky Note5"},{"parameters":{"content":"## Envío\n1. Envío del correo\n2. Actualización del Lead\n3. Reporte a Backlog","height":716,"width":1124},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[496,176],"id":"062db0aa-3e06-4672-b1e3-09ac10a9fc66","name":"Sticky Note6"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[272,736],"id":"c6070f45-c754-4086-81d9-d71fe351940f","name":"No Operation, do nothing2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[336,0],"id":"1374544c-1265-4e67-8b00-6e389dae1abb","name":"No Operation, do nothing3"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1456,528],"id":"2667e31d-56da-4f7a-87de-931ffec1014a","name":"Wait2","webhookId":"b2a2ff3c-1264-469f-a806-256787dd93e6"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1056,288],"id":"92486233-3c65-4099-bcd5-3a07b4e25131","name":"Loop Over Items2","onError":"continueErrorOutput"},{"parameters":{"content":"## ERROR\n","height":204,"width":612,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-176,688],"id":"5aaa91e1-3057-4f78-951d-fcbc2ea55214","name":"Sticky Note7"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4-turbo","mode":"list","cachedResultName":"GPT-4-TURBO"},"messages":{"values":[{"content":"={{ $json.Subject }}"},{"content":"=Actúa como un experto en copywriting especializado en email marketing. Tu tarea es optimizar asuntos de correos electrónicos (Subjects) para que sean irresistibles, humanos y altamente efectivos en términos de apertura y conversión.\n\nRecibirás un Subject inicial de un correo. Tu trabajo es transformarlo en una versión mejorada que:\n\nDespierte curiosidad, urgencia o interés real.\n\nSuene natural y humano, como si lo escribiera una persona, no una máquina.\n\nEvite clichés, fórmulas genéricas y tono robótico.\n\nSea breve y directa (idealmente menos de 50 caracteres).\n\nInvite al lector a abrir el correo sin hacer falsas promesas.\n\nEsté pensada para público real, no para tests A/B técnicos.\n\nIMPORTANTE: Devuelve solo el mejor Subject posible, no una lista.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[16,224],"id":"890a1ecf-995c-4834-9a53-d20cc824dc4e","name":"subjectOpt1","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"openAiApi":{"id":"bJgGA8hIumaSAysH","name":"KiroxON|OpenAi account"}},"onError":"continueErrorOutput"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4-turbo","mode":"list","cachedResultName":"GPT-4-TURBO"},"messages":{"values":[{"content":"={{ $('VariablesMail').item.json.Mensaje }}"},{"content":"=Eres un ejecutivo de ventas senior experto en generar interés en prospectos en frío mediante correos B2B en español. Tu habilidad principal es transformar mensajes base en correos altamente efectivos que generen respuestas, reuniones, llamadas o conversaciones por WhatsApp.\n\n🎯 Objetivo:\n\nReescribir un mensaje base para convertirlo en un correo en frío atractivo y profesional, manteniendo claridad, brevedad y una estructura HTML limpia.\n\n📌 Instrucciones clave:\n\nRepresentas a  {{ $node[\"clienteVar\"].json.Nombre }},  {{ $node[\"clienteVar\"].json.Cargo }} de {{ $node[\"clienteVar\"].json.Cliente }}, una empresa especializada en:\n\n{{ $node[\"clienteVar\"].json.Servicio }}\n\n- Usa un tono directo, profesional y humano.\n- El objetivo es lograr una respuesta del lead (reunión, llamada, mensaje o correo).\n- No inventes información adicional. Optimiza lo que recibes.\n- Estructura el correo en HTML plano, sin <html>, <head>, <body>, sin markdown ni bloques de código.\n- No incluyas más de un enlace si no es necesario. Úsalos solo si aumentan el valor del mensaje.\n\n✅ Recursos disponibles:\n\nBrochure: {{ $node[\"clienteVar\"].json.Brochure }}\nSitio web: {{ $node[\"clienteVar\"].json.sitioWeb }}\nWhatsApp: {{ $node[\"clienteVar\"].json.Whatsapp }}\n\n📤 Formato de salida:\n\n- Devuelve solo el cuerpo del correo en HTML plano.\n- No uses etiquetas <html>, <body>, bloques de código ni comillas.\n- La firma debe ser exactamente esta:\n\n{{ $node[\"clienteVar\"].json.Nombre }}<br>\n{{ $node[\"clienteVar\"].json.Cargo }}<br>\n{{ $node[\"clienteVar\"].json.sitioWeb }}","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[128,448],"id":"127b34d0-f110-4750-ad35-87ef3421ee11","name":"mensajeOpt1","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"openAiApi":{"id":"bJgGA8hIumaSAysH","name":"KiroxON|OpenAi account"}},"onError":"continueErrorOutput"},{"parameters":{"content":"## VARIABLE\nEditar solo Cliente. Debe estar tal cual en Airtable","height":304,"width":176,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-2320,176],"typeVersion":1,"id":"eeb6e4ae-d5d6-4b7d-ba97-1ac1e1ba3771","name":"Sticky Note8"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('VariablesMail').item.json.nextMail }}","rightValue":"Mail 1","operator":{"type":"string","operation":"equals"},"id":"6e995ed7-a8c8-4ffa-91ff-c85bd41b23a9"}],"combinator":"and"},"renameOutput":true,"outputKey":"Mail 1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cd628151-0c27-49f8-a6e9-efda908073fa","leftValue":"={{ $('VariablesMail').item.json.nextMail }}","rightValue":"Mail 2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mail 2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1c01b451-d22d-4ad5-ad47-f7fbe97be7ec","leftValue":"={{ $('VariablesMail').item.json.nextMail }}","rightValue":"Mail 3","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mail 3"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[784,416],"id":"8eac5317-1d49-426c-a318-25cb568fd502","name":"Switch"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('VariablesMail').item.json.ID }}","ACTUALIZACIÓN":"={{ $now.toISO() }}","ESTATUS":"={{ $('VariablesMail').item.json.nextMail }}","Mail 2":"=Subject: {{ $('subjectOpt1').item.json.message.content }} Mensaje: {{ $('mensajeOpt1').item.json.message.content }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"PAIS","value":"PAIS"},{"name":"Mexico","value":"Mexico"},{"name":"","value":""},{"name":"Belgium","value":"Belgium"},{"name":"Panama","value":"Panama"},{"name":"Chile","value":"Chile"},{"name":"Spain","value":"Spain"},{"name":"United States","value":"United States"},{"name":"Argentina","value":"Argentina"},{"name":"Australia","value":"Australia"},{"name":"Colombia","value":"Colombia"},{"name":"Ecuador","value":"Ecuador"},{"name":"France","value":"France"},{"name":"Canada","value":"Canada"},{"name":"Brazil","value":"Brazil"},{"name":"Dominican Republic","value":"Dominican Republic"},{"name":"Netherlands","value":"Netherlands"},{"name":"Portugal","value":"Portugal"},{"name":"Guatemala","value":"Guatemala"},{"name":"Venezuela","value":"Venezuela"},{"name":"Costa Rica","value":"Costa Rica"},{"name":"Germany","value":"Germany"},{"name":"Israel","value":"Israel"},{"name":"Mozambique","value":"Mozambique"},{"name":"Italy","value":"Italy"},{"name":"United Kingdom","value":"United Kingdom"},{"name":"Qatar","value":"Qatar"},{"name":"Oman","value":"Oman"},{"name":"Ireland","value":"Ireland"},{"name":"Peru","value":"Peru"},{"name":"Bulgaria","value":"Bulgaria"},{"name":"Malta","value":"Malta"},{"name":"India","value":"India"},{"name":"Austria","value":"Austria"},{"name":"Sweden","value":"Sweden"},{"name":"Nicaragua","value":"Nicaragua"},{"name":"El Salvador","value":"El Salvador"},{"name":"Zambia","value":"Zambia"},{"name":"Finland","value":"Finland"},{"name":"Antigua and Barbuda","value":"Antigua and Barbuda"}],"readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"Mail no válido (mail)","value":"Mail no válido (mail)"},{"name":"Mail no válido (mailboxlayer)","value":"Mail no válido (mailboxlayer)"},{"name":"Lead Calificado","value":"Lead Calificado"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Mail no válido (mail boxlayer)","value":"Mail no válido (mail boxlayer)"}],"readOnly":false,"removed":false},{"id":"Mail 1","displayName":"Mail 1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail 2","displayName":"Mail 2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Mail 3","displayName":"Mail 3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1056,432],"id":"af7bfceb-4e90-4bbb-8ea5-7e2732c01c1e","name":"updateMail2","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('VariablesMail').item.json.ID }}","ACTUALIZACIÓN":"={{ $now.toISO() }}","ESTATUS":"={{ $('VariablesMail').item.json.nextMail }}","Mail 3":"=Subject: {{ $('subjectOpt1').item.json.message.content }}\nMensaje: {{ $('mensajeOpt1').item.json.message.content }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"PAIS","value":"PAIS"},{"name":"Mexico","value":"Mexico"},{"name":"","value":""},{"name":"Belgium","value":"Belgium"},{"name":"Panama","value":"Panama"},{"name":"Chile","value":"Chile"},{"name":"Spain","value":"Spain"},{"name":"United States","value":"United States"},{"name":"Argentina","value":"Argentina"},{"name":"Australia","value":"Australia"},{"name":"Colombia","value":"Colombia"},{"name":"Ecuador","value":"Ecuador"},{"name":"France","value":"France"},{"name":"Canada","value":"Canada"},{"name":"Brazil","value":"Brazil"},{"name":"Dominican Republic","value":"Dominican Republic"},{"name":"Netherlands","value":"Netherlands"},{"name":"Portugal","value":"Portugal"},{"name":"Guatemala","value":"Guatemala"},{"name":"Venezuela","value":"Venezuela"},{"name":"Costa Rica","value":"Costa Rica"},{"name":"Germany","value":"Germany"},{"name":"Israel","value":"Israel"},{"name":"Mozambique","value":"Mozambique"},{"name":"Italy","value":"Italy"},{"name":"United Kingdom","value":"United Kingdom"},{"name":"Qatar","value":"Qatar"},{"name":"Oman","value":"Oman"},{"name":"Ireland","value":"Ireland"},{"name":"Peru","value":"Peru"},{"name":"Bulgaria","value":"Bulgaria"},{"name":"Malta","value":"Malta"},{"name":"India","value":"India"},{"name":"Austria","value":"Austria"},{"name":"Sweden","value":"Sweden"},{"name":"Nicaragua","value":"Nicaragua"},{"name":"El Salvador","value":"El Salvador"},{"name":"Zambia","value":"Zambia"},{"name":"Finland","value":"Finland"},{"name":"Antigua and Barbuda","value":"Antigua and Barbuda"}],"readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"Mail no válido (mail)","value":"Mail no válido (mail)"},{"name":"Mail no válido (mailboxlayer)","value":"Mail no válido (mailboxlayer)"},{"name":"Lead Calificado","value":"Lead Calificado"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Mail no válido (mail boxlayer)","value":"Mail no válido (mail boxlayer)"}],"readOnly":false,"removed":false},{"id":"Mail 1","displayName":"Mail 1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail 2","displayName":"Mail 2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail 3","displayName":"Mail 3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1056,592],"id":"8ae4fc13-5e58-4075-b631-7e083b4ce15e","name":"updateMail3","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"chatId":"1019249029","text":"=⚠️ {{ $node[\"masterVar\"].json.Cliente }}\nHubo un error con el evnío a {{ $('VariablesMail').item.json.Mail }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[800,656],"id":"350591e0-4e70-442c-9b3a-31e7f6a22b89","name":"⚠️ Error3","webhookId":"6c86a43d-41c6-4457-b12a-27147e930d44","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Backlog }}","mode":"id"},"filterByFormula":"IS_SAME({actualizacion}, TODAY(), 'day')","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[0,0],"id":"6c92c12f-7af6-4528-bc58-adfd156d40c9","name":"searchBacklog","executeOnce":true,"alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"assignments":{"assignments":[{"id":"eb48d37a-dcfb-4509-927d-5f4fe3d3cee0","name":"ID","value":"={{ $('Loop Over Items2').item.json.id }}","type":"string"},{"id":"288846af-6c83-47bb-9563-3e62ba711162","name":"Subject","value":"={{ $json.Subject }}","type":"string"},{"id":"0af8408c-c8f5-44e7-91ce-d23b59bb9c1d","name":"Mensaje","value":"={{ $json.Mensaje }}","type":"string"},{"id":"bb396285-f8b7-487f-a967-ca16b8d0aabd","name":"Mail","value":"={{ $('Loop Over Items2').item.json.EMAIL }}","type":"string"},{"id":"7830ad22-d847-4b99-85e3-0b2aeb2d06b3","name":"nextMail","value":"={{ $('Loop Over Items2').item.json.nextEmail }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-176,224],"id":"8c1caefb-1e50-4dac-b477-69031796f356","name":"VariablesMail"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Backlog }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $('VariablesMail').item.json.ID }}","Mail":"={{ $('VariablesMail').item.json.Mail }}","Estatus":"={{ $('VariablesMail').item.json.nextMail }}","actualizacion":"={{ $now.toISO() }}"},"matchingColumns":["id"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"Fallback","value":"Fallback"}],"readOnly":false,"removed":false},{"id":"actualizacion","displayName":"actualizacion","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1296,432],"id":"4672ceb3-affe-4887-9f46-265a5e530d10","name":"updateBacklog","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('nextMail').item.json.id }}","ACTUALIZACIÓN":"={{ $now.toISO() }}","ESTATUS":"=Error"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"10001+","value":"10001+"},{"name":"1-10","value":"1-10"},{"name":"51-200","value":"51-200"},{"name":"1001-5000","value":"1001-5000"},{"name":"201-500","value":"201-500"},{"name":"5001-10000","value":"5001-10000"},{"name":"11-50","value":"11-50"},{"name":"501-1000","value":"501-1000"}],"readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"}],"readOnly":false,"removed":false},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-128,736],"id":"39bde0be-c59d-41bc-b1b1-0503e48bc435","name":"updateError","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"content":"## Eleccion correos","height":256,"width":608},"type":"n8n-nodes-base.stickyNote","position":[-1712,208],"typeVersion":1,"id":"bd4de453-013a-4d70-979a-bc78beac0e06","name":"Sticky Note"},{"parameters":{"chatId":"1019249029","text":"={{ $node[\"masterVar\"].json.Cliente }}\n📮 Hoy tuvimos {{ $items(\"searchBacklog\", 0).length }} registro{{ $items(\"searchBacklog\", 0).length === 1 ? \"\" : \"s\" }}.","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[176,0],"id":"c8a11e10-b9d2-4ab4-a514-d0b4129b702a","name":"✅","webhookId":"d1a54537-e436-46da-a682-5c74c0df64e3","executeOnce":true,"credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"jsCode":"function countBusinessDays(startDate, endDate) {\n  let count = 0;\n  let currentDate = new Date(startDate);\n  currentDate.setHours(0, 0, 0, 0);\n  endDate = new Date(endDate);\n  endDate.setHours(0, 0, 0, 0);\n\n  while (currentDate <= endDate) {\n    const day = currentDate.getDay();\n    if (day !== 0 && day !== 6) count++;\n    currentDate.setDate(currentDate.getDate() + 1);\n  }\n  return count;\n}\n\nconst hoy = new Date();\nhoy.setHours(0, 0, 0, 0);\n\nreturn items\n  .map(item => {\n    const estatus = (item.json.ESTATUS || '').trim().toLowerCase();\n    const actualizacion = new Date(item.json[\"ACTUALIZACIÓN\"]);\n    \n    if (isNaN(actualizacion)) {\n      // Si la fecha es inválida, omite este item\n      return null;\n    }\n\n    actualizacion.setHours(0, 0, 0, 0);\n\n    let nextEmail = null;\n\n    if (estatus === 'mail valido' || estatus === 'vacaciones') {\n      nextEmail = 'Mail 1';\n    } else if (estatus === 'mail 1' && countBusinessDays(actualizacion, hoy) >= 3) {\n      nextEmail = 'Mail 2';\n    } else if (estatus === 'mail 2' && countBusinessDays(actualizacion, hoy) >= 3) {\n      nextEmail = 'Mail 3';\n    } else if (estatus === 'duplicado') {\n      nextEmail = 'duplicado';\n    }\n\n    if (nextEmail) {\n      return {\n        json: {\n          ...item.json,\n          nextEmail,\n        }\n      };\n    }\n\n    return null;\n  })\n  .filter(item => item !== null);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1440,304],"id":"5fd4acb5-17c7-436f-8075-4494409620db","name":"nextMail","executeOnce":false},{"parameters":{"content":"## Actualizar mail","height":256,"color":4},"type":"n8n-nodes-base.stickyNote","position":[480,368],"typeVersion":1,"id":"a1e5e540-4ff4-41db-93d5-3040c9d1d307","name":"Sticky Note1"},{"parameters":{"toRecipients":"={{ $('VariablesMail').item.json.Mail }}","subject":"={{ $('subjectOpt1').item.json.message.content.replace(/^[\"']|[\"']$/g, '') }}","bodyContent":"={{ $json.message.content }}","additionalFields":{"bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[512,432],"id":"f482dd3a-7787-4ff5-a3d1-5403ff0dae74","name":"Mail ","webhookId":"dc059a05-05f8-45a5-a9bf-dc5af2581d1c","credentials":{"microsoftOutlookOAuth2Api":{"id":"Aq8l0Nsjo7FCUAbV","name":"Microsoft Outlook Madema"}},"onError":"continueErrorOutput"}],"connections":{"Schedule Trigger":{"main":[[{"node":"masterVar","type":"main","index":0}]]},"Search records":{"main":[[{"node":"nextMail","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"masterVar":{"main":[[{"node":"Cliente","type":"main","index":0}]]},"Cliente":{"main":[[{"node":"clienteVar","type":"main","index":0}]]},"clienteVar":{"main":[[{"node":"Search records","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"setVariables","type":"main","index":0}],[{"node":"updateError","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"setVariables":{"main":[[{"node":"VariablesMail","type":"main","index":0}]]},"updateMail1":{"main":[[{"node":"updateBacklog","type":"main","index":0}]]},"⚠️ Error1":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"searchBacklog","type":"main","index":0}],[{"node":"AI Agent1","type":"main","index":0}],[{"node":"updateError","type":"main","index":0}]]},"subjectOpt1":{"main":[[{"node":"mensajeOpt1","type":"main","index":0}],[{"node":"updateError","type":"main","index":0}]]},"mensajeOpt1":{"main":[[{"node":"Mail ","type":"main","index":0}],[{"node":"updateError","type":"main","index":0}]]},"Switch":{"main":[[{"node":"updateMail1","type":"main","index":0}],[{"node":"updateMail2","type":"main","index":0}],[{"node":"updateMail3","type":"main","index":0}]]},"updateMail2":{"main":[[{"node":"updateBacklog","type":"main","index":0}]]},"updateMail3":{"main":[[{"node":"updateBacklog","type":"main","index":0}]]},"⚠️ Error3":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"searchBacklog":{"main":[[{"node":"✅","type":"main","index":0}]]},"VariablesMail":{"main":[[{"node":"subjectOpt1","type":"main","index":0}]]},"updateBacklog":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"updateError":{"main":[[{"node":"⚠️ Error1","type":"main","index":0}]]},"✅":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"nextMail":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Mail ":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"⚠️ Error3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6e549218-70d1-43a2-97c0-299f12e0b993","activeVersionId":"6e549218-70d1-43a2-97c0-299f12e0b993","versionCounter":15,"triggerCount":1,"shared":[{"updatedAt":"2026-01-08T19:29:13.180Z","createdAt":"2026-01-08T19:29:13.180Z","role":"workflow:owner","workflowId":"umr6lm5g3ye8G7rj","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[{"updatedAt":"2026-01-05T04:45:25.095Z","createdAt":"2026-01-05T04:45:25.095Z","id":"PdQTwVw5NnLaxkX0","name":"Leads"},{"updatedAt":"2026-01-05T04:44:20.809Z","createdAt":"2026-01-05T04:44:20.809Z","id":"j1mm1WBrRQcYk9z1","name":"Mailing"}],"activeVersion":{"updatedAt":"2026-01-26T22:30:17.000Z","createdAt":"2026-01-26T22:20:53.652Z","versionId":"6e549218-70d1-43a2-97c0-299f12e0b993","workflowId":"umr6lm5g3ye8G7rj","nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1,2,3,4,5],"triggerAtHour":9},{"field":"weeks","triggerAtDay":[1,2,3,4,5],"triggerAtHour":15}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2496,304],"id":"dff41d3e-d232-49d1-b5a2-ff590d910457","name":"Schedule Trigger"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $json.leadsReach }}","mode":"id"},"filterByFormula":"=AND(\n  {ESTATUS} != \"duplicado\",\n  {ESTATUS} != \"Descalificado\",\n  {ESTATUS} != \"Mail 3\",\n  {ESTATUS} != \"Mail no válido\",\n  {ESTATUS} != \"Mail no válido (mailboxlayer)\",\n  {ESTATUS} != \"Desuscribir\",\n  {ESTATUS} != \"Lead Calificado\"\n)","options":{},"sort":{"property":[{"field":"ESTATUS","direction":"desc"}]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1664,304],"id":"349fdae6-5a77-4a58-b128-e8ec35cc25b4","name":"Search records","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"maxItems":"={{ $node[\"masterVar\"].json.envios }}"},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-1264,304],"id":"f37776be-eee3-4254-9a1b-147facf3b80c","name":"Limit"},{"parameters":{"assignments":{"assignments":[{"id":"59b03f17-220e-4474-8b91-db49f9b859d5","name":"Cliente","value":"Madema","type":"string"},{"id":"f769229f-796d-47bf-8fee-77b63f21d09f","name":"airtableBD","value":"appoIrpJlprLtsUFF","type":"string"},{"id":"06f2cbd4-0cbc-42cc-8da4-b6a12967fcf2","name":"Clientes_Variables","value":"tblzPRsNmPuFKgaqp","type":"string"},{"id":"337bf7e0-1109-40d2-85c1-91d4648539c4","name":"envios","value":15,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2288,304],"id":"dc2eb3cc-0029-4887-9e0e-35c695a193e9","name":"masterVar"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $json.airtableBD }}","mode":"id"},"table":{"__rl":true,"value":"={{ $json.Clientes_Variables }}","mode":"id"},"filterByFormula":"={{ '{Cliente} = \"' + $json.Cliente + '\"' }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-2080,304],"id":"68d9391f-b799-44bc-946d-2784d4b6faab","name":"Cliente","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"assignments":{"assignments":[{"id":"45406798-3793-4e2a-bf02-64749bb8d758","name":"Base","value":"={{ $json.Base }}","type":"string"},{"id":"30c47d20-a1ff-4006-8cf6-b8f241900fbd","name":"leadsReach","value":"={{ $json.leadsReach }}","type":"string"},{"id":"ef937799-b34d-4e63-b23f-c9f95e9e105a","name":"Cliente","value":"={{ $json.Cliente }}","type":"string"},{"id":"be818248-53a5-432e-b08b-537768e04501","name":"Nombre","value":"={{ $json.Nombre }}","type":"string"},{"id":"25688b6c-7bb8-40ed-8112-38f3eb631efb","name":"Cargo","value":"={{ $json.Cargo }}","type":"string"},{"id":"117595c4-770f-48b8-9a5e-0f64b29aed1e","name":"sitioWeb","value":"={{ $json.sitioWeb }}","type":"string"},{"id":"84512513-1084-41fe-898a-2651fce1d223","name":"Whatsapp","value":"={{ $json.Whatsapp }}","type":"string"},{"id":"9706e279-bdf0-458e-8e04-7fe916f12c3e","name":"Brochure","value":"={{ $json.Brochure }}","type":"string"},{"id":"254e7d34-eb70-4df5-be23-482455393221","name":"Servicio","value":"={{ $json.Servicio }}","type":"string"},{"id":"9f40f5fd-3ddf-4215-bf4a-8e09f15bb946","name":"Beneficios","value":"={{ $json.Beneficios }}","type":"string"},{"id":"1a68c967-74fc-4d14-8fe7-df11aeca9e73","name":"propuestaValor","value":"={{ $json.propuestaValor }}","type":"string"},{"id":"cd550533-801a-4a75-95da-bea19fc1c0f8","name":"Backlog","value":"={{ $json.Backlog }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1872,304],"id":"6454c3da-bd1c-45c6-a12a-e27f8cf079b8","name":"clienteVar"},{"parameters":{"promptType":"define","text":"=Prospecto:\nNombre: {{$json.NOMBRE}}\nApellido: {{$json.APELLIDO}}\nAbout: {{ $json.ABOUT }}\nCargo: {{$json.CARGO}}\nEmpresa: {{$json.EMPRESA}}\nDescripción de la empresa: {{ $json['DESCRIPCIÓN EMPRESA'] }}\nIndustria: {{$json.INDUSTRIA}}\nTamaño de empresa: {{$json.TAMAÑO}}\nCiudad: {{$json.CIUDAD}}\nPaís: {{$json.PAIS}}\nTeléfono: {{$json.TELEFONO}}\nEmail actual a enviar: {{$json.nextEmail}}\n\nGenera el objeto JSON, sin comillas invertidas, sin texto adicional:\n{\n  \"ID\": \"{{ $json.id }}\",\n  \"Mail\": \"{{ $json.EMAIL }}\",\n  \"Subject\": \"<máx. 50 caracteres>\",\n  \"Mensaje\": \"<cuerpo HTML>\",\n  \"nextMail\": \"{{ $json.nextEmail }}\"\n}","options":{"systemMessage":"=Eres {{ $node[\"clienteVar\"].json.Nombre }}, {{ $node[\"clienteVar\"].json.Cargo }} de {{ $node[\"clienteVar\"].json.Cliente }}, una empresa especializada en:\n\n{{ $node[\"clienteVar\"].json.Servicio }}\n\nTu objetivo es generar respuestas de prospectos en frío mediante correos B2B escritos en español, que despierten interés y los lleven a responder el correo o escribir por WhatsApp.\n\n🎯 FUNCIONAMIENTO\n\nRecibes un objeto JSON con los datos del prospecto y el campo nextEmail (\"Mail 1\", \"Mail 2\" o \"Mail 3\").\n\nRedacta un correo original según el objetivo indicado por nextEmail, basándote en la sección “OBJETIVOS DEL CORREO”.\n\nPersonaliza el mensaje usando los datos del prospecto:\n\n{{ $json.NOMBRE }}\n{{ $json.CARGO }}\n{{ $json.EMPRESA }}\n{{ $json.INDUSTRIA }}\n{{ $json.ABOUT }}\n{{ $json.TAMAÑO }} \n{{ $json.CIUDAD }}, {{ $json.PAIS }}\n\nMenciona un reto o contexto relevante para su industria si puedes identificarlo\n\nIntegra con naturalidad la información de tu empresa:\n\nPropuesta de valor: {{ $node[\"clienteVar\"].json.propuestaValor }}\nBeneficios: {{ $node[\"clienteVar\"].json.Beneficios }}\n\nUsa como recursos:\n\nBrochure: {{ $node[\"clienteVar\"].json.Brochure }}\nSitio web: {{ $node[\"clienteVar\"].json.sitioWeb }}\nWhatsApp: {{ $node[\"clienteVar\"].json.Whatsapp }}\n\nEl WhatsApp procura también incluirlo en el CTA.\n\nSi alguna variable no está presente, omite esa sección sin dejar huecos ni errores.\n\nPosiciónate como experto, no como vendedor. Refuerza autoridad con validación social (referencias) o resultados cuando estén disponibles.\n\nCierra el correo con la firma, en tres líneas separadas con <br>:\n\n{{ $node[\"clienteVar\"].json.Nombre }}<br>\n{{ $node[\"clienteVar\"].json.Cargo }}<br>\n{{ $node[\"clienteVar\"].json.sitioWeb }}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-736,304],"id":"16f9925e-9402-48d0-a7b3-7eda3b6bd6ee","name":"AI Agent1","alwaysOutputData":true,"retryOnFail":true,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"gpt-3.5-turbo"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-736,512],"id":"ef065281-94a9-4407-ba9c-39cf181eeede","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"bJgGA8hIumaSAysH","name":"KiroxON|OpenAi account"}}},{"parameters":{"jsCode":"return items.map(item => {\n  let parsedData = {};\n  let output = item.json.output;\n\n  if (typeof output !== 'string') {\n    output = String(output || '');\n  }\n\n  // Limpieza básica de caracteres problemáticos\n  output = output\n    .replace(/\\\\n/g, \"\\\\n\")  // mantener los \\n escapados\n    .replace(/\\\\r/g, \"\\\\r\")\n    .replace(/\\r?\\n|\\r/g, \"\") // quitar saltos de línea no escapados\n    .replace(/\\t/g, \"\\\\t\")\n    .replace(/[\\u0000-\\u001F]+/g, \"\"); // quitar caracteres de control no imprimibles\n\n  // Intentar parsear\n  try {\n    parsedData = JSON.parse(output);\n  } catch (error) {\n    // Si falla, intentar extraer con expresiones regulares como respaldo\n    const subjectMatch = output.match(/\"Subject\"\\s*:\\s*\"([^\"]+)\"/);\n    const mensajeMatch = output.match(/\"Mensaje\"\\s*:\\s*\"([\\s\\S]*?)\",\\s*\"nextMail\"/);\n\n    return {\n      json: {\n        Subject: subjectMatch ? subjectMatch[1] : '',\n        Mensaje: mensajeMatch ? mensajeMatch[1].replace(/\\\\\"/g, '\"') : '',\n        error: 'JSON inválido (uso regex)',\n        errorMessage: error.message,\n        rawOutput: output,\n      }\n    };\n  }\n\n  const subject = parsedData.Subject || parsedData.subject || '';\n  const mensaje = parsedData.Mensaje || parsedData.mensaje || parsedData.message || '';\n\n  return {\n    json: {\n      Subject: subject,\n      Mensaje: mensaje,\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-368,224],"id":"0ca6d0c3-6411-43fb-9373-d2d0d1358aea","name":"setVariables"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('VariablesMail').item.json.ID }}","ACTUALIZACIÓN":"={{ $now.toISO() }}","ESTATUS":"={{ $('VariablesMail').item.json.nextMail }}","Mail 1":"=Subject: {{ $('subjectOpt1').item.json.message.content }}\nMensaje: {{ $('mensajeOpt1').item.json.message.content }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"DESCRIPCIÓN EMPRESA","displayName":"DESCRIPCIÓN EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA LINKEDIN URL","displayName":"EMPRESA LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"},{"name":"Mail no válido (mail)","value":"Mail no válido (mail)"},{"name":"Mail no válido (mailboxlayer)","value":"Mail no válido (mailboxlayer)"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Lead Calificado","value":"Lead Calificado"},{"name":"Vacaciones","value":"Vacaciones"}],"readOnly":false,"removed":false},{"id":"Mail 1","displayName":"Mail 1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Mail 2","displayName":"Mail 2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail 3","displayName":"Mail 3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1056,240],"id":"4e76c542-ad9c-4f70-88cf-7e38a94d33ac","name":"updateMail1","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"chatId":"1019249029","text":"=⚠️ {{ $node[\"masterVar\"].json.Cliente }}\nHubo un error con el evnío a {{ $('nextMail').item.json.EMAIL }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[80,736],"id":"c8438b05-cd6f-4ce0-950a-fa4c8688a0fa","name":"⚠️ Error1","webhookId":"ffc58baa-a2df-4876-a3cd-ce189a5bb171","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"content":"## Creación y optimización del mensaje\n1. Creación del mail\n2. Optimización del mail","height":476,"width":1396,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-944,160],"id":"a17e632d-d4f4-440e-a7f2-c45a9a83ac08","name":"Sticky Note5"},{"parameters":{"content":"## Envío\n1. Envío del correo\n2. Actualización del Lead\n3. Reporte a Backlog","height":716,"width":1124},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[496,176],"id":"062db0aa-3e06-4672-b1e3-09ac10a9fc66","name":"Sticky Note6"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[272,736],"id":"c6070f45-c754-4086-81d9-d71fe351940f","name":"No Operation, do nothing2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[336,0],"id":"1374544c-1265-4e67-8b00-6e389dae1abb","name":"No Operation, do nothing3"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1456,528],"id":"2667e31d-56da-4f7a-87de-931ffec1014a","name":"Wait2","webhookId":"b2a2ff3c-1264-469f-a806-256787dd93e6"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1056,288],"id":"92486233-3c65-4099-bcd5-3a07b4e25131","name":"Loop Over Items2","onError":"continueErrorOutput"},{"parameters":{"content":"## ERROR\n","height":204,"width":612,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-176,688],"id":"5aaa91e1-3057-4f78-951d-fcbc2ea55214","name":"Sticky Note7"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4-turbo","mode":"list","cachedResultName":"GPT-4-TURBO"},"messages":{"values":[{"content":"={{ $json.Subject }}"},{"content":"=Actúa como un experto en copywriting especializado en email marketing. Tu tarea es optimizar asuntos de correos electrónicos (Subjects) para que sean irresistibles, humanos y altamente efectivos en términos de apertura y conversión.\n\nRecibirás un Subject inicial de un correo. Tu trabajo es transformarlo en una versión mejorada que:\n\nDespierte curiosidad, urgencia o interés real.\n\nSuene natural y humano, como si lo escribiera una persona, no una máquina.\n\nEvite clichés, fórmulas genéricas y tono robótico.\n\nSea breve y directa (idealmente menos de 50 caracteres).\n\nInvite al lector a abrir el correo sin hacer falsas promesas.\n\nEsté pensada para público real, no para tests A/B técnicos.\n\nIMPORTANTE: Devuelve solo el mejor Subject posible, no una lista.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[16,224],"id":"890a1ecf-995c-4834-9a53-d20cc824dc4e","name":"subjectOpt1","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"openAiApi":{"id":"bJgGA8hIumaSAysH","name":"KiroxON|OpenAi account"}},"onError":"continueErrorOutput"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4-turbo","mode":"list","cachedResultName":"GPT-4-TURBO"},"messages":{"values":[{"content":"={{ $('VariablesMail').item.json.Mensaje }}"},{"content":"=Eres un ejecutivo de ventas senior experto en generar interés en prospectos en frío mediante correos B2B en español. Tu habilidad principal es transformar mensajes base en correos altamente efectivos que generen respuestas, reuniones, llamadas o conversaciones por WhatsApp.\n\n🎯 Objetivo:\n\nReescribir un mensaje base para convertirlo en un correo en frío atractivo y profesional, manteniendo claridad, brevedad y una estructura HTML limpia.\n\n📌 Instrucciones clave:\n\nRepresentas a  {{ $node[\"clienteVar\"].json.Nombre }},  {{ $node[\"clienteVar\"].json.Cargo }} de {{ $node[\"clienteVar\"].json.Cliente }}, una empresa especializada en:\n\n{{ $node[\"clienteVar\"].json.Servicio }}\n\n- Usa un tono directo, profesional y humano.\n- El objetivo es lograr una respuesta del lead (reunión, llamada, mensaje o correo).\n- No inventes información adicional. Optimiza lo que recibes.\n- Estructura el correo en HTML plano, sin <html>, <head>, <body>, sin markdown ni bloques de código.\n- No incluyas más de un enlace si no es necesario. Úsalos solo si aumentan el valor del mensaje.\n\n✅ Recursos disponibles:\n\nBrochure: {{ $node[\"clienteVar\"].json.Brochure }}\nSitio web: {{ $node[\"clienteVar\"].json.sitioWeb }}\nWhatsApp: {{ $node[\"clienteVar\"].json.Whatsapp }}\n\n📤 Formato de salida:\n\n- Devuelve solo el cuerpo del correo en HTML plano.\n- No uses etiquetas <html>, <body>, bloques de código ni comillas.\n- La firma debe ser exactamente esta:\n\n{{ $node[\"clienteVar\"].json.Nombre }}<br>\n{{ $node[\"clienteVar\"].json.Cargo }}<br>\n{{ $node[\"clienteVar\"].json.sitioWeb }}","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[128,448],"id":"127b34d0-f110-4750-ad35-87ef3421ee11","name":"mensajeOpt1","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"openAiApi":{"id":"bJgGA8hIumaSAysH","name":"KiroxON|OpenAi account"}},"onError":"continueErrorOutput"},{"parameters":{"content":"## VARIABLE\nEditar solo Cliente. Debe estar tal cual en Airtable","height":304,"width":176,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-2320,176],"typeVersion":1,"id":"eeb6e4ae-d5d6-4b7d-ba97-1ac1e1ba3771","name":"Sticky Note8"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('VariablesMail').item.json.nextMail }}","rightValue":"Mail 1","operator":{"type":"string","operation":"equals"},"id":"6e995ed7-a8c8-4ffa-91ff-c85bd41b23a9"}],"combinator":"and"},"renameOutput":true,"outputKey":"Mail 1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cd628151-0c27-49f8-a6e9-efda908073fa","leftValue":"={{ $('VariablesMail').item.json.nextMail }}","rightValue":"Mail 2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mail 2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1c01b451-d22d-4ad5-ad47-f7fbe97be7ec","leftValue":"={{ $('VariablesMail').item.json.nextMail }}","rightValue":"Mail 3","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mail 3"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[784,416],"id":"8eac5317-1d49-426c-a318-25cb568fd502","name":"Switch"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('VariablesMail').item.json.ID }}","ACTUALIZACIÓN":"={{ $now.toISO() }}","ESTATUS":"={{ $('VariablesMail').item.json.nextMail }}","Mail 2":"=Subject: {{ $('subjectOpt1').item.json.message.content }} Mensaje: {{ $('mensajeOpt1').item.json.message.content }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"PAIS","value":"PAIS"},{"name":"Mexico","value":"Mexico"},{"name":"","value":""},{"name":"Belgium","value":"Belgium"},{"name":"Panama","value":"Panama"},{"name":"Chile","value":"Chile"},{"name":"Spain","value":"Spain"},{"name":"United States","value":"United States"},{"name":"Argentina","value":"Argentina"},{"name":"Australia","value":"Australia"},{"name":"Colombia","value":"Colombia"},{"name":"Ecuador","value":"Ecuador"},{"name":"France","value":"France"},{"name":"Canada","value":"Canada"},{"name":"Brazil","value":"Brazil"},{"name":"Dominican Republic","value":"Dominican Republic"},{"name":"Netherlands","value":"Netherlands"},{"name":"Portugal","value":"Portugal"},{"name":"Guatemala","value":"Guatemala"},{"name":"Venezuela","value":"Venezuela"},{"name":"Costa Rica","value":"Costa Rica"},{"name":"Germany","value":"Germany"},{"name":"Israel","value":"Israel"},{"name":"Mozambique","value":"Mozambique"},{"name":"Italy","value":"Italy"},{"name":"United Kingdom","value":"United Kingdom"},{"name":"Qatar","value":"Qatar"},{"name":"Oman","value":"Oman"},{"name":"Ireland","value":"Ireland"},{"name":"Peru","value":"Peru"},{"name":"Bulgaria","value":"Bulgaria"},{"name":"Malta","value":"Malta"},{"name":"India","value":"India"},{"name":"Austria","value":"Austria"},{"name":"Sweden","value":"Sweden"},{"name":"Nicaragua","value":"Nicaragua"},{"name":"El Salvador","value":"El Salvador"},{"name":"Zambia","value":"Zambia"},{"name":"Finland","value":"Finland"},{"name":"Antigua and Barbuda","value":"Antigua and Barbuda"}],"readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"Mail no válido (mail)","value":"Mail no válido (mail)"},{"name":"Mail no válido (mailboxlayer)","value":"Mail no válido (mailboxlayer)"},{"name":"Lead Calificado","value":"Lead Calificado"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Mail no válido (mail boxlayer)","value":"Mail no válido (mail boxlayer)"}],"readOnly":false,"removed":false},{"id":"Mail 1","displayName":"Mail 1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail 2","displayName":"Mail 2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Mail 3","displayName":"Mail 3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1056,432],"id":"af7bfceb-4e90-4bbb-8ea5-7e2732c01c1e","name":"updateMail2","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('VariablesMail').item.json.ID }}","ACTUALIZACIÓN":"={{ $now.toISO() }}","ESTATUS":"={{ $('VariablesMail').item.json.nextMail }}","Mail 3":"=Subject: {{ $('subjectOpt1').item.json.message.content }}\nMensaje: {{ $('mensajeOpt1').item.json.message.content }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"PAIS","value":"PAIS"},{"name":"Mexico","value":"Mexico"},{"name":"","value":""},{"name":"Belgium","value":"Belgium"},{"name":"Panama","value":"Panama"},{"name":"Chile","value":"Chile"},{"name":"Spain","value":"Spain"},{"name":"United States","value":"United States"},{"name":"Argentina","value":"Argentina"},{"name":"Australia","value":"Australia"},{"name":"Colombia","value":"Colombia"},{"name":"Ecuador","value":"Ecuador"},{"name":"France","value":"France"},{"name":"Canada","value":"Canada"},{"name":"Brazil","value":"Brazil"},{"name":"Dominican Republic","value":"Dominican Republic"},{"name":"Netherlands","value":"Netherlands"},{"name":"Portugal","value":"Portugal"},{"name":"Guatemala","value":"Guatemala"},{"name":"Venezuela","value":"Venezuela"},{"name":"Costa Rica","value":"Costa Rica"},{"name":"Germany","value":"Germany"},{"name":"Israel","value":"Israel"},{"name":"Mozambique","value":"Mozambique"},{"name":"Italy","value":"Italy"},{"name":"United Kingdom","value":"United Kingdom"},{"name":"Qatar","value":"Qatar"},{"name":"Oman","value":"Oman"},{"name":"Ireland","value":"Ireland"},{"name":"Peru","value":"Peru"},{"name":"Bulgaria","value":"Bulgaria"},{"name":"Malta","value":"Malta"},{"name":"India","value":"India"},{"name":"Austria","value":"Austria"},{"name":"Sweden","value":"Sweden"},{"name":"Nicaragua","value":"Nicaragua"},{"name":"El Salvador","value":"El Salvador"},{"name":"Zambia","value":"Zambia"},{"name":"Finland","value":"Finland"},{"name":"Antigua and Barbuda","value":"Antigua and Barbuda"}],"readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"Mail no válido (mail)","value":"Mail no válido (mail)"},{"name":"Mail no válido (mailboxlayer)","value":"Mail no válido (mailboxlayer)"},{"name":"Lead Calificado","value":"Lead Calificado"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Mail no válido (mail boxlayer)","value":"Mail no válido (mail boxlayer)"}],"readOnly":false,"removed":false},{"id":"Mail 1","displayName":"Mail 1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail 2","displayName":"Mail 2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail 3","displayName":"Mail 3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1056,592],"id":"8ae4fc13-5e58-4075-b631-7e083b4ce15e","name":"updateMail3","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"chatId":"1019249029","text":"=⚠️ {{ $node[\"masterVar\"].json.Cliente }}\nHubo un error con el evnío a {{ $('VariablesMail').item.json.Mail }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[800,656],"id":"350591e0-4e70-442c-9b3a-31e7f6a22b89","name":"⚠️ Error3","webhookId":"6c86a43d-41c6-4457-b12a-27147e930d44","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Backlog }}","mode":"id"},"filterByFormula":"IS_SAME({actualizacion}, TODAY(), 'day')","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[0,0],"id":"6c92c12f-7af6-4528-bc58-adfd156d40c9","name":"searchBacklog","executeOnce":true,"alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"assignments":{"assignments":[{"id":"eb48d37a-dcfb-4509-927d-5f4fe3d3cee0","name":"ID","value":"={{ $('Loop Over Items2').item.json.id }}","type":"string"},{"id":"288846af-6c83-47bb-9563-3e62ba711162","name":"Subject","value":"={{ $json.Subject }}","type":"string"},{"id":"0af8408c-c8f5-44e7-91ce-d23b59bb9c1d","name":"Mensaje","value":"={{ $json.Mensaje }}","type":"string"},{"id":"bb396285-f8b7-487f-a967-ca16b8d0aabd","name":"Mail","value":"={{ $('Loop Over Items2').item.json.EMAIL }}","type":"string"},{"id":"7830ad22-d847-4b99-85e3-0b2aeb2d06b3","name":"nextMail","value":"={{ $('Loop Over Items2').item.json.nextEmail }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-176,224],"id":"8c1caefb-1e50-4dac-b477-69031796f356","name":"VariablesMail"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Backlog }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $('VariablesMail').item.json.ID }}","Mail":"={{ $('VariablesMail').item.json.Mail }}","Estatus":"={{ $('VariablesMail').item.json.nextMail }}","actualizacion":"={{ $now.toISO() }}"},"matchingColumns":["id"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"Fallback","value":"Fallback"}],"readOnly":false,"removed":false},{"id":"actualizacion","displayName":"actualizacion","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1296,432],"id":"4672ceb3-affe-4887-9f46-265a5e530d10","name":"updateBacklog","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('nextMail').item.json.id }}","ACTUALIZACIÓN":"={{ $now.toISO() }}","ESTATUS":"=Error"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"10001+","value":"10001+"},{"name":"1-10","value":"1-10"},{"name":"51-200","value":"51-200"},{"name":"1001-5000","value":"1001-5000"},{"name":"201-500","value":"201-500"},{"name":"5001-10000","value":"5001-10000"},{"name":"11-50","value":"11-50"},{"name":"501-1000","value":"501-1000"}],"readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"}],"readOnly":false,"removed":false},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-128,736],"id":"39bde0be-c59d-41bc-b1b1-0503e48bc435","name":"updateError","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}}},{"parameters":{"content":"## Eleccion correos","height":256,"width":608},"type":"n8n-nodes-base.stickyNote","position":[-1712,208],"typeVersion":1,"id":"bd4de453-013a-4d70-979a-bc78beac0e06","name":"Sticky Note"},{"parameters":{"chatId":"1019249029","text":"={{ $node[\"masterVar\"].json.Cliente }}\n📮 Hoy tuvimos {{ $items(\"searchBacklog\", 0).length }} registro{{ $items(\"searchBacklog\", 0).length === 1 ? \"\" : \"s\" }}.","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[176,0],"id":"c8a11e10-b9d2-4ab4-a514-d0b4129b702a","name":"✅","webhookId":"d1a54537-e436-46da-a682-5c74c0df64e3","executeOnce":true,"credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"jsCode":"function countBusinessDays(startDate, endDate) {\n  let count = 0;\n  let currentDate = new Date(startDate);\n  currentDate.setHours(0, 0, 0, 0);\n  endDate = new Date(endDate);\n  endDate.setHours(0, 0, 0, 0);\n\n  while (currentDate <= endDate) {\n    const day = currentDate.getDay();\n    if (day !== 0 && day !== 6) count++;\n    currentDate.setDate(currentDate.getDate() + 1);\n  }\n  return count;\n}\n\nconst hoy = new Date();\nhoy.setHours(0, 0, 0, 0);\n\nreturn items\n  .map(item => {\n    const estatus = (item.json.ESTATUS || '').trim().toLowerCase();\n    const actualizacion = new Date(item.json[\"ACTUALIZACIÓN\"]);\n    \n    if (isNaN(actualizacion)) {\n      // Si la fecha es inválida, omite este item\n      return null;\n    }\n\n    actualizacion.setHours(0, 0, 0, 0);\n\n    let nextEmail = null;\n\n    if (estatus === 'mail valido' || estatus === 'vacaciones') {\n      nextEmail = 'Mail 1';\n    } else if (estatus === 'mail 1' && countBusinessDays(actualizacion, hoy) >= 3) {\n      nextEmail = 'Mail 2';\n    } else if (estatus === 'mail 2' && countBusinessDays(actualizacion, hoy) >= 3) {\n      nextEmail = 'Mail 3';\n    } else if (estatus === 'duplicado') {\n      nextEmail = 'duplicado';\n    }\n\n    if (nextEmail) {\n      return {\n        json: {\n          ...item.json,\n          nextEmail,\n        }\n      };\n    }\n\n    return null;\n  })\n  .filter(item => item !== null);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1440,304],"id":"5fd4acb5-17c7-436f-8075-4494409620db","name":"nextMail","executeOnce":false},{"parameters":{"content":"## Actualizar mail","height":256,"color":4},"type":"n8n-nodes-base.stickyNote","position":[480,368],"typeVersion":1,"id":"a1e5e540-4ff4-41db-93d5-3040c9d1d307","name":"Sticky Note1"},{"parameters":{"toRecipients":"={{ $('VariablesMail').item.json.Mail }}","subject":"={{ $('subjectOpt1').item.json.message.content.replace(/^[\"']|[\"']$/g, '') }}","bodyContent":"={{ $json.message.content }}","additionalFields":{"bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[512,432],"id":"f482dd3a-7787-4ff5-a3d1-5403ff0dae74","name":"Mail ","webhookId":"dc059a05-05f8-45a5-a9bf-dc5af2581d1c","credentials":{"microsoftOutlookOAuth2Api":{"id":"Aq8l0Nsjo7FCUAbV","name":"Microsoft Outlook Madema"}},"onError":"continueErrorOutput"}],"connections":{"Schedule Trigger":{"main":[[{"node":"masterVar","type":"main","index":0}]]},"Search records":{"main":[[{"node":"nextMail","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"masterVar":{"main":[[{"node":"Cliente","type":"main","index":0}]]},"Cliente":{"main":[[{"node":"clienteVar","type":"main","index":0}]]},"clienteVar":{"main":[[{"node":"Search records","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"setVariables","type":"main","index":0}],[{"node":"updateError","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"setVariables":{"main":[[{"node":"VariablesMail","type":"main","index":0}]]},"updateMail1":{"main":[[{"node":"updateBacklog","type":"main","index":0}]]},"⚠️ Error1":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"searchBacklog","type":"main","index":0}],[{"node":"AI Agent1","type":"main","index":0}],[{"node":"updateError","type":"main","index":0}]]},"subjectOpt1":{"main":[[{"node":"mensajeOpt1","type":"main","index":0}],[{"node":"updateError","type":"main","index":0}]]},"mensajeOpt1":{"main":[[{"node":"Mail ","type":"main","index":0}],[{"node":"updateError","type":"main","index":0}]]},"Switch":{"main":[[{"node":"updateMail1","type":"main","index":0}],[{"node":"updateMail2","type":"main","index":0}],[{"node":"updateMail3","type":"main","index":0}]]},"updateMail2":{"main":[[{"node":"updateBacklog","type":"main","index":0}]]},"updateMail3":{"main":[[{"node":"updateBacklog","type":"main","index":0}]]},"⚠️ Error3":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"searchBacklog":{"main":[[{"node":"✅","type":"main","index":0}]]},"VariablesMail":{"main":[[{"node":"subjectOpt1","type":"main","index":0}]]},"updateBacklog":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"updateError":{"main":[[{"node":"⚠️ Error1","type":"main","index":0}]]},"✅":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"nextMail":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Mail ":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"⚠️ Error3","type":"main","index":0}]]}},"authors":"Admin KiroxOn","name":"Version 6e549218","description":"","workflowPublishHistory":[{"createdAt":"2026-01-26T22:30:17.086Z","id":43,"workflowId":"umr6lm5g3ye8G7rj","versionId":"6e549218-70d1-43a2-97c0-299f12e0b993","event":"activated","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629"}]}}