workflows_BACKUP/Madema _ Leer Mail--gifAQBslpOhlgJXN.json
{"updatedAt":"2026-01-26T22:29:04.533Z","createdAt":"2026-01-08T19:41:15.638Z","id":"gifAQBslpOhlgJXN","name":"Madema | Leer Mail","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyHour","minute":30}]},"output":"fields","fields":["bccRecipients","body","from","sender","subject","ccRecipients","replyTo","toRecipients"],"filters":{"readStatus":"unread"},"options":{}},"type":"n8n-nodes-base.microsoftOutlookTrigger","typeVersion":1,"position":[-2096,352],"id":"89f151c6-f402-4865-93d3-08253c567081","name":"Microsoft Outlook Trigger","credentials":{"microsoftOutlookOAuth2Api":{"id":"Aq8l0Nsjo7FCUAbV","name":"Microsoft Outlook Madema"}}},{"parameters":{"promptType":"define","text":"=Correo:\nAsunto: {{ $json.asunto }}\nRemitente: {{ $json.remitente }}\nCuerpo: {{ $json.cuerpo }}\n","options":{"systemMessage":"=Eres un clasificador de correos. Solo respondes en JSON válido.  \n\nTu tarea es analizar el correo y devolver una de las siguientes categorías:\n- Mail no válido\n- Desuscribir\n- Lead Calificado \n- Mail interno\n- Vacaciones\n- Otro \n\nA continuación te explico cada categoría:\n# Mail no válido (mail) #\nSon rebote o respuesta automáticas de que el correo no existe, está lleno o similar\n\n# Desuscribir #\nSon correos escritos por humanos que no quieren recibir más correos nuestros\n\n# Lead Calificado #\nSon correos escritos por humanos solicitando más información sobre nuestros servicios\n\n# Mail interno #\nMails cuyo remitente es alguien internos de Madema ya que su mail contiene \"@madema.com.mx\"\n\n# Vacaciones #\nSuelen ser respuestas automáticas, pero vásicamente el mensaje permite interpretar que el usuario está de vacaciones\n\n# Otro # \nCualquiera que no entre en una categoría anterior\n\nReglas para extraer el campo \"mail\":\n- Siempre busca patrones de correo electrónico usando regex: cualquier texto que cumpla con formato *@*.\n- Si la categoría es \"Mail no válido\", el \"mail\" debe ser el que aparece en el cuerpo como destino del error de entrega. \n- Si no hay ninguno en el cuerpo, usa el remitente original.\n- Si la categoría es \"Desuscribir\", \"Lead Calificado\" o \"Otro\", el \"mail\" debe ser el remitente original.\n\nDevuelve SIEMPRE JSON así:\n{\n  \"estatus\": \"Categoría\",\n  \"mail\": \"Correo detectado\",\n  \"resumen\": \"Resumen breve del correo\"\n  \"id\": {{ $json.id }}\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-1104,368],"id":"9fb8e1d5-31e8-41f4-9d5e-8adf74a17c5a","name":"AI Agent","onError":"continueRegularOutput"},{"parameters":{"model":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"gpt-3.5-turbo"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1104,544],"id":"f21b2985-cc8f-4e9e-9aa4-b0e0acb0c39e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"bJgGA8hIumaSAysH","name":"KiroxON|OpenAi account"}}},{"parameters":{"jsCode":"// Convierte el texto JSON de la IA a objeto real\nconst data = JSON.parse($json.output);\n\nreturn [\n  {\n    estatus: data.estatus,\n    mail: data.mail,\n    resumen: data.resumen,\n    id: data.id\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-752,368],"id":"6fd2025e-7af3-4bfb-b3a5-7f5ae5dbb41f","name":"codeVariables","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"eaca5b91-63d7-4f09-b6bb-3a21ba977e7c","name":"estatus","value":"={{ $json.estatus }}","type":"string"},{"id":"b6f4ebdd-9594-4b29-8107-0b6a98ce1f4c","name":"mail","value":"={{ $json.mail && $json.mail.toLowerCase() }}","type":"string"},{"id":"03b041dc-60ef-4690-b8b9-cf45c2de493f","name":"resumen","value":"={{ $json.resumen }}","type":"string"},{"id":"4d2a9b3a-48d0-4a3f-8132-2164e6a4e86b","name":"id","value":"={{ $node['Loop'].json.id}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-528,368],"id":"d397ccd2-7f71-4ea6-ae4d-c9fefae7fc96","name":"variables"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.estatus }}","rightValue":"Mail no válido","operator":{"type":"string","operation":"equals"},"id":"7cfe0b36-e2cf-4019-aa99-b0622da0e5c1"}],"combinator":"and"},"renameOutput":true,"outputKey":"Mail no válido"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e64f2748-2c75-49d4-a54c-60aafa878260","leftValue":"={{ $json.estatus }}","rightValue":"Desuscribir","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Desuscribir"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1b2a9a6a-1502-443d-9607-919e72f7c064","leftValue":"={{ $json.estatus }}","rightValue":"Vacaciones","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Vacaciones"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3f8ef9f8-f020-456d-83ca-814293598145","leftValue":"={{ $json.estatus }}","rightValue":"Otro","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Otro"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8f41a560-3d36-480c-9200-2e5762c73ad9","leftValue":"={{ $json.estatus }}","rightValue":"Lead Calificado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Lead Calificado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aacb85b3-87ab-4289-834f-4e5dad3ea0ba","leftValue":"={{ $json.estatus }}","rightValue":"Mail interno","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mail interno"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-304,304],"id":"2af70846-ae21-44c9-be4c-35181269112d","name":"Estatus"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appHYYUhdVsnIj5as","mode":"list","cachedResultName":"Madema Leads","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as"},"table":{"__rl":true,"value":"tblXSr8JzKfLPXv6b","mode":"list","cachedResultName":"leadsReach","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as/tblXSr8JzKfLPXv6b"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.mail }}","ESTATUS":"={{ $json.estatus }}","ACTUALIZACIÓN":"={{ $now.format(\"YYYY-MM-DD HH:mm\") }}\n"},"matchingColumns":["EMAIL"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"},{"name":"Mail no válido","value":"Mail no válido"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Lead Calificado","value":"Lead Calificado"}],"readOnly":false,"removed":false},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[0,0],"id":"99e18134-8b79-46f0-a47c-2c62ab4f76a6","name":"mailNoValido","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appHYYUhdVsnIj5as","mode":"list","cachedResultName":"Madema Leads","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as"},"table":{"__rl":true,"value":"tblXSr8JzKfLPXv6b","mode":"list","cachedResultName":"leadsReach","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as/tblXSr8JzKfLPXv6b"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.mail }}","ESTATUS":"={{ $json.estatus }}","ACTUALIZACIÓN":"={{ $now.format(\"YYYY-MM-DD HH:mm\") }}\n"},"matchingColumns":["EMAIL"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"},{"name":"Mail no válido","value":"Mail no válido"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Lead Calificado","value":"Lead Calificado"}],"readOnly":false,"removed":false},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[0,176],"id":"2d86ab53-1fff-48d2-a72e-48c94a7d8b82","name":"Desuscribir","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appHYYUhdVsnIj5as","mode":"list","cachedResultName":"Madema Leads","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as"},"table":{"__rl":true,"value":"tblXSr8JzKfLPXv6b","mode":"list","cachedResultName":"leadsReach","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as/tblXSr8JzKfLPXv6b"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.mail }}","ESTATUS":"={{ $json.estatus }}","ACTUALIZACIÓN":"={{ $now.format(\"YYYY-MM-DD HH:mm\") }}\n"},"matchingColumns":["EMAIL"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"},{"name":"Mail no válido","value":"Mail no válido"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Lead Calificado","value":"Lead Calificado"}],"readOnly":false,"removed":false},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[0,704],"id":"34dfa42a-475c-41d9-9351-2c95c7201585","name":"Lead Calificado","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}},"onError":"continueRegularOutput"},{"parameters":{"chatId":"1019249029","text":"=MADEMA Recibimos un mail que no sabemos cómo clasificar:\nSender: {{ $json.mail }}\nMensaje: {{ $json.resumen }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[0,544],"id":"92871515-0832-455f-b0f7-4b7471033564","name":"Otro","webhookId":"7cb212c7-4e34-48b6-86c7-a93499b0fec8","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"operation":"update","messageId":{"__rl":true,"value":"={{ $('Estatus').item.json.id }}","mode":"id"},"updateFields":{"importance":"High"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[240,704],"id":"0d85136b-a69a-46a8-b555-1f4db3c6c8bf","name":"updateImportante","webhookId":"6e414253-96f4-4590-8250-b297d580394f","retryOnFail":true,"credentials":{"microsoftOutlookOAuth2Api":{"id":"Aq8l0Nsjo7FCUAbV","name":"Microsoft Outlook Madema"}}},{"parameters":{"operation":"getAll","output":"fields","fields":["bccRecipients","body","from","sender","subject","ccRecipients","replyTo","toRecipients","importance"],"filtersUI":{"values":{"filters":{"foldersToExclude":["AQMkADQ4YzJlOTE2LTljMmEtNGEwZi1hYjgwLWQ1YTZlNjI2ZWRiNAAuAAADB-Fvt-78T0ykdCeTvo6vaAEA642-oQIHOkavlatsBZ89zwAAAgFaAAAA","AQMkADQ4YzJlOTE2LTljMmEtNGEwZi1hYjgwLWQ1YTZlNjI2ZWRiNAAuAAADB-Fvt-78T0ykdCeTvo6vaAEA642-oQIHOkavlatsBZ89zwAAAgELAAAA","AQMkADQ4YzJlOTE2LTljMmEtNGEwZi1hYjgwLWQ1YTZlNjI2ZWRiNAAuAAADB-Fvt-78T0ykdCeTvo6vaAEA642-oQIHOkavlatsBZ89zwAAAgEPAAAA","AQMkADQ4YzJlOTE2LTljMmEtNGEwZi1hYjgwLWQ1YTZlNjI2ZWRiNAAuAAADB-Fvt-78T0ykdCeTvo6vaAEA642-oQIHOkavlatsBZ89zwAAAgETAAAA","AAMkADQ4YzJlOTE2LTljMmEtNGEwZi1hYjgwLWQ1YTZlNjI2ZWRiNAAuAAAAAAAH8W_3-vxPTKR0J5O_jq9oAQDrjb_hAgc6Rq_Vq2wFnz3PAAANrbA6AAA=","AQMkADQ4YzJlOTE2LTljMmEtNGEwZi1hYjgwLWQ1YTZlNjI2ZWRiNAAuAAADB-Fvt-78T0ykdCeTvo6vaAEA642-oQIHOkavlatsBZ89zwAAAgEKAAAA","AQMkADQ4YzJlOTE2LTljMmEtNGEwZi1hYjgwLWQ1YTZlNjI2ZWRiNAAuAAADB-Fvt-78T0ykdCeTvo6vaAEA642-oQIHOkavlatsBZ89zwAAAgEJAAAA","AAMkADQ4YzJlOTE2LTljMmEtNGEwZi1hYjgwLWQ1YTZlNjI2ZWRiNAAuAAAAAAAH8W_3-vxPTKR0J5O_jq9oAQDrjb_hAgc6Rq_Vq2wFnz3PAAAnghUPAAA="]}}},"options":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[-2096,160],"id":"cd7a8ce2-6caa-4f2c-80e1-ac425c165aa0","name":"Get many messages","webhookId":"a0913592-f1f4-4cc7-b49d-3bebd552070a","credentials":{"microsoftOutlookOAuth2Api":{"id":"Aq8l0Nsjo7FCUAbV","name":"Microsoft Outlook Madema"}}},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[768,880],"id":"38d711d1-932e-44c7-af4d-6cd6fd134ce4","name":"Wait","webhookId":"673fa7e7-deb2-4469-ba52-44e900059cdc"},{"parameters":{"operation":"update","messageId":{"__rl":true,"value":"={{ $('Estatus').item.json.id }}","mode":"id"},"updateFields":{"folderId":{"__rl":true,"value":"AAMkAGI2NzQwNjk2LWVlMTctNGUwYS05Nzk3LTA3YzQ3MGI2MWM2NwAuAAAAAADJUCSHk5UtQ44G7QM6WRWkAQBcj4rBNOPORIw255IXMzMpAAAAAAEvAAA=","mode":"list","cachedResultName":"Archivo","cachedResultUrl":"https://outlook.office365.com/mail/AAMkAGI2NzQwNjk2LWVlMTctNGUwYS05Nzk3LTA3YzQ3MGI2MWM2NwAuAAAAAADJUCSHk5UtQ44G7QM6WRWkAQBcj4rBNOPORIw255IXMzMpAAAAAAEvAAA%3D"}}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[432,96],"id":"9b03aff0-f3eb-47c9-b41f-184ccda223a4","name":"updateArchivo1","webhookId":"6e414253-96f4-4590-8250-b297d580394f","retryOnFail":true,"credentials":{"microsoftOutlookOAuth2Api":{"id":"Aq8l0Nsjo7FCUAbV","name":"Microsoft Outlook Madema"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appHYYUhdVsnIj5as","mode":"list","cachedResultName":"Madema Leads","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as"},"table":{"__rl":true,"value":"tblXSr8JzKfLPXv6b","mode":"list","cachedResultName":"leadsReach","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as/tblXSr8JzKfLPXv6b"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.mail }}","ESTATUS":"={{ $json.estatus }}","ACTUALIZACIÓN":"={{ $now.format(\"YYYY-MM-DD HH:mm\") }}\n"},"matchingColumns":["EMAIL"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"},{"name":"Mail no válido","value":"Mail no válido"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Lead Calificado","value":"Lead Calificado"}],"readOnly":false,"removed":false},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[0,352],"id":"ca05851f-9bc0-4ad0-a5e0-94fa7ee8993f","name":"Vacaciones","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"update","messageId":{"__rl":true,"value":"={{ $('Estatus').item.json.id }}","mode":"id"},"updateFields":{"isRead":true}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[240,96],"id":"7432cb6b-ae72-4a2f-ae36-8a8b6269c67b","name":"updateRead","webhookId":"6e414253-96f4-4590-8250-b297d580394f","retryOnFail":true,"credentials":{"microsoftOutlookOAuth2Api":{"id":"Aq8l0Nsjo7FCUAbV","name":"Microsoft Outlook Madema"}}},{"parameters":{"operation":"update","messageId":{"__rl":true,"value":"={{ $('Estatus').item.json.id }}","mode":"id"},"updateFields":{"isRead":true}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[0,864],"id":"3dce2126-73a7-4440-b0f9-88f5b683cad5","name":"mailInterno","webhookId":"6e414253-96f4-4590-8250-b297d580394f","retryOnFail":true,"credentials":{"microsoftOutlookOAuth2Api":{"id":"Aq8l0Nsjo7FCUAbV","name":"Microsoft Outlook Madema"}}},{"parameters":{"operation":"update","messageId":{"__rl":true,"value":"={{ $('Estatus').item.json.id }}","mode":"id"},"updateFields":{"folderId":{"__rl":true,"value":"AAMkAGI2NzQwNjk2LWVlMTctNGUwYS05Nzk3LTA3YzQ3MGI2MWM2NwAuAAAAAADJUCSHk5UtQ44G7QM6WRWkAQBcj4rBNOPORIw255IXMzMpAAAAAAEvAAA=","mode":"list","cachedResultName":"Archivo","cachedResultUrl":"https://outlook.office365.com/mail/AAMkAGI2NzQwNjk2LWVlMTctNGUwYS05Nzk3LTA3YzQ3MGI2MWM2NwAuAAAAAADJUCSHk5UtQ44G7QM6WRWkAQBcj4rBNOPORIw255IXMzMpAAAAAAEvAAA%3D"}}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[240,864],"id":"f4240434-8670-4ec9-a0c1-25105e96616e","name":"updateArchivo","webhookId":"6e414253-96f4-4590-8250-b297d580394f","retryOnFail":true,"credentials":{"microsoftOutlookOAuth2Api":{"id":"Aq8l0Nsjo7FCUAbV","name":"Microsoft Outlook Madema"}}},{"parameters":{"chatId":"1019249029","text":"=✅​ MADEMA Tenemos un Lead Calificado\nSender: {{ $('codeVariables').item.json.mail }}\nFecha: {{ $json.createdDateTime }}\nMensaje: {{ $('codeVariables').item.json.resumen }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[480,704],"id":"c511387b-680d-4812-ae8d-7f159d62c581","name":"✅​ Lead Calificado","webhookId":"7cb212c7-4e34-48b6-86c7-a93499b0fec8","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6bcda99b-b172-4b14-99f6-058cd82df7e2","leftValue":"={{ $json.importance }}","rightValue":"high","operator":{"type":"string","operation":"notEquals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1888,160],"id":"31b597e4-b47a-42a7-b788-7b035109ba1e","name":"If"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1,2,3,4,5],"triggerAtHour":9,"triggerAtMinute":10},{"field":"weeks","triggerAtDay":[1,2,3,4,5],"triggerAtHour":3},{"field":"weeks","triggerAtDay":[1,2,3,4,5],"triggerAtHour":15,"triggerAtMinute":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2272,160],"id":"0bdc8083-4425-4b26-a7fd-cad328bac98d","name":"Schedule Trigger"},{"parameters":{"operation":"update","messageId":{"__rl":true,"value":"={{ $('Estatus').item.json.id }}","mode":"id"},"updateFields":{"isRead":true}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[480,544],"id":"6b29b061-ca3f-4ed4-b79a-554091c39ac8","name":"updateRead1","webhookId":"6e414253-96f4-4590-8250-b297d580394f","retryOnFail":true,"credentials":{"microsoftOutlookOAuth2Api":{"id":"Aq8l0Nsjo7FCUAbV","name":"Microsoft Outlook Madema"}}},{"parameters":{"jsCode":"const asunto = $json[\"subject\"];\nconst remitente = $json[\"from\"][\"emailAddress\"][\"address\"];\nconst cuerpoHtml = $json[\"body\"][\"content\"] || \"\";\n\n// Función para decodificar algunas entidades HTML\nfunction decodeHtmlEntities(text) {\n  const entities = {\n    '&nbsp;': ' ',\n    '&amp;': '&',\n    '&quot;': '\"',\n    '&lt;': '<',\n    '&gt;': '>',\n    '&#39;': \"'\"\n  };\n  return text.replace(/&[a-zA-Z0-9#]+;/g, match => entities[match] || match);\n}\n\n// Paso 1: eliminar etiquetas HTML\nlet textoPlano = cuerpoHtml.replace(/<[^>]*>/g, ' ');\n\n// Paso 2: decodificar entidades\ntextoPlano = decodeHtmlEntities(textoPlano);\n\n// Paso 3: normalizar espacios y quitar tabulaciones/newlines excesivos\ntextoPlano = textoPlano.replace(/\\r\\n|\\r|\\n/g, ' ')       // saltos de línea → espacio\n                       .replace(/\\s+/g, ' ')            // varios espacios → uno solo\n                       .trim();\n\n// Paso 4: recortar donde comienza la parte técnica que no queremos\n// Aquí puedes ajustar la frase exacta que aparece en tus correos\nconst marker = \"Detalles del mensaje original\";\nconst idx = textoPlano.toLowerCase().indexOf(marker.toLowerCase());\nlet cuerpoUtil = idx !== -1\n  ? textoPlano.substring(0, idx).trim()\n  : textoPlano;\n\n// Paso 5 (opcional): si aún está muy largo, puedes recortar a X caracteres o hasta otro marcador\nconst maxLength = 1000;  // por ejemplo\nif (cuerpoUtil.length > maxLength) {\n  cuerpoUtil = cuerpoUtil.substring(0, maxLength) + \"…\";\n}\n\nreturn [\n  {\n    json: {\n      asunto,\n      remitente,\n      cuerpo: cuerpoUtil\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1344,368],"id":"db95b9b0-1583-45c2-86db-44a106e75bd3","name":"lipiarCorreo"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1552,352],"id":"63126489-9a7f-402f-b705-91f014d7c634","name":"Loop"}],"connections":{"Microsoft Outlook Trigger":{"main":[[{"node":"Loop","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"codeVariables","type":"main","index":0}]]},"codeVariables":{"main":[[{"node":"variables","type":"main","index":0}]]},"variables":{"main":[[{"node":"Estatus","type":"main","index":0}]]},"Estatus":{"main":[[{"node":"mailNoValido","type":"main","index":0}],[{"node":"Desuscribir","type":"main","index":0}],[{"node":"Vacaciones","type":"main","index":0}],[{"node":"Otro","type":"main","index":0}],[{"node":"Lead Calificado","type":"main","index":0}],[{"node":"mailInterno","type":"main","index":0}]]},"mailNoValido":{"main":[[{"node":"updateRead","type":"main","index":0}]]},"Desuscribir":{"main":[[{"node":"updateRead","type":"main","index":0}]]},"Lead Calificado":{"main":[[{"node":"updateImportante","type":"main","index":0}]]},"Otro":{"main":[[{"node":"updateRead1","type":"main","index":0}]]},"updateImportante":{"main":[[{"node":"✅​ Lead Calificado","type":"main","index":0}]]},"Get many messages":{"main":[[{"node":"If","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop","type":"main","index":0}]]},"updateArchivo1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Vacaciones":{"main":[[{"node":"updateRead","type":"main","index":0}]]},"updateRead":{"main":[[{"node":"updateArchivo1","type":"main","index":0}]]},"mailInterno":{"main":[[{"node":"updateArchivo","type":"main","index":0}]]},"updateArchivo":{"main":[[{"node":"Wait","type":"main","index":0}]]},"✅​ Lead Calificado":{"main":[[{"node":"Wait","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get many messages","type":"main","index":0}]]},"updateRead1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"lipiarCorreo":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Loop":{"main":[[],[{"node":"lipiarCorreo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Microsoft Outlook Trigger":{"lastTimeChecked":"2026-02-09T14:30:02.021-05:00"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9829009d-2622-4741-a5a4-5f932c4f9630","activeVersionId":"9829009d-2622-4741-a5a4-5f932c4f9630","versionCounter":86,"triggerCount":2,"shared":[{"updatedAt":"2026-01-08T19:41:15.642Z","createdAt":"2026-01-08T19:41:15.642Z","role":"workflow:owner","workflowId":"gifAQBslpOhlgJXN","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[{"updatedAt":"2026-01-05T04:44:20.809Z","createdAt":"2026-01-05T04:44:20.809Z","id":"j1mm1WBrRQcYk9z1","name":"Mailing"}],"activeVersion":{"updatedAt":"2026-01-26T22:29:07.000Z","createdAt":"2026-01-26T22:29:04.535Z","versionId":"9829009d-2622-4741-a5a4-5f932c4f9630","workflowId":"gifAQBslpOhlgJXN","nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyHour","minute":30}]},"output":"fields","fields":["bccRecipients","body","from","sender","subject","ccRecipients","replyTo","toRecipients"],"filters":{"readStatus":"unread"},"options":{}},"type":"n8n-nodes-base.microsoftOutlookTrigger","typeVersion":1,"position":[-2096,352],"id":"89f151c6-f402-4865-93d3-08253c567081","name":"Microsoft Outlook Trigger","credentials":{"microsoftOutlookOAuth2Api":{"id":"Aq8l0Nsjo7FCUAbV","name":"Microsoft Outlook Madema"}}},{"parameters":{"promptType":"define","text":"=Correo:\nAsunto: {{ $json.asunto }}\nRemitente: {{ $json.remitente }}\nCuerpo: {{ $json.cuerpo }}\n","options":{"systemMessage":"=Eres un clasificador de correos. Solo respondes en JSON válido.  \n\nTu tarea es analizar el correo y devolver una de las siguientes categorías:\n- Mail no válido\n- Desuscribir\n- Lead Calificado \n- Mail interno\n- Vacaciones\n- Otro \n\nA continuación te explico cada categoría:\n# Mail no válido (mail) #\nSon rebote o respuesta automáticas de que el correo no existe, está lleno o similar\n\n# Desuscribir #\nSon correos escritos por humanos que no quieren recibir más correos nuestros\n\n# Lead Calificado #\nSon correos escritos por humanos solicitando más información sobre nuestros servicios\n\n# Mail interno #\nMails cuyo remitente es alguien internos de Madema ya que su mail contiene \"@madema.com.mx\"\n\n# Vacaciones #\nSuelen ser respuestas automáticas, pero vásicamente el mensaje permite interpretar que el usuario está de vacaciones\n\n# Otro # \nCualquiera que no entre en una categoría anterior\n\nReglas para extraer el campo \"mail\":\n- Siempre busca patrones de correo electrónico usando regex: cualquier texto que cumpla con formato *@*.\n- Si la categoría es \"Mail no válido\", el \"mail\" debe ser el que aparece en el cuerpo como destino del error de entrega. \n- Si no hay ninguno en el cuerpo, usa el remitente original.\n- Si la categoría es \"Desuscribir\", \"Lead Calificado\" o \"Otro\", el \"mail\" debe ser el remitente original.\n\nDevuelve SIEMPRE JSON así:\n{\n  \"estatus\": \"Categoría\",\n  \"mail\": \"Correo detectado\",\n  \"resumen\": \"Resumen breve del correo\"\n  \"id\": {{ $json.id }}\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-1104,368],"id":"9fb8e1d5-31e8-41f4-9d5e-8adf74a17c5a","name":"AI Agent","onError":"continueRegularOutput"},{"parameters":{"model":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"gpt-3.5-turbo"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1104,544],"id":"f21b2985-cc8f-4e9e-9aa4-b0e0acb0c39e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"bJgGA8hIumaSAysH","name":"KiroxON|OpenAi account"}}},{"parameters":{"jsCode":"// Convierte el texto JSON de la IA a objeto real\nconst data = JSON.parse($json.output);\n\nreturn [\n  {\n    estatus: data.estatus,\n    mail: data.mail,\n    resumen: data.resumen,\n    id: data.id\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-752,368],"id":"6fd2025e-7af3-4bfb-b3a5-7f5ae5dbb41f","name":"codeVariables","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"eaca5b91-63d7-4f09-b6bb-3a21ba977e7c","name":"estatus","value":"={{ $json.estatus }}","type":"string"},{"id":"b6f4ebdd-9594-4b29-8107-0b6a98ce1f4c","name":"mail","value":"={{ $json.mail && $json.mail.toLowerCase() }}","type":"string"},{"id":"03b041dc-60ef-4690-b8b9-cf45c2de493f","name":"resumen","value":"={{ $json.resumen }}","type":"string"},{"id":"4d2a9b3a-48d0-4a3f-8132-2164e6a4e86b","name":"id","value":"={{ $node['Loop'].json.id}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-528,368],"id":"d397ccd2-7f71-4ea6-ae4d-c9fefae7fc96","name":"variables"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.estatus }}","rightValue":"Mail no válido","operator":{"type":"string","operation":"equals"},"id":"7cfe0b36-e2cf-4019-aa99-b0622da0e5c1"}],"combinator":"and"},"renameOutput":true,"outputKey":"Mail no válido"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e64f2748-2c75-49d4-a54c-60aafa878260","leftValue":"={{ $json.estatus }}","rightValue":"Desuscribir","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Desuscribir"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1b2a9a6a-1502-443d-9607-919e72f7c064","leftValue":"={{ $json.estatus }}","rightValue":"Vacaciones","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Vacaciones"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3f8ef9f8-f020-456d-83ca-814293598145","leftValue":"={{ $json.estatus }}","rightValue":"Otro","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Otro"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8f41a560-3d36-480c-9200-2e5762c73ad9","leftValue":"={{ $json.estatus }}","rightValue":"Lead Calificado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Lead Calificado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aacb85b3-87ab-4289-834f-4e5dad3ea0ba","leftValue":"={{ $json.estatus }}","rightValue":"Mail interno","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mail interno"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-304,304],"id":"2af70846-ae21-44c9-be4c-35181269112d","name":"Estatus"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appHYYUhdVsnIj5as","mode":"list","cachedResultName":"Madema Leads","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as"},"table":{"__rl":true,"value":"tblXSr8JzKfLPXv6b","mode":"list","cachedResultName":"leadsReach","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as/tblXSr8JzKfLPXv6b"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.mail }}","ESTATUS":"={{ $json.estatus }}","ACTUALIZACIÓN":"={{ $now.format(\"YYYY-MM-DD HH:mm\") }}\n"},"matchingColumns":["EMAIL"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"},{"name":"Mail no válido","value":"Mail no válido"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Lead Calificado","value":"Lead Calificado"}],"readOnly":false,"removed":false},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[0,0],"id":"99e18134-8b79-46f0-a47c-2c62ab4f76a6","name":"mailNoValido","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appHYYUhdVsnIj5as","mode":"list","cachedResultName":"Madema Leads","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as"},"table":{"__rl":true,"value":"tblXSr8JzKfLPXv6b","mode":"list","cachedResultName":"leadsReach","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as/tblXSr8JzKfLPXv6b"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.mail }}","ESTATUS":"={{ $json.estatus }}","ACTUALIZACIÓN":"={{ $now.format(\"YYYY-MM-DD HH:mm\") }}\n"},"matchingColumns":["EMAIL"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"},{"name":"Mail no válido","value":"Mail no válido"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Lead Calificado","value":"Lead Calificado"}],"readOnly":false,"removed":false},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[0,176],"id":"2d86ab53-1fff-48d2-a72e-48c94a7d8b82","name":"Desuscribir","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appHYYUhdVsnIj5as","mode":"list","cachedResultName":"Madema Leads","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as"},"table":{"__rl":true,"value":"tblXSr8JzKfLPXv6b","mode":"list","cachedResultName":"leadsReach","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as/tblXSr8JzKfLPXv6b"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.mail }}","ESTATUS":"={{ $json.estatus }}","ACTUALIZACIÓN":"={{ $now.format(\"YYYY-MM-DD HH:mm\") }}\n"},"matchingColumns":["EMAIL"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"},{"name":"Mail no válido","value":"Mail no válido"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Lead Calificado","value":"Lead Calificado"}],"readOnly":false,"removed":false},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[0,704],"id":"34dfa42a-475c-41d9-9351-2c95c7201585","name":"Lead Calificado","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}},"onError":"continueRegularOutput"},{"parameters":{"chatId":"1019249029","text":"=MADEMA Recibimos un mail que no sabemos cómo clasificar:\nSender: {{ $json.mail }}\nMensaje: {{ $json.resumen }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[0,544],"id":"92871515-0832-455f-b0f7-4b7471033564","name":"Otro","webhookId":"7cb212c7-4e34-48b6-86c7-a93499b0fec8","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"operation":"update","messageId":{"__rl":true,"value":"={{ $('Estatus').item.json.id }}","mode":"id"},"updateFields":{"importance":"High"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[240,704],"id":"0d85136b-a69a-46a8-b555-1f4db3c6c8bf","name":"updateImportante","webhookId":"6e414253-96f4-4590-8250-b297d580394f","retryOnFail":true,"credentials":{"microsoftOutlookOAuth2Api":{"id":"Aq8l0Nsjo7FCUAbV","name":"Microsoft Outlook Madema"}}},{"parameters":{"operation":"getAll","output":"fields","fields":["bccRecipients","body","from","sender","subject","ccRecipients","replyTo","toRecipients","importance"],"filtersUI":{"values":{"filters":{"foldersToExclude":["AQMkADQ4YzJlOTE2LTljMmEtNGEwZi1hYjgwLWQ1YTZlNjI2ZWRiNAAuAAADB-Fvt-78T0ykdCeTvo6vaAEA642-oQIHOkavlatsBZ89zwAAAgFaAAAA","AQMkADQ4YzJlOTE2LTljMmEtNGEwZi1hYjgwLWQ1YTZlNjI2ZWRiNAAuAAADB-Fvt-78T0ykdCeTvo6vaAEA642-oQIHOkavlatsBZ89zwAAAgELAAAA","AQMkADQ4YzJlOTE2LTljMmEtNGEwZi1hYjgwLWQ1YTZlNjI2ZWRiNAAuAAADB-Fvt-78T0ykdCeTvo6vaAEA642-oQIHOkavlatsBZ89zwAAAgEPAAAA","AQMkADQ4YzJlOTE2LTljMmEtNGEwZi1hYjgwLWQ1YTZlNjI2ZWRiNAAuAAADB-Fvt-78T0ykdCeTvo6vaAEA642-oQIHOkavlatsBZ89zwAAAgETAAAA","AAMkADQ4YzJlOTE2LTljMmEtNGEwZi1hYjgwLWQ1YTZlNjI2ZWRiNAAuAAAAAAAH8W_3-vxPTKR0J5O_jq9oAQDrjb_hAgc6Rq_Vq2wFnz3PAAANrbA6AAA=","AQMkADQ4YzJlOTE2LTljMmEtNGEwZi1hYjgwLWQ1YTZlNjI2ZWRiNAAuAAADB-Fvt-78T0ykdCeTvo6vaAEA642-oQIHOkavlatsBZ89zwAAAgEKAAAA","AQMkADQ4YzJlOTE2LTljMmEtNGEwZi1hYjgwLWQ1YTZlNjI2ZWRiNAAuAAADB-Fvt-78T0ykdCeTvo6vaAEA642-oQIHOkavlatsBZ89zwAAAgEJAAAA","AAMkADQ4YzJlOTE2LTljMmEtNGEwZi1hYjgwLWQ1YTZlNjI2ZWRiNAAuAAAAAAAH8W_3-vxPTKR0J5O_jq9oAQDrjb_hAgc6Rq_Vq2wFnz3PAAAnghUPAAA="]}}},"options":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[-2096,160],"id":"cd7a8ce2-6caa-4f2c-80e1-ac425c165aa0","name":"Get many messages","webhookId":"a0913592-f1f4-4cc7-b49d-3bebd552070a","credentials":{"microsoftOutlookOAuth2Api":{"id":"Aq8l0Nsjo7FCUAbV","name":"Microsoft Outlook Madema"}}},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[768,880],"id":"38d711d1-932e-44c7-af4d-6cd6fd134ce4","name":"Wait","webhookId":"673fa7e7-deb2-4469-ba52-44e900059cdc"},{"parameters":{"operation":"update","messageId":{"__rl":true,"value":"={{ $('Estatus').item.json.id }}","mode":"id"},"updateFields":{"folderId":{"__rl":true,"value":"AAMkAGI2NzQwNjk2LWVlMTctNGUwYS05Nzk3LTA3YzQ3MGI2MWM2NwAuAAAAAADJUCSHk5UtQ44G7QM6WRWkAQBcj4rBNOPORIw255IXMzMpAAAAAAEvAAA=","mode":"list","cachedResultName":"Archivo","cachedResultUrl":"https://outlook.office365.com/mail/AAMkAGI2NzQwNjk2LWVlMTctNGUwYS05Nzk3LTA3YzQ3MGI2MWM2NwAuAAAAAADJUCSHk5UtQ44G7QM6WRWkAQBcj4rBNOPORIw255IXMzMpAAAAAAEvAAA%3D"}}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[432,96],"id":"9b03aff0-f3eb-47c9-b41f-184ccda223a4","name":"updateArchivo1","webhookId":"6e414253-96f4-4590-8250-b297d580394f","retryOnFail":true,"credentials":{"microsoftOutlookOAuth2Api":{"id":"Aq8l0Nsjo7FCUAbV","name":"Microsoft Outlook Madema"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appHYYUhdVsnIj5as","mode":"list","cachedResultName":"Madema Leads","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as"},"table":{"__rl":true,"value":"tblXSr8JzKfLPXv6b","mode":"list","cachedResultName":"leadsReach","cachedResultUrl":"https://airtable.com/appHYYUhdVsnIj5as/tblXSr8JzKfLPXv6b"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.mail }}","ESTATUS":"={{ $json.estatus }}","ACTUALIZACIÓN":"={{ $now.format(\"YYYY-MM-DD HH:mm\") }}\n"},"matchingColumns":["EMAIL"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"},{"name":"Mail no válido","value":"Mail no válido"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Lead Calificado","value":"Lead Calificado"}],"readOnly":false,"removed":false},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[0,352],"id":"ca05851f-9bc0-4ad0-a5e0-94fa7ee8993f","name":"Vacaciones","credentials":{"airtableTokenApi":{"id":"WP9P3pOUX6gxRDQz","name":"Airtable KiroxON"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"update","messageId":{"__rl":true,"value":"={{ $('Estatus').item.json.id }}","mode":"id"},"updateFields":{"isRead":true}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[240,96],"id":"7432cb6b-ae72-4a2f-ae36-8a8b6269c67b","name":"updateRead","webhookId":"6e414253-96f4-4590-8250-b297d580394f","retryOnFail":true,"credentials":{"microsoftOutlookOAuth2Api":{"id":"Aq8l0Nsjo7FCUAbV","name":"Microsoft Outlook Madema"}}},{"parameters":{"operation":"update","messageId":{"__rl":true,"value":"={{ $('Estatus').item.json.id }}","mode":"id"},"updateFields":{"isRead":true}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[0,864],"id":"3dce2126-73a7-4440-b0f9-88f5b683cad5","name":"mailInterno","webhookId":"6e414253-96f4-4590-8250-b297d580394f","retryOnFail":true,"credentials":{"microsoftOutlookOAuth2Api":{"id":"Aq8l0Nsjo7FCUAbV","name":"Microsoft Outlook Madema"}}},{"parameters":{"operation":"update","messageId":{"__rl":true,"value":"={{ $('Estatus').item.json.id }}","mode":"id"},"updateFields":{"folderId":{"__rl":true,"value":"AAMkAGI2NzQwNjk2LWVlMTctNGUwYS05Nzk3LTA3YzQ3MGI2MWM2NwAuAAAAAADJUCSHk5UtQ44G7QM6WRWkAQBcj4rBNOPORIw255IXMzMpAAAAAAEvAAA=","mode":"list","cachedResultName":"Archivo","cachedResultUrl":"https://outlook.office365.com/mail/AAMkAGI2NzQwNjk2LWVlMTctNGUwYS05Nzk3LTA3YzQ3MGI2MWM2NwAuAAAAAADJUCSHk5UtQ44G7QM6WRWkAQBcj4rBNOPORIw255IXMzMpAAAAAAEvAAA%3D"}}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[240,864],"id":"f4240434-8670-4ec9-a0c1-25105e96616e","name":"updateArchivo","webhookId":"6e414253-96f4-4590-8250-b297d580394f","retryOnFail":true,"credentials":{"microsoftOutlookOAuth2Api":{"id":"Aq8l0Nsjo7FCUAbV","name":"Microsoft Outlook Madema"}}},{"parameters":{"chatId":"1019249029","text":"=✅​ MADEMA Tenemos un Lead Calificado\nSender: {{ $('codeVariables').item.json.mail }}\nFecha: {{ $json.createdDateTime }}\nMensaje: {{ $('codeVariables').item.json.resumen }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[480,704],"id":"c511387b-680d-4812-ae8d-7f159d62c581","name":"✅​ Lead Calificado","webhookId":"7cb212c7-4e34-48b6-86c7-a93499b0fec8","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6bcda99b-b172-4b14-99f6-058cd82df7e2","leftValue":"={{ $json.importance }}","rightValue":"high","operator":{"type":"string","operation":"notEquals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1888,160],"id":"31b597e4-b47a-42a7-b788-7b035109ba1e","name":"If"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1,2,3,4,5],"triggerAtHour":9,"triggerAtMinute":10},{"field":"weeks","triggerAtDay":[1,2,3,4,5],"triggerAtHour":3},{"field":"weeks","triggerAtDay":[1,2,3,4,5],"triggerAtHour":15,"triggerAtMinute":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2272,160],"id":"0bdc8083-4425-4b26-a7fd-cad328bac98d","name":"Schedule Trigger"},{"parameters":{"operation":"update","messageId":{"__rl":true,"value":"={{ $('Estatus').item.json.id }}","mode":"id"},"updateFields":{"isRead":true}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[480,544],"id":"6b29b061-ca3f-4ed4-b79a-554091c39ac8","name":"updateRead1","webhookId":"6e414253-96f4-4590-8250-b297d580394f","retryOnFail":true,"credentials":{"microsoftOutlookOAuth2Api":{"id":"Aq8l0Nsjo7FCUAbV","name":"Microsoft Outlook Madema"}}},{"parameters":{"jsCode":"const asunto = $json[\"subject\"];\nconst remitente = $json[\"from\"][\"emailAddress\"][\"address\"];\nconst cuerpoHtml = $json[\"body\"][\"content\"] || \"\";\n\n// Función para decodificar algunas entidades HTML\nfunction decodeHtmlEntities(text) {\n  const entities = {\n    '&nbsp;': ' ',\n    '&amp;': '&',\n    '&quot;': '\"',\n    '&lt;': '<',\n    '&gt;': '>',\n    '&#39;': \"'\"\n  };\n  return text.replace(/&[a-zA-Z0-9#]+;/g, match => entities[match] || match);\n}\n\n// Paso 1: eliminar etiquetas HTML\nlet textoPlano = cuerpoHtml.replace(/<[^>]*>/g, ' ');\n\n// Paso 2: decodificar entidades\ntextoPlano = decodeHtmlEntities(textoPlano);\n\n// Paso 3: normalizar espacios y quitar tabulaciones/newlines excesivos\ntextoPlano = textoPlano.replace(/\\r\\n|\\r|\\n/g, ' ')       // saltos de línea → espacio\n                       .replace(/\\s+/g, ' ')            // varios espacios → uno solo\n                       .trim();\n\n// Paso 4: recortar donde comienza la parte técnica que no queremos\n// Aquí puedes ajustar la frase exacta que aparece en tus correos\nconst marker = \"Detalles del mensaje original\";\nconst idx = textoPlano.toLowerCase().indexOf(marker.toLowerCase());\nlet cuerpoUtil = idx !== -1\n  ? textoPlano.substring(0, idx).trim()\n  : textoPlano;\n\n// Paso 5 (opcional): si aún está muy largo, puedes recortar a X caracteres o hasta otro marcador\nconst maxLength = 1000;  // por ejemplo\nif (cuerpoUtil.length > maxLength) {\n  cuerpoUtil = cuerpoUtil.substring(0, maxLength) + \"…\";\n}\n\nreturn [\n  {\n    json: {\n      asunto,\n      remitente,\n      cuerpo: cuerpoUtil\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1344,368],"id":"db95b9b0-1583-45c2-86db-44a106e75bd3","name":"lipiarCorreo"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1552,352],"id":"63126489-9a7f-402f-b705-91f014d7c634","name":"Loop"}],"connections":{"Microsoft Outlook Trigger":{"main":[[{"node":"Loop","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"codeVariables","type":"main","index":0}]]},"codeVariables":{"main":[[{"node":"variables","type":"main","index":0}]]},"variables":{"main":[[{"node":"Estatus","type":"main","index":0}]]},"Estatus":{"main":[[{"node":"mailNoValido","type":"main","index":0}],[{"node":"Desuscribir","type":"main","index":0}],[{"node":"Vacaciones","type":"main","index":0}],[{"node":"Otro","type":"main","index":0}],[{"node":"Lead Calificado","type":"main","index":0}],[{"node":"mailInterno","type":"main","index":0}]]},"mailNoValido":{"main":[[{"node":"updateRead","type":"main","index":0}]]},"Desuscribir":{"main":[[{"node":"updateRead","type":"main","index":0}]]},"Lead Calificado":{"main":[[{"node":"updateImportante","type":"main","index":0}]]},"Otro":{"main":[[{"node":"updateRead1","type":"main","index":0}]]},"updateImportante":{"main":[[{"node":"✅​ Lead Calificado","type":"main","index":0}]]},"Get many messages":{"main":[[{"node":"If","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop","type":"main","index":0}]]},"updateArchivo1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Vacaciones":{"main":[[{"node":"updateRead","type":"main","index":0}]]},"updateRead":{"main":[[{"node":"updateArchivo1","type":"main","index":0}]]},"mailInterno":{"main":[[{"node":"updateArchivo","type":"main","index":0}]]},"updateArchivo":{"main":[[{"node":"Wait","type":"main","index":0}]]},"✅​ Lead Calificado":{"main":[[{"node":"Wait","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get many messages","type":"main","index":0}]]},"updateRead1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"lipiarCorreo":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Loop":{"main":[[],[{"node":"lipiarCorreo","type":"main","index":0}]]}},"authors":"Admin KiroxOn","name":"Version 9829009d","description":"","workflowPublishHistory":[{"createdAt":"2026-01-26T22:29:07.597Z","id":42,"workflowId":"gifAQBslpOhlgJXN","versionId":"9829009d-2622-4741-a5a4-5f932c4f9630","event":"activated","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629"}]}}