workflows_BACKUP/Matus_ Leads (LinkedIn Reach) 2.0 P3--eBEux9ykSaxwWxHk.json
{"updatedAt":"2026-01-05T23:26:34.000Z","createdAt":"2026-01-05T23:26:34.868Z","id":"eBEux9ykSaxwWxHk","name":"Matus: Leads (LinkedIn Reach) 2.0 P3","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"batchSize":10,"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[128,224],"id":"05944f90-295d-4e04-a78d-26cb4278a435","name":"Loop Over Items"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/dev_fusion~linkedin-profile-scraper/run-sync-get-dataset-items?token={{$env.APIFY_TOKEN}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"profileUrls\": [\"{{ $json.LINK }}\"]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[352,128],"id":"3e9aba34-ee8b-468d-ad8a-c1faf8c687f9","name":"Apify"},{"parameters":{"jsCode":"const perfiles = items; // array completo\n\nreturn perfiles.map(p => {\n  const data = p.json;\n\n  return {\n    json: {\n      nombre: data.firstName || '',\n      apellido: data.lastName || '',\n      cargo: data.jobTitle || '',\n      headline: data.headline || '',\n      about: data.about || '',\n      empresa: data.companyName || '',\n      industria: data.companyIndustry || '',\n      ciudad: data.addressWithoutCountry || '',\n      pais: data.addressCountryOnly || '',\n      email: data.email ? data.email.toLowerCase() : '',\n      telefono: data.mobileNumber || '',\n      seguidores: data.followers || '',\n      tamaño_empresa: data.companySize || '',\n      años_en_puesto: data.currentJobDuration || '',\n      años_en_puesto_decimales: data.currentJobDurationInYrs || '',\n      sitio_empresa: data.companyWebsite || '',\n      perfil_linkedin: data.linkedinUrl || '',\n      fecha_enriquecido: new Date().toISOString()\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,224],"id":"32804cf2-e9bb-4484-be27-d40da2361a91","name":"reachLeads"},{"parameters":{"jsCode":"return items.map(p => {\n  const data = p.json;\n  let score = 0;\n\n  // 🎯 Tamaño de empresa (prioriza pymes)\n  switch (data[\"tamaño_empresa\"]) {\n    case '11-50':\n      score += 30;\n      break;\n    case '51-200':\n      score += 25;\n      break;\n    case '201-500':\n      score += 15;\n      break;\n    case '1-10':\n      score += 10;\n      break;\n    default:\n      score += 0;\n  }\n\n  // 🎯 Industria relacionada a salud\n  const industria = (data.industria || '').toLowerCase();\n  if (industria.includes(\"salud\") || industria.includes(\"clínica\") || industria.includes(\"hospital\") || industria.includes(\"consultorio\")) {\n    score += 20;\n  }\n\n  // 🎯 Email y teléfono\n  if (data.email && data.email.trim() !== '') score += 15;\n  if (data.telefono && data.telefono.trim() !== '') score += 15;\n\n  // 🎯 Tiempo en el puesto\n  const anios = parseFloat(data[\"años_en_puesto_decimales\"]);\n  if (!isNaN(anios) && anios >= 3) score += 10;\n\n  // 🎯 Sitio web de empresa\n  if (data.sitio_empresa && data.sitio_empresa.trim() !== '') score += 5;\n\n  // 🎯 Seguidores (opcional)\n  if (data.seguidores && data.seguidores > 100) score += 5;\n\n  // Límite superior\n  if (score > 100) score = 100;\n\n  return {\n    json: {\n      ...data,\n      score\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[848,224],"id":"97e107ef-7cd4-4130-afba-1cf64ba96b48","name":"leadScoring"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1,2,3,4,5],"triggerAtHour":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-560,224],"id":"7314b067-eb19-4b58-a839-0717e0327981","name":"Schedule Trigger"},{"parameters":{"content":"## Enriquecer leads","height":440,"width":1300},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"6695d060-e8ee-4c6e-8e2b-70f6f06fc8cc","name":"Sticky Note"},{"parameters":{"chatId":"1019249029","text":"={{ $node[\"masterVariables2\"].json.Cliente }} Listos los leads de hoy. Tenemos:\n❌ {{ $json.descalificadoCount }} Descalificados, y \n✅ {{ $json.calificadoCount }} Calificados","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[848,1344],"id":"018a534b-950a-4221-b355-224db402cc21","name":"✅ Leads","webhookId":"03d432c2-1b31-40ff-af3a-d67ad6ad23d0"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c4231680-1781-4209-894f-292403cc2b1a","leftValue":"={{ $json.EMAIL }}","rightValue":"@","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,1648],"id":"60d02a74-d112-4fd1-9ef9-2712e2632284","name":"If"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[192,1568],"id":"ccf3e0d9-a888-48c0-9d56-dc7ce21d6a10","name":"Loop Over Items2"},{"parameters":{"content":"## Calificar leads","height":720,"width":1500,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-192,1280],"typeVersion":1,"id":"daf7f30a-a996-4b3a-9d7c-5f2469b123e4","name":"Sticky Note2"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1,2,3,4,5],"triggerAtHour":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-544,1568],"id":"b46609b2-4b92-4e75-bc0a-0ce589155868","name":"Schedule Trigger2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.type }}","rightValue":"unique","operator":{"type":"string","operation":"equals"},"id":"bda2882e-1078-48d2-a646-d96825fc8638"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"768a16cd-b42e-40b5-8dca-259a02fb0075","leftValue":"={{ $json.type }}","rightValue":"duplicate","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[288,656],"id":"4d1bfad9-9f85-496a-9aec-0a409e1c9d78","name":"Switch1"},{"parameters":{"jsCode":"// 1) Normaliza entrada: por si viene como un array anidado\nlet inputItems = [];\nif (items.length === 1 && Array.isArray(items[0].json)) {\n  for (const row of items[0].json) {\n    inputItems.push({ json: row });\n  }\n} else {\n  inputItems = items;\n}\n\n// Usamos EMAIL como clave de deduplicación\nconst seen = new Set();\nconst uniqueItems = [];\nconst duplicateItems = [];\n\nfor (const item of inputItems) {\n  const row = item.json;\n  const email = (row.EMAIL || \"\").trim().toLowerCase();\n\n  if (email && seen.has(email)) {\n    // Duplicado: hay email y ya existe\n    duplicateItems.push({\n      json: {\n        ...row,\n        type: \"duplicate\"\n      }\n    });\n  } else {\n    // Único: no hay email o es la primera vez que se ve\n    if (email) {\n      seen.add(email);\n    }\n    uniqueItems.push({\n      json: {\n        ...row,\n        type: \"unique\"\n      }\n    });\n  }\n}\n\n// Ordena duplicados de mayor a menor row_number\nduplicateItems.sort((a, b) => b.json.row_number - a.json.row_number);\n\n// Combina únicos + duplicados ordenados\nconst outputItems = uniqueItems.concat(duplicateItems);\n\nreturn outputItems;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[64,656],"id":"c606d1f7-0cf1-4810-8aa1-0e1df1b0f49a","name":"clasificarDuplicados"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[512,576],"id":"fb071726-70e2-4262-a2f9-c8f40ba2a0c2","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[976,576],"id":"365d1734-04c4-4631-994b-b78b0610fcec","name":"No Operation, do nothing1"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1,2,3,4,5],"triggerAtHour":2,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-544,656],"id":"c4be85cc-356b-4cf6-a620-52348bd695ef","name":"Schedule Trigger3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[512,768],"id":"f660e6e4-0f75-449c-a2f7-c27c95fb1c1c","name":"Loop Over Items3"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[976,896],"id":"6256670e-883e-45b1-8436-3688b5cc61eb","name":"Wait2","webhookId":"8484f5a4-95e0-4cd0-8888-95c353241f20"},{"parameters":{"content":"## Eliminar Duplicados","height":700,"width":1500,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-192,496],"typeVersion":1,"id":"34fe9b6a-a91a-4d7f-a441-fa228550e2ed","name":"Sticky Note3"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $json.leadsRaw }}","mode":"id"},"filterByFormula":"NOT({REACH})","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-144,224],"id":"85b4801d-5774-4e95-83df-8858ca1bdfb8","name":"leerLeads"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"={{ $('masterVariables').item.json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $('masterVariables').item.json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"NOMBRE":"={{ $json.nombre }}","APELLIDO":"={{ $json.apellido }}","HEADLINE":"={{ $json.headline }}","ABOUT":"={{ $json.about }}","CARGO":"={{ $json.cargo }}","EMPRESA":"={{ $json.empresa }}","INDUSTRIA":"={{ $json.industria }}","TAMAÑO":"={{ $json['tamaño_empresa'] }}","CIUDAD":"={{ $json.ciudad }}","PAIS":"={{ $json.pais }}","EMAIL":"={{ $json.email }}","TELEFONO":"={{ $json.telefono }}","AÑOS EN EL PUESTO":"={{ $json['años_en_puesto'] }}","SITIO":"={{ $json.sitio_empresa }}","LINKEDIN URL":"={{ $json.perfil_linkedin }}","SCORE":"={{ $json.score }}","ACTUALIZACIÓN":"={{ $json.fecha_enriquecido }}"},"matchingColumns":[],"schema":[{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"},{"name":"Mail no válido","value":"Mail no válido"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Lead Calificado","value":"Lead Calificado"},{"name":"Vacaciones","value":"Vacaciones"}],"readOnly":false,"removed":true},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1088,224],"id":"545c04b4-6002-45db-93c3-7b04fb4c1c12","name":"reachLeads1"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $json.leadsReach }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-160,656],"id":"82feea63-4ba4-454f-b40e-ee27f5f48622","name":"Search records"},{"parameters":{"operation":"deleteRecord","base":{"__rl":true,"value":"={{ $('masterVariables1').item.json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $('masterVariables1').item.json.leadsReach }}","mode":"id"},"id":"={{ $json.id }}"},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[768,896],"id":"bea67083-ed24-4582-813b-1a171429b327","name":"Delete a record"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $json.leadsReach }}","mode":"id"},"filterByFormula":"{ESTATUS} = BLANK()","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-96,1568],"id":"541bfd8d-b02a-49a0-826b-31606ddb2a61","name":"leerLeads1"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $('masterVariables2').item.json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $('masterVariables2').item.json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","ESTATUS":"Calificado"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"10001+","value":"10001+"},{"name":"1-10","value":"1-10"},{"name":"51-200","value":"51-200"},{"name":"1001-5000","value":"1001-5000"},{"name":"201-500","value":"201-500"},{"name":"5001-10000","value":"5001-10000"},{"name":"11-50","value":"11-50"},{"name":"501-1000","value":"501-1000"}],"readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 3","value":"Mail 3"},{"name":"Mail 2","value":"Mail 2"}],"readOnly":false,"removed":false},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[784,1520],"id":"4113e623-3617-4d3d-9dea-39eee09b6ac8","name":"leadCalifidado"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $('masterVariables2').item.json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $('masterVariables2').item.json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","ESTATUS":"Descalificado"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"},{"name":"Mail no válido","value":"Mail no válido"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Lead Calificado","value":"Lead Calificado"},{"name":"Vacaciones","value":"Vacaciones"}],"readOnly":false,"removed":false},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[784,1760],"id":"dcecffe7-8378-4322-b881-dc1612c0c37c","name":"leadDescalificado"},{"parameters":{"jsCode":"let calificadoCount = 0;\nlet descalificadoCount = 0;\n\nfor (const item of items) {\n  const status = (item.json.ESTATUS || \"\").toLowerCase();\n  if (status === \"calificado\") calificadoCount++;\n  else if (status === \"descalificado\") descalificadoCount++;\n}\n\nreturn [\n  {\n    json: {\n      calificadoCount,\n      descalificadoCount\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,1344],"id":"f702b912-a621-44f6-9326-d67918ede849","name":"clasificarLeads"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $('masterVariables2').item.json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $('masterVariables2').item.json.leadsReach }}","mode":"id"},"filterByFormula":"=IS_SAME(DATETIME_FORMAT({ACTUALIZACIÓN}, 'YYYY-MM-DD'), DATETIME_FORMAT(TODAY(), 'YYYY-MM-DD'))","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[448,1344],"id":"9db18ce6-7af0-4a0d-bcc7-38952f8aa9c6","name":"filtrarLeadsHoy","executeOnce":true},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $('masterVariables').item.json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $('masterVariables').item.json.leadsRaw }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"REACH":true,"id":"={{ $('leerLeads').item.json.id }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true},{"id":"FECHA DE CAPTURA","displayName":"FECHA DE CAPTURA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"LINK","displayName":"LINK","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PUESTO","displayName":"PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"QUERY","displayName":"QUERY","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"REACH","displayName":"REACH","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[608,16],"id":"6b3033f4-a69e-485e-907c-2742ba8135a5","name":"Update record"},{"parameters":{"assignments":{"assignments":[{"id":"84e9ddf1-f4f2-4c18-ab8b-f090b2817f98","name":"airtableBase","value":"appjX236dfu4fY0wy","type":"string"},{"id":"670b07ca-2efd-4161-9321-7e9a2829e0c5","name":"leadsRaw","value":"tblPOI6nchaF8vdqK","type":"string"},{"id":"74a032fc-7854-4687-b93d-f62e92275736","name":"leadsReach","value":"tblXSr8JzKfLPXv6b","type":"string"},{"id":"df35b19d-bd99-46b7-a9c5-d3574b317c77","name":"backlog","value":"tbl4RDZG8Rme3tv9H","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-352,224],"id":"441e3ec1-bf45-47dd-a159-c619aeaf5080","name":"masterVariables"},{"parameters":{"assignments":{"assignments":[{"id":"84e9ddf1-f4f2-4c18-ab8b-f090b2817f98","name":"airtableBase","value":"appjX236dfu4fY0wy","type":"string"},{"id":"670b07ca-2efd-4161-9321-7e9a2829e0c5","name":"leadsRaw","value":"tblPOI6nchaF8vdqK","type":"string"},{"id":"74a032fc-7854-4687-b93d-f62e92275736","name":"leadsReach","value":"tblXSr8JzKfLPXv6b","type":"string"},{"id":"df35b19d-bd99-46b7-a9c5-d3574b317c77","name":"backlog","value":"tbl4RDZG8Rme3tv9H","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-352,656],"id":"7537fd0a-81d5-438b-a9ad-557ce4a7ed6c","name":"masterVariables1"},{"parameters":{"assignments":{"assignments":[{"id":"1c253d32-b725-48fe-91ff-c14affa4e2c6","name":"Cliente","value":"Matus","type":"string"},{"id":"84e9ddf1-f4f2-4c18-ab8b-f090b2817f98","name":"airtableBase","value":"appjX236dfu4fY0wy","type":"string"},{"id":"670b07ca-2efd-4161-9321-7e9a2829e0c5","name":"leadsRaw","value":"tblPOI6nchaF8vdqK","type":"string"},{"id":"74a032fc-7854-4687-b93d-f62e92275736","name":"leadsReach","value":"tblXSr8JzKfLPXv6b","type":"string"},{"id":"df35b19d-bd99-46b7-a9c5-d3574b317c77","name":"backlog","value":"tbl4RDZG8Rme3tv9H","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-352,1568],"id":"312fab55-7ad9-410c-98ef-2ed486af5e12","name":"masterVariables2"},{"parameters":{"content":"## ACTUALIZAR","height":208,"width":192,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-400,160],"typeVersion":1,"id":"df1369bf-c161-4c7c-9b05-91e4741c8e98","name":"Sticky Note10"},{"parameters":{"content":"## ACTUALIZAR","height":208,"width":192,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-400,592],"typeVersion":1,"id":"0741f173-500c-493e-9bff-e36ee4b3c6cf","name":"Sticky Note11"},{"parameters":{"content":"## ACTUALIZAR","height":208,"width":192,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-400,1504],"typeVersion":1,"id":"56fc84ac-ac92-4362-873b-269638c89982","name":"Sticky Note12"},{"parameters":{"content":"## ACTUALIZAR","height":208,"width":192,"color":6},"type":"n8n-nodes-base.stickyNote","position":[800,160],"typeVersion":1,"id":"22f9736e-d9bf-40b6-b428-af9d28b6b988","name":"Sticky Note13"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Apify","type":"main","index":0}]]},"Apify":{"main":[[{"node":"reachLeads","type":"main","index":0},{"node":"Update record","type":"main","index":0}]]},"reachLeads":{"main":[[{"node":"leadScoring","type":"main","index":0}]]},"leadScoring":{"main":[[{"node":"reachLeads1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"masterVariables","type":"main","index":0}]]},"If":{"main":[[{"node":"leadCalifidado","type":"main","index":0}],[{"node":"leadDescalificado","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"filtrarLeadsHoy","type":"main","index":0}],[{"node":"If","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"masterVariables2","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Loop Over Items3","type":"main","index":0}]]},"clasificarDuplicados":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Schedule Trigger3":{"main":[[{"node":"masterVariables1","type":"main","index":0}]]},"Loop Over Items3":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Delete a record","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"leerLeads":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"reachLeads1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Search records":{"main":[[{"node":"clasificarDuplicados","type":"main","index":0}]]},"Delete a record":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"leerLeads1":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"leadCalifidado":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"leadDescalificado":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"clasificarLeads":{"main":[[{"node":"✅ Leads","type":"main","index":0}]]},"filtrarLeadsHoy":{"main":[[{"node":"clasificarLeads","type":"main","index":0}]]},"masterVariables":{"main":[[{"node":"leerLeads","type":"main","index":0}]]},"masterVariables1":{"main":[[{"node":"Search records","type":"main","index":0}]]},"masterVariables2":{"main":[[{"node":"leerLeads1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"469cf793-2360-4bd3-82e2-b67ea1add18c","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-01-05T23:26:34.872Z","createdAt":"2026-01-05T23:26:34.872Z","role":"workflow:owner","workflowId":"eBEux9ykSaxwWxHk","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[{"updatedAt":"2026-01-05T04:42:50.078Z","createdAt":"2026-01-05T04:42:50.078Z","id":"4nBqsBTokTKjObU6","name":"LinkedIn"},{"updatedAt":"2026-01-05T04:45:25.095Z","createdAt":"2026-01-05T04:45:25.095Z","id":"PdQTwVw5NnLaxkX0","name":"Leads"}],"activeVersion":null}
