workflows_BACKUP/Matus_ Leads (Google Serch) Médicos P3--hGgAIxuy6N3EkurR.json
{"updatedAt":"2026-01-05T23:27:48.000Z","createdAt":"2026-01-05T23:27:48.865Z","id":"hGgAIxuy6N3EkurR","name":"Matus: Leads (Google Serch) Médicos P3","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"url":"https://www.googleapis.com/customsearch/v1","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"AIzaSyAaj6Uc-TbCb49IX6iCEc3OzFlPFSXYi4Q"},{"name":"cx","value":"c538806fefb2c4915"},{"name":"q","value":"={{ $json.query }}"},{"name":"start","value":"={{ $json.startIndex }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,176],"id":"81f13198-8c45-410f-9d7c-4bee1f426ecd","name":"Google Serch"},{"parameters":{"jsCode":"const items = $json.items || [];\nconst currentStartIndex = parseInt($json.queries?.request?.[0]?.startIndex || '1');\nconst nextStartIndexFromGoogle = $json.queries?.nextPage?.[0]?.startIndex || null;\n\nconst leads = [];\n\nfor (const item of items) {\n  const title = item.title || '';\n  const [nombreRaw, puestoRaw] = title.split(\" - \");\n  const nombre = nombreRaw?.trim() || '';\n  const puesto = puestoRaw?.split(\"|\")[0]?.trim() || '';\n  const link = item.link || '';\n  const about = item.snippet || '';\n\n  if (nombre && link) {\n    leads.push({\n      nombre,\n      link,\n      puesto,\n      about,\n      startIndex: currentStartIndex,\n      queryKey: $node[\"setVar\"].json.queryKey // ← Asegura que lo tenga cada lead\n    });\n  }\n}\n\n// Calcular valores de control para el loop\nconst nextStartIndex = nextStartIndexFromGoogle || (currentStartIndex + 10);\nconst hasMore = !!nextStartIndexFromGoogle;\nconst limiteAlcanzado = currentStartIndex >= 91;\n\nreturn leads.map(l => ({ json: l })).concat([{\n  json: {\n    hasMore,\n    startIndex: currentStartIndex,                // ✅ requerido para loop por startIndex\n    nextStartIndex: limiteAlcanzado ? null : nextStartIndex, // ✅ sigue disponible si lo necesitas\n    query: $node[\"setVar\"].json.query,\n    queryKey: $node[\"setVar\"].json.queryKey\n  }\n}]);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,128],"id":"ea2a68b6-8585-4f86-9fb5-0124224a0aea","name":"Resultados"},{"parameters":{"jsCode":"const activas = items.filter(i => i.json.ESTATUS?.toLowerCase() === 'activo');\n\nif (activas.length === 0) {\n  throw new Error(\"No hay búsqueda activa configurada.\");\n}\n\nconst filaActiva = activas[0];\nconst puesto = filaActiva.json.PUESTO?.trim() || '';\nconst tipo = filaActiva.json['TIPO EMPRESA']?.trim() || '';\nconst ubicacion = filaActiva.json.UBICACION?.trim() || '';\nconst rowNumber = filaActiva.json.row_number;\n\nconst queryKey = `${puesto}|${tipo}|${ubicacion}`;\n\nreturn [\n  {\n    json: {\n      rowNumber,\n      puesto,\n      tipo,\n      ubicacion,\n      query: `${puesto} ${tipo} ${ubicacion} site:linkedin.com/in`,\n      queryKey\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,176],"id":"b35fb7e3-1354-4341-b0ea-0347894a3b5b","name":"QueryBusqueda"},{"parameters":{"assignments":{"assignments":[{"id":"c7dbb28c-2446-4a13-859d-c709ef11a994","name":"startIndex","value":"=1","type":"number"},{"id":"7142e748-3df9-4cbe-acc7-b73828f17cba","name":"query","value":"={{ $json.query }}","type":"string"},{"id":"c548f195-1419-4af1-85e7-584416987d6d","name":"queryKey","value":"={{ $json.queryKey }}","type":"string"},{"id":"52faae15-38e0-4f8a-a1b5-461b66b7547b","name":"rowNumber","value":"={{ $json.rowNumber }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,176],"id":"ca34ae9e-c6ae-4669-b5f2-614276ef6532","name":"setVar"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bab661ea-1338-4dd2-a0d9-322e6bcb9b88","leftValue":"={{ $node[\"Resultados\"].json.nombre }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1024,128],"id":"235570c1-4b2d-49e1-b048-4c15a9c87473","name":"filtroLeads"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2694a7e5-7927-4658-a5c4-24ac25605eb3","leftValue":"={{ $node[\"varQuery\"].json.hasMore }}","rightValue":101,"operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"822e2888-c30b-4280-a0d1-0fad6420ddfb","leftValue":"={{ $node[\"varQuery\"].json.startIndex }}","rightValue":91,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{"ignoreCase":false}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1808,128],"id":"17085e1a-8b49-45f1-bf5f-66f7dd226bf2","name":"loop"},{"parameters":{"chatId":"1019249029","text":"=⚠️  {{ $node[\"MasterVariables\"].json.cliente }} Google Leads: No hay más búsquedas","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3168,1024],"id":"33ae5333-d47c-4dfd-96d5-51ef404e482b","name":"⚠️ Alerta","webhookId":"791ec18a-964e-4f5a-b0b3-efa8157fe357"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1424,128],"id":"b4408c31-6098-47fa-8781-ffc8edefbca3","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"62d188a2-4093-4250-8901-65ae80c3df8d","name":"hasMore","value":"={{ $('Resultados').item.json.hasMore }}","type":"boolean"},{"id":"77701c35-fac1-4696-9984-9e2135f7e4a9","name":"startIndex","value":"={{ $json.startIndex }}","type":"number"},{"id":"230a68f5-56ca-4193-aa72-d07bca81c6e8","name":"query","value":"={{ $json.query }}","type":"string"},{"id":"25c4c3b7-f5bf-4d15-a2ae-8f6a0c6db308","name":"queryKey","value":"={{ $json.queryKey }}","type":"string"},{"id":"cebb0d29-8689-455a-99be-c463394276d5","name":"rowNumber","value":"={{ $('setVar').item.json.rowNumber }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1168,352],"id":"3bf4efc4-daa5-414b-a392-a2601b43be82","name":"varQuery"},{"parameters":{"jsCode":"// Encuentra el item que tiene hasMore, lo cual indica que es el objeto de control\nconst control = items.find(item =>\n  typeof item.json.hasMore !== 'undefined' &&\n  typeof item.json.startIndex !== 'undefined' &&\n  typeof item.json.queryKey !== 'undefined' \n);\n\nif (!control) {\n  throw new Error(\"❌ No se encontró el objeto de control entre los items.\");\n}\n\nreturn [control];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1616,128],"id":"b33eace3-a1f8-4a8c-ae5d-fc3df9a51d08","name":"filtroQuery"},{"parameters":{"assignments":{"assignments":[{"id":"837a2a74-3e39-40ec-b649-8a521d784649","name":"startIndex","value":"={{ $json.startIndex + 10 }}","type":"number"},{"id":"e9e5d6c4-9c11-4b02-b657-a23cd9cbc7c4","name":"query","value":"={{ $json.query }}","type":"string"},{"id":"f5b12538-cd91-4160-944c-6158ef9f27af","name":"queryKey","value":"={{ $json.queryKey }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2064,144],"id":"97cce0a6-34fb-4ade-8e1e-0e5d87024aca","name":"setVarLoop"},{"parameters":{"assignments":{"assignments":[{"id":"34f95396-4d01-4db4-a93c-f872edfe210d","name":"row_number","value":"={{ $json.id }}","type":"string"},{"id":"45bfe912-ba1a-480c-9b44-1c6910156b40","name":"PUESTO","value":"={{ $json.PUESTO }}","type":"string"},{"id":"c060c694-31b0-4834-b14d-0f12dd553d90","name":"TIPO EMPRESA","value":"={{ $json['TIPO EMPRESA'] }}","type":"string"},{"id":"357ad2e2-4a47-4f6d-817c-97015fe7ba1d","name":"UBICACION","value":"={{ $json.UBICACION }}","type":"string"},{"id":"37c3f04d-a815-42e1-9f91-fbc854f06262","name":"ESTATUS","value":"={{ $json.ESTATUS }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[32,176],"id":"8ce8f4c0-f815-4511-824b-1d022871ec49","name":"Edit Fields"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1,2,3,4,5],"triggerAtHour":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1008,464],"id":"cf075624-da7e-4059-8698-afb7e515d380","name":"Schedule Trigger"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1,2,3,4,5],"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1232,944],"id":"bf125857-b631-41e1-a5c7-c45002ef797e","name":"Schedule Trigger1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.type }}","rightValue":"unique","operator":{"type":"string","operation":"equals"},"id":"bda2882e-1078-48d2-a646-d96825fc8638"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"768a16cd-b42e-40b5-8dca-259a02fb0075","leftValue":"={{ $json.type }}","rightValue":"duplicate","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-528,944],"id":"b2d525da-d09f-4899-ba5a-201347f5e57f","name":"Switch1"},{"parameters":{"jsCode":"// 1) Normaliza entrada: por si viene como un array anidado\nlet inputItems = [];\nif (items.length === 1 && Array.isArray(items[0].json)) {\n  for (const row of items[0].json) {\n    inputItems.push({ json: row });\n  }\n} else {\n  inputItems = items;\n}\n\nconst seen = new Set();\nconst uniqueItems = [];\nconst duplicateItems = [];\n\nfor (const item of inputItems) {\n  const row = item.json;\n  const link = (row.LINK || \"\").trim().toLowerCase();\n\n  if (!link || seen.has(link)) {\n    // Duplicado: marca el tipo\n    duplicateItems.push({\n      json: {\n        ...row,\n        type: \"duplicate\"\n      }\n    });\n  } else {\n    // Único: guarda como unique y registra el LINK\n    seen.add(link);\n    uniqueItems.push({\n      json: {\n        ...row,\n        type: \"unique\"\n      }\n    });\n  }\n}\n\n// Ordena duplicados de mayor a menor row_number\nduplicateItems.sort((a, b) => b.json.row_number - a.json.row_number);\n\n// Combina únicos + duplicados ordenados\nconst outputItems = uniqueItems.concat(duplicateItems);\n\nreturn outputItems;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-704,944],"id":"7fe05441-1533-4b54-ab78-8ac8a9d13957","name":"clasificarDuplicados"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-304,1040],"id":"73f4dc3f-8dd2-4bd0-b949-d71e741dd9ad","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-304,864],"id":"0720f2cf-0395-40b7-8d87-da9bee21a7b7","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[112,864],"id":"8bfc2c2e-7af1-4e4f-83a4-491c057fff28","name":"No Operation, do nothing1"},{"parameters":{"content":"## Eliminar perfiles duplicados","height":660,"width":1600,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1296,768],"typeVersion":1,"id":"15ff0443-3a85-457e-b7bb-58e14730aa08","name":"Sticky Note"},{"parameters":{"content":"## Hacemos la búsqueda en Google","height":500,"width":2240,"color":5},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"2cf547f5-818e-4e6a-87c3-72b7a3ca4995","name":"Sticky Note1"},{"parameters":{"content":"## Seteamos la búsqueda","height":280,"width":836},"type":"n8n-nodes-base.stickyNote","position":[-1072,336],"typeVersion":1,"id":"d8fd84ab-5abd-448c-887f-ad39ad715080","name":"Sticky Note2"},{"parameters":{"content":"## Backlog","height":280,"width":1380},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2016,560],"id":"f0920b65-22d6-45bc-9553-e8d834799da2","name":"Sticky Note3"},{"parameters":{"content":"## Nos quedamos sin búsquedas","height":280,"width":360,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3040,928],"id":"b234ee03-c0ee-43b8-bb64-69a878cd3b27","name":"Sticky Note4"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $json.serch }}","mode":"id"},"filterByFormula":"{ESTATUS} = \"Activo\"","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-608,464],"id":"627a8970-612f-41c7-9092-19c64a04fceb","name":"terminosBusqueda"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e10734df-0b5c-4939-b818-148ba13d5a44","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-416,464],"id":"cefd8cce-563a-4b1b-a9d4-96fe1647dbbc","name":"If"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"={{ $('MasterVariables').item.json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $('MasterVariables').item.json.leadsRaw }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"NOMBRE":"={{ $json.nombre }}","LINK":"={{ $json.link }}","PUESTO":"={{ $json.puesto }}","ABOUT":"={{ $json.about }}","QUERY":"={{ $json.queryKey }}","FECHA DE CAPTURA":"={{ $now.toISO() }}"},"matchingColumns":[],"schema":[{"id":"FECHA DE CAPTURA","displayName":"FECHA DE CAPTURA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"LINK","displayName":"LINK","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"PUESTO","displayName":"PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"QUERY","displayName":"QUERY","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"REACH","displayName":"REACH","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1232,112],"id":"a8606cce-d439-417a-b9e3-7541bc52bb25","name":"newLeadsRaw"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $node[\"MasterVariables\"].json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"MasterVariables\"].json.serch }}","mode":"id"},"filterByFormula":"={ESTATUS} = \"Activo\"","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2064,640],"id":"06b5a246-8338-48aa-8c1d-178c4e2d811f","name":"getIndex"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"MasterVariables\"].json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"MasterVariables\"].json.serch }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","ESTATUS":"Hecho","EJECUCIÓN":"={{ $now.toISO() }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"PUESTO","displayName":"PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TIPO EMPRESA","displayName":"TIPO EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"UBICACION","displayName":"UBICACION","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Hecho","value":"Hecho"},{"name":"Activo","value":"Activo"},{"name":"Inactivo","value":"Inactivo"}],"readOnly":false,"removed":false},{"id":"EJECUCIÓN","displayName":"EJECUCIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2272,640],"id":"aa53093e-cfbc-447a-a63c-d8d0d259e9eb","name":"updateIndex"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $node[\"MasterVariables\"].json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"MasterVariables\"].json.serch }}","mode":"id"},"filterByFormula":"{ESTATUS} = \"Inactivo\"","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2464,640],"id":"998e6788-5b4e-4202-b6b1-1447d43e417b","name":"Search records"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"MasterVariables\"].json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"MasterVariables\"].json.serch }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","ESTATUS":"Activo"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"PUESTO","displayName":"PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TIPO EMPRESA","displayName":"TIPO EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"UBICACION","displayName":"UBICACION","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Hecho","value":"Hecho"},{"name":"Activo","value":"Activo"},{"name":"Inactivo","value":"Inactivo"}],"readOnly":false,"removed":false},{"id":"EJECUCIÓN","displayName":"EJECUCIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[3264,688],"id":"c3a3d520-4562-47ab-b201-d753829845cf","name":"Update record"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3056,608],"id":"f8e53f87-e8ef-44dc-bdbb-108da3b0d2d7","name":"Loop Over Items1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"66eb3ab6-2ad2-4fdf-b705-1352ecf3c0b4","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2864,640],"id":"2c080c6a-dbeb-496a-841b-a4f81a57f976","name":"hayRegistros"},{"parameters":{"jsCode":"items.sort((a, b) => {\n  const scoreA = parseFloat(a.json.SCORE) || 0;\n  const scoreB = parseFloat(b.json.SCORE) || 0;\n  return scoreB - scoreA;\n});\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2672,640],"id":"c03c8a3d-cf60-43e2-b4d7-66835799f181","name":"sortItems"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $json.leadsRaw }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-880,944],"id":"9b70b014-91b6-4017-90d9-dfa9ed9f6c87","name":"Search records1"},{"parameters":{"operation":"deleteRecord","base":{"__rl":true,"value":"={{ $node[\"MasterVariables1\"].json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"MasterVariables1\"].json.leadsRaw }}","mode":"id"},"id":"={{ $json.id }}"},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-96,1152],"id":"1e781d9a-0638-4e0e-ac9a-25ec239c0fcb","name":"Delete a record"},{"parameters":{"assignments":{"assignments":[{"id":"685be279-8d6e-4dfd-8ab1-93baa6981f31","name":"cliente","value":"Matus","type":"string"},{"id":"1d52b03b-f43d-431e-945a-82e2806fe31b","name":"airtableBase","value":"appjX236dfu4fY0wy","type":"string"},{"id":"f4ef4b96-ad3f-443e-8d9b-7a70eac84252","name":"serch","value":"tbl1j56Jyomrcvn00","type":"string"},{"id":"314492cb-c14d-4ea2-bb99-04751b889787","name":"leadsRaw","value":"tblPOI6nchaF8vdqK","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-816,464],"id":"ace4fd08-5b5c-4e58-992c-a1c3a00266fe","name":"MasterVariables"},{"parameters":{"assignments":{"assignments":[{"id":"1d52b03b-f43d-431e-945a-82e2806fe31b","name":"airtableBase","value":"appjX236dfu4fY0wy","type":"string"},{"id":"f4ef4b96-ad3f-443e-8d9b-7a70eac84252","name":"serch","value":"tbl1j56Jyomrcvn00","type":"string"},{"id":"314492cb-c14d-4ea2-bb99-04751b889787","name":"leadsRaw","value":"tblPOI6nchaF8vdqK","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1056,944],"id":"930fd3d8-7126-409c-af34-dd2b93b287a5","name":"MasterVariables1"},{"parameters":{"content":"## ACTUALIZAR","height":208,"width":192,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-864,400],"typeVersion":1,"id":"251c293e-bd6c-412e-ab8f-3cbad5020cfd","name":"Sticky Note10"},{"parameters":{"content":"## ACTUALIZAR","height":208,"width":192,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-1104,880],"typeVersion":1,"id":"f91e0b42-2ddd-4fe3-a0f6-c6332952494d","name":"Sticky Note11"}],"connections":{"Google Serch":{"main":[[{"node":"Resultados","type":"main","index":0}]]},"Resultados":{"main":[[{"node":"filtroLeads","type":"main","index":0}]]},"QueryBusqueda":{"main":[[{"node":"setVar","type":"main","index":0}]]},"setVar":{"main":[[{"node":"Google Serch","type":"main","index":0}]]},"filtroLeads":{"main":[[{"node":"newLeadsRaw","type":"main","index":0}],[{"node":"varQuery","type":"main","index":0}]]},"loop":{"main":[[{"node":"setVarLoop","type":"main","index":0}],[{"node":"getIndex","type":"main","index":0}]]},"Merge":{"main":[[{"node":"filtroQuery","type":"main","index":0}]]},"varQuery":{"main":[[{"node":"Merge","type":"main","index":1}]]},"filtroQuery":{"main":[[{"node":"loop","type":"main","index":0}]]},"setVarLoop":{"main":[[{"node":"Google Serch","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"QueryBusqueda","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"MasterVariables","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"MasterVariables1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"clasificarDuplicados":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Delete a record","type":"main","index":0}]]},"terminosBusqueda":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"⚠️ Alerta","type":"main","index":0}]]},"newLeadsRaw":{"main":[[{"node":"Merge","type":"main","index":0}]]},"getIndex":{"main":[[{"node":"updateIndex","type":"main","index":0}]]},"updateIndex":{"main":[[{"node":"Search records","type":"main","index":0}]]},"Search records":{"main":[[{"node":"sortItems","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Update record","type":"main","index":0}]]},"hayRegistros":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}],[{"node":"⚠️ Alerta","type":"main","index":0}]]},"sortItems":{"main":[[{"node":"hayRegistros","type":"main","index":0}]]},"Search records1":{"main":[[{"node":"clasificarDuplicados","type":"main","index":0}]]},"Delete a record":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"MasterVariables":{"main":[[{"node":"terminosBusqueda","type":"main","index":0}]]},"MasterVariables1":{"main":[[{"node":"Search records1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"2d28de2b-cec6-4517-90fe-214991eb8058","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-01-05T23:27:48.869Z","createdAt":"2026-01-05T23:27:48.869Z","role":"workflow:owner","workflowId":"hGgAIxuy6N3EkurR","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[{"updatedAt":"2026-01-05T04:45:25.095Z","createdAt":"2026-01-05T04:45:25.095Z","id":"PdQTwVw5NnLaxkX0","name":"Leads"}],"activeVersion":null}