workflows_BACKUP/Matus_ Leads (Google Serch) Dueños P3--Gh8xwDvQtAgDOOI6.json
{"updatedAt":"2026-01-05T23:25:28.000Z","createdAt":"2026-01-05T23:25:28.541Z","id":"Gh8xwDvQtAgDOOI6","name":"Matus: Leads (Google Serch) Dueños P3","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"url":"https://www.googleapis.com/customsearch/v1","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"AIzaSyAaj6Uc-TbCb49IX6iCEc3OzFlPFSXYi4Q"},{"name":"cx","value":"c538806fefb2c4915"},{"name":"q","value":"={{ $json.query }}"},{"name":"start","value":"={{ $json.startIndex }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,176],"id":"a6bec52b-838a-4626-922c-d6b811ab0002","name":"Google Serch"},{"parameters":{"jsCode":"const items = $json.items || [];\nconst currentStartIndex = parseInt($json.queries?.request?.[0]?.startIndex || '1');\nconst nextStartIndexFromGoogle = $json.queries?.nextPage?.[0]?.startIndex || null;\n\nconst leads = [];\n\nfor (const item of items) {\n  const title = item.title || '';\n  const [nombreRaw, puestoRaw] = title.split(\" - \");\n  const nombre = nombreRaw?.trim() || '';\n  const puesto = puestoRaw?.split(\"|\")[0]?.trim() || '';\n  const link = item.link || '';\n  const about = item.snippet || '';\n\n  if (nombre && link) {\n    leads.push({\n      nombre,\n      link,\n      puesto,\n      about,\n      startIndex: currentStartIndex,\n      queryKey: $node[\"setVar\"].json.queryKey // ← Asegura que lo tenga cada lead\n    });\n  }\n}\n\n// Calcular valores de control para el loop\nconst nextStartIndex = nextStartIndexFromGoogle || (currentStartIndex + 10);\nconst hasMore = !!nextStartIndexFromGoogle;\nconst limiteAlcanzado = currentStartIndex >= 91;\n\nreturn leads.map(l => ({ json: l })).concat([{\n  json: {\n    hasMore,\n    startIndex: currentStartIndex,                // ✅ requerido para loop por startIndex\n    nextStartIndex: limiteAlcanzado ? null : nextStartIndex, // ✅ sigue disponible si lo necesitas\n    query: $node[\"setVar\"].json.query,\n    queryKey: $node[\"setVar\"].json.queryKey\n  }\n}]);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,128],"id":"9b4e3840-fef9-4815-96b2-deb1911bd1e8","name":"Resultados"},{"parameters":{"jsCode":"const activas = items.filter(i => i.json.ESTATUS?.toLowerCase() === 'activo');\n\nif (activas.length === 0) {\n  throw new Error(\"No hay búsqueda activa configurada.\");\n}\n\nconst filaActiva = activas[0];\nconst puesto = filaActiva.json.PUESTO?.trim() || '';\nconst tipo = filaActiva.json['TIPO EMPRESA']?.trim() || '';\nconst ubicacion = filaActiva.json.UBICACION?.trim() || '';\nconst rowNumber = filaActiva.json.row_number;\n\nconst queryKey = `${puesto}|${tipo}|${ubicacion}`;\n\nreturn [\n  {\n    json: {\n      rowNumber,\n      puesto,\n      tipo,\n      ubicacion,\n      query: `${puesto} ${tipo} ${ubicacion} site:linkedin.com/in`,\n      queryKey\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,176],"id":"0ec7cbe7-707c-4047-84d8-d1d269a050c0","name":"QueryBusqueda"},{"parameters":{"assignments":{"assignments":[{"id":"c7dbb28c-2446-4a13-859d-c709ef11a994","name":"startIndex","value":"=1","type":"number"},{"id":"7142e748-3df9-4cbe-acc7-b73828f17cba","name":"query","value":"={{ $json.query }}","type":"string"},{"id":"c548f195-1419-4af1-85e7-584416987d6d","name":"queryKey","value":"={{ $json.queryKey }}","type":"string"},{"id":"52faae15-38e0-4f8a-a1b5-461b66b7547b","name":"rowNumber","value":"={{ $json.rowNumber }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,176],"id":"864d4d40-556b-40ab-b47f-14048d2d8de6","name":"setVar"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bab661ea-1338-4dd2-a0d9-322e6bcb9b88","leftValue":"={{ $node[\"Resultados\"].json.nombre }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1024,128],"id":"b2614259-053e-4b78-a59a-ba10eb3452ff","name":"filtroLeads"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2694a7e5-7927-4658-a5c4-24ac25605eb3","leftValue":"={{ $node[\"varQuery\"].json.hasMore }}","rightValue":101,"operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"822e2888-c30b-4280-a0d1-0fad6420ddfb","leftValue":"={{ $node[\"varQuery\"].json.startIndex }}","rightValue":91,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{"ignoreCase":false}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1808,128],"id":"168e95d3-0a57-471b-a2e7-807b133d39d5","name":"loop"},{"parameters":{"chatId":"1019249029","text":"=⚠️  {{ $node[\"MasterVariables\"].json.cliente }} Google Leads: No hay más búsquedas","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3168,1024],"id":"8cd06380-f358-4268-b84a-618a69e28444","name":"⚠️ Alerta","webhookId":"42aa26ac-040a-4731-ab03-7d666fef17a5"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1424,128],"id":"a3db98b7-201c-4e36-8533-165e345be878","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"62d188a2-4093-4250-8901-65ae80c3df8d","name":"hasMore","value":"={{ $('Resultados').item.json.hasMore }}","type":"boolean"},{"id":"77701c35-fac1-4696-9984-9e2135f7e4a9","name":"startIndex","value":"={{ $json.startIndex }}","type":"number"},{"id":"230a68f5-56ca-4193-aa72-d07bca81c6e8","name":"query","value":"={{ $json.query }}","type":"string"},{"id":"25c4c3b7-f5bf-4d15-a2ae-8f6a0c6db308","name":"queryKey","value":"={{ $json.queryKey }}","type":"string"},{"id":"cebb0d29-8689-455a-99be-c463394276d5","name":"rowNumber","value":"={{ $('setVar').item.json.rowNumber }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1168,352],"id":"dc029092-8ed6-49dd-bcbe-4237bac0087b","name":"varQuery"},{"parameters":{"jsCode":"// Encuentra el item que tiene hasMore, lo cual indica que es el objeto de control\nconst control = items.find(item =>\n  typeof item.json.hasMore !== 'undefined' &&\n  typeof item.json.startIndex !== 'undefined' &&\n  typeof item.json.queryKey !== 'undefined' \n);\n\nif (!control) {\n  throw new Error(\"❌ No se encontró el objeto de control entre los items.\");\n}\n\nreturn [control];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1616,128],"id":"e56ae222-3aab-432e-a9a0-e2d2584253d5","name":"filtroQuery"},{"parameters":{"assignments":{"assignments":[{"id":"837a2a74-3e39-40ec-b649-8a521d784649","name":"startIndex","value":"={{ $json.startIndex + 10 }}","type":"number"},{"id":"e9e5d6c4-9c11-4b02-b657-a23cd9cbc7c4","name":"query","value":"={{ $json.query }}","type":"string"},{"id":"f5b12538-cd91-4160-944c-6158ef9f27af","name":"queryKey","value":"={{ $json.queryKey }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2064,144],"id":"da196529-ce6f-4c01-8dad-e91aeb465da6","name":"setVarLoop"},{"parameters":{"assignments":{"assignments":[{"id":"34f95396-4d01-4db4-a93c-f872edfe210d","name":"row_number","value":"={{ $json.id }}","type":"string"},{"id":"45bfe912-ba1a-480c-9b44-1c6910156b40","name":"PUESTO","value":"={{ $json.PUESTO }}","type":"string"},{"id":"c060c694-31b0-4834-b14d-0f12dd553d90","name":"TIPO EMPRESA","value":"={{ $json['TIPO EMPRESA'] }}","type":"string"},{"id":"357ad2e2-4a47-4f6d-817c-97015fe7ba1d","name":"UBICACION","value":"={{ $json.UBICACION }}","type":"string"},{"id":"37c3f04d-a815-42e1-9f91-fbc854f06262","name":"ESTATUS","value":"={{ $json.ESTATUS }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[32,176],"id":"7901c94e-2d6c-48a2-bdb5-0f0a0b332541","name":"Edit Fields"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1,2,3,4,5],"triggerAtHour":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1008,464],"id":"51f26eb3-5e35-4315-9750-451683062790","name":"Schedule Trigger"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1,2,3,4,5],"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1232,944],"id":"8d31734a-d0f8-427e-baf6-21e2da2cec65","name":"Schedule Trigger1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.type }}","rightValue":"unique","operator":{"type":"string","operation":"equals"},"id":"bda2882e-1078-48d2-a646-d96825fc8638"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"768a16cd-b42e-40b5-8dca-259a02fb0075","leftValue":"={{ $json.type }}","rightValue":"duplicate","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-528,944],"id":"400b777a-217d-4e58-98ba-49ee8ad9490a","name":"Switch1"},{"parameters":{"jsCode":"// 1) Normaliza entrada: por si viene como un array anidado\nlet inputItems = [];\nif (items.length === 1 && Array.isArray(items[0].json)) {\n  for (const row of items[0].json) {\n    inputItems.push({ json: row });\n  }\n} else {\n  inputItems = items;\n}\n\nconst seen = new Set();\nconst uniqueItems = [];\nconst duplicateItems = [];\n\nfor (const item of inputItems) {\n  const row = item.json;\n  const link = (row.LINK || \"\").trim().toLowerCase();\n\n  if (!link || seen.has(link)) {\n    // Duplicado: marca el tipo\n    duplicateItems.push({\n      json: {\n        ...row,\n        type: \"duplicate\"\n      }\n    });\n  } else {\n    // Único: guarda como unique y registra el LINK\n    seen.add(link);\n    uniqueItems.push({\n      json: {\n        ...row,\n        type: \"unique\"\n      }\n    });\n  }\n}\n\n// Ordena duplicados de mayor a menor row_number\nduplicateItems.sort((a, b) => b.json.row_number - a.json.row_number);\n\n// Combina únicos + duplicados ordenados\nconst outputItems = uniqueItems.concat(duplicateItems);\n\nreturn outputItems;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-704,944],"id":"db01b720-a4c6-4438-a856-7a8442362ba5","name":"clasificarDuplicados"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-304,1040],"id":"20954284-6ca6-48ca-9a0f-2209d5d7cd0b","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-304,864],"id":"e78774dd-a08c-4c6d-9664-ef31aece89e5","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[112,864],"id":"83d7a9be-b87a-48e8-90d6-36f07d4a6970","name":"No Operation, do nothing1"},{"parameters":{"content":"## Eliminar perfiles duplicados","height":660,"width":1600,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1296,768],"typeVersion":1,"id":"1da10167-fb0d-4381-94e5-44df9ec74a2f","name":"Sticky Note"},{"parameters":{"content":"## Hacemos la búsqueda en Google","height":500,"width":2240,"color":5},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"5db1d5cf-cbf8-4384-bd61-3e1f0ad5e978","name":"Sticky Note1"},{"parameters":{"content":"## Seteamos la búsqueda","height":280,"width":836},"type":"n8n-nodes-base.stickyNote","position":[-1072,336],"typeVersion":1,"id":"d7ed3b2f-b3f7-4712-8576-aa41d9a2d65c","name":"Sticky Note2"},{"parameters":{"content":"## Backlog","height":280,"width":1380},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2016,560],"id":"9d714a39-7011-4c55-83d4-746bd42b7ed0","name":"Sticky Note3"},{"parameters":{"content":"## Nos quedamos sin búsquedas","height":280,"width":360,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3040,928],"id":"602cc511-66e2-4c37-aeb0-1835e83ea58f","name":"Sticky Note4"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $json.serch }}","mode":"id"},"filterByFormula":"{ESTATUS} = \"Activo\"","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-608,464],"id":"c1fea006-9a97-4acf-9e78-716cca0c60c6","name":"terminosBusqueda"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e10734df-0b5c-4939-b818-148ba13d5a44","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-416,464],"id":"6a05e71a-8018-4bc6-9f6f-78396b75d553","name":"If"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"={{ $('MasterVariables').item.json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $('MasterVariables').item.json.leadsRaw }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"NOMBRE":"={{ $json.nombre }}","LINK":"={{ $json.link }}","PUESTO":"={{ $json.puesto }}","ABOUT":"={{ $json.about }}","QUERY":"={{ $json.queryKey }}","FECHA DE CAPTURA":"={{ $now.toISO() }}"},"matchingColumns":[],"schema":[{"id":"FECHA DE CAPTURA","displayName":"FECHA DE CAPTURA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"LINK","displayName":"LINK","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"PUESTO","displayName":"PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"QUERY","displayName":"QUERY","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"REACH","displayName":"REACH","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1232,112],"id":"645387bd-b7eb-4f89-a1f9-f8894404e08e","name":"newLeadsRaw"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $node[\"MasterVariables\"].json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"MasterVariables\"].json.serch }}","mode":"id"},"filterByFormula":"={ESTATUS} = \"Activo\"","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2064,640],"id":"3cd677b0-a2c3-4404-8497-121017911757","name":"getIndex"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"MasterVariables\"].json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"MasterVariables\"].json.serch }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","ESTATUS":"Hecho","EJECUCIÓN":"={{ $now.toISO() }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"PUESTO","displayName":"PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TIPO EMPRESA","displayName":"TIPO EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"UBICACION","displayName":"UBICACION","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Hecho","value":"Hecho"},{"name":"Activo","value":"Activo"},{"name":"Inactivo","value":"Inactivo"}],"readOnly":false,"removed":false},{"id":"EJECUCIÓN","displayName":"EJECUCIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2272,640],"id":"3364016b-4b23-41d4-a771-40ef9e79b0fc","name":"updateIndex"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $node[\"MasterVariables\"].json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"MasterVariables\"].json.serch }}","mode":"id"},"filterByFormula":"{ESTATUS} = \"Inactivo\"","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2464,640],"id":"e8c6df3c-b517-4486-acd9-72d463fe831d","name":"Search records"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"MasterVariables\"].json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"MasterVariables\"].json.serch }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","ESTATUS":"Activo"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"PUESTO","displayName":"PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TIPO EMPRESA","displayName":"TIPO EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"UBICACION","displayName":"UBICACION","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Hecho","value":"Hecho"},{"name":"Activo","value":"Activo"},{"name":"Inactivo","value":"Inactivo"}],"readOnly":false,"removed":false},{"id":"EJECUCIÓN","displayName":"EJECUCIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[3264,688],"id":"d8072246-a108-4659-b493-34f1c8adbefb","name":"Update record"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3056,608],"id":"98e060b6-3aad-4309-abfe-fe2a77d64964","name":"Loop Over Items1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"66eb3ab6-2ad2-4fdf-b705-1352ecf3c0b4","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2864,640],"id":"7fcd1ea3-55ff-41e1-a29f-21f6e55f6c3d","name":"hayRegistros"},{"parameters":{"jsCode":"items.sort((a, b) => {\n  const scoreA = parseFloat(a.json.SCORE) || 0;\n  const scoreB = parseFloat(b.json.SCORE) || 0;\n  return scoreB - scoreA;\n});\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2672,640],"id":"01245b6b-1b23-465e-9237-93e12b102922","name":"sortItems"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $json.leadsRaw }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-880,944],"id":"b9cd6485-38f0-4076-b899-7c12e7b09a0e","name":"Search records1"},{"parameters":{"operation":"deleteRecord","base":{"__rl":true,"value":"={{ $node[\"MasterVariables1\"].json.airtableBase }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"MasterVariables1\"].json.leadsRaw }}","mode":"id"},"id":"={{ $json.id }}"},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-96,1152],"id":"62249b98-2bbf-493f-83e3-1fc2ddf2f5f5","name":"Delete a record"},{"parameters":{"assignments":{"assignments":[{"id":"685be279-8d6e-4dfd-8ab1-93baa6981f31","name":"cliente","value":"Matus","type":"string"},{"id":"1d52b03b-f43d-431e-945a-82e2806fe31b","name":"airtableBase","value":"appjX236dfu4fY0wy","type":"string"},{"id":"f4ef4b96-ad3f-443e-8d9b-7a70eac84252","name":"serch","value":"tbl7FVRVUYYmw7Jnf","type":"string"},{"id":"314492cb-c14d-4ea2-bb99-04751b889787","name":"leadsRaw","value":"tblPOI6nchaF8vdqK","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-816,464],"id":"4733a2f1-8a19-4059-ad20-c5a6c03a95dc","name":"MasterVariables"},{"parameters":{"assignments":{"assignments":[{"id":"1d52b03b-f43d-431e-945a-82e2806fe31b","name":"airtableBase","value":"appjX236dfu4fY0wy","type":"string"},{"id":"f4ef4b96-ad3f-443e-8d9b-7a70eac84252","name":"serch","value":"tbl7FVRVUYYmw7Jnf","type":"string"},{"id":"314492cb-c14d-4ea2-bb99-04751b889787","name":"leadsRaw","value":"tblPOI6nchaF8vdqK","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1056,944],"id":"08134c1e-e76c-4e47-8042-81d885d940a7","name":"MasterVariables1"},{"parameters":{"content":"## ACTUALIZAR","height":208,"width":192,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-864,400],"typeVersion":1,"id":"145f2357-ce39-470b-88c5-06f184344ee0","name":"Sticky Note10"},{"parameters":{"content":"## ACTUALIZAR","height":208,"width":192,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-1104,880],"typeVersion":1,"id":"c14013a7-c6c2-480d-aeb7-88e7c44bc9de","name":"Sticky Note11"}],"connections":{"Google Serch":{"main":[[{"node":"Resultados","type":"main","index":0}]]},"Resultados":{"main":[[{"node":"filtroLeads","type":"main","index":0}]]},"QueryBusqueda":{"main":[[{"node":"setVar","type":"main","index":0}]]},"setVar":{"main":[[{"node":"Google Serch","type":"main","index":0}]]},"filtroLeads":{"main":[[{"node":"newLeadsRaw","type":"main","index":0}],[{"node":"varQuery","type":"main","index":0}]]},"loop":{"main":[[{"node":"setVarLoop","type":"main","index":0}],[{"node":"getIndex","type":"main","index":0}]]},"Merge":{"main":[[{"node":"filtroQuery","type":"main","index":0}]]},"varQuery":{"main":[[{"node":"Merge","type":"main","index":1}]]},"filtroQuery":{"main":[[{"node":"loop","type":"main","index":0}]]},"setVarLoop":{"main":[[{"node":"Google Serch","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"QueryBusqueda","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"MasterVariables","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"MasterVariables1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"clasificarDuplicados":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"Delete a record","type":"main","index":0}]]},"terminosBusqueda":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"⚠️ Alerta","type":"main","index":0}]]},"newLeadsRaw":{"main":[[{"node":"Merge","type":"main","index":0}]]},"getIndex":{"main":[[{"node":"updateIndex","type":"main","index":0}]]},"updateIndex":{"main":[[{"node":"Search records","type":"main","index":0}]]},"Search records":{"main":[[{"node":"sortItems","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Update record","type":"main","index":0}]]},"hayRegistros":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}],[{"node":"⚠️ Alerta","type":"main","index":0}]]},"sortItems":{"main":[[{"node":"hayRegistros","type":"main","index":0}]]},"Search records1":{"main":[[{"node":"clasificarDuplicados","type":"main","index":0}]]},"Delete a record":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"MasterVariables":{"main":[[{"node":"terminosBusqueda","type":"main","index":0}]]},"MasterVariables1":{"main":[[{"node":"Search records1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"09619d2d-d6ab-44ab-bd64-0bc0ce1ce6a8","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-01-05T23:25:28.545Z","createdAt":"2026-01-05T23:25:28.545Z","role":"workflow:owner","workflowId":"Gh8xwDvQtAgDOOI6","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[{"updatedAt":"2026-01-05T04:45:25.095Z","createdAt":"2026-01-05T04:45:25.095Z","id":"PdQTwVw5NnLaxkX0","name":"Leads"}],"activeVersion":null}