workflows_BACKUP/Noti_dux P1--ll1XktarxI7kKeSN.json
{"updatedAt":"2026-01-12T22:47:44.397Z","createdAt":"2026-01-05T04:49:59.510Z","id":"ll1XktarxI7kKeSN","name":"Noti_dux P1","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"=dux","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1584,1168],"id":"01e0396e-d16e-44f3-a57c-f50d9253c8aa","name":"Webhook","webhookId":"c8ae6a1c-108c-425b-ad0a-e98ccd61678b"},{"parameters":{"content":"## Notificación de respuesta\n\n*Este flujo tiene el propósito de notificar al usuario y al equipo de la respuesta de un leed. \n*Se recibe la notificación mediante el nodo de Dux-Soup\n*Se filtra por tipo de mensaje o error en envío. \n*Se manda mensaje a Telegram al equipo y correo electrónico. \n*Se actualizan los datos en aritable. \n","height":384,"width":912,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-2192,976],"typeVersion":1,"id":"ddafda3d-5de5-4862-865e-0b994491a87a","name":"Sticky Note1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.type }}","rightValue":"=message","operator":{"type":"string","operation":"equals"},"id":"253b072d-3d4a-4805-ab8e-04b23de44155"}],"combinator":"and"},"renameOutput":true,"outputKey":"Mensaje"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"74243f0f-ceb2-4467-b99a-5db51d36ffa6","leftValue":"={{ $json.body.type }}","rightValue":"rccommand","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Error "}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-1296,1168],"id":"46451cd9-c6f6-4c29-b54f-91904f709e34","name":"Filtro: mensaje o error","alwaysOutputData":false},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.event }}","rightValue":"sent","operator":{"type":"string","operation":"equals"},"id":"b60ea879-5bdb-4a7a-a221-37030e9aa83a"}],"combinator":"and"},"renameOutput":true,"outputKey":"Mensaje Enviado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"09052f37-f7b0-4ffa-9d34-508cde53272e","leftValue":"={{ $json.body.event }}","rightValue":"received","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mensaje recibido"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-1056,896],"id":"0a047ef8-a1c7-4d23-84b8-e9ff73012fd2","name":"Filtro: tipo de mensaje"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.data.type }}","rightValue":"INVITATION_ACCEPT","operator":{"type":"string","operation":"equals"},"id":"fc8d7fd0-48b5-4ef7-a729-5bfeead7938b"}],"combinator":"and"},"renameOutput":true,"outputKey":"Se aceptó la conexión"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6d041c24-1d12-4a7b-b493-e9042e397102","leftValue":"={{ $json.body.data.type }}","rightValue":"MEMBER_TO_MEMBER","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Se recibió respuesta"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-656,928],"id":"7be3cd3f-baf9-4587-bd6c-4590530a8810","name":"Respuesta al mensaje"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body[0].body.event }}","rightValue":"error","operator":{"type":"string","operation":"equals"},"id":"c8039a8c-adc3-48bf-826b-56bac073a38b"}],"combinator":"and"},"renameOutput":true,"outputKey":"Envío fallido "},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c5ba1ab8-32f6-4148-87d6-0a7f84d237d3","leftValue":"={{ $json.body[0].body.event }}","rightValue":"ignore","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Blacklisted"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6fdba4bd-c6c1-480f-8160-b89fac948b6a","leftValue":"={{ $json.body.event }}","rightValue":"snooze","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Snooze"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-1024,1504],"id":"f97edd30-118a-4a42-becb-8c7647f51819","name":"Filtro de errores"},{"parameters":{"content":"## Mensajes:\n\nSe trabajan dos casos:\n* Mensaje enviado\n* Mensaje recibido"},"type":"n8n-nodes-base.stickyNote","position":[-1232,752],"typeVersion":1,"id":"8f881845-6c18-4dac-9760-79104b53cc1c","name":"Sticky Note"},{"parameters":{"content":"## Mensajes recibidos\nSe trabaja con dos casos:\n* Solicitud de conexión aceptada\n* Se recibió un mensaje escrito\n","width":400,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-80,816],"typeVersion":1,"id":"a33f87a3-1fdb-41d7-9c92-58998e5a906d","name":"Sticky Note2"},{"parameters":{"content":"## Pausa\n\nDux avisará que se detuvo la operación si registra que se han mandado más mensajes de los recomendados. Pondrá en cola a los que están pendientes y continuará al siguiente día. No requiere intervención.","height":240,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1504,1632],"typeVersion":1,"id":"16b1d1c0-2682-4876-ae50-9112bda1e46f","name":"Sticky Note5"},{"parameters":{"chatId":"1019249029","text":"=Madema: | NOTIFICACIÓN DE PAUSA (SNOOZE)\n\nEl robot de automatización ha detenido su actividad temporalmente para proteger la cuenta.\n\nMotivo: {{ $('Filtro: mensaje o error').item.json.body.data.reason }} \nDuración: {{ $('Filtro: mensaje o error').item.json.body.data.time }} segundos. \n\nEl robot se reanudará automáticamente. No se requiere intervención.\n\n","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-816,1968],"id":"f3a7dbfa-ba95-4091-b618-6a50815d3d18","name":"Notificación de error: Pausa ","webhookId":"90895c11-48d2-4526-8e44-d91a24ce052c","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"chatId":"1019249029","text":"=Madema: Se detectó un error de envío con el perfil:  {{ $json.fields['LINKEDIN URL'] }}\n\nTipo de error: {{ $('Filtro de errores').item.json.body.data.params.reason }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-640,1760],"id":"b75ff108-a0b4-4e9c-a55b-270170368f55","name":"Notificación de error: blacklisted2","webhookId":"90895c11-48d2-4526-8e44-d91a24ce052c","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"chatId":"1019249029","text":"=Madema: Se detectó un error de envío con el perfil:  {{ $json.fields['LINKEDIN URL'] }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-544,1552],"id":"735709e9-9066-4734-8da4-61e0a447dd38","name":"Notificación de error","webhookId":"90895c11-48d2-4526-8e44-d91a24ce052c","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"chatId":"1019249029","text":"=Madema: Se registró una respuesta de:  \nPerfil: {{ $('Webhook').item.json.body.data.from }}\nMensaje: {{ $('Webhook').item.json.body.data.text }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-336,1008],"id":"03231f70-84f1-411f-905d-a36d7b6d5d6a","name":"Notificación de Respuesta1","webhookId":"15e33c01-6b9f-497c-a78c-ddcc286c4659","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"chatId":"1019249029","text":"=Madema: Se registró una conexión exitosa con:\n{{ $json.body.data.fromFirstName }} {{ $json.body.data.fromLastName }}\n\n{{ $json.body.data.from }}\n","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-336,720],"id":"8cbc5148-0bb1-41e7-a7da-a4b941f8cb5b","name":"Notificación de conexión ","webhookId":"90cfa0c3-550b-4986-8fc4-5d2f6ad0f136","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1584,1408],"id":"faf8c245-fca5-4060-b8a0-8ad1cdf4afb1","name":"When clicking ‘Execute workflow’"}],"connections":{"Webhook":{"main":[[{"node":"Filtro: mensaje o error","type":"main","index":0}]]},"Filtro: mensaje o error":{"main":[[{"node":"Filtro: tipo de mensaje","type":"main","index":0}],[{"node":"Filtro de errores","type":"main","index":0}]]},"Filtro: tipo de mensaje":{"main":[[],[{"node":"Respuesta al mensaje","type":"main","index":0}]]},"Respuesta al mensaje":{"main":[[{"node":"Notificación de conexión ","type":"main","index":0}],[{"node":"Notificación de Respuesta1","type":"main","index":0}]]},"Filtro de errores":{"main":[[{"node":"Notificación de error","type":"main","index":0}],[{"node":"Notificación de error: blacklisted2","type":"main","index":0}],[]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Filtro: mensaje o error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"425316d0-e741-41fb-9256-b4a1d93f46a6","activeVersionId":"425316d0-e741-41fb-9256-b4a1d93f46a6","versionCounter":28,"triggerCount":1,"shared":[{"updatedAt":"2026-01-05T04:49:59.520Z","createdAt":"2026-01-05T04:49:59.520Z","role":"workflow:owner","workflowId":"ll1XktarxI7kKeSN","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-12T22:47:47.000Z","createdAt":"2026-01-12T22:47:44.398Z","versionId":"425316d0-e741-41fb-9256-b4a1d93f46a6","workflowId":"ll1XktarxI7kKeSN","nodes":[{"parameters":{"httpMethod":"POST","path":"=dux","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1584,1168],"id":"01e0396e-d16e-44f3-a57c-f50d9253c8aa","name":"Webhook","webhookId":"c8ae6a1c-108c-425b-ad0a-e98ccd61678b"},{"parameters":{"content":"## Notificación de respuesta\n\n*Este flujo tiene el propósito de notificar al usuario y al equipo de la respuesta de un leed. \n*Se recibe la notificación mediante el nodo de Dux-Soup\n*Se filtra por tipo de mensaje o error en envío. \n*Se manda mensaje a Telegram al equipo y correo electrónico. \n*Se actualizan los datos en aritable. \n","height":384,"width":912,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-2192,976],"typeVersion":1,"id":"ddafda3d-5de5-4862-865e-0b994491a87a","name":"Sticky Note1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.type }}","rightValue":"=message","operator":{"type":"string","operation":"equals"},"id":"253b072d-3d4a-4805-ab8e-04b23de44155"}],"combinator":"and"},"renameOutput":true,"outputKey":"Mensaje"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"74243f0f-ceb2-4467-b99a-5db51d36ffa6","leftValue":"={{ $json.body.type }}","rightValue":"rccommand","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Error "}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-1296,1168],"id":"46451cd9-c6f6-4c29-b54f-91904f709e34","name":"Filtro: mensaje o error","alwaysOutputData":false},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.event }}","rightValue":"sent","operator":{"type":"string","operation":"equals"},"id":"b60ea879-5bdb-4a7a-a221-37030e9aa83a"}],"combinator":"and"},"renameOutput":true,"outputKey":"Mensaje Enviado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"09052f37-f7b0-4ffa-9d34-508cde53272e","leftValue":"={{ $json.body.event }}","rightValue":"received","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mensaje recibido"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-1056,896],"id":"0a047ef8-a1c7-4d23-84b8-e9ff73012fd2","name":"Filtro: tipo de mensaje"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.data.type }}","rightValue":"INVITATION_ACCEPT","operator":{"type":"string","operation":"equals"},"id":"fc8d7fd0-48b5-4ef7-a729-5bfeead7938b"}],"combinator":"and"},"renameOutput":true,"outputKey":"Se aceptó la conexión"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6d041c24-1d12-4a7b-b493-e9042e397102","leftValue":"={{ $json.body.data.type }}","rightValue":"MEMBER_TO_MEMBER","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Se recibió respuesta"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-656,928],"id":"7be3cd3f-baf9-4587-bd6c-4590530a8810","name":"Respuesta al mensaje"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body[0].body.event }}","rightValue":"error","operator":{"type":"string","operation":"equals"},"id":"c8039a8c-adc3-48bf-826b-56bac073a38b"}],"combinator":"and"},"renameOutput":true,"outputKey":"Envío fallido "},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c5ba1ab8-32f6-4148-87d6-0a7f84d237d3","leftValue":"={{ $json.body[0].body.event }}","rightValue":"ignore","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Blacklisted"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6fdba4bd-c6c1-480f-8160-b89fac948b6a","leftValue":"={{ $json.body.event }}","rightValue":"snooze","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Snooze"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-1024,1504],"id":"f97edd30-118a-4a42-becb-8c7647f51819","name":"Filtro de errores"},{"parameters":{"content":"## Mensajes:\n\nSe trabajan dos casos:\n* Mensaje enviado\n* Mensaje recibido"},"type":"n8n-nodes-base.stickyNote","position":[-1232,752],"typeVersion":1,"id":"8f881845-6c18-4dac-9760-79104b53cc1c","name":"Sticky Note"},{"parameters":{"content":"## Mensajes recibidos\nSe trabaja con dos casos:\n* Solicitud de conexión aceptada\n* Se recibió un mensaje escrito\n","width":400,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-80,816],"typeVersion":1,"id":"a33f87a3-1fdb-41d7-9c92-58998e5a906d","name":"Sticky Note2"},{"parameters":{"content":"## Pausa\n\nDux avisará que se detuvo la operación si registra que se han mandado más mensajes de los recomendados. Pondrá en cola a los que están pendientes y continuará al siguiente día. No requiere intervención.","height":240,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1504,1632],"typeVersion":1,"id":"16b1d1c0-2682-4876-ae50-9112bda1e46f","name":"Sticky Note5"},{"parameters":{"chatId":"1019249029","text":"=Madema: | NOTIFICACIÓN DE PAUSA (SNOOZE)\n\nEl robot de automatización ha detenido su actividad temporalmente para proteger la cuenta.\n\nMotivo: {{ $('Filtro: mensaje o error').item.json.body.data.reason }} \nDuración: {{ $('Filtro: mensaje o error').item.json.body.data.time }} segundos. \n\nEl robot se reanudará automáticamente. No se requiere intervención.\n\n","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-816,1968],"id":"f3a7dbfa-ba95-4091-b618-6a50815d3d18","name":"Notificación de error: Pausa ","webhookId":"90895c11-48d2-4526-8e44-d91a24ce052c","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"chatId":"1019249029","text":"=Madema: Se detectó un error de envío con el perfil:  {{ $json.fields['LINKEDIN URL'] }}\n\nTipo de error: {{ $('Filtro de errores').item.json.body.data.params.reason }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-640,1760],"id":"b75ff108-a0b4-4e9c-a55b-270170368f55","name":"Notificación de error: blacklisted2","webhookId":"90895c11-48d2-4526-8e44-d91a24ce052c","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"chatId":"1019249029","text":"=Madema: Se detectó un error de envío con el perfil:  {{ $json.fields['LINKEDIN URL'] }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-544,1552],"id":"735709e9-9066-4734-8da4-61e0a447dd38","name":"Notificación de error","webhookId":"90895c11-48d2-4526-8e44-d91a24ce052c","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"chatId":"1019249029","text":"=Madema: Se registró una respuesta de:  \nPerfil: {{ $('Webhook').item.json.body.data.from }}\nMensaje: {{ $('Webhook').item.json.body.data.text }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-336,1008],"id":"03231f70-84f1-411f-905d-a36d7b6d5d6a","name":"Notificación de Respuesta1","webhookId":"15e33c01-6b9f-497c-a78c-ddcc286c4659","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{"chatId":"1019249029","text":"=Madema: Se registró una conexión exitosa con:\n{{ $json.body.data.fromFirstName }} {{ $json.body.data.fromLastName }}\n\n{{ $json.body.data.from }}\n","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-336,720],"id":"8cbc5148-0bb1-41e7-a7da-a4b941f8cb5b","name":"Notificación de conexión ","webhookId":"90cfa0c3-550b-4986-8fc4-5d2f6ad0f136","credentials":{"telegramApi":{"id":"ceMBACKuv7bDJmsQ","name":"KiroxOn | Telegram"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1584,1408],"id":"faf8c245-fca5-4060-b8a0-8ad1cdf4afb1","name":"When clicking ‘Execute workflow’"}],"connections":{"Webhook":{"main":[[{"node":"Filtro: mensaje o error","type":"main","index":0}]]},"Filtro: mensaje o error":{"main":[[{"node":"Filtro: tipo de mensaje","type":"main","index":0}],[{"node":"Filtro de errores","type":"main","index":0}]]},"Filtro: tipo de mensaje":{"main":[[],[{"node":"Respuesta al mensaje","type":"main","index":0}]]},"Respuesta al mensaje":{"main":[[{"node":"Notificación de conexión ","type":"main","index":0}],[{"node":"Notificación de Respuesta1","type":"main","index":0}]]},"Filtro de errores":{"main":[[{"node":"Notificación de error","type":"main","index":0}],[{"node":"Notificación de error: blacklisted2","type":"main","index":0}],[]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Filtro: mensaje o error","type":"main","index":0}]]}},"authors":"Admin KiroxOn","name":"Version 425316d0","description":"","workflowPublishHistory":[{"createdAt":"2026-01-12T22:47:47.814Z","id":23,"workflowId":"ll1XktarxI7kKeSN","versionId":"425316d0-e741-41fb-9256-b4a1d93f46a6","event":"activated","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629"}]}}