workflows_BACKUP/TelegramIDCatcher P2--hSZkBnFdHXjZjyzn.json
{"updatedAt":"2026-01-05T23:36:21.929Z","createdAt":"2026-01-05T21:56:44.510Z","id":"hSZkBnFdHXjZjyzn","name":"TelegramIDCatcher P2","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[0,0],"id":"49749e4c-0168-4d54-b0b5-c5a701b0be3d","name":"Telegram Trigger","webhookId":"84310f9e-3830-4ed1-ac18-ab19c335a221","credentials":{"telegramApi":{"id":"hxxRgk761cBzZeVQ","name":"Telegram | IDCatcher"}}},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"=Tu ChatID es: ","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[240,0],"id":"8e33fb8f-1ade-4b2e-a266-0a61079b1742","name":"Send a text message","webhookId":"d9a56e12-21cd-400b-9fc7-77aabc8c478a","credentials":{"telegramApi":{"id":"hxxRgk761cBzZeVQ","name":"Telegram | IDCatcher"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $('Telegram Trigger').item.json.message.chat.id }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[448,0],"id":"4ae16351-8cc8-4687-84a4-2052a8fa59e5","name":"Send a text message1","webhookId":"d9a56e12-21cd-400b-9fc7-77aabc8c478a","credentials":{"telegramApi":{"id":"hxxRgk761cBzZeVQ","name":"Telegram | IDCatcher"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Send a text message":{"main":[[{"node":"Send a text message1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8d765e08-5384-40f8-b606-9ce656286e0f","activeVersionId":"8d765e08-5384-40f8-b606-9ce656286e0f","versionCounter":9,"triggerCount":1,"shared":[{"updatedAt":"2026-01-05T21:56:44.513Z","createdAt":"2026-01-05T21:56:44.513Z","role":"workflow:owner","workflowId":"hSZkBnFdHXjZjyzn","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-05T23:36:10.000Z","createdAt":"2026-01-05T23:36:02.191Z","versionId":"8d765e08-5384-40f8-b606-9ce656286e0f","workflowId":"hSZkBnFdHXjZjyzn","nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[0,0],"id":"49749e4c-0168-4d54-b0b5-c5a701b0be3d","name":"Telegram Trigger","webhookId":"84310f9e-3830-4ed1-ac18-ab19c335a221","credentials":{"telegramApi":{"id":"hxxRgk761cBzZeVQ","name":"Telegram | IDCatcher"}}},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"=Tu ChatID es: ","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[240,0],"id":"8e33fb8f-1ade-4b2e-a266-0a61079b1742","name":"Send a text message","webhookId":"d9a56e12-21cd-400b-9fc7-77aabc8c478a","credentials":{"telegramApi":{"id":"hxxRgk761cBzZeVQ","name":"Telegram | IDCatcher"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $('Telegram Trigger').item.json.message.chat.id }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[448,0],"id":"4ae16351-8cc8-4687-84a4-2052a8fa59e5","name":"Send a text message1","webhookId":"d9a56e12-21cd-400b-9fc7-77aabc8c478a","credentials":{"telegramApi":{"id":"hxxRgk761cBzZeVQ","name":"Telegram | IDCatcher"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Send a text message":{"main":[[{"node":"Send a text message1","type":"main","index":0}]]}},"authors":"Admin KiroxOn","name":"2","description":"","workflowPublishHistory":[{"createdAt":"2026-01-05T23:36:10.502Z","id":3,"workflowId":"hSZkBnFdHXjZjyzn","versionId":"8d765e08-5384-40f8-b606-9ce656286e0f","event":"activated","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629"}]}}