workflows_BACKUP/TEMPLATE postTelegram 2.0 P2--ttaX8x3LxPUcPqaq.json
{"updatedAt":"2026-01-05T21:54:09.000Z","createdAt":"2026-01-05T21:54:09.828Z","id":"ttaX8x3LxPUcPqaq","name":"TEMPLATE postTelegram 2.0 P2","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1760,272],"id":"39153f33-d63d-48a3-afa8-60f52c1ed5aa","name":"Telegram Trigger","webhookId":"d293cc31-621c-4727-9704-ff192856b82b"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.content_type }}","rightValue":"texto","operator":{"type":"string","operation":"equals"},"id":"ee13b917-ba53-463e-b137-cbd5a63714ec"}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3d247774-54bb-4516-b223-2b98394c1f1a","leftValue":"={{ $json.content_type }}","rightValue":"imagen","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagen"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f559351b-4d93-4909-b54b-7e89be8b647d","leftValue":"={{ $json.content_type }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Otro"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-224,224],"id":"03399902-9892-42f9-95f0-4f9d3089dd97","name":"SwitchType"},{"parameters":{"assignments":{"assignments":[{"id":"4aa9fa91-cc77-429c-ba28-5c38bb017809","name":"cliente","value":"KiroxOn","type":"string"},{"id":"0b52e819-3b07-41e4-9895-f7aaaae7af44","name":"botAPI","value":"=8461552820:AAEb2Rj8Ha8Vgydq3ys2sl54-I0tsiFRpTo","type":"string"},{"id":"df477495-b2fb-4d08-b9a1-37aa32440f17","name":"user.chat.id","value":"={{ $json.message.chat.id }}","type":"number"},{"id":"1156f2e9-4af1-4366-a97a-ac9bfba2192a","name":"user.first_name","value":"={{ $json.message.from.first_name }}","type":"string"},{"id":"eac52961-028c-4836-a2fd-c491c34b053c","name":"user.last_name","value":"={{ $json.message.from.last_name }}","type":"string"},{"id":"3a6fb87d-2524-4c91-8ab9-ff220e4044ba","name":"message.timeStamp","value":"={{ $now .toDateTime().toISO()}}","type":"string"},{"id":"a50465c8-ce69-44cb-9972-38f23c0a2369","name":"message.id","value":"={{ $json.message.message_id }}","type":"number"},{"id":"ae277d68-56e7-42f9-899e-31441b489350","name":"message.content_type","value":"={{ $json.message.text ? 'texto':''}}{{ $json.message.photo ? 'imagen': ''}}{{ $json.message.voice ? 'audio': ''}}","type":"string"},{"id":"cb0fe99d-c121-4ccd-89cb-19d683dc084b","name":"=message.contet","value":"={{ $json.message.text || ''}}","type":"string"},{"id":"f97e052d-601d-40c2-845e-744b85eea7b6","name":"message.caption","value":"={{ $json.message.caption || '' }}","type":"string"},{"id":"16a2ac0a-0627-441e-b9c9-1b9f07d33051","name":"message.photo","value":"={{ $json.message.photo[3].file_id || '' }}","type":"string"},{"id":"79e5f22e-151c-479e-ba35-b204c74b30cd","name":"message.audio","value":"={{ $json.message.voice.file_id || '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1536,272],"id":"3e149303-4ed6-4c53-bffb-ad504955ae86","name":"setFields"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[224,336],"id":"33857f34-3fed-4f80-a252-84f010b010a9","name":"Transcribe a recording"},{"parameters":{"content":"## Master Variables\n\nActualizar: \n- botAPI (Telegram)","height":336},"type":"n8n-nodes-base.stickyNote","position":[-1600,96],"typeVersion":1,"id":"6c34c7bd-95e0-42c8-82fe-48c7e7d0bc49","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"5e55f7d9-a0bc-4c6e-b685-fd81197680c6","name":"id","value":"={{ $('JSONparse').item.json.id }}","type":"number"},{"id":"7d0eba27-b611-467b-9a02-6aa9a6a6e2ff","name":"message_contet","value":"=<audio>{{ $json.text }}</audio>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,336],"id":"f68700f5-c949-48c0-8a84-cb09229c7173","name":"audioContent"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Describe la imagen a detalle","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[432,160],"id":"e2f882aa-f62d-4ca2-b5ac-8cd7442c0e86","name":"Analyze image"},{"parameters":{"assignments":{"assignments":[{"id":"896db97e-1906-4597-a756-08e0c61cd025","name":"id","value":"={{ $('JSONparse').item.json.id }}","type":"number"},{"id":"7d0eba27-b611-467b-9a02-6aa9a6a6e2ff","name":"message_contet","value":"=<imagen>{{ $json.content }}</imagen>","type":"string"},{"id":"26491502-b675-4fe8-a2f0-72118f231d04","name":"caption","value":"={{ $node[\"SwitchType\"].json.caption }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[656,160],"id":"e5f28418-fe16-499c-992c-f54960699e08","name":"imagenContent"},{"parameters":{"resource":"file","fileId":"={{ $json.photo }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[0,160],"id":"4b6c9015-85e7-4352-9578-d86d9069f3a7","name":"Get a file","webhookId":"53d55cfe-9ea9-40ca-bd87-e355e97ad43c"},{"parameters":{"resource":"file","fileId":"={{ $json.audio }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[0,336],"id":"dde73709-1b89-4546-bf1b-91fdd3760f61","name":"Get a file1","webhookId":"59602e74-13af-4296-92cc-697b6fee105e"},{"parameters":{"assignments":{"assignments":[{"id":"931ae5b1-aad3-4a1e-b0c1-483c0aaf37cc","name":"id","value":"={{ $('JSONparse').item.json.id }}","type":"string"},{"id":"30a49d66-3ad3-4c27-b758-7544169dc5f9","name":"message_contet","value":"={{ $json.contet }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"420ecfcd-e381-443b-8ada-8bbe88a6a5be","name":"mensajeContent"},{"parameters":{"assignments":{"assignments":[{"id":"ffb8b649-bf16-4957-ad4f-43f2ac7af9de","name":"chatInput","value":"={{ $json.mensaje.join(\" \\n\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1504,160],"id":"f67d8ace-ee97-41b5-8d59-3bfff634fedb","name":"chatInput"},{"parameters":{"promptType":"define","text":"=user name: {{ $('setFields').item.json.user.first_name }}\nuser message: {{ $json.chatInput }}","options":{"systemMessage":"=Eres un Community Manager virtual especializado en marketing digital B2B para Alba Industrial.\n\nTu misión es transformar el mensaje del usuario (texto, audio transcrito o imagen interpretada) en dos captions profesionales y diferenciados para redes sociales, orientados a los siguientes servicios:\n\n- Bombas de agua Grundfos y multimarcas\n- Compresores de aire (Kaishan, Milwaukee, Itsa)\n- Tratamiento de aire comprimido\n- Auditorías de calidad del aire ISO 8573 y energéticas\n- Instalaciones neumáticas y eléctricas\n- Embobinados de motores\n- Tableros de control\n\n💡 Importante:\n- Si el mensaje menciona explícitamente un cliente, producto o servicio, dales prioridad en el contenido.\n- Extrae lo más valioso del mensaje para destacar beneficios, casos de uso o soluciones técnicas.\n- El mensaje puede provenir de un texto escrito, una transcripción de audio o un análisis de imagen. Interprétalo con enfoque estratégico.\n\n🎯 Lineamientos\n\nInstagram Copy (`Caption_Instagram`):\n- Estilo casual, empático y visual.\n- Dos párrafos breves + frase de cierre llamativa.\n- Usa emojis estratégicos para narrar visualmente.\n- Llamado a la acción claro: “Enlace en bio” o “DM”.\n\nLinkedIn Copy (`Caption_LinkedIn`):\n- Profesional, reflexivo y técnico.\n- 3 o más párrafos con estructura clara.\n- Lenguaje confiable y útil para un público B2B.\n- Cierra con CTA: “Contáctanos”, “Solicita consultoría”, etc.\n- Emojis mínimos o nulos.\n\n📌 Estilo y Tono:\n- Autoridad técnica con claridad cercana.\n- No uses tecnicismos innecesarios.\n- Nunca exageres ni inventes datos técnicos.\n\n⚡ Formato de Respuesta Obligatorio:\n\nDevuelve **solo un JSON válido** con exactamente estas dos claves:\n\n{\n  \"Caption_Instagram\": \"Texto optimizado para Instagram\",\n  \"Caption_LinkedIn\": \"Texto optimizado para LinkedIn\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1744,160],"id":"d2118567-626c-4152-a9c6-eb6772b6e6f6","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1744,368],"id":"fe1c1979-8703-46de-8cae-d887d8f44531","name":"OpenAI Chat Model"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('setFields').item.json.user.chat.id }}","contextWindowLength":1},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1840,368],"id":"74eab91c-bd12-4fd0-9118-1e9b10b3af2f","name":"Simple Memory"},{"parameters":{"chatId":"={{ $('setFields').item.json.user.chat.id }}","text":"=✅ Post publicado correctamente","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1632,688],"id":"c67626e7-c4ee-4fc7-8d2c-b83a7f3e9c30","name":"Send a text message","webhookId":"79d913f4-70fb-4ba9-b9e4-aa913509011d"},{"parameters":{"operation":"push","list":"={{ $('setFields').item.json.user.chat.id }}_RSbuffer","messageData":"={{ JSON.stringify($('setFields').item.json.message) }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1328,272],"id":"b4e7ff10-b561-47b2-b071-6e07706da84c","name":"Buffer"},{"parameters":{"operation":"get","propertyName":"mensaje","key":"={{ $('setFields').item.json.user.chat.id }}_RSbuffer","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1120,272],"id":"9d3f51d7-ce71-45af-b667-eb5e518a46c8","name":"getBuffer"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3590894f-019c-43f4-9540-956bc91c9332","leftValue":"={{ JSON.parse($json.mensaje.last()).timeStamp }}","rightValue":"={{ $now.minus(60, 'seconds') }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"seguir"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Esperar"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-912,272],"id":"a6a86511-f818-4f43-b68d-e8b4c300f402","name":"Switch"},{"parameters":{"amount":1,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-704,448],"id":"ae2b3c3d-788b-41cd-9104-328f637cd782","name":"Wait","webhookId":"e6af0f04-2a9c-4937-9712-d59f430228e8"},{"parameters":{"operation":"delete","key":"={{ $('setFields').item.json.user.chat.id }}_RSbuffer"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-704,256],"id":"b9141d34-f96f-4ec3-b726-1f1b9604e410","name":"eliminarBuffer"},{"parameters":{"fieldToSplitOut":"mensaje","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-544,256],"id":"3b29f840-df16-42d7-b6e6-d204085fe071","name":"Split Out"},{"parameters":{"mode":"raw","jsonOutput":"={{ JSON.parse($json.mensaje) }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-384,256],"id":"45279120-0709-4802-b779-7762ee2d3472","name":"JSONparse"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[912,144],"id":"30e6492c-9d7d-4d2e-bfea-ec9d4f72450b","name":"Merge"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"=id"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[1104,160],"id":"f426d22a-b935-4e84-9f53-7af662022cf6","name":"Sort"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"message_contet","renameField":true,"outputFieldName":"mensaje"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1312,160],"id":"1278b69b-4f87-428d-920e-6551a7e70a96","name":"Aggregate"},{"parameters":{"content":"## Actualizar Sistem Prompt","height":448,"width":320},"type":"n8n-nodes-base.stickyNote","position":[1680,64],"typeVersion":1,"id":"4f4cb1ca-81fe-4793-bc67-85bd59f38209","name":"Sticky Note1"},{"parameters":{"jsCode":"const raw = $json[\"output\"];\n\n// Extraer solo el contenido JSON del bloque de texto (remueve ```json y ``` al inicio y final)\nconst jsonText = raw.replace(/```json|```/g, '').trim();\n\n// Parsear el JSON\nconst captions = JSON.parse(jsonText);\n\n// Devolver como variables separadas\nreturn [\n  {\n    json: {\n      caption_Instagram: captions.Caption_Instagram,\n      caption_LinkedIn: captions.Caption_LinkedIn\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2096,160],"id":"f08e21e9-dda7-4de5-99ec-a6a766c044f3","name":"captionParse"},{"parameters":{"accountId":{"__rl":true,"value":"14397","mode":"list","cachedResultName":"kiroxon_test","cachedResultUrl":"https://backend.blotato.com/v2/accounts/14397"},"postContentText":"={{ $json.caption_Instagram }}","postContentMediaUrls":"={{ $json.url }}","options":{}},"type":"@blotato/n8n-nodes-blotato.blotato","typeVersion":2,"position":[1408,688],"id":"3419ff26-b925-49c8-8465-c95cba1ab20a","name":"Instagram"},{"parameters":{"resource":"media","useBinaryData":true},"type":"@blotato/n8n-nodes-blotato.blotato","typeVersion":2,"position":[736,736],"id":"5dd682e3-d8eb-4206-848d-68bd3da66a87","name":"media"},{"parameters":{"assignments":{"assignments":[{"id":"2c06619b-ac14-4155-b1cf-3da9e6021c07","name":"caption_Instagram","value":"={{ $json.caption_Instagram }}","type":"string"},{"id":"8e7cd416-6a15-47c4-90e5-642761b8b426","name":"caption_LinkedIn","value":"={{ $json.caption_LinkedIn }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2304,160],"id":"76d61aae-cfb7-404b-91ff-5f30c3596e56","name":"setCaptions"},{"parameters":{"assignments":{"assignments":[{"id":"a8ea5ff0-e2f2-4647-91d4-dec16df5853f","name":"caption_Instagram","value":"={{ $json.caption_Instagram }}","type":"string"},{"id":"974388ee-ec0c-4e3c-bb0d-e4c1e3548dd5","name":"caption_LinkedIn","value":"={{ $json.caption_LinkedIn }}","type":"string"},{"id":"25a02b86-66e3-4b1f-864d-d1266fdf12ba","name":"url","value":"={{ $node[\"media\"].json.url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,688],"id":"2f265089-42e2-4abe-a88c-a1c5237af8e5","name":"socialVar"},{"parameters":{"mode":"chooseBranch"},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[992,688],"id":"5125ef47-0cfc-47fc-a3c8-ebcecaacbd09","name":"Merge1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"493ff6a9-8e6e-4b98-8b7e-4461d9a8fe96","leftValue":"={{$items.length}}","rightValue":2,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[496,752],"id":"1a265dec-9de6-4411-9be9-4c3200b4ed34","name":"If"}],"connections":{"Telegram Trigger":{"main":[[{"node":"setFields","type":"main","index":0}]]},"setFields":{"main":[[{"node":"Buffer","type":"main","index":0}]]},"SwitchType":{"main":[[{"node":"mensajeContent","type":"main","index":0}],[{"node":"Get a file","type":"main","index":0}],[{"node":"Get a file1","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"audioContent","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"imagenContent","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Analyze image","type":"main","index":0},{"node":"If","type":"main","index":0}]]},"Get a file1":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"imagenContent":{"main":[[{"node":"Merge","type":"main","index":1}]]},"mensajeContent":{"main":[[{"node":"Merge","type":"main","index":0}]]},"audioContent":{"main":[[{"node":"Merge","type":"main","index":2}]]},"chatInput":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"captionParse","type":"main","index":0}]]},"Buffer":{"main":[[{"node":"getBuffer","type":"main","index":0}]]},"getBuffer":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"eliminarBuffer","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"getBuffer","type":"main","index":0}]]},"eliminarBuffer":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"JSONparse","type":"main","index":0}]]},"JSONparse":{"main":[[{"node":"SwitchType","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Sort","type":"main","index":0}]]},"Sort":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"chatInput","type":"main","index":0}]]},"captionParse":{"main":[[{"node":"setCaptions","type":"main","index":0}]]},"Instagram":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"media":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"setCaptions":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"socialVar":{"main":[[{"node":"Instagram","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"socialVar","type":"main","index":0}]]},"If":{"main":[[{"node":"media","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"8d6d8a86-7b1a-4f1c-86de-2d761b450d67","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-01-05T21:54:09.832Z","createdAt":"2026-01-05T21:54:09.832Z","role":"workflow:owner","workflowId":"ttaX8x3LxPUcPqaq","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[{"updatedAt":"2026-01-05T04:42:50.078Z","createdAt":"2026-01-05T04:42:50.078Z","id":"4nBqsBTokTKjObU6","name":"LinkedIn"},{"updatedAt":"2026-01-05T04:42:50.081Z","createdAt":"2026-01-05T04:42:50.081Z","id":"9aodsnIvCjNqstok","name":"Instagram"},{"updatedAt":"2026-01-05T04:42:50.080Z","createdAt":"2026-01-05T04:42:50.080Z","id":"WoZWCKdRNB9sNHTT","name":"Redes Sociales"}],"activeVersion":null}