workflows_BACKUP/Template _ calificación mails P2--1bWSkvNlY2izaPVP.json
{"updatedAt":"2026-01-05T21:51:52.396Z","createdAt":"2026-01-05T21:49:48.484Z","id":"1bWSkvNlY2izaPVP","name":"Template | calificación mails P2","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1],"triggerAtHour":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1504,256],"id":"d2501a4f-1b9c-484d-b783-1af4977527f2","name":"Schedule Trigger"},{"parameters":{"content":"## Validar mails","height":364,"width":964,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-256,128],"id":"bff6ce67-fb47-477b-bd0f-ebe5049de647","name":"Sticky Note"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $json.leadsReach }}","mode":"id"},"filterByFormula":"={ESTATUS} = \"Por Validar\"","options":{},"sort":{"property":[{"field":"ESTATUS","direction":"desc"}]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-640,272],"id":"3c288963-374b-4a30-baef-272a6788a207","name":"Search records","alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"ACTUALIZACIÓN":"={{ $now.toISO() }}","ESTATUS":"=Error","EMAIL":"={{ $json.EMAIL }}"},"matchingColumns":["EMAIL"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"PAIS","value":"PAIS"},{"name":"Mexico","value":"Mexico"},{"name":"","value":""},{"name":"Belgium","value":"Belgium"},{"name":"Panama","value":"Panama"},{"name":"Chile","value":"Chile"},{"name":"Spain","value":"Spain"},{"name":"United States","value":"United States"},{"name":"Argentina","value":"Argentina"},{"name":"Australia","value":"Australia"},{"name":"Colombia","value":"Colombia"},{"name":"Ecuador","value":"Ecuador"},{"name":"France","value":"France"},{"name":"Canada","value":"Canada"},{"name":"Brazil","value":"Brazil"},{"name":"Dominican Republic","value":"Dominican Republic"},{"name":"Netherlands","value":"Netherlands"},{"name":"Portugal","value":"Portugal"},{"name":"Guatemala","value":"Guatemala"},{"name":"Venezuela","value":"Venezuela"},{"name":"Costa Rica","value":"Costa Rica"},{"name":"Germany","value":"Germany"},{"name":"Israel","value":"Israel"},{"name":"Mozambique","value":"Mozambique"},{"name":"Italy","value":"Italy"},{"name":"United Kingdom","value":"United Kingdom"},{"name":"Qatar","value":"Qatar"},{"name":"Oman","value":"Oman"},{"name":"Ireland","value":"Ireland"},{"name":"Peru","value":"Peru"},{"name":"Bulgaria","value":"Bulgaria"},{"name":"Malta","value":"Malta"},{"name":"India","value":"India"},{"name":"Austria","value":"Austria"},{"name":"Sweden","value":"Sweden"},{"name":"Nicaragua","value":"Nicaragua"},{"name":"El Salvador","value":"El Salvador"},{"name":"Zambia","value":"Zambia"},{"name":"Finland","value":"Finland"},{"name":"Antigua and Barbuda","value":"Antigua and Barbuda"}],"readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Por Validar","value":"Por Validar"},{"name":"Mail Valido","value":"Mail Valido"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"Mail no válido (mail)","value":"Mail no válido (mail)"},{"name":"Mail no válido (mailboxlayer)","value":"Mail no válido (mailboxlayer)"},{"name":"Lead Calificado","value":"Lead Calificado"},{"name":"Desuscribir","value":"Desuscribir"}],"readOnly":false,"removed":false},{"id":"Mail 1","displayName":"Mail 1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail 2","displayName":"Mail 2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail 3","displayName":"Mail 3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[368,560],"id":"520631c2-07c1-4a6f-8d49-c729f228b28d","name":"updateError","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"chatId":"1019249029","text":"=⚠️ {{ $node[\"masterVar\"].json.Cliente }}\nHubo un error con el evnío a {{ $json.EMAIL }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[544,560],"id":"ea63e83c-4df1-44d0-9559-b5a88ebe76db","name":"⚠️ Error","webhookId":"bcb50d44-431a-451a-b70a-c0a1c7faa78b"},{"parameters":{"url":"=https://apilayer.net/api/check?access_key=4021272739d142e6325f732e4dc945ca&email={{ $json.EMAIL }}&smtp=1&format=1","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[32,272],"id":"4496a858-9032-43a9-afb7-09675bea33bd","name":"verificarMail","retryOnFail":true,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-192,256],"id":"6bf273b9-4b84-4c38-b779-73358d24069a","name":"Loop Over Items1"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[736,256],"id":"d1d67246-b463-49d0-90be-d8d69bf85271","name":"Wait1","webhookId":"7b303b93-34b4-41e6-8403-2e9aa4ff1592"},{"parameters":{"content":"## ERROR\n","height":204,"width":468,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[240,512],"id":"ed8cf00d-3ee8-4fc8-a79f-b57c1ee7d46f","name":"Sticky Note4"},{"parameters":{"assignments":{"assignments":[{"id":"ef937799-b34d-4e63-b23f-c9f95e9e105a","name":"Cliente","value":"={{ $json.Cliente }}","type":"string"},{"id":"45406798-3793-4e2a-bf02-64749bb8d758","name":"Base","value":"={{ $json.Base }}","type":"string"},{"id":"30c47d20-a1ff-4006-8cf6-b8f241900fbd","name":"leadsReach","value":"={{ $json.leadsReach }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-848,272],"id":"e0ec033f-28a7-4754-8271-d9be590c531f","name":"clienteVar"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"93cefa2b-ef2c-434c-a87a-f11475417001","leftValue":"={{ $json.smtp_check }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"True"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"71c3308d-56a1-4132-ba0a-b7ffa8a76e0a","leftValue":"={{ $json.error.code }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Error"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6d999584-8b3a-4ffd-b6ee-4d875f2864a4","leftValue":"={{ $json.smtp_check }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"False"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[208,240],"id":"0dec04bd-ab20-45f0-bed5-5dd90b86ddc8","name":"Switch"},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.email }}","ESTATUS":"Mail Valido"},"matchingColumns":["EMAIL"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"DESCRIPCIÓN EMPRESA","displayName":"DESCRIPCIÓN EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA LINKEDIN URL","displayName":"EMPRESA LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Por Validar","value":"Por Validar"},{"name":"Mail Valido","value":"Mail Valido"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"},{"name":"Mail no válido","value":"Mail no válido"},{"name":"Mail no válido (mailboxlayer)","value":"Mail no válido (mailboxlayer)"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Lead Calificado","value":"Lead Calificado"},{"name":"Vacaciones","value":"Vacaciones"},{"name":"Erorr","value":"Erorr"}],"readOnly":false,"removed":false},{"id":"Mail 1","displayName":"Mail 1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail 2","displayName":"Mail 2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail 3","displayName":"Mail 3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[480,160],"id":"15cfdf26-e382-4056-bd4b-586c47af9f2f","name":"Mail Valido","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.email }}","ESTATUS":"Mail no válido (mailboxlayer)"},"matchingColumns":["EMAIL"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"PAIS","value":"PAIS"},{"name":"Mexico","value":"Mexico"},{"name":"","value":""},{"name":"Belgium","value":"Belgium"},{"name":"Panama","value":"Panama"},{"name":"Chile","value":"Chile"},{"name":"Spain","value":"Spain"},{"name":"United States","value":"United States"},{"name":"Argentina","value":"Argentina"},{"name":"Australia","value":"Australia"},{"name":"Colombia","value":"Colombia"},{"name":"Ecuador","value":"Ecuador"},{"name":"France","value":"France"},{"name":"Canada","value":"Canada"},{"name":"Brazil","value":"Brazil"},{"name":"Dominican Republic","value":"Dominican Republic"},{"name":"Netherlands","value":"Netherlands"},{"name":"Portugal","value":"Portugal"},{"name":"Guatemala","value":"Guatemala"},{"name":"Venezuela","value":"Venezuela"},{"name":"Costa Rica","value":"Costa Rica"},{"name":"Germany","value":"Germany"},{"name":"Israel","value":"Israel"},{"name":"Mozambique","value":"Mozambique"},{"name":"Italy","value":"Italy"},{"name":"United Kingdom","value":"United Kingdom"},{"name":"Qatar","value":"Qatar"},{"name":"Oman","value":"Oman"},{"name":"Ireland","value":"Ireland"},{"name":"Peru","value":"Peru"},{"name":"Bulgaria","value":"Bulgaria"},{"name":"Malta","value":"Malta"},{"name":"India","value":"India"},{"name":"Austria","value":"Austria"},{"name":"Sweden","value":"Sweden"},{"name":"Nicaragua","value":"Nicaragua"},{"name":"El Salvador","value":"El Salvador"},{"name":"Zambia","value":"Zambia"},{"name":"Finland","value":"Finland"},{"name":"Antigua and Barbuda","value":"Antigua and Barbuda"}],"readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"Mail no válido (mail)","value":"Mail no válido (mail)"},{"name":"Mail no válido (mailboxlayer)","value":"Mail no válido (mailboxlayer)"},{"name":"Lead Calificado","value":"Lead Calificado"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Mail no válido (mail boxlayer)","value":"Mail no válido (mail boxlayer)"}],"readOnly":false,"removed":false},{"id":"Mail 1","displayName":"Mail 1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail 2","displayName":"Mail 2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail 3","displayName":"Mail 3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[480,320],"id":"e553b94c-9d5c-4f49-831b-ded76536295d","name":"Mail no valido","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"=appoIrpJlprLtsUFF","mode":"id"},"table":{"__rl":true,"value":"tblzPRsNmPuFKgaqp","mode":"id"},"filterByFormula":"=","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1280,256],"id":"c2cafeae-c7de-4f12-9205-b44ac36bf6da","name":"KiroxON Clientes","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1056,256],"id":"69b5377c-bc4f-44d3-8e69-569f539a2fec","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-736,32],"id":"c334afdf-1297-4075-8a61-50e2f4151ce5","name":"No Operation, do nothing1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f32755f8-28d5-4bf1-83eb-61c33b1b9819","leftValue":"={{ $items().length === 0 || Object.keys($json).length === 0 }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-432,272],"id":"a52ee93e-52f7-4722-bf81-32c15e0f1bde","name":"If"},{"parameters":{"content":"## Eleccion de Cliente","height":316,"width":852},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1120,176],"id":"3ec163e9-a13b-4ecc-98be-25bb49c7c431","name":"Sticky Note1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,0],"id":"cdd4730f-0202-4557-9cd4-dcde9f579296","name":"No Operation, do nothing","executeOnce":true}],"connections":{"Schedule Trigger":{"main":[[{"node":"KiroxON Clientes","type":"main","index":0}]]},"Search records":{"main":[[{"node":"If","type":"main","index":0}]]},"updateError":{"main":[[{"node":"⚠️ Error","type":"main","index":0}]]},"⚠️ Error":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"verificarMail":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"updateError","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"verificarMail","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"clienteVar":{"main":[[{"node":"Search records","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Mail Valido","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}],[{"node":"Mail no valido","type":"main","index":0}]]},"Mail Valido":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Mail no valido":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"KiroxON Clientes":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"clienteVar","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"935c1671-165b-4ba9-a73c-7728c89c46fa","activeVersionId":null,"versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2026-01-05T21:49:48.491Z","createdAt":"2026-01-05T21:49:48.491Z","role":"workflow:owner","workflowId":"1bWSkvNlY2izaPVP","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[{"updatedAt":"2026-01-05T04:45:25.095Z","createdAt":"2026-01-05T04:45:25.095Z","id":"PdQTwVw5NnLaxkX0","name":"Leads"},{"updatedAt":"2026-01-05T04:44:20.809Z","createdAt":"2026-01-05T04:44:20.809Z","id":"j1mm1WBrRQcYk9z1","name":"Mailing"}],"activeVersion":null}