workflows_BACKUP/Template _ Secuencia Mails 3.2 P3--3Z0Cbxmdxb2CiFhq.json
{"updatedAt":"2026-01-06T00:21:41.000Z","createdAt":"2026-01-06T00:21:41.573Z","id":"3Z0Cbxmdxb2CiFhq","name":"Template | Secuencia Mails 3.2 P3","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1,2,3,4,5],"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3504,752],"id":"47b257a6-ff26-47dc-ac72-49d2d91aa58a","name":"Schedule Trigger"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $json.leadsReach }}","mode":"id"},"filterByFormula":"=AND(\n  {ESTATUS} != \"duplicado\",\n  {ESTATUS} != \"Descalificado\",\n  {ESTATUS} != \"Mail 3\",\n  {ESTATUS} != \"Mail no válido\",\n  {ESTATUS} != \"Desuscribir\",\n  {ESTATUS} != \"Lead Calificado\"\n)","options":{},"sort":{"property":[{"field":"ESTATUS","direction":"desc"}]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-2672,752],"id":"97dbe6a9-0c59-49a4-8cca-a7099cd0f356","name":"Search records"},{"parameters":{"jsCode":"function countBusinessDays(startDate, endDate) {\n  let count = 0;\n  let currentDate = new Date(startDate);\n  while (currentDate <= endDate) {\n    const day = currentDate.getDay();\n    if (day !== 0 && day !== 6) count++;\n    currentDate.setDate(currentDate.getDate() + 1);\n  }\n  return count;\n}\n\nconst hoy = new Date();\n\nreturn items\n  .map(item => {\n    const estatus = (item.json.ESTATUS || '').trim().toLowerCase();\n    const actualizacion = new Date(item.json.ACTUALIZACIÓN);\n    let nextEmail = null;\n\n    if (estatus === 'calificado' || estatus === 'vacaciones') {\n      nextEmail = 'Mail 1';\n    } else if (estatus === 'mail 1' && countBusinessDays(actualizacion, hoy) >= 3) {\n      nextEmail = 'Mail 2';\n    } else if (estatus === 'mail 2' && countBusinessDays(actualizacion, hoy) >= 3) {\n      nextEmail = 'Mail 3';\n    } else if (estatus === 'duplicado') {\n      nextEmail = 'duplicado';\n    }\n\n    if (nextEmail) {\n      return {\n        json: {\n          ...item.json,\n          nextEmail,\n        }\n      };\n    }\n\n    return null;\n  })\n  .filter(item => item !== null);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2448,752],"id":"c76949c3-ceed-4be3-aeec-2f4ff117b8d0","name":"Filtro","executeOnce":false},{"parameters":{"maxItems":"={{ $node[\"masterVar\"].json.envios }}"},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2272,752],"id":"d3170be2-eee9-4020-803f-e28e00b50a20","name":"Limit"},{"parameters":{"assignments":{"assignments":[{"id":"59b03f17-220e-4474-8b91-db49f9b859d5","name":"Cliente","value":"Yessica Matus","type":"string"},{"id":"f769229f-796d-47bf-8fee-77b63f21d09f","name":"airtableBD","value":"appoIrpJlprLtsUFF","type":"string"},{"id":"06f2cbd4-0cbc-42cc-8da4-b6a12967fcf2","name":"Clientes_Variables","value":"tblzPRsNmPuFKgaqp","type":"string"},{"id":"337bf7e0-1109-40d2-85c1-91d4648539c4","name":"envios","value":1,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3296,752],"id":"5c16ed09-3d7e-494b-a54a-024bb88330fc","name":"masterVar"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $json.airtableBD }}","mode":"id"},"table":{"__rl":true,"value":"={{ $json.Clientes_Variables }}","mode":"id"},"filterByFormula":"={{ '{Cliente} = \"' + $json.Cliente + '\"' }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-3088,752],"id":"06c41e98-0b4f-46a3-9db2-aacb2e7de90f","name":"Cliente"},{"parameters":{"assignments":{"assignments":[{"id":"45406798-3793-4e2a-bf02-64749bb8d758","name":"Base","value":"={{ $json.Base }}","type":"string"},{"id":"30c47d20-a1ff-4006-8cf6-b8f241900fbd","name":"leadsReach","value":"={{ $json.leadsReach }}","type":"string"},{"id":"ef937799-b34d-4e63-b23f-c9f95e9e105a","name":"Cliente","value":"={{ $json.Cliente }}","type":"string"},{"id":"be818248-53a5-432e-b08b-537768e04501","name":"Nombre","value":"={{ $json.Nombre }}","type":"string"},{"id":"25688b6c-7bb8-40ed-8112-38f3eb631efb","name":"Cargo","value":"={{ $json.Cargo }}","type":"string"},{"id":"117595c4-770f-48b8-9a5e-0f64b29aed1e","name":"sitioWeb","value":"={{ $json.sitioWeb }}","type":"string"},{"id":"84512513-1084-41fe-898a-2651fce1d223","name":"Whatsapp","value":"={{ $json.Whatsapp }}","type":"string"},{"id":"9706e279-bdf0-458e-8e04-7fe916f12c3e","name":"Brochure","value":"={{ $json.Brochure }}","type":"string"},{"id":"254e7d34-eb70-4df5-be23-482455393221","name":"Servicio","value":"={{ $json.Servicio }}","type":"string"},{"id":"9f40f5fd-3ddf-4215-bf4a-8e09f15bb946","name":"Beneficios","value":"={{ $json.Beneficios }}","type":"string"},{"id":"1a68c967-74fc-4d14-8fe7-df11aeca9e73","name":"propuestaValor","value":"={{ $json.propuestaValor }}","type":"string"},{"id":"cd550533-801a-4a75-95da-bea19fc1c0f8","name":"Backlog","value":"={{ $json.Backlog }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2880,752],"id":"574e9e03-bedd-4f33-b545-2b5516441d9a","name":"clienteVar"},{"parameters":{"promptType":"define","text":"=Prospecto:\nNombre: {{$json.NOMBRE}}\nApellido: {{$json.APELLIDO}}\nAbout: {{ $json.ABOUT }}\nCargo: {{$json.CARGO}}\nEmpresa: {{$json.EMPRESA}}\nDescripción de la empresa: {{ $json['DESCRIPCIÓN EMPRESA'] }}\nIndustria: {{$json.INDUSTRIA}}\nTamaño de empresa: {{$json.TAMAÑO}}\nCiudad: {{$json.CIUDAD}}\nPaís: {{$json.PAIS}}\nTeléfono: {{$json.TELEFONO}}\nEmail actual a enviar: {{$json.nextEmail}}\n\nGenera el objeto JSON, sin comillas invertidas, sin texto adicional:\n{\n  \"ID\": \"{{ $json.id }}\",\n  \"Mail\": \"{{ $json.EMAIL }}\",\n  \"Subject\": \"<máx. 50 caracteres>\",\n  \"Mensaje\": \"<cuerpo HTML>\",\n  \"nextMail\": \"{{ $json.nextEmail }}\"\n}","options":{"systemMessage":"=Eres {{ $node[\"clienteVar\"].json.Nombre }}, {{ $node[\"clienteVar\"].json.Cargo }} de {{ $node[\"clienteVar\"].json.Cliente }}, una empresa especializada en:\n\n{{ $node[\"clienteVar\"].json.Servicio }}\n\nTu objetivo es generar respuestas de prospectos en frío mediante correos B2B escritos en español, que despierten interés y los lleven a responder el correo o escribir por WhatsApp.\n\n🎯 FUNCIONAMIENTO\n\nRecibes un objeto JSON con los datos del prospecto y el campo nextEmail (\"Mail 1\", \"Mail 2\" o \"Mail 3\").\n\nRedacta un correo original según el objetivo indicado por nextEmail, basándote en la sección “OBJETIVOS DEL CORREO”.\n\nPersonaliza el mensaje usando los datos del prospecto:\n\n{{ $json.NOMBRE }}\n{{ $json.CARGO }}\n{{ $json.EMPRESA }}\n{{ $json.INDUSTRIA }}\n{{ $json.ABOUT }}\n{{ $json.TAMAÑO }} \n{{ $json.CIUDAD }}, {{ $json.PAIS }}\n\nMenciona un reto o contexto relevante para su industria si puedes identificarlo\n\nIntegra con naturalidad la información de tu empresa:\n\nPropuesta de valor: {{ $node[\"clienteVar\"].json.propuestaValor }}\nBeneficios: {{ $node[\"clienteVar\"].json.Beneficios }}\n\nUsa como recursos:\n\nBrochure: {{ $node[\"clienteVar\"].json.Brochure }}\nSitio web: {{ $node[\"clienteVar\"].json.sitioWeb }}\nWhatsApp: {{ $node[\"clienteVar\"].json.Whatsapp }}\n\nEl WhatsApp procura también incluirlo en el CTA.\n\nSi alguna variable no está presente, omite esa sección sin dejar huecos ni errores.\n\nPosiciónate como experto, no como vendedor. Refuerza autoridad con validación social (referencias) o resultados cuando estén disponibles.\n\nCierra el correo con la firma, en tres líneas separadas con <br>:\n\n{{ $node[\"clienteVar\"].json.Nombre }}<br>\n{{ $node[\"clienteVar\"].json.Cargo }}<br>\n{{ $node[\"clienteVar\"].json.sitioWeb }}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1216,272],"id":"d02a50ba-3a23-4b27-a5c8-c36ef63cc9c9","name":"AI Agent1","alwaysOutputData":true,"retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"value":"gpt-4","mode":"list","cachedResultName":"gpt-4"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1216,480],"id":"6b9a9b33-6a43-4bb0-b6bb-8334b463e234","name":"OpenAI Chat Model1"},{"parameters":{"jsCode":"// Convierte el string contenido en `output` a objeto JSON\nreturn items.map(item => {\n  const data = JSON.parse(item.json.output);   // ← desempaque\n  return { json: data };                       // ← solo las 4 llaves limpias\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,256],"id":"c10ff99a-f5da-4bf9-9d7c-c69b10786a0c","name":"setVariables"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('VariablesMail').item.json.ID }}","ACTUALIZACIÓN":"={{ $now.toISO() }}","ESTATUS":"={{ $('VariablesMail').item.json.nextMail }}","Mail 1":"=Subject: {{ $('subjectOpt1').item.json.message.content }}\nMensaje: {{ $('mensajeOpt1').item.json.message.content }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"DESCRIPCIÓN EMPRESA","displayName":"DESCRIPCIÓN EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA LINKEDIN URL","displayName":"EMPRESA LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"},{"name":"Mail no válido (mail)","value":"Mail no válido (mail)"},{"name":"Mail no válido (mailboxlayer)","value":"Mail no válido (mailboxlayer)"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Lead Calificado","value":"Lead Calificado"},{"name":"Vacaciones","value":"Vacaciones"}],"readOnly":false,"removed":false},{"id":"Mail 1","displayName":"Mail 1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Mail 2","displayName":"Mail 2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail 3","displayName":"Mail 3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[544,160],"id":"622a667b-4d3e-4807-a330-bc3ef977fbad","name":"updateMail1"},{"parameters":{"chatId":"1019249029","text":"=⚠️ {{ $node[\"masterVar\"].json.Cliente }}\nHubo un error con el evnío a {{ $('Filtro').item.json.EMAIL }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-416,784],"id":"5218a81b-0ccb-4be7-a279-2a64fdf75232","name":"⚠️ Error1","webhookId":"1c543bcf-0551-4f9f-9dff-4fa1967960ff"},{"parameters":{"content":"## Creación y optimización del mensaje\n1. Creación del mail\n2. Optimización del mail","height":476,"width":1972,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2032,144],"id":"8d02ddf8-5ba7-4d6d-a4f0-fd460ec3a209","name":"Sticky Note5"},{"parameters":{"content":"## Envío\n1. Envío del correo\n2. Actualización del Lead\n3. Reporte a Backlog","height":796,"width":1124},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-16,144],"id":"41aeddea-2c66-4ab6-8b7d-6b265fceb091","name":"Sticky Note6"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-224,784],"id":"d8c0b110-de14-474d-a034-97132de1e45f","name":"No Operation, do nothing2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1408,672],"id":"04cd3aaa-addf-4462-99be-b28908cd4265","name":"No Operation, do nothing3"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[944,656],"id":"12bfb0db-deed-489f-adbe-138d42aa0d8f","name":"Wait2","webhookId":"4d2db3c1-58d3-42f6-af67-8f5078615e36"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2032,736],"id":"e8a97a5a-ad60-4df4-a1ae-2044ee144e0f","name":"Loop Over Items2","onError":"continueErrorOutput"},{"parameters":{"content":"## ERROR\n","height":204,"width":612,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-672,736],"id":"684c803e-8318-47f9-83ee-3c7d61d8e98e","name":"Sticky Note7"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5bcddc00-7198-4c13-8ad1-04bcea166080","leftValue":"={{ $json.nextEmail }}","rightValue":"=Mail 1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"a6839421-48b7-423c-b207-a738cae7010a","leftValue":"={{ $json.nextEmail }}","rightValue":"Mail 2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"c4d3094c-1999-4c30-ad30-aa6f00c84fc7","leftValue":"={{ $json.nextEmail }}","rightValue":"Mail 3","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1408,288],"id":"f83bc337-1cdc-48a5-b596-0a86b18912dd","name":"If3"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"={{ $json.Subject }}"},{"content":"=Actúa como un experto en copywriting especializado en email marketing. Tu tarea es optimizar asuntos de correos electrónicos (Subjects) para que sean irresistibles, humanos y altamente efectivos en términos de apertura y conversión.\n\nRecibirás un Subject inicial de un correo. Tu trabajo es transformarlo en una versión mejorada que:\n\nDespierte curiosidad, urgencia o interés real.\n\nSuene natural y humano, como si lo escribiera una persona, no una máquina.\n\nEvite clichés, fórmulas genéricas y tono robótico.\n\nSea breve y directa (idealmente menos de 50 caracteres).\n\nInvite al lector a abrir el correo sin hacer falsas promesas.\n\nEsté pensada para público real, no para tests A/B técnicos.\n\nIMPORTANTE: Devuelve solo el mejor Subject posible, no una lista.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-464,192],"id":"0cb14abc-37e1-4523-8c03-5d5786905e0a","name":"subjectOpt1"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"={{ $('VariablesMail').item.json.Mensaje }}"},{"content":"=Eres un ejecutivo de ventas senior experto en generar interés en prospectos en frío mediante correos B2B en español. Tu habilidad principal es transformar mensajes base en correos altamente efectivos que generen respuestas, reuniones, llamadas o conversaciones por WhatsApp.\n\n🎯 Objetivo:\n\nReescribir un mensaje base para convertirlo en un correo en frío atractivo y profesional, manteniendo claridad, brevedad y una estructura HTML limpia.\n\n📌 Instrucciones clave:\n\nRepresentas a  {{ $node[\"clienteVar\"].json.Nombre }},  {{ $node[\"clienteVar\"].json.Cargo }} de {{ $node[\"clienteVar\"].json.Cliente }}, una empresa especializada en:\n\n{{ $node[\"clienteVar\"].json.Servicio }}\n\n- Usa un tono directo, profesional y humano.\n- El objetivo es lograr una respuesta del lead (reunión, llamada, mensaje o correo).\n- No inventes información adicional. Optimiza lo que recibes.\n- Estructura el correo en HTML plano, sin <html>, <head>, <body>, sin markdown ni bloques de código.\n- No incluyas más de un enlace si no es necesario. Úsalos solo si aumentan el valor del mensaje.\n\n✅ Recursos disponibles:\n\nBrochure: {{ $node[\"clienteVar\"].json.Brochure }}\nSitio web: {{ $node[\"clienteVar\"].json.sitioWeb }}\nWhatsApp: {{ $node[\"clienteVar\"].json.Whatsapp }}\n\n📤 Formato de salida:\n\n- Devuelve solo el cuerpo del correo en HTML plano.\n- No uses etiquetas <html>, <body>, bloques de código ni comillas.\n- La firma debe ser exactamente esta:\n\n{{ $node[\"clienteVar\"].json.Nombre }}<br>\n{{ $node[\"clienteVar\"].json.Cargo }}<br>\n{{ $node[\"clienteVar\"].json.sitioWeb }}","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-352,416],"id":"df4f427d-38a0-4d10-9c7f-0321d86b503b","name":"mensajeOpt1"},{"parameters":{"content":"## VARIABLE\nEditar solo Cliente. Debe estar tal cual en Airtable","height":304,"width":176,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-3328,624],"typeVersion":1,"id":"02a5d6d5-ed86-44f0-93b8-612af3cd5aae","name":"Sticky Note8"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('VariablesMail').item.json.nextMail }}","rightValue":"Mail 1","operator":{"type":"string","operation":"equals"},"id":"6e995ed7-a8c8-4ffa-91ff-c85bd41b23a9"}],"combinator":"and"},"renameOutput":true,"outputKey":"Mail 1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cd628151-0c27-49f8-a6e9-efda908073fa","leftValue":"={{ $('VariablesMail').item.json.nextMail }}","rightValue":"Mail 2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mail 2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1c01b451-d22d-4ad5-ad47-f7fbe97be7ec","leftValue":"={{ $('VariablesMail').item.json.nextMail }}","rightValue":"Mail 3","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mail 3"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[272,384],"id":"ce806cc1-a157-44cc-9644-7b65ade40d5a","name":"Switch"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('VariablesMail').item.json.ID }}","ACTUALIZACIÓN":"={{ $now.toISO() }}","ESTATUS":"={{ $('VariablesMail').item.json.nextMail }}","Mail 2":"=Subject: {{ $('subjectOpt1').item.json.message.content }} Mensaje: {{ $('mensajeOpt1').item.json.message.content }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"PAIS","value":"PAIS"},{"name":"Mexico","value":"Mexico"},{"name":"","value":""},{"name":"Belgium","value":"Belgium"},{"name":"Panama","value":"Panama"},{"name":"Chile","value":"Chile"},{"name":"Spain","value":"Spain"},{"name":"United States","value":"United States"},{"name":"Argentina","value":"Argentina"},{"name":"Australia","value":"Australia"},{"name":"Colombia","value":"Colombia"},{"name":"Ecuador","value":"Ecuador"},{"name":"France","value":"France"},{"name":"Canada","value":"Canada"},{"name":"Brazil","value":"Brazil"},{"name":"Dominican Republic","value":"Dominican Republic"},{"name":"Netherlands","value":"Netherlands"},{"name":"Portugal","value":"Portugal"},{"name":"Guatemala","value":"Guatemala"},{"name":"Venezuela","value":"Venezuela"},{"name":"Costa Rica","value":"Costa Rica"},{"name":"Germany","value":"Germany"},{"name":"Israel","value":"Israel"},{"name":"Mozambique","value":"Mozambique"},{"name":"Italy","value":"Italy"},{"name":"United Kingdom","value":"United Kingdom"},{"name":"Qatar","value":"Qatar"},{"name":"Oman","value":"Oman"},{"name":"Ireland","value":"Ireland"},{"name":"Peru","value":"Peru"},{"name":"Bulgaria","value":"Bulgaria"},{"name":"Malta","value":"Malta"},{"name":"India","value":"India"},{"name":"Austria","value":"Austria"},{"name":"Sweden","value":"Sweden"},{"name":"Nicaragua","value":"Nicaragua"},{"name":"El Salvador","value":"El Salvador"},{"name":"Zambia","value":"Zambia"},{"name":"Finland","value":"Finland"},{"name":"Antigua and Barbuda","value":"Antigua and Barbuda"}],"readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"Mail no válido (mail)","value":"Mail no válido (mail)"},{"name":"Mail no válido (mailboxlayer)","value":"Mail no válido (mailboxlayer)"},{"name":"Lead Calificado","value":"Lead Calificado"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Mail no válido (mail boxlayer)","value":"Mail no válido (mail boxlayer)"}],"readOnly":false,"removed":false},{"id":"Mail 1","displayName":"Mail 1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail 2","displayName":"Mail 2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Mail 3","displayName":"Mail 3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[544,336],"id":"9a113221-63dd-4626-b917-4165173e71fe","name":"updateMail2"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('VariablesMail').item.json.ID }}","ACTUALIZACIÓN":"={{ $now.toISO() }}","ESTATUS":"={{ $('VariablesMail').item.json.nextMail }}","Mail 3":"=Subject: {{ $('subjectOpt1').item.json.message.content }}\nMensaje: {{ $('mensajeOpt1').item.json.message.content }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"PAIS","value":"PAIS"},{"name":"Mexico","value":"Mexico"},{"name":"","value":""},{"name":"Belgium","value":"Belgium"},{"name":"Panama","value":"Panama"},{"name":"Chile","value":"Chile"},{"name":"Spain","value":"Spain"},{"name":"United States","value":"United States"},{"name":"Argentina","value":"Argentina"},{"name":"Australia","value":"Australia"},{"name":"Colombia","value":"Colombia"},{"name":"Ecuador","value":"Ecuador"},{"name":"France","value":"France"},{"name":"Canada","value":"Canada"},{"name":"Brazil","value":"Brazil"},{"name":"Dominican Republic","value":"Dominican Republic"},{"name":"Netherlands","value":"Netherlands"},{"name":"Portugal","value":"Portugal"},{"name":"Guatemala","value":"Guatemala"},{"name":"Venezuela","value":"Venezuela"},{"name":"Costa Rica","value":"Costa Rica"},{"name":"Germany","value":"Germany"},{"name":"Israel","value":"Israel"},{"name":"Mozambique","value":"Mozambique"},{"name":"Italy","value":"Italy"},{"name":"United Kingdom","value":"United Kingdom"},{"name":"Qatar","value":"Qatar"},{"name":"Oman","value":"Oman"},{"name":"Ireland","value":"Ireland"},{"name":"Peru","value":"Peru"},{"name":"Bulgaria","value":"Bulgaria"},{"name":"Malta","value":"Malta"},{"name":"India","value":"India"},{"name":"Austria","value":"Austria"},{"name":"Sweden","value":"Sweden"},{"name":"Nicaragua","value":"Nicaragua"},{"name":"El Salvador","value":"El Salvador"},{"name":"Zambia","value":"Zambia"},{"name":"Finland","value":"Finland"},{"name":"Antigua and Barbuda","value":"Antigua and Barbuda"}],"readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"Mail no válido (mail)","value":"Mail no válido (mail)"},{"name":"Mail no válido (mailboxlayer)","value":"Mail no válido (mailboxlayer)"},{"name":"Lead Calificado","value":"Lead Calificado"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Mail no válido (mail boxlayer)","value":"Mail no válido (mail boxlayer)"}],"readOnly":false,"removed":false},{"id":"Mail 1","displayName":"Mail 1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail 2","displayName":"Mail 2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail 3","displayName":"Mail 3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[544,496],"id":"c5b16b5d-eaf6-41e4-b745-268b42a3e663","name":"updateMail3"},{"parameters":{"toRecipients":"={{ $('VariablesMail').item.json.Mail }}","subject":"={{ $('subjectOpt1').item.json.message.content.replace(/^[\"']|[\"']$/g, '') }}","bodyContent":"={{ $json.message.content }}","additionalFields":{"bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[0,0],"id":"8d9bc898-e283-4d2d-8214-95fbc64dcb7d","name":"Mail 1","webhookId":"a55489a0-8c15-4aa4-921d-1df8add63769","onError":"continueErrorOutput"},{"parameters":{"chatId":"1019249029","text":"=⚠️ {{ $node[\"masterVar\"].json.Cliente }}\nHubo un error con el evnío a {{ $('VariablesMail').item.json.Mail }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[288,656],"id":"0de09af8-1ff9-493c-a02c-76b72b562b64","name":"⚠️ Error3","webhookId":"b85abffd-e853-4828-aaea-521b7755c596"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Backlog }}","mode":"id"},"filterByFormula":"IS_SAME({actualizacion}, TODAY(), 'day')","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1744,672],"id":"419afc31-6cf7-4d39-bc7d-e637e0ba6176","name":"searchBacklog","executeOnce":true,"alwaysOutputData":true},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.leadsReach }}","mode":"id"},"filterByFormula":"=Email = \"{{ $json.EMAIL }}\"","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1792,288],"id":"75629443-b17f-4364-9317-107a60b7d8da","name":"Search record"},{"parameters":{"jsCode":"function countBusinessDays(startDate, endDate) {\n  let count = 0;\n  let currentDate = new Date(startDate);\n  while (currentDate <= endDate) {\n    const day = currentDate.getDay();\n    if (day !== 0 && day !== 6) count++;\n    currentDate.setDate(currentDate.getDate() + 1);\n  }\n  return count;\n}\n\nconst hoy = new Date();\n\nreturn items\n  .map(item => {\n    const estatus = (item.json.ESTATUS || '').trim().toLowerCase();\n    const actualizacion = new Date(item.json.ACTUALIZACIÓN);\n    let nextEmail = null;\n\n    if (estatus === 'calificado') {\n      nextEmail = 'Mail 1';\n    } else if (estatus === 'mail 1' && countBusinessDays(actualizacion, hoy) >= 3) {\n      nextEmail = 'Mail 2';\n    } else if (estatus === 'mail 2' && countBusinessDays(actualizacion, hoy) >= 3) {\n      nextEmail = 'Mail 3';\n    } else if (estatus === 'duplicado') {\n      nextEmail = 'duplicado';\n    }\n\n    if (nextEmail) {\n      return {\n        json: {\n          ...item.json,\n          nextEmail,\n        }\n      };\n    }\n\n    return null;\n  })\n  .filter(item => item !== null);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1600,288],"id":"1ef390c9-5ae0-46cb-a836-a9f89e2d4c7f","name":"nextMail"},{"parameters":{"assignments":{"assignments":[{"id":"eb48d37a-dcfb-4509-927d-5f4fe3d3cee0","name":"ID","value":"={{ $node[\"If3\"].json.id }}","type":"string"},{"id":"288846af-6c83-47bb-9563-3e62ba711162","name":"Subject","value":"={{ $json.Subject }}","type":"string"},{"id":"0af8408c-c8f5-44e7-91ce-d23b59bb9c1d","name":"Mensaje","value":"={{ $json.Mensaje }}","type":"string"},{"id":"bb396285-f8b7-487f-a967-ca16b8d0aabd","name":"Mail","value":"={{ $node[\"If3\"].json.EMAIL }}","type":"string"},{"id":"7830ad22-d847-4b99-85e3-0b2aeb2d06b3","name":"nextMail","value":"={{ $node[\"If3\"].json.nextEmail }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-688,256],"id":"822f9626-2ff0-444a-9572-610d0343ea95","name":"VariablesMail"},{"parameters":{"sendTo":"={{ $('VariablesMail').item.json.Mail }}","subject":"={{ $('subjectOpt1').item.json.message.content.replace(/^[\"']|[\"']$/g, '') }}","message":"={{ $json.message.content }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[16,416],"id":"df3c6d0d-7e45-401f-afe1-63ae0ed3b171","name":"Send a message","webhookId":"29d38836-ee15-48f9-b7f5-a412a44faca9","retryOnFail":true,"maxTries":3,"waitBetweenTries":3000,"onError":"continueErrorOutput"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Backlog }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $('VariablesMail').item.json.ID }}","Mail":"={{ $('VariablesMail').item.json.Mail }}","Estatus":"={{ $('VariablesMail').item.json.nextMail }}","actualizacion":"={{ $now.toISO() }}"},"matchingColumns":["id"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"Fallback","value":"Fallback"}],"readOnly":false,"removed":false},{"id":"actualizacion","displayName":"actualizacion","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[752,496],"id":"291c8023-756b-477f-924c-c0d253f0b606","name":"updateBacklog"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Filtro').item.json.id }}","ACTUALIZACIÓN":"={{ $now.toISO() }}","ESTATUS":"=Error"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"10001+","value":"10001+"},{"name":"1-10","value":"1-10"},{"name":"51-200","value":"51-200"},{"name":"1001-5000","value":"1001-5000"},{"name":"201-500","value":"201-500"},{"name":"5001-10000","value":"5001-10000"},{"name":"11-50","value":"11-50"},{"name":"501-1000","value":"501-1000"}],"readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"}],"readOnly":false,"removed":false},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-624,784],"id":"257fa6e0-1d85-4706-845a-fea08cc55ee7","name":"updateError"},{"parameters":{"content":"## Eleccion 25 correos","height":256,"width":576},"type":"n8n-nodes-base.stickyNote","position":[-2720,656],"typeVersion":1,"id":"5d79fc97-cb05-4b7c-9241-c4dd298d1522","name":"Sticky Note"},{"parameters":{"chatId":"1019249029","text":"={{ $node[\"masterVar\"].json.Cliente }}\n📮 Hoy tuvimos {{ $items(\"searchBacklog\", 0).length }} registro{{ $items(\"searchBacklog\", 0).length === 1 ? \"\" : \"s\" }}.","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1568,672],"id":"a07a6430-1a71-4602-903f-86806c392ad7","name":"✅","webhookId":"2f26b2ff-a7cd-400b-95e7-2da14fc5aa63","executeOnce":true}],"connections":{"Schedule Trigger":{"main":[[{"node":"masterVar","type":"main","index":0}]]},"Search records":{"main":[[{"node":"Filtro","type":"main","index":0}]]},"Filtro":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"masterVar":{"main":[[{"node":"Cliente","type":"main","index":0}]]},"Cliente":{"main":[[{"node":"clienteVar","type":"main","index":0}]]},"clienteVar":{"main":[[{"node":"Search records","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"setVariables","type":"main","index":0}],[{"node":"updateError","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"setVariables":{"main":[[{"node":"VariablesMail","type":"main","index":0}]]},"updateMail1":{"main":[[{"node":"updateBacklog","type":"main","index":0}]]},"⚠️ Error1":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"searchBacklog","type":"main","index":0}],[{"node":"Search record","type":"main","index":0}],[{"node":"updateError","type":"main","index":0}]]},"If3":{"main":[[{"node":"AI Agent1","type":"main","index":0}],[{"node":"Loop Over Items2","type":"main","index":0}]]},"subjectOpt1":{"main":[[{"node":"mensajeOpt1","type":"main","index":0}]]},"mensajeOpt1":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Switch":{"main":[[{"node":"updateMail1","type":"main","index":0}],[{"node":"updateMail2","type":"main","index":0}],[{"node":"updateMail3","type":"main","index":0}]]},"updateMail3":{"main":[[{"node":"updateBacklog","type":"main","index":0}]]},"updateMail2":{"main":[[{"node":"updateBacklog","type":"main","index":0}]]},"⚠️ Error3":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"searchBacklog":{"main":[[{"node":"✅","type":"main","index":0}]]},"Search record":{"main":[[{"node":"nextMail","type":"main","index":0}]]},"nextMail":{"main":[[{"node":"If3","type":"main","index":0}]]},"VariablesMail":{"main":[[{"node":"subjectOpt1","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"⚠️ Error3","type":"main","index":0}]]},"updateBacklog":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"updateError":{"main":[[{"node":"⚠️ Error1","type":"main","index":0}]]},"✅":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"5d952f21-84fb-46a3-8bbf-9c3ce8ffb3a0","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-01-06T00:21:41.578Z","createdAt":"2026-01-06T00:21:41.578Z","role":"workflow:owner","workflowId":"3Z0Cbxmdxb2CiFhq","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[{"updatedAt":"2026-01-05T04:45:25.095Z","createdAt":"2026-01-05T04:45:25.095Z","id":"PdQTwVw5NnLaxkX0","name":"Leads"},{"updatedAt":"2026-01-05T04:44:20.809Z","createdAt":"2026-01-05T04:44:20.809Z","id":"j1mm1WBrRQcYk9z1","name":"Mailing"}],"activeVersion":null}