workflows_BACKUP/Template _ Secuencia Mails 3.1 P3--9zG0zTnxu7XpaPXR.json
{"updatedAt":"2026-01-21T16:31:31.418Z","createdAt":"2026-01-06T00:23:11.159Z","id":"9zG0zTnxu7XpaPXR","name":"Template | Secuencia Mails 3.1 P3","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1,2,3,4,5],"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-4672,880],"id":"4e3f1e95-2f4e-4aeb-86ff-50f2b577a55e","name":"Schedule Trigger"},{"parameters":{"content":"## Clasificar Mails\n1. Filtramos leads duplicados\n2. Filtramos leads descalificados y en Mail 3\n3. Definimos qué mail se les debe mandar\n4. Filtraos mails válidos\n5. Limitamos a 25 envíos","height":492,"width":1812},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3904,688],"id":"1fb5c174-ba9f-4ce1-a809-d3bc38d70454","name":"Sticky Note"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $json.leadsReach }}","mode":"id"},"filterByFormula":"=AND(\n  {ESTATUS} != \"duplicado\",\n  {ESTATUS} != \"Descalificado\",\n  {ESTATUS} != \"Mail 3\",\n  {ESTATUS} != \"Mail no válido\",\n  {ESTATUS} != \"Desuscribir\",\n  {ESTATUS} != \"Lead Calificado\"\n)","options":{},"sort":{"property":[{"field":"=ESTATUS","direction":"desc"}]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-3840,880],"id":"7e5c76d9-4ed7-4cc9-8b31-cb40a9328f09","name":"Search records","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"chatId":"1019249029","text":"={{ $node[\"masterVar\"].json.Cliente }}\n📮 Hoy tuvimos {{ $items(\"searchBacklog\", 0).length }} registro{{ $items(\"searchBacklog\", 0).length === 1 ? \"\" : \"s\" }}.","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1584,672],"id":"d4d1acee-2030-49f0-8008-f34dfab44236","name":"✅","webhookId":"c76de987-df57-4020-9491-bd610a9e687f","executeOnce":true,"credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"promptType":"define","text":"=Prospecto:\nNombre: {{$json.NOMBRE}}\nApellido: {{$json.APELLIDO}}\nAbout: {{ $json.ABOUT }}\nCargo: {{$json.CARGO}}\nEmpresa: {{$json.EMPRESA}}\nDescripción de la empresa: {{ $json['DESCRIPCIÓN EMPRESA'] }}\nIndustria: {{$json.INDUSTRIA}}\nTamaño de empresa: {{$json.TAMAÑO}}\nCiudad: {{$json.CIUDAD}}\nPaís: {{$json.PAIS}}\nTeléfono: {{$json.TELEFONO}}\nEmail actual a enviar: {{$json.nextEmail}}\n\nGenera el objeto JSON, sin comillas invertidas, sin texto adicional:\n{\n  \"ID\": \"{{ $json.id }}\",\n  \"Mail\": \"{{ $json.EMAIL }}\",\n  \"Subject\": \"<máx. 50 caracteres>\",\n  \"Mensaje\": \"<cuerpo HTML>\",\n  \"nextMail\": \"{{ $json.nextEmail }}\"\n}","options":{"systemMessage":"=Eres {{ $node[\"clienteVar\"].json.Nombre }}, {{ $node[\"clienteVar\"].json.Cargo }} de {{ $node[\"clienteVar\"].json.Cliente }}, una empresa especializada en:\n\n{{ $node[\"clienteVar\"].json.Servicio }}\n\nTu objetivo es generar respuestas de prospectos en frío mediante correos B2B escritos en español, que despierten interés y los lleven a responder el correo o escribir por WhatsApp.\n\n🎯 FUNCIONAMIENTO\n\nRecibes un objeto JSON con los datos del prospecto y el campo nextEmail (\"Mail 1\", \"Mail 2\" o \"Mail 3\").\n\nRedacta un correo original según el objetivo indicado por nextEmail, basándote en la sección “OBJETIVOS DEL CORREO”.\n\nPersonaliza el mensaje usando los datos del prospecto:\n\n{{ $json.NOMBRE }}\n{{ $json.CARGO }}\n{{ $json.EMPRESA }}\n{{ $json.INDUSTRIA }}\n{{ $json.ABOUT }}\n{{ $json.TAMAÑO }} \n{{ $json.CIUDAD }}, {{ $json.PAIS }}\n\nMenciona un reto o contexto relevante para su industria si puedes identificarlo\n\nIntegra con naturalidad la información de tu empresa:\n\nPropuesta de valor: {{ $node[\"clienteVar\"].json.propuestaValor }}\nBeneficios: {{ $node[\"clienteVar\"].json.Beneficios }}\n\nUsa como recursos:\n\nBrochure: {{ $node[\"clienteVar\"].json.Brochure }}\nSitio web: {{ $node[\"clienteVar\"].json.sitioWeb }}\nWhatsApp: {{ $node[\"clienteVar\"].json.Whatsapp }}\n\nEl WhatsApp procura también incluirlo en el CTA.\n\nSi alguna variable no está presente, omite esa sección sin dejar huecos ni errores.\n\nPosiciónate como experto, no como vendedor. Refuerza autoridad con validación social (referencias) o resultados cuando estén disponibles.\n\nCierra el correo con la firma, en tres líneas separadas con <br>:\n\n{{ $node[\"clienteVar\"].json.Nombre }}<br>\n{{ $node[\"clienteVar\"].json.Cargo }}<br>\n{{ $node[\"clienteVar\"].json.sitioWeb }}\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1216,272],"id":"f2bc110b-1668-4b43-a105-2e4b66ce180f","name":"AI Agent","alwaysOutputData":true,"retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1216,480],"id":"3e665cf4-4254-4563-967b-9b4c944f680a","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"bJgGA8hIumaSAysH","name":"KiroxON|OpenAi account"}}},{"parameters":{"jsCode":"// Convierte el string contenido en `output` a objeto JSON\nreturn items.map(item => {\n  const data = JSON.parse(item.json.output);   // ← desempaque\n  return { json: data };                       // ← solo las 4 llaves limpias\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,256],"id":"3aed682d-5644-4c91-941d-f096ddf592ec","name":"setVariables1"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Filtro').item.json.id }}","ACTUALIZACIÓN":"={{ $now.toISO() }}","ESTATUS":"=Error"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"10001+","value":"10001+"},{"name":"1-10","value":"1-10"},{"name":"51-200","value":"51-200"},{"name":"1001-5000","value":"1001-5000"},{"name":"201-500","value":"201-500"},{"name":"5001-10000","value":"5001-10000"},{"name":"11-50","value":"11-50"},{"name":"501-1000","value":"501-1000"}],"readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"}],"readOnly":false,"removed":false},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-624,704],"id":"e3c9c3cf-630d-4c18-a90f-054e7ada47ce","name":"updateError","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"chatId":"1019249029","text":"=⚠️ {{ $node[\"masterVar\"].json.Cliente }}\nHubo un error con el evnío a {{ $('Filtro').item.json.EMAIL }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-416,704],"id":"91a809d1-4662-49d3-b965-0b9f62e3d633","name":"⚠️ Error","webhookId":"7366cc8e-53c0-45dc-8764-05fbbe71bd4c","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"content":"## Creación y optimización del mensaje\n1. Creación del mail\n2. Optimización del mail","height":476,"width":1972,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2032,144],"id":"37a35b87-9963-4de2-90c4-f7e43f982adb","name":"Sticky Note1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-224,704],"id":"5bdc34e2-02c0-46c2-8fec-cc9be7e93017","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1408,672],"id":"e9871996-ea26-4e98-91c6-6169402fd17d","name":"No Operation, do nothing1"},{"parameters":{"jsCode":"function countBusinessDays(startDate, endDate) {\n  let count = 0;\n  let currentDate = new Date(startDate);\n  while (currentDate <= endDate) {\n    const day = currentDate.getDay();\n    if (day !== 0 && day !== 6) count++;\n    currentDate.setDate(currentDate.getDate() + 1);\n  }\n  return count;\n}\n\nconst hoy = new Date();\n\nreturn items\n  .map(item => {\n    const estatus = (item.json.ESTATUS || '').trim().toLowerCase();\n    const actualizacion = new Date(item.json.ACTUALIZACIÓN);\n    let nextEmail = null;\n\n    if (estatus === 'calificado' || estatus === 'vacaciones') {\n      nextEmail = 'Mail 1';\n    } else if (estatus === 'mail 1' && countBusinessDays(actualizacion, hoy) >= 3) {\n      nextEmail = 'Mail 2';\n    } else if (estatus === 'mail 2' && countBusinessDays(actualizacion, hoy) >= 3) {\n      nextEmail = 'Mail 3';\n    } else if (estatus === 'duplicado') {\n      nextEmail = 'duplicado';\n    }\n\n    if (nextEmail) {\n      return {\n        json: {\n          ...item.json,\n          nextEmail,\n        }\n      };\n    }\n\n    return null;\n  })\n  .filter(item => item !== null);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3616,880],"id":"124e12af-3ef8-4f2d-afaf-43fafa77fbed","name":"Filtro","executeOnce":false},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2032,688],"id":"48c7bbf4-772b-4435-ad71-a85093d93664","name":"Loop Over Items","onError":"continueErrorOutput"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Backlog }}","mode":"id"},"filterByFormula":"IS_SAME({actualizacion}, TODAY(), 'day')","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1744,672],"id":"8e016d05-afcf-4e7d-b758-51ee853620b5","name":"searchBacklog","executeOnce":true,"credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"url":"=https://apilayer.net/api/check?access_key=4021272739d142e6325f732e4dc945ca&email={{ $json.EMAIL }}&smtp=1&format=1","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3168,896],"id":"a8f8c7e5-b29d-4af5-96f0-c645c61f0903","name":"verificarMail","onError":"continueErrorOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-3392,880],"id":"dedf165d-e059-443d-9b4e-cd5f7325044f","name":"Loop Over Items1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9fd50225-2601-4576-8b5c-0e46f305fe9f","leftValue":"={{ $json.smtp_check }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2944,880],"id":"24e7c37d-b2ad-4873-b6e3-e1634a682ed8","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4a03c363-71e6-4090-be1e-4bfd66a1e7e4","leftValue":"={{ $json.totalValidos }}","rightValue":"={{ $node[\"masterVar\"].json.envios }}","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2496,864],"id":"aee1af01-bbc4-4755-96e2-daeaf333ac70","name":"If1"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2272,1024],"id":"ca16d2ae-de40-4b1b-8ddb-9329889ed627","name":"Wait1","webhookId":"7544ac1d-292e-48fe-82d9-aa71c1a63d2b"},{"parameters":{"jsCode":"// Nombre: Acumular válidos\nconst email = $json[\"email\"];\nlet acumulados = $getWorkflowStaticData('global');\nacumulados.validos = acumulados.validos || [];\n\nif (!acumulados.validos.includes(email)) {\n  acumulados.validos.push(email);\n}\n\nreturn [\n  {\n    json: {\n      totalValidos: acumulados.validos.length,\n      validos: acumulados.validos\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2720,864],"id":"a3e473c4-4116-468a-923c-97b61abc084c","name":"Code"},{"parameters":{"jsCode":"// Obtenemos el array de correos\nconst lista = $json[\"validos\"];\n\n// Retornamos un item por cada correo\nreturn lista.map(email => {\n  return {\n    json: {\n      email\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2272,848],"id":"8d1895d6-9e9a-455e-9a9f-ed5b362aa3e2","name":"mailsValidos"},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL":"={{ $json.email }}","ESTATUS":"Mail no válido (mailboxlayer)"},"matchingColumns":["EMAIL"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"PAIS","value":"PAIS"},{"name":"Mexico","value":"Mexico"},{"name":"","value":""},{"name":"Belgium","value":"Belgium"},{"name":"Panama","value":"Panama"},{"name":"Chile","value":"Chile"},{"name":"Spain","value":"Spain"},{"name":"United States","value":"United States"},{"name":"Argentina","value":"Argentina"},{"name":"Australia","value":"Australia"},{"name":"Colombia","value":"Colombia"},{"name":"Ecuador","value":"Ecuador"},{"name":"France","value":"France"},{"name":"Canada","value":"Canada"},{"name":"Brazil","value":"Brazil"},{"name":"Dominican Republic","value":"Dominican Republic"},{"name":"Netherlands","value":"Netherlands"},{"name":"Portugal","value":"Portugal"},{"name":"Guatemala","value":"Guatemala"},{"name":"Venezuela","value":"Venezuela"},{"name":"Costa Rica","value":"Costa Rica"},{"name":"Germany","value":"Germany"},{"name":"Israel","value":"Israel"},{"name":"Mozambique","value":"Mozambique"},{"name":"Italy","value":"Italy"},{"name":"United Kingdom","value":"United Kingdom"},{"name":"Qatar","value":"Qatar"},{"name":"Oman","value":"Oman"},{"name":"Ireland","value":"Ireland"},{"name":"Peru","value":"Peru"},{"name":"Bulgaria","value":"Bulgaria"},{"name":"Malta","value":"Malta"},{"name":"India","value":"India"},{"name":"Austria","value":"Austria"},{"name":"Sweden","value":"Sweden"},{"name":"Nicaragua","value":"Nicaragua"},{"name":"El Salvador","value":"El Salvador"},{"name":"Zambia","value":"Zambia"},{"name":"Finland","value":"Finland"},{"name":"Antigua and Barbuda","value":"Antigua and Barbuda"}],"readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"Mail no válido (mail)","value":"Mail no válido (mail)"},{"name":"Mail no válido (mailboxlayer)","value":"Mail no válido (mailboxlayer)"},{"name":"Lead Calificado","value":"Lead Calificado"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Mail no válido (mail boxlayer)","value":"Mail no válido (mail boxlayer)"}],"readOnly":false,"removed":false},{"id":"Mail 1","displayName":"Mail 1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail 2","displayName":"Mail 2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail 3","displayName":"Mail 3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-2496,1024],"id":"f13f23bf-087f-441a-a83e-986d12b7c242","name":"Create or update a record","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"maxItems":"={{ $node[\"masterVar\"].json.envios }}"},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2240,1664],"id":"5482fc1b-1d96-41c3-96ae-c8b17a0791cb","name":"Limit"},{"parameters":{"content":"## ERROR\nCon la API de verificaciòn de mails: mailboxlayer","height":284,"width":628,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2720,1568],"id":"9de2b4c2-39b1-4564-8c63-d04e3c05f4e1","name":"Sticky Note3"},{"parameters":{"content":"## ERROR\n","height":204,"width":612,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-672,656],"id":"b9bfe0ed-2e4c-499c-9997-049169c42911","name":"Sticky Note4"},{"parameters":{"jsCode":"function countBusinessDays(startDate, endDate) {\n  let count = 0;\n  let currentDate = new Date(startDate);\n  while (currentDate <= endDate) {\n    const day = currentDate.getDay();\n    if (day !== 0 && day !== 6) count++;\n    currentDate.setDate(currentDate.getDate() + 1);\n  }\n  return count;\n}\n\nconst hoy = new Date();\n\nreturn items\n  .map(item => {\n    const estatus = (item.json.ESTATUS || '').trim().toLowerCase();\n    const actualizacion = new Date(item.json.ACTUALIZACIÓN);\n    let nextEmail = null;\n\n    if (estatus === 'calificado') {\n      nextEmail = 'Mail 1';\n    } else if (estatus === 'mail 1' && countBusinessDays(actualizacion, hoy) >= 3) {\n      nextEmail = 'Mail 2';\n    } else if (estatus === 'mail 2' && countBusinessDays(actualizacion, hoy) >= 3) {\n      nextEmail = 'Mail 3';\n    } else if (estatus === 'duplicado') {\n      nextEmail = 'duplicado';\n    }\n\n    if (nextEmail) {\n      return {\n        json: {\n          ...item.json,\n          nextEmail,\n        }\n      };\n    }\n\n    return null;\n  })\n  .filter(item => item !== null);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1600,288],"id":"41fa069d-50d9-47c3-a807-f9d88d17d174","name":"Code1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5bcddc00-7198-4c13-8ad1-04bcea166080","leftValue":"={{ $json.nextEmail }}","rightValue":"=Mail 1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"a6839421-48b7-423c-b207-a738cae7010a","leftValue":"={{ $json.nextEmail }}","rightValue":"Mail 2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"c4d3094c-1999-4c30-ad30-aa6f00c84fc7","leftValue":"={{ $json.nextEmail }}","rightValue":"Mail 3","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1408,288],"id":"e16bd9f6-ec18-4b81-8a9e-6000928e1b12","name":"If2"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.leadsReach }}","mode":"id"},"filterByFormula":"=AND(\n  {ESTATUS} != \"duplicado\",\n  {ESTATUS} != \"Descalificado\",\n  {ESTATUS} != \"Mail 3\",\n  {ESTATUS} != \"Mail no válido\",\n  {ESTATUS} != \"Desuscribir\",\n  {ESTATUS} != \"Lead Calificado\"\n)","options":{},"sort":{"property":[{"field":"ESTATUS","direction":"desc"}]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-2672,1664],"id":"57d50a3f-23ae-4490-ad98-c275a8c0b83d","name":"Search records2","executeOnce":true,"credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"jsCode":"function countBusinessDays(startDate, endDate) {\n  let count = 0;\n  let currentDate = new Date(startDate);\n  while (currentDate <= endDate) {\n    const day = currentDate.getDay();\n    if (day !== 0 && day !== 6) count++;\n    currentDate.setDate(currentDate.getDate() + 1);\n  }\n  return count;\n}\n\nconst hoy = new Date();\n\nreturn items\n  .map(item => {\n    const estatus = (item.json.ESTATUS || '').trim().toLowerCase();\n    const actualizacion = new Date(item.json.ACTUALIZACIÓN);\n    let nextEmail = null;\n\n    if (estatus === 'calificado' || estatus === 'vacaciones') {\n      nextEmail = 'Mail 1';\n    } else if (estatus === 'mail 1' && countBusinessDays(actualizacion, hoy) >= 3) {\n      nextEmail = 'Mail 2';\n    } else if (estatus === 'mail 2' && countBusinessDays(actualizacion, hoy) >= 3) {\n      nextEmail = 'Mail 3';\n    } else if (estatus === 'duplicado') {\n      nextEmail = 'duplicado';\n    }\n\n    if (nextEmail) {\n      return {\n        json: {\n          ...item.json,\n          nextEmail,\n        }\n      };\n    }\n\n    return null;\n  })\n  .filter(item => item !== null);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2448,1664],"id":"e0d8095b-f11f-4c77-92db-12a15cfc4fe1","name":"Filtro1","executeOnce":false},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2880,1664],"id":"ac85da95-7679-4a9e-a766-e0498829ac10","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":"const emailSet = new Set();\n\nfor (const item of items) {\n  const data = item.json;\n  if (Array.isArray(data.validos)) {\n    for (const email of data.validos) {\n      emailSet.add(email);\n    }\n  }\n}\n\nconst output = Array.from(emailSet).map(email => ({ json: { email } }));\n\nreturn output;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2272,704],"id":"c59e1e6d-f910-45bc-bb7d-915c53770e03","name":"mailsValidos<25"},{"parameters":{"assignments":{"assignments":[{"id":"59b03f17-220e-4474-8b91-db49f9b859d5","name":"Cliente","value":"Yessica Matus","type":"string"},{"id":"f769229f-796d-47bf-8fee-77b63f21d09f","name":"airtableBD","value":"appoIrpJlprLtsUFF","type":"string"},{"id":"06f2cbd4-0cbc-42cc-8da4-b6a12967fcf2","name":"Clientes_Variables","value":"tblzPRsNmPuFKgaqp","type":"string"},{"id":"337bf7e0-1109-40d2-85c1-91d4648539c4","name":"envios","value":25,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4464,880],"id":"c000d7e2-b83d-46d2-9837-562528b96944","name":"masterVar"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $json.airtableBD }}","mode":"id"},"table":{"__rl":true,"value":"={{ $json.Clientes_Variables }}","mode":"id"},"filterByFormula":"={{ '{Cliente} = \"' + $json.Cliente + '\"' }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-4256,880],"id":"dd896254-2b2e-4b3d-86a8-7071ef0e0aff","name":"Cliente","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"assignments":{"assignments":[{"id":"45406798-3793-4e2a-bf02-64749bb8d758","name":"Base","value":"={{ $json.Base }}","type":"string"},{"id":"30c47d20-a1ff-4006-8cf6-b8f241900fbd","name":"leadsReach","value":"={{ $json.leadsReach }}","type":"string"},{"id":"ef937799-b34d-4e63-b23f-c9f95e9e105a","name":"Cliente","value":"={{ $json.Cliente }}","type":"string"},{"id":"be818248-53a5-432e-b08b-537768e04501","name":"Nombre","value":"={{ $json.Nombre }}","type":"string"},{"id":"25688b6c-7bb8-40ed-8112-38f3eb631efb","name":"Cargo","value":"={{ $json.Cargo }}","type":"string"},{"id":"117595c4-770f-48b8-9a5e-0f64b29aed1e","name":"sitioWeb","value":"={{ $json.sitioWeb }}","type":"string"},{"id":"84512513-1084-41fe-898a-2651fce1d223","name":"Whatsapp","value":"={{ $json.Whatsapp }}","type":"string"},{"id":"9706e279-bdf0-458e-8e04-7fe916f12c3e","name":"Brochure","value":"={{ $json.Brochure }}","type":"string"},{"id":"254e7d34-eb70-4df5-be23-482455393221","name":"Servicio","value":"={{ $json.Servicio }}","type":"string"},{"id":"9f40f5fd-3ddf-4215-bf4a-8e09f15bb946","name":"Beneficios","value":"={{ $json.Beneficios }}","type":"string"},{"id":"1a68c967-74fc-4d14-8fe7-df11aeca9e73","name":"propuestaValor","value":"={{ $json.propuestaValor }}","type":"string"},{"id":"cd550533-801a-4a75-95da-bea19fc1c0f8","name":"Backlog","value":"={{ $json.Backlog }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4048,880],"id":"ebe32fb8-6639-4ab5-850d-2243a3e61fe8","name":"clienteVar"},{"parameters":{"chatId":"1019249029","text":"={{ $node[\"masterVar\"].json.Cliente }}\n📮 Hoy tuvimos {{ $items(\"searchBacklog1\", 0).length }} registro{{ $items(\"searchBacklog1\", 0).length === 1 ? \"\" : \"s\" }}.","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1552,1584],"id":"56db9c30-fe85-46b5-9f52-c60a0d14673b","name":"✅1","webhookId":"8e3afab5-ee87-4579-b9e3-1f994c11e7e9","executeOnce":true,"credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"promptType":"define","text":"=Prospecto:\nNombre: {{$json.NOMBRE}}\nApellido: {{$json.APELLIDO}}\nAbout: {{ $json.ABOUT }}\nCargo: {{$json.CARGO}}\nEmpresa: {{$json.EMPRESA}}\nDescripción de la empresa: {{ $json['DESCRIPCIÓN EMPRESA'] }}\nIndustria: {{$json.INDUSTRIA}}\nTamaño de empresa: {{$json.TAMAÑO}}\nCiudad: {{$json.CIUDAD}}\nPaís: {{$json.PAIS}}\nTeléfono: {{$json.TELEFONO}}\nEmail actual a enviar: {{$json.nextEmail}}\n\nGenera el objeto JSON, sin comillas invertidas, sin texto adicional:\n{\n  \"ID\": \"{{ $json.id }}\",\n  \"Mail\": \"{{ $json.EMAIL }}\",\n  \"Subject\": \"<máx. 50 caracteres>\",\n  \"Mensaje\": \"<cuerpo HTML>\",\n  \"nextMail\": \"{{ $json.nextEmail }}\"\n}","options":{"systemMessage":"=Eres {{ $node[\"clienteVar\"].json.Nombre }}, {{ $node[\"clienteVar\"].json.Cargo }} de {{ $node[\"clienteVar\"].json.Cliente }}, una empresa especializada en:\n\n{{ $node[\"clienteVar\"].json.Servicio }}\n\nTu objetivo es generar respuestas de prospectos en frío mediante correos B2B escritos en español, que despierten interés y los lleven a responder el correo o escribir por WhatsApp.\n\n🎯 FUNCIONAMIENTO\n\nRecibes un objeto JSON con los datos del prospecto y el campo nextEmail (\"Mail 1\", \"Mail 2\" o \"Mail 3\").\n\nRedacta un correo original según el objetivo indicado por nextEmail, basándote en la sección “OBJETIVOS DEL CORREO”.\n\nPersonaliza el mensaje usando los datos del prospecto:\n\n{{ $json.NOMBRE }}\n{{ $json.CARGO }}\n{{ $json.EMPRESA }}\n{{ $json.INDUSTRIA }}\n{{ $json.ABOUT }}\n{{ $json.TAMAÑO }} \n{{ $json.CIUDAD }}, {{ $json.PAIS }}\n\nMenciona un reto o contexto relevante para su industria si puedes identificarlo\n\nIntegra con naturalidad la información de tu empresa:\n\nPropuesta de valor: {{ $node[\"clienteVar\"].json.propuestaValor }}\nBeneficios: {{ $node[\"clienteVar\"].json.Beneficios }}\n\nUsa como recursos:\n\nBrochure: {{ $node[\"clienteVar\"].json.Brochure }}\nSitio web: {{ $node[\"clienteVar\"].json.sitioWeb }}\nWhatsApp: {{ $node[\"clienteVar\"].json.Whatsapp }}\n\nEl WhatsApp procura también incluirlo en el CTA.\n\nSi alguna variable no está presente, omite esa sección sin dejar huecos ni errores.\n\nPosiciónate como experto, no como vendedor. Refuerza autoridad con validación social (referencias) o resultados cuando estén disponibles.\n\nCierra el correo con la firma, en tres líneas separadas con <br>:\n\n{{ $node[\"clienteVar\"].json.Nombre }}<br>\n{{ $node[\"clienteVar\"].json.Cargo }}<br>\n{{ $node[\"clienteVar\"].json.sitioWeb }}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1184,1184],"id":"2dc456ba-4fe9-490a-b58b-76dc94623418","name":"AI Agent1","alwaysOutputData":true,"retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1184,1392],"id":"17a5dc1c-5bd4-44cc-8d87-b49e5d624b5f","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"bJgGA8hIumaSAysH","name":"KiroxON|OpenAi account"}}},{"parameters":{"jsCode":"// Convierte el string contenido en `output` a objeto JSON\nreturn items.map(item => {\n  const data = JSON.parse(item.json.output);   // ← desempaque\n  return { json: data };                       // ← solo las 4 llaves limpias\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-848,1168],"id":"37538058-dfcb-476a-bd71-4462a97129c7","name":"setVariables"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('VariablesMail1').item.json.ID }}","ACTUALIZACIÓN":"={{ $now.toISO() }}","ESTATUS":"={{ $('VariablesMail1').item.json.nextMail }}","Mail 1":"=Subject: {{ $('subjectOpt1').item.json.message.content }}\nMensaje: {{ $('mensajeOpt1').item.json.message.content }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"DESCRIPCIÓN EMPRESA","displayName":"DESCRIPCIÓN EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA LINKEDIN URL","displayName":"EMPRESA LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"},{"name":"Mail no válido (mail)","value":"Mail no válido (mail)"},{"name":"Mail no válido (mailboxlayer)","value":"Mail no válido (mailboxlayer)"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Lead Calificado","value":"Lead Calificado"},{"name":"Vacaciones","value":"Vacaciones"}],"readOnly":false,"removed":false},{"id":"Mail 1","displayName":"Mail 1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Mail 2","displayName":"Mail 2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail 3","displayName":"Mail 3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[576,1072],"id":"11809f02-149f-4d78-a1ba-d7d7fadf6d93","name":"updateMail1","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Backlog }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $('VariablesMail1').item.json.ID }}","Mail":"={{ $('VariablesMail1').item.json.Mail }}","Estatus":"={{ $('VariablesMail1').item.json.nextMail }}","actualizacion":"={{ $now.toISO() }}"},"matchingColumns":["id"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"Fallback","value":"Fallback"}],"readOnly":false,"removed":false},{"id":"actualizacion","displayName":"actualizacion","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[784,1408],"id":"f6015250-6348-4d81-8517-d00f8367fd94","name":"updateBacklog1","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Filtro').item.json.id }}","ACTUALIZACIÓN":"={{ $now.toISO() }}","ESTATUS":"=Error"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"10001+","value":"10001+"},{"name":"1-10","value":"1-10"},{"name":"51-200","value":"51-200"},{"name":"1001-5000","value":"1001-5000"},{"name":"201-500","value":"201-500"},{"name":"5001-10000","value":"5001-10000"},{"name":"11-50","value":"11-50"},{"name":"501-1000","value":"501-1000"}],"readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"}],"readOnly":false,"removed":false},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-592,1648],"id":"b228bdc2-247d-4cc2-910c-1c19658d4986","name":"updateError1","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"chatId":"1019249029","text":"=⚠️ MADEMA\nHubo un error con el evnío a {{ $('Filtro').item.json.EMAIL }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-384,1648],"id":"cf6fc9a4-a243-4154-a4d7-9fb4c9c35516","name":"⚠️ Error1","webhookId":"9db221a1-aaf5-4bd9-a412-9bc81fddd4b0","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"content":"## Creación y optimización del mensaje\n1. Creación del mail\n2. Optimización del mail","height":476,"width":1972,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2000,1056],"id":"b43ec1b9-63ca-49e0-876b-551eda3a20d3","name":"Sticky Note5"},{"parameters":{"content":"## Envío\n1. Envío del correo\n2. Actualización del Lead\n3. Reporte a Backlog","height":716,"width":1124},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[16,1056],"id":"20128326-4811-41f4-b955-1d0130a98e75","name":"Sticky Note6"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-192,1648],"id":"aa395e32-31da-4fde-9582-0903c93c671a","name":"No Operation, do nothing2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1376,1584],"id":"a3016542-f31b-4a8b-85d7-d365ae940ef4","name":"No Operation, do nothing3"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[976,1568],"id":"6a61cabd-acb1-4482-9b00-745e9c50e2ef","name":"Wait2","webhookId":"0e8276d7-95c6-4eff-b9e0-5425393073c5"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2000,1600],"id":"5d9993f1-235f-4ffa-ad83-36417ead1e89","name":"Loop Over Items2","onError":"continueErrorOutput"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Backlog }}","mode":"id"},"filterByFormula":"IS_SAME({actualizacion}, TODAY(), 'day')","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1712,1584],"id":"9ce2f05d-69f7-4671-8e70-560966305dab","name":"searchBacklog1","executeOnce":true,"alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"content":"## ERROR\n","height":204,"width":612,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-640,1600],"id":"f050ae4a-aa3e-4421-ab1e-5f9d7836e244","name":"Sticky Note7"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.leadsReach }}","mode":"id"},"filterByFormula":"=Email = \"{{ $json.EMAIL }}\"","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1760,1200],"id":"28a64a4c-798c-4759-a13e-8fc8287af938","name":"Search records3","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"jsCode":"function countBusinessDays(startDate, endDate) {\n  let count = 0;\n  let currentDate = new Date(startDate);\n  while (currentDate <= endDate) {\n    const day = currentDate.getDay();\n    if (day !== 0 && day !== 6) count++;\n    currentDate.setDate(currentDate.getDate() + 1);\n  }\n  return count;\n}\n\nconst hoy = new Date();\n\nreturn items\n  .map(item => {\n    const estatus = (item.json.ESTATUS || '').trim().toLowerCase();\n    const actualizacion = new Date(item.json.ACTUALIZACIÓN);\n    let nextEmail = null;\n\n    if (estatus === 'calificado') {\n      nextEmail = 'Mail 1';\n    } else if (estatus === 'mail 1' && countBusinessDays(actualizacion, hoy) >= 3) {\n      nextEmail = 'Mail 2';\n    } else if (estatus === 'mail 2' && countBusinessDays(actualizacion, hoy) >= 3) {\n      nextEmail = 'Mail 3';\n    } else if (estatus === 'duplicado') {\n      nextEmail = 'duplicado';\n    }\n\n    if (nextEmail) {\n      return {\n        json: {\n          ...item.json,\n          nextEmail,\n        }\n      };\n    }\n\n    return null;\n  })\n  .filter(item => item !== null);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1568,1200],"id":"73c42ea2-d5b6-4a52-ba91-7d574c270ec3","name":"Code2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5bcddc00-7198-4c13-8ad1-04bcea166080","leftValue":"={{ $json.nextEmail }}","rightValue":"=Mail 1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"a6839421-48b7-423c-b207-a738cae7010a","leftValue":"={{ $json.nextEmail }}","rightValue":"Mail 2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"c4d3094c-1999-4c30-ad30-aa6f00c84fc7","leftValue":"={{ $json.nextEmail }}","rightValue":"Mail 3","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1376,1200],"id":"1b9b5c5d-0545-4744-9ccd-9f9da4b1ef4d","name":"If3"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"={{ $json.Subject }}"},{"content":"=Actúa como un experto en copywriting especializado en email marketing. Tu tarea es optimizar asuntos de correos electrónicos (Subjects) para que sean irresistibles, humanos y altamente efectivos en términos de apertura y conversión.\n\nRecibirás un Subject inicial de un correo. Tu trabajo es transformarlo en una versión mejorada que:\n\nDespierte curiosidad, urgencia o interés real.\n\nSuene natural y humano, como si lo escribiera una persona, no una máquina.\n\nEvite clichés, fórmulas genéricas y tono robótico.\n\nSea breve y directa (idealmente menos de 50 caracteres).\n\nInvite al lector a abrir el correo sin hacer falsas promesas.\n\nEsté pensada para público real, no para tests A/B técnicos.\n\nIMPORTANTE: Devuelve solo el mejor Subject posible, no una lista.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-432,1104],"id":"214740fd-a1ef-4b9e-964d-d3621da98e28","name":"subjectOpt1","credentials":{"openAiApi":{"id":"bJgGA8hIumaSAysH","name":"KiroxON|OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"={{ $('VariablesMail1').item.json.Mensaje }}"},{"content":"=Eres un ejecutivo de ventas senior experto en generar interés en prospectos en frío mediante correos B2B en español. Tu habilidad principal es transformar mensajes base en correos altamente efectivos que generen respuestas, reuniones, llamadas o conversaciones por WhatsApp.\n\n🎯 Objetivo:\n\nReescribir un mensaje base para convertirlo en un correo en frío atractivo y profesional, manteniendo claridad, brevedad y una estructura HTML limpia.\n\n📌 Instrucciones clave:\n\nRepresentas a  {{ $node[\"clienteVar\"].json.Nombre }},  {{ $node[\"clienteVar\"].json.Cargo }} de {{ $node[\"clienteVar\"].json.Cliente }}, una empresa especializada en:\n\n{{ $node[\"clienteVar\"].json.Servicio }}\n\n- Usa un tono directo, profesional y humano.\n- El objetivo es lograr una respuesta del lead (reunión, llamada, mensaje o correo).\n- No inventes información adicional. Optimiza lo que recibes.\n- Estructura el correo en HTML plano, sin <html>, <head>, <body>, sin markdown ni bloques de código.\n- No incluyas más de un enlace si no es necesario. Úsalos solo si aumentan el valor del mensaje.\n\n✅ Recursos disponibles:\n\nBrochure: {{ $node[\"clienteVar\"].json.Brochure }}\nSitio web: {{ $node[\"clienteVar\"].json.sitioWeb }}\nWhatsApp: {{ $node[\"clienteVar\"].json.Whatsapp }}\n\n📤 Formato de salida:\n\n- Devuelve solo el cuerpo del correo en HTML plano.\n- No uses etiquetas <html>, <body>, bloques de código ni comillas.\n- La firma debe ser exactamente esta:\n\n{{ $node[\"clienteVar\"].json.Nombre }}<br>\n{{ $node[\"clienteVar\"].json.Cargo }}<br>\n{{ $node[\"clienteVar\"].json.sitioWeb }}","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-320,1328],"id":"2c3bbcec-ff46-4935-bd40-dbfeb1eba147","name":"mensajeOpt1","credentials":{"openAiApi":{"id":"bJgGA8hIumaSAysH","name":"KiroxON|OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"={{ $json.Subject }}"},{"content":"=Actúa como un experto en copywriting especializado en email marketing. Tu tarea es optimizar asuntos de correos electrónicos (Subjects) para que sean irresistibles, humanos y altamente efectivos en términos de apertura y conversión.\n\nRecibirás un Subject inicial de un correo. Tu trabajo es transformarlo en una versión mejorada que:\n\nDespierte curiosidad, urgencia o interés real.\n\nSuene natural y humano, como si lo escribiera una persona, no una máquina.\n\nEvite clichés, fórmulas genéricas y tono robótico.\n\nSea breve y directa (idealmente menos de 50 caracteres).\n\nInvite al lector a abrir el correo sin hacer falsas promesas.\n\nEsté pensada para público real, no para tests A/B técnicos.\n\nIMPORTANTE: Devuelve solo el mejor Subject posible, no una lista.","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-464,208],"id":"9135c8d5-5fc3-486b-bc5f-1c28ef76518d","name":"subjectOpt","credentials":{"openAiApi":{"id":"bJgGA8hIumaSAysH","name":"KiroxON|OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"={{ $('VariablesMail').item.json.Mensaje }}"},{"content":"=Eres un ejecutivo de ventas senior experto en generar interés en prospectos en frío mediante correos B2B en español. Tu habilidad principal es transformar mensajes base en correos altamente efectivos que generen respuestas, reuniones, llamadas o conversaciones por WhatsApp.\n\n🎯 Objetivo:\n\nReescribir un mensaje base para convertirlo en un correo en frío atractivo y profesional, manteniendo claridad, brevedad y una estructura HTML limpia.\n\n📌 Instrucciones clave:\n\nRepresentas a  {{ $node[\"clienteVar\"].json.Nombre }},  {{ $node[\"clienteVar\"].json.Cargo }} de {{ $node[\"clienteVar\"].json.Cliente }}, una empresa especializada en:\n\n{{ $node[\"clienteVar\"].json.Servicio }}\n\n- Usa un tono directo, profesional y humano.\n- El objetivo es lograr una respuesta del lead (reunión, llamada, mensaje o correo).\n- No inventes información adicional. Optimiza lo que recibes.\n- Estructura el correo en HTML plano, sin <html>, <head>, <body>, sin markdown ni bloques de código.\n- No incluyas más de un enlace si no es necesario. Úsalos solo si aumentan el valor del mensaje.\n\n✅ Recursos disponibles:\n\nBrochure: {{ $node[\"clienteVar\"].json.Brochure }}\nSitio web: {{ $node[\"clienteVar\"].json.sitioWeb }}\nWhatsApp: {{ $node[\"clienteVar\"].json.Whatsapp }}\n\n📤 Formato de salida:\n\n- Devuelve solo el cuerpo del correo en HTML plano.\n- No uses etiquetas <html>, <body>, bloques de código ni comillas.\n- La firma debe ser exactamente esta:\n\n{{ $node[\"clienteVar\"].json.Nombre }}<br>\n{{ $node[\"clienteVar\"].json.Cargo }}<br>\n{{ $node[\"clienteVar\"].json.sitioWeb }}","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-368,432],"id":"cc057b36-0a95-48a1-8e9a-f2bafe1b9590","name":"mensajeOpt","credentials":{"openAiApi":{"id":"bJgGA8hIumaSAysH","name":"KiroxON|OpenAi account"}}},{"parameters":{"content":"## VARIABLE\nEditar solo Cliente. Debe estar tal cual en Airtable","height":304,"width":176,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-4496,752],"typeVersion":1,"id":"480b067c-4f5a-4b34-9b99-f535d05c35f9","name":"Sticky Note8"},{"parameters":{"assignments":{"assignments":[{"id":"eb48d37a-dcfb-4509-927d-5f4fe3d3cee0","name":"ID","value":"={{ $node[\"If3\"].json.id }}","type":"string"},{"id":"288846af-6c83-47bb-9563-3e62ba711162","name":"Subject","value":"={{ $json.Subject }}","type":"string"},{"id":"0af8408c-c8f5-44e7-91ce-d23b59bb9c1d","name":"Mensaje","value":"={{ $json.Mensaje }}","type":"string"},{"id":"bb396285-f8b7-487f-a967-ca16b8d0aabd","name":"Mail","value":"={{ $node[\"If3\"].json.EMAIL }}","type":"string"},{"id":"7830ad22-d847-4b99-85e3-0b2aeb2d06b3","name":"nextMail","value":"={{ $node[\"If3\"].json.nextEmail }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-656,1168],"id":"4ea27c2a-ca5c-4fd2-8464-104c089b0a9a","name":"VariablesMail1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('VariablesMail1').item.json.nextMail }}","rightValue":"Mail 1","operator":{"type":"string","operation":"equals"},"id":"6e995ed7-a8c8-4ffa-91ff-c85bd41b23a9"}],"combinator":"and"},"renameOutput":true,"outputKey":"Mail 1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cd628151-0c27-49f8-a6e9-efda908073fa","leftValue":"={{ $('VariablesMail1').item.json.nextMail }}","rightValue":"Mail 2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mail 2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1c01b451-d22d-4ad5-ad47-f7fbe97be7ec","leftValue":"={{ $('VariablesMail1').item.json.nextMail }}","rightValue":"Mail 3","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mail 3"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[304,1296],"id":"95f02d63-c7d3-411f-9dc8-4cb3b828b15e","name":"Switch"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('VariablesMail1').item.json.ID }}","ACTUALIZACIÓN":"={{ $now.toISO() }}","ESTATUS":"={{ $('VariablesMail1').item.json.nextMail }}","Mail 2":"=Subject: {{ $('subjectOpt1').item.json.message.content }} Mensaje: {{ $('mensajeOpt1').item.json.message.content }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"PAIS","value":"PAIS"},{"name":"Mexico","value":"Mexico"},{"name":"","value":""},{"name":"Belgium","value":"Belgium"},{"name":"Panama","value":"Panama"},{"name":"Chile","value":"Chile"},{"name":"Spain","value":"Spain"},{"name":"United States","value":"United States"},{"name":"Argentina","value":"Argentina"},{"name":"Australia","value":"Australia"},{"name":"Colombia","value":"Colombia"},{"name":"Ecuador","value":"Ecuador"},{"name":"France","value":"France"},{"name":"Canada","value":"Canada"},{"name":"Brazil","value":"Brazil"},{"name":"Dominican Republic","value":"Dominican Republic"},{"name":"Netherlands","value":"Netherlands"},{"name":"Portugal","value":"Portugal"},{"name":"Guatemala","value":"Guatemala"},{"name":"Venezuela","value":"Venezuela"},{"name":"Costa Rica","value":"Costa Rica"},{"name":"Germany","value":"Germany"},{"name":"Israel","value":"Israel"},{"name":"Mozambique","value":"Mozambique"},{"name":"Italy","value":"Italy"},{"name":"United Kingdom","value":"United Kingdom"},{"name":"Qatar","value":"Qatar"},{"name":"Oman","value":"Oman"},{"name":"Ireland","value":"Ireland"},{"name":"Peru","value":"Peru"},{"name":"Bulgaria","value":"Bulgaria"},{"name":"Malta","value":"Malta"},{"name":"India","value":"India"},{"name":"Austria","value":"Austria"},{"name":"Sweden","value":"Sweden"},{"name":"Nicaragua","value":"Nicaragua"},{"name":"El Salvador","value":"El Salvador"},{"name":"Zambia","value":"Zambia"},{"name":"Finland","value":"Finland"},{"name":"Antigua and Barbuda","value":"Antigua and Barbuda"}],"readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"Mail no válido (mail)","value":"Mail no válido (mail)"},{"name":"Mail no válido (mailboxlayer)","value":"Mail no válido (mailboxlayer)"},{"name":"Lead Calificado","value":"Lead Calificado"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Mail no válido (mail boxlayer)","value":"Mail no válido (mail boxlayer)"}],"readOnly":false,"removed":false},{"id":"Mail 1","displayName":"Mail 1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail 2","displayName":"Mail 2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Mail 3","displayName":"Mail 3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[576,1248],"id":"608a2adc-ad7c-475b-8592-10eac30507b7","name":"updateMail2","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('VariablesMail1').item.json.ID }}","ACTUALIZACIÓN":"={{ $now.toISO() }}","ESTATUS":"={{ $('VariablesMail1').item.json.nextMail }}","Mail 3":"=Subject: {{ $('subjectOpt1').item.json.message.content }}\nMensaje: {{ $('mensajeOpt1').item.json.message.content }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"PAIS","value":"PAIS"},{"name":"Mexico","value":"Mexico"},{"name":"","value":""},{"name":"Belgium","value":"Belgium"},{"name":"Panama","value":"Panama"},{"name":"Chile","value":"Chile"},{"name":"Spain","value":"Spain"},{"name":"United States","value":"United States"},{"name":"Argentina","value":"Argentina"},{"name":"Australia","value":"Australia"},{"name":"Colombia","value":"Colombia"},{"name":"Ecuador","value":"Ecuador"},{"name":"France","value":"France"},{"name":"Canada","value":"Canada"},{"name":"Brazil","value":"Brazil"},{"name":"Dominican Republic","value":"Dominican Republic"},{"name":"Netherlands","value":"Netherlands"},{"name":"Portugal","value":"Portugal"},{"name":"Guatemala","value":"Guatemala"},{"name":"Venezuela","value":"Venezuela"},{"name":"Costa Rica","value":"Costa Rica"},{"name":"Germany","value":"Germany"},{"name":"Israel","value":"Israel"},{"name":"Mozambique","value":"Mozambique"},{"name":"Italy","value":"Italy"},{"name":"United Kingdom","value":"United Kingdom"},{"name":"Qatar","value":"Qatar"},{"name":"Oman","value":"Oman"},{"name":"Ireland","value":"Ireland"},{"name":"Peru","value":"Peru"},{"name":"Bulgaria","value":"Bulgaria"},{"name":"Malta","value":"Malta"},{"name":"India","value":"India"},{"name":"Austria","value":"Austria"},{"name":"Sweden","value":"Sweden"},{"name":"Nicaragua","value":"Nicaragua"},{"name":"El Salvador","value":"El Salvador"},{"name":"Zambia","value":"Zambia"},{"name":"Finland","value":"Finland"},{"name":"Antigua and Barbuda","value":"Antigua and Barbuda"}],"readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"Mail no válido (mail)","value":"Mail no válido (mail)"},{"name":"Mail no válido (mailboxlayer)","value":"Mail no válido (mailboxlayer)"},{"name":"Lead Calificado","value":"Lead Calificado"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Mail no válido (mail boxlayer)","value":"Mail no válido (mail boxlayer)"}],"readOnly":false,"removed":false},{"id":"Mail 1","displayName":"Mail 1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail 2","displayName":"Mail 2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail 3","displayName":"Mail 3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[576,1408],"id":"fc261772-a1e7-48a2-896b-f14e3ed1a042","name":"updateMail3","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('VariablesMail').item.json.ID }}","ACTUALIZACIÓN":"={{ $now.toISO() }}","ESTATUS":"={{ $('VariablesMail').item.json.nextMail }}","Mail 1":"=Subject: {{ $('subjectOpt').item.json.message.content }}\nMensaje: {{ $('mensajeOpt').item.json.message.content }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"DESCRIPCIÓN EMPRESA","displayName":"DESCRIPCIÓN EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA LINKEDIN URL","displayName":"EMPRESA LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"},{"name":"Mail no válido","value":"Mail no válido"},{"name":"Mail no válido (mailboxlayer)","value":"Mail no válido (mailboxlayer)"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Lead Calificado","value":"Lead Calificado"},{"name":"Vacaciones","value":"Vacaciones"},{"name":"Erorr","value":"Erorr"}],"readOnly":false,"removed":false},{"id":"Mail 1","displayName":"Mail 1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Mail 2","displayName":"Mail 2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail 3","displayName":"Mail 3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[560,160],"id":"7742f024-666e-4166-9f1e-7df22ef7585d","name":"updateMail","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Backlog }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $('VariablesMail').item.json.ID }}","Mail":"={{ $('VariablesMail').item.json.Mail }}","Estatus":"={{ $('VariablesMail').item.json.nextMail }}","actualizacion":"={{ $now.toISO() }}"},"matchingColumns":["id"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Estatus","displayName":"Estatus","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"Fallback","value":"Fallback"}],"readOnly":false,"removed":false},{"id":"actualizacion","displayName":"actualizacion","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[768,496],"id":"48e62d02-9530-4a2a-ba4f-47767a7b79dd","name":"updateBacklog","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"content":"## Envío\n1. Envío del correo\n2. Actualización del Lead\n3. Reporte a Backlog","height":716,"width":1124},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,144],"id":"6fa7db46-6600-437a-804a-c7e63fe517be","name":"Sticky Note9"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[960,656],"id":"20a641ea-e861-46a7-8d75-779a6ed71d1f","name":"Wait","webhookId":"5fb60f55-0a55-4e4c-8c7e-544960fbdf20"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('VariablesMail').item.json.nextMail }}","rightValue":"Mail 1","operator":{"type":"string","operation":"equals"},"id":"6e995ed7-a8c8-4ffa-91ff-c85bd41b23a9"}],"combinator":"and"},"renameOutput":true,"outputKey":"Mail 1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cd628151-0c27-49f8-a6e9-efda908073fa","leftValue":"={{ $('VariablesMail').item.json.nextMail }}","rightValue":"Mail 2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mail 2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1c01b451-d22d-4ad5-ad47-f7fbe97be7ec","leftValue":"={{ $('VariablesMail').item.json.nextMail }}","rightValue":"Mail 3","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mail 3"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[288,400],"id":"b1a4a765-8e74-4691-83de-b3261cdff171","name":"Switch1"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('VariablesMail').item.json.ID }}","ACTUALIZACIÓN":"={{ $now.toISO() }}","ESTATUS":"={{ $('VariablesMail').item.json.nextMail }}","Mail 2":"=Subject: {{ $('subjectOpt').item.json.message.content }} Mensaje: {{ $('mensajeOpt').item.json.message.content }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"DESCRIPCIÓN EMPRESA","displayName":"DESCRIPCIÓN EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA LINKEDIN URL","displayName":"EMPRESA LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"},{"name":"Mail no válido (mail)","value":"Mail no válido (mail)"},{"name":"Mail no válido (mailboxlayer)","value":"Mail no válido (mailboxlayer)"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Lead Calificado","value":"Lead Calificado"},{"name":"Vacaciones","value":"Vacaciones"}],"readOnly":false,"removed":false},{"id":"Mail 1","displayName":"Mail 1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail 2","displayName":"Mail 2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Mail 3","displayName":"Mail 3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[560,336],"id":"90d1ff0c-e0dd-472a-913d-ec0e90776946","name":"updateMail4","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.leadsReach }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('VariablesMail').item.json.ID }}","ACTUALIZACIÓN":"={{ $now.toISO() }}","ESTATUS":"={{ $('VariablesMail').item.json.nextMail }}","Mail 3":"=Subject: {{ $('subjectOpt').item.json.message.content }} Mensaje: {{ $('mensajeOpt').item.json.message.content }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"NOMBRE","displayName":"NOMBRE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"APELLIDO","displayName":"APELLIDO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"HEADLINE","displayName":"HEADLINE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ABOUT","displayName":"ABOUT","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CARGO","displayName":"CARGO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"DESCRIPCIÓN EMPRESA","displayName":"DESCRIPCIÓN EMPRESA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TAMAÑO","displayName":"TAMAÑO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"INDUSTRIA","displayName":"INDUSTRIA","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SITIO","displayName":"SITIO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"CIUDAD","displayName":"CIUDAD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"PAIS","displayName":"PAIS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AÑOS EN EL PUESTO","displayName":"AÑOS EN EL PUESTO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"TELEFONO","displayName":"TELEFONO","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"LINKEDIN URL","displayName":"LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"EMPRESA LINKEDIN URL","displayName":"EMPRESA LINKEDIN URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"SCORE","displayName":"SCORE","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ESTATUS","displayName":"ESTATUS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Descalificado","value":"Descalificado"},{"name":"Calificado","value":"Calificado"},{"name":"Mail 1","value":"Mail 1"},{"name":"Mail 2","value":"Mail 2"},{"name":"Mail 3","value":"Mail 3"},{"name":"duplicado","value":"duplicado"},{"name":"Mail no válido (mail)","value":"Mail no válido (mail)"},{"name":"Mail no válido (mailboxlayer)","value":"Mail no válido (mailboxlayer)"},{"name":"Desuscribir","value":"Desuscribir"},{"name":"Lead Calificado","value":"Lead Calificado"},{"name":"Vacaciones","value":"Vacaciones"}],"readOnly":false,"removed":false},{"id":"Mail 1","displayName":"Mail 1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail 2","displayName":"Mail 2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mail 3","displayName":"Mail 3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ACTUALIZACIÓN","displayName":"ACTUALIZACIÓN","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[560,496],"id":"28b4eb8c-eb08-4125-af1d-4f284e81a0b2","name":"updateMail5","credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.Base }}","mode":"id"},"table":{"__rl":true,"value":"={{ $node[\"clienteVar\"].json.leadsReach }}","mode":"id"},"filterByFormula":"=LOWER({EMAIL}) = LOWER(\"{{$json.email}}\")","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1792,288],"id":"22aa5e64-0d08-4272-bc69-a0999b9dd126","name":"Search records1","alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"Iu219lvCuCCI2F3n","name":"Madema"}}},{"parameters":{"toRecipients":"={{ $('VariablesMail').item.json.Mail }}","subject":"={{ $('subjectOpt').item.json.message.content.replace(/^[\"']|[\"']$/g, '') }}","bodyContent":"={{ $json.message.content }}","additionalFields":{"bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[0,0],"id":"2c088fec-a13c-4463-a79b-61f12a56f688","name":"Mail ","webhookId":"1c870e9a-e97a-4133-b04b-70d87499f604","onError":"continueErrorOutput"},{"parameters":{"toRecipients":"={{ $('VariablesMail1').item.json.Mail }}","subject":"={{ $('subjectOpt1').item.json.message.content.replace(/^[\"']|[\"']$/g, '') }}","bodyContent":"={{ $json.message.content }}","additionalFields":{"bodyContentType":"html"}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[32,912],"id":"ffedf0b6-11d8-4b8a-a04b-c452f81107e5","name":"Mail 1","webhookId":"7508b023-ef0a-4571-8c23-b1147b463d19","onError":"continueErrorOutput"},{"parameters":{"sendTo":"={{ $('VariablesMail').item.json.Mail }}","subject":"={{ $('subjectOpt').item.json.message.content.replace(/^[\"']|[\"']$/g, '') }}","message":"={{ $json.message.content }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[64,432],"id":"dd937515-fd01-48d0-96dd-697f2cdd3ed8","name":"Send a message","webhookId":"0416fb9b-4e36-4c96-b444-d6eb098e7db4","retryOnFail":true,"maxTries":3,"waitBetweenTries":3000,"onError":"continueErrorOutput"},{"parameters":{"sendTo":"={{ $('VariablesMail1').item.json.Mail }}","subject":"={{ $('subjectOpt1').item.json.message.content.replace(/^[\"']|[\"']$/g, '') }}","message":"={{ $json.message.content }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[48,1328],"id":"a1b909eb-2b5f-454e-9d1d-e0a0e17dcd9e","name":"Send a message1","webhookId":"68acedd4-23a2-48bd-aec4-700e75f88f4a","retryOnFail":true,"maxTries":3,"waitBetweenTries":3000,"onError":"continueErrorOutput"},{"parameters":{"chatId":"1019249029","text":"=⚠️ {{ $node[\"masterVar\"].json.Cliente }}\nHubo un error con el evnío a {{ $('VariablesMail').item.json.Mail }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[288,656],"id":"289c4c5f-6e11-4991-8b66-e7f1196cf632","name":"⚠️ Error2","webhookId":"6213beb4-c3db-474a-b057-8374143c7d67","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"chatId":"1019249029","text":"=⚠️ {{ $node[\"masterVar\"].json.Cliente }}\nHubo un error con el evnío a {{ $('VariablesMail1').item.json.Mail }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[304,1568],"id":"dfcb5cb1-3ab6-474a-9a61-e83c359d2d30","name":"⚠️ Error3","webhookId":"da09696a-9059-40ad-a18c-fd21c4fa1289","credentials":{"telegramApi":{"id":"vmMO3DVJcDOBOf9s","name":"Telegram account"}}},{"parameters":{"assignments":{"assignments":[{"id":"eb48d37a-dcfb-4509-927d-5f4fe3d3cee0","name":"ID","value":"={{ $node[\"If2\"].json.id }}","type":"string"},{"id":"288846af-6c83-47bb-9563-3e62ba711162","name":"Subject","value":"={{ $json.Subject }}","type":"string"},{"id":"0af8408c-c8f5-44e7-91ce-d23b59bb9c1d","name":"Mensaje","value":"={{ $json.Mensaje }}","type":"string"},{"id":"bb396285-f8b7-487f-a967-ca16b8d0aabd","name":"Mail","value":"={{ $node[\"If2\"].json.EMAIL }}","type":"string"},{"id":"7830ad22-d847-4b99-85e3-0b2aeb2d06b3","name":"nextMail","value":"={{ $node[\"If2\"].json.nextEmail }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-688,256],"id":"85fd8c72-ffa9-4c85-bfa4-dea8f7a004ef","name":"VariablesMail"}],"connections":{"Schedule Trigger":{"main":[[{"node":"masterVar","type":"main","index":0}]]},"Search records":{"main":[[{"node":"Filtro","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"setVariables1","type":"main","index":0}],[{"node":"updateError","type":"main","index":0}]]},"setVariables1":{"main":[[{"node":"VariablesMail","type":"main","index":0}]]},"updateError":{"main":[[{"node":"⚠️ Error","type":"main","index":0}]]},"⚠️ Error":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"✅":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Filtro":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"searchBacklog","type":"main","index":0}],[{"node":"Search records1","type":"main","index":0}],[{"node":"updateError","type":"main","index":0}]]},"searchBacklog":{"main":[[{"node":"✅","type":"main","index":0}]]},"verificarMail":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"Search records2","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"mailsValidos<25","type":"main","index":0}],[{"node":"verificarMail","type":"main","index":0}]]},"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Create or update a record","type":"main","index":0}]]},"If1":{"main":[[{"node":"mailsValidos","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"mailsValidos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Create or update a record":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Code1":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Search records2":{"main":[[{"node":"Filtro1","type":"main","index":0}]]},"Filtro1":{"main":[[{"node":"Limit","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Search records2","type":"main","index":0}]]},"mailsValidos<25":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"masterVar":{"main":[[{"node":"Cliente","type":"main","index":0}]]},"Cliente":{"main":[[{"node":"clienteVar","type":"main","index":0}]]},"clienteVar":{"main":[[{"node":"Search records","type":"main","index":0}]]},"✅1":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"setVariables","type":"main","index":0}],[{"node":"updateError1","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"setVariables":{"main":[[{"node":"VariablesMail1","type":"main","index":0}]]},"updateMail1":{"main":[[{"node":"updateBacklog1","type":"main","index":0}]]},"updateBacklog1":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"updateError1":{"main":[[{"node":"⚠️ Error1","type":"main","index":0}]]},"⚠️ Error1":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"searchBacklog1","type":"main","index":0}],[{"node":"Search records3","type":"main","index":0}],[{"node":"updateError1","type":"main","index":0}]]},"searchBacklog1":{"main":[[{"node":"✅1","type":"main","index":0}]]},"Search records3":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[{"node":"AI Agent1","type":"main","index":0}],[{"node":"Loop Over Items2","type":"main","index":0}]]},"subjectOpt1":{"main":[[{"node":"mensajeOpt1","type":"main","index":0}]]},"mensajeOpt1":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"subjectOpt":{"main":[[{"node":"mensajeOpt","type":"main","index":0}]]},"mensajeOpt":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"VariablesMail1":{"main":[[{"node":"subjectOpt1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"updateMail1","type":"main","index":0}],[{"node":"updateMail2","type":"main","index":0}],[{"node":"updateMail3","type":"main","index":0}]]},"updateMail3":{"main":[[{"node":"updateBacklog1","type":"main","index":0}]]},"updateMail2":{"main":[[{"node":"updateBacklog1","type":"main","index":0}]]},"updateMail":{"main":[[{"node":"updateBacklog","type":"main","index":0}]]},"updateBacklog":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"updateMail","type":"main","index":0}],[{"node":"updateMail4","type":"main","index":0}],[{"node":"updateMail5","type":"main","index":0}]]},"updateMail4":{"main":[[{"node":"updateBacklog","type":"main","index":0}]]},"updateMail5":{"main":[[{"node":"updateBacklog","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Search records1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Switch1","type":"main","index":0}],[{"node":"⚠️ Error2","type":"main","index":0}]]},"Send a message1":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"⚠️ Error3","type":"main","index":0}]]},"⚠️ Error2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"⚠️ Error3":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"VariablesMail":{"main":[[{"node":"subjectOpt","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6abd4c4a-f47e-471e-8aba-71403c832ece","activeVersionId":null,"versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2026-01-06T00:23:11.163Z","createdAt":"2026-01-06T00:23:11.163Z","role":"workflow:owner","workflowId":"9zG0zTnxu7XpaPXR","projectId":"ZrZEhploCo3SzGcR","project":{"updatedAt":"2026-01-05T04:06:43.891Z","createdAt":"2026-01-05T04:04:25.716Z","id":"ZrZEhploCo3SzGcR","name":"Admin KiroxOn <admin@kiroxon.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2026-01-05T04:04:25.716Z","createdAt":"2026-01-05T04:04:25.716Z","userId":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","projectId":"ZrZEhploCo3SzGcR","user":{"updatedAt":"2026-02-09T11:30:00.000Z","createdAt":"2026-01-05T04:04:24.404Z","id":"81f20b86-05fa-4c10-a4c5-1d9ee6757629","email":"admin@kiroxon.com","firstName":"Admin","lastName":"KiroxOn","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-05T04:07:15.797Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"saas","role":"customer-support","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"YL3tGlIxXevhhOL3","userActivatedAt":1767649210078,"npsSurvey":{"responded":true,"lastShownAt":1767990714821}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[{"updatedAt":"2026-01-05T04:45:25.095Z","createdAt":"2026-01-05T04:45:25.095Z","id":"PdQTwVw5NnLaxkX0","name":"Leads"},{"updatedAt":"2026-01-05T04:44:20.809Z","createdAt":"2026-01-05T04:44:20.809Z","id":"j1mm1WBrRQcYk9z1","name":"Mailing"}],"activeVersion":null}